<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Country Code Dictionary Supplement</key>
	<dict>
		<key>Us</key>
		<string>US</string>
		<key>Usa</key>
		<string>US</string>
		<key>Uk</key>
		<string>GB</string>
		<key>Britain</key>
		<string>GB</string>
		<key>England</key>
		<string>GB</string>
		<key>Scotland</key>
		<string>GB</string>
		<key>Wales</key>
		<string>GB</string>
		<key>Northern Ireland</key>
		<string>GB</string>
		<key>Eire</key>
		<string>IE</string>
		<key>Slovak Republic</key>
		<string>SK</string>
		<key>Czech Republic</key>
		<string>CZ</string>
		<key>Saint Maarten</key>
		<string>MF</string>
		<key>Malvinas</key>
		<string>FK</string>
		<key>Ivory Coast</key>
		<string>CI</string>
		<key>Palestine</key>
		<string>PS</string>
		<key>Uae</key>
		<string>AE</string>
		<key>Burma</key>
		<string>MM</string>
		<key>Viet Nam</key>
		<string>VN</string>
		<key>East Timor</key>
		<string>TL</string>
		<key>Russian Federation</key>
		<string>RU</string>
		<key>中华人民共和国</key>
		<string>CN</string>
		<key>中国</key>
		<string>CN</string>
		<key>China</key>
		<string>CN</string>
		<key>China Mainland</key>
		<string>CN</string>
	</dict>
</dict>
</plist>
