<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classificationOfflinePrecision</key>
	<real>0.7170636116973168</real>
	<key>classificationOfflineRecall</key>
	<real>0.20029052019957475</real>
	<key>classificationThreshold</key>
	<real>0.6797642707824707</real>
</dict>
</plist>
