<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildVersion</key>
	<string>836</string>
	<key>CFBundleShortVersionString</key>
	<string>6.0</string>
	<key>CFBundleVersion</key>
	<string>329.1</string>
	<key>ProjectName</key>
	<string>SuggestionsUI</string>
	<key>SourceVersion</key>
	<string>329001000000000</string>
</dict>
</plist>
