<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>DEFAULT-OPTIONS</key>
    <dict>
        <key>TTL</key>
        <dict>
            <key>Default</key>
            <integer>7</integer>
        </dict>
    </dict>
    <key>Default</key>
    <dict>
    </dict>
    <key>Default_Oversize</key>
    <dict>
        <key>Enable-Oversize-Messages</key>
        <true/>
    </dict>
    <key>CloudClient</key>
    <dict>
    </dict>
    <key>CloudClient_Oversize</key>
    <dict>
        <key>Enable-Oversize-Messages</key>
        <true/>
    </dict>
    <key>Delegation</key>
    <dict>
    </dict>
    <key>Delegation_Oversize</key>
    <dict>
        <key>Enable-Oversize-Messages</key>
        <true/>
    </dict>
    <key>AgeVerification</key>
    <dict>
    </dict>
    <key>AgeVerification_Oversize</key>
    <dict>
        <key>Enable-Oversize-Messages</key>
        <true/>
    </dict>
    <key>ArtworkInfo</key>
    <dict>
    </dict>
    <key>ArtworkInfo_Oversize</key>
    <dict>
        <key>Enable-Oversize-Messages</key>
        <true/>
    </dict>
    <key>Subscription</key>
    <dict>
    </dict>
    <key>Subscription_Oversize</key>
    <dict>
        <key>Enable-Oversize-Messages</key>
        <true/>
    </dict>
    <key>StoreArtworkInfo</key>
    <dict>
    </dict>
    <key>StoreArtworkInfo_Oversize</key>
    <dict>
        <key>Enable-Oversize-Messages</key>
        <true/>
    </dict>
    <key>AccountNotifications</key>
    <dict>
    </dict>
    <key>AccountNotifications_Oversize</key>
    <dict>
        <key>Enable-Oversize-Messages</key>
        <true/>
    </dict>
    <key>LiveLink</key>
    <dict>
    </dict>
    <key>LiveLink_Oversize</key>
    <dict>
        <key>Enable-Oversize-Messages</key>
        <true/>
    </dict>
    <key>LiveLinkMedium</key>
    <dict>
    </dict>
    <key>LiveLinkMedium_Oversize</key>
    <dict>
        <key>Enable-Oversize-Messages</key>
        <true/>
    </dict>
    <key>QuickRelay</key>
    <dict>
    </dict>
    <key>QuickRelay_Oversize</key>
    <dict>
        <key>Enable-Oversize-Messages</key>
        <true/>
    </dict>
    <key>Analytics</key>
    <dict>
    </dict>
    <key>Analytics_Oversize</key>
    <dict>
        <key>Enable-Oversize-Messages</key>
        <true/>
    </dict>
</dict>
</plist>