<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>20A241128</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>NetworkServiceProxy</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.NetworkServiceProxyFramework</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>NetworkServiceProxy</string>
	<key>CFBundlePackageType</key>
	<string>FMWK</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CLSystemService</key>
	<true/>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>13E6049a</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>12.3</string>
	<key>DTSDKBuild</key>
	<string>21E216a</string>
	<key>DTSDKName</key>
	<string>macosx12.3.internal</string>
	<key>DTXcode</key>
	<string>1330</string>
	<key>DTXcodeBuild</key>
	<string>13E6049a</string>
	<key>LSMinimumSystemVersion</key>
	<string>12.3</string>
	<key>NSPDefaults</key>
	<dict>
		<key>global</key>
		<dict>
			<key>GeohashSharingEnabled</key>
			<integer>1</integer>
			<key>PrivacyProxyConfigurationServerEnabled</key>
			<integer>1</integer>
			<key>PrivacyProxyConfigurationServerHost</key>
			<string>mask-api.icloud.com</string>
			<key>PrivacyProxyConfigurationServerPath</key>
			<string>v1_6/fetchConfigFile</string>
			<key>UserTier</key>
			<string>FREE</string>
			<key>enabled</key>
			<true/>
			<key>enabled-macOS</key>
			<true/>
			<key>enabled-tvOS</key>
			<false/>
			<key>enabled-watchOS</key>
			<false/>
			<key>persist-metrics</key>
			<false/>
		</dict>
		<key>version</key>
		<integer>1</integer>
	</dict>
</dict>
</plist>
