<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>Metal Framework Events</string>
		<key>Children</key>
		<array>
			<dict>
				<key>Name</key>
				<string>Shader Compile Request</string>
				<key>Type</key>
				<string>Interval</string>
				<key>KTraceCodeBegin</key>
				<string>0x85300000</string>
				<key>KTraceCodeEnd</key>
				<string>0x85300004</string>
				<key>EventsMatchedBy</key>
				<array>
					<string>Process</string>
					<string>Arg2</string>
				</array>
			</dict>
			<dict>
				<key>Name</key>
				<string>Parallel render child spawn</string>
				<key>Type</key>
				<string>Impulse</string>
				<key>KTraceCode</key>
				<string>0x85300008</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>User CB Scheduled Event Handlers</string>
				<key>Type</key>
				<string>Interval</string>
				<key>KTraceCodeBegin</key>
				<string>0x8530000D</string>
				<key>KTraceCodeEnd</key>
				<string>0x8530000E</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>User CB Completed Event Handlers</string>
				<key>Type</key>
				<string>Interval</string>
				<key>KTraceCodeBegin</key>
				<string>0x85300011</string>
				<key>KTraceCodeEnd</key>
				<string>0x85300012</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>Push Debug Group on Command Buffer</string>
				<key>Type</key>
				<string>Impulse</string>
				<key>KTraceCode</key>
				<string>0x85300014</string>
			</dict>
			<dict>
				<key>Name</key>
				<string>Pop Debug Group on Command Buffer</string>
				<key>Type</key>
				<string>Impulse</string>
				<key>KTraceCode</key>
				<string>0x85300018</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
