<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allowClassroomAirPlay</key>
	<dict>
		<key>ask</key>
		<true/>
		<key>value</key>
		<true/>
	</dict>
	<key>allowClassroomAppLock</key>
	<dict>
		<key>ask</key>
		<true/>
		<key>value</key>
		<true/>
	</dict>
	<key>forceClassroomAutomaticallyJoinClasses</key>
	<dict>
		<key>value</key>
		<false/>
	</dict>
	<key>allowClassroomDeviceSettingsModification</key>
	<dict>
		<key>ask</key>
		<true/>
		<key>value</key>
		<true/>
	</dict>
	<key>allowClassroomLockDevice</key>
	<dict>
		<key>ask</key>
		<true/>
		<key>value</key>
		<true/>
	</dict>
	<key>allowClassroomOpenApp</key>
	<dict>
		<key>ask</key>
		<true/>
		<key>value</key>
		<true/>
	</dict>
	<key>allowClassroomOpenDeepLink</key>
	<dict>
		<key>ask</key>
		<true/>
		<key>value</key>
		<true/>
	</dict>
	<key>allowClassroomOpenURL</key>
	<dict>
		<key>ask</key>
		<true/>
		<key>value</key>
		<true/>
	</dict>
	<key>forceClassroomRequestPermissionToLeaveClasses</key>
	<dict>
		<key>value</key>
		<false/>
	</dict>
	<key>allowClassroomScreenObservation</key>
	<dict>
		<key>ask</key>
		<true/>
		<key>value</key>
		<true/>
	</dict>
	<key>forceClassroomUnpromptedAppAndDeviceLock</key>
	<dict>
		<key>value</key>
		<false/>
	</dict>
	<key>forceClassroomUnpromptedScreenObservation</key>
	<dict>
		<key>value</key>
		<false/>
	</dict>
	<key>allowRemoteScreenObservation</key>
	<dict>
		<key>ask</key>
		<true/>
		<key>value</key>
		<true/>
	</dict>
	<key>allowScreenShot</key>
	<dict>
		<key>value</key>
		<true/>
	</dict>
	<key>forceUnpromptedRemoteScreenObservation</key>
	<dict>
		<key>ask</key>
		<true/>
		<key>value</key>
		<false/>
	</dict>
</dict>
</plist>
