<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildAliasOf</key>
	<string>RunningBoard</string>
	<key>BuildVersion</key>
	<string>131</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>618.100.42</string>
	<key>ProjectName</key>
	<string>RunningBoardServices</string>
	<key>SourceVersion</key>
	<string>618100042000000</string>
</dict>
</plist>
