<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>duringMacBuddy</key>
	<array>
		<dict>
			<key>nib</key>
			<string>VOTrainingEMB</string>
		</dict>
		<dict>
			<key>nib</key>
			<string>PracticeWhatYouLearn</string>
			<key>class</key>
			<string>MBVOPracticeWhatYouLearnPage</string>
		</dict>
		<dict>
			<key>nib</key>
			<string>Modifier</string>
		</dict>
		<dict>
			<key>nib</key>
			<string>Keyboard</string>
			<key>class</key>
			<string>MBVOKeyboardPracticePage</string>
		</dict>
		<dict>
			<key>nib</key>
			<string>MovingAround</string>
			<key>class</key>
			<string>MBVOPracticePage</string>
		</dict>
		<dict>
			<key>nib</key>
			<string>AdjustingVoice</string>
			<key>class</key>
			<string>MBVOPracticePage</string>
		</dict>
		<dict>
			<key>nib</key>
			<string>SelectingControls</string>
			<key>class</key>
			<string>MBVOPracticePage</string>
		</dict>
		<dict>
			<key>nib</key>
			<string>TextFields</string>
			<key>class</key>
			<string>MBVOPracticePage</string>
		</dict>
		<dict>
			<key>nib</key>
			<string>InteractingElements</string>
			<key>class</key>
			<string>MBVOPracticePage</string>
		</dict>
		<dict>
			<key>nib</key>
			<string>NavigatingTables</string>
			<key>class</key>
			<string>MBVOPracticePage</string>
		</dict>
		<dict>
			<key>nib</key>
			<string>DateTime</string>
			<key>class</key>
			<string>MBVOPracticePage</string>
		</dict>
		<dict>
			<key>nib</key>
			<string>Practice</string>
			<key>class</key>
			<string>MBVOPracticePage</string>
		</dict>
		<dict>
			<key>nib</key>
			<string>SetUp</string>
			<key>class</key>
			<string>MBVOPracticePage</string>
		</dict>
	</array>
	<key>duringNormalExecution</key>
	<array>
		<dict>
			<key>nib</key>
			<string>VOTrainingSA</string>
		</dict>
		<dict>
			<key>nib</key>
			<string>PracticeWhatYouLearn</string>
			<key>class</key>
			<string>MBVOPracticeWhatYouLearnPage</string>
		</dict>
		<dict>
			<key>nib</key>
			<string>Modifier</string>
		</dict>
		<dict>
			<key>nib</key>
			<string>Keyboard</string>
			<key>class</key>
			<string>MBVOKeyboardPracticePage</string>
		</dict>
		<dict>
			<key>nib</key>
			<string>MovingAround</string>
			<key>class</key>
			<string>MBVOPracticePage</string>
		</dict>
		<dict>
			<key>nib</key>
			<string>AdjustingVoice</string>
			<key>class</key>
			<string>MBVOPracticePage</string>
		</dict>
		<dict>
			<key>nib</key>
			<string>SelectingControls</string>
			<key>class</key>
			<string>MBVOPracticePage</string>
		</dict>
		<dict>
			<key>nib</key>
			<string>TextFields</string>
			<key>class</key>
			<string>MBVOPracticePage</string>
		</dict>
		<dict>
			<key>nib</key>
			<string>InteractingElements</string>
			<key>class</key>
			<string>MBVOPracticePage</string>
		</dict>
		<dict>
			<key>nib</key>
			<string>NavigatingTables</string>
			<key>class</key>
			<string>MBVOPracticePage</string>
		</dict>
		<dict>
			<key>nib</key>
			<string>DateTime</string>
			<key>class</key>
			<string>MBVOPracticePage</string>
		</dict>
		<dict>
			<key>nib</key>
			<string>Adjusters</string>
			<key>class</key>
			<string>MBVOPracticePage</string>
			<key>startingPointAfterMacBuddy</key>
			<true/>
		</dict>
		<dict>
			<key>nib</key>
			<string>Dock</string>
		</dict>
		<dict>
			<key>nib</key>
			<string>MenuBar</string>
		</dict>
		<dict>
			<key>nib</key>
			<string>NavigatingWebpages</string>
		</dict>
		<dict>
			<key>nib</key>
			<string>Rotor</string>
		</dict>
		<dict>
			<key>nib</key>
			<string>SmartGroups</string>
		</dict>
		<dict>
			<key>nib</key>
			<string>HTMLPractice</string>
			<key>class</key>
			<string>MBVOWebPracticePage</string>
		</dict>
		<dict>
			<key>nib</key>
			<string>Gestures</string>
			<key>onlyIfGesturesAvailable</key>
			<true/>
		</dict>
		<dict>
			<key>nib</key>
			<string>GesturesPractice</string>
			<key>class</key>
			<string>MBVOWebPracticePage</string>
			<key>onlyIfGesturesAvailable</key>
			<true/>
		</dict>
		<dict>
			<key>nib</key>
			<string>Practice</string>
			<key>class</key>
			<string>MBVOPracticePage</string>
		</dict>
		<dict>
			<key>nib</key>
			<string>FinalPage</string>
			<key>class</key>
			<string>MBVOPracticePage</string>
		</dict>
	</array>
	<key>startHalfWayThrough</key>
	<array>
		<dict>
			<key>nib</key>
			<string>WelcomeBack</string>
		</dict>
	</array>
	<key>splash</key>
	<array>
		<dict>
			<key>nib</key>
			<string>Splash</string>
			<key>class</key>
			<string>MBVOSplashPage</string>
		</dict>
	</array>
</dict>
</plist>
