<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LanguageArray</key>
	<array>
		<string>en</string>
		<string>jp</string>
		<string>fr</string>
		<string>de</string>
		<string>es</string>
		<string>it</string>
		<string>pt</string>
		<string>nl</string>
		<string>sv</string>
		<string>no</string>
		<string>da</string>
		<string>fi</string>
		<string>zh</string>
		<string>ko</string>
	</array>
</dict>
</plist>
