<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>taggedGenres</key>
	<dict>
		<key>alternative</key>
		<string>Alternative</string>
		<key>blues</key>
		<string>Blues</string>
		<key>classical</key>
		<string>Classical</string>
		<key>country</key>
		<string>Country</string>
		<key>dance</key>
		<string>Dance</string>
		<key>downtempo</key>
		<string>Downtempo</string>
		<key>electronic</key>
		<string>Electronic</string>
		<key>hiphoprap</key>
		<string>HipHopRap</string>
		<key>holiday</key>
		<string>Holiday</string>
		<key>indie</key>
		<string>Indie</string>
		<key>jazz</key>
		<string>Jazz</string>
		<key>kids &amp; family</key>
		<string>Kids &amp; Family</string>
		<key>latin</key>
		<string>Latin</string>
		<key>lounge</key>
		<string>Lounge</string>
		<key>metal</key>
		<string>Metal</string>
		<key>pop</key>
		<string>Pop</string>
		<key>r &amp; b</key>
		<string>R &amp; B</string>
		<key>reggae</key>
		<string>Reggae</string>
		<key>rock</key>
		<string>Rock</string>
		<key>singer songwriter</key>
		<string>Singer Songwriter</string>
		<key>soul funk</key>
		<string>Soul Funk</string>
		<key>stage and screen</key>
		<string>Stage and Screen</string>
		<key>world</key>
		<string>World</string>
	</dict>
	<key>additionalGenres</key>
	<dict>
		<key>doom</key>
		<string>Metal</string>
		<key>dub</key>
		<string>Reggae</string>
		<key>electronica</key>
		<string>Electronic</string>
		<key>folk</key>
		<string>Singer Songwriter</string>
		<key>funk</key>
		<string>Soul Funk</string>
		<key>hiphop</key>
		<string>HipHopRap</string>
		<key>hip-hop</key>
		<string>HipHopRap</string>
		<key>hip hop</key>
		<string>HipHopRap</string>
		<key>hiphop/rap</key>
		<string>HipHopRap</string>
		<key>hip-hop/rap</key>
		<string>HipHopRap</string>
		<key>hip hop/rap</key>
		<string>HipHopRap</string>
		<key>house</key>
		<string>Electronic</string>
		<key>punk</key>
		<string>Alternative</string>
		<key>r&amp;b</key>
		<string>R &amp; B</string>
		<key>rap</key>
		<string>HipHopRap</string>
		<key>soul</key>
		<string>Soul Funk</string>
		<key>soundtrack</key>
		<string>Stage and Screen</string>
		<key>surf</key>
		<string>Rock</string>
		<key>techno</key>
		<string>Electronic</string>
	</dict>
</dict>
</plist>
