<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ConflictResolverClass</key>
	<string>CALSyncConflictResolver</string>
	<key>Entities</key>
	<array>
		<dict>
			<key>Attributes</key>
			<array>
				<dict>
					<key>Name</key>
					<string>com.apple.ical.type</string>
					<key>Type</key>
					<string>string</string>
				</dict>
				<dict>
					<key>ExcludeFromDataChangeAlert</key>
					<true/>
					<key>Name</key>
					<string>com.apple.ical.urlsubscribe.uid</string>
					<key>Type</key>
					<string>string</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>com.apple.ical.urlsubscribe.url</string>
					<key>Type</key>
					<string>url</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>com.apple.ical.urlsubscribe.filtertasks</string>
					<key>Type</key>
					<string>boolean</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>com.apple.ical.urlsubscribe.filteralarms</string>
					<key>Type</key>
					<string>boolean</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>com.apple.ical.urlsubscribe.autorefresh</string>
					<key>Type</key>
					<string>boolean</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>com.apple.ical.urlsubscribe.refreshinterval</string>
					<key>Type</key>
					<string>number</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>com.apple.ical.uid</string>
					<key>Type</key>
					<string>string</string>
					<key>AutomaticConflictResolutionPolicy</key>
					<dict>
						<key>PreferredClientTypes</key>
						<array>
							<string>app</string>
						</array>
					</dict>
					<key>ExcludeFromDataChangeAlert</key>
					<true/>
				</dict>
			</array>
			<key>ExtensionName</key>
			<string>com.apple.ical.calendars.Calendar</string>
			<key>Name</key>
			<string>com.apple.calendars.Calendar</string>
			<key>Relationships</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>Link between Calendar and Node</string>
					<key>DeleteRule</key>
					<string>cascade</string>
					<key>ExcludeFromDataChangeAlert</key>
					<true/>
					<key>InverseRelationships</key>
					<array>
						<dict>
							<key>EntityName</key>
							<string>com.apple.ical.calendars.Node</string>
							<key>RelationshipName</key>
							<string>calendar</string>
						</dict>
					</array>
					<key>Name</key>
					<string>com.apple.ical.node</string>
					<key>Ordering</key>
					<string>none</string>
					<key>Ordinality</key>
					<string>one</string>
					<key>Required</key>
					<false/>
					<key>Target</key>
					<array>
						<string>com.apple.ical.calendars.Node</string>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Attributes</key>
			<array>
				<dict>
					<key>ExcludeFromDataChangeAlert</key>
					<true/>
					<key>Name</key>
					<string>com.apple.ical.creationdate</string>
					<key>Type</key>
					<string>calendar date</string>
					<key>AutomaticConflictResolutionPolicy</key>
					<dict>
						<key>PreferredRecord</key>
						<string>LastModified</string>
					</dict>
				</dict>
				<dict>
					<key>ExcludeFromDataChangeAlert</key>
					<true/>
					<key>Name</key>
					<string>com.apple.ical.datestamp</string>
					<key>Type</key>
					<string>calendar date</string>
					<key>AutomaticConflictResolutionPolicy</key>
					<dict>
						<key>PreferredRecord</key>
						<string>LastModified</string>
					</dict>
				</dict>
				<dict>
					<key>ExcludeFromDataChangeAlert</key>
					<true/>
					<key>Name</key>
					<string>com.apple.ical.sequence</string>
					<key>Type</key>
					<string>number</string>
					<key>AutomaticConflictResolutionPolicy</key>
					<dict>
						<key>PreferredRecord</key>
						<string>LastModified</string>
					</dict>
				</dict>
				<dict>
					<key>ExcludeFromDataChangeAlert</key>
					<true/>
					<key>Name</key>
					<string>com.apple.ical.uid</string>
					<key>Type</key>
					<string>string</string>
				</dict>
				<dict>
					<key>ExcludeFromDataChangeAlert</key>
					<true/>
					<key>Name</key>
					<string>com.apple.ical.itip.sent</string>
					<key>Type</key>
					<string>boolean</string>
					<key>AutomaticConflictResolutionPolicy</key>
					<dict>
						<key>PreferredRecord</key>
						<string>LastModified</string>
					</dict>
				</dict>
				<dict>
					<key>ExcludeFromDataChangeAlert</key>
					<true/>
					<key>Name</key>
					<string>com.apple.ical.itip.needsupdate</string>
					<key>Type</key>
					<string>boolean</string>
					<key>AutomaticConflictResolutionPolicy</key>
					<dict>
						<key>PreferredRecord</key>
						<string>LastModified</string>
					</dict>
				</dict>
				<dict>
					<key>ExcludeFromDataChangeAlert</key>
					<true/>
					<key>Name</key>
					<string>com.apple.ical.itip.mystatus</string>
					<key>Type</key>
					<string>boolean</string>
					<key>AutomaticConflictResolutionPolicy</key>
					<dict>
						<key>PreferredRecord</key>
						<string>LastModified</string>
					</dict>
				</dict>
				<dict>
					<key>ExcludeFromDataChangeAlert</key>
					<true/>
					<key>Name</key>
					<string>com.apple.ical.attachmenturls</string>
					<key>Subtype</key>
					<string>string</string>
					<key>Type</key>
					<string>array</string>
					<key>AutomaticConflictResolutionPolicy</key>
					<dict>
						<key>PreferredRecord</key>
						<string>LastModified</string>
					</dict>
				</dict>
			</array>
			<key>ExtensionName</key>
			<string>com.apple.ical.calendars.Event</string>
			<key>Name</key>
			<string>com.apple.calendars.Event</string>
			<key>Relationships</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>Link from event to proc alarm</string>
					<key>DeleteRule</key>
					<string>cascade</string>
					<key>ExcludeFromDataChangeAlert</key>
					<true/>
					<key>InverseRelationships</key>
					<array>
						<dict>
							<key>EntityName</key>
							<string>com.apple.ical.calendars.ProcAlarm</string>
							<key>RelationshipName</key>
							<string>owner</string>
						</dict>
					</array>
					<key>Name</key>
					<string>com.apple.ical.procalarms</string>
					<key>Ordering</key>
					<string>none</string>
					<key>Ordinality</key>
					<string>many</string>
					<key>Required</key>
					<false/>
					<key>Target</key>
					<array>
						<string>com.apple.ical.calendars.ProcAlarm</string>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Attributes</key>
			<array>
				<dict>
					<key>ExcludeFromDataChangeAlert</key>
					<true/>
					<key>Name</key>
					<string>com.apple.ical.creationdate</string>
					<key>Type</key>
					<string>calendar date</string>
				</dict>
				<dict>
					<key>ExcludeFromDataChangeAlert</key>
					<true/>
					<key>Name</key>
					<string>com.apple.ical.datestamp</string>
					<key>Type</key>
					<string>calendar date</string>
					<key>AutomaticConflictResolutionPolicy</key>
					<dict>
						<key>PreferredRecord</key>
						<string>LastModified</string>
					</dict>
				</dict>
				<dict>
					<key>ExcludeFromDataChangeAlert</key>
					<true/>
					<key>Name</key>
					<string>com.apple.ical.sequence</string>
					<key>Type</key>
					<string>number</string>
					<key>AutomaticConflictResolutionPolicy</key>
					<dict>
						<key>PreferredRecord</key>
						<string>LastModified</string>
					</dict>
				</dict>
				<dict>
					<key>ExcludeFromDataChangeAlert</key>
					<true/>
					<key>Name</key>
					<string>com.apple.ical.uid</string>
					<key>Type</key>
					<string>string</string>
					<key>AutomaticConflictResolutionPolicy</key>
					<dict>
						<key>PreferredClientTypes</key>
						<array>
							<string>app</string>
						</array>
					</dict>
				</dict>
				<dict>
					<key>ExcludeFromDataChangeAlert</key>
					<true/>
					<key>Name</key>
					<string>com.apple.ical.attachmenturls</string>
					<key>Subtype</key>
					<string>string</string>
					<key>Type</key>
					<string>array</string>
					<key>AutomaticConflictResolutionPolicy</key>
					<dict>
						<key>PreferredClientTypes</key>
						<array>
							<string>app</string>
						</array>
					</dict>
				</dict>
			</array>
			<key>ExtensionName</key>
			<string>com.apple.ical.calendars.Task</string>
			<key>Name</key>
			<string>com.apple.calendars.Task</string>
			<key>Relationships</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>Link from task to proc alarm</string>
					<key>DeleteRule</key>
					<string>cascade</string>
					<key>ExcludeFromDataChangeAlert</key>
					<true/>
					<key>InverseRelationships</key>
					<array>
						<dict>
							<key>EntityName</key>
							<string>com.apple.ical.calendars.ProcAlarm</string>
							<key>RelationshipName</key>
							<string>owner</string>
						</dict>
					</array>
					<key>Name</key>
					<string>com.apple.ical.procalarms</string>
					<key>Ordering</key>
					<string>none</string>
					<key>Ordinality</key>
					<string>many</string>
					<key>Required</key>
					<false/>
					<key>Target</key>
					<array>
						<string>com.apple.ical.calendars.ProcAlarm</string>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Attributes</key>
			<array>
				<dict>
					<key>ExcludeFromDataChangeAlert</key>
					<true/>
					<key>Name</key>
					<string>com.apple.ical.occurrencetriggerid</string>
					<key>Subtype</key>
					<string>string</string>
					<key>Type</key>
					<string>array</string>
					<key>AutomaticConflictResolutionPolicy</key>
					<dict>
						<key>PreferredRecord</key>
						<string>LastModified</string>
					</dict>
				</dict>
				<dict>
					<key>ExcludeFromDataChangeAlert</key>
					<true/>
					<key>Name</key>
					<string>com.apple.ical.occurrencetriggerdate</string>
					<key>Subtype</key>
					<string>calendar date</string>
					<key>Type</key>
					<string>array</string>
					<key>AutomaticConflictResolutionPolicy</key>
					<dict>
						<key>PreferredRecord</key>
						<string>LastModified</string>
					</dict>
				</dict>
				<dict>
					<key>Name</key>
					<string>com.apple.ical.sound</string>
					<key>Type</key>
					<string>url</string>
					<key>AutomaticConflictResolutionPolicy</key>
					<dict>
						<key>PreferredRecord</key>
						<string>LastModified</string>
					</dict>
				</dict>
			</array>
			<key>ExtensionName</key>
			<string>com.apple.ical.calendars.AudioAlarm</string>
			<key>Name</key>
			<string>com.apple.calendars.AudioAlarm</string>
			<key>PropertyDependencies</key>
			<array>
				<array>
					<string>com.apple.ical.occurrencetriggerid</string>
					<string>com.apple.ical.occurrencetriggerdate</string>
				</array>
			</array>
		</dict>
		<dict>
			<key>Attributes</key>
			<array>
				<dict>
					<key>ExcludeFromDataChangeAlert</key>
					<true/>
					<key>Name</key>
					<string>com.apple.ical.occurrencetriggerid</string>
					<key>Subtype</key>
					<string>string</string>
					<key>Type</key>
					<string>array</string>
					<key>AutomaticConflictResolutionPolicy</key>
					<dict>
						<key>PreferredRecord</key>
						<string>LastModified</string>
					</dict>
				</dict>
				<dict>
					<key>ExcludeFromDataChangeAlert</key>
					<true/>
					<key>Name</key>
					<string>com.apple.ical.occurrencetriggerdate</string>
					<key>Subtype</key>
					<string>calendar date</string>
					<key>Type</key>
					<string>array</string>
					<key>AutomaticConflictResolutionPolicy</key>
					<dict>
						<key>PreferredRecord</key>
						<string>LastModified</string>
					</dict>
				</dict>
			</array>
			<key>ExtensionName</key>
			<string>com.apple.ical.calendars.MailAlarm</string>
			<key>Name</key>
			<string>com.apple.calendars.MailAlarm</string>
			<key>PropertyDependencies</key>
			<array>
				<array>
					<string>com.apple.ical.occurrencetriggerid</string>
					<string>com.apple.ical.occurrencetriggerdate</string>
				</array>
			</array>
		</dict>
		<dict>
			<key>Attributes</key>
			<array>
				<dict>
					<key>ExcludeFromDataChangeAlert</key>
					<true/>
					<key>Name</key>
					<string>com.apple.ical.occurrencetriggerid</string>
					<key>Subtype</key>
					<string>string</string>
					<key>Type</key>
					<string>array</string>
					<key>AutomaticConflictResolutionPolicy</key>
					<dict>
						<key>PreferredRecord</key>
						<string>LastModified</string>
					</dict>
				</dict>
				<dict>
					<key>ExcludeFromDataChangeAlert</key>
					<true/>
					<key>Name</key>
					<string>com.apple.ical.occurrencetriggerdate</string>
					<key>Subtype</key>
					<string>calendar date</string>
					<key>Type</key>
					<string>array</string>
					<key>AutomaticConflictResolutionPolicy</key>
					<dict>
						<key>PreferredRecord</key>
						<string>LastModified</string>
					</dict>
				</dict>
			</array>
			<key>ExtensionName</key>
			<string>com.apple.ical.calendars.DisplayAlarm</string>
			<key>Name</key>
			<string>com.apple.calendars.DisplayAlarm</string>
			<key>PropertyDependencies</key>
			<array>
				<array>
					<string>com.apple.ical.occurrencetriggerid</string>
					<string>com.apple.ical.occurrencetriggerdate</string>
				</array>
			</array>
		</dict>
		<dict>
			<key>Attributes</key>
			<array>
				<dict>
					<key>Name</key>
					<string>triggerdate</string>
					<key>Type</key>
					<string>calendar date</string>
				</dict>
				<dict>
					<key>ExcludeFromDataChangeAlert</key>
					<true/>
					<key>Name</key>
					<string>triggerduration</string>
					<key>Type</key>
					<string>number</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>repeat count</string>
					<key>Type</key>
					<string>number</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>repeat interval</string>
					<key>Type</key>
					<string>number</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>description</string>
					<key>Type</key>
					<string>string</string>
				</dict>
				<dict>
					<key>ExcludeFromDataChangeAlert</key>
					<true/>
					<key>Name</key>
					<string>path</string>
					<key>Type</key>
					<string>url</string>
					<key>AutomaticConflictResolutionPolicy</key>
					<dict>
						<key>PreferredClientTypes</key>
						<array>
							<string>app</string>
						</array>
						<key>PreferredRecord</key>
						<string>LastModified</string>
					</dict>
				</dict>
				<dict>
					<key>ExcludeFromDataChangeAlert</key>
					<true/>
					<key>Name</key>
					<string>com.apple.ical.occurrencetriggerid</string>
					<key>Subtype</key>
					<string>string</string>
					<key>Type</key>
					<string>array</string>
					<key>AutomaticConflictResolutionPolicy</key>
					<dict>
						<key>PreferredRecord</key>
						<string>LastModified</string>
					</dict>
				</dict>
				<dict>
					<key>ExcludeFromDataChangeAlert</key>
					<true/>
					<key>Name</key>
					<string>com.apple.ical.occurrencetriggerdate</string>
					<key>Subtype</key>
					<string>calendar date</string>
					<key>Type</key>
					<string>array</string>
					<key>AutomaticConflictResolutionPolicy</key>
					<dict>
						<key>PreferredRecord</key>
						<string>LastModified</string>
					</dict>
				</dict>
			</array>
			<key>Comment</key>
			<string>Alarm that calls a program</string>
			<key>DataClass</key>
			<string>com.apple.Calendars</string>
			<key>IdentityProperties</key>
			<array>
				<string>path</string>
				<string>owner</string>
				<string>triggerdate</string>
				<string>triggerduration</string>
			</array>
			<key>Name</key>
			<string>com.apple.ical.calendars.ProcAlarm</string>
			<key>Parent</key>
			<string>owner</string>
			<key>PropertyDependencies</key>
			<array>
				<array>
					<string>triggerdate</string>
					<string>triggerduration</string>
				</array>
				<array>
					<string>com.apple.ical.occurrencetriggerid</string>
					<string>com.apple.ical.occurrencetriggerdate</string>
				</array>
			</array>
			<key>Relationships</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>Link from Proc Alarm to Owner</string>
					<key>DeleteRule</key>
					<string>nullify</string>
					<key>ExcludeFromDataChangeAlert</key>
					<true/>
					<key>InverseRelationships</key>
					<array>
						<dict>
							<key>RelationshipName</key>
							<string>com.apple.ical.procalarms</string>
						</dict>
					</array>
					<key>Name</key>
					<string>owner</string>
					<key>Ordering</key>
					<string>none</string>
					<key>Ordinality</key>
					<string>one</string>
					<key>Required</key>
					<true/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Attributes</key>
			<array>
				<dict>
					<key>Name</key>
					<string>identity</string>
					<key>Type</key>
					<string>string</string>
				</dict>
			</array>
			<key>Comment</key>
			<string>root node information</string>
			<key>DataClass</key>
			<string>com.apple.Calendars</string>
			<key>ExcludeFromDataChangeAlert</key>
			<true/>
			<key>IdentityProperties</key>
			<array>
				<string>identity</string>
			</array>
			<key>Name</key>
			<string>com.apple.ical.calendars.RootNode</string>
			<key>Relationships</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>Link between Root Node and Child Node</string>
					<key>DeleteRule</key>
					<string>nullify</string>
					<key>ExcludeFromDataChangeAlert</key>
					<true/>
					<key>InverseRelationships</key>
					<array>
						<dict>
							<key>EntityName</key>
							<string>com.apple.ical.calendars.Node</string>
							<key>RelationshipName</key>
							<string>parent node</string>
						</dict>
					</array>
					<key>Name</key>
					<string>nodes</string>
					<key>Ordering</key>
					<string>weak</string>
					<key>Ordinality</key>
					<string>many</string>
					<key>Required</key>
					<false/>
					<key>Target</key>
					<array>
						<string>com.apple.ical.calendars.Node</string>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Attributes</key>
			<array>
				<dict>
					<key>Name</key>
					<string>theme</string>
					<key>Type</key>
					<string>color</string>
					<key>AutomaticConflictResolutionPolicy</key>
					<dict>
						<key>PreferredRecord</key>
						<string>LastModified</string>
						<key>PreferredClientTypes</key>
						<array>
							<string>server</string>
							<string>device</string>
							<string>app</string>
							<string>peer</string>
						</array>
					</dict>
				</dict>
				<dict>
					<key>Name</key>
					<string>title</string>
					<key>Type</key>
					<string>string</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>notes</string>
					<key>Type</key>
					<string>string</string>
				</dict>
				<dict>
					<key>AutomaticConflictResolutionPolicy</key>
					<dict>
						<key>PreferredClientTypes</key>
						<array>
							<string>app</string>
						</array>
					</dict>
					<key>Name</key>
					<string>type</string>
					<key>Type</key>
					<string>string</string>
				</dict>
				<dict>
					<key>AutomaticConflictResolutionPolicy</key>
					<dict>
						<key>PreferredClientTypes</key>
						<array>
							<string>app</string>
						</array>
					</dict>
					<key>Name</key>
					<string>groupType</string>
					<key>Type</key>
					<string>string</string>
				</dict>
			</array>
			<key>Comment</key>
			<string>UI information of calendar</string>
			<key>DataClass</key>
			<string>com.apple.Calendars</string>
			<key>ExcludeFromDataChangeAlert</key>
			<true/>
			<key>IdentityProperties</key>
			<array>
				<string>calendar</string>
				<string>type</string>
				<string>parent node</string>
				<string>title</string>
			</array>
			<key>Name</key>
			<string>com.apple.ical.calendars.Node</string>
			<key>Relationships</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>Link between Node and Calendar</string>
					<key>DeleteRule</key>
					<string>nullify</string>
					<key>InverseRelationships</key>
					<array>
						<dict>
							<key>EntityName</key>
							<string>com.apple.calendars.Calendar</string>
							<key>RelationshipName</key>
							<string>com.apple.ical.node</string>
						</dict>
					</array>
					<key>Name</key>
					<string>calendar</string>
					<key>Ordering</key>
					<string>none</string>
					<key>Ordinality</key>
					<string>one</string>
					<key>Required</key>
					<false/>
					<key>Target</key>
					<array>
						<string>com.apple.calendars.Calendar</string>
					</array>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Link between Parent Node and Child Node</string>
					<key>DeleteRule</key>
					<string>cascade</string>
					<key>ExcludeFromDataChangeAlert</key>
					<true/>
					<key>InverseRelationships</key>
					<array>
						<dict>
							<key>EntityName</key>
							<string>com.apple.ical.calendars.Node</string>
							<key>RelationshipName</key>
							<string>parent node</string>
						</dict>
					</array>
					<key>Name</key>
					<string>nodes</string>
					<key>Ordering</key>
					<string>weak</string>
					<key>Ordinality</key>
					<string>many</string>
					<key>Required</key>
					<false/>
					<key>Target</key>
					<array>
						<string>com.apple.ical.calendars.Node</string>
					</array>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Link between Child Node and Parent Node</string>
					<key>ExcludeFromDataChangeAlert</key>
					<true/>
					<key>InverseRelationships</key>
					<array>
						<dict>
							<key>RelationshipName</key>
							<string>nodes</string>
						</dict>
					</array>
					<key>Name</key>
					<string>parent node</string>
					<key>Ordering</key>
					<string>none</string>
					<key>Ordinality</key>
					<string>one</string>
					<key>Required</key>
					<false/>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Link from AliasNode to target node</string>
					<key>ExcludeFromDataChangeAlert</key>
					<true/>
					<key>Name</key>
					<string>target node</string>
					<key>Ordering</key>
					<string>none</string>
					<key>Ordinality</key>
					<string>one</string>
					<key>Required</key>
					<false/>
					<key>Target</key>
					<array>
						<string>com.apple.ical.calendars.Node</string>
					</array>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Link from node to URL publishers</string>
					<key>DeleteRule</key>
					<string>cascade</string>
					<key>ExcludeFromDataChangeAlert</key>
					<true/>
					<key>InverseRelationships</key>
					<array>
						<dict>
							<key>EntityName</key>
							<string>com.apple.ical.calendars.URLPublisher</string>
							<key>RelationshipName</key>
							<string>node</string>
						</dict>
					</array>
					<key>Name</key>
					<string>url publishers</string>
					<key>Ordering</key>
					<string>none</string>
					<key>Ordinality</key>
					<string>many</string>
					<key>Required</key>
					<false/>
					<key>Target</key>
					<array>
						<string>com.apple.ical.calendars.URLPublisher</string>
					</array>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Link from node to .mac publishers</string>
					<key>DeleteRule</key>
					<string>cascade</string>
					<key>ExcludeFromDataChangeAlert</key>
					<true/>
					<key>InverseRelationships</key>
					<array>
						<dict>
							<key>EntityName</key>
							<string>com.apple.ical.calendars.DotMacPublisher</string>
							<key>RelationshipName</key>
							<string>node</string>
						</dict>
					</array>
					<key>Name</key>
					<string>dot mac publishers</string>
					<key>Ordering</key>
					<string>none</string>
					<key>Ordinality</key>
					<string>many</string>
					<key>Required</key>
					<false/>
					<key>Target</key>
					<array>
						<string>com.apple.ical.calendars.DotMacPublisher</string>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Attributes</key>
			<array>
				<dict>
					<key>Name</key>
					<string>name</string>
					<key>Type</key>
					<string>string</string>
				</dict>
				<dict>
					<key>ExcludeFromDataChangeAlert</key>
					<true/>
					<key>Name</key>
					<string>publisher id</string>
					<key>Type</key>
					<string>string</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>url</string>
					<key>Type</key>
					<string>url</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>autoupdate</string>
					<key>Type</key>
					<string>boolean</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>filtertexts</string>
					<key>Type</key>
					<string>boolean</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>filteralarms</string>
					<key>Type</key>
					<string>boolean</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>filtertasks</string>
					<key>Type</key>
					<string>boolean</string>
				</dict>
			</array>
			<key>Comment</key>
			<string>publisher to private server</string>
			<key>DataClass</key>
			<string>com.apple.Calendars</string>
			<key>IdentityProperties</key>
			<array>
				<string>publisher id</string>
				<string>node</string>
			</array>
			<key>Name</key>
			<string>com.apple.ical.calendars.URLPublisher</string>
			<key>Relationships</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>Link from URL publishers to node</string>
					<key>DeleteRule</key>
					<string>nullify</string>
					<key>ExcludeFromDataChangeAlert</key>
					<true/>
					<key>InverseRelationships</key>
					<array>
						<dict>
							<key>EntityName</key>
							<string>com.apple.ical.calendars.Node</string>
							<key>RelationshipName</key>
							<string>url publishers</string>
						</dict>
					</array>
					<key>Name</key>
					<string>node</string>
					<key>Ordering</key>
					<string>none</string>
					<key>Ordinality</key>
					<string>one</string>
					<key>Required</key>
					<true/>
					<key>Target</key>
					<array>
						<string>com.apple.ical.calendars.Node</string>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Attributes</key>
			<array>
				<dict>
					<key>Name</key>
					<string>name</string>
					<key>Type</key>
					<string>string</string>
				</dict>
				<dict>
					<key>ExcludeFromDataChangeAlert</key>
					<true/>
					<key>Name</key>
					<string>publisher id</string>
					<key>Type</key>
					<string>string</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>filename</string>
					<key>Type</key>
					<string>string</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>autoupdate</string>
					<key>Type</key>
					<string>boolean</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>filtertexts</string>
					<key>Type</key>
					<string>boolean</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>filteralarms</string>
					<key>Type</key>
					<string>boolean</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>filtertasks</string>
					<key>Type</key>
					<string>boolean</string>
				</dict>
			</array>
			<key>Comment</key>
			<string>publisher to .Mac</string>
			<key>DataClass</key>
			<string>com.apple.Calendars</string>
			<key>IdentityProperties</key>
			<array>
				<string>publisher id</string>
				<string>node</string>
			</array>
			<key>Name</key>
			<string>com.apple.ical.calendars.DotMacPublisher</string>
			<key>Relationships</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>Link from .Mac publishers to node</string>
					<key>DeleteRule</key>
					<string>nullify</string>
					<key>ExcludeFromDataChangeAlert</key>
					<true/>
					<key>InverseRelationships</key>
					<array>
						<dict>
							<key>EntityName</key>
							<string>com.apple.ical.calendars.Node</string>
							<key>RelationshipName</key>
							<string>dot mac publishers</string>
						</dict>
					</array>
					<key>Name</key>
					<string>node</string>
					<key>Ordering</key>
					<string>none</string>
					<key>Ordinality</key>
					<string>one</string>
					<key>Required</key>
					<true/>
					<key>Target</key>
					<array>
						<string>com.apple.ical.calendars.Node</string>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Attributes</key>
			<array>
				<dict>
					<key>Name</key>
					<string>identity</string>
					<key>Type</key>
					<string>string</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>lastmodificationdate</string>
					<key>Type</key>
					<string>calendar date</string>
					<key>AutomaticConflictResolutionPolicy</key>
					<dict>
						<key>PreferredRecord</key>
						<string>LastModified</string>
					</dict>
				</dict>
			</array>
			<key>Comment</key>
			<string>order of tasks</string>
			<key>DataClass</key>
			<string>com.apple.Calendars</string>
			<key>ExcludeFromDataChangeAlert</key>
			<true/>
			<key>IdentityProperties</key>
			<array>
				<string>identity</string>
			</array>
			<key>Name</key>
			<string>com.apple.ical.calendars.TaskOrder</string>
			<key>Relationships</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>this will give the order of tasks</string>
					<key>DeleteRule</key>
					<string>nullify</string>
					<key>Name</key>
					<string>tasks</string>
					<key>Ordering</key>
					<string>weak</string>
					<key>Ordinality</key>
					<string>many</string>
					<key>Required</key>
					<false/>
					<key>Target</key>
					<array>
						<string>com.apple.calendars.Task</string>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Attributes</key>
			<array>
				<dict>
					<key>AutomaticConflictResolutionPolicy</key>
					<dict>
						<key>PreferredRecord</key>
						<string>LastModified</string>
					</dict>
					<key>Name</key>
					<string>uid</string>
					<key>Type</key>
					<string>string</string>
				</dict>
				<dict>
					<key>AutomaticConflictResolutionPolicy</key>
					<dict>
						<key>PreferredRecord</key>
						<string>LastModified</string>
					</dict>
					<key>Name</key>
					<string>data</string>
					<key>Type</key>
					<string>data</string>
				</dict>
			</array>
			<key>Comment</key>
			<string>received invitation</string>
			<key>DataClass</key>
			<string>com.apple.Calendars</string>
			<key>ExcludeFromDataChangeAlert</key>
			<true/>
			<key>IdentityProperties</key>
			<array>
				<string>uid</string>
			</array>
			<key>Name</key>
			<string>com.apple.ical.calendars.Invitation</string>
		</dict>
	</array>
	<key>Name</key>
	<string>com.apple.Calendars.iCalExtensions</string>
	<key>BaseName</key>
	<string>com.apple.Calendars</string>
	<key>BaseMajorVersion</key>
	<integer>1</integer>
	<key>BaseMinorVersion</key>
	<integer>2</integer>
	<key>UIHelperClass</key>
	<string>CALSyncConflictUIHelper</string>
</dict>
</plist>
