<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>ADP</key><integer>0</integer>
    <key>AED</key><integer>1</integer>
    <key>AFA</key><integer>2</integer>
    <key>AFN</key><integer>3</integer>
    <key>ALK</key><integer>4</integer>
    <key>ALL</key><integer>5</integer>
    <key>AMD</key><integer>6</integer>
    <key>ANG</key><integer>7</integer>
    <key>AOA</key><integer>8</integer>
    <key>AOK</key><integer>9</integer>
    <key>AON</key><integer>10</integer>
    <key>AOR</key><integer>11</integer>
    <key>ARA</key><integer>12</integer>
    <key>ARL</key><integer>13</integer>
    <key>ARM</key><integer>14</integer>
    <key>ARP</key><integer>15</integer>
    <key>ARS</key><integer>16</integer>
    <key>ATS</key><integer>17</integer>
    <key>AUD</key><integer>18</integer>
    <key>AWG</key><integer>19</integer>
    <key>AZM</key><integer>20</integer>
    <key>AZN</key><integer>21</integer>
    <key>BAD</key><integer>22</integer>
    <key>BAM</key><integer>23</integer>
    <key>BAN</key><integer>24</integer>
    <key>BBD</key><integer>25</integer>
    <key>BDT</key><integer>26</integer>
    <key>BEC</key><integer>27</integer>
    <key>BEF</key><integer>28</integer>
    <key>BEL</key><integer>29</integer>
    <key>BGL</key><integer>30</integer>
    <key>BGM</key><integer>31</integer>
    <key>BGN</key><integer>32</integer>
    <key>BGO</key><integer>33</integer>
    <key>BHD</key><integer>34</integer>
    <key>BIF</key><integer>35</integer>
    <key>BMD</key><integer>36</integer>
    <key>BND</key><integer>37</integer>
    <key>BOB</key><integer>38</integer>
    <key>BOL</key><integer>39</integer>
    <key>BOP</key><integer>40</integer>
    <key>BOV</key><integer>41</integer>
    <key>BRB</key><integer>42</integer>
    <key>BRC</key><integer>43</integer>
    <key>BRE</key><integer>44</integer>
    <key>BRL</key><integer>45</integer>
    <key>BRN</key><integer>46</integer>
    <key>BRR</key><integer>47</integer>
    <key>BRZ</key><integer>48</integer>
    <key>BSD</key><integer>49</integer>
    <key>BTN</key><integer>50</integer>
    <key>BUK</key><integer>51</integer>
    <key>BWP</key><integer>52</integer>
    <key>BYB</key><integer>53</integer>
    <key>BYN</key><integer>54</integer>
    <key>BYR</key><integer>55</integer>
    <key>BZD</key><integer>56</integer>
    <key>CAD</key><integer>57</integer>
    <key>CDF</key><integer>58</integer>
    <key>CHE</key><integer>59</integer>
    <key>CHF</key><integer>60</integer>
    <key>CHW</key><integer>61</integer>
    <key>CLE</key><integer>62</integer>
    <key>CLF</key><integer>63</integer>
    <key>CLP</key><integer>64</integer>
    <key>CNH</key><integer>65</integer>
    <key>CNX</key><integer>66</integer>
    <key>CNY</key><integer>67</integer>
    <key>COP</key><integer>68</integer>
    <key>COU</key><integer>69</integer>
    <key>CRC</key><integer>70</integer>
    <key>CSD</key><integer>71</integer>
    <key>CSK</key><integer>72</integer>
    <key>CUC</key><integer>73</integer>
    <key>CUP</key><integer>74</integer>
    <key>CVE</key><integer>75</integer>
    <key>CYP</key><integer>76</integer>
    <key>CZK</key><integer>77</integer>
    <key>DDM</key><integer>78</integer>
    <key>DEM</key><integer>79</integer>
    <key>DJF</key><integer>80</integer>
    <key>DKK</key><integer>81</integer>
    <key>DOP</key><integer>82</integer>
    <key>DZD</key><integer>83</integer>
    <key>ECS</key><integer>84</integer>
    <key>ECV</key><integer>85</integer>
    <key>EEK</key><integer>86</integer>
    <key>EGP</key><integer>87</integer>
    <key>EQE</key><integer>88</integer>
    <key>ERN</key><integer>89</integer>
    <key>ESA</key><integer>90</integer>
    <key>ESB</key><integer>91</integer>
    <key>ESP</key><integer>92</integer>
    <key>ETB</key><integer>93</integer>
    <key>EUR</key><integer>94</integer>
    <key>FIM</key><integer>95</integer>
    <key>FJD</key><integer>96</integer>
    <key>FKP</key><integer>97</integer>
    <key>FRF</key><integer>98</integer>
    <key>GBP</key><integer>99</integer>
    <key>GEK</key><integer>100</integer>
    <key>GEL</key><integer>101</integer>
    <key>GHC</key><integer>102</integer>
    <key>GHS</key><integer>103</integer>
    <key>GIP</key><integer>104</integer>
    <key>GMD</key><integer>105</integer>
    <key>GNF</key><integer>106</integer>
    <key>GNS</key><integer>107</integer>
    <key>GQE</key><integer>108</integer>
    <key>GRD</key><integer>109</integer>
    <key>GTQ</key><integer>110</integer>
    <key>GWE</key><integer>111</integer>
    <key>GWP</key><integer>112</integer>
    <key>GYD</key><integer>113</integer>
    <key>HKD</key><integer>114</integer>
    <key>HNL</key><integer>115</integer>
    <key>HRD</key><integer>116</integer>
    <key>HRK</key><integer>117</integer>
    <key>HTG</key><integer>118</integer>
    <key>HUF</key><integer>119</integer>
    <key>IDR</key><integer>120</integer>
    <key>IEP</key><integer>121</integer>
    <key>ILP</key><integer>122</integer>
    <key>ILR</key><integer>123</integer>
    <key>ILS</key><integer>124</integer>
    <key>INR</key><integer>125</integer>
    <key>IQD</key><integer>126</integer>
    <key>IRR</key><integer>127</integer>
    <key>ISJ</key><integer>128</integer>
    <key>ISK</key><integer>129</integer>
    <key>ITL</key><integer>130</integer>
    <key>JMD</key><integer>131</integer>
    <key>JOD</key><integer>132</integer>
    <key>JPY</key><integer>133</integer>
    <key>KES</key><integer>134</integer>
    <key>KGS</key><integer>135</integer>
    <key>KHR</key><integer>136</integer>
    <key>KMF</key><integer>137</integer>
    <key>KPW</key><integer>138</integer>
    <key>KRH</key><integer>139</integer>
    <key>KRO</key><integer>140</integer>
    <key>KRW</key><integer>141</integer>
    <key>KWD</key><integer>142</integer>
    <key>KYD</key><integer>143</integer>
    <key>KZT</key><integer>144</integer>
    <key>LAK</key><integer>145</integer>
    <key>LBP</key><integer>146</integer>
    <key>LKR</key><integer>147</integer>
    <key>LRD</key><integer>148</integer>
    <key>LSL</key><integer>149</integer>
    <key>LSM</key><integer>150</integer>
    <key>LTL</key><integer>151</integer>
    <key>LTT</key><integer>152</integer>
    <key>LUC</key><integer>153</integer>
    <key>LUF</key><integer>154</integer>
    <key>LUL</key><integer>155</integer>
    <key>LVL</key><integer>156</integer>
    <key>LVR</key><integer>157</integer>
    <key>LYD</key><integer>158</integer>
    <key>MAD</key><integer>159</integer>
    <key>MAF</key><integer>160</integer>
    <key>MCF</key><integer>161</integer>
    <key>MDC</key><integer>162</integer>
    <key>MDL</key><integer>163</integer>
    <key>MGA</key><integer>164</integer>
    <key>MGF</key><integer>165</integer>
    <key>MKD</key><integer>166</integer>
    <key>MKN</key><integer>167</integer>
    <key>MLF</key><integer>168</integer>
    <key>MMK</key><integer>169</integer>
    <key>MNT</key><integer>170</integer>
    <key>MOP</key><integer>171</integer>
    <key>MRO</key><integer>172</integer>
    <key>MRU</key><integer>173</integer>
    <key>MTL</key><integer>174</integer>
    <key>MTP</key><integer>175</integer>
    <key>MUR</key><integer>176</integer>
    <key>MVP</key><integer>177</integer>
    <key>MVR</key><integer>178</integer>
    <key>MWK</key><integer>179</integer>
    <key>MXN</key><integer>180</integer>
    <key>MXP</key><integer>181</integer>
    <key>MXV</key><integer>182</integer>
    <key>MYR</key><integer>183</integer>
    <key>MZE</key><integer>184</integer>
    <key>MZM</key><integer>185</integer>
    <key>MZN</key><integer>186</integer>
    <key>NAD</key><integer>187</integer>
    <key>NGN</key><integer>188</integer>
    <key>NIC</key><integer>189</integer>
    <key>NIO</key><integer>190</integer>
    <key>NLG</key><integer>191</integer>
    <key>NOK</key><integer>192</integer>
    <key>NPR</key><integer>193</integer>
    <key>NZD</key><integer>194</integer>
    <key>OMR</key><integer>195</integer>
    <key>PAB</key><integer>196</integer>
    <key>PEI</key><integer>197</integer>
    <key>PEN</key><integer>198</integer>
    <key>PES</key><integer>199</integer>
    <key>PGK</key><integer>200</integer>
    <key>PHP</key><integer>201</integer>
    <key>PKR</key><integer>202</integer>
    <key>PLN</key><integer>203</integer>
    <key>PLZ</key><integer>204</integer>
    <key>PTE</key><integer>205</integer>
    <key>PYG</key><integer>206</integer>
    <key>QAR</key><integer>207</integer>
    <key>RHD</key><integer>208</integer>
    <key>ROL</key><integer>209</integer>
    <key>RON</key><integer>210</integer>
    <key>RSD</key><integer>211</integer>
    <key>RUB</key><integer>212</integer>
    <key>RUR</key><integer>213</integer>
    <key>RWF</key><integer>214</integer>
    <key>SAR</key><integer>215</integer>
    <key>SBD</key><integer>216</integer>
    <key>SCR</key><integer>217</integer>
    <key>SDD</key><integer>218</integer>
    <key>SDG</key><integer>219</integer>
    <key>SDP</key><integer>220</integer>
    <key>SEK</key><integer>221</integer>
    <key>SGD</key><integer>222</integer>
    <key>SHP</key><integer>223</integer>
    <key>SIT</key><integer>224</integer>
    <key>SKK</key><integer>225</integer>
    <key>SLL</key><integer>226</integer>
    <key>SOS</key><integer>227</integer>
    <key>SRD</key><integer>228</integer>
    <key>SRG</key><integer>229</integer>
    <key>SSP</key><integer>230</integer>
    <key>STD</key><integer>231</integer>
    <key>STN</key><integer>232</integer>
    <key>SUR</key><integer>233</integer>
    <key>SVC</key><integer>234</integer>
    <key>SYP</key><integer>235</integer>
    <key>SZL</key><integer>236</integer>
    <key>THB</key><integer>237</integer>
    <key>TJR</key><integer>238</integer>
    <key>TJS</key><integer>239</integer>
    <key>TMM</key><integer>240</integer>
    <key>TMT</key><integer>241</integer>
    <key>TND</key><integer>242</integer>
    <key>TOP</key><integer>243</integer>
    <key>TPE</key><integer>244</integer>
    <key>TRL</key><integer>245</integer>
    <key>TRY</key><integer>246</integer>
    <key>TTD</key><integer>247</integer>
    <key>TWD</key><integer>248</integer>
    <key>TZS</key><integer>249</integer>
    <key>UAH</key><integer>250</integer>
    <key>UAK</key><integer>251</integer>
    <key>UGS</key><integer>252</integer>
    <key>UGX</key><integer>253</integer>
    <key>USD</key><integer>254</integer>
    <key>USN</key><integer>255</integer>
    <key>USS</key><integer>256</integer>
    <key>UYI</key><integer>257</integer>
    <key>UYP</key><integer>258</integer>
    <key>UYU</key><integer>259</integer>
    <key>UZS</key><integer>260</integer>
    <key>VEB</key><integer>261</integer>
    <key>VEF</key><integer>262</integer>
    <key>VND</key><integer>263</integer>
    <key>VNN</key><integer>264</integer>
    <key>VUV</key><integer>265</integer>
    <key>WST</key><integer>266</integer>
    <key>XAF</key><integer>267</integer>
    <key>XAG</key><integer>268</integer>
    <key>XAU</key><integer>269</integer>
    <key>XBA</key><integer>270</integer>
    <key>XBB</key><integer>271</integer>
    <key>XBC</key><integer>272</integer>
    <key>XBD</key><integer>273</integer>
    <key>XCD</key><integer>274</integer>
    <key>XDR</key><integer>275</integer>
    <key>XEU</key><integer>276</integer>
    <key>XFO</key><integer>277</integer>
    <key>XFU</key><integer>278</integer>
    <key>XOF</key><integer>279</integer>
    <key>XPD</key><integer>280</integer>
    <key>XPF</key><integer>281</integer>
    <key>XPT</key><integer>282</integer>
    <key>XRE</key><integer>283</integer>
    <key>XSU</key><integer>284</integer>
    <key>XTS</key><integer>285</integer>
    <key>XUA</key><integer>286</integer>
    <key>XXX</key><integer>287</integer>
    <key>YDD</key><integer>288</integer>
    <key>YER</key><integer>289</integer>
    <key>YUD</key><integer>290</integer>
    <key>YUM</key><integer>291</integer>
    <key>YUN</key><integer>292</integer>
    <key>YUR</key><integer>293</integer>
    <key>ZAL</key><integer>294</integer>
    <key>ZAR</key><integer>295</integer>
    <key>ZMK</key><integer>296</integer>
    <key>ZMW</key><integer>297</integer>
    <key>ZRN</key><integer>298</integer>
    <key>ZRZ</key><integer>299</integer>
    <key>ZWD</key><integer>300</integer>
    <key>ZWL</key><integer>301</integer>
    <key>ZWR</key><integer>302</integer>
</dict>
</plist>


