[DEFAULT]
state_capture: YES
user_default: NO
allow_country: NO
allow_remote: NO

[namespace]
VectorKitDebug

[DisableAllAssets]
type: BOOL
default: NO

[DisabledAssetList]
type: Array
default: nil

[DisableShadows]
type: BOOL
default: NO

[DisableMetros]
type: BOOL
default: NO

[AllowNonSupportedDeviceAdvancedMap]
type: BOOL
default: NO

[DisplayAllLabelsInARDebugString]
type: BOOL
default: NO

[EnableVerboseEntityLogging]
type: BOOL
default: NO
comment: Need to restart Maps to take effect

[DisableMSAA]
type: BOOL
default: NO
comment: Need to restart Maps to take effect

[ARDebugMinimapShowTileSelection]
type: BOOL
default: NO

[ARDebugMinimapShowBuildings]
type: BOOL
default: YES

[EnableEnhancedCommandBufferErrors]
type: BOOL
default: YES
if: [NDEBUG]
    default: NO
