<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ABC</key>
	<true/>
    <key>BBC</key>
    <true/>
    <key>BRB</key>
    <true/>
    <key>CBC</key>
    <true/>
    <key>DMV</key>
    <true/>
    <key>ESPN</key>
    <true/>
	<key>HBO</key>
	<true/>
    <key>TTFN</key>
    <true/>
    <key>THSSTSTMNPS</key>
    <true/>
</dict>
</plist>
