<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>art</key>
	<dict>
		<key>nonCountNounOrPlural</key>
		<true/>
	</dict>
	<key>clothing</key>
	<dict>
		<key>nonCountNounOrPlural</key>
		<true/>
	</dict>
	<key>cloudy</key>
	<dict>
		<key>speech</key>
		<string>cloudy sky</string>
	</dict>
	<key>currency</key>
	<dict>
		<key>nonCountNounOrPlural</key>
		<true/>
	</dict>
	<key>daytime</key>
	<dict>
		<key>ignored</key>
		<true/>
	</dict>
	<key>food</key>
	<dict>
		<key>nonCountNounOrPlural</key>
		<true/>
	</dict>
	<key>grass</key>
	<dict>
		<key>nonCountNounOrPlural</key>
		<true/>
	</dict>
	<key>handwriting</key>
	<dict>
		<key>nonCountNounOrPlural</key>
		<true/>
	</dict>
	<key>hair</key>
	<dict>
		<key>nonCountNounOrPlural</key>
		<true/>
	</dict>
	<key>henna</key>
	<dict>
		<key>nonCountNounOrPlural</key>
		<true/>
	</dict>
	<key>high_heel</key>
	<dict>
		<key>speech</key>
		<string>high heels</string>
		<key>nonCountNounOrPlural</key>
		<true/>
	</dict>
	<key>housewares</key>
	<dict>
		<key>speech</key>
		<string>household items</string>
		<key>nonCountNounOrPlural</key>
		<true/>
	</dict>
	<key>illustrations</key>
	<dict>
		<key>nonCountNounOrPlural</key>
		<true/>
	</dict>
	<key>jewelry</key>
	<dict>
		<key>nonCountNounOrPlural</key>
		<true/>
	</dict>
	<key>liquid</key>
	<dict>
		<key>nonCountNounOrPlural</key>
		<true/>
	</dict>
	<key>mammal</key>
	<dict>
		<key>speech</key>
		<string>animal</string>
	</dict>
	<key>nascar</key>
	<dict>
		<key>nonCountNounOrPlural</key>
		<true/>
	</dict>
	<key>outdoors</key>
	<dict>
		<key>speech</key>
		<string>outdoor activities</string>
		<key>nonCountNounOrPlural</key>
		<true/>
	</dict>
	<key>outdoor</key>
	<dict>
		<key>speech</key>
		<string>outdoor activities</string>
		<key>nonCountNounOrPlural</key>
		<true/>
	</dict>
	<key>people</key>
	<dict>
		<key>nonCountNounOrPlural</key>
		<true/>
	</dict>
	<key>poultry</key>
	<dict>
		<key>nonCountNounOrPlural</key>
		<true/>
	</dict>
	<key>raw_glass</key>
	<dict>
		<key>speech</key>
		<string>glass item</string>
	</dict>
	<key>shoes</key>
	<dict>
		<key>nonCountNounOrPlural</key>
		<true/>
	</dict>
	<key>sunglasses</key>
	<dict>
		<key>nonCountNounOrPlural</key>
		<true/>
	</dict>
	<key>sunset_sunrise</key>
	<dict>
		<key>speech</key>
		<string>sunrise or sunset</string>
		<key>priority</key>
		<real>1</real>
		<key>subsume</key>
		<array>
			<string>sun</string>
		</array>
	</dict>
	<key>swimming</key>
	<dict>
		<key>speech</key>
		<string>water sports</string>
		<key>nonCountNounOrPlural</key>
		<true/>
	</dict>
	<key>water_body</key>
	<dict>
		<key>speech</key>
		<string>body of water</string>
	</dict>
	<key>water</key>
	<dict>
		<key>nonCountNounOrPlural</key>
		<true/>
	</dict>
	<key>wine</key>
	<dict>
		<key>nonCountNounOrPlural</key>
		<true/>
	</dict>
	<key>wood_processed</key>
	<dict>
		<key>speech</key>
		<string>wood item</string>
	</dict>
</dict>
</plist>
