<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>labels</key>
	<array>
		<string>document</string>
		<string>headgear</string>
	</array>
	<key>people (removed)</key>
	<string>removed people object from denied list - we need the frame in image explorer</string>
</dict>
</plist>
