<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "https://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clickable_text_keywords</key>
	<array>
		<string>login</string>
		<string>done</string>
		<string>browser</string>
		<string>close</string>
		<string>restorepurchase</string>
		<string>back</string>
		<string>needhelp</string>
		<string>skip</string>
		<string>next</string>
		<string>cancel</string>
		<string>forgotpassword</string>
		<string>submit</string>
		<string>later</string>
		<string>signin</string>
		<string>change</string>
		<string>save</string>
		<string>moreoptions</string>
		<string>edit</string>
		<string>learnmore</string>
		<string>filter</string>
		<string>dontallow</string>
		<string>delete</string>
		<string>logout</string>
		<string>restore</string>
		<string>add</string>
		<string>cancell</string>
		<string>maybelater</string>
		<string>follow</string>
		<string>careers</string>
		<string>forgotusername</string>
		<string>changelocation</string>
		<string>restorepurchases</string>
		<string>editactions</string>
		<string>sort</string>
		<string>seeall</string>
		<string>notnow</string>
		<string>list</string>
		<string>readmore</string>
		<string>viewall</string>
		<string>continue</string>
		<string>reload</string>
		<string>joinnow</string>
		<string>privacy</string>
		<string>clear</string>
		<string>forgotemail</string>
		<string>terms</string>
		<string>signout</string>
		<string>reset</string>
		<string>send</string>
		<string>gotit</string>
		<string>nothanks</string>
		<string>show</string>
		<string>reply</string>
		<string>select</string>
		<string>rateus</string>
		<string>blog</string>
		<string>clearall</string>
		<string>start</string>
		<string>showmore</string>
		<string>decline</string>
		<string>seemore</string>
		<string>remove</string>
		<string>finish</string>
		<string>top</string>
		<string>deutsch</string>
		<string>dismiss</string>
		<string>loginhelp</string>
		<string>effect</string>
		<string>allow</string>
		<string>view</string>
		<string>previous</string>
		<string>addphoto</string>
		<string>viewmore</string>
		<string>manage</string>
		<string>resetpassword</string>
		<string>women</string>
		<string>callus</string>
		<string>post</string>
		<string>showall</string>
		<string>accept</string>
		<string>apply</string>
		<string>resendcode</string>
		<string>agree</string>
		<string>refine</string>
		<string>moreinfo</string>
		<string>seerecipe</string>
		<string>emailus</string>
		<string>shopall</string>
	</array>
</dict>
</plist>
