<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_PSRuleMiningModelFeatureSet</key>
	<array>
		<string>contentUrlInRule</string>
		<string>targetBundleIdInRule</string>
		<string>sourceBundleIdInRule</string>
		<string>sourceBundleIdOverlap</string>
		<string>timeOfDaySlotInRule</string>
		<string>timeOfDaySlotOverlap</string>
		<string>isWeekendInRule</string>
		<string>locationOfInterestContainingRuleCount</string>
		<string>locationOfInterestRulesCardinality</string>
		<string>sourceBundleIdContainingRuleCount</string>
		<string>sourceBundleIdRulesCardinality</string>
		<string>targetBundleIdContainingRuleCount</string>
		<string>lowConfidenceRuleCount</string>
		<string>highConfidenceRuleCount</string>
		<string>totalMessagesSent</string>
		<string>totalShares</string>
		<string>confidence</string>
		<string>support</string>
		<string>targetBundleIDInConsequent</string>
	</array>
  <key>numClasses</key>
  <string>1</string>
  <key>numTrees</key>
  <string>50</string>
  <key>maxDepth</key>
  <string>7</string>
  <key>learningRate</key>
  <string>0.01</string>
  <key>minChildWeight</key>
  <string>1</string>
</dict>
</plist>
