<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_PSContactEmbeddingFeatures</key>
	<array>
		<string>contactInHome</string>
		<string>firstPartyMsgDayRatio</string>
		<string>contactInAirDropAtHome</string>
		<string>firstPartyMsgMorningSun</string>
		<string>firstPartyMsgEveFri</string>
		<string>contactParent</string>
		<string>contactInFMFSharingWithMe</string>
		<string>contactInFMFFollowingMe</string>
		<string>contactInFMFFavorite</string>
		<string>firstPartyMsgNoonWeekday</string>
		<string>callMorningWeekday</string>
		<string>callMorningSun</string>
		<string>callNoonFri</string>
		<string>callLongEveWeekday</string>
		<string>callOutgoingRatio</string>
		<string>contactEmergencyFamily</string>
		<string>callTwelveWeeks</string>
		<string>firstPartyMsgTwoWeeks</string>
		<string>callDayRatio</string>
		<string>firstPartyMsgEveSat</string>
		<string>callEveFri</string>
		<string>callNoonWeekday</string>
		<string>firstPartyMsgOutgoingRatio</string>
		<string>callEveWeekday</string>
		<string>callMorningFri</string>
		<string>callNoonSat</string>
		<string>callTotal</string>
		<string>callMorningSat</string>
		<string>callNoonSun</string>
		<string>callEveSat</string>
		<string>contactFamilyRelation</string>
		<string>callTwoWeeks</string>
		<string>firstPartyMsgSixWeeks</string>
		<string>firstPartyMsgNoonSun</string>
		<string>callEveSun</string>
		<string>firstPartyMsgMorningFri</string>
		<string>contactFamilyName</string>
		<string>callSixWeeks</string>
		<string>firstPartyMsgTotal</string>
		<string>firstPartyMsgMorningWeekday</string>
		<string>firstPartyMsgNoonSat</string>
		<string>contactEmergency</string>
		<string>firstPartyMsgEveSun</string>
		<string>firstPartyMsgEveWeekday</string>
		<string>firstPartyMsgNoonFri</string>
		<string>contactInAirDrop</string>
		<string>firstPartyMsgMorningSat</string>
		<string>contactFavorite</string>
		<string>contactInPhotos</string>
		<string>thirdPartyMsgMorningFri</string>
		<string>thirdPartyMsgNoonSun</string>
		<string>thirdPartyMsgMorningWeekday</string>
		<string>thirdPartyMsgNoonWeekday</string>
		<string>thirdPartyMsgDayRatio</string>
		<string>thirdPartyMsgTotal</string>
		<string>thirdPartyMsgTwoWeeks</string>
		<string>thirdPartyMsgNoonFri</string>
		<string>thirdPartyMsgEveSun</string>
		<string>thirdPartyMsgNoonSat</string>
		<string>thirdPartyMsgEveFri</string>
		<string>thirdPartyMsgEveSat</string>
		<string>thirdPartyMsgEveWeekday</string>
	</array>
</dict>
</plist>
