<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ar</key>
	<dict>
		<key>father</key>
		<array>
			<string>أب</string>
			<string>(ا|أ)ب</string>
			<string>والد</string>
			<string>أبو</string>
			<string>اب</string>
			<string>بابا</string>
			<string>أبويا</string>
			<string>(الخاص ب)?أبي</string>
			<string>والدي</string>
			<string>أبوي(ة)?</string>
		</array>
		<key>mother</key>
		<array>
			<string>أم</string>
			<string>(ا|أ)م</string>
			<string>والدة</string>
			<string>(الخاص ب)?(ا|أ)مي</string>
			<string>والدتي</string>
			<string>امي</string>
			<string>ماما</string>
		</array>
	</dict>
	<key>da</key>
	<dict>
		<key>father</key>
		<array>
			<string>far</string>
			<string>fars</string>
		</array>
		<key>mother</key>
		<array>
			<string>mor</string>
			<string>mors</string>
			<string>mama</string>
			<string>mamma</string>
			<string>mutti</string>
		</array>
	</dict>
	<key>de</key>
	<dict>
		<key>father</key>
		<array>
			<string>vater</string>
		</array>
		<key>mother</key>
		<array>
			<string>mutter</string>
		</array>
	</dict>
	<key>en</key>
	<dict>
		<key>father</key>
		<array>
			<string>dad</string>
			<string>daddy</string>
			<string>father</string>
			<string>father</string>
			<string>papa</string>
			<string>pa</string>
		</array>
		<key>mother</key>
		<array>
			<string>mom</string>
			<string>mum</string>
			<string>mother</string>
			<string>mommy</string>
			<string>mummy</string>
			<string>mumsy</string>
			<string>mother</string>
			<string>mam(m)?a</string>
			<string>ma</string>
		</array>
	</dict>
	<key>en/ie</key>
	<dict>
		<key>father</key>
		<array>
			<string>pop(s)?</string>
			<string>old man</string>
			<string>da</string>
			<string>dada</string>
		</array>
		<key>mother</key>
		<array>
			<string>mam</string>
			<string>mammy</string>
		</array>
	</dict>
	<key>en/in</key>
	<dict>
		<key>father</key>
		<array>
			<string>pap(p)?a(ji)?</string>
			<string>baba</string>
			<string>naana</string>
			<string>appa</string>
			<string>abbu</string>
			<string>achan</string>
			<string>bapa</string>
		</array>
		<key>mother</key>
		<array>
			<string>maa(ji)?</string>
			<string>amma</string>
			<string>aai</string>
			<string>ammi</string>
			<string>bou</string>
		</array>
	</dict>
	<key>en/za</key>
	<dict>
		<key>father</key>
		<array>
			<string>(ou )?toppie</string>
		</array>
	</dict>
	<key>es</key>
	<dict>
		<key>father</key>
		<array>
			<string>(papá|papi)</string>
			<string>padre</string>
		</array>
		<key>mother</key>
		<array>
			<string>(mamá|mami)</string>
			<string>madre</string>
		</array>
	</dict>
	<key>es/mx</key>
	<dict>
		<key>father</key>
		<array>
			<string>papá</string>
		</array>
		<key>mother</key>
		<array>
			<string>mamá</string>
		</array>
	</dict>
	<key>fi</key>
	<dict>
		<key>father</key>
		<array>
			<string>isä</string>
			<string>isä(ni|n|äni|ä|lläni|llä|ltäni|ltä|lleni|lle)?</string>
			<string>isi(ni|n|äni|ä|lläni|llä|ltäni|ltä|lleni|lle)?</string>
			<string>iskä(ni|n|äni|ä|lläni|llä|ltäni|ltä|lleni|lle)?</string>
			<string>faija(ni|n|ani|a|llani|lla|ltani|lta|lleni|lle)?</string>
			<string>fatsi(ni|n|ani|a|llani|lla|ltani|lta|lleni|lle)?</string>
		</array>
		<key>mother</key>
		<array>
			<string>äiti</string>
			<string>äidistä(ni)?</string>
			<string>äi(tini|ti|din|tiäni|tiä|dilläni|dillä|diltäni|diltä)</string>
			<string>äidille(ni)?</string>
			<string>äidi</string>
			<string>mutsi(ni|n|ani|a|llani|lla|ltani|lta|lleni|lle)?</string>
		</array>
	</dict>
	<key>fr</key>
	<dict>
		<key>father</key>
		<array>
			<string>père</string>
			<string>père</string>
			<string>papa</string>
			<string>papounet</string>
			<string>papou</string>
			<string>daron</string>
		</array>
		<key>mother</key>
		<array>
			<string>mère</string>
			<string>(mère|maman) d(e|&apos;)</string>
			<string>mère</string>
			<string>maman</string>
			<string>daronne</string>
		</array>
	</dict>
	<key>he</key>
	<dict>
		<key>father</key>
		<array>
			<string>אבא</string>
		</array>
		<key>mother</key>
		<array>
			<string>אמא</string>
		</array>
	</dict>
	<key>it</key>
	<dict>
		<key>father</key>
		<array>
			<string>padre</string>
			<string>papà</string>
			<string>papà</string>
			<string>papà</string>
			<string>papà</string>
			<string>babbo</string>
			<string>papi</string>
			<string>papino</string>
			<string>paparino</string>
			<string>papuccio</string>
			<string>papà</string>
		</array>
		<key>mother</key>
		<array>
			<string>madre</string>
			<string>mamma</string>
			<string>mammina</string>
			<string>mammuccia</string>
			<string>mami</string>
		</array>
	</dict>
	<key>ja</key>
	<dict>
		<key>father</key>
		<array>
			<string>パパ</string>
			<string>父(上)?</string>
			<string>(お)?父(さん|ちゃん)</string>
			<string>親父</string>
			<string>父親</string>
			<string>お父(様|さま)?</string>
			<string>お父さん</string>
			<string>おとん</string>
			<string>ダディ</string>
		</array>
		<key>mother</key>
		<array>
			<string>ママ</string>
			<string>母(上)?</string>
			<string>(お)?母(さん|ちゃん)</string>
			<string>おふくろ</string>
			<string>母親</string>
			<string>お母(様|さま)?</string>
			<string>お母さん</string>
			<string>おかん</string>
			<string>マミー</string>
		</array>
	</dict>
	<key>ko</key>
	<dict>
		<key>father</key>
		<array>
			<string>아버님</string>
		</array>
		<key>mother</key>
		<array>
			<string>어머님</string>
		</array>
	</dict>
	<key>ms</key>
	<dict>
		<key>father</key>
		<array>
			<string>bapa(k)?</string>
			<string>papa</string>
			<string>abah</string>
			<string>ayahanda</string>
		</array>
		<key>mother</key>
		<array>
			<string>emak</string>
			<string>mama</string>
			<string>umi</string>
			<string>bonda</string>
		</array>
	</dict>
	<key>nb</key>
	<dict>
		<key>father</key>
		<array>
			<string>far</string>
			<string>faren</string>
			<string>far</string>
			<string>faren</string>
			<string>fars</string>
			<string>pappa</string>
			<string>pappan</string>
			<string>pappaen</string>
			<string>pappas</string>
			<string>fader</string>
			<string>fadern</string>
			<string>faderen</string>
			<string>faderns</string>
			<string>pap(p)?s</string>
			<string>pap(s)?en</string>
			<string>fatter</string>
			<string>fattern</string>
			<string>fatteren</string>
			<string>fatterns</string>
			<string>fatterens</string>
		</array>
		<key>mother</key>
		<array>
			<string>mor</string>
			<string>moren</string>
			<string>mor</string>
			<string>mora</string>
			<string>moren</string>
			<string>mors</string>
			<string>moder</string>
			<string>modern</string>
			<string>moderen</string>
			<string>moderns</string>
			<string>mamma</string>
			<string>mamman</string>
			<string>mammaen</string>
			<string>mammas</string>
			<string>mams</string>
			<string>mamsen</string>
			<string>mamsens</string>
			<string>mutter(e)?n</string>
			<string>mutter(e)?ns</string>
		</array>
	</dict>
	<key>nl</key>
	<dict>
		<key>father</key>
		<array>
			<string>vader(tje)?(s)?</string>
			<string>papa(atje(s)?|&apos;s)?</string>
			<string>pa(p(s)?)?</string>
			<string>pappie(s)?</string>
			<string>(p|v)ake(s)?</string>
		</array>
		<key>mother</key>
		<array>
			<string>moeder(tje)?(s)?</string>
			<string>mama(atje(s)?|&apos;s)?</string>
			<string>ma(m(s)?)?</string>
			<string>mammie(s)?</string>
			<string>moeke(s)?</string>
		</array>
	</dict>
	<key>pt</key>
	<dict>
		<key>father</key>
		<array>
			<string>pai</string>
			<string>(pai|papai|painho)(s)?</string>
			<string>véio</string>
			<string>velho</string>
		</array>
		<key>mother</key>
		<array>
			<string>mãe</string>
			<string>(mãe|mãinha|mamãe)(s)?</string>
			<string>véia</string>
			<string>velha</string>
		</array>
	</dict>
	<key>ru</key>
	<dict>
		<key>father</key>
		<array>
			<string>отец</string>
			<string>отца</string>
			<string>отцу</string>
			<string>отца</string>
			<string>отцом</string>
			<string>отце</string>
			<string>(папа|папиного)</string>
			<string>(папаня|папаниного)</string>
			<string>(папенька|папенькиного)</string>
			<string>(папочка|папочкиного)</string>
			<string>(папул(я|а)|папулиного)</string>
			<string>(папаша|папашиного)</string>
			<string>(тятя|тятиного)</string>
			<string>(тятька|тятькиного)</string>
			<string>(тятенька|тятенькиного)</string>
			<string>(батя|батиного)</string>
			<string>(батька|батькиного)</string>
			<string>(батяня|батяниного)</string>
			<string>папан</string>
		</array>
		<key>mother</key>
		<array>
			<string>мать</string>
			<string>матери</string>
			<string>матери</string>
			<string>мать</string>
			<string>матерью</string>
			<string>матери</string>
			<string>(мама|маминого)</string>
			<string>(маменька|маменькиного)</string>
			<string>(маманя|маманиного)</string>
			<string>(мамка|мамкиного)</string>
			<string>(мамочка|мамочкиного)</string>
			<string>(мамуля|мамулиного)</string>
			<string>(маманя|маманиного)</string>
			<string>(мамаша|мамашиного)</string>
			<string>(матушка|матушкиного)</string>
			<string>маманька</string>
			<string>маман</string>
		</array>
	</dict>
	<key>th</key>
	<dict>
		<key>father</key>
		<array>
			<string>(คุณ)?พ่อ</string>
			<string>(คุณ)?(ป๊า|ป่าป๊า)</string>
			<string>(คุณ)?(แด๊ด|แด๊ดดี้)</string>
			<string>(คุณ)?(พ่อ|ป๊า|ป่าป๊า|แด๊ด|แด๊ดดี้)$(me)?</string>
			<string>พ่อ</string>
			<string>(dad|daddy|father)</string>
		</array>
		<key>mother</key>
		<array>
			<string>(คุณ)?แม่</string>
			<string>(คุณ)?(หม่ามี้|หม่าม้า|ม้า|มี้)</string>
			<string>(คุณ)?(แม่|หม่ามี้|หม่าม้า|ม้า|มี้)$(me)?</string>
			<string>แม่</string>
			<string>(mom|mum|mother)</string>
		</array>
	</dict>
	<key>tr</key>
	<dict>
		<key>father</key>
		<array>
			<string>baba</string>
			<string>babiş(ko)?</string>
			<string>babacı(k|ğı)?</string>
			<string>peder</string>
		</array>
		<key>mother</key>
		<array>
			<string>anne</string>
			<string>ana</string>
			<string>anniş(ko)?</string>
			<string>anneci(k|ği)?</string>
			<string>vali( )?de</string>
			<string>annem(e)?</string>
		</array>
	</dict>
	<key>vi</key>
	<dict>
		<key>father</key>
		<array>
			<string>(bố|ba|thầy|cha)</string>
			<string>bố</string>
		</array>
		<key>mother</key>
		<array>
			<string>(mẹ|má|bu|u|bầm)</string>
			<string>mẹ</string>
		</array>
	</dict>
	<key>zh/cn</key>
	<dict>
		<key>father</key>
		<array>
			<string>爸(爸(爸爸)?(爸爸)?)?</string>
			<string>爹</string>
			<string>老爸</string>
			<string>阿爸</string>
			<string>老爹</string>
			<string>父亲</string>
			<string>父亲大人</string>
		</array>
		<key>mother</key>
		<array>
			<string>妈(妈(妈妈)?(妈妈)?)?</string>
			<string>娘(亲)?</string>
			<string>妈咪</string>
			<string>老妈</string>
			<string>阿妈</string>
			<string>母亲</string>
			<string>母亲大人</string>
			<string>我妈</string>
		</array>
	</dict>
	<key>zh/hk</key>
	<dict>
		<key>father</key>
		<array>
			<string>爹地</string>
			<string>爹哋</string>
			<string>爸爸(爸爸)?</string>
			<string>阿爸</string>
			<string>老竇</string>
			<string>老豆</string>
			<string>阿爹</string>
			<string>父親</string>
			<string>老頭子</string>
			<string>dad</string>
			<string>daddy</string>
			<string>father</string>
			<string>阿爸</string>
			<string>爸</string>
		</array>
		<key>mother</key>
		<array>
			<string>老媽子</string>
			<string>老媽</string>
			<string>媽子</string>
			<string>媽媽(媽媽)?</string>
			<string>媽媽</string>
			<string>老母</string>
			<string>母親</string>
			<string>阿媽</string>
			<string>媽咪</string>
			<string>呀媽</string>
			<string>娘親</string>
			<string>mommy</string>
			<string>mother</string>
			<string>媽打</string>
			<string>阿媽</string>
			<string>媽</string>
		</array>
	</dict>
	<key>zh/tw</key>
	<dict>
		<key>father</key>
		<array>
			<string>父親</string>
			<string>(爸爸|阿爸|老爸|爹地|家父)</string>
			<string>((老)?爹|爸)</string>
			<string>(吧|把)</string>
			<string>(吧|把)</string>
			<string>((給)?我)?(吧|把)</string>
		</array>
		<key>mother</key>
		<array>
			<string>母親</string>
			<string>(媽媽|嬤嬤|老媽|娘親|媽咪)</string>
			<string>(媽|娘)</string>
			<string>嗎</string>
			<string>((給)?我)?嗎</string>
		</array>
	</dict>
</dict>
</plist>
