<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MagicKeyboardLong</key>
	<dict>
		<key>Color</key>
		<dict>
			<key>0x20</key>
			<string>Silver</string>
			<key>0x21</key>
			<string>White</string>
			<key>0x24</key>
			<string>Yellow</string>
			<key>0x25</key>
			<string>Green</string>
			<key>0x26</key>
			<string>Blue</string>
			<key>0x27</key>
			<string>Pink</string>
			<key>0x28</key>
			<string>Purple</string>
			<key>0x29</key>
			<string>Orange</string>
		</dict>
		<key>Bundle</key>
		<string>/System/Library/PrivateFrameworks/BiometricKitUI.framework</string>
	</dict>
</dict>
</plist>
