<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<!-- Display order: FirstName LastName: 0 LastName FirstName: 1 -->
    <key>ABNameDisplay</key>
	<integer>0</integer>
	<!-- Sorting order: Sort by FirstName: 0 Sort by LastName: 1 -->
    <key>ABNameSorting</key>
	<integer>1</integer>
	<!-- Short name style: None: 0, First name + last initial: 1, First initial + last name: 2, First name only: 3, Last name only: 4 -->
    <key>ABShortNameStyle</key>
	<integer>3</integer>
	<!-- Encoding for 2.1 vcards -->
    <key>AB21vCardEncoding</key>
	<string>MACINTOSH</string>
	<key>ABNameViewPhotoInsetLeading</key>
	<integer>96</integer>
	<key>ABTemplateNameViewPhotoInsetLeading</key>
	<integer>140</integer>
</dict>
</plist>
