<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>20A241128</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.VisualIntelligence.ObjectDetection</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>ObjectDetection</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>21E251</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>12.3</string>
	<key>DTSDKBuild</key>
	<string>21E251</string>
	<key>DTSDKName</key>
	<string>macosx12.3.internal</string>
	<key>DTXcode</key>
	<string>1330</string>
	<key>DTXcodeBuild</key>
	<string>13E6049a</string>
	<key>LSMinimumSystemVersion</key>
	<string>12.3</string>
	<key>VI_MODEL</key>
	<dict>
		<key>assets</key>
		<dict>
			<key>mapping</key>
			<string>ObjectDetectionMapping</string>
			<key>metadata</key>
			<string>ObjectDetectionMetadata</string>
		</dict>
		<key>modelFactorName</key>
		<string>ObjectDetectionModel</string>
		<key>modelID</key>
		<string>flash.detector.effdetflow-5e4yierjpa_300000-nms_perclass_0.35_0.05_50-Q--nbits_16</string>
		<key>name</key>
		<string>object_detection</string>
		<key>role</key>
		<string>objectDetection</string>
		<key>urn</key>
		<string>urn:mlmodel:argos/detector/5e4yierjpa</string>
	</dict>
</dict>
</plist>
