<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>domainMap</key>
	<dict>
		<key>art</key>
		<dict>
			<key>name</key>
			<string>photo.fill</string>
			<key>defaultPosition</key>
			<string>object</string>
			<key>domainName</key>
			<string>art</string>
		</dict>
		<key>nature</key>
		<dict>
			<key>name</key>
			<string>leaf.fill</string>
			<key>defaultPosition</key>
			<string>object</string>
			<key>domainName</key>
			<string>nature</string>
		</dict>
		<key>landmark</key>
		<dict>
			<key>name</key>
			<string>map</string>
			<key>defaultPosition</key>
			<string>image</string>
			<key>domainName</key>
			<string>landmark</string>
		</dict>
		<key>media</key>
		<dict>
			<key>name</key>
			<string>music.on.film</string>
			<key>defaultPosition</key>
			<string>object</string>
			<key>domainName</key>
			<string>media</string>
		</dict>
		<key>book</key>
		<dict>
			<key>name</key>
			<string>book.closed.fill</string>
			<key>defaultPosition</key>
			<string>object</string>
			<key>domainName</key>
			<string>book</string>
		</dict>
		<key>album</key>
		<dict>
			<key>name</key>
			<string>music</string>
			<key>defaultPosition</key>
			<string>object</string>
			<key>domainName</key>
			<string>album</string>
		</dict>
		<key>cats</key>
		<dict>
			<key>name</key>
			<string>pawprint.fill</string>
			<key>defaultPosition</key>
			<string>object</string>
			<key>domainName</key>
			<string>cats</string>
		</dict>
		<key>dogs</key>
		<dict>
			<key>name</key>
			<string>pawprint.fill</string>
			<key>defaultPosition</key>
			<string>object</string>
			<key>domainName</key>
			<string>dogs</string>
		</dict>
	</dict>
</dict>
</plist>
