<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>20A241128</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>ConditionInducer</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.ConditionInducer</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>ConditionInducer</string>
	<key>CFBundlePackageType</key>
	<string>FMWK</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>13E6049a</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>12.3</string>
	<key>DTSDKBuild</key>
	<string>21E216a</string>
	<key>DTSDKName</key>
	<string>macosx12.3.internal</string>
	<key>DTXcode</key>
	<string>1330</string>
	<key>DTXcodeBuild</key>
	<string>13E6049a</string>
	<key>LSMinimumSystemVersion</key>
	<string>12.3</string>
	<key>SupportedConditionData</key>
	<dict>
		<key>GPUPerformanceState</key>
		<dict>
			<key>Metadata</key>
			<dict>
				<key>ConditionIdentifierName</key>
				<string>GPUPerformanceState</string>
				<key>ConditionIsDestructive</key>
				<false/>
				<key>ConditionIsInternalOnly</key>
				<false/>
				<key>ConditionPersistsAfterReboot</key>
				<false/>
				<key>ConditionUserFriendlyName</key>
				<string>GPU Performance State</string>
			</dict>
			<key>Profiles</key>
			<array>
				<string>GPUPerformanceStateDefault</string>
				<string>GPUPerformanceStateMin</string>
				<string>GPUPerformanceStateMid</string>
				<string>GPUPerformanceStateMax</string>
			</array>
		</dict>
		<key>SlowNetworkCondition</key>
		<dict>
			<key>Metadata</key>
			<dict>
				<key>ConditionIdentifierName</key>
				<string>SlowNetworkCondition</string>
				<key>ConditionIsDestructive</key>
				<false/>
				<key>ConditionIsInternalOnly</key>
				<false/>
				<key>ConditionPersistsAfterReboot</key>
				<false/>
				<key>ConditionUserFriendlyName</key>
				<string>Network Link</string>
			</dict>
			<key>Profiles</key>
			<array>
				<string>SlowNetwork100PctLoss</string>
				<string>SlowNetworkVeryBadNetwork</string>
				<string>SlowNetworkEdgeBad</string>
				<string>SlowNetworkEdgeAverage</string>
				<string>SlowNetworkEdgeGood</string>
				<string>SlowNetworkEdge</string>
				<string>SlowNetwork2GRural</string>
				<string>SlowNetwork2GUrban</string>
				<string>SlowNetwork3GAverage</string>
				<string>SlowNetwork3GGood</string>
				<string>SlowNetwork3G</string>
				<string>SlowNetworkLTE</string>
				<string>SlowNetworkWiFi</string>
				<string>SlowNetworkWiFi80211AC</string>
				<string>SlowNetworkDSL</string>
				<string>SlowNetworkHighLatencyDNS</string>
			</array>
		</dict>
		<key>ThermalCondition</key>
		<dict>
			<key>Metadata</key>
			<dict>
				<key>ConditionIdentifierName</key>
				<string>ThermalCondition</string>
				<key>ConditionIsDestructive</key>
				<false/>
				<key>ConditionIsInternalOnly</key>
				<false/>
				<key>ConditionPersistsAfterReboot</key>
				<false/>
				<key>ConditionUserFriendlyName</key>
				<string>Thermal State</string>
			</dict>
			<key>Profiles</key>
			<array>
				<string>ThermalNominal</string>
				<string>ThermalFair</string>
				<string>ThermalSerious</string>
				<string>ThermalCritical</string>
			</array>
		</dict>
	</dict>
	<key>SupportedConditionsiOS</key>
	<array>
		<string>SlowNetworkCondition</string>
		<string>ThermalCondition</string>
		<string>GPUPerformanceState</string>
	</array>
	<key>SupportedConditionsmacOS</key>
	<array>
		<string>SlowNetworkCondition</string>
	</array>
	<key>SupportedConditionstvOS</key>
	<array>
		<string>SlowNetworkCondition</string>
		<string>ThermalCondition</string>
		<string>GPUPerformanceState</string>
	</array>
	<key>SupportedConditionswatchOS</key>
	<array>
		<string>SlowNetworkCondition</string>
		<string>ThermalCondition</string>
	</array>
</dict>
</plist>
