<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>100% Loss</key>
	<dict>
		<key>name</key>
		<string>100% Loss Scenario</string>
		<key>DownlinkDelay</key>
		<integer>0</integer>
		<key>DownlinkPacketLossRatio</key>
		<integer>100</integer>
		<key>DownlinkBandwidth</key>
		<integer>0</integer>
		<key>UplinkDelay</key>
		<integer>0</integer>
		<key>UplinkPacketLossRatio</key>
		<integer>100</integer>
		<key>UplinkBandwidth</key>
		<integer>0</integer>
	</dict>
	<key>Very Bad Network</key>
	<dict>
		<key>name</key>
		<string>Very Bad Network Scenario</string>
		<key>DownlinkDelay</key>
		<integer>500</integer>
		<key>DownlinkPacketLossRatio</key>
		<integer>10</integer>
		<key>DownlinkBandwidth</key>
		<integer>1</integer>
		<key>UplinkDelay</key>
		<integer>500</integer>
		<key>UplinkPacketLossRatio</key>
		<integer>10</integer>
		<key>UplinkBandwidth</key>
		<integer>1</integer>
	</dict>
	<key>Edge-Bad</key>
	<dict>
		<key>name</key>
		<string>Bad EDGE Scenario</string>
		<key>DownlinkDelay</key>
		<integer>400</integer>
		<key>DownlinkPacketLossRatio</key>
		<integer>1</integer>
		<key>DownlinkBandwidth</key>
		<real>0.24</real>
		<key>UplinkDelay</key>
		<integer>440</integer>
		<key>UplinkPacketLossRatio</key>
		<integer>1</integer>
		<key>UplinkBandwidth</key>
		<real>0.2</real>
	</dict>
	<key>Edge-Average</key>
	<dict>
		<key>name</key>
		<string>Average EDGE Scenario</string>
		<key>DownlinkDelay</key>
		<integer>400</integer>
		<key>DownlinkPacketLossRatio</key>
		<real>0.042</real>
		<key>DownlinkBandwidth</key>
		<real>0.24</real>
		<key>UplinkDelay</key>
		<integer>440</integer>
		<key>UplinkPacketLossRatio</key>
		<real>0.05</real>
		<key>UplinkBandwidth</key>
		<real>0.2</real>
	</dict>
	<key>Edge-Good</key>
	<dict>
		<key>name</key>
		<string>Good EDGE Scenario</string>
		<key>DownlinkDelay</key>
		<integer>350</integer>
		<key>DownlinkPacketLossRatio</key>
		<real>0.004</real>
		<key>DownlinkBandwidth</key>
		<real>0.25</real>
		<key>UplinkDelay</key>
		<integer>370</integer>
		<key>UplinkPacketLossRatio</key>
		<real>0.0027</real>
		<key>UplinkBandwidth</key>
		<real>0.2</real>
	</dict>
	<key>Edge</key>
	<dict>
		<key>name</key>
		<string>Nominal EDGE Scenario</string>
		<key>DownlinkDelay</key>
		<integer>400</integer>
		<key>DownlinkPacketLossRatio</key>
		<integer>0</integer>
		<key>DownlinkBandwidth</key>
		<real>0.24</real>
		<key>UplinkDelay</key>
		<integer>400</integer>
		<key>UplinkPacketLossRatio</key>
		<integer>0</integer>
		<key>UplinkBandwidth</key>
		<real>0.2</real>
	</dict>
	<key>2G-Rural</key>
	<dict>
		<key>name</key>
		<string>2G Rural Scenario</string>
		<key>DownlinkDelay</key>
		<integer>650</integer>
		<key>DownlinkPacketLossRatio</key>
		<integer>2</integer>
		<key>DownlinkBandwidth</key>
		<real>0.02</real>
		<key>UplinkDelay</key>
		<integer>650</integer>
		<key>UplinkPacketLossRatio</key>
		<integer>2</integer>
		<key>UplinkBandwidth</key>
		<real>0.018</real>
	</dict>
	<key>2G-Urban</key>
	<dict>
		<key>name</key>
		<string>2G Urban Scenario</string>
		<key>DownlinkDelay</key>
		<integer>650</integer>
		<key>DownlinkPacketLossRatio</key>
		<integer>0</integer>
		<key>DownlinkBandwidth</key>
		<real>0.035</real>
		<key>UplinkDelay</key>
		<integer>650</integer>
		<key>UplinkPacketLossRatio</key>
		<integer>0</integer>
		<key>UplinkBandwidth</key>
		<real>0.032</real>
	</dict>
	<key>3G-Average</key>
	<dict>
		<key>name</key>
		<string>Average 3G Scenario</string>
		<key>DownlinkDelay</key>
		<integer>100</integer>
		<key>DownlinkPacketLossRatio</key>
		<real>0.025</real>
		<key>DownlinkBandwidth</key>
		<real>0.78</real>
		<key>UplinkDelay</key>
		<integer>100</integer>
		<key>UplinkPacketLossRatio</key>
		<real>0.03</real>
		<key>UplinkBandwidth</key>
		<real>0.33</real>
	</dict>
	<key>3G-Good</key>
	<dict>
		<key>name</key>
		<string>Good 3G Scenario</string>
		<key>DownlinkDelay</key>
		<integer>90</integer>
		<key>DownlinkPacketLossRatio</key>
		<real>0.008</real>
		<key>DownlinkBandwidth</key>
		<real>0.85</real>
		<key>UplinkDelay</key>
		<integer>100</integer>
		<key>UplinkPacketLossRatio</key>
		<real>0.014</real>
		<key>UplinkBandwidth</key>
		<real>0.42</real>
	</dict>
	<key>3G</key>
	<dict>
		<key>name</key>
		<string>Nominal 3G Scenario</string>
		<key>DownlinkDelay</key>
		<integer>100</integer>
		<key>DownlinkPacketLossRatio</key>
		<integer>0</integer>
		<key>DownlinkBandwidth</key>
		<real>0.78</real>
		<key>UplinkDelay</key>
		<integer>100</integer>
		<key>UplinkPacketLossRatio</key>
		<integer>0</integer>
		<key>UplinkBandwidth</key>
		<real>0.33</real>
	</dict>
	<key>LTE</key>
	<dict>
		<key>name</key>
		<string>Nominal LTE Scenario</string>
		<key>DownlinkDelay</key>
		<integer>50</integer>
		<key>DownlinkPacketLossRatio</key>
		<integer>0</integer>
		<key>DownlinkBandwidth</key>
		<integer>50</integer>
		<key>UplinkDelay</key>
		<integer>50</integer>
		<key>UplinkPacketLossRatio</key>
		<integer>0</integer>
		<key>UplinkBandwidth</key>
		<integer>10</integer>
	</dict>
	<key>Wi-Fi</key>
	<dict>
		<key>name</key>
		<string>Nominal Wi-Fi Scenario</string>
		<key>DownlinkDelay</key>
		<integer>1</integer>
		<key>DownlinkPacketLossRatio</key>
		<integer>0</integer>
		<key>DownlinkBandwidth</key>
		<integer>40</integer>
		<key>UplinkDelay</key>
		<integer>1</integer>
		<key>UplinkPacketLossRatio</key>
		<integer>0</integer>
		<key>UplinkBandwidth</key>
		<integer>33</integer>
	</dict>
	<key>Wi-Fi 802.11ac</key>
	<dict>
		<key>name</key>
		<string>Nominal Wi-Fi 802.11ac Scenario</string>
		<key>DownlinkDelay</key>
		<integer>1</integer>
		<key>DownlinkPacketLossRatio</key>
		<integer>0</integer>
		<key>DownlinkBandwidth</key>
		<integer>250</integer>
		<key>UplinkDelay</key>
		<integer>1</integer>
		<key>UplinkPacketLossRatio</key>
		<integer>0</integer>
		<key>UplinkBandwidth</key>
		<integer>100</integer>
	</dict>
	<key>DSL</key>
	<dict>
		<key>name</key>
		<string>Digital Subscriber Line Scenario</string>
		<key>DownlinkDelay</key>
		<integer>5</integer>
		<key>DownlinkPacketLossRatio</key>
		<real>0.05</real>
		<key>DownlinkBandwidth</key>
		<integer>2</integer>
		<key>UplinkDelay</key>
		<integer>5</integer>
		<key>UplinkPacketLossRatio</key>
		<real>0.039</real>
		<key>UplinkBandwidth</key>
		<real>0.256</real>
	</dict>
	<key>High Latency DNS</key>
	<dict>
		<key>name</key>
		<string>High Latency DNS Scenario</string>
		<key>DNSDelayValue</key>
		<integer>3000</integer>
	</dict>
	<key>Cable</key>
	<dict>
		<key>name</key>
		<string>Cable</string>
		<key>DownlinkDelay</key>
		<integer>2</integer>
		<key>DownlinkPacketLossRatio</key>
		<real>0.017</real>
		<key>DownlinkBandwidth</key>
		<integer>6</integer>
		<key>UplinkDelay</key>
		<integer>2</integer>
		<key>UplinkPacketLossRatio</key>
		<real>0.01</real>
		<key>UplinkBandwidth</key>
		<integer>1</integer>
	</dict>
	<key>CrowdedSpace</key>
	<dict>
		<key>name</key>
		<string>Crowded Space Scenario</string>
		<key>DownlinkDelay</key>
		<integer>100</integer>
		<key>DownlinkPacketLossRatio</key>
		<integer>2</integer>
		<key>DownlinkBandwidth</key>
		<real>0.5</real>
		<key>UplinkDelay</key>
		<integer>100</integer>
		<key>UplinkPacketLossRatio</key>
		<integer>4</integer>
		<key>UplinkBandwidth</key>
		<real>0.4</real>
	</dict>
</dict>
</plist>
