<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>antennaFilterPathSelection</key>
		<string>0</string>
		<key>btAgcCoexMode</key>
		<string>0</string>
		<key>btDiversityBlacklistType</key>
		<string>1</string>
		<key>btFirstChannelToAvoid</key>
		<string>0</string>
		<key>btLastChannelToAvoid</key>
		<string>0</string>
		<key>cellBandwidthLimitForOOB</key>
		<string>0</string>
		<key>cellFrequencyLimitForOOB</key>
		<string>0</string>
		<key>cellTxPowerLimit</key>
		<string>0</string>
		<key>isWiFiDesense</key>
		<string>1</string>
		<key>issueBand</key>
		<string>0</string>
		<key>issueType</key>
		<string>0</string>
		<key>wifiBtAgcCoexMode</key>
		<string>0</string>
	</dict>
	<dict>
		<key>antennaFilterPathSelection</key>
		<string>0</string>
		<key>btAgcCoexMode</key>
		<string>0</string>
		<key>btDiversityBlacklistType</key>
		<string>1</string>
		<key>btFirstChannelToAvoid</key>
		<string>0</string>
		<key>btLastChannelToAvoid</key>
		<string>0</string>
		<key>cellBandwidthLimitForOOB</key>
		<string>0</string>
		<key>cellFrequencyLimitForOOB</key>
		<string>0</string>
		<key>cellTxPowerLimit</key>
		<string>0</string>
		<key>isWiFiDesense</key>
		<string>0</string>
		<key>issueBand</key>
		<string>0</string>
		<key>issueType</key>
		<string>7</string>
		<key>wifiBtAgcCoexMode</key>
		<string>0</string>
	</dict>
	<dict>
		<key>antennaFilterPathSelection</key>
		<string>0</string>
		<key>btAgcCoexMode</key>
		<string>0</string>
		<key>btDiversityBlacklistType</key>
		<string>3</string>
		<key>btFirstChannelToAvoid</key>
		<string>0</string>
		<key>btLastChannelToAvoid</key>
		<string>0</string>
		<key>cellBandwidthLimitForOOB</key>
		<string>0</string>
		<key>cellFrequencyLimitForOOB</key>
		<string>0</string>
		<key>cellTxPowerLimit</key>
		<string>0</string>
		<key>isWiFiDesense</key>
		<string>1</string>
		<key>issueBand</key>
		<string>1</string>
		<key>issueType</key>
		<string>0</string>
		<key>wifiBtAgcCoexMode</key>
		<string>0</string>
	</dict>
	<dict>
		<key>antennaFilterPathSelection</key>
		<string>0</string>
		<key>btAgcCoexMode</key>
		<string>0</string>
		<key>btDiversityBlacklistType</key>
		<string>3</string>
		<key>btFirstChannelToAvoid</key>
		<string>0</string>
		<key>btLastChannelToAvoid</key>
		<string>0</string>
		<key>cellBandwidthLimitForOOB</key>
		<string>0</string>
		<key>cellFrequencyLimitForOOB</key>
		<string>0</string>
		<key>cellTxPowerLimit</key>
		<string>0</string>
		<key>isWiFiDesense</key>
		<string>0</string>
		<key>issueBand</key>
		<string>1</string>
		<key>issueType</key>
		<string>2</string>
		<key>wifiBtAgcCoexMode</key>
		<string>0</string>
	</dict>
	<dict>
		<key>antennaFilterPathSelection</key>
		<string>0</string>
		<key>btAgcCoexMode</key>
		<string>0</string>
		<key>btDiversityBlacklistType</key>
		<string>3</string>
		<key>btFirstChannelToAvoid</key>
		<string>0</string>
		<key>btLastChannelToAvoid</key>
		<string>0</string>
		<key>cellBandwidthLimitForOOB</key>
		<string>0</string>
		<key>cellFrequencyLimitForOOB</key>
		<string>0</string>
		<key>cellTxPowerLimit</key>
		<string>0</string>
		<key>isWiFiDesense</key>
		<string>0</string>
		<key>issueBand</key>
		<string>1</string>
		<key>issueType</key>
		<string>8</string>
		<key>wifiBtAgcCoexMode</key>
		<string>0</string>
	</dict>
	<dict>
		<key>antennaFilterPathSelection</key>
		<string>0</string>
		<key>btAgcCoexMode</key>
		<string>0</string>
		<key>btDiversityBlacklistType</key>
		<string>3</string>
		<key>btFirstChannelToAvoid</key>
		<string>0</string>
		<key>btLastChannelToAvoid</key>
		<string>0</string>
		<key>cellBandwidthLimitForOOB</key>
		<string>0</string>
		<key>cellFrequencyLimitForOOB</key>
		<string>0</string>
		<key>cellTxPowerLimit</key>
		<string>0</string>
		<key>isWiFiDesense</key>
		<string>0</string>
		<key>issueBand</key>
		<string>2</string>
		<key>issueType</key>
		<string>2</string>
		<key>wifiBtAgcCoexMode</key>
		<string>0</string>
	</dict>
	<dict>
		<key>antennaFilterPathSelection</key>
		<string>0</string>
		<key>btAgcCoexMode</key>
		<string>0</string>
		<key>btDiversityBlacklistType</key>
		<string>3</string>
		<key>btFirstChannelToAvoid</key>
		<string>0</string>
		<key>btLastChannelToAvoid</key>
		<string>0</string>
		<key>cellBandwidthLimitForOOB</key>
		<string>0</string>
		<key>cellFrequencyLimitForOOB</key>
		<string>0</string>
		<key>cellTxPowerLimit</key>
		<string>0</string>
		<key>isWiFiDesense</key>
		<string>1</string>
		<key>issueBand</key>
		<string>3</string>
		<key>issueType</key>
		<string>0</string>
		<key>wifiBtAgcCoexMode</key>
		<string>0</string>
	</dict>
	<dict>
		<key>antennaFilterPathSelection</key>
		<string>0</string>
		<key>btAgcCoexMode</key>
		<string>0</string>
		<key>btDiversityBlacklistType</key>
		<string>3</string>
		<key>btFirstChannelToAvoid</key>
		<string>0</string>
		<key>btLastChannelToAvoid</key>
		<string>0</string>
		<key>cellBandwidthLimitForOOB</key>
		<string>0</string>
		<key>cellFrequencyLimitForOOB</key>
		<string>0</string>
		<key>cellTxPowerLimit</key>
		<string>0</string>
		<key>isWiFiDesense</key>
		<string>0</string>
		<key>issueBand</key>
		<string>3</string>
		<key>issueType</key>
		<string>2</string>
		<key>wifiBtAgcCoexMode</key>
		<string>0</string>
	</dict>
	<dict>
		<key>antennaFilterPathSelection</key>
		<string>0</string>
		<key>btAgcCoexMode</key>
		<string>0</string>
		<key>btDiversityBlacklistType</key>
		<string>3</string>
		<key>btFirstChannelToAvoid</key>
		<string>0</string>
		<key>btLastChannelToAvoid</key>
		<string>0</string>
		<key>cellBandwidthLimitForOOB</key>
		<string>0</string>
		<key>cellFrequencyLimitForOOB</key>
		<string>0</string>
		<key>cellTxPowerLimit</key>
		<string>0</string>
		<key>isWiFiDesense</key>
		<string>0</string>
		<key>issueBand</key>
		<string>3</string>
		<key>issueType</key>
		<string>8</string>
		<key>wifiBtAgcCoexMode</key>
		<string>0</string>
	</dict>
	<dict>
		<key>antennaFilterPathSelection</key>
		<string>0</string>
		<key>btAgcCoexMode</key>
		<string>0</string>
		<key>btDiversityBlacklistType</key>
		<string>3</string>
		<key>btFirstChannelToAvoid</key>
		<string>0</string>
		<key>btLastChannelToAvoid</key>
		<string>0</string>
		<key>cellBandwidthLimitForOOB</key>
		<string>0</string>
		<key>cellFrequencyLimitForOOB</key>
		<string>0</string>
		<key>cellTxPowerLimit</key>
		<string>0</string>
		<key>isWiFiDesense</key>
		<string>0</string>
		<key>issueBand</key>
		<string>4</string>
		<key>issueType</key>
		<string>2</string>
		<key>wifiBtAgcCoexMode</key>
		<string>0</string>
	</dict>
	<dict>
		<key>antennaFilterPathSelection</key>
		<string>0</string>
		<key>btAgcCoexMode</key>
		<string>0</string>
		<key>btDiversityBlacklistType</key>
		<string>3</string>
		<key>btFirstChannelToAvoid</key>
		<string>0</string>
		<key>btLastChannelToAvoid</key>
		<string>0</string>
		<key>cellBandwidthLimitForOOB</key>
		<string>0</string>
		<key>cellFrequencyLimitForOOB</key>
		<string>0</string>
		<key>cellTxPowerLimit</key>
		<string>0</string>
		<key>isWiFiDesense</key>
		<string>0</string>
		<key>issueBand</key>
		<string>5</string>
		<key>issueType</key>
		<string>7</string>
		<key>wifiBtAgcCoexMode</key>
		<string>0</string>
	</dict>
	<dict>
		<key>antennaFilterPathSelection</key>
		<string>0</string>
		<key>btAgcCoexMode</key>
		<string>0</string>
		<key>btDiversityBlacklistType</key>
		<string>3</string>
		<key>btFirstChannelToAvoid</key>
		<string>0</string>
		<key>btLastChannelToAvoid</key>
		<string>0</string>
		<key>cellBandwidthLimitForOOB</key>
		<string>0</string>
		<key>cellFrequencyLimitForOOB</key>
		<string>0</string>
		<key>cellTxPowerLimit</key>
		<string>0</string>
		<key>isWiFiDesense</key>
		<string>0</string>
		<key>issueBand</key>
		<string>5</string>
		<key>issueType</key>
		<string>2</string>
		<key>wifiBtAgcCoexMode</key>
		<string>0</string>
	</dict>
	<dict>
		<key>antennaFilterPathSelection</key>
		<string>0</string>
		<key>btAgcCoexMode</key>
		<string>0</string>
		<key>btDiversityBlacklistType</key>
		<string>3</string>
		<key>btFirstChannelToAvoid</key>
		<string>0</string>
		<key>btLastChannelToAvoid</key>
		<string>0</string>
		<key>cellBandwidthLimitForOOB</key>
		<string>0</string>
		<key>cellFrequencyLimitForOOB</key>
		<string>0</string>
		<key>cellTxPowerLimit</key>
		<string>0</string>
		<key>isWiFiDesense</key>
		<string>1</string>
		<key>issueBand</key>
		<string>6</string>
		<key>issueType</key>
		<string>0</string>
		<key>wifiBtAgcCoexMode</key>
		<string>0</string>
	</dict>
	<dict>
		<key>antennaFilterPathSelection</key>
		<string>0</string>
		<key>btAgcCoexMode</key>
		<string>0</string>
		<key>btDiversityBlacklistType</key>
		<string>3</string>
		<key>btFirstChannelToAvoid</key>
		<string>0</string>
		<key>btLastChannelToAvoid</key>
		<string>0</string>
		<key>cellBandwidthLimitForOOB</key>
		<string>0</string>
		<key>cellFrequencyLimitForOOB</key>
		<string>0</string>
		<key>cellTxPowerLimit</key>
		<string>0</string>
		<key>isWiFiDesense</key>
		<string>0</string>
		<key>issueBand</key>
		<string>6</string>
		<key>issueType</key>
		<string>2</string>
		<key>wifiBtAgcCoexMode</key>
		<string>0</string>
	</dict>
	<dict>
		<key>antennaFilterPathSelection</key>
		<string>0</string>
		<key>btAgcCoexMode</key>
		<string>0</string>
		<key>btDiversityBlacklistType</key>
		<string>3</string>
		<key>btFirstChannelToAvoid</key>
		<string>0</string>
		<key>btLastChannelToAvoid</key>
		<string>0</string>
		<key>cellBandwidthLimitForOOB</key>
		<string>0</string>
		<key>cellFrequencyLimitForOOB</key>
		<string>0</string>
		<key>cellTxPowerLimit</key>
		<string>0</string>
		<key>isWiFiDesense</key>
		<string>0</string>
		<key>issueBand</key>
		<string>6</string>
		<key>issueType</key>
		<string>8</string>
		<key>wifiBtAgcCoexMode</key>
		<string>0</string>
	</dict>
	<dict>
		<key>antennaFilterPathSelection</key>
		<string>0</string>
		<key>btAgcCoexMode</key>
		<string>0</string>
		<key>btDiversityBlacklistType</key>
		<string>1</string>
		<key>btFirstChannelToAvoid</key>
		<string>0</string>
		<key>btLastChannelToAvoid</key>
		<string>0</string>
		<key>cellBandwidthLimitForOOB</key>
		<string>0</string>
		<key>cellFrequencyLimitForOOB</key>
		<string>0</string>
		<key>cellTxPowerLimit</key>
		<string>0</string>
		<key>isWiFiDesense</key>
		<string>1</string>
		<key>issueBand</key>
		<string>7</string>
		<key>issueType</key>
		<string>0</string>
		<key>wifiBtAgcCoexMode</key>
		<string>0</string>
	</dict>
	<dict>
		<key>antennaFilterPathSelection</key>
		<string>0</string>
		<key>btAgcCoexMode</key>
		<string>0</string>
		<key>btDiversityBlacklistType</key>
		<string>1</string>
		<key>btFirstChannelToAvoid</key>
		<string>0</string>
		<key>btLastChannelToAvoid</key>
		<string>0</string>
		<key>cellBandwidthLimitForOOB</key>
		<string>0</string>
		<key>cellFrequencyLimitForOOB</key>
		<string>0</string>
		<key>cellTxPowerLimit</key>
		<string>0</string>
		<key>isWiFiDesense</key>
		<string>0</string>
		<key>issueBand</key>
		<string>7</string>
		<key>issueType</key>
		<string>7</string>
		<key>wifiBtAgcCoexMode</key>
		<string>0</string>
	</dict>
	<dict>
		<key>antennaFilterPathSelection</key>
		<string>0</string>
		<key>btAgcCoexMode</key>
		<string>0</string>
		<key>btDiversityBlacklistType</key>
		<string>3</string>
		<key>btFirstChannelToAvoid</key>
		<string>0</string>
		<key>btLastChannelToAvoid</key>
		<string>0</string>
		<key>cellBandwidthLimitForOOB</key>
		<string>0</string>
		<key>cellFrequencyLimitForOOB</key>
		<string>0</string>
		<key>cellTxPowerLimit</key>
		<string>0</string>
		<key>isWiFiDesense</key>
		<string>0</string>
		<key>issueBand</key>
		<string>8</string>
		<key>issueType</key>
		<string>4</string>
		<key>wifiBtAgcCoexMode</key>
		<string>0</string>
	</dict>
	<dict>
		<key>antennaFilterPathSelection</key>
		<string>2</string>
		<key>btAgcCoexMode</key>
		<string>0</string>
		<key>btDiversityBlacklistType</key>
		<string>3</string>
		<key>btFirstChannelToAvoid</key>
		<string>58</string>
		<key>btLastChannelToAvoid</key>
		<string>78</string>
		<key>cellBandwidthLimitForOOB</key>
		<string>0</string>
		<key>cellFrequencyLimitForOOB</key>
		<string>2570</string>
		<key>cellTxPowerLimit</key>
		<string>0</string>
		<key>isWiFiDesense</key>
		<string>1</string>
		<key>issueBand</key>
		<string>8</string>
		<key>issueType</key>
		<string>12</string>
		<key>wifiBtAgcCoexMode</key>
		<string>0</string>
	</dict>
	<dict>
		<key>antennaFilterPathSelection</key>
		<string>0</string>
		<key>btAgcCoexMode</key>
		<string>0</string>
		<key>btDiversityBlacklistType</key>
		<string>1</string>
		<key>btFirstChannelToAvoid</key>
		<string>0</string>
		<key>btLastChannelToAvoid</key>
		<string>0</string>
		<key>cellBandwidthLimitForOOB</key>
		<string>0</string>
		<key>cellFrequencyLimitForOOB</key>
		<string>2305</string>
		<key>cellTxPowerLimit</key>
		<string>0</string>
		<key>isWiFiDesense</key>
		<string>0</string>
		<key>issueBand</key>
		<string>9</string>
		<key>issueType</key>
		<string>13</string>
		<key>wifiBtAgcCoexMode</key>
		<string>0</string>
	</dict>
	<dict>
		<key>antennaFilterPathSelection</key>
		<string>1</string>
		<key>btAgcCoexMode</key>
		<string>1</string>
		<key>btDiversityBlacklistType</key>
		<string>3</string>
		<key>btFirstChannelToAvoid</key>
		<string>0</string>
		<key>btLastChannelToAvoid</key>
		<string>56</string>
		<key>cellBandwidthLimitForOOB</key>
		<string>0</string>
		<key>cellFrequencyLimitForOOB</key>
		<string>2370</string>
		<key>cellTxPowerLimit</key>
		<string>0</string>
		<key>isWiFiDesense</key>
		<string>1</string>
		<key>issueBand</key>
		<string>11</string>
		<key>issueType</key>
		<string>13</string>
		<key>wifiBtAgcCoexMode</key>
		<string>1</string>
	</dict>
	<dict>
		<key>antennaFilterPathSelection</key>
		<string>2</string>
		<key>btAgcCoexMode</key>
		<string>1</string>
		<key>btDiversityBlacklistType</key>
		<string>3</string>
		<key>btFirstChannelToAvoid</key>
		<string>0</string>
		<key>btLastChannelToAvoid</key>
		<string>25</string>
		<key>cellBandwidthLimitForOOB</key>
		<string>0</string>
		<key>cellFrequencyLimitForOOB</key>
		<string>2300</string>
		<key>cellTxPowerLimit</key>
		<string>0</string>
		<key>isWiFiDesense</key>
		<string>1</string>
		<key>issueBand</key>
		<string>11</string>
		<key>issueType</key>
		<string>13</string>
		<key>wifiBtAgcCoexMode</key>
		<string>1</string>
	</dict>
	<dict>
		<key>antennaFilterPathSelection</key>
		<string>2</string>
		<key>btAgcCoexMode</key>
		<string>1</string>
		<key>btDiversityBlacklistType</key>
		<string>3</string>
		<key>btFirstChannelToAvoid</key>
		<string>54</string>
		<key>btLastChannelToAvoid</key>
		<string>78</string>
		<key>cellBandwidthLimitForOOB</key>
		<string>0</string>
		<key>cellFrequencyLimitForOOB</key>
		<string>2501</string>
		<key>cellTxPowerLimit</key>
		<string>0</string>
		<key>isWiFiDesense</key>
		<string>1</string>
		<key>issueBand</key>
		<string>12</string>
		<key>issueType</key>
		<string>12</string>
		<key>wifiBtAgcCoexMode</key>
		<string>1</string>
	</dict>
	<dict>
		<key>antennaFilterPathSelection</key>
		<string>2</string>
		<key>btAgcCoexMode</key>
		<string>1</string>
		<key>btDiversityBlacklistType</key>
		<string>3</string>
		<key>btFirstChannelToAvoid</key>
		<string>58</string>
		<key>btLastChannelToAvoid</key>
		<string>78</string>
		<key>cellBandwidthLimitForOOB</key>
		<string>0</string>
		<key>cellFrequencyLimitForOOB</key>
		<string>2506</string>
		<key>cellTxPowerLimit</key>
		<string>0</string>
		<key>isWiFiDesense</key>
		<string>1</string>
		<key>issueBand</key>
		<string>12</string>
		<key>issueType</key>
		<string>12</string>
		<key>wifiBtAgcCoexMode</key>
		<string>1</string>
	</dict>
	<dict>
		<key>antennaFilterPathSelection</key>
		<string>2</string>
		<key>btAgcCoexMode</key>
		<string>0</string>
		<key>btDiversityBlacklistType</key>
		<string>3</string>
		<key>btFirstChannelToAvoid</key>
		<string>58</string>
		<key>btLastChannelToAvoid</key>
		<string>78</string>
		<key>cellBandwidthLimitForOOB</key>
		<string>0</string>
		<key>cellFrequencyLimitForOOB</key>
		<string>2690</string>
		<key>cellTxPowerLimit</key>
		<string>0</string>
		<key>isWiFiDesense</key>
		<string>1</string>
		<key>issueBand</key>
		<string>12</string>
		<key>issueType</key>
		<string>12</string>
		<key>wifiBtAgcCoexMode</key>
		<string>0</string>
	</dict>
	<dict>
		<key>antennaFilterPathSelection</key>
		<string>2</string>
		<key>btAgcCoexMode</key>
		<string>2</string>
		<key>btDiversityBlacklistType</key>
		<string>1</string>
		<key>btFirstChannelToAvoid</key>
		<string>0</string>
		<key>btLastChannelToAvoid</key>
		<string>0</string>
		<key>cellBandwidthLimitForOOB</key>
		<string>0</string>
		<key>cellFrequencyLimitForOOB</key>
		<string>1920</string>
		<key>cellTxPowerLimit</key>
		<string>0</string>
		<key>isWiFiDesense</key>
		<string>1</string>
		<key>issueBand</key>
		<string>24</string>
		<key>issueType</key>
		<string>13</string>
		<key>wifiBtAgcCoexMode</key>
		<string>0</string>
	</dict>
	<dict>
		<key>antennaFilterPathSelection</key>
		<string>2</string>
		<key>btAgcCoexMode</key>
		<string>2</string>
		<key>btDiversityBlacklistType</key>
		<string>1</string>
		<key>btFirstChannelToAvoid</key>
		<string>0</string>
		<key>btLastChannelToAvoid</key>
		<string>0</string>
		<key>cellBandwidthLimitForOOB</key>
		<string>0</string>
		<key>cellFrequencyLimitForOOB</key>
		<string>1880</string>
		<key>cellTxPowerLimit</key>
		<string>0</string>
		<key>isWiFiDesense</key>
		<string>1</string>
		<key>issueBand</key>
		<string>25</string>
		<key>issueType</key>
		<string>13</string>
		<key>wifiBtAgcCoexMode</key>
		<string>0</string>
	</dict>
	<dict>
		<key>antennaFilterPathSelection</key>
		<string>0</string>
		<key>btAgcCoexMode</key>
		<string>0</string>
		<key>btDiversityBlacklistType</key>
		<string>1</string>
		<key>btFirstChannelToAvoid</key>
		<string>0</string>
		<key>btLastChannelToAvoid</key>
		<string>0</string>
		<key>cellBandwidthLimitForOOB</key>
		<string>0</string>
		<key>cellFrequencyLimitForOOB</key>
		<string>0</string>
		<key>cellTxPowerLimit</key>
		<string>0</string>
		<key>isWiFiDesense</key>
		<string>1</string>
		<key>issueBand</key>
		<string>13</string>
		<key>issueType</key>
		<string>0</string>
		<key>wifiBtAgcCoexMode</key>
		<string>0</string>
	</dict>
	<dict>
		<key>antennaFilterPathSelection</key>
		<string>0</string>
		<key>btAgcCoexMode</key>
		<string>0</string>
		<key>btDiversityBlacklistType</key>
		<string>1</string>
		<key>btFirstChannelToAvoid</key>
		<string>0</string>
		<key>btLastChannelToAvoid</key>
		<string>0</string>
		<key>cellBandwidthLimitForOOB</key>
		<string>0</string>
		<key>cellFrequencyLimitForOOB</key>
		<string>0</string>
		<key>cellTxPowerLimit</key>
		<string>0</string>
		<key>isWiFiDesense</key>
		<string>0</string>
		<key>issueBand</key>
		<string>13</string>
		<key>issueType</key>
		<string>6</string>
		<key>wifiBtAgcCoexMode</key>
		<string>0</string>
	</dict>
	<dict>
		<key>antennaFilterPathSelection</key>
		<string>0</string>
		<key>btAgcCoexMode</key>
		<string>0</string>
		<key>btDiversityBlacklistType</key>
		<string>1</string>
		<key>btFirstChannelToAvoid</key>
		<string>0</string>
		<key>btLastChannelToAvoid</key>
		<string>0</string>
		<key>cellBandwidthLimitForOOB</key>
		<string>0</string>
		<key>cellFrequencyLimitForOOB</key>
		<string>0</string>
		<key>cellTxPowerLimit</key>
		<string>0</string>
		<key>isWiFiDesense</key>
		<string>1</string>
		<key>issueBand</key>
		<string>14</string>
		<key>issueType</key>
		<string>0</string>
		<key>wifiBtAgcCoexMode</key>
		<string>0</string>
	</dict>
	<dict>
		<key>antennaFilterPathSelection</key>
		<string>0</string>
		<key>btAgcCoexMode</key>
		<string>0</string>
		<key>btDiversityBlacklistType</key>
		<string>1</string>
		<key>btFirstChannelToAvoid</key>
		<string>0</string>
		<key>btLastChannelToAvoid</key>
		<string>0</string>
		<key>cellBandwidthLimitForOOB</key>
		<string>0</string>
		<key>cellFrequencyLimitForOOB</key>
		<string>0</string>
		<key>cellTxPowerLimit</key>
		<string>0</string>
		<key>isWiFiDesense</key>
		<string>0</string>
		<key>issueBand</key>
		<string>14</string>
		<key>issueType</key>
		<string>7</string>
		<key>wifiBtAgcCoexMode</key>
		<string>0</string>
	</dict>
	<dict>
		<key>antennaFilterPathSelection</key>
		<string>0</string>
		<key>btAgcCoexMode</key>
		<string>0</string>
		<key>btDiversityBlacklistType</key>
		<string>1</string>
		<key>btFirstChannelToAvoid</key>
		<string>0</string>
		<key>btLastChannelToAvoid</key>
		<string>0</string>
		<key>cellBandwidthLimitForOOB</key>
		<string>0</string>
		<key>cellFrequencyLimitForOOB</key>
		<string>0</string>
		<key>cellTxPowerLimit</key>
		<string>0</string>
		<key>isWiFiDesense</key>
		<string>0</string>
		<key>issueBand</key>
		<string>14</string>
		<key>issueType</key>
		<string>11</string>
		<key>wifiBtAgcCoexMode</key>
		<string>0</string>
	</dict>
	<dict>
		<key>antennaFilterPathSelection</key>
		<string>0</string>
		<key>btAgcCoexMode</key>
		<string>0</string>
		<key>btDiversityBlacklistType</key>
		<string>1</string>
		<key>btFirstChannelToAvoid</key>
		<string>0</string>
		<key>btLastChannelToAvoid</key>
		<string>0</string>
		<key>cellBandwidthLimitForOOB</key>
		<string>0</string>
		<key>cellFrequencyLimitForOOB</key>
		<string>0</string>
		<key>cellTxPowerLimit</key>
		<string>0</string>
		<key>isWiFiDesense</key>
		<string>0</string>
		<key>issueBand</key>
		<string>14</string>
		<key>issueType</key>
		<string>6</string>
		<key>wifiBtAgcCoexMode</key>
		<string>0</string>
	</dict>
	<dict>
		<key>antennaFilterPathSelection</key>
		<string>0</string>
		<key>btAgcCoexMode</key>
		<string>0</string>
		<key>btDiversityBlacklistType</key>
		<string>1</string>
		<key>btFirstChannelToAvoid</key>
		<string>0</string>
		<key>btLastChannelToAvoid</key>
		<string>0</string>
		<key>cellBandwidthLimitForOOB</key>
		<string>0</string>
		<key>cellFrequencyLimitForOOB</key>
		<string>0</string>
		<key>cellTxPowerLimit</key>
		<string>0</string>
		<key>isWiFiDesense</key>
		<string>1</string>
		<key>issueBand</key>
		<string>15</string>
		<key>issueType</key>
		<string>0</string>
		<key>wifiBtAgcCoexMode</key>
		<string>0</string>
	</dict>
	<dict>
		<key>antennaFilterPathSelection</key>
		<string>0</string>
		<key>btAgcCoexMode</key>
		<string>0</string>
		<key>btDiversityBlacklistType</key>
		<string>1</string>
		<key>btFirstChannelToAvoid</key>
		<string>0</string>
		<key>btLastChannelToAvoid</key>
		<string>0</string>
		<key>cellBandwidthLimitForOOB</key>
		<string>0</string>
		<key>cellFrequencyLimitForOOB</key>
		<string>0</string>
		<key>cellTxPowerLimit</key>
		<string>0</string>
		<key>isWiFiDesense</key>
		<string>0</string>
		<key>issueBand</key>
		<string>15</string>
		<key>issueType</key>
		<string>7</string>
		<key>wifiBtAgcCoexMode</key>
		<string>0</string>
	</dict>
	<dict>
		<key>antennaFilterPathSelection</key>
		<string>0</string>
		<key>btAgcCoexMode</key>
		<string>0</string>
		<key>btDiversityBlacklistType</key>
		<string>1</string>
		<key>btFirstChannelToAvoid</key>
		<string>0</string>
		<key>btLastChannelToAvoid</key>
		<string>0</string>
		<key>cellBandwidthLimitForOOB</key>
		<string>0</string>
		<key>cellFrequencyLimitForOOB</key>
		<string>0</string>
		<key>cellTxPowerLimit</key>
		<string>0</string>
		<key>isWiFiDesense</key>
		<string>0</string>
		<key>issueBand</key>
		<string>15</string>
		<key>issueType</key>
		<string>11</string>
		<key>wifiBtAgcCoexMode</key>
		<string>0</string>
	</dict>
	<dict>
		<key>antennaFilterPathSelection</key>
		<string>0</string>
		<key>btAgcCoexMode</key>
		<string>0</string>
		<key>btDiversityBlacklistType</key>
		<string>1</string>
		<key>btFirstChannelToAvoid</key>
		<string>0</string>
		<key>btLastChannelToAvoid</key>
		<string>0</string>
		<key>cellBandwidthLimitForOOB</key>
		<string>0</string>
		<key>cellFrequencyLimitForOOB</key>
		<string>0</string>
		<key>cellTxPowerLimit</key>
		<string>0</string>
		<key>isWiFiDesense</key>
		<string>0</string>
		<key>issueBand</key>
		<string>15</string>
		<key>issueType</key>
		<string>6</string>
		<key>wifiBtAgcCoexMode</key>
		<string>0</string>
	</dict>
	<dict>
		<key>antennaFilterPathSelection</key>
		<string>0</string>
		<key>btAgcCoexMode</key>
		<string>0</string>
		<key>btDiversityBlacklistType</key>
		<string>1</string>
		<key>btFirstChannelToAvoid</key>
		<string>0</string>
		<key>btLastChannelToAvoid</key>
		<string>0</string>
		<key>cellBandwidthLimitForOOB</key>
		<string>0</string>
		<key>cellFrequencyLimitForOOB</key>
		<string>0</string>
		<key>cellTxPowerLimit</key>
		<string>0</string>
		<key>isWiFiDesense</key>
		<string>1</string>
		<key>issueBand</key>
		<string>16</string>
		<key>issueType</key>
		<string>0</string>
		<key>wifiBtAgcCoexMode</key>
		<string>0</string>
	</dict>
	<dict>
		<key>antennaFilterPathSelection</key>
		<string>0</string>
		<key>btAgcCoexMode</key>
		<string>0</string>
		<key>btDiversityBlacklistType</key>
		<string>1</string>
		<key>btFirstChannelToAvoid</key>
		<string>0</string>
		<key>btLastChannelToAvoid</key>
		<string>0</string>
		<key>cellBandwidthLimitForOOB</key>
		<string>0</string>
		<key>cellFrequencyLimitForOOB</key>
		<string>0</string>
		<key>cellTxPowerLimit</key>
		<string>0</string>
		<key>isWiFiDesense</key>
		<string>0</string>
		<key>issueBand</key>
		<string>16</string>
		<key>issueType</key>
		<string>7</string>
		<key>wifiBtAgcCoexMode</key>
		<string>0</string>
	</dict>
	<dict>
		<key>antennaFilterPathSelection</key>
		<string>0</string>
		<key>btAgcCoexMode</key>
		<string>0</string>
		<key>btDiversityBlacklistType</key>
		<string>1</string>
		<key>btFirstChannelToAvoid</key>
		<string>0</string>
		<key>btLastChannelToAvoid</key>
		<string>0</string>
		<key>cellBandwidthLimitForOOB</key>
		<string>0</string>
		<key>cellFrequencyLimitForOOB</key>
		<string>0</string>
		<key>cellTxPowerLimit</key>
		<string>0</string>
		<key>isWiFiDesense</key>
		<string>0</string>
		<key>issueBand</key>
		<string>17</string>
		<key>issueType</key>
		<string>6</string>
		<key>wifiBtAgcCoexMode</key>
		<string>0</string>
	</dict>
	<dict>
		<key>antennaFilterPathSelection</key>
		<string>0</string>
		<key>btAgcCoexMode</key>
		<string>0</string>
		<key>btDiversityBlacklistType</key>
		<string>1</string>
		<key>btFirstChannelToAvoid</key>
		<string>0</string>
		<key>btLastChannelToAvoid</key>
		<string>0</string>
		<key>cellBandwidthLimitForOOB</key>
		<string>0</string>
		<key>cellFrequencyLimitForOOB</key>
		<string>0</string>
		<key>cellTxPowerLimit</key>
		<string>0</string>
		<key>isWiFiDesense</key>
		<string>1</string>
		<key>issueBand</key>
		<string>18</string>
		<key>issueType</key>
		<string>0</string>
		<key>wifiBtAgcCoexMode</key>
		<string>0</string>
	</dict>
	<dict>
		<key>antennaFilterPathSelection</key>
		<string>0</string>
		<key>btAgcCoexMode</key>
		<string>0</string>
		<key>btDiversityBlacklistType</key>
		<string>1</string>
		<key>btFirstChannelToAvoid</key>
		<string>0</string>
		<key>btLastChannelToAvoid</key>
		<string>0</string>
		<key>cellBandwidthLimitForOOB</key>
		<string>0</string>
		<key>cellFrequencyLimitForOOB</key>
		<string>0</string>
		<key>cellTxPowerLimit</key>
		<string>0</string>
		<key>isWiFiDesense</key>
		<string>0</string>
		<key>issueBand</key>
		<string>19</string>
		<key>issueType</key>
		<string>3</string>
		<key>wifiBtAgcCoexMode</key>
		<string>0</string>
	</dict>
	<dict>
		<key>antennaFilterPathSelection</key>
		<string>0</string>
		<key>btAgcCoexMode</key>
		<string>0</string>
		<key>btDiversityBlacklistType</key>
		<string>1</string>
		<key>btFirstChannelToAvoid</key>
		<string>0</string>
		<key>btLastChannelToAvoid</key>
		<string>0</string>
		<key>cellBandwidthLimitForOOB</key>
		<string>0</string>
		<key>cellFrequencyLimitForOOB</key>
		<string>0</string>
		<key>cellTxPowerLimit</key>
		<string>0</string>
		<key>isWiFiDesense</key>
		<string>0</string>
		<key>issueBand</key>
		<string>19</string>
		<key>issueType</key>
		<string>10</string>
		<key>wifiBtAgcCoexMode</key>
		<string>0</string>
	</dict>
	<dict>
		<key>antennaFilterPathSelection</key>
		<string>0</string>
		<key>btAgcCoexMode</key>
		<string>0</string>
		<key>btDiversityBlacklistType</key>
		<string>1</string>
		<key>btFirstChannelToAvoid</key>
		<string>0</string>
		<key>btLastChannelToAvoid</key>
		<string>0</string>
		<key>cellBandwidthLimitForOOB</key>
		<string>0</string>
		<key>cellFrequencyLimitForOOB</key>
		<string>0</string>
		<key>cellTxPowerLimit</key>
		<string>0</string>
		<key>isWiFiDesense</key>
		<string>1</string>
		<key>issueBand</key>
		<string>20</string>
		<key>issueType</key>
		<string>9</string>
		<key>wifiBtAgcCoexMode</key>
		<string>0</string>
	</dict>
</array>
</plist>
