<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>iRATPolicy</key>
	<dict>
		<key>IDSMetricsIdsClient</key>
		<dict>
			<key>IDSWiFiMinRttTh1</key>
			<integer>2500000</integer>
			<key>IDSPeriodicReportInterval</key>
			<integer>5000</integer>
			<key>IDSAvgWiFiMinPerTh1</key>
			<integer>80</integer>
			<key>IDSWiFiMinPerTh1</key>
			<integer>80</integer>
			<key>IDSMovAvgWiFiMinPerTh1</key>
			<integer>70</integer>
			<key>IDSBTiMinRttTh1</key>
			<real>25000</real>
			<key>IDSBTMinPerTh1</key>
			<integer>40</integer>
		</dict>
		<key>WiFiMetrics</key>
		<dict>
			<key>MinIdleWiFiTxPktLossRateTh1</key>
			<integer>80</integer>
			<key>SnrHysterisisWalking</key>
			<integer>3</integer>
			<key>MinActiveWiFiCcaTh0</key>
			<integer>101</integer>
			<key>MinIdleWiFiCcaTh0</key>
			<integer>101</integer>
			<key>MinWiFiBeaconPerTh1</key>
			<integer>101</integer>
			<key>MinIdleWiFiRssiTh0</key>
			<integer>-75</integer>
			<key>MinActiveWiFiTxPktLossRateTh1</key>
			<integer>20</integer>
			<key>MinIdleWiFiFwTxPktLossRateTh1</key>
			<integer>101</integer>
			<key>RssiHysterisisRunning</key>
			<integer>6</integer>
			<key>MinActiveWiFiRssiTh0</key>
			<integer>-70</integer>
			<key>MinActiveWiFiSnrTh0</key>
			<integer>10</integer>
			<key>MinActiveWiFiRssiTh1</key>
			<integer>-85</integer>
			<key>RssiHysterisisWalking</key>
			<integer>3</integer>
			<key>MinWiFiBeaconPerTh0</key>
			<integer>50</integer>
			<key>MinActiveWiFiCcaTh1</key>
			<integer>101</integer>
			<key>MinActiveWiFiTxPktLossRateTh0</key>
			<integer>0</integer>
			<key>MinIdleWiFiFwTxPktLossRateTh0</key>
			<integer>0</integer>
			<key>SnrHysterisisRunning</key>
			<integer>6</integer>
			<key>MinIdleWiFiSnrTh1</key>
			<integer>5</integer>
			<key>MinIdleWiFiTxPktLossRateTh0</key>
			<integer>0</integer>
			<key>MinActiveWiFiSnrTh1</key>
			<integer>5</integer>
			<key>MinIdleWiFiSnrTh0</key>
			<integer>10</integer>
			<key>MinIdleWiFiRssiTh1</key>
			<integer>-85</integer>
			<key>MinActiveWiFiAvgTxPktLossRateTh</key>
			<integer>10</integer>
			<key>MinIdleWiFiCcaTh1</key>
			<integer>101</integer>
		</dict>
		<key>FaceTimeMetrics</key>
		<dict>
			<key></key>
			<string></string>
			<key>FaceTimeEnhancedVideoMetricsEnabled</key>
			<false/>
			<key>FaceTimeAleratedCcaTh0</key>
			<integer>70</integer>
			<key>FaceTimeAleratedCcaTh1</key>
			<integer>80</integer>
			<key>FaceTimeHandoverRxPktLossThreshold</key>
			<integer>40</integer>
			<key>FaceTimeAleratedRssiTh0</key>
			<integer>-70</integer>
			<key>FaceTimeAleratedTxPerTh0</key>
			<integer>0</integer>
			<key>FaceTimeAleratedRssiTh1</key>
			<integer>-75</integer>
			<key>FaceTimeHandoverAvgRxPktLossThreshold</key>
			<integer>101</integer>
			<key>FaceTimeCellularStickinessThreaholdActive</key>
			<real>20000</real>
			<key>FaceTimeMinActiveWiFiAvgTxPktLossRateTh</key>
			<integer>15</integer>
			<key>FaceTimeMovAvgWindow</key>
			<integer>20</integer>
			<key>FaceTimeVideoPktLoss</key>
			<integer>20</integer>
			<key>FaceTimeAleratedStationCount</key>
			<integer>15</integer>
			<key>FaceTimeAleratedTxPerTh1</key>
			<integer>2</integer>
			<key>FaceTimeMinActiveWiFiRssiTh1</key>
			<integer>-80</integer>
			<key>FaceTimeAleratedVidErasureTh1</key>
			<integer>5</integer>
			<key>FaceTimeMinActiveWiFiRssiTh0</key>
			<integer>-70</integer>
		</dict>
		<key>CellularMetrics</key>
		<dict>
			<key>MinMovSigBarTh0</key>
			<integer>35</integer>
			<key>MinSigBarTh0</key>
			<integer>6</integer>
			<key>MinSigBarTh1</key>
			<integer>1</integer>
			<key>MinSigBarTh2</key>
			<integer>3</integer>
		</dict>
		<key>ActivePolicies</key>
		<dict>
			<key>CellularStickinessThreaholdStationary</key>
			<integer>20000</integer>
			<key>CellularStickinessThreaholdStationaryActive</key>
			<integer>60000</integer>
			<key>PingPongAvoidanceThresholdStationary</key>
			<integer>40</integer>
			<key>PingPongAvoidanceThresholdWalking</key>
			<integer>40</integer>
			<key>SymtompsMetricsEnabled</key>
			<true/>
			<key>WiFiMetricsEnabled</key>
			<true/>
			<key>BTMetricsEnabled</key>
			<true/>
			<key>CellularStickinessThreaholdIdle</key>
			<integer>20000</integer>
			<key>P2PAssistanceEnabled</key>
			<true/>
			<key>CellularStickinessThreaholdActive</key>
			<integer>60000</integer>
			<key>IDSMetricsEnabled</key>
			<true/>
			<key>QMIClientEnabled</key>
			<true/>
			<key>CellularMetricsEnabled</key>
			<true/>
			<key>RTPMetricsEnabled</key>
			<true/>
			<key>HandoverAlgorithmSettingDynamic</key>
			<true/>
			<key>PingPongAvoidanceThresholdRunning</key>
			<integer>40</integer>
			<key>MobilityStateAwarenessEnabled</key>
			<true/>
			<key>HandoverAlgorithmType</key>
			<integer>1</integer>
		</dict>
		<key>IDSWiFiMetrics</key>
		<dict>
			<key>IDSMinAvgWiFiTxPktLossRateTh0</key>
			<integer>0</integer>
			<key>IDSMinWiFiThroughputTh0</key>
			<integer>3</integer>
			<key>IDSMinWiFiSnrTh1</key>
			<integer>5</integer>
			<key>IDSMinWiFiRssiTh1</key>
			<integer>-85</integer>
			<key>IDSMinWiFiEffectivePhyRateTh1</key>
			<integer>1</integer>
			<key>IDSMinAvgWiFiTxPktLossRateTh1</key>
			<integer>20</integer>
			<key>IDSMinWiFiThroughputTh1</key>
			<integer>1</integer>
			<key>IDSMinWiFiRssiTh0</key>
			<integer>-75</integer>
			<key>IDSMinWiFiSnrTh0</key>
			<integer>10</integer>
			<key>IDSMinWiFiEffectivePhyRateTh0</key>
			<integer>5</integer>
		</dict>
		<key>SymtompsMetrics</key>
		<dict>
			<key>TcpIdleConnSuccessThreshold</key>
			<integer>50</integer>
			<key>TcpRttThreshold</key>
			<integer>600</integer>
			<key>HistoricalAgeOfConnectedLinkInDays</key>
			<integer>1</integer>
			<key>TransportMetricsRateLimitingThreshold</key>
			<integer>500</integer>
			<key>TcpJitterThreshold</key>
			<integer>100</integer>
			<key>TcpActiveConnSuccessThreshold</key>
			<integer>80</integer>
		</dict>
		<key>RTPMetrics</key>
		<dict>
			<key>HandoverRxPktLossThreshold</key>
			<integer>40</integer>
			<key>PeriodicReportInterval</key>
			<integer>75</integer>
			<key>HandoverTxPktLossThreshold</key>
			<integer>40</integer>
			<key>HandoverTotalAvgRxPktLossThreshold</key>
			<integer>20</integer>
			<key>HandoverNominalJitterBufferThreshold</key>
			<integer>1500</integer>
			<key>HandoverAvgRxPktLossThreshold</key>
			<integer>10</integer>
			<key>HandoverRxJitterThreshold</key>
			<integer>5000</integer>
			<key>HandoverRTThreshold</key>
			<integer>3000</integer>
		</dict>
		<key>DataMetrics</key>
		<dict>
			<key>WifiMinSnrTh1</key>
			<integer>5</integer>
			<key>WifiMinValidBeaconCount</key>
			<integer>2</integer>
			<key>BtMovingAvgAlphaDenum</key>
			<integer>15</integer>
			<key>BTMinRxPerTh1</key>
			<integer>60</integer>
			<key>BTMinTxPerTh0</key>
			<integer>40</integer>
			<key>WifiMinRssiTh0</key>
			<integer>-75</integer>
			<key>BTMinTxPerTh1</key>
			<integer>60</integer>
			<key>BTMinRssiTh0</key>
			<integer>70</integer>
			<key>BTMinRssiTh1</key>
			<integer>80</integer>
			<key>WifiMinRssiTh1</key>
			<integer>-85</integer>
			<key>WifiMinSnrTh0</key>
			<integer>20</integer>
			<key>BTMinRxPerTh0</key>
			<integer>40</integer>
			<key>BtStickinessTimeThreshMs</key>
			<integer>15000</integer>
			<key>WifiMinBeaconPerTh0</key>
			<integer>51</integer>
		</dict>
		<key>CommCenterManagerMetrics</key>
		<dict>
			<key>CommCenterBTlpmThreasholdBTProximity</key>
			<real>40</real>
			<key>CommCenterStickinessThreasholdWiFiProximity</key>
			<real>300</real>
			<key>CommCenterStickinessThreasholdNotinWiFiProximity</key>
			<real>30</real>
			<key>CommCenterThumperStickinessThreasholdNotinBTProximity</key>
			<real>15</real>
		</dict>
	</dict>
</dict>
</plist>
