<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AmericanTypewriter-CondensedLight</key>
	<dict>
		<key>Office-name</key>
		<string>American Typewriter Condensed</string>
		<key>bold</key>
		<false/>
		<key>italic</key>
		<true/>
	</dict>
	<key>ChalkboardSE-Bold</key>
	<dict>
		<key>Office-name</key>
		<string>Chalkboard SE Bold</string>
		<key>bold</key>
		<false/>
		<key>italic</key>
		<false/>
	</dict>
	<key>Futura-Medium</key>
	<dict>
		<key>Office-name</key>
		<string>Futura</string>
		<key>bold</key>
		<false/>
		<key>italic</key>
		<false/>
	</dict>
	<key>Futura-MediumItalic</key>
	<dict>
		<key>Office-name</key>
		<string>Futura</string>
		<key>bold</key>
		<false/>
		<key>italic</key>
		<true/>
	</dict>
	<key>Futura-CondensedMedium</key>
	<dict>
		<key>Office-name</key>
		<string>Futura Condensed</string>
		<key>bold</key>
		<false/>
		<key>italic</key>
		<false/>
	</dict>
	<key>Futura-CondensedExtraBold</key>
	<dict>
		<key>Office-name</key>
		<string>Futura Condensed</string>
		<key>bold</key>
		<true/>
		<key>italic</key>
		<false/>
	</dict>
	<key>HelveticaNeue-CondensedBold</key>
	<dict>
		<key>Office-name</key>
		<string>Helvetica Neue Bold Condensed</string>
		<key>bold</key>
		<false/>
		<key>italic</key>
		<false/>
	</dict>
	<key>HelveticaNeue-CondensedBlack</key>
	<dict>
		<key>Office-name</key>
		<string>Helvetica Neue Black Condensed</string>
		<key>bold</key>
		<false/>
		<key>italic</key>
		<false/>
	</dict>
	<key>MarkerFelt-Thin</key>
	<dict>
		<key>Office-name</key>
		<string>Marker Felt</string>
		<key>bold</key>
		<false/>
		<key>italic</key>
		<false/>
	</dict>
	<key>MarkerFelt-Wide</key>
	<dict>
		<key>Office-name</key>
		<string>Marker Felt</string>
		<key>bold</key>
		<true/>
		<key>italic</key>
		<false/>
	</dict>
	<key>Noteworthy-Bold</key>
	<dict>
		<key>Office-name</key>
		<string>Noteworthy Bold</string>
		<key>bold</key>
		<false/>
		<key>italic</key>
		<false/>
	</dict>
	<key>Optima-Regular</key>
	<dict>
		<key>Office-name</key>
		<string>Optima</string>
		<key>bold</key>
		<false/>
		<key>italic</key>
		<false/>
	</dict>
	<key>Optima-Italic</key>
	<dict>
		<key>Office-name</key>
		<string>Optima</string>
		<key>bold</key>
		<false/>
		<key>italic</key>
		<true/>
	</dict>
	<key>Optima-Bold</key>
	<dict>
		<key>Office-name</key>
		<string>Optima</string>
		<key>bold</key>
		<true/>
		<key>italic</key>
		<false/>
	</dict>
	<key>Optima-BoldItalic</key>
	<dict>
		<key>Office-name</key>
		<string>Optima</string>
		<key>bold</key>
		<true/>
		<key>italic</key>
		<true/>
	</dict>
	<key>PartyLetPlain</key>
	<dict>
		<key>Office-name</key>
		<string>Party LET</string>
		<key>bold</key>
		<false/>
		<key>italic</key>
		<false/>
	</dict>
	<key>SnellRoundhand-Bold</key>
	<dict>
		<key>Office-name</key>
		<string>Snell Roundhand Bold</string>
		<key>bold</key>
		<false/>
		<key>italic</key>
		<false/>
	</dict>
	<key>BradleyHandITCTT-Bold</key>
	<dict>
		<key>bold</key>
		<false/>
		<key>italic</key>
		<false/>
		<key>Office-name</key>
		<string>Bradley Hand ITC TT-Bold</string>
	</dict>
	<key>BodoniSvtyTwoITCTT-Book</key>
	<dict>
		<key>bold</key>
		<false/>
		<key>italic</key>
		<false/>
		<key>Office-name</key>
		<string>Bodoni SvtyTwo ITC TT-Book</string>
	</dict>
	<key>BodoniSvtyTwoITCTT-BookIta</key>
	<dict>
		<key>bold</key>
		<false/>
		<key>italic</key>
		<false/>
		<key>Office-name</key>
		<string>Bodoni SvtyTwo ITC TT-BookIta</string>
	</dict>
	<key>BodoniSvtyTwoITCTT-Bold</key>
	<dict>
		<key>Office-name</key>
		<string>Bodoni SvtyTwo ITC TT-Bold</string>
		<key>bold</key>
		<false/>
		<key>italic</key>
		<false/>
	</dict>
	<key>BodoniSvtyTwoOSITCTT-Book</key>
	<dict>
		<key>Office-name</key>
		<string>Bodoni SvtyTwo OS ITC TT-Book</string>
		<key>bold</key>
		<false/>
		<key>italic</key>
		<false/>
	</dict>
	<key>BodoniSvtyTwoOSITCTT-BookIt</key>
	<dict>
		<key>Office-name</key>
		<string>Bodoni SvtyTwo OS ITC TT-BookIt</string>
		<key>bold</key>
		<false/>
		<key>italic</key>
		<false/>
	</dict>
	<key>BodoniSvtyTwoOSITCTT-Bold</key>
	<dict>
		<key>Office-name</key>
		<string>Bodoni SvtyTwo OS ITC TT-Bold</string>
		<key>bold</key>
		<false/>
		<key>italic</key>
		<false/>
	</dict>
	<key>BodoniSvtyTwoSCITCTT-Book</key>
	<dict>
		<key>Office-name</key>
		<string>Bodoni SvtyTwo SC ITC TT-Book</string>
		<key>bold</key>
		<false/>
		<key>italic</key>
		<false/>
	</dict>
	<key>STHeitiJ-Light</key>
	<dict>
		<key>Office-name</key>
		<string>Heiti J Light</string>
		<key>bold</key>
		<false/>
		<key>italic</key>
		<false/>
	</dict>
	<key>STHeitiJ-Medium</key>
	<dict>
		<key>Office-name</key>
		<string>Heiti J Medium</string>
		<key>bold</key>
		<false/>
		<key>italic</key>
		<false/>
	</dict>
	<key>STHeitiK-Light</key>
	<dict>
		<key>Office-name</key>
		<string>Heiti K Light</string>
		<key>bold</key>
		<false/>
		<key>italic</key>
		<false/>
	</dict>
	<key>STHeitiK-Medium</key>
	<dict>
		<key>Office-name</key>
		<string>Heiti K Medium</string>
		<key>bold</key>
		<false/>
		<key>italic</key>
		<false/>
	</dict>
	<key>STHeitiSC-Light</key>
	<dict>
		<key>Office-name</key>
		<string>Heiti SC Light</string>
		<key>bold</key>
		<false/>
		<key>italic</key>
		<false/>
	</dict>
	<key>STHeitiSC-Medium</key>
	<dict>
		<key>Office-name</key>
		<string>Heiti SC Medium</string>
		<key>bold</key>
		<false/>
		<key>italic</key>
		<false/>
	</dict>
	<key>STHeitiTC-Light</key>
	<dict>
		<key>Office-name</key>
		<string>Heiti TC Light</string>
		<key>bold</key>
		<false/>
		<key>italic</key>
		<false/>
	</dict>
	<key>STHeitiTC-Medium</key>
	<dict>
		<key>Office-name</key>
		<string>Heiti TC Medium</string>
		<key>bold</key>
		<false/>
		<key>italic</key>
		<false/>
	</dict>
	<key>HiraKakuProN-W3</key>
	<dict>
		<key>Office-name</key>
		<string>ヒラギノ角ゴ ProN W3</string>
		<key>bold</key>
		<false/>
		<key>italic</key>
		<false/>
	</dict>
	<key>HiraKakuProN-W6</key>
	<dict>
		<key>Office-name</key>
		<string>ヒラギノ角ゴ ProN W6</string>
		<key>bold</key>
		<false/>
		<key>italic</key>
		<false/>
	</dict>
	<key>HiraMinProN-W3</key>
	<dict>
		<key>Office-name</key>
		<string>ヒラギノ明朝 ProN W3</string>
		<key>bold</key>
		<false/>
		<key>italic</key>
		<false/>
	</dict>
	<key>HiraMinProN-W6</key>
	<dict>
		<key>Office-name</key>
		<string>ヒラギノ明朝 ProN W6</string>
		<key>bold</key>
		<false/>
		<key>italic</key>
		<false/>
	</dict>
	<key>StoneSansITCTT-Semi</key>
	<dict>
		<key>Office-name</key>
		<string>Stone Sans Sem ITC TT-Semi</string>
		<key>bold</key>
		<false/>
		<key>italic</key>
		<false/>
	</dict>
	<key>StoneSansITCTT-SemiIta</key>
	<dict>
		<key>Office-name</key>
		<string>Stone Sans Sem ITC TT-Semi</string>
		<key>bold</key>
		<false/>
		<key>italic</key>
		<true/>
	</dict>
</dict>
</plist>
