<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Academy Engraved LET</string>
	<string>Bank Gothic</string>
	<string>Blackmoor LET</string>
	<string>BlairMdITC TT</string>
	<string>Bodoni Ornaments</string>
	<string>Bodoni 72</string>
	<string>Bodoni 72 Oldstyle</string>
	<string>Bodoni 72 Smallcaps</string>
	<string>Book Antiqua</string>
	<string>Bookman Old Style</string>
	<string>Bordeaux Roman Bold LET</string>
	<string>Bradley Hand</string>
	<string>Capitals</string>
	<string>Century Gothic</string>
	<string>Century Schoolbook</string>
	<string>Garamond</string>
	<string>Jazz LET</string>
	<string>Mona Lisa Solid ITC TT</string>
	<string>Party LET</string>
	<string>PortagoITC TT</string>
	<string>Princetown LET</string>
	<string>Santa Fe LET</string>
	<string>SchoolHouse Cursive B</string>
	<string>SchoolHouse Printed A</string>
	<string>Stone Sans ITC TT</string>
	<string>Synchro LET</string>
	<string>Tw Cen MT</string>
	<string>Type Embellishments One LET</string>
</array>
</plist>
