<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CombiningWeights</key>
	<dict>
		<key>AppleMain</key>
		<real>1</real>
		<key>AppleExtra</key>
		<real>0.9</real>
		<key>Other</key>
		<real>0.5</real>
	</dict>
	<key>BookCombiningWeights</key>
	<dict>
		<key>com.apple.machelp</key>
		<real>1</real>
	</dict>
	<key>BookAssignments</key>
	<dict>
		<key>AppleMain</key>
		<array>
			<dict>
				<key>HelpbookID</key>
				<string>com.apple.machelp</string>
			</dict>
		</array>
		<key>AppleExtra</key>
		<array>
			<dict>
				<key>HelpbookID</key>
				<string>com.apple.machelp</string>
				<key>SmoothingOnly</key>
				<true/>
			</dict>
			<dict>
				<key>HelpbookID</key>
				<string>com.apple.AppStore.help</string>
			</dict>
			<dict>
				<key>HelpbookID</key>
				<string>com.apple.GameCenter.help</string>
			</dict>
			<dict>
				<key>HelpbookID</key>
				<string>com.apple.Maps.help</string>
			</dict>
			<dict>
				<key>HelpbookID</key>
				<string>com.apple.Notes.help</string>
			</dict>
			<dict>
				<key>HelpbookID</key>
				<string>com.apple.reminders.help</string>
			</dict>
			<dict>
				<key>HelpbookID</key>
				<string>com.apple.facetime.help</string>
			</dict>
			<dict>
				<key>HelpbookID</key>
				<string>com.filemaker.bento.help</string>
			</dict>
			<dict>
				<key>HelpbookID</key>
				<string>com.apple.iCal.help</string>
			</dict>
			<dict>
				<key>HelpbookID</key>
				<string>com.apple.Mail.help</string>
			</dict>
			<dict>
				<key>HelpbookID</key>
				<string>com.apple.Safari.help</string>
			</dict>
			<dict>
				<key>HelpbookID</key>
				<string>com.apple.iWork.Keynote.help</string>
			</dict>
			<dict>
				<key>HelpbookID</key>
				<string>com.apple.iWork.Numbers.help</string>
			</dict>
			<dict>
				<key>HelpbookID</key>
				<string>com.apple.iWork.Pages.help</string>
			</dict>
			<dict>
				<key>HelpbookID</key>
				<string>com.apple.iPhoto.help</string>
			</dict>
			<dict>
				<key>HelpbookID</key>
				<string>com.apple.iTunes.help</string>
			</dict>
			<dict>
				<key>HelpbookID</key>
				<string>com.apple.iWeb.help</string>
			</dict>
			<dict>
				<key>HelpbookID</key>
				<string>com.apple.iMovie8.help</string>
			</dict>
			<dict>
				<key>HelpbookID</key>
				<string>com.apple.garageband.help</string>
			</dict>
			<dict>
				<key>HelpbookID</key>
				<string>com.apple.iDVD.help</string>
			</dict>
			<dict>
				<key>HelpbookID</key>
				<string>com.apple.TextEdit.help</string>
			</dict>
			<dict>
				<key>HelpbookID</key>
				<string>com.apple.iChat.help</string>
			</dict>
			<dict>
				<key>HelpbookID</key>
				<string>com.apple.PhotoBooth.help</string>
			</dict>
			<dict>
				<key>HelpbookID</key>
				<string>com.apple.ActivityMonitor.help</string>
			</dict>
			<dict>
				<key>HelpbookID</key>
				<string>com.apple.AddressBook.help</string>
			</dict>
			<dict>
				<key>HelpbookID</key>
				<string>com.apple.AppleScript.help</string>
			</dict>
			<dict>
				<key>HelpbookID</key>
				<string>com.apple.AudioMIDISetup.help</string>
			</dict>
			<dict>
				<key>HelpbookID</key>
				<string>com.apple.Automator.help</string>
			</dict>
			<dict>
				<key>HelpbookID</key>
				<string>com.apple.Calculator.help</string>
			</dict>
			<dict>
				<key>HelpbookID</key>
				<string>com.apple.Chess.help</string>
			</dict>
			<dict>
				<key>HelpbookID</key>
				<string>com.apple.Console.help</string>
			</dict>
			<dict>
				<key>HelpbookID</key>
				<string>com.apple.Dictionary.help</string>
			</dict>
			<dict>
				<key>HelpbookID</key>
				<string>com.apple.DiskUtility.help</string>
			</dict>
			<dict>
				<key>HelpbookID</key>
				<string>com.apple.DVDPlayer.help</string>
			</dict>
			<dict>
				<key>HelpbookID</key>
				<string>com.apple.FontBook.help</string>
			</dict>
			<dict>
				<key>HelpbookID</key>
				<string>com.apple.Grapher.help</string>
			</dict>
			<dict>
				<key>HelpbookID</key>
				<string>com.apple.ImageCapture.help</string>
			</dict>
			<dict>
				<key>HelpbookID</key>
				<string>com.apple.iSync.help</string>
			</dict>
			<dict>
				<key>HelpbookID</key>
				<string>com.apple.Preview.help</string>
			</dict>
			<dict>
				<key>HelpbookID</key>
				<string>com.apple.QuickTimePlayerX.help</string>
			</dict>
			<dict>
				<key>HelpbookID</key>
				<string>com.apple.ScriptEditor.help</string>
			</dict>
			<dict>
				<key>HelpbookID</key>
				<string>com.apple.Stickies.help</string>
			</dict>
			<dict>
				<key>HelpbookID</key>
				<string>com.apple.SystemProfiler.help</string>
			</dict>
			<dict>
				<key>HelpbookID</key>
				<string>com.apple.Terminal.help</string>
			</dict>
			<dict>
				<key>HelpbookID</key>
				<string>com.apple.ipadhelp</string>
			</dict>
			<dict>
				<key>HelpbookID</key>
				<string>com.apple.iphonehelp</string>
			</dict>
			<dict>
				<key>HelpbookID</key>
				<string>com.apple.ipodhelp</string>
			</dict>
			<dict>
				<key>HelpbookID</key>
				<string>com.apple.appletvhelp</string>
			</dict>
			<dict>
				<key>HelpbookID</key>
				<string>com.apple.RAIDUtility.help</string>
			</dict>
			<dict>
				<key>HelpbookID</key>
				<string>com.apple.airport.airportutility.help</string>
			</dict>
		</array>
		<key>Other</key>
		<array>
			<dict>
				<key>HelpbookID</key>
				<string>com.apple.machelp</string>
				<key>SmoothingOnly</key>
				<true/>
			</dict>
			<dict>
				<key>HelpbookID</key>
				<string>com.apple.VoiceOver.help</string>
			</dict>
			<dict>
				<key>HelpbookID</key>
				<string>com.apple.iworkfunctionshelp</string>
			</dict>
			<dict>
				<key>HelpbookID</key>
				<string>com.apple.Aperture.help</string>
			</dict>
			<dict>
				<key>HelpbookID</key>
				<string>com.filemaker.client.pro.help</string>
			</dict>
			<dict>
				<key>HelpbookID</key>
				<string>com.apple.FinalCutExpress.help</string>
			</dict>
			<dict>
				<key>HelpbookID</key>
				<string>com.apple.FinalCutPro.help</string>
			</dict>
			<dict>
				<key>HelpbookID</key>
				<string>com.apple.CinemaTools.help</string>
			</dict>
			<dict>
				<key>HelpbookID</key>
				<string>com.apple.color.help</string>
			</dict>
			<dict>
				<key>HelpbookID</key>
				<string>com.filemaker.client.advanced.help</string>
			</dict>
			<dict>
				<key>HelpbookID</key>
				<string>com.apple.PodcastCapture.help</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
