<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>20A241128</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>ChineseTextConverterService</string>
	<key>CFBundleGetInfoString</key>
	<string>Chinese Text Converter 1.1</string>
	<key>CFBundleIconFile</key>
	<string>CTC.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.ChineseTextConverterService</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>ChineseTextConverterService</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>66</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>13E6049a</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>12.3</string>
	<key>DTSDKBuild</key>
	<string>21E216a</string>
	<key>DTSDKName</key>
	<string>macosx12.3.internal</string>
	<key>DTXcode</key>
	<string>1330</string>
	<key>DTXcodeBuild</key>
	<string>13E6049a</string>
	<key>LSHasLocalizedDisplayName</key>
	<true/>
	<key>LSMinimumSystemVersion</key>
	<string>12.3</string>
	<key>LSUIElement</key>
	<string>1</string>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSKeyEquivalent</key>
			<dict>
				<key>default</key>
				<string>$^@C</string>
			</dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Convert Text from Simplified to Traditional Chinese</string>
			</dict>
			<key>NSMessage</key>
			<string>convertTextToTraditionalChinese</string>
			<key>NSPortName</key>
			<string>ChineseTextConverterService</string>
			<key>NSRequiredContext</key>
			<dict>
				<key>NSTextTransformation</key>
				<string>Simplified-Traditional</string>
			</dict>
			<key>NSReturnTypes</key>
			<array>
				<string>public.rtf</string>
				<string>public.utf8-plain-text</string>
			</array>
			<key>NSSendTypes</key>
			<array>
				<string>public.rtf</string>
				<string>public.utf8-plain-text</string>
			</array>
			<key>NSTimeout</key>
			<string>600000</string>
		</dict>
		<dict>
			<key>NSKeyEquivalent</key>
			<dict>
				<key>default</key>
				<string>$^~@C</string>
			</dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Convert Text from Traditional to Simplified Chinese</string>
			</dict>
			<key>NSMessage</key>
			<string>convertTextToSimplifiedChinese</string>
			<key>NSPortName</key>
			<string>ChineseTextConverterService</string>
			<key>NSRequiredContext</key>
			<dict>
				<key>NSTextTransformation</key>
				<string>Traditional-Simplified</string>
			</dict>
			<key>NSReturnTypes</key>
			<array>
				<string>public.rtf</string>
				<string>public.utf8-plain-text</string>
			</array>
			<key>NSSendTypes</key>
			<array>
				<string>public.rtf</string>
				<string>public.utf8-plain-text</string>
			</array>
			<key>NSTimeout</key>
			<string>600000</string>
		</dict>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Convert Text to Full Width</string>
			</dict>
			<key>NSMessage</key>
			<string>convertTextToFullWidth</string>
			<key>NSPortName</key>
			<string>ChineseTextConverterService</string>
			<key>NSReturnTypes</key>
			<array>
				<string>public.rtf</string>
				<string>public.utf8-plain-text</string>
			</array>
			<key>NSSendTypes</key>
			<array>
				<string>public.rtf</string>
				<string>public.utf8-plain-text</string>
			</array>
			<key>NSTimeout</key>
			<string>600000</string>
		</dict>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Convert Text to Half Width</string>
			</dict>
			<key>NSMessage</key>
			<string>convertTextToHalfWidth</string>
			<key>NSPortName</key>
			<string>ChineseTextConverterService</string>
			<key>NSReturnTypes</key>
			<array>
				<string>public.rtf</string>
				<string>public.utf8-plain-text</string>
			</array>
			<key>NSSendTypes</key>
			<array>
				<string>public.rtf</string>
				<string>public.utf8-plain-text</string>
			</array>
			<key>NSTimeout</key>
			<string>600000</string>
		</dict>
	</array>
</dict>
</plist>
