<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "https://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeySongPlaylistSliceConstants</key>
	<dict>
		<key>keySongPlaylistSliceUserSelectedShazamTasteProfileWeight</key>
		<real>0</real>
		<key>keySongPlaylistSliceUserSelectedSavoySentimentWeight</key>
		<real>0.7</real>
		<key>keySongPlaylistSliceUserSelectedTimePeriodRelevancyWeight</key>
		<real>0.1</real>
		<key>keySongPlaylistSliceUserSelectedLocaleToMemoryLocationWeight</key>
		<real>0.1</real>
		<key>keySongPlaylistSliceUserSelectedLanguageWeight</key>
		<real>0.1</real>
		<key>keySongPlaylistSlicePublicEventPerformerShazamTasteProfileWeight</key>
		<real>0.6</real>
		<key>keySongPlaylistSlicePublicEventPerformerSavoySentimentWeight</key>
		<real>0.25</real>
		<key>keySongPlaylistSlicePublicEventPerformerTimePeriodRelevancyWeight</key>
		<real>0.15</real>
		<key>keySongPlaylistSlicePublicEventPerformerLocaleToMemoryLocationWeight</key>
		<integer>0</integer>
		<key>keySongPlaylistSlicePublicEventPerformerLanguageWeight</key>
		<integer>0</integer>
		<key>keySongPlaylistSlicePrimaryHumanCuratedPlaylistShazamTasteProfileWeight</key>
		<real>0.6</real>
		<key>keySongPlaylistSlicePrimaryHumanCuratedPlaylistSavoySentimentWeight</key>
		<integer>0</integer>
		<key>keySongPlaylistSlicePrimaryHumanCuratedPlaylistTimePeriodRelevancyWeight</key>
		<real>0.2</real>
		<key>keySongPlaylistSlicePrimaryHumanCuratedPlaylistLocaleToMemoryLocationWeight</key>
		<real>0.1</real>
		<key>keySongPlaylistSlicePrimaryHumanCuratedPlaylistLanguageWeight</key>
		<real>0.1</real>
		<key>keySongPlaylistSliceLyricalHitMinimumShazamTasteProfileScore</key>
		<real>0.9</real>
		<key>keySongPlaylistSliceLyricalHitMaximumShazamTasteProfileScore</key>
		<real>1</real>
		<key>keySongPlaylistSliceLyricalHitMinimumSavoySentimentScore</key>
		<real>0.9</real>
		<key>keySongPlaylistSliceLyricalHitMaximumSavoySentimentScore</key>
		<real>1</real>
		<key>keySongPlaylistSliceLyricalHitMinimumTimePeriodRelevancyScore</key>
		<integer>0</integer>
		<key>keySongPlaylistSliceLyricalHitMaximumTimePeriodRelevancyScore</key>
		<integer>1</integer>
		<key>keySongPlaylistSliceLyricalHitMinimumLocaleToMemoryLocationScore</key>
		<integer>0</integer>
		<key>keySongPlaylistSliceLyricalHitMaximumLocaleToMemoryLocationScore</key>
		<integer>1</integer>
		<key>keySongPlaylistSliceLyricalHitMinimumLanguageScore</key>
		<real>0.75</real>
		<key>keySongPlaylistSliceLyricalHitMaximumLanguageScore</key>
		<integer>1</integer>
		<key>keySongPlaylistSliceLyricalHitShazamTasteProfileWeight</key>
		<integer>0</integer>
		<key>keySongPlaylistSliceLyricalHitSavoySentimentWeight</key>
		<integer>0</integer>
		<key>keySongPlaylistSliceLyricalHitTimePeriodRelevancyWeight</key>
		<integer>0</integer>
		<key>keySongPlaylistSliceLyricalHitLocaleToMemoryLocationWeight</key>
		<integer>0</integer>
		<key>keySongPlaylistSliceLyricalHitLanguageWeight</key>
		<integer>1</integer>
		<key>keySongPlaylistSliceDefaultShazamTasteProfileWeight</key>
		<real>0.6</real>
		<key>keySongPlaylistSliceDefaultSavoySentimentWeight</key>
		<real>0.2</real>
		<key>keySongPlaylistSliceDefaultTimePeriodRelevancyWeight</key>
		<real>0.1</real>
		<key>keySongPlaylistSliceDefaultLocaleToMemoryLocationWeight</key>
		<integer>0</integer>
		<key>keySongPlaylistSliceDefaultLanguageWeight</key>
		<real>0.1</real>
	</dict>
	<key>YourFavoritesPlaylistSliceConstants</key>
	<dict>
		<key>yourFavoritesPlaylistSliceLanguageWeight</key>
		<real>0.1</real>
		<key>yourFavoritesPlaylistSliceLocaleToMemoryLocationWeight</key>
		<real>0.1</real>
		<key>yourFavoritesPlaylistSliceTimePeriodRelevancyWeight</key>
		<real>0.1</real>
		<key>yourFavoritesPlaylistSliceSavoySentimentWeight</key>
		<real>0.55</real>
		<key>yourFavoritesPlaylistSliceShazamTasteProfileWeight</key>
		<real>0.15</real>
	</dict>
	<key>FromThisLocationPlaylistSliceConstants</key>
	<dict>
		<key>fromThisLocationPlaylistSliceLanguageWeight</key>
		<real>0.05</real>
		<key>fromThisLocationPlaylistSliceLocaleToMemoryLocationWeight</key>
		<real>0.2</real>
		<key>fromThisLocationPlaylistSliceTimePeriodRelevancyWeight</key>
		<real>0.05</real>
		<key>fromThisLocationPlaylistSliceSavoySentimentWeight</key>
		<real>0.2</real>
		<key>fromThisLocationPlaylistSliceShazamTasteProfileWeight</key>
		<real>0.5</real>
	</dict>
	<key>FromThisTimePlaylistSliceConstants </key>
	<dict>
		<key>fromThisTimePlaylistSliceLanguageWeight</key>
		<real>0.1</real>
		<key>fromThisTimePlaylistSliceLocaleToMemoryLocationWeight</key>
		<real>0.1</real>
		<key>fromThisTimePlaylistSliceTimePeriodRelevancyWeight</key>
		<real>0.5</real>
		<key>fromThisTimePlaylistSliceSavoySentimentWeight</key>
		<real>0.1</real>
		<key>fromThisTimePlaylistSliceShazamTasteProfileWeight</key>
		<real>0.2</real>
	</dict>
	<key>version</key>
	<integer>1</integer>
</dict>
</plist>
