<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Platform</key>
	<string>macOS</string>
	<key>LegacyExtensionPointAllowList</key>
	<dict>
		<key>com.apple.AppSSO.idp-extension</key>
		<true/>
		<key>com.apple.AudioUnit</key>
		<true/>
		<key>com.apple.AudioUnit-UI</key>
		<true/>
		<key>com.apple.ExternalAccessory.WACUI</key>
		<true/>
		<key>com.apple.FinderSync</key>
		<true/>
		<key>com.apple.Home.ui-extension.userList</key>
		<true/>
		<key>com.apple.HomeKit.extension.CHIP</key>
		<true/>
		<key>com.apple.PaperKit.Extension</key>
		<true/>
		<key>com.apple.PassKit.in-app-payment-ui</key>
		<true/>
		<key>com.apple.PassKit.issuer-provisioning</key>
		<true/>
		<key>com.apple.PassKit.issuer-provisioning.authorization</key>
		<true/>
		<key>com.apple.PassKit.payment-information-event</key>
		<true/>
		<key>com.apple.Safari.content-blocker</key>
		<true/>
		<key>com.apple.Safari.extension</key>
		<true/>
		<key>com.apple.Safari.web-extension</key>
		<true/>
		<key>com.apple.UHASHello</key>
		<true/>
		<key>com.apple.VideoSubscriberAccount.AuthenticationViewService</key>
		<true/>
		<key>com.apple.amsengagementd-extension</key>
		<true/>
		<key>com.apple.app.non-ui-extension</key>
		<true/>
		<key>com.apple.app.non-ui-extension.multiple-instances</key>
		<true/>
		<key>com.apple.app.ui-extension.multiple-instances</key>
		<true/>
		<key>com.apple.appstored-services.event</key>
		<true/>
		<key>com.apple.appstored-services.testflight</key>
		<true/>
		<key>com.apple.askpermission-extension</key>
		<true/>
		<key>com.apple.authentication-services-credential-provider-ui</key>
		<true/>
		<key>com.apple.authentication-services-helper-extension-ui</key>
		<true/>
		<key>com.apple.broadcast-services</key>
		<true/>
		<key>com.apple.broadcast-services-setupui</key>
		<true/>
		<key>com.apple.broadcast-services-upload</key>
		<true/>
		<key>com.apple.cache_delete_extension</key>
		<true/>
		<key>com.apple.calendar-virtualconference</key>
		<true/>
		<key>com.apple.callkit.call-directory</key>
		<true/>
		<key>com.apple.classkit.context-provider</key>
		<true/>
		<key>com.apple.classroom.instructor</key>
		<true/>
		<key>com.apple.contact-view</key>
		<true/>
		<key>com.apple.contacts.avatar-picker-ui</key>
		<true/>
		<key>com.apple.contacts.donation</key>
		<true/>
		<key>com.apple.ctk-tokens</key>
		<true/>
		<key>com.apple.datadetectors.previewcontent</key>
		<true/>
		<key>com.apple.diagnosticextensions-service</key>
		<true/>
		<key>com.apple.diagnostics-reporter-service</key>
		<true/>
		<key>com.apple.diagnostics-restricted-service</key>
		<true/>
		<key>com.apple.diagnostics-restricted-ui-service</key>
		<true/>
		<key>com.apple.diagnostics-service</key>
		<true/>
		<key>com.apple.diagnostics-ui-service</key>
		<true/>
		<key>com.apple.email.extension</key>
		<true/>
		<key>com.apple.eventfactory.factory</key>
		<true/>
		<key>com.apple.extension-view-service-sample-rk</key>
		<true/>
		<key>com.apple.feedback.drafting-extension</key>
		<true/>
		<key>com.apple.fileconversion-nonui</key>
		<true/>
		<key>com.apple.fileprovider-actionsui</key>
		<true/>
		<key>com.apple.fileprovider-nonui</key>
		<true/>
		<key>com.apple.fileprovider-ui</key>
		<true/>
		<key>com.apple.followup-extension</key>
		<true/>
		<key>com.apple.gamecenter-services</key>
		<true/>
		<key>com.apple.healthkit.background-observation</key>
		<true/>
		<key>com.apple.identitylookup.classification-ui</key>
		<true/>
		<key>com.apple.identitylookup.message-filter</key>
		<true/>
		<key>com.apple.intents-service</key>
		<true/>
		<key>com.apple.intents-ui-service</key>
		<true/>
		<key>com.apple.keyboard-service</key>
		<true/>
		<key>com.apple.location.push.service</key>
		<true/>
		<key>com.apple.maps.services</key>
		<true/>
		<key>com.apple.maps.ui-services</key>
		<true/>
		<key>com.apple.markup-private</key>
		<true/>
		<key>com.apple.media-picker</key>
		<true/>
		<key>com.apple.message-payload-provider</key>
		<true/>
		<key>com.apple.message-payload-provider.highmemory</key>
		<true/>
		<key>com.apple.ml-extension</key>
		<true/>
		<key>com.apple.mlruntime.extension-point-high</key>
		<true/>
		<key>com.apple.mlruntime.extension-point-low</key>
		<true/>
		<key>com.apple.mobileslideshow.photo-picker</key>
		<true/>
		<key>com.apple.networkextension.app-proxy</key>
		<true/>
		<key>com.apple.networkextension.packet-tunnel</key>
		<true/>
		<key>com.apple.notification-extension</key>
		<true/>
		<key>com.apple.pdfkit-private</key>
		<true/>
		<key>com.apple.people-picker</key>
		<true/>
		<key>com.apple.photo-editing</key>
		<true/>
		<key>com.apple.photo-project</key>
		<true/>
		<key>com.apple.preference.appleid.details</key>
		<true/>
		<key>com.apple.preference.security.privacy</key>
		<true/>
		<key>com.apple.preference.sharing.service</key>
		<true/>
		<key>com.apple.private.CoreBluetoothUI.BTDevicePicker</key>
		<true/>
		<key>com.apple.private.Safari.AppleConnect</key>
		<true/>
		<key>com.apple.private.bluetooth.CBExtension</key>
		<true/>
		<key>com.apple.private.translation-ui</key>
		<true/>
		<key>com.apple.private.voiceshortcuts-ui</key>
		<true/>
		<key>com.apple.quicklook.extension.preview</key>
		<true/>
		<key>com.apple.quicklook.preview</key>
		<true/>
		<key>com.apple.quicklook.preview.highmemory</key>
		<true/>
		<key>com.apple.quicklook.thumbnail</key>
		<true/>
		<key>com.apple.quicklook.thumbnail.highmemory</key>
		<true/>
		<key>com.apple.quicklook.thumbnail.secure</key>
		<true/>
		<key>com.apple.remotemanagement.service</key>
		<true/>
		<key>com.apple.replaykit.broadcast-picker</key>
		<true/>
		<key>com.apple.screen-recorder-services</key>
		<true/>
		<key>com.apple.screensaver</key>
		<true/>
		<key>com.apple.screentime.web-service</key>
		<true/>
		<key>com.apple.sensorkit.auth</key>
		<true/>
		<key>com.apple.services</key>
		<true/>
		<key>com.apple.share-services</key>
		<true/>
		<key>com.apple.social.ui-authenticators</key>
		<true/>
		<key>com.apple.sociallayer.conversation</key>
		<true/>
		<key>com.apple.spotlight.import</key>
		<true/>
		<key>com.apple.spotlight.index</key>
		<true/>
		<key>com.apple.storagemanagement</key>
		<true/>
		<key>com.apple.taptoradar-service</key>
		<true/>
		<key>com.apple.textinputmethod-services</key>
		<true/>
		<key>com.apple.ui-services</key>
		<true/>
		<key>com.apple.usernotifications.content-extension</key>
		<true/>
		<key>com.apple.usernotifications.service</key>
		<true/>
		<key>com.apple.watchkit</key>
		<true/>
		<key>com.apple.widget-extension</key>
		<true/>
		<key>com.apple.widgetkit-extension</key>
		<true/>
	</dict>
</dict>
</plist>
