<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.perl5</key> <!-- Scripting engines may load third party code and jit-->
	<integer>768</integer>
	<key>com.apple.perl</key> <!-- Scripting engines may load third party code and jit-->
	<integer>768</integer>
	<key>org.python.python</key> <!-- Scripting engines may load third party code and jit-->
	<integer>768</integer>
	<key>com.apple.expect</key> <!-- Scripting engines may load third party code and jit-->
	<integer>768</integer>
	<key>com.tcltk.wish</key> <!-- Scripting engines may load third party code and jit-->
	<integer>768</integer>
	<key>com.tcltk.tclsh</key> <!-- Scripting engines may load third party code and jit-->
	<integer>768</integer>
	<key>com.apple.ruby</key> <!-- Scripting engines may load third party code and jit-->
	<integer>768</integer>
	<key>com.apple.bash</key> <!-- Required for the 'enable' command -->
	<integer>768</integer>
	<key>com.apple.zsh</key> <!-- Required for the 'zmodload' command -->
	<integer>768</integer>
	<key>com.apple.ksh</key> <!-- Required for 'builtin' command -->
	<integer>768</integer>
</dict>
</plist>
