<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CalStore</key>
	<dict>
		<key>SupportsAlarmProximity</key>
		<true/>
		<key>SupportsReminderActions</key>
		<true/>
		<key>SupportsReminderLocations</key>
		<true/>
		<key>SupportsStructuredLocations</key>
		<true/>
		<key>SupportsIncomingInvitations</key>
		<true/>
		<key>SupportsOutgoingInvitations</key>
		<true/>
	</dict>
	<key>CalEvent</key>
	<dict>
		<key>SupportsResponseComment</key>
		<false/>
		<key>SupportsLimitedAvailability</key>
		<true/>
		<key>FutureStartLimitedToOccurrenceCache</key>
		<false/>
	</dict>
</dict>
</plist>
