<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>20A241128</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>DACalDAV</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.DACalDAV</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>DACalDAV</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>DAAccountInfo</key>
	<array>
		<dict>
			<key>ACAccountType</key>
			<string>com.apple.account.CalDAV</string>
			<key>DAAccountClass</key>
			<string>MobileCalDAVAccount</string>
			<key>DAAgentClass</key>
			<string>CalDAVAgent</string>
			<key>DAAgentClassBundle</key>
			<string>DADaemonCalDAV</string>
			<key>DADaemonAccountClass</key>
			<string>MobileCalDAVDaemonAccount</string>
		</dict>
		<dict>
			<key>ACAccountType</key>
			<string>com.apple.account.CalDAV</string>
			<key>ACParentAccountType</key>
			<string>com.apple.account.CalDAV</string>
			<key>DAAccountClass</key>
			<string>MobileCalDAVAccount</string>
			<key>DAAgentClass</key>
			<string>CalDAVAgent</string>
			<key>DAAgentClassBundle</key>
			<string>DADaemonCalDAV</string>
			<key>DADaemonAccountClass</key>
			<string>MobileCalDAVDaemonAccount</string>
		</dict>
		<dict>
			<key>ACAccountType</key>
			<string>com.apple.account.CalDAV</string>
			<key>ACParentAccountType</key>
			<string>com.apple.account.Google</string>
			<key>DAAccountClass</key>
			<string>MobileCalDAVAccount</string>
			<key>DAAgentClass</key>
			<string>CalDAVAgent</string>
			<key>DAAgentClassBundle</key>
			<string>DADaemonCalDAV</string>
			<key>DADaemonAccountClass</key>
			<string>MobileCalDAVDaemonAccount</string>
		</dict>
		<dict>
			<key>ACAccountType</key>
			<string>com.apple.account.CalDAV</string>
			<key>ACParentAccountType</key>
			<string>com.apple.account.Yahoo</string>
			<key>DAAccountClass</key>
			<string>MobileCalDAVAccount</string>
			<key>DAAgentClass</key>
			<string>CalDAVAgent</string>
			<key>DAAgentClassBundle</key>
			<string>DADaemonCalDAV</string>
			<key>DADaemonAccountClass</key>
			<string>MobileCalDAVDaemonAccount</string>
		</dict>
		<dict>
			<key>ACAccountType</key>
			<string>com.apple.account.CalDAV</string>
			<key>ACParentAccountType</key>
			<string>com.apple.facebook</string>
			<key>DAAccountClass</key>
			<string>MobileCalDAVAccount</string>
			<key>DAAgentClass</key>
			<string>CalDAVAgent</string>
			<key>DAAgentClassBundle</key>
			<string>DADaemonCalDAV</string>
			<key>DADaemonAccountClass</key>
			<string>MobileCalDAVFacebookDaemonAccount</string>
		</dict>
		<dict>
			<key>ACAccountType</key>
			<string>com.apple.account.CalDAV</string>
			<key>ACParentAccountType</key>
			<string>com.apple.account.AppleAccount</string>
			<key>DAAccountClass</key>
			<string>MobileCalDAVAccount</string>
			<key>DAAgentClass</key>
			<string>CalDAVAgent</string>
			<key>DAAgentClassBundle</key>
			<string>DADaemonCalDAV</string>
			<key>DADaemonAccountClass</key>
			<string>MobileCalDAViCloudDaemonAccount</string>
		</dict>
		<dict>
			<key>ACAccountType</key>
			<string>com.apple.account.CalDAV</string>
			<key>ACParentAccountType</key>
			<string>com.apple.account.osxserver</string>
			<key>DAAccountClass</key>
			<string>MobileCalDAVAccount</string>
			<key>DAAgentClass</key>
			<string>CalDAVAgent</string>
			<key>DAAgentClassBundle</key>
			<string>DADaemonCalDAV</string>
			<key>DADaemonAccountClass</key>
			<string>MobileCalDAVDaemonAccount</string>
		</dict>
		<dict>
			<key>ACAccountType</key>
			<string>com.apple.account.CalDAV</string>
			<key>ACParentAccountType</key>
			<string>com.apple.account.aol</string>
			<key>DAAccountClass</key>
			<string>MobileCalDAVAccount</string>
			<key>DAAgentClass</key>
			<string>CalDAVAgent</string>
			<key>DAAgentClassBundle</key>
			<string>DADaemonCalDAV</string>
			<key>DADaemonAccountClass</key>
			<string>MobileCalDAVDaemonAccount</string>
		</dict>
	</array>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>21E222</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>12.3</string>
	<key>DTSDKBuild</key>
	<string>21E222</string>
	<key>DTSDKName</key>
	<string>macosx12.3.internal</string>
	<key>DTXcode</key>
	<string>1330</string>
	<key>DTXcodeBuild</key>
	<string>13E6049a</string>
	<key>LSMinimumSystemVersion</key>
	<string>12.3</string>
</dict>
</plist>
