<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aListAccountDomains</key>
	<array>
		<string>google.com</string>
		<string>gmail.com</string>
		<string>aol.com</string>
		<string>yahoo.com</string>
		<string>163.com</string>
		<string>126.com</string>
		<string>qq.com</string>
	</array>
</dict>
</plist>
