<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Versions</key>
	<dict>

		<key>ArtistsExceptions</key>
		<dict>
			<key>changelist</key>
			<integer>222742</integer>
			<key>buildID</key>
			<string>1.4</string>
			<key>bundleType</key>
			<integer>2</integer>
			<key>fileName</key>
			<string>artists.binlm</string>
		</dict>
		
	</dict>
</dict>
</plist>
