<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>20A241128</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>ReplayKitMacHelper</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.replaykit.ReplayKitMacHelper</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>ReplayKitMacHelper</string>
	<key>CFBundlePackageType</key>
	<string>FMWK</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>13E6049a</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>12.3</string>
	<key>DTSDKBuild</key>
	<string>21E216a</string>
	<key>DTSDKName</key>
	<string>macosx12.3.internal</string>
	<key>DTXcode</key>
	<string>1330</string>
	<key>DTXcodeBuild</key>
	<string>13E6049a</string>
	<key>LSMinimumSystemVersion</key>
	<string>12.3</string>
	<key>NSExtensionSDK</key>
	<dict>
		<key>com.apple.extension-view-service-sample-rk</key>
		<dict>
			<key>CFBundlePackageType</key>
			<string>XPC!</string>
			<key>NSExtension</key>
			<dict>
				<key>NSExtensionAttributes</key>
				<dict>
					<key>NSExtensionPointName</key>
					<string>com.apple.extension-view-service-sample-rk</string>
					<key>NSExtensionPointVersion</key>
					<string>1.0</string>
				</dict>
				<key>NSExtensionContainingViewControllerClass</key>
				<string>RPVideoEditorExtensionNSViewController</string>
				<key>NSExtensionContextClass</key>
				<string>RPVideoEditorViewServiceExtensionContext</string>
				<key>NSExtensionContextHostClass</key>
				<string>RPVideoEditorViewServiceExtensionHostContext</string>
				<key>NSExtensionPointIdentifier</key>
				<string>com.apple.extension-view-service-sample-rk</string>
				<key>NSExtensionPrincipalClass</key>
				<string>RPVideoEditorExtensionNSViewController</string>
				<key>NSExtensionViewControllerHostClass</key>
				<string>NSViewController</string>
				<key>Subsystems</key>
				<array>
					<string>NSSharingService_Subsystem</string>
					<string>NSViewService_PKSubsystem</string>
				</array>
			</dict>
			<key>XPCService</key>
			<dict>
				<key>JoinExistingSession</key>
				<true/>
				<key>RunLoopType</key>
				<string>_NSApplicationMain</string>
				<key>ServiceType</key>
				<string>Application</string>
				<key>_AdditionalSubServices</key>
				<dict>
					<key>apple-extension-service</key>
					<true/>
					<key>viewbridge</key>
					<true/>
				</dict>
			</dict>
		</dict>
		<key>com.apple.replaykit.broadcast-picker</key>
		<dict>
			<key>CFBundlePackageType</key>
			<string>XPC!</string>
			<key>NSExtension</key>
			<dict>
				<key>NSExtensionAttributes</key>
				<dict>
					<key>NSExtensionPointName</key>
					<string>com.apple.replaykit.broadcast-picker</string>
					<key>NSExtensionPointVersion</key>
					<string>1.0</string>
				</dict>
				<key>NSExtensionContainingViewControllerClass</key>
				<string>RPBroadcastActivityExtensionNSViewController</string>
				<key>NSExtensionContextClass</key>
				<string>RPBroadcastActivityViewServiceExtensionContext</string>
				<key>NSExtensionContextHostClass</key>
				<string>RPBroadcastActivityViewServiceExtensionHostContext</string>
				<key>NSExtensionPointIdentifier</key>
				<string>com.apple.replaykit.broadcast-picker</string>
				<key>NSExtensionPrincipalClass</key>
				<string>RPBroadcastActivityExtensionNSViewController</string>
				<key>NSExtensionViewControllerHostClass</key>
				<string>NSViewController</string>
				<key>Subsystems</key>
				<array>
					<string>NSSharingService_Subsystem</string>
					<string>NSViewService_PKSubsystem</string>
				</array>
			</dict>
			<key>XPCService</key>
			<dict>
				<key>JoinExistingSession</key>
				<true/>
				<key>RunLoopType</key>
				<string>_NSApplicationMain</string>
				<key>ServiceType</key>
				<string>Application</string>
				<key>_AdditionalSubServices</key>
				<dict>
					<key>apple-extension-service</key>
					<true/>
					<key>viewbridge</key>
					<true/>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
