<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>volumes</key>
	<dict>
		<key>_detailLevel</key>
		<string>0</string>
	</dict>
	<key>volumes_anonymous</key>
	<dict>
		<key>_detailLevel</key>
		<string>-1</string>
		<key>_maxDetailLevel</key>
		<string>-1</string>
	</dict>
</dict>
</plist>
