<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>215447a0-bb03-4e18-8598-7b6b6e7d34fd</string>
	<string>ca60afc6-5954-46fd-8cb9-60dde6ac39fd</string>
	<string>902eb66c-8e37-451f-b0f2-ffb3e878560b</string>
</array>
</plist>
