<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CustomerSeed</key>
	<string>a3799e8a-246d-4dee-b418-76b4519a15a2</string>
	<key>DeveloperSeed</key>
	<string>298e518d-b45e-4d36-94be-34a63d6777ec</string>
	<key>PublicSeed</key>
	<string>9f86c787-7c59-45a7-a79a-9c164b00f866</string>
</dict>
</plist>
