<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Text.CapitalizeSelection</key>
	<dict>
		<key>ExcludeAlwaysForLocales</key>
		<array>
			<string>ja_JP</string>
			<string>ko_KR</string>
			<string>th_TH</string>
			<string>yue_CN</string>
			<string>zh_CN</string>
			<string>zh_HK</string>
			<string>zh_TW</string>
		</array>
	</dict>
	<key>Text.CapitalizePhrase</key>
	<dict>
		<key>ExcludeAlwaysForLocales</key>
		<array>
			<string>ja_JP</string>
			<string>ko_KR</string>
			<string>th_TH</string>
			<string>yue_CN</string>
			<string>zh_CN</string>
			<string>zh_HK</string>
			<string>zh_TW</string>
		</array>
	</dict>
	<key>Text.LowercaseSelection</key>
	<dict>
		<key>ExcludeAlwaysForLocales</key>
		<array>
			<string>ja_JP</string>
			<string>ko_KR</string>
			<string>th_TH</string>
			<string>yue_CN</string>
			<string>zh_CN</string>
			<string>zh_HK</string>
			<string>zh_TW</string>
		</array>
	</dict>
	<key>Text.LowercasePhrase</key>
	<dict>
		<key>ExcludeAlwaysForLocales</key>
		<array>
			<string>ja_JP</string>
			<string>ko_KR</string>
			<string>th_TH</string>
			<string>yue_CN</string>
			<string>zh_CN</string>
			<string>zh_HK</string>
			<string>zh_TW</string>
		</array>
	</dict>
	<key>Text.UppercaseSelection</key>
	<dict>
		<key>ExcludeAlwaysForLocales</key>
		<array>
			<string>ja_JP</string>
			<string>ko_KR</string>
			<string>th_TH</string>
			<string>yue_CN</string>
			<string>zh_CN</string>
			<string>zh_HK</string>
			<string>zh_TW</string>
		</array>
	</dict>
	<key>Text.UppercasePhrase</key>
	<dict>
		<key>ExcludeAlwaysForLocales</key>
		<array>
			<string>ja_JP</string>
			<string>ko_KR</string>
			<string>th_TH</string>
			<string>yue_CN</string>
			<string>zh_CN</string>
			<string>zh_HK</string>
			<string>zh_TW</string>
		</array>
	</dict>
	<key>Dictation.SpellAs</key>
	<dict>
		<key>ExcludeAlwaysForLocales</key>
		<array>
			<string>ja_JP</string>
			<string>ko_KR</string>
			<string>th_TH</string>
			<string>yue_CN</string>
			<string>zh_CN</string>
			<string>zh_HK</string>
			<string>zh_TW</string>
		</array>
	</dict>
	<key>System.StartSpellingMode</key>
	<dict>
		<key>ExcludeAlwaysForLocales</key>
		<array>
			<string>ja_JP</string>
			<string>ko_KR</string>
			<string>th_TH</string>
			<string>yue_CN</string>
			<string>zh_CN</string>
			<string>zh_HK</string>
			<string>zh_TW</string>
		</array>
	</dict>
	<key>Text.FormatItalic</key>
	<dict>
		<key>ExcludeAlwaysForLocales</key>
		<array>
			<string>ja_JP</string>
			<string>ko_KR</string>
			<string>th_TH</string>
			<string>yue_CN</string>
			<string>zh_CN</string>
			<string>zh_HK</string>
			<string>zh_TW</string>
		</array>
	</dict>
	<key>Text.FormatItalicPhrase</key>
	<dict>
		<key>ExcludeAlwaysForLocales</key>
		<array>
			<string>ja_JP</string>
			<string>ko_KR</string>
			<string>th_TH</string>
			<string>yue_CN</string>
			<string>zh_CN</string>
			<string>zh_HK</string>
			<string>zh_TW</string>
		</array>
	</dict>
</dict>
</plist>
