<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>0</key>
		<string>is.workflow.actions.sirikit.donation.handle</string>
		<key>1</key>
		<string>is.workflow.actions.bluetooth.set</string>
		<key>10</key>
		<string>is.workflow.actions.alert</string>
		<key>100</key>
		<string>is.workflow.actions.file.createfolder</string>
		<key>101</key>
		<string>is.workflow.actions.image.resize</string>
		<key>102</key>
		<string>is.workflow.actions.image.crop</string>
		<key>103</key>
		<string>is.workflow.actions.image.combine</string>
		<key>104</key>
		<string>is.workflow.actions.playsound</string>
		<key>105</key>
		<string>is.workflow.actions.date</string>
		<key>106</key>
		<string>is.workflow.actions.filter.calendarevents</string>
		<key>107</key>
		<string>is.workflow.actions.detect.address</string>
		<key>108</key>
		<string>is.workflow.actions.address</string>
		<key>109</key>
		<string>is.workflow.actions.gettraveltime</string>
		<key>11</key>
		<string>is.workflow.actions.openapp</string>
		<key>110</key>
		<string>is.workflow.actions.wifi.set</string>
		<key>111</key>
		<string>is.workflow.actions.generatebarcode</string>
		<key>112</key>
		<string>is.workflow.actions.makepdf</string>
		<key>113</key>
		<string>is.workflow.actions.filter.health.quantity</string>
		<key>114</key>
		<string>is.workflow.actions.properties.health.quantity</string>
		<key>115</key>
		<string>is.workflow.actions.format.date</string>
		<key>116</key>
		<string>is.workflow.actions.getupcomingevents</string>
		<key>117</key>
		<string>is.workflow.actions.getdirections</string>
		<key>118</key>
		<string>is.workflow.actions.vibrate</string>
		<key>119</key>
		<string>is.workflow.actions.properties.files</string>
		<key>12</key>
		<string>is.workflow.actions.comment</string>
		<key>120</key>
		<string>is.workflow.actions.addnewreminder</string>
		<key>121</key>
		<string>is.workflow.actions.setbrightness</string>
		<key>122</key>
		<string>is.workflow.actions.airplanemode.set</string>
		<key>123</key>
		<string>is.workflow.actions.getlatestlivephotos</string>
		<key>124</key>
		<string>is.workflow.actions.selectcontacts</string>
		<key>125</key>
		<string>is.workflow.actions.openxcallbackurl</string>
		<key>126</key>
		<string>is.workflow.actions.image.convert</string>
		<key>127</key>
		<string>is.workflow.actions.properties.safariwebpage</string>
		<key>128</key>
		<string>is.workflow.actions.getwebpagecontents</string>
		<key>129</key>
		<string>is.workflow.actions.getrichtextfrommarkdown</string>
		<key>13</key>
		<string>is.workflow.actions.getclipboard</string>
		<key>130</key>
		<string>is.workflow.actions.number.random</string>
		<key>131</key>
		<string>is.workflow.actions.searchappstore</string>
		<key>132</key>
		<string>is.workflow.actions.filter.photos</string>
		<key>133</key>
		<string>is.workflow.actions.getrichtextfromhtml</string>
		<key>134</key>
		<string>is.workflow.actions.tweet</string>
		<key>135</key>
		<string>is.workflow.actions.getwifi</string>
		<key>136</key>
		<string>is.workflow.actions.getdevicedetails</string>
		<key>137</key>
		<string>is.workflow.actions.gettimebetweendates</string>
		<key>138</key>
		<string>is.workflow.actions.detect.number</string>
		<key>139</key>
		<string>is.workflow.actions.statistics</string>
		<key>14</key>
		<string>is.workflow.actions.url.expand</string>
		<key>140</key>
		<string>is.workflow.actions.file.delete</string>
		<key>141</key>
		<string>is.workflow.actions.getmyworkflows</string>
		<key>142</key>
		<string>is.workflow.actions.url.getheaders</string>
		<key>143</key>
		<string>is.workflow.actions.format.filesize</string>
		<key>144</key>
		<string>is.workflow.actions.useractivity.open</string>
		<key>145</key>
		<string>is.workflow.actions.setvalueforkey</string>
		<key>146</key>
		<string>is.workflow.actions.detect.contacts</string>
		<key>147</key>
		<string>is.workflow.actions.properties.contacts</string>
		<key>148</key>
		<string>is.workflow.actions.filter.articles</string>
		<key>149</key>
		<string>is.workflow.actions.properties.locations</string>
		<key>15</key>
		<string>is.workflow.actions.text.match</string>
		<key>150</key>
		<string>is.workflow.actions.detect.phonenumber</string>
		<key>151</key>
		<string>is.workflow.actions.text.translate</string>
		<key>152</key>
		<string>is.workflow.actions.adjustdate</string>
		<key>153</key>
		<string>is.workflow.actions.pocket.add</string>
		<key>154</key>
		<string>is.workflow.actions.homeaccessory</string>
		<key>155</key>
		<string>is.workflow.actions.scanbarcode</string>
		<key>156</key>
		<string>is.workflow.actions.filter.notes</string>
		<key>157</key>
		<string>is.workflow.actions.viewresult</string>
		<key>158</key>
		<string>is.workflow.actions.showdefinition</string>
		<key>159</key>
		<string>is.workflow.actions.filter.contacts</string>
		<key>16</key>
		<string>is.workflow.actions.text.match.getgroup</string>
		<key>160</key>
		<string>is.workflow.actions.addnewevent</string>
		<key>161</key>
		<string>is.workflow.actions.searchlocalbusinesses</string>
		<key>162</key>
		<string>is.workflow.actions.searchmaps</string>
		<key>163</key>
		<string>is.workflow.actions.getarticle</string>
		<key>164</key>
		<string>is.workflow.actions.airdropdocument</string>
		<key>165</key>
		<string>is.workflow.actions.filter.music</string>
		<key>166</key>
		<string>is.workflow.actions.properties.calendarevents</string>
		<key>167</key>
		<string>is.workflow.actions.removeevents</string>
		<key>168</key>
		<string>is.workflow.actions.contacts</string>
		<key>169</key>
		<string>is.workflow.actions.setplaybackdestination</string>
		<key>17</key>
		<string>is.workflow.actions.choosefrommenu</string>
		<key>170</key>
		<string>is.workflow.actions.showincalendar</string>
		<key>171</key>
		<string>is.workflow.actions.exportsong</string>
		<key>172</key>
		<string>is.workflow.actions.addmusictoupnext</string>
		<key>173</key>
		<string>is.workflow.actions.pocket.get</string>
		<key>174</key>
		<string>is.workflow.actions.properties.articles</string>
		<key>175</key>
		<string>com.apple.mobilephone.call</string>
		<key>176</key>
		<string>is.workflow.actions.trimvideo</string>
		<key>177</key>
		<string>is.workflow.actions.properties.music</string>
		<key>178</key>
		<string>is.workflow.actions.image.mask</string>
		<key>179</key>
		<string>is.workflow.actions.getframesfromimage</string>
		<key>18</key>
		<string>is.workflow.actions.gettext</string>
		<key>180</key>
		<string>is.workflow.actions.image.flip</string>
		<key>181</key>
		<string>is.workflow.actions.image.rotate</string>
		<key>182</key>
		<string>is.workflow.actions.makevideofromgif</string>
		<key>183</key>
		<string>is.workflow.actions.file.getlink</string>
		<key>184</key>
		<string>is.workflow.actions.imgur.upload</string>
		<key>185</key>
		<string>is.workflow.actions.makezip</string>
		<key>186</key>
		<string>is.workflow.actions.recordaudio</string>
		<key>187</key>
		<string>is.workflow.actions.hash</string>
		<key>188</key>
		<string>is.workflow.actions.phonenumber</string>
		<key>189</key>
		<string>is.workflow.actions.avairyeditphoto</string>
		<key>19</key>
		<string>is.workflow.actions.conditional</string>
		<key>190</key>
		<string>is.workflow.actions.getbatterylevel</string>
		<key>191</key>
		<string>is.workflow.actions.weather.currentconditions</string>
		<key>192</key>
		<string>is.workflow.actions.file.append</string>
		<key>193</key>
		<string>is.workflow.actions.shownote</string>
		<key>194</key>
		<string>is.workflow.actions.flashlight</string>
		<key>195</key>
		<string>is.workflow.actions.handoffplayback</string>
		<key>196</key>
		<string>is.workflow.actions.properties.weather.conditions</string>
		<key>197</key>
		<string>is.workflow.actions.postonfacebook</string>
		<key>198</key>
		<string>is.workflow.actions.getcurrentsong</string>
		<key>199</key>
		<string>is.workflow.actions.lightroom.import</string>
		<key>2</key>
		<string>is.workflow.actions.dnd.set</string>
		<key>20</key>
		<string>is.workflow.actions.showwebpage</string>
		<key>200</key>
		<string>is.workflow.actions.takevideo</string>
		<key>201</key>
		<string>is.workflow.actions.properties.appstore</string>
		<key>202</key>
		<string>is.workflow.actions.searchweb</string>
		<key>203</key>
		<string>is.workflow.actions.getnameofemoji</string>
		<key>204</key>
		<string>is.workflow.actions.runsshscript</string>
		<key>205</key>
		<string>com.apple.facetime.facetime</string>
		<key>206</key>
		<string>is.workflow.actions.slack.send</string>
		<key>207</key>
		<string>is.workflow.actions.getdistance</string>
		<key>208</key>
		<string>is.workflow.actions.wunderlist.add</string>
		<key>209</key>
		<string>is.workflow.actions.appearance</string>
		<key>21</key>
		<string>is.workflow.actions.notification</string>
		<key>210</key>
		<string>is.workflow.actions.print</string>
		<key>211</key>
		<string>is.workflow.actions.getmarkdownfromrichtext</string>
		<key>212</key>
		<string>is.workflow.actions.health.workout.log</string>
		<key>213</key>
		<string>com.apple.TVRemoteUIService.SleepAppleTVIntent</string>
		<key>214</key>
		<string>is.workflow.actions.evernote.new</string>
		<key>215</key>
		<string>is.workflow.actions.evernote.append</string>
		<key>216</key>
		<string>is.workflow.actions.detect.date</string>
		<key>217</key>
		<string>is.workflow.actions.gethomeaccessorystate</string>
		<key>218</key>
		<string>is.workflow.actions.measurement.convert</string>
		<key>219</key>
		<string>is.workflow.actions.measurement.create</string>
		<key>22</key>
		<string>is.workflow.actions.downloadurl</string>
		<key>220</key>
		<string>is.workflow.actions.email</string>
		<key>221</key>
		<string>com.apple.TVRemoteUIService.WakeAppleTVIntent</string>
		<key>222</key>
		<string>com.apple.TVRemoteUIService.LaunchApplicationIntent</string>
		<key>223</key>
		<string>is.workflow.actions.location</string>
		<key>224</key>
		<string>is.workflow.actions.appendnote</string>
		<key>225</key>
		<string>is.workflow.actions.removereminders</string>
		<key>226</key>
		<string>is.workflow.actions.reminders.showlist</string>
		<key>227</key>
		<string>com.apple.TVRemoteUIService.LaunchRemoteIntent</string>
		<key>228</key>
		<string>com.ubercab.UberClient.requestuber</string>
		<key>229</key>
		<string>is.workflow.actions.searchpodcasts</string>
		<key>23</key>
		<string>is.workflow.actions.openin</string>
		<key>230</key>
		<string>is.workflow.actions.cloudapp.upload</string>
		<key>231</key>
		<string>is.workflow.actions.selectphone</string>
		<key>232</key>
		<string>is.workflow.actions.readinglist</string>
		<key>233</key>
		<string>is.workflow.actions.properties.reminders</string>
		<key>234</key>
		<string>is.workflow.actions.getlatestphotoimport</string>
		<key>235</key>
		<string>is.workflow.actions.detect.emailaddress</string>
		<key>236</key>
		<string>is.workflow.actions.timer.start</string>
		<key>237</key>
		<string>is.workflow.actions.venmo.request</string>
		<key>238</key>
		<string>is.workflow.actions.venmo.pay</string>
		<key>239</key>
		<string>is.workflow.actions.getclassaction</string>
		<key>24</key>
		<string>is.workflow.actions.setclipboard</string>
		<key>240</key>
		<string>is.workflow.actions.createplaylist</string>
		<key>241</key>
		<string>is.workflow.actions.rss.extract</string>
		<key>242</key>
		<string>is.workflow.actions.playpodcast</string>
		<key>243</key>
		<string>is.workflow.actions.getlatestbursts</string>
		<key>244</key>
		<string>is.workflow.actions.showinblindsquare</string>
		<key>245</key>
		<string>is.workflow.actions.detectlanguage</string>
		<key>246</key>
		<string>is.workflow.actions.evernote.get</string>
		<key>247</key>
		<string>is.workflow.actions.getupcomingreminders</string>
		<key>248</key>
		<string>is.workflow.actions.properties.itunesstore</string>
		<key>249</key>
		<string>is.workflow.actions.properties.itunesartist</string>
		<key>25</key>
		<string>is.workflow.actions.showresult</string>
		<key>250</key>
		<string>is.workflow.actions.todoist.add</string>
		<key>251</key>
		<string>is.workflow.actions.evernote.delete</string>
		<key>252</key>
		<string>is.workflow.actions.wallpaper.set</string>
		<key>253</key>
		<string>is.workflow.actions.gettypeaction</string>
		<key>254</key>
		<string>is.workflow.actions.tumblr.post</string>
		<key>255</key>
		<string>is.workflow.actions.trello.add.card</string>
		<key>256</key>
		<string>is.workflow.actions.evernote.getlink</string>
		<key>257</key>
		<string>is.workflow.actions.correctspelling</string>
		<key>258</key>
		<string>is.workflow.actions.trello.add.board</string>
		<key>259</key>
		<string>is.workflow.actions.trello.add.list</string>
		<key>26</key>
		<string>is.workflow.actions.url</string>
		<key>260</key>
		<string>is.workflow.actions.properties.trello</string>
		<key>261</key>
		<string>com.apple.TVRemoteUIService.PauseContentIntent</string>
		<key>262</key>
		<string>is.workflow.actions.instapaper.add</string>
		<key>263</key>
		<string>is.workflow.actions.wordpress.post</string>
		<key>264</key>
		<string>is.workflow.actions.gethalfwaypoint</string>
		<key>265</key>
		<string>is.workflow.actions.showinstore</string>
		<key>266</key>
		<string>is.workflow.actions.skipback</string>
		<key>267</key>
		<string>is.workflow.actions.skipforward</string>
		<key>268</key>
		<string>is.workflow.actions.getepisodesforpodcast</string>
		<key>269</key>
		<string>is.workflow.actions.addframetogif</string>
		<key>27</key>
		<string>is.workflow.actions.openurl</string>
		<key>270</key>
		<string>is.workflow.actions.filter.locations</string>
		<key>271</key>
		<string>is.workflow.actions.trello.get</string>
		<key>272</key>
		<string>is.workflow.actions.instapaper.get</string>
		<key>273</key>
		<string>is.workflow.actions.selectemail</string>
		<key>274</key>
		<string>is.workflow.actions.deskconnect.send</string>
		<key>275</key>
		<string>is.workflow.actions.goodreader.open</string>
		<key>276</key>
		<string>is.workflow.actions.podcasts.subscribe</string>
		<key>277</key>
		<string>is.workflow.actions.properties.eventattendees</string>
		<key>278</key>
		<string>is.workflow.actions.getpodcastsfromlibrary</string>
		<key>279</key>
		<string>is.workflow.actions.pinboard.add</string>
		<key>28</key>
		<string>is.workflow.actions.count</string>
		<key>280</key>
		<string>is.workflow.actions.filter.eventattendees</string>
		<key>281</key>
		<string>is.workflow.actions.pinboard.get</string>
		<key>282</key>
		<string>is.workflow.actions.properties.ulysses.sheet</string>
		<key>29</key>
		<string>is.workflow.actions.detect.link</string>
		<key>3</key>
		<string>is.workflow.actions.lowpowermode.set</string>
		<key>30</key>
		<string>is.workflow.actions.gethtmlfromrichtext</string>
		<key>31</key>
		<string>is.workflow.actions.detect.text</string>
		<key>32</key>
		<string>is.workflow.actions.text.split</string>
		<key>33</key>
		<string>is.workflow.actions.setvariable</string>
		<key>34</key>
		<string>is.workflow.actions.getitemfromlist</string>
		<key>35</key>
		<string>is.workflow.actions.repeat.each</string>
		<key>36</key>
		<string>is.workflow.actions.savetocameraroll</string>
		<key>37</key>
		<string>is.workflow.actions.text.combine</string>
		<key>38</key>
		<string>is.workflow.actions.choosefromlist</string>
		<key>39</key>
		<string>is.workflow.actions.runworkflow</string>
		<key>4</key>
		<string>is.workflow.actions.cellulardata.set</string>
		<key>40</key>
		<string>is.workflow.actions.health.quantity.log</string>
		<key>41</key>
		<string>is.workflow.actions.delay</string>
		<key>42</key>
		<string>is.workflow.actions.get.playlist</string>
		<key>43</key>
		<string>is.workflow.actions.playmusic</string>
		<key>44</key>
		<string>is.workflow.actions.weather.forecast</string>
		<key>45</key>
		<string>is.workflow.actions.appendvariable</string>
		<key>46</key>
		<string>is.workflow.actions.handoff</string>
		<key>47</key>
		<string>is.workflow.actions.text.replace</string>
		<key>48</key>
		<string>is.workflow.actions.filter.images</string>
		<key>49</key>
		<string>is.workflow.actions.detect.images</string>
		<key>5</key>
		<string>is.workflow.actions.exit</string>
		<key>50</key>
		<string>is.workflow.actions.takephoto</string>
		<key>51</key>
		<string>is.workflow.actions.selectphoto</string>
		<key>52</key>
		<string>is.workflow.actions.getvalueforkey</string>
		<key>53</key>
		<string>is.workflow.actions.filter.files</string>
		<key>54</key>
		<string>is.workflow.actions.properties.images</string>
		<key>55</key>
		<string>is.workflow.actions.overlayimageonimage</string>
		<key>56</key>
		<string>is.workflow.actions.previewdocument</string>
		<key>57</key>
		<string>is.workflow.actions.deletephotos</string>
		<key>58</key>
		<string>is.workflow.actions.share</string>
		<key>59</key>
		<string>is.workflow.actions.number</string>
		<key>6</key>
		<string>is.workflow.actions.ask</string>
		<key>60</key>
		<string>is.workflow.actions.format.number</string>
		<key>61</key>
		<string>is.workflow.actions.repeat.count</string>
		<key>62</key>
		<string>is.workflow.actions.urlencode</string>
		<key>63</key>
		<string>is.workflow.actions.unzip</string>
		<key>64</key>
		<string>is.workflow.actions.setitemname</string>
		<key>65</key>
		<string>is.workflow.actions.waittoreturn</string>
		<key>66</key>
		<string>is.workflow.actions.runextension</string>
		<key>67</key>
		<string>is.workflow.actions.getlastphoto</string>
		<key>68</key>
		<string>is.workflow.actions.getlastscreenshot</string>
		<key>69</key>
		<string>is.workflow.actions.getlastvideo</string>
		<key>7</key>
		<string>is.workflow.actions.getvariable</string>
		<key>70</key>
		<string>is.workflow.actions.base64encode</string>
		<key>71</key>
		<string>is.workflow.actions.text.changecase</string>
		<key>72</key>
		<string>is.workflow.actions.getcurrentlocation</string>
		<key>73</key>
		<string>is.workflow.actions.getmapslink</string>
		<key>74</key>
		<string>is.workflow.actions.sendmessage</string>
		<key>75</key>
		<string>is.workflow.actions.makegif</string>
		<key>76</key>
		<string>is.workflow.actions.dictatetext</string>
		<key>77</key>
		<string>is.workflow.actions.detect.dictionary</string>
		<key>78</key>
		<string>is.workflow.actions.setvolume</string>
		<key>79</key>
		<string>is.workflow.actions.searchitunes</string>
		<key>8</key>
		<string>is.workflow.actions.math</string>
		<key>80</key>
		<string>is.workflow.actions.speaktext</string>
		<key>81</key>
		<string>is.workflow.actions.pausemusic</string>
		<key>82</key>
		<string>is.workflow.actions.giphy</string>
		<key>83</key>
		<string>is.workflow.actions.clearupnext</string>
		<key>84</key>
		<string>is.workflow.actions.nothing</string>
		<key>85</key>
		<string>is.workflow.actions.runjavascriptonwebpage</string>
		<key>86</key>
		<string>is.workflow.actions.dictionary</string>
		<key>87</key>
		<string>is.workflow.actions.documentpicker.save</string>
		<key>88</key>
		<string>is.workflow.actions.rss</string>
		<key>89</key>
		<string>is.workflow.actions.filter.reminders</string>
		<key>9</key>
		<string>is.workflow.actions.round</string>
		<key>90</key>
		<string>is.workflow.actions.sendemail</string>
		<key>91</key>
		<string>is.workflow.actions.addtoplaylist</string>
		<key>92</key>
		<string>is.workflow.actions.list</string>
		<key>93</key>
		<string>is.workflow.actions.geturlcomponent</string>
		<key>94</key>
		<string>is.workflow.actions.getitemname</string>
		<key>95</key>
		<string>is.workflow.actions.encodemedia</string>
		<key>96</key>
		<string>com.apple.mobilenotes.SharingExtension</string>
		<key>97</key>
		<string>is.workflow.actions.getitemtype</string>
		<key>98</key>
		<string>is.workflow.actions.getipaddress</string>
		<key>99</key>
		<string>is.workflow.actions.documentpicker.open</string>
	</dict>
	<dict>
		<key>0</key>
		<string>None</string>
		<key>1</key>
		<string>WFContentItem</string>
		<key>10</key>
		<string>AVAsset</string>
		<key>11</key>
		<string>public.data</string>
		<key>12</key>
		<string>WFStringContentItem</string>
		<key>13</key>
		<string>WFPhotoMediaContentItem</string>
		<key>14</key>
		<string>PHAsset</string>
		<key>15</key>
		<string>WFImageContentItem</string>
		<key>16</key>
		<string>WFDictionaryContentItem</string>
		<key>17</key>
		<string>WFHKSampleContentItem</string>
		<key>18</key>
		<string>MPMediaItem</string>
		<key>19</key>
		<string>WFMediaItemCollectionContentItem</string>
		<key>2</key>
		<string>NSString</string>
		<key>20</key>
		<string>WFWeatherData</string>
		<key>21</key>
		<string>WFAVAssetContentItem</string>
		<key>22</key>
		<string>WFDateContentItem</string>
		<key>23</key>
		<string>WFBooleanContentItem</string>
		<key>24</key>
		<string>WFGenericFileContentItem</string>
		<key>25</key>
		<string>CLLocation</string>
		<key>26</key>
		<string>MKMapItem</string>
		<key>27</key>
		<string>public.mpeg-4</string>
		<key>28</key>
		<string>com.compuserve.gif</string>
		<key>29</key>
		<string>NSDictionary</string>
		<key>3</key>
		<string>NSDecimalNumber</string>
		<key>30</key>
		<string>WFiTunesProductContentItem</string>
		<key>31</key>
		<string>WFGiphyObject</string>
		<key>32</key>
		<string>WFSafariWebPageContentItem</string>
		<key>33</key>
		<string>WFArticle</string>
		<key>34</key>
		<string>WFMPMediaContentItem</string>
		<key>35</key>
		<string>INNote</string>
		<key>36</key>
		<string>WFStreetAddress</string>
		<key>37</key>
		<string>WFLocationContentItem</string>
		<key>38</key>
		<string>WFTripInfo</string>
		<key>39</key>
		<string>WFPDFContentItem</string>
		<key>4</key>
		<string>NSURL</string>
		<key>40</key>
		<string>EKEvent</string>
		<key>41</key>
		<string>EKReminder</string>
		<key>42</key>
		<string>WFContact</string>
		<key>43</key>
		<string>NSAttributedString</string>
		<key>44</key>
		<string>public.html</string>
		<key>45</key>
		<string>WFAppStoreAppContentItem</string>
		<key>46</key>
		<string>NSNumber</string>
		<key>47</key>
		<string>WFWorkflowRecord</string>
		<key>48</key>
		<string>WFFileSizeContentItem</string>
		<key>49</key>
		<string>WFContactContentItem</string>
		<key>5</key>
		<string>NSDate</string>
		<key>50</key>
		<string>WFPhoneNumber</string>
		<key>51</key>
		<string>WFPhoneNumberContentItem</string>
		<key>52</key>
		<string>WFCalendarEventContentItem</string>
		<key>53</key>
		<string>WFTimeIntervalContentItem</string>
		<key>54</key>
		<string>AVMetadataMachineReadableCodeObject</string>
		<key>55</key>
		<string>WFNoteContentItem</string>
		<key>56</key>
		<string>WFArticleContentItem</string>
		<key>57</key>
		<string>com.apple.quicktime-movie</string>
		<key>58</key>
		<string>com.apple.m4a-audio</string>
		<key>59</key>
		<string>WFEmailAddress</string>
		<key>6</key>
		<string>WFNumberContentItem</string>
		<key>60</key>
		<string>UIPrintFormatter</string>
		<key>61</key>
		<string>com.adobe.pdf</string>
		<key>62</key>
		<string>WFHKWorkoutContentItem</string>
		<key>63</key>
		<string>ENNoteRef</string>
		<key>64</key>
		<string>NSMeasurement</string>
		<key>65</key>
		<string>WFEmailAddressContentItem</string>
		<key>66</key>
		<string>WFPodcastEpisodeContentItem</string>
		<key>67</key>
		<string>WFTrelloCard</string>
		<key>68</key>
		<string>WFTrelloBoard</string>
		<key>69</key>
		<string>WFTrelloList</string>
		<key>7</key>
		<string>WFURLContentItem</string>
		<key>70</key>
		<string>WFTrelloBoardContentItem</string>
		<key>71</key>
		<string>WFTrelloListContentItem</string>
		<key>72</key>
		<string>WFTrelloCardContentItem</string>
		<key>73</key>
		<string>WFUlyssesSheetContentItem</string>
		<key>8</key>
		<string>WFRichTextContentItem</string>
		<key>9</key>
		<string>UIImage</string>
	</dict>
</array>
</plist>
