<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>com.apple.TVRemoteUIService.LaunchApplicationIntent</key>
		<string>222</string>
		<key>com.apple.TVRemoteUIService.LaunchRemoteIntent</key>
		<string>227</string>
		<key>com.apple.TVRemoteUIService.PauseContentIntent</key>
		<string>261</string>
		<key>com.apple.TVRemoteUIService.SleepAppleTVIntent</key>
		<string>213</string>
		<key>com.apple.TVRemoteUIService.WakeAppleTVIntent</key>
		<string>221</string>
		<key>com.apple.facetime.facetime</key>
		<string>205</string>
		<key>com.apple.mobilenotes.SharingExtension</key>
		<string>96</string>
		<key>com.apple.mobilephone.call</key>
		<string>175</string>
		<key>com.ubercab.UberClient.requestuber</key>
		<string>228</string>
		<key>is.workflow.actions.addframetogif</key>
		<string>269</string>
		<key>is.workflow.actions.addmusictoupnext</key>
		<string>172</string>
		<key>is.workflow.actions.addnewevent</key>
		<string>160</string>
		<key>is.workflow.actions.addnewreminder</key>
		<string>120</string>
		<key>is.workflow.actions.address</key>
		<string>108</string>
		<key>is.workflow.actions.addtoplaylist</key>
		<string>91</string>
		<key>is.workflow.actions.adjustdate</key>
		<string>152</string>
		<key>is.workflow.actions.airdropdocument</key>
		<string>164</string>
		<key>is.workflow.actions.airplanemode.set</key>
		<string>122</string>
		<key>is.workflow.actions.alert</key>
		<string>10</string>
		<key>is.workflow.actions.appearance</key>
		<string>209</string>
		<key>is.workflow.actions.appendnote</key>
		<string>224</string>
		<key>is.workflow.actions.appendvariable</key>
		<string>45</string>
		<key>is.workflow.actions.ask</key>
		<string>6</string>
		<key>is.workflow.actions.avairyeditphoto</key>
		<string>189</string>
		<key>is.workflow.actions.base64encode</key>
		<string>70</string>
		<key>is.workflow.actions.bluetooth.set</key>
		<string>1</string>
		<key>is.workflow.actions.cellulardata.set</key>
		<string>4</string>
		<key>is.workflow.actions.choosefromlist</key>
		<string>38</string>
		<key>is.workflow.actions.choosefrommenu</key>
		<string>17</string>
		<key>is.workflow.actions.clearupnext</key>
		<string>83</string>
		<key>is.workflow.actions.cloudapp.upload</key>
		<string>230</string>
		<key>is.workflow.actions.comment</key>
		<string>12</string>
		<key>is.workflow.actions.conditional</key>
		<string>19</string>
		<key>is.workflow.actions.contacts</key>
		<string>168</string>
		<key>is.workflow.actions.correctspelling</key>
		<string>257</string>
		<key>is.workflow.actions.count</key>
		<string>28</string>
		<key>is.workflow.actions.createplaylist</key>
		<string>240</string>
		<key>is.workflow.actions.date</key>
		<string>105</string>
		<key>is.workflow.actions.delay</key>
		<string>41</string>
		<key>is.workflow.actions.deletephotos</key>
		<string>57</string>
		<key>is.workflow.actions.deskconnect.send</key>
		<string>274</string>
		<key>is.workflow.actions.detect.address</key>
		<string>107</string>
		<key>is.workflow.actions.detect.contacts</key>
		<string>146</string>
		<key>is.workflow.actions.detect.date</key>
		<string>216</string>
		<key>is.workflow.actions.detect.dictionary</key>
		<string>77</string>
		<key>is.workflow.actions.detect.emailaddress</key>
		<string>235</string>
		<key>is.workflow.actions.detect.images</key>
		<string>49</string>
		<key>is.workflow.actions.detect.link</key>
		<string>29</string>
		<key>is.workflow.actions.detect.number</key>
		<string>138</string>
		<key>is.workflow.actions.detect.phonenumber</key>
		<string>150</string>
		<key>is.workflow.actions.detect.text</key>
		<string>31</string>
		<key>is.workflow.actions.detectlanguage</key>
		<string>245</string>
		<key>is.workflow.actions.dictatetext</key>
		<string>76</string>
		<key>is.workflow.actions.dictionary</key>
		<string>86</string>
		<key>is.workflow.actions.dnd.set</key>
		<string>2</string>
		<key>is.workflow.actions.documentpicker.open</key>
		<string>99</string>
		<key>is.workflow.actions.documentpicker.save</key>
		<string>87</string>
		<key>is.workflow.actions.downloadurl</key>
		<string>22</string>
		<key>is.workflow.actions.email</key>
		<string>220</string>
		<key>is.workflow.actions.encodemedia</key>
		<string>95</string>
		<key>is.workflow.actions.evernote.append</key>
		<string>215</string>
		<key>is.workflow.actions.evernote.delete</key>
		<string>251</string>
		<key>is.workflow.actions.evernote.get</key>
		<string>246</string>
		<key>is.workflow.actions.evernote.getlink</key>
		<string>256</string>
		<key>is.workflow.actions.evernote.new</key>
		<string>214</string>
		<key>is.workflow.actions.exit</key>
		<string>5</string>
		<key>is.workflow.actions.exportsong</key>
		<string>171</string>
		<key>is.workflow.actions.file.append</key>
		<string>192</string>
		<key>is.workflow.actions.file.createfolder</key>
		<string>100</string>
		<key>is.workflow.actions.file.delete</key>
		<string>140</string>
		<key>is.workflow.actions.file.getlink</key>
		<string>183</string>
		<key>is.workflow.actions.filter.articles</key>
		<string>148</string>
		<key>is.workflow.actions.filter.calendarevents</key>
		<string>106</string>
		<key>is.workflow.actions.filter.contacts</key>
		<string>159</string>
		<key>is.workflow.actions.filter.eventattendees</key>
		<string>280</string>
		<key>is.workflow.actions.filter.files</key>
		<string>53</string>
		<key>is.workflow.actions.filter.health.quantity</key>
		<string>113</string>
		<key>is.workflow.actions.filter.images</key>
		<string>48</string>
		<key>is.workflow.actions.filter.locations</key>
		<string>270</string>
		<key>is.workflow.actions.filter.music</key>
		<string>165</string>
		<key>is.workflow.actions.filter.notes</key>
		<string>156</string>
		<key>is.workflow.actions.filter.photos</key>
		<string>132</string>
		<key>is.workflow.actions.filter.reminders</key>
		<string>89</string>
		<key>is.workflow.actions.flashlight</key>
		<string>194</string>
		<key>is.workflow.actions.format.date</key>
		<string>115</string>
		<key>is.workflow.actions.format.filesize</key>
		<string>143</string>
		<key>is.workflow.actions.format.number</key>
		<string>60</string>
		<key>is.workflow.actions.generatebarcode</key>
		<string>111</string>
		<key>is.workflow.actions.get.playlist</key>
		<string>42</string>
		<key>is.workflow.actions.getarticle</key>
		<string>163</string>
		<key>is.workflow.actions.getbatterylevel</key>
		<string>190</string>
		<key>is.workflow.actions.getclassaction</key>
		<string>239</string>
		<key>is.workflow.actions.getclipboard</key>
		<string>13</string>
		<key>is.workflow.actions.getcurrentlocation</key>
		<string>72</string>
		<key>is.workflow.actions.getcurrentsong</key>
		<string>198</string>
		<key>is.workflow.actions.getdevicedetails</key>
		<string>136</string>
		<key>is.workflow.actions.getdirections</key>
		<string>117</string>
		<key>is.workflow.actions.getdistance</key>
		<string>207</string>
		<key>is.workflow.actions.getepisodesforpodcast</key>
		<string>268</string>
		<key>is.workflow.actions.getframesfromimage</key>
		<string>179</string>
		<key>is.workflow.actions.gethalfwaypoint</key>
		<string>264</string>
		<key>is.workflow.actions.gethomeaccessorystate</key>
		<string>217</string>
		<key>is.workflow.actions.gethtmlfromrichtext</key>
		<string>30</string>
		<key>is.workflow.actions.getipaddress</key>
		<string>98</string>
		<key>is.workflow.actions.getitemfromlist</key>
		<string>34</string>
		<key>is.workflow.actions.getitemname</key>
		<string>94</string>
		<key>is.workflow.actions.getitemtype</key>
		<string>97</string>
		<key>is.workflow.actions.getlastphoto</key>
		<string>67</string>
		<key>is.workflow.actions.getlastscreenshot</key>
		<string>68</string>
		<key>is.workflow.actions.getlastvideo</key>
		<string>69</string>
		<key>is.workflow.actions.getlatestbursts</key>
		<string>243</string>
		<key>is.workflow.actions.getlatestlivephotos</key>
		<string>123</string>
		<key>is.workflow.actions.getlatestphotoimport</key>
		<string>234</string>
		<key>is.workflow.actions.getmapslink</key>
		<string>73</string>
		<key>is.workflow.actions.getmarkdownfromrichtext</key>
		<string>211</string>
		<key>is.workflow.actions.getmyworkflows</key>
		<string>141</string>
		<key>is.workflow.actions.getnameofemoji</key>
		<string>203</string>
		<key>is.workflow.actions.getpodcastsfromlibrary</key>
		<string>278</string>
		<key>is.workflow.actions.getrichtextfromhtml</key>
		<string>133</string>
		<key>is.workflow.actions.getrichtextfrommarkdown</key>
		<string>129</string>
		<key>is.workflow.actions.gettext</key>
		<string>18</string>
		<key>is.workflow.actions.gettimebetweendates</key>
		<string>137</string>
		<key>is.workflow.actions.gettraveltime</key>
		<string>109</string>
		<key>is.workflow.actions.gettypeaction</key>
		<string>253</string>
		<key>is.workflow.actions.getupcomingevents</key>
		<string>116</string>
		<key>is.workflow.actions.getupcomingreminders</key>
		<string>247</string>
		<key>is.workflow.actions.geturlcomponent</key>
		<string>93</string>
		<key>is.workflow.actions.getvalueforkey</key>
		<string>52</string>
		<key>is.workflow.actions.getvariable</key>
		<string>7</string>
		<key>is.workflow.actions.getwebpagecontents</key>
		<string>128</string>
		<key>is.workflow.actions.getwifi</key>
		<string>135</string>
		<key>is.workflow.actions.giphy</key>
		<string>82</string>
		<key>is.workflow.actions.goodreader.open</key>
		<string>275</string>
		<key>is.workflow.actions.handoff</key>
		<string>46</string>
		<key>is.workflow.actions.handoffplayback</key>
		<string>195</string>
		<key>is.workflow.actions.hash</key>
		<string>187</string>
		<key>is.workflow.actions.health.quantity.log</key>
		<string>40</string>
		<key>is.workflow.actions.health.workout.log</key>
		<string>212</string>
		<key>is.workflow.actions.homeaccessory</key>
		<string>154</string>
		<key>is.workflow.actions.image.combine</key>
		<string>103</string>
		<key>is.workflow.actions.image.convert</key>
		<string>126</string>
		<key>is.workflow.actions.image.crop</key>
		<string>102</string>
		<key>is.workflow.actions.image.flip</key>
		<string>180</string>
		<key>is.workflow.actions.image.mask</key>
		<string>178</string>
		<key>is.workflow.actions.image.resize</key>
		<string>101</string>
		<key>is.workflow.actions.image.rotate</key>
		<string>181</string>
		<key>is.workflow.actions.imgur.upload</key>
		<string>184</string>
		<key>is.workflow.actions.instapaper.add</key>
		<string>262</string>
		<key>is.workflow.actions.instapaper.get</key>
		<string>272</string>
		<key>is.workflow.actions.lightroom.import</key>
		<string>199</string>
		<key>is.workflow.actions.list</key>
		<string>92</string>
		<key>is.workflow.actions.location</key>
		<string>223</string>
		<key>is.workflow.actions.lowpowermode.set</key>
		<string>3</string>
		<key>is.workflow.actions.makegif</key>
		<string>75</string>
		<key>is.workflow.actions.makepdf</key>
		<string>112</string>
		<key>is.workflow.actions.makevideofromgif</key>
		<string>182</string>
		<key>is.workflow.actions.makezip</key>
		<string>185</string>
		<key>is.workflow.actions.math</key>
		<string>8</string>
		<key>is.workflow.actions.measurement.convert</key>
		<string>218</string>
		<key>is.workflow.actions.measurement.create</key>
		<string>219</string>
		<key>is.workflow.actions.nothing</key>
		<string>84</string>
		<key>is.workflow.actions.notification</key>
		<string>21</string>
		<key>is.workflow.actions.number</key>
		<string>59</string>
		<key>is.workflow.actions.number.random</key>
		<string>130</string>
		<key>is.workflow.actions.openapp</key>
		<string>11</string>
		<key>is.workflow.actions.openin</key>
		<string>23</string>
		<key>is.workflow.actions.openurl</key>
		<string>27</string>
		<key>is.workflow.actions.openxcallbackurl</key>
		<string>125</string>
		<key>is.workflow.actions.overlayimageonimage</key>
		<string>55</string>
		<key>is.workflow.actions.pausemusic</key>
		<string>81</string>
		<key>is.workflow.actions.phonenumber</key>
		<string>188</string>
		<key>is.workflow.actions.pinboard.add</key>
		<string>279</string>
		<key>is.workflow.actions.pinboard.get</key>
		<string>281</string>
		<key>is.workflow.actions.playmusic</key>
		<string>43</string>
		<key>is.workflow.actions.playpodcast</key>
		<string>242</string>
		<key>is.workflow.actions.playsound</key>
		<string>104</string>
		<key>is.workflow.actions.pocket.add</key>
		<string>153</string>
		<key>is.workflow.actions.pocket.get</key>
		<string>173</string>
		<key>is.workflow.actions.podcasts.subscribe</key>
		<string>276</string>
		<key>is.workflow.actions.postonfacebook</key>
		<string>197</string>
		<key>is.workflow.actions.previewdocument</key>
		<string>56</string>
		<key>is.workflow.actions.print</key>
		<string>210</string>
		<key>is.workflow.actions.properties.appstore</key>
		<string>201</string>
		<key>is.workflow.actions.properties.articles</key>
		<string>174</string>
		<key>is.workflow.actions.properties.calendarevents</key>
		<string>166</string>
		<key>is.workflow.actions.properties.contacts</key>
		<string>147</string>
		<key>is.workflow.actions.properties.eventattendees</key>
		<string>277</string>
		<key>is.workflow.actions.properties.files</key>
		<string>119</string>
		<key>is.workflow.actions.properties.health.quantity</key>
		<string>114</string>
		<key>is.workflow.actions.properties.images</key>
		<string>54</string>
		<key>is.workflow.actions.properties.itunesartist</key>
		<string>249</string>
		<key>is.workflow.actions.properties.itunesstore</key>
		<string>248</string>
		<key>is.workflow.actions.properties.locations</key>
		<string>149</string>
		<key>is.workflow.actions.properties.music</key>
		<string>177</string>
		<key>is.workflow.actions.properties.reminders</key>
		<string>233</string>
		<key>is.workflow.actions.properties.safariwebpage</key>
		<string>127</string>
		<key>is.workflow.actions.properties.trello</key>
		<string>260</string>
		<key>is.workflow.actions.properties.ulysses.sheet</key>
		<string>282</string>
		<key>is.workflow.actions.properties.weather.conditions</key>
		<string>196</string>
		<key>is.workflow.actions.readinglist</key>
		<string>232</string>
		<key>is.workflow.actions.recordaudio</key>
		<string>186</string>
		<key>is.workflow.actions.reminders.showlist</key>
		<string>226</string>
		<key>is.workflow.actions.removeevents</key>
		<string>167</string>
		<key>is.workflow.actions.removereminders</key>
		<string>225</string>
		<key>is.workflow.actions.repeat.count</key>
		<string>61</string>
		<key>is.workflow.actions.repeat.each</key>
		<string>35</string>
		<key>is.workflow.actions.round</key>
		<string>9</string>
		<key>is.workflow.actions.rss</key>
		<string>88</string>
		<key>is.workflow.actions.rss.extract</key>
		<string>241</string>
		<key>is.workflow.actions.runextension</key>
		<string>66</string>
		<key>is.workflow.actions.runjavascriptonwebpage</key>
		<string>85</string>
		<key>is.workflow.actions.runsshscript</key>
		<string>204</string>
		<key>is.workflow.actions.runworkflow</key>
		<string>39</string>
		<key>is.workflow.actions.savetocameraroll</key>
		<string>36</string>
		<key>is.workflow.actions.scanbarcode</key>
		<string>155</string>
		<key>is.workflow.actions.searchappstore</key>
		<string>131</string>
		<key>is.workflow.actions.searchitunes</key>
		<string>79</string>
		<key>is.workflow.actions.searchlocalbusinesses</key>
		<string>161</string>
		<key>is.workflow.actions.searchmaps</key>
		<string>162</string>
		<key>is.workflow.actions.searchpodcasts</key>
		<string>229</string>
		<key>is.workflow.actions.searchweb</key>
		<string>202</string>
		<key>is.workflow.actions.selectcontacts</key>
		<string>124</string>
		<key>is.workflow.actions.selectemail</key>
		<string>273</string>
		<key>is.workflow.actions.selectphone</key>
		<string>231</string>
		<key>is.workflow.actions.selectphoto</key>
		<string>51</string>
		<key>is.workflow.actions.sendemail</key>
		<string>90</string>
		<key>is.workflow.actions.sendmessage</key>
		<string>74</string>
		<key>is.workflow.actions.setbrightness</key>
		<string>121</string>
		<key>is.workflow.actions.setclipboard</key>
		<string>24</string>
		<key>is.workflow.actions.setitemname</key>
		<string>64</string>
		<key>is.workflow.actions.setplaybackdestination</key>
		<string>169</string>
		<key>is.workflow.actions.setvalueforkey</key>
		<string>145</string>
		<key>is.workflow.actions.setvariable</key>
		<string>33</string>
		<key>is.workflow.actions.setvolume</key>
		<string>78</string>
		<key>is.workflow.actions.share</key>
		<string>58</string>
		<key>is.workflow.actions.showdefinition</key>
		<string>158</string>
		<key>is.workflow.actions.showinblindsquare</key>
		<string>244</string>
		<key>is.workflow.actions.showincalendar</key>
		<string>170</string>
		<key>is.workflow.actions.showinstore</key>
		<string>265</string>
		<key>is.workflow.actions.shownote</key>
		<string>193</string>
		<key>is.workflow.actions.showresult</key>
		<string>25</string>
		<key>is.workflow.actions.showwebpage</key>
		<string>20</string>
		<key>is.workflow.actions.sirikit.donation.handle</key>
		<string>0</string>
		<key>is.workflow.actions.skipback</key>
		<string>266</string>
		<key>is.workflow.actions.skipforward</key>
		<string>267</string>
		<key>is.workflow.actions.slack.send</key>
		<string>206</string>
		<key>is.workflow.actions.speaktext</key>
		<string>80</string>
		<key>is.workflow.actions.statistics</key>
		<string>139</string>
		<key>is.workflow.actions.takephoto</key>
		<string>50</string>
		<key>is.workflow.actions.takevideo</key>
		<string>200</string>
		<key>is.workflow.actions.text.changecase</key>
		<string>71</string>
		<key>is.workflow.actions.text.combine</key>
		<string>37</string>
		<key>is.workflow.actions.text.match</key>
		<string>15</string>
		<key>is.workflow.actions.text.match.getgroup</key>
		<string>16</string>
		<key>is.workflow.actions.text.replace</key>
		<string>47</string>
		<key>is.workflow.actions.text.split</key>
		<string>32</string>
		<key>is.workflow.actions.text.translate</key>
		<string>151</string>
		<key>is.workflow.actions.timer.start</key>
		<string>236</string>
		<key>is.workflow.actions.todoist.add</key>
		<string>250</string>
		<key>is.workflow.actions.trello.add.board</key>
		<string>258</string>
		<key>is.workflow.actions.trello.add.card</key>
		<string>255</string>
		<key>is.workflow.actions.trello.add.list</key>
		<string>259</string>
		<key>is.workflow.actions.trello.get</key>
		<string>271</string>
		<key>is.workflow.actions.trimvideo</key>
		<string>176</string>
		<key>is.workflow.actions.tumblr.post</key>
		<string>254</string>
		<key>is.workflow.actions.tweet</key>
		<string>134</string>
		<key>is.workflow.actions.unzip</key>
		<string>63</string>
		<key>is.workflow.actions.url</key>
		<string>26</string>
		<key>is.workflow.actions.url.expand</key>
		<string>14</string>
		<key>is.workflow.actions.url.getheaders</key>
		<string>142</string>
		<key>is.workflow.actions.urlencode</key>
		<string>62</string>
		<key>is.workflow.actions.useractivity.open</key>
		<string>144</string>
		<key>is.workflow.actions.venmo.pay</key>
		<string>238</string>
		<key>is.workflow.actions.venmo.request</key>
		<string>237</string>
		<key>is.workflow.actions.vibrate</key>
		<string>118</string>
		<key>is.workflow.actions.viewresult</key>
		<string>157</string>
		<key>is.workflow.actions.waittoreturn</key>
		<string>65</string>
		<key>is.workflow.actions.wallpaper.set</key>
		<string>252</string>
		<key>is.workflow.actions.weather.currentconditions</key>
		<string>191</string>
		<key>is.workflow.actions.weather.forecast</key>
		<string>44</string>
		<key>is.workflow.actions.wifi.set</key>
		<string>110</string>
		<key>is.workflow.actions.wordpress.post</key>
		<string>263</string>
		<key>is.workflow.actions.wunderlist.add</key>
		<string>208</string>
	</dict>
	<dict>
		<key>AVAsset</key>
		<string>10</string>
		<key>AVMetadataMachineReadableCodeObject</key>
		<string>54</string>
		<key>CLLocation</key>
		<string>25</string>
		<key>EKEvent</key>
		<string>40</string>
		<key>EKReminder</key>
		<string>41</string>
		<key>ENNoteRef</key>
		<string>63</string>
		<key>INNote</key>
		<string>35</string>
		<key>MKMapItem</key>
		<string>26</string>
		<key>MPMediaItem</key>
		<string>18</string>
		<key>NSAttributedString</key>
		<string>43</string>
		<key>NSDate</key>
		<string>5</string>
		<key>NSDecimalNumber</key>
		<string>3</string>
		<key>NSDictionary</key>
		<string>29</string>
		<key>NSMeasurement</key>
		<string>64</string>
		<key>NSNumber</key>
		<string>46</string>
		<key>NSString</key>
		<string>2</string>
		<key>NSURL</key>
		<string>4</string>
		<key>None</key>
		<string>0</string>
		<key>PHAsset</key>
		<string>14</string>
		<key>UIImage</key>
		<string>9</string>
		<key>UIPrintFormatter</key>
		<string>60</string>
		<key>WFAVAssetContentItem</key>
		<string>21</string>
		<key>WFAppStoreAppContentItem</key>
		<string>45</string>
		<key>WFArticle</key>
		<string>33</string>
		<key>WFArticleContentItem</key>
		<string>56</string>
		<key>WFBooleanContentItem</key>
		<string>23</string>
		<key>WFCalendarEventContentItem</key>
		<string>52</string>
		<key>WFContact</key>
		<string>42</string>
		<key>WFContactContentItem</key>
		<string>49</string>
		<key>WFContentItem</key>
		<string>1</string>
		<key>WFDateContentItem</key>
		<string>22</string>
		<key>WFDictionaryContentItem</key>
		<string>16</string>
		<key>WFEmailAddress</key>
		<string>59</string>
		<key>WFEmailAddressContentItem</key>
		<string>65</string>
		<key>WFFileSizeContentItem</key>
		<string>48</string>
		<key>WFGenericFileContentItem</key>
		<string>24</string>
		<key>WFGiphyObject</key>
		<string>31</string>
		<key>WFHKSampleContentItem</key>
		<string>17</string>
		<key>WFHKWorkoutContentItem</key>
		<string>62</string>
		<key>WFImageContentItem</key>
		<string>15</string>
		<key>WFLocationContentItem</key>
		<string>37</string>
		<key>WFMPMediaContentItem</key>
		<string>34</string>
		<key>WFMediaItemCollectionContentItem</key>
		<string>19</string>
		<key>WFNoteContentItem</key>
		<string>55</string>
		<key>WFNumberContentItem</key>
		<string>6</string>
		<key>WFPDFContentItem</key>
		<string>39</string>
		<key>WFPhoneNumber</key>
		<string>50</string>
		<key>WFPhoneNumberContentItem</key>
		<string>51</string>
		<key>WFPhotoMediaContentItem</key>
		<string>13</string>
		<key>WFPodcastEpisodeContentItem</key>
		<string>66</string>
		<key>WFRichTextContentItem</key>
		<string>8</string>
		<key>WFSafariWebPageContentItem</key>
		<string>32</string>
		<key>WFStreetAddress</key>
		<string>36</string>
		<key>WFStringContentItem</key>
		<string>12</string>
		<key>WFTimeIntervalContentItem</key>
		<string>53</string>
		<key>WFTrelloBoard</key>
		<string>68</string>
		<key>WFTrelloBoardContentItem</key>
		<string>70</string>
		<key>WFTrelloCard</key>
		<string>67</string>
		<key>WFTrelloCardContentItem</key>
		<string>72</string>
		<key>WFTrelloList</key>
		<string>69</string>
		<key>WFTrelloListContentItem</key>
		<string>71</string>
		<key>WFTripInfo</key>
		<string>38</string>
		<key>WFURLContentItem</key>
		<string>7</string>
		<key>WFUlyssesSheetContentItem</key>
		<string>73</string>
		<key>WFWeatherData</key>
		<string>20</string>
		<key>WFWorkflowRecord</key>
		<string>47</string>
		<key>WFiTunesProductContentItem</key>
		<string>30</string>
		<key>com.adobe.pdf</key>
		<string>61</string>
		<key>com.apple.m4a-audio</key>
		<string>58</string>
		<key>com.apple.quicktime-movie</key>
		<string>57</string>
		<key>com.compuserve.gif</key>
		<string>28</string>
		<key>public.data</key>
		<string>11</string>
		<key>public.html</key>
		<string>44</string>
		<key>public.mpeg-4</key>
		<string>27</string>
	</dict>
</array>
</plist>
