<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>2</key>
	<dict>
		<key>zh-Hant</key>
		<dict>
			<key>wordlm</key>
			<real>0</real>
			<key>charlm</key>
			<real>0.3</real>
			<key>lexicon</key>
			<real>0</real>
		</dict>
		<key>zh-Hans</key>
		<dict>
			<key>wordlm</key>
			<real>0</real>
			<key>charlm</key>
			<real>0.3</real>
			<key>lexicon</key>
			<real>0</real>
		</dict>
		<key>en-US</key>
		<dict>
			<key>wordlm</key>
			<real>0.025</real>
			<key>charlm</key>
			<real>0.125</real>
			<key>lexicon</key>
			<real>0.025</real>
		</dict>
		<key>pt-BR</key>
		<dict>
			<key>wordlm</key>
			<real>0.025</real>
			<key>charlm</key>
			<real>0.125</real>
			<key>lexicon</key>
			<real>0.025</real>
		</dict>
		<key>it-IT</key>
		<dict>
			<key>wordlm</key>
			<real>0.025</real>
			<key>charlm</key>
			<real>0.125</real>
			<key>lexicon</key>
			<real>0.025</real>
		</dict>
		<key>fr-FR</key>
		<dict>
			<key>lexicon</key>
			<real>0.025</real>
			<key>charlm</key>
			<real>0.125</real>
			<key>wordlm</key>
			<real>0.025</real>
		</dict>
		<key>es-ES</key>
		<dict>
			<key>wordlm</key>
			<real>0.025</real>
			<key>charlm</key>
			<real>0.125</real>
			<key>lexicon</key>
			<real>0.025</real>
		</dict>
		<key>de-DE</key>
		<dict>
			<key>wordlm</key>
			<real>0.025</real>
			<key>charlm</key>
			<real>0.125</real>
			<key>lexicon</key>
			<real>0.025</real>
		</dict>
	</dict>
	<key>3</key>
	<dict>
		<key>zh-Hant</key>
		<dict>
			<key>lmFiltering</key>
			<dict>
				<key>activationThreshold</key>
				<real>0.3</real>
				<key>charLengths</key>
				<array>
					<integer>31</integer>
					<integer>21</integer>
					<integer>11</integer>
					<integer>5</integer>
				</array>
				<key>lmThresholds</key>
				<array>
					<real>0.05</real>
					<real>0.04</real>
					<real>0.03</real>
					<real>0.01</real>
				</array>
			</dict>
			<key>activationThreshold</key>
			<real>0.3</real>
			<key>wordlm</key>
			<real>0</real>
			<key>charlm</key>
			<real>0.3</real>
			<key>lexicon</key>
			<real>0</real>
		</dict>
		<key>zh-Hans</key>
		<dict>
			<key>lmFiltering</key>
			<dict>
				<key>activationThreshold</key>
				<real>0.3</real>
				<key>charLengths</key>
				<array>
					<integer>31</integer>
					<integer>21</integer>
					<integer>11</integer>
					<integer>5</integer>
				</array>
				<key>lmThresholds</key>
				<array>
					<real>0.05</real>
					<real>0.04</real>
					<real>0.03</real>
					<real>0.01</real>
				</array>
			</dict>
			<key>wordlm</key>
			<integer>0</integer>
			<key>charlm</key>
			<real>0.3</real>
			<key>lexicon</key>
			<real>0</real>
		</dict>
		<key>en-US</key>
		<dict>
			<key>lmFiltering</key>
			<dict>
				<key>activationThreshold</key>
				<real>0.5</real>
				<key>charLengths</key>
				<array>
					<integer>31</integer>
					<integer>21</integer>
					<integer>11</integer>
					<integer>5</integer>
				</array>
				<key>lmThresholds</key>
				<array>
					<real>0.05</real>
					<real>0.04</real>
					<real>0.03</real>
					<real>0.01</real>
				</array>
			</dict>
			<key>wordlm</key>
			<real>0.025</real>
			<key>charlm</key>
			<real>0.125</real>
			<key>lexicon</key>
			<real>0.025</real>
		</dict>
		<key>pt-BR</key>
		<dict>
			<key>lmFiltering</key>
			<dict>
				<key>activationThreshold</key>
				<real>0.5</real>
				<key>charLengths</key>
				<array>
					<integer>31</integer>
					<integer>21</integer>
					<integer>11</integer>
					<integer>5</integer>
				</array>
				<key>lmThresholds</key>
				<array>
					<real>0.05</real>
					<real>0.04</real>
					<real>0.03</real>
					<real>0.01</real>
				</array>
			</dict>
			<key>wordlm</key>
			<real>0.025</real>
			<key>charlm</key>
			<real>0.125</real>
			<key>lexicon</key>
			<real>0.025</real>
		</dict>
		<key>it-IT</key>
		<dict>
			<key>lmFiltering</key>
			<dict>
				<key>activationThreshold</key>
				<real>0.5</real>
				<key>charLengths</key>
				<array>
					<integer>31</integer>
					<integer>21</integer>
					<integer>11</integer>
					<integer>5</integer>
				</array>
				<key>lmThresholds</key>
				<array>
					<real>0.05</real>
					<real>0.04</real>
					<real>0.03</real>
					<real>0.01</real>
				</array>
			</dict>
			<key>wordlm</key>
			<real>0.025</real>
			<key>charlm</key>
			<real>0.125</real>
			<key>lexicon</key>
			<real>0.025</real>
		</dict>
		<key>fr-FR</key>
		<dict>
			<key>lmFiltering</key>
			<dict>
				<key>activationThreshold</key>
				<real>0.5</real>
				<key>charLengths</key>
				<array>
					<integer>31</integer>
					<integer>21</integer>
					<integer>11</integer>
					<integer>5</integer>
				</array>
				<key>lmThresholds</key>
				<array>
					<real>0.05</real>
					<real>0.04</real>
					<real>0.03</real>
					<real>0.01</real>
				</array>
			</dict>
			<key>lexicon</key>
			<real>0.025</real>
			<key>charlm</key>
			<real>0.125</real>
			<key>wordlm</key>
			<real>0.025</real>
		</dict>
		<key>es-ES</key>
		<dict>
			<key>lmFiltering</key>
			<dict>
				<key>activationThreshold</key>
				<real>0.5</real>
				<key>charLengths</key>
				<array>
					<integer>31</integer>
					<integer>21</integer>
					<integer>11</integer>
					<integer>5</integer>
				</array>
				<key>lmThresholds</key>
				<array>
					<real>0.05</real>
					<real>0.04</real>
					<real>0.03</real>
					<real>0.01</real>
				</array>
			</dict>
			<key>wordlm</key>
			<real>0.025</real>
			<key>charlm</key>
			<real>0.125</real>
			<key>lexicon</key>
			<real>0.025</real>
		</dict>
		<key>de-DE</key>
		<dict>
			<key>lmFiltering</key>
			<dict>
				<key>activationThreshold</key>
				<real>0.5</real>
				<key>charLengths</key>
				<array>
					<integer>31</integer>
					<integer>21</integer>
					<integer>11</integer>
					<integer>5</integer>
				</array>
				<key>lmThresholds</key>
				<array>
					<real>0.05</real>
					<real>0.04</real>
					<real>0.03</real>
					<real>0.01</real>
				</array>
			</dict>
			<key>wordlm</key>
			<real>0.025</real>
			<key>charlm</key>
			<real>0.125</real>
			<key>lexicon</key>
			<real>0.025</real>
		</dict>
	</dict>
</dict>
</plist>
