<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Apt</key>
	<string>Apartment</string>
	<key>Av</key>
	<string>Avenue</string>
	<key>Ave</key>
	<string>Avenue</string>
	<key>Bldg</key>
	<string>Building</string>
	<key>Blvd</key>
	<string>Boulevard</string>
	<key>Cir</key>
	<string>Circle</string>
	<key>Cl</key>
	<string>Close</string>
	<key>Crcl</key>
	<string>Circle</string>
	<key>Ct</key>
	<string>Court</string>
	<key>E</key>
	<string>East</string>
	<key>Exprsswy</key>
	<string>Expressway</string>
	<key>Expwy</key>
	<string>Expressway</string>
	<key>Expy</key>
	<string>Expressway</string>
	<key>Ln</key>
	<string>Lane</string>
	<key>Lot</key>
	<string>Apartment</string>
	<key>N</key>
	<string>North</string>
	<key>NE</key>
	<string>NorthEast</string>
	<key>NW</key>
	<string>NorthWest</string>
	<key>No</key>
	<string>Apartment</string>
	<key>Number</key>
	<string>Apartment</string>
	<key>Pkwy</key>
	<string>Parkway</string>
	<key>Pl</key>
	<string>Place</string>
	<key>S</key>
	<string>South</string>
	<key>SE</key>
	<string>SouthEast</string>
	<key>Space</key>
	<string>Apartment</string>
	<key>Spc</key>
	<string>Apartment</string>
	<key>St</key>
	<string>Street</string>
	<key>Ste</key>
	<string>Apartment</string>
	<key>Suite</key>
	<string>Apartment</string>
	<key>SW</key>
	<string>SouthWest</string>
	<key>Terr</key>
	<string>Terrace</string>
	<key>W</key>
	<string>West</string>
	<key>Wy</key>
	<string>Way</string>
	<key>#</key>
	<string>Apartment</string>
</dict>
</plist>
