<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SG_FEATURE_ADDRESSTYPE</key>
	<dict>
		<key>en</key>
		<array/>
	</dict>
	<key>SG_FEATURE_BELONGING</key>
	<dict>
		<key>en</key>
		<array>
			<string>of</string>
			<string>'s</string>
		</array>
	</dict>
	<key>SG_FEATURE_BELONGINGTO</key>
	<dict>
		<key>en</key>
		<array>
			<string>my</string>
			<string>our</string>
			<string>mine</string>
			<string>ours</string>
		</array>
	</dict>
	<key>SG_FEATURE_CALLTYPE</key>
	<dict>
		<key>en</key>
		<array>
			<string>call</string>
			<string>calling</string>
			<string>reach</string>
			<string>reaching</string>
			<string>text</string>
			<string>texting</string>
			<string>contact</string>
			<string>contacting</string>
			<string>sms</string>
			<string>imessage</string>
			<string>message</string>
			<string>imessaging</string>
			<string>messaging</string>
			<string>messaging</string>
			<string>phoning</string>
		</array>
	</dict>
	<key>SG_FEATURE_EMAILTYPE</key>
	<dict>
		<key>en</key>
		<array/>
	</dict>
	<key>SG_FEATURE_ENTITYTYPE</key>
	<dict>
		<key>en</key>
		<array>
			<string>home</string>
			<string>work</string>
			<string>office</string>
			<string>personal</string>
		</array>
	</dict>
	<key>SG_FEATURE_OTHER</key>
	<dict>
		<key>en</key>
		<array>
			<string>his</string>
			<string>her</string>
			<string>their</string>
		</array>
	</dict>
	<key>SG_FEATURE_PHONETYPE</key>
	<dict>
		<key>en</key>
		<array>
			<string>telephone</string>
			<string>phone</string>
			<string>iphone</string>
			<string>cell</string>
			<string>telephone</string>
			<string>mobile</string>
			<string>house</string>
			<string>fax</string>
		</array>
	</dict>
	<key>SG_FEATURE_RECENCY</key>
	<dict>
		<key>en</key>
		<array>
			<string>new</string>
			<string>recent</string>
			<string>current</string>
			<string>latest</string>
		</array>
	</dict>
</dict>
</plist>
