<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NGRAMS</key>
	<integer>3</integer>
	<key>SGDetectedAttributeDissector</key>
	<dict>
		<key>de</key>
		<dict>
			<key>SG_FIM_ML_EVALUATE_KEY</key>
			<dict>
				<key>SGDDMatchEmailAddress</key>
				<array/>
				<key>SGDDMatchPhone</key>
				<array/>
				<key>SGDDMatchPostalAddress</key>
				<array/>
				<key>SelfIdentificationPhrase</key>
				<array/>
			</dict>
			<key>SG_FIM_ML_PREDICT_KEY</key>
			<dict>
				<key>SGDDMatchEmailAddress</key>
				<array/>
				<key>SGDDMatchPhone</key>
				<array/>
				<key>SGDDMatchPostalAddress</key>
				<array/>
				<key>SelfIdentificationPhrase</key>
				<array/>
			</dict>
			<key>SG_FIM_ML_TRAIN_KEY</key>
			<dict>
				<key>SGDDMatchEmailAddress</key>
				<array>
					<string>dataDetectionSignificantPhraseEmailLogistic</string>
				</array>
				<key>SGDDMatchPhone</key>
				<array>
					<string>dataDetectionSignificantPhrasePhoneLogistic</string>
				</array>
				<key>SGDDMatchPostalAddress</key>
				<array>
					<string>dataDetectionSignificantPhraseAddressLogistic</string>
				</array>
				<key>SelfIdentificationPhrase</key>
				<array>
					<string>selfIdentificationPhraseLogistic</string>
				</array>
			</dict>
		</dict>
		<key>en</key>
		<dict>
			<key>SG_FIM_ML_EVALUATE_KEY</key>
			<dict>
				<key>SGDDMatchEmailAddress</key>
				<array/>
				<key>SGDDMatchPhone</key>
				<array/>
				<key>SGDDMatchPostalAddress</key>
				<array/>
				<key>SelfIdentificationPhrase</key>
				<array/>
			</dict>
			<key>SG_FIM_ML_PREDICT_KEY</key>
			<dict>
				<key>SGDDMatchEmailAddress</key>
				<array>
					<string>dataDetectionSignificantPhraseEmailLogistic</string>
				</array>
				<key>SGDDMatchPhone</key>
				<array>
					<string>dataDetectionSignificantPhrasePhoneLogistic</string>
				</array>
				<key>SGDDMatchPostalAddress</key>
				<array/>
				<key>SelfIdentificationPhrase</key>
				<array/>
			</dict>
			<key>SG_FIM_ML_TRAIN_KEY</key>
			<dict>
				<key>TextMessageBirthdayCongrats</key>
				<array>
					<string>birthdayTextMessageCongrats</string>
				</array>
				<key>SGDDMatchEmailAddressForIMessage</key>
				<array>
					<string>dataDetectionSignificantPhraseEmailForIMessageLogistic</string>
				</array>
				<key>SGDDMatchPostalAddressForIMessage</key>
				<array>
					<string>dataDetectionSignificantPhraseAddressForIMessageLogistic</string>
				</array>
				<key>ContactSharing</key>
				<array>
					<string>contactSharingEspresso</string>
				</array>
				<key>SGDDMatchEmailAddress</key>
				<array>
					<string>dataDetectionSignificantPhraseEmailLogistic</string>
				</array>
				<key>SGDDMatchPhone</key>
				<array>
					<string>dataDetectionSignificantPhrasePhoneLogistic</string>
				</array>
				<key>SGDDMatchPostalAddress</key>
				<array>
					<string>dataDetectionSignificantPhraseAddressLogistic</string>
				</array>
				<key>SelfIdentificationPhrase</key>
				<array>
					<string>selfIdentificationPhraseLogistic</string>
				</array>
			</dict>
		</dict>
		<key>ja</key>
		<dict>
			<key>SG_FIM_ML_EVALUATE_KEY</key>
			<dict>
				<key>SGDDMatchEmailAddress</key>
				<array/>
				<key>SGDDMatchPhone</key>
				<array/>
				<key>SGDDMatchPostalAddress</key>
				<array/>
				<key>SelfIdentificationPhrase</key>
				<array/>
			</dict>
			<key>SG_FIM_ML_PREDICT_KEY</key>
			<dict>
				<key>SGDDMatchEmailAddress</key>
				<array/>
				<key>SGDDMatchPhone</key>
				<array/>
				<key>SGDDMatchPostalAddress</key>
				<array/>
				<key>SelfIdentificationPhrase</key>
				<array/>
			</dict>
			<key>SG_FIM_ML_TRAIN_KEY</key>
			<dict>
				<key>SGDDMatchEmailAddress</key>
				<array>
					<string>dataDetectionSignificantPhraseEmailLogistic</string>
				</array>
				<key>SGDDMatchPhone</key>
				<array>
					<string>dataDetectionSignificantPhrasePhoneLogistic</string>
				</array>
				<key>SGDDMatchPostalAddress</key>
				<array>
					<string>dataDetectionSignificantPhraseAddressLogistic</string>
				</array>
				<key>SelfIdentificationPhrase</key>
				<array>
					<string>selfIdentificationPhraseLogistic</string>
				</array>
			</dict>
		</dict>
	</dict>
	<key>SGQuickResponses</key>
	<dict>
		<key>en</key>
		<dict>
			<key>SG_QR_ML_EVALUATE_KEY</key>
			<dict>
				<key>SGQRTextMessge</key>
				<array/>
			</dict>
			<key>SG_QR_ML_PREDICT_KEY</key>
			<dict>
				<key>SGQRTextMessage</key>
				<array/>
			</dict>
			<key>SG_QR_ML_TRAIN_KEY</key>
			<dict>
				<key>SGQRTextMessage</key>
				<array>
					<string>quickResponsesBinaryLogisticMultiLabel</string>
				</array>
			</dict>
		</dict>
		<key>es</key>
		<dict>
			<key>SG_QR_ML_EVALUATE_KEY</key>
			<dict>
				<key>SGQRTextMessge</key>
				<array/>
			</dict>
			<key>SG_QR_ML_PREDICT_KEY</key>
			<dict>
				<key>SGQRTextMessage</key>
				<array/>
			</dict>
			<key>SG_QR_ML_TRAIN_KEY</key>
			<dict>
				<key>SGQRTextMessage</key>
				<array>
					<string>quickResponsesBinaryLogisticMultiLabel</string>
				</array>
			</dict>
		</dict>
	</dict>
	<key>TOKEN_WINDOW</key>
	<integer>12</integer>
</dict>
</plist>
