<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>en</key>
	<dict>
		<key>MODEL_FEATURIZER</key>
		<dict>
			<key>CLASS_NAME</key>
			<string>SGPipelineTransformer</string>
			<key>TRANSFORMERS</key>
			<array>
				<dict>
					<key>CLASS_NAME</key>
					<string>SGSelectiveTransformer</string>
					<key>INPUTKEY</key>
					<string>INPUT_TEXT</string>
					<key>TRANSFORMER</key>
					<dict>
						<key>CLASS_NAME</key>
						<string>SGStringPreprocessingTransformer</string>
						<key>METHODS</key>
						<array>
							<string>replaceContactNamesWithString</string>
							<string>en;CNNAME</string>
							<string>lowerCase</string>
							<string></string>
							<string>stripNonBaseCharacters</string>
							<string></string>
							<string>replaceAllWhitespaceWithSpaces</string>
							<string></string>
							<string>transformFullwidthToHalfwidthASCII</string>
							<string></string>
							<string>removePunctuationWithExceptions</string>
							<string>?&apos;’</string>
							<string>removeSymbols</string>
							<string></string>
							<string>mergeNumbersSeparatedByASCIISpace</string>
							<string></string>
							<string>replaceNumbersWithString</string>
							<string>#</string>
							<string>replaceLinksWithString</string>
							<string>~</string>
							<string>separateCharacter</string>
							<string>?</string>
							<string>trimWhitespace</string>
							<string></string>
						</array>
					</dict>
				</dict>
				<dict>
					<key>CLASS_NAME</key>
					<string>SGContactSharingTransformer</string>
					<key>LANGUAGE</key>
					<string>en</string>
					<key>WINDOWLENGTH</key>
					<integer>12</integer>
				</dict>
				<dict>
					<key>CLASS_NAME</key>
					<string>SGTokenJoiningTransformer</string>
					<key>SEPARATOR</key>
					<string> </string>
				</dict>
				<dict>
					<key>BUCKET_SIZE</key>
					<integer>4000</integer>
					<key>CHARACTER_NGRAM_LENGTH</key>
					<integer>3</integer>
					<key>CHARACTER_NGRAM_LOCATION</key>
					<integer>4</integer>
					<key>CHARACTER_NORMALIZATION</key>
					<false/>
					<key>CLASS_NAME</key>
					<string>PMLHashingVectorizer</string>
					<key>INTERCEPT</key>
					<false/>
					<key>NGRAM_SIZE</key>
					<integer>2</integer>
					<key>SHOULD_TOKENIZE_NEWLINES</key>
					<false/>
					<key>TOKEN_NGRAM_LENGTH</key>
					<integer>2</integer>
					<key>TOKEN_NGRAM_LOCATION</key>
					<integer>1</integer>
					<key>TOKEN_NORMALIZATION</key>
					<true/>
				</dict>
			</array>
		</dict>
		<key>MODEL_SOURCE_SESSION_DESCRIPTOR</key>
		<dict>
			<key>LOCALE</key>
			<string>en</string>
			<key>NAME</key>
			<string>ContactSharing</string>
			<key>VERSION</key>
			<string>CG=3&amp;NG=2&amp;FV=1.3</string>
		</dict>
	</dict>
</dict>
</plist>
