<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>20A241128</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>UASettingsShortcuts</string>
	<key>CFBundleExecutable</key>
	<string>UASettingsShortcuts</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.UniversalAccess.UASettingsShortcuts</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>UASettingsShortcuts</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>573.3</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>13E6049a</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>12.3</string>
	<key>DTSDKBuild</key>
	<string>21E216a</string>
	<key>DTSDKName</key>
	<string>macosx12.3.internal</string>
	<key>DTXcode</key>
	<string>1330</string>
	<key>DTXcodeBuild</key>
	<string>13E6049a</string>
	<key>INDisplayableApplicationBundleIdentifier</key>
	<string>com.apple.systempreferences</string>
	<key>LSMinimumSystemVersion</key>
	<string>12.3</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>IntentsRestrictedWhileLocked</key>
			<array/>
			<key>IntentsRestrictedWhileProtectedDataUnavailable</key>
			<array/>
			<key>IntentsSupported</key>
			<array>
				<string>UAToggleAccessibilityKeyboardIntent</string>
				<string>UAToggleAlternatePointerActionsIntent</string>
				<string>UAToggleAudioDescriptionsIntent</string>
				<string>UAToggleCaptionsIntent</string>
				<string>UAToggleClassicInvertIntent</string>
				<string>UAToggleColorFiltersIntent</string>
				<string>UAToggleContrastIntent</string>
				<string>UAToggleFullKeyboardAccessIntent</string>
				<string>UAToggleHeadPointerIntent</string>
				<string>UAToggleMonoAudioIntent</string>
				<string>UAToggleMouseKeysIntent</string>
				<string>UAToggleReduceMotionIntent</string>
				<string>UAToggleSlowKeysIntent</string>
				<string>UAToggleSmartInvertIntent</string>
				<string>UAToggleStickyKeysIntent</string>
				<string>UAToggleSwitchControlIntent</string>
				<string>UAToggleTransparencyIntent</string>
				<string>UAToggleVoiceControlIntent</string>
				<string>UAToggleVoiceOverIntent</string>
				<string>UAToggleZoomIntent</string>
			</array>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.intents-service</string>
		<key>NSExtensionPrincipalClass</key>
		<string>UAIntentHandler</string>
	</dict>
</dict>
</plist>
