<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildVersion</key>
	<string>1136</string>
	<key>CFBundleShortVersionString</key>
	<string>3.1.0</string>
	<key>CFBundleVersion</key>
	<string>18567.3</string>
	<key>ProjectName</key>
	<string>Helium</string>
	<key>SourceVersion</key>
	<string>38203000042000000</string>
</dict>
</plist>
