<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "https://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AB21vCardEncoding</key>
	<string>x-mac-japanese</string>
	<key>ABNameDisplay</key>
	<integer>0</integer>
	<key>ABNameSorting</key>
	<integer>1</integer>
	<key>ABNameViewPhotoInsetLeading</key>
	<integer>90</integer>
	<key>ABShortNameStyle</key>
	<integer>1</integer>
	<key>ABTemplateNameViewPhotoInsetLeading</key>
	<integer>95</integer>
	<key>ABPhoneticFieldsVisible</key>
	<true/>
	<key>ABPhoneticCompanyVisible</key>
	<true/>
</dict>
</plist>