<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>20A241128</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>AppStoreDaemon</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.AppStoreDaemon</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AppStoreDaemon</string>
	<key>CFBundlePackageType</key>
	<string>FMWK</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>13E6049a</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>12.3</string>
	<key>DTSDKBuild</key>
	<string>21E216a</string>
	<key>DTSDKName</key>
	<string>macosx12.3.internal</string>
	<key>DTXcode</key>
	<string>1330</string>
	<key>DTXcodeBuild</key>
	<string>13E6049a</string>
	<key>LSMinimumSystemVersion</key>
	<string>12.3</string>
	<key>NSExtensionSDK</key>
	<dict>
		<key>com.apple.appstored-services.event</key>
		<dict>
			<key>CFBundlePackageType</key>
			<string>XPC!</string>
			<key>NSExtension</key>
			<dict>
				<key>NSExtensionAttributes</key>
				<dict>
					<key>NSExtensionPointName</key>
					<string>com.apple.appstored-services.event</string>
					<key>NSExtensionPointVersion</key>
					<string>1.0</string>
				</dict>
				<key>NSExtensionContextClass</key>
				<string>ASDEventServiceExtensionRemoteContext</string>
				<key>NSExtensionContextHostClass</key>
				<string>ASDEventServiceExtensionHostContext</string>
				<key>NSExtensionHostEntitlement</key>
				<string>com.apple.appstored-services-host.event</string>
				<key>NSExtensionPointIdentifier</key>
				<string>com.apple.appstored-services.event</string>
			</dict>
			<key>XPCService</key>
			<dict>
				<key>RunLoopType</key>
				<string>NSRunLoop</string>
				<key>ServiceType</key>
				<string>Application</string>
				<key>_AdditionalSubServices</key>
				<dict>
					<key>apple-extension-service</key>
					<true/>
				</dict>
			</dict>
		</dict>
		<key>com.apple.appstored-services.testflight</key>
		<dict>
			<key>CFBundlePackageType</key>
			<string>XPC!</string>
			<key>NSExtension</key>
			<dict>
				<key>NSExtensionAttributes</key>
				<dict>
					<key>NSExtensionPointName</key>
					<string>com.apple.appstored-services.testflight</string>
					<key>NSExtensionPointVersion</key>
					<string>1.0</string>
				</dict>
				<key>NSExtensionContextClass</key>
				<string>ASDTestFlightServiceExtensionRemoteContext</string>
				<key>NSExtensionContextHostClass</key>
				<string>ASDTestFlightServiceExtensionHostContext</string>
				<key>NSExtensionHostEntitlement</key>
				<string>com.apple.appstored-services-host.testflight</string>
				<key>NSExtensionPointIdentifier</key>
				<string>com.apple.appstored-services.testflight</string>
				<key>Subsystems</key>
				<array>
					<string>NSExtensionService_Subsystem</string>
				</array>
			</dict>
			<key>XPCService</key>
			<dict>
				<key>RunLoopType</key>
				<string>NSRunLoop</string>
				<key>ServiceType</key>
				<string>Application</string>
				<key>_AdditionalSubServices</key>
				<dict>
					<key>apple-extension-service</key>
					<true/>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
