<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GoToNextElement</key>
	<array>
		<array>
			<string>⇥</string>
		</array>
	</array>
	<key>GoToPreviousElement</key>
	<array>
		<array>
			<string>⇧</string>
			<string>⇥</string>
		</array>
	</array>
	<key>GoToFirstElement</key>
	<array>
		<array>
			<string>⇥</string>
			<string>←</string>
		</array>
	</array>
	<key>GoToLastElement</key>
	<array>
		<array>
			<string>⇥</string>
			<string>→</string>
		</array>
	</array>
	<key>GoToNextSection</key>
	<array>
		<array>
			<string>⇥</string>
			<string>⌃</string>
		</array>
	</array>
	<key>GoToPreviousSection</key>
	<array>
		<array>
			<string>⇧</string>
			<string>⌃</string>
			<string>⇥</string>
		</array>
	</array>
	<key>ActivateAccessibilityShortcut</key>
	<array>
		<array>
			<string>⇥</string>
			<string>x</string>
		</array>
	</array>
	<key>ActivateSiri</key>
	<array>
		<array>
			<string>Fn</string>
			<string>s</string>
		</array>
	</array>
	<key>ActivateSOS</key>
	<array>
		<array>
			<string>⌘</string>
			<string>⌥</string>
			<string>⌃</string>
			<string>⇧</string>
			<string>s</string>
		</array>
	</array>
	<key>ActivateTypeahead</key>
	<array>
		<array>
			<string>⇥</string>
			<string>f</string>
		</array>
	</array>
	<key>ArmApplePay</key>
	<array>
		<array>
			<string>⇥</string>
			<string>p</string>
		</array>
	</array>
	<key>EnterContainer</key>
	<array>
		<array>
			<string>⇥</string>
			<string>a</string>
		</array>
	</array>
	<key>ExitContainer</key>
	<array>
		<array>
			<string>⇥</string>
			<string>q</string>
		</array>
	</array>
	<key>Gestures</key>
	<array>
		<array>
			<string>⇥</string>
			<string>g</string>
		</array>
	</array>
	<key>GoHome</key>
	<array>
		<array>
			<string>Fn</string>
			<string>h</string>
		</array>
	</array>
	<key>Help</key>
	<array>
		<array>
			<string>⇥</string>
			<string>h</string>
		</array>
	</array>
	<key>LockScreen</key>
	<array>
		<array>
			<string>⇥</string>
			<string>l</string>
		</array>
	</array>
	<key>MoveDown</key>
	<array>
		<array>
			<string>↓</string>
		</array>
	</array>
	<key>MoveLeft</key>
	<array>
		<array>
			<string>←</string>
		</array>
	</array>
	<key>MoveRight</key>
	<array>
		<array>
			<string>→</string>
		</array>
	</array>
	<key>MoveUp</key>
	<array>
		<array>
			<string>↑</string>
		</array>
	</array>
	<key>MoveInsideNext</key>
	<array>
		<array>
			<string>⌃</string>
			<string>⇥</string>
		</array>
	</array>
	<key>MoveInsidePrevious</key>
	<array>
		<array>
			<string>⌃</string>
			<string>⇧</string>
			<string>⇥</string>
		</array>
	</array>
	<key>OpenContextualMenu</key>
	<array>
		<array>
			<string>⇥</string>
			<string>m</string>
		</array>
	</array>
	<key>PerformDefaultAction</key>
	<array>
		<array>
			<string>␣</string>
		</array>
	</array>
	<key>PerformEscape</key>
	<array>
		<array>
			<string>⇥</string>
			<string>b</string>
		</array>
	</array>
	<key>PerformSysdiagnose</key>
	<array>
		<array>
			<string>⌘</string>
			<string>⌥</string>
			<string>⌃</string>
			<string>⇧</string>
			<string>.</string>
		</array>
	</array>
	<key>RebootDevice</key>
	<array>
		<array>
			<string>⌘</string>
			<string>⌥</string>
			<string>⌃</string>
			<string>⇧</string>
			<string>r</string>
		</array>
	</array>
	<key>RotateDevice</key>
	<array>
		<array>
			<string>⇥</string>
			<string>r</string>
		</array>
	</array>
	<key>ShowAccessibilityActions</key>
	<array>
		<array>
			<string>⇥</string>
			<string>z</string>
		</array>
	</array>
	<key>ToggleAppSwitcher</key>
	<array>
		<array>
			<string>Fn</string>
			<string>↑</string>
		</array>
	</array>
	<key>ToggleAppLibrary</key>
	<array>
		<array>
			<string>Fn</string>
			<string>⇧</string>
			<string>a</string>
		</array>
	</array>
	<key>ToggleControlCenter</key>
	<array>
		<array>
			<string>Fn</string>
			<string>c</string>
		</array>
	</array>
	<key>ToggleDock</key>
	<array>
		<array>
			<string>Fn</string>
			<string>a</string>
		</array>
	</array>
	<key>ToggleNotificationCenter</key>
	<array>
		<array>
			<string>Fn</string>
			<string>n</string>
		</array>
	</array>
	<key>TogglePassthroughMode</key>
	<array>
		<array>
			<string>⌘</string>
			<string>⌥</string>
			<string>⌃</string>
			<string>p</string>
		</array>
	</array>
	<key>ToggleQuickNote</key>
	<array>
		<array>
			<string>Fn</string>
			<string>q</string>
		</array>
	</array>
	<key>ToggleMenuBar</key>
	<array>
		<array>
			<string>⌃</string>
			<string>F2</string>
		</array>
	</array>
</dict>
</plist>
