<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>values</key>
	<dict>
		<key>VideoBaseScore</key>
		<integer>10</integer>
		<key>VideoIsSloMo</key>
		<integer>3</integer>
		<key>VideoIsTimelapse</key>
		<integer>10</integer>
		<key>VideoHasVoiceRange</key>
		<integer>5</integer>
		<key>VideoHasFaceRange</key>
		<integer>8</integer>
		<key>VideoCloseToIdealDuration</key>
		<integer>5</integer>
		<key>VideoCloseToIdealDurationPadding</key>
		<integer>1</integer>
		<key>VideoWithinBlueprintDurationRange</key>
		<integer>3</integer>
		<key>VideoNotWithinIdealDuration</key>
		<integer>0</integer>
		<key>VideoTooShortDuration</key>
		<integer>-12</integer>
		<key>SloMoUserDefinedDuration</key>
		<integer>5</integer>
		<key>NonPhotoAsset</key>
		<real>-1000000</real>
		<key>AssetResolutionTooSmall</key>
		<real>-1000000</real>
		<key>ImageBaseScore</key>
		<integer>5</integer>
		<key>ImageIsPanorama</key>
		<integer>5</integer>
		<key>ImageIsLandscapePanorama</key>
		<integer>2</integer>
		<key>ImageIsPortraitPanorama</key>
		<integer>-9</integer>
		<key>ImageHDR</key>
		<integer>0</integer>
		<key>ImageNonHDRofPair</key>
		<integer>-10</integer>
		<key>ImageBlurry</key>
		<integer>-8</integer>
		<key>ImageIsBurst</key>
		<integer>3</integer>
		<key>ImageBurstAutoPick</key>
		<integer>7</integer>
		<key>ImageBurstUserPick</key>
		<integer>9</integer>
		<key>ImageBurstRepresentativePick</key>
		<integer>20</integer>
		<key>PhotoFavorited</key>
		<integer>15</integer>
		<key>PhotoIsHidden</key>
		<real>-1000000</real>
		<key>PhotoUserEdited</key>
		<integer>5</integer>
		<key>UserShared</key>
		<integer>10</integer>
		<key>UserAlbumPick</key>
		<integer>3</integer>
		<key>UserRemoved</key>
		<integer>-15</integer>
		<key>UserAdded</key>
		<integer>20</integer>
		<key>HasSmile</key>
		<integer>5</integer>
		<key>HasWink</key>
		<integer>6</integer>
		<key>HasBlink</key>
		<integer>-2</integer>
		<key>CloseUpFace</key>
		<integer>0</integer>
		<key>isLandscape</key>
		<integer>0</integer>
		<key>isPortrait</key>
		<integer>0</integer>
		<key>PosterAsset</key>
		<integer>0</integer>
		<key>VideoAssetWithGreatestNumberOfDesirableRanges</key>
		<integer>3</integer>
		<key>NumberOfDesirableRangesToGetScoreBump</key>
		<integer>2</integer>
		<key>VideoAssetMultipleDesirableRanges</key>
		<integer>2</integer>
		<key>AssetClusterBestVideo</key>
		<integer>5</integer>
		<key>AssetClusterBestBurst</key>
		<integer>5</integer>
		<key>AssetClusterBestVideoFoundCounterweight</key>
		<integer>-2</integer>
		<key>AssetClusterBest</key>
		<integer>5</integer>
		<key>AssetClusterSecond</key>
		<integer>1</integer>
		<key>AssetClusterThird</key>
		<integer>0</integer>
		<key>AssetClusterFourth</key>
		<integer>-1</integer>
		<key>AssetClusterFifth</key>
		<integer>-2</integer>
		<key>AssetClusterOther</key>
		<integer>-3</integer>
	</dict>
</dict>
</plist>
