<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>coefficient</key>
		<real>0.0</real>
		<key>constant</key>
		<real>37</real>
		<key>modified_julian_day</key>
		<integer>57754</integer>
		<key>offset</key>
		<integer>41317</integer>
		<key>tai_date</key>
		<string>2017-01-01T00:00:37.000Z</string>
		<key>utc_date</key>
		<string>2017-01-01T00:00:00.000Z</string>
	</dict>
	<dict>
		<key>coefficient</key>
		<real>0.0</real>
		<key>constant</key>
		<real>36</real>
		<key>modified_julian_day</key>
		<integer>57204</integer>
		<key>offset</key>
		<integer>41317</integer>
		<key>tai_date</key>
		<string>2015-07-01T00:00:36.000Z</string>
		<key>utc_date</key>
		<string>2015-07-01T00:00:00.000Z</string>
	</dict>
	<dict>
		<key>coefficient</key>
		<real>0.0</real>
		<key>constant</key>
		<real>35</real>
		<key>modified_julian_day</key>
		<integer>56109</integer>
		<key>offset</key>
		<integer>41317</integer>
		<key>tai_date</key>
		<string>2012-07-01T00:00:35.000Z</string>
		<key>utc_date</key>
		<string>2012-07-01T00:00:00.000Z</string>
	</dict>
	<dict>
		<key>coefficient</key>
		<real>0.0</real>
		<key>constant</key>
		<real>34</real>
		<key>modified_julian_day</key>
		<integer>54832</integer>
		<key>offset</key>
		<integer>41317</integer>
		<key>tai_date</key>
		<string>2009-01-01T00:00:34.000Z</string>
		<key>utc_date</key>
		<string>2009-01-01T00:00:00.000Z</string>
	</dict>
	<dict>
		<key>coefficient</key>
		<real>0.0</real>
		<key>constant</key>
		<real>33</real>
		<key>modified_julian_day</key>
		<integer>53736</integer>
		<key>offset</key>
		<integer>41317</integer>
		<key>tai_date</key>
		<string>2006-01-01T00:00:33.000Z</string>
		<key>utc_date</key>
		<string>2006-01-01T00:00:00.000Z</string>
	</dict>
	<dict>
		<key>coefficient</key>
		<real>0.0</real>
		<key>constant</key>
		<real>32</real>
		<key>modified_julian_day</key>
		<integer>51179</integer>
		<key>offset</key>
		<integer>41317</integer>
		<key>tai_date</key>
		<string>1999-01-01T00:00:32.000Z</string>
		<key>utc_date</key>
		<string>1999-01-01T00:00:00.000Z</string>
	</dict>
	<dict>
		<key>coefficient</key>
		<real>0.0</real>
		<key>constant</key>
		<real>31</real>
		<key>modified_julian_day</key>
		<integer>50630</integer>
		<key>offset</key>
		<integer>41317</integer>
		<key>tai_date</key>
		<string>1997-07-01T00:00:31.000Z</string>
		<key>utc_date</key>
		<string>1997-07-01T00:00:00.000Z</string>
	</dict>
	<dict>
		<key>coefficient</key>
		<real>0.0</real>
		<key>constant</key>
		<real>30</real>
		<key>modified_julian_day</key>
		<integer>50083</integer>
		<key>offset</key>
		<integer>41317</integer>
		<key>tai_date</key>
		<string>1996-01-01T00:00:30.000Z</string>
		<key>utc_date</key>
		<string>1996-01-01T00:00:00.000Z</string>
	</dict>
	<dict>
		<key>coefficient</key>
		<real>0.0</real>
		<key>constant</key>
		<real>29</real>
		<key>modified_julian_day</key>
		<integer>49534</integer>
		<key>offset</key>
		<integer>41317</integer>
		<key>tai_date</key>
		<string>1994-07-01T00:00:29.000Z</string>
		<key>utc_date</key>
		<string>1994-07-01T00:00:00.000Z</string>
	</dict>
	<dict>
		<key>coefficient</key>
		<real>0.0</real>
		<key>constant</key>
		<real>28</real>
		<key>modified_julian_day</key>
		<integer>49169</integer>
		<key>offset</key>
		<integer>41317</integer>
		<key>tai_date</key>
		<string>1993-07-01T00:00:28.000Z</string>
		<key>utc_date</key>
		<string>1993-07-01T00:00:00.000Z</string>
	</dict>
	<dict>
		<key>coefficient</key>
		<real>0.0</real>
		<key>constant</key>
		<real>27</real>
		<key>modified_julian_day</key>
		<integer>48804</integer>
		<key>offset</key>
		<integer>41317</integer>
		<key>tai_date</key>
		<string>1992-07-01T00:00:27.000Z</string>
		<key>utc_date</key>
		<string>1992-07-01T00:00:00.000Z</string>
	</dict>
	<dict>
		<key>coefficient</key>
		<real>0.0</real>
		<key>constant</key>
		<real>26</real>
		<key>modified_julian_day</key>
		<integer>48257</integer>
		<key>offset</key>
		<integer>41317</integer>
		<key>tai_date</key>
		<string>1991-01-01T00:00:26.000Z</string>
		<key>utc_date</key>
		<string>1991-01-01T00:00:00.000Z</string>
	</dict>
	<dict>
		<key>coefficient</key>
		<real>0.0</real>
		<key>constant</key>
		<real>25</real>
		<key>modified_julian_day</key>
		<integer>47892</integer>
		<key>offset</key>
		<integer>41317</integer>
		<key>tai_date</key>
		<string>1990-01-01T00:00:25.000Z</string>
		<key>utc_date</key>
		<string>1990-01-01T00:00:00.000Z</string>
	</dict>
	<dict>
		<key>coefficient</key>
		<real>0.0</real>
		<key>constant</key>
		<real>24</real>
		<key>modified_julian_day</key>
		<integer>47161</integer>
		<key>offset</key>
		<integer>41317</integer>
		<key>tai_date</key>
		<string>1988-01-01T00:00:24.000Z</string>
		<key>utc_date</key>
		<string>1988-01-01T00:00:00.000Z</string>
	</dict>
	<dict>
		<key>coefficient</key>
		<real>0.0</real>
		<key>constant</key>
		<real>23</real>
		<key>modified_julian_day</key>
		<integer>46247</integer>
		<key>offset</key>
		<integer>41317</integer>
		<key>tai_date</key>
		<string>1985-07-01T00:00:23.000Z</string>
		<key>utc_date</key>
		<string>1985-07-01T00:00:00.000Z</string>
	</dict>
	<dict>
		<key>coefficient</key>
		<real>0.0</real>
		<key>constant</key>
		<real>22</real>
		<key>modified_julian_day</key>
		<integer>45516</integer>
		<key>offset</key>
		<integer>41317</integer>
		<key>tai_date</key>
		<string>1983-07-01T00:00:22.000Z</string>
		<key>utc_date</key>
		<string>1983-07-01T00:00:00.000Z</string>
	</dict>
	<dict>
		<key>coefficient</key>
		<real>0.0</real>
		<key>constant</key>
		<real>21</real>
		<key>modified_julian_day</key>
		<integer>45151</integer>
		<key>offset</key>
		<integer>41317</integer>
		<key>tai_date</key>
		<string>1982-07-01T00:00:21.000Z</string>
		<key>utc_date</key>
		<string>1982-07-01T00:00:00.000Z</string>
	</dict>
	<dict>
		<key>coefficient</key>
		<real>0.0</real>
		<key>constant</key>
		<real>20</real>
		<key>modified_julian_day</key>
		<integer>44786</integer>
		<key>offset</key>
		<integer>41317</integer>
		<key>tai_date</key>
		<string>1981-07-01T00:00:20.000Z</string>
		<key>utc_date</key>
		<string>1981-07-01T00:00:00.000Z</string>
	</dict>
	<dict>
		<key>coefficient</key>
		<real>0.0</real>
		<key>constant</key>
		<real>19</real>
		<key>modified_julian_day</key>
		<integer>44239</integer>
		<key>offset</key>
		<integer>41317</integer>
		<key>tai_date</key>
		<string>1980-01-01T00:00:19.000Z</string>
		<key>utc_date</key>
		<string>1980-01-01T00:00:00.000Z</string>
	</dict>
	<dict>
		<key>coefficient</key>
		<real>0.0</real>
		<key>constant</key>
		<real>18</real>
		<key>modified_julian_day</key>
		<integer>43874</integer>
		<key>offset</key>
		<integer>41317</integer>
		<key>tai_date</key>
		<string>1979-01-01T00:00:18.000Z</string>
		<key>utc_date</key>
		<string>1979-01-01T00:00:00.000Z</string>
	</dict>
	<dict>
		<key>coefficient</key>
		<real>0.0</real>
		<key>constant</key>
		<real>17</real>
		<key>modified_julian_day</key>
		<integer>43509</integer>
		<key>offset</key>
		<integer>41317</integer>
		<key>tai_date</key>
		<string>1978-01-01T00:00:17.000Z</string>
		<key>utc_date</key>
		<string>1978-01-01T00:00:00.000Z</string>
	</dict>
	<dict>
		<key>coefficient</key>
		<real>0.0</real>
		<key>constant</key>
		<real>16</real>
		<key>modified_julian_day</key>
		<integer>43144</integer>
		<key>offset</key>
		<integer>41317</integer>
		<key>tai_date</key>
		<string>1977-01-01T00:00:16.000Z</string>
		<key>utc_date</key>
		<string>1977-01-01T00:00:00.000Z</string>
	</dict>
	<dict>
		<key>coefficient</key>
		<real>0.0</real>
		<key>constant</key>
		<real>15</real>
		<key>modified_julian_day</key>
		<integer>42778</integer>
		<key>offset</key>
		<integer>41317</integer>
		<key>tai_date</key>
		<string>1976-01-01T00:00:15.000Z</string>
		<key>utc_date</key>
		<string>1976-01-01T00:00:00.000Z</string>
	</dict>
	<dict>
		<key>coefficient</key>
		<real>0.0</real>
		<key>constant</key>
		<real>14</real>
		<key>modified_julian_day</key>
		<integer>42413</integer>
		<key>offset</key>
		<integer>41317</integer>
		<key>tai_date</key>
		<string>1975-01-01T00:00:14.000Z</string>
		<key>utc_date</key>
		<string>1975-01-01T00:00:00.000Z</string>
	</dict>
	<dict>
		<key>coefficient</key>
		<real>0.0</real>
		<key>constant</key>
		<real>13</real>
		<key>modified_julian_day</key>
		<integer>42048</integer>
		<key>offset</key>
		<integer>41317</integer>
		<key>tai_date</key>
		<string>1974-01-01T00:00:13.000Z</string>
		<key>utc_date</key>
		<string>1974-01-01T00:00:00.000Z</string>
	</dict>
	<dict>
		<key>coefficient</key>
		<real>0.0</real>
		<key>constant</key>
		<real>12</real>
		<key>modified_julian_day</key>
		<integer>41683</integer>
		<key>offset</key>
		<integer>41317</integer>
		<key>tai_date</key>
		<string>1973-01-01T00:00:12.000Z</string>
		<key>utc_date</key>
		<string>1973-01-01T00:00:00.000Z</string>
	</dict>
	<dict>
		<key>coefficient</key>
		<real>0.0</real>
		<key>constant</key>
		<real>11</real>
		<key>modified_julian_day</key>
		<integer>41499</integer>
		<key>offset</key>
		<integer>41317</integer>
		<key>tai_date</key>
		<string>1972-07-01T00:00:11.000Z</string>
		<key>utc_date</key>
		<string>1972-07-01T00:00:00.000Z</string>
	</dict>
	<dict>
		<key>coefficient</key>
		<real>0.0</real>
		<key>constant</key>
		<real>10</real>
		<key>modified_julian_day</key>
		<integer>41317</integer>
		<key>offset</key>
		<integer>41317</integer>
		<key>tai_date</key>
		<string>1972-01-01T00:00:10.000Z</string>
		<key>utc_date</key>
		<string>1972-01-01T00:00:00.000Z</string>
	</dict>
	<dict>
		<key>coefficient</key>
		<real>0.0025920000000000001</real>
		<key>constant</key>
		<real>4.2131699999999999</real>
		<key>modified_julian_day</key>
		<integer>39887</integer>
		<key>offset</key>
		<integer>39126</integer>
		<key>tai_date</key>
		<string>1968-02-01T00:00:06.186Z</string>
		<key>utc_date</key>
		<string>1968-02-01T00:00:00.000Z</string>
	</dict>
	<dict>
		<key>coefficient</key>
		<real>0.0025920000000000001</real>
		<key>constant</key>
		<real>4.3131700000000004</real>
		<key>modified_julian_day</key>
		<integer>39126</integer>
		<key>offset</key>
		<integer>39126</integer>
		<key>tai_date</key>
		<string>1966-01-01T00:00:04.313Z</string>
		<key>utc_date</key>
		<string>1966-01-01T00:00:00.000Z</string>
	</dict>
	<dict>
		<key>coefficient</key>
		<real>0.0012960000000000001</real>
		<key>constant</key>
		<real>3.8401299999999998</real>
		<key>modified_julian_day</key>
		<integer>39004</integer>
		<key>offset</key>
		<integer>38761</integer>
		<key>tai_date</key>
		<string>1965-09-01T00:00:04.155Z</string>
		<key>utc_date</key>
		<string>1965-09-01T00:00:00.000Z</string>
	</dict>
	<dict>
		<key>coefficient</key>
		<real>0.0012960000000000001</real>
		<key>constant</key>
		<real>3.7401300000000002</real>
		<key>modified_julian_day</key>
		<integer>38942</integer>
		<key>offset</key>
		<integer>38761</integer>
		<key>tai_date</key>
		<string>1965-07-01T00:00:03.975Z</string>
		<key>utc_date</key>
		<string>1965-07-01T00:00:00.000Z</string>
	</dict>
	<dict>
		<key>coefficient</key>
		<real>0.0012960000000000001</real>
		<key>constant</key>
		<real>3.6401300000000001</real>
		<key>modified_julian_day</key>
		<integer>38820</integer>
		<key>offset</key>
		<integer>38761</integer>
		<key>tai_date</key>
		<string>1965-03-01T00:00:03.717Z</string>
		<key>utc_date</key>
		<string>1965-03-01T00:00:00.000Z</string>
	</dict>
	<dict>
		<key>coefficient</key>
		<real>0.0012960000000000001</real>
		<key>constant</key>
		<real>3.54013</real>
		<key>modified_julian_day</key>
		<integer>38761</integer>
		<key>offset</key>
		<integer>38761</integer>
		<key>tai_date</key>
		<string>1965-01-01T00:00:03.540Z</string>
		<key>utc_date</key>
		<string>1965-01-01T00:00:00.000Z</string>
	</dict>
	<dict>
		<key>coefficient</key>
		<real>0.0012960000000000001</real>
		<key>constant</key>
		<real>3.4401299999999999</real>
		<key>modified_julian_day</key>
		<integer>38639</integer>
		<key>offset</key>
		<integer>38761</integer>
		<key>tai_date</key>
		<string>1964-09-01T00:00:03.282Z</string>
		<key>utc_date</key>
		<string>1964-09-01T00:00:00.000Z</string>
	</dict>
	<dict>
		<key>coefficient</key>
		<real>0.0012960000000000001</real>
		<key>constant</key>
		<real>3.3401299999999998</real>
		<key>modified_julian_day</key>
		<integer>38486</integer>
		<key>offset</key>
		<integer>38761</integer>
		<key>tai_date</key>
		<string>1964-04-01T00:00:02.984Z</string>
		<key>utc_date</key>
		<string>1964-04-01T00:00:00.000Z</string>
	</dict>
	<dict>
		<key>coefficient</key>
		<real>0.0012960000000000001</real>
		<key>constant</key>
		<real>3.2401300000000002</real>
		<key>modified_julian_day</key>
		<integer>38395</integer>
		<key>offset</key>
		<integer>38761</integer>
		<key>tai_date</key>
		<string>1964-01-01T00:00:02.766Z</string>
		<key>utc_date</key>
		<string>1964-01-01T00:00:00.000Z</string>
	</dict>
	<dict>
		<key>coefficient</key>
		<real>0.0011232</real>
		<key>constant</key>
		<real>1.9458580000000001</real>
		<key>modified_julian_day</key>
		<integer>38334</integer>
		<key>offset</key>
		<integer>37665</integer>
		<key>tai_date</key>
		<string>1963-11-01T00:00:02.697Z</string>
		<key>utc_date</key>
		<string>1963-11-01T00:00:00.000Z</string>
	</dict>
	<dict>
		<key>coefficient</key>
		<real>0.0011232</real>
		<key>constant</key>
		<real>1.845858</real>
		<key>modified_julian_day</key>
		<integer>37665</integer>
		<key>offset</key>
		<integer>37665</integer>
		<key>tai_date</key>
		<string>1962-01-01T00:00:01.846Z</string>
		<key>utc_date</key>
		<string>1962-01-01T00:00:00.000Z</string>
	</dict>
	<dict>
		<key>coefficient</key>
		<real>0.0012960000000000001</real>
		<key>constant</key>
		<real>1.3728180000000001</real>
		<key>modified_julian_day</key>
		<integer>37512</integer>
		<key>offset</key>
		<integer>37300</integer>
		<key>tai_date</key>
		<string>1961-08-01T00:00:01.648Z</string>
		<key>utc_date</key>
		<string>1961-08-01T00:00:00.000Z</string>
	</dict>
	<dict>
		<key>coefficient</key>
		<real>0.0012960000000000001</real>
		<key>constant</key>
		<real>1.4228179999999999</real>
		<key>modified_julian_day</key>
		<integer>37300</integer>
		<key>offset</key>
		<integer>37300</integer>
		<key>tai_date</key>
		<string>1961-01-01T00:00:01.423Z</string>
		<key>utc_date</key>
		<string>1961-01-01T00:00:00.000Z</string>
	</dict>
</array>
</plist>
