<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ASCConfigurationDisplayName</key>
	<string>Default Panels</string>
	<key>ASCConfigurationIdentifier</key>
	<string>45F5082A-C201-427B-9968-83E79EC434C7</string>
	<key>ASCConfigurationProductSupportType</key>
	<string>All</string>
	<key>ASCConfigurationVersion</key>
	<string>5.0</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.AssistiveControl.panel.allTemplates.defs</string>
	<key>CFBundleName</key>
	<string>Assistive Control Panels</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>348</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2016-2017 Apple Inc. All Rights Reserved.</string>
</dict>
</plist>
