<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildAliasOf</key>
	<string>AppleCV3D</string>
	<key>BuildVersion</key>
	<string>906</string>
	<key>CFBundleShortVersionString</key>
	<string>3.22.0</string>
	<key>CFBundleVersion</key>
	<string>3.22.0.889c06</string>
	<key>ProjectName</key>
	<string>AppleCV3D_LearnedFeatures</string>
	<key>SourceVersion</key>
	<string>4051000000000</string>
</dict>
</plist>
