<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0x2011</key>
	<dict>
		<key>Color</key>
		<dict>
			<key>0x01</key>
			<string>Asset-White-B507.icns</string>
			<key>0x02</key>
			<string>Asset-Red-B507.icns</string>
		</dict>
		<key>ImageName</key>
		<string>Asset-Black-B507.icns</string>
		<key>Name</key>
		<string>Beats Studio Buds</string>
	</dict>
</dict>
</plist>
