<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0x2013</key>
	<dict>
		<key>ImageName</key>
		<string>Asset-B688.icns</string>
		<key>Name</key>
		<string>AirPods</string>
	</dict>
</dict>
</plist>
