<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MacBook Pro (14-inch, 2021)</key>
	<string>0009GD</string>
	<key>MacBook Pro (16-inch, 2021)</key>
	<string>000996</string>
</dict>
</plist>
