<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "https://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DoubleClick</key>
	<dict>
		<key>HideFromEditorList</key>
		<true/>
		<key>ImageMask</key>
		<true/>
		<key>ImageNoMargin</key>
		<false/>
		<key>LocalizedName</key>
		<string>ACSH.image.doubleclick</string>
		<key>Name</key>
		<string>DoubleClick</string>
		<key>SystemImageSymbolName</key>
		<string>cursorarrow.click.2</string>
		<key>Type</key>
		<string>Image</string>
	</dict>
	<key>DragDrop</key>
	<dict>
		<key>HideFromEditorList</key>
		<true/>
		<key>ImageMask</key>
		<true/>
		<key>ImageNoMargin</key>
		<false/>
		<key>LocalizedName</key>
		<string>ACSH.image.toggledrag</string>
		<key>Name</key>
		<string>DragDrop</string>
		<key>SystemImageSymbolName</key>
		<string>cursorarrow.and.square.on.square.dashed</string>
		<key>Type</key>
		<string>Image</string>
	</dict>
	<key>IconMaskCenter</key>
	<dict>
		<key>HideFromEditorList</key>
		<false/>
		<key>ImageMask</key>
		<true/>
		<key>ImageNoMargin</key>
		<false/>
		<key>LocalizedName</key>
		<string>ACSH.image.move</string>
		<key>Name</key>
		<string>Move</string>
		<key>SystemImageSymbolName</key>
		<string>square.grid.3x3.middle.fill</string>
		<key>Type</key>
		<string>Image</string>
	</dict>
	<key>IconMaskDock</key>
	<dict>
		<key>HideFromEditorList</key>
		<false/>
		<key>ImageMask</key>
		<true/>
		<key>ImageNoMargin</key>
		<false/>
		<key>LocalizedName</key>
		<string>ACSH.image.dock</string>
		<key>Name</key>
		<string>Dock</string>
		<key>SystemImageSymbolName</key>
		<string>dock.rectangle</string>
		<key>Type</key>
		<string>Image</string>
	</dict>
	<key>IconMaskElementWindowNavigation</key>
	<dict>
		<key>HideFromEditorList</key>
		<false/>
		<key>ImageMask</key>
		<true/>
		<key>ImageNoMargin</key>
		<false/>
		<key>LocalizedName</key>
		<string>ACSH.image.applicationNavigation</string>
		<key>Name</key>
		<string>Application Navigation</string>
		<key>SystemImageSymbolName</key>
		<string>macwindow</string>
		<key>Type</key>
		<string>Image</string>
	</dict>
	<key>IconMaskKeyboard</key>
	<dict>
		<key>HideFromEditorList</key>
		<false/>
		<key>ImageMask</key>
		<true/>
		<key>ImageNoMargin</key>
		<false/>
		<key>LocalizedName</key>
		<string>ACSH.image.keyboard</string>
		<key>Name</key>
		<string>Keyboard</string>
		<key>SystemImageSymbolName</key>
		<string>keyboard.macwindow</string>
		<key>Type</key>
		<string>Image</string>
	</dict>
	<key>IconMaskLeftClick</key>
	<dict>
		<key>HideFromEditorList</key>
		<false/>
		<key>ImageMask</key>
		<true/>
		<key>ImageNoMargin</key>
		<false/>
		<key>LocalizedName</key>
		<string>ACSH.image.leftclick</string>
		<key>Name</key>
		<string>Left Click</string>
		<key>SystemImageSymbolName</key>
		<string>cursorarrow.click</string>
		<key>Type</key>
		<string>Image</string>
	</dict>
	<key>IconMaskLeftClickHold</key>
	<dict>
		<key>HideFromEditorList</key>
		<false/>
		<key>ImageMask</key>
		<true/>
		<key>ImageNoMargin</key>
		<false/>
		<key>LocalizedName</key>
		<string>ACSH.image.toggledrag</string>
		<key>Name</key>
		<string>Toggle Drag</string>
		<key>SystemImageSymbolName</key>
		<string>cursorarrow.click.badge.clock</string>
		<key>Type</key>
		<string>Image</string>
	</dict>
	<key>IconMaskLeftDoubleClick</key>
	<dict>
		<key>HideFromEditorList</key>
		<false/>
		<key>ImageMask</key>
		<true/>
		<key>ImageNoMargin</key>
		<false/>
		<key>LocalizedName</key>
		<string>ACSH.image.doubleclick</string>
		<key>Name</key>
		<string>Double Click</string>
		<key>SystemImageSymbolName</key>
		<string>cursorarrow.click.2</string>
		<key>Type</key>
		<string>Image</string>
	</dict>
	<key>IconMaskListOfPanels</key>
	<dict>
		<key>HideFromEditorList</key>
		<false/>
		<key>ImageMask</key>
		<true/>
		<key>ImageNoMargin</key>
		<false/>
		<key>LocalizedName</key>
		<string>ACSH.image.customize</string>
		<key>Name</key>
		<string>Customize</string>
		<key>SystemImageSymbolName</key>
		<string>list.bullet</string>
		<key>Type</key>
		<string>Image</string>
	</dict>
	<key>IconMaskMenuBar</key>
	<dict>
		<key>HideFromEditorList</key>
		<false/>
		<key>ImageMask</key>
		<true/>
		<key>ImageNoMargin</key>
		<false/>
		<key>LocalizedName</key>
		<string>ACSH.image.menuBar</string>
		<key>Name</key>
		<string>Menu Bar</string>
		<key>SystemImageSymbolName</key>
		<string>menubar.rectangle</string>
		<key>Type</key>
		<string>Image</string>
	</dict>
	<key>IconMaskPause</key>
	<dict>
		<key>HideFromEditorList</key>
		<true/>
		<key>ImageMask</key>
		<true/>
		<key>ImageNoMargin</key>
		<false/>
		<key>LocalizedName</key>
		<string>ACSH.image.pauseaction</string>
		<key>Name</key>
		<string>IconMaskPause</string>
		<key>SystemImageSymbolName</key>
		<string>pause.fill</string>
		<key>Type</key>
		<string>Image</string>
	</dict>
	<key>IconMaskPointer</key>
	<dict>
		<key>HideFromEditorList</key>
		<false/>
		<key>ImageMask</key>
		<true/>
		<key>ImageNoMargin</key>
		<false/>
		<key>LocalizedName</key>
		<string>ACSH.image.pointer</string>
		<key>Name</key>
		<string>Pointer</string>
		<key>SystemImageSymbolName</key>
		<string>cursorarrow</string>
	</dict>
	<key>IconMaskSystemControl</key>
	<dict>
		<key>HideFromEditorList</key>
		<false/>
		<key>ImageMask</key>
		<true/>
		<key>ImageNoMargin</key>
		<false/>
		<key>LocalizedName</key>
		<string>ACSH.image.system</string>
		<key>Name</key>
		<string>System</string>
		<key>SystemImageSymbolName</key>
		<string>display</string>
		<key>Type</key>
		<string>Image</string>
	</dict>
	<key>LeftClick</key>
	<dict>
		<key>HideFromEditorList</key>
		<true/>
		<key>ImageMask</key>
		<true/>
		<key>ImageNoMargin</key>
		<false/>
		<key>LocalizedName</key>
		<string>ACSH.image.leftclick</string>
		<key>Name</key>
		<string>LeftClick</string>
		<key>SystemImageSymbolName</key>
		<string>cursorarrow.click</string>
		<key>Type</key>
		<string>Image</string>
	</dict>
	<key>OptionsMenu</key>
	<dict>
		<key>HideFromEditorList</key>
		<true/>
		<key>ImageMask</key>
		<true/>
		<key>ImageNoMargin</key>
		<false/>
		<key>LocalizedName</key>
		<string>ACSH.image.optionsmenu</string>
		<key>Name</key>
		<string>OptionsMenu</string>
		<key>SystemImageSymbolName</key>
		<string>circles.hexagonpath.fill</string>
		<key>Type</key>
		<string>Image</string>
	</dict>
	<key>RightClick</key>
	<dict>
		<key>HideFromEditorList</key>
		<true/>
		<key>ImageMask</key>
		<true/>
		<key>ImageNoMargin</key>
		<false/>
		<key>LocalizedName</key>
		<string>ACSH.image.rightclick</string>
		<key>Name</key>
		<string>RightClick</string>
		<key>SystemImageSymbolName</key>
		<string>contextualmenu.and.cursorarrow</string>
		<key>Type</key>
		<string>Image</string>
	</dict>
	<key>ScrollMenu</key>
	<dict>
		<key>HideFromEditorList</key>
		<true/>
		<key>ImageMask</key>
		<true/>
		<key>ImageNoMargin</key>
		<false/>
		<key>LocalizedName</key>
		<string>ACSH.image.scrollmenu</string>
		<key>Name</key>
		<string>ScrollMenu</string>
		<key>SystemImageSymbolName</key>
		<string>arrow.up.and.down.and.arrow.left.and.right</string>
		<key>Type</key>
		<string>Image</string>
	</dict>
</dict>
</plist>
