<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DoubleClick</key>
	<dict>
		<key>HideFromEditorList</key>
		<true/>
		<key>ImageMask</key>
		<true/>
		<key>ImageNoMargin</key>
		<false/>
		<key>SystemImageSymbolName</key>
		<string>cursorarrow.click.2</string>
		<key>Type</key>
		<string>Image</string>
	</dict>
	<key>DragDrop</key>
	<dict>
		<key>HideFromEditorList</key>
		<true/>
		<key>ImageMask</key>
		<true/>
		<key>ImageNoMargin</key>
		<false/>
		<key>SystemImageSymbolName</key>
		<string>cursorarrow.and.square.on.square.dashed</string>
		<key>Type</key>
		<string>Image</string>
	</dict>
	<key>IconMaskAlphaIncrease</key>
	<dict>
		<key>HideFromEditorList</key>
		<true/>
		<key>ImageMask</key>
		<true/>
		<key>ImageNoMargin</key>
		<false/>
		<key>SystemImageSymbolName</key>
		<string>circle.righthalf.fill</string>
		<key>Type</key>
		<string>Image</string>
	</dict>
	<key>IconMaskAlphaNone</key>
	<dict>
		<key>HideFromEditorList</key>
		<true/>
		<key>ImageMask</key>
		<true/>
		<key>ImageNoMargin</key>
		<false/>
		<key>SystemImageSymbolName</key>
		<string>circle</string>
		<key>Type</key>
		<string>Image</string>
	</dict>
	<key>IconMaskAppleTV</key>
	<dict>
		<key>HideFromEditorList</key>
		<true/>
		<key>ImageMask</key>
		<true/>
		<key>ImageNoMargin</key>
		<false/>
		<key>SystemImageSymbolName</key>
		<string>appletv</string>
		<key>Type</key>
		<string>Image</string>
	</dict>
	<key>IconMaskBack</key>
	<dict>
		<key>HideFromEditorList</key>
		<true/>
		<key>ImageMask</key>
		<true/>
		<key>ImageNoMargin</key>
		<false/>
		<key>SystemImageSymbolName</key>
		<string>chevron.backward</string>
		<key>Type</key>
		<string>Image</string>
	</dict>
	<key>IconMaskBottomCenter</key>
	<dict>
		<key>HideFromEditorList</key>
		<true/>
		<key>ImageMask</key>
		<true/>
		<key>ImageNoMargin</key>
		<false/>
		<key>SystemImageSymbolName</key>
		<string>square.grid.3x3.bottommiddle.fill</string>
		<key>Type</key>
		<string>Image</string>
	</dict>
	<key>IconMaskBottomLeft</key>
	<dict>
		<key>HideFromEditorList</key>
		<true/>
		<key>ImageMask</key>
		<true/>
		<key>ImageNoMargin</key>
		<false/>
		<key>SystemImageSymbolName</key>
		<string>square.grid.3x3.bottomleft.fill</string>
		<key>Type</key>
		<string>Image</string>
	</dict>
	<key>IconMaskBottomRight</key>
	<dict>
		<key>HideFromEditorList</key>
		<true/>
		<key>ImageMask</key>
		<true/>
		<key>ImageNoMargin</key>
		<false/>
		<key>SystemImageSymbolName</key>
		<string>square.grid.3x3.bottomright.fill</string>
		<key>Type</key>
		<string>Image</string>
	</dict>
	<key>IconMaskBrightnessDown</key>
	<dict>
		<key>HideFromEditorList</key>
		<true/>
		<key>ImageMask</key>
		<true/>
		<key>ImageNoMargin</key>
		<false/>
		<key>SystemImageSymbolName</key>
		<string>sun.min</string>
		<key>Type</key>
		<string>Image</string>
	</dict>
	<key>IconMaskBrightnessDownFill</key>
	<dict>
		<key>HideFromEditorList</key>
		<true/>
		<key>ImageMask</key>
		<true/>
		<key>ImageNoMargin</key>
		<false/>
		<key>SystemImageSymbolName</key>
		<string>sun.min.fill</string>
		<key>Type</key>
		<string>Image</string>
	</dict>
	<key>IconMaskBrightnessUp</key>
	<dict>
		<key>HideFromEditorList</key>
		<true/>
		<key>ImageMask</key>
		<true/>
		<key>ImageNoMargin</key>
		<false/>
		<key>SystemImageSymbolName</key>
		<string>sun.max</string>
		<key>Type</key>
		<string>Image</string>
	</dict>
	<key>IconMaskBrightnessUpFill</key>
	<dict>
		<key>HideFromEditorList</key>
		<true/>
		<key>ImageMask</key>
		<true/>
		<key>ImageNoMargin</key>
		<false/>
		<key>SystemImageSymbolName</key>
		<string>sun.max.fill</string>
		<key>Type</key>
		<string>Image</string>
	</dict>
	<key>IconMaskCancel</key>
	<dict>
		<key>HideFromEditorList</key>
		<true/>
		<key>ImageMask</key>
		<true/>
		<key>ImageNoMargin</key>
		<false/>
		<key>SystemImageSymbolName</key>
		<string>xmark.circle.fill</string>
		<key>Type</key>
		<string>Image</string>
	</dict>
	<key>IconMaskCenter</key>
	<dict>
		<key>HideFromEditorList</key>
		<true/>
		<key>ImageMask</key>
		<true/>
		<key>ImageNoMargin</key>
		<false/>
		<key>SystemImageSymbolName</key>
		<string>square.grid.3x3.middle.fill</string>
		<key>Type</key>
		<string>Image</string>
	</dict>
	<key>IconMaskClose</key>
	<dict>
		<key>HideFromEditorList</key>
		<true/>
		<key>ImageMask</key>
		<true/>
		<key>ImageNoMargin</key>
		<false/>
		<key>SystemImageSymbolName</key>
		<string>xmark</string>
		<key>Type</key>
		<string>Image</string>
	</dict>
	<key>IconMaskConfirm</key>
	<dict>
		<key>HideFromEditorList</key>
		<true/>
		<key>ImageMask</key>
		<true/>
		<key>ImageNoMargin</key>
		<false/>
		<key>SystemImageSymbolName</key>
		<string>checkmark.circle.fill</string>
		<key>Type</key>
		<string>Image</string>
	</dict>
	<key>IconMaskDevices</key>
	<dict>
		<key>HideFromEditorList</key>
		<true/>
		<key>ImageMask</key>
		<true/>
		<key>ImageNoMargin</key>
		<false/>
		<key>SystemImageSymbolName</key>
		<string>laptopcomputer.and.iphone</string>
		<key>Type</key>
		<string>Image</string>
	</dict>
	<key>IconMaskDock</key>
	<dict>
		<key>HideFromEditorList</key>
		<true/>
		<key>ImageMask</key>
		<true/>
		<key>ImageNoMargin</key>
		<false/>
		<key>SystemImageSymbolName</key>
		<string>dock.rectangle</string>
		<key>Type</key>
		<string>Image</string>
	</dict>
	<key>IconMaskEject</key>
	<dict>
		<key>HideFromEditorList</key>
		<true/>
		<key>ImageMask</key>
		<true/>
		<key>ImageNoMargin</key>
		<false/>
		<key>SystemImageSymbolName</key>
		<string>eject.fill</string>
		<key>Type</key>
		<string>Image</string>
	</dict>
	<key>IconMaskElementWindowNavigation</key>
	<dict>
		<key>HideFromEditorList</key>
		<true/>
		<key>ImageMask</key>
		<true/>
		<key>ImageNoMargin</key>
		<false/>
		<key>SystemImageSymbolName</key>
		<string>macwindow</string>
		<key>Type</key>
		<string>Image</string>
	</dict>
	<key>IconMaskExpose</key>
	<dict>
		<key>HideFromEditorList</key>
		<true/>
		<key>ImageMask</key>
		<true/>
		<key>ImageNoMargin</key>
		<false/>
		<key>SystemImageSymbolName</key>
		<string>rectangle.3.offgrid</string>
		<key>Type</key>
		<string>Image</string>
	</dict>
	<key>IconMaskFastForward</key>
	<dict>
		<key>HideFromEditorList</key>
		<true/>
		<key>ImageMask</key>
		<true/>
		<key>ImageNoMargin</key>
		<false/>
		<key>SystemImageSymbolName</key>
		<string>forward</string>
		<key>Type</key>
		<string>Image</string>
	</dict>
	<key>IconMaskFastForwardFill</key>
	<dict>
		<key>HideFromEditorList</key>
		<true/>
		<key>ImageMask</key>
		<true/>
		<key>ImageNoMargin</key>
		<false/>
		<key>SystemImageSymbolName</key>
		<string>forward.fill</string>
		<key>Type</key>
		<string>Image</string>
	</dict>
	<key>IconMaskHome</key>
	<dict>
		<key>HideFromEditorList</key>
		<true/>
		<key>ImageMask</key>
		<true/>
		<key>ImageNoMargin</key>
		<false/>
		<key>SystemImageSymbolName</key>
		<string>house.fill</string>
		<key>Type</key>
		<string>Image</string>
	</dict>
	<key>IconMaskIPad</key>
	<dict>
		<key>HideFromEditorList</key>
		<true/>
		<key>ImageMask</key>
		<true/>
		<key>ImageNoMargin</key>
		<false/>
		<key>SystemImageSymbolName</key>
		<string>ipad</string>
		<key>Type</key>
		<string>Image</string>
	</dict>
	<key>IconMaskIPhone</key>
	<dict>
		<key>HideFromEditorList</key>
		<true/>
		<key>ImageMask</key>
		<true/>
		<key>ImageNoMargin</key>
		<false/>
		<key>SystemImageSymbolName</key>
		<string>iphone</string>
		<key>Type</key>
		<string>Image</string>
	</dict>
	<key>IconMaskKeyboard</key>
	<dict>
		<key>HideFromEditorList</key>
		<true/>
		<key>ImageMask</key>
		<true/>
		<key>ImageNoMargin</key>
		<false/>
		<key>SystemImageSymbolName</key>
		<string>keyboard.macwindow</string>
		<key>Type</key>
		<string>Image</string>
	</dict>
	<key>IconMaskLargeResize</key>
	<dict>
		<key>HideFromEditorList</key>
		<true/>
		<key>ImageMask</key>
		<true/>
		<key>ImageNoMargin</key>
		<false/>
		<key>SystemImageSymbolName</key>
		<string>arrow.up.left.and.arrow.down.right</string>
		<key>Type</key>
		<string>Image</string>
	</dict>
	<key>IconMaskLargeScrollDown</key>
	<dict>
		<key>HideFromEditorList</key>
		<true/>
		<key>ImageMask</key>
		<true/>
		<key>ImageNoMargin</key>
		<false/>
		<key>SystemImageSymbolName</key>
		<string>arrow.down</string>
		<key>Type</key>
		<string>Image</string>
	</dict>
	<key>IconMaskLargeScrollUp</key>
	<dict>
		<key>HideFromEditorList</key>
		<true/>
		<key>ImageMask</key>
		<true/>
		<key>ImageNoMargin</key>
		<false/>
		<key>SystemImageSymbolName</key>
		<string>arrow.up</string>
		<key>Type</key>
		<string>Image</string>
	</dict>
	<key>IconMaskMinimize</key>
	<dict>
		<key>HideFromEditorList</key>
		<true/>
		<key>ImageMask</key>
		<true/>
		<key>ImageNoMargin</key>
		<false/>
		<key>SystemImageSymbolName</key>
		<string>minus</string>
		<key>Type</key>
		<string>Image</string>
	</dict>
	<key>IconMaskLaunchPad</key>
	<dict>
		<key>HideFromEditorList</key>
		<true/>
		<key>ImageMask</key>
		<true/>
		<key>ImageNoMargin</key>
		<false/>
		<key>SystemImageSymbolName</key>
		<string>square.grid.3x2</string>
		<key>Type</key>
		<string>Image</string>
	</dict>
	<key>IconMaskSearch</key>
	<dict>
		<key>HideFromEditorList</key>
		<true/>
		<key>ImageMask</key>
		<true/>
		<key>ImageNoMargin</key>
		<false/>
		<key>SystemImageSymbolName</key>
		<string>magnifyingglass</string>
		<key>Type</key>
		<string>Image</string>
	</dict>
	<key>IconMaskDoNotDisturb</key>
	<dict>
		<key>HideFromEditorList</key>
		<true/>
		<key>ImageMask</key>
		<true/>
		<key>ImageNoMargin</key>
		<false/>
		<key>SystemImageSymbolName</key>
		<string>moon</string>
		<key>Type</key>
		<string>Image</string>
	</dict>
	<key>IconMaskVoiceCommand</key>
	<dict>
		<key>HideFromEditorList</key>
		<true/>
		<key>ImageMask</key>
		<true/>
		<key>ImageNoMargin</key>
		<false/>
		<key>SystemImageSymbolName</key>
		<string>mic</string>
		<key>Type</key>
		<string>Image</string>
	</dict>
	<key>IconMaskKeyboardSelect</key>
	<dict>
		<key>HideFromEditorList</key>
		<true/>
		<key>ImageMask</key>
		<true/>
		<key>ImageNoMargin</key>
		<false/>
		<key>SystemImageSymbolName</key>
		<string>globe</string>
		<key>Type</key>
		<string>Image</string>
	</dict>
	<key>IconMaskLeave</key>
	<dict>
		<key>HideFromEditorList</key>
		<true/>
		<key>ImageMask</key>
		<true/>
		<key>ImageNoMargin</key>
		<false/>
		<key>SystemImageSymbolName</key>
		<string>chevron.backward</string>
		<key>Type</key>
		<string>Image</string>
	</dict>
	<key>IconMaskLeft</key>
	<dict>
		<key>HideFromEditorList</key>
		<true/>
		<key>ImageMask</key>
		<true/>
		<key>ImageNoMargin</key>
		<false/>
		<key>SystemImageSymbolName</key>
		<string>square.grid.3x3.middleleft.fill</string>
		<key>Type</key>
		<string>Image</string>
	</dict>
	<key>IconMaskLeftClick</key>
	<dict>
		<key>HideFromEditorList</key>
		<true/>
		<key>ImageMask</key>
		<true/>
		<key>ImageNoMargin</key>
		<false/>
		<key>SystemImageSymbolName</key>
		<string>cursorarrow.click</string>
		<key>Type</key>
		<string>Image</string>
	</dict>
	<key>IconMaskLeftClickHold</key>
	<dict>
		<key>HideFromEditorList</key>
		<true/>
		<key>ImageMask</key>
		<true/>
		<key>ImageNoMargin</key>
		<false/>
		<key>SystemImageSymbolName</key>
		<string>cursorarrow.click.badge.clock</string>
		<key>Type</key>
		<string>Image</string>
	</dict>
	<key>IconMaskLeftDoubleClick</key>
	<dict>
		<key>HideFromEditorList</key>
		<true/>
		<key>ImageMask</key>
		<true/>
		<key>ImageNoMargin</key>
		<false/>
		<key>SystemImageSymbolName</key>
		<string>cursorarrow.click.2</string>
		<key>Type</key>
		<string>Image</string>
	</dict>
	<key>IconMaskListOfPanels</key>
	<dict>
		<key>HideFromEditorList</key>
		<true/>
		<key>ImageMask</key>
		<true/>
		<key>ImageNoMargin</key>
		<false/>
		<key>SystemImageSymbolName</key>
		<string>list.bullet</string>
		<key>Type</key>
		<string>Image</string>
	</dict>
	<key>IconMaskMac</key>
	<dict>
		<key>HideFromEditorList</key>
		<true/>
		<key>ImageMask</key>
		<true/>
		<key>ImageNoMargin</key>
		<false/>
		<key>SystemImageSymbolName</key>
		<string>desktopcomputer</string>
		<key>Type</key>
		<string>Image</string>
	</dict>
	<key>IconMaskMenuBar</key>
	<dict>
		<key>HideFromEditorList</key>
		<true/>
		<key>ImageMask</key>
		<true/>
		<key>ImageNoMargin</key>
		<false/>
		<key>SystemImageSymbolName</key>
		<string>menubar.rectangle</string>
		<key>Type</key>
		<string>Image</string>
	</dict>
	<key>IconMaskDFR</key>
	<dict>
		<key>HideFromEditorList</key>
		<true/>
		<key>ImageMask</key>
		<true/>
		<key>ImageNoMargin</key>
		<false/>
		<key>SystemImageSymbolName</key>
		<string>touchbar</string>
		<key>Type</key>
		<string>Image</string>
	</dict>
	<key>IconMaskMouse</key>
	<dict>
		<key>HideFromEditorList</key>
		<true/>
		<key>ImageMask</key>
		<true/>
		<key>ImageNoMargin</key>
		<false/>
		<key>SystemImageSymbolName</key>
		<string>cursorarrow</string>
		<key>Type</key>
		<string>Image</string>
	</dict>
	<key>IconMaskMoveMouse</key>
	<dict>
		<key>HideFromEditorList</key>
		<true/>
		<key>ImageMask</key>
		<true/>
		<key>ImageNoMargin</key>
		<false/>
		<key>SystemImageSymbolName</key>
		<string>cursorarrow.motionlines</string>
		<key>Type</key>
		<string>Image</string>
	</dict>
	<key>IconMaskMoveMouseLeftClick</key>
	<dict>
		<key>HideFromEditorList</key>
		<true/>
		<key>ImageMask</key>
		<true/>
		<key>ImageNoMargin</key>
		<false/>
		<key>SystemImageSymbolName</key>
		<string>cursorarrow.motionlines.click</string>
		<key>Type</key>
		<string>Image</string>
	</dict>
	<key>IconMaskPause</key>
	<dict>
		<key>HideFromEditorList</key>
		<true/>
		<key>ImageMask</key>
		<true/>
		<key>ImageNoMargin</key>
		<false/>
		<key>SystemImageSymbolName</key>
		<string>pause.fill</string>
		<key>Type</key>
		<string>Image</string>
	</dict>
	<key>IconMaskPlayPause</key>
	<dict>
		<key>HideFromEditorList</key>
		<true/>
		<key>ImageMask</key>
		<true/>
		<key>ImageNoMargin</key>
		<false/>
		<key>SystemImageSymbolName</key>
		<string>playpause</string>
		<key>Type</key>
		<string>Image</string>
	</dict>
	<key>IconMaskPlayPauseFill</key>
	<dict>
		<key>HideFromEditorList</key>
		<true/>
		<key>ImageMask</key>
		<true/>
		<key>ImageNoMargin</key>
		<false/>
		<key>SystemImageSymbolName</key>
		<string>playpause.fill</string>
		<key>Type</key>
		<string>Image</string>
	</dict>
	<key>IconMaskPointer</key>
	<dict>
		<key>HideFromEditorList</key>
		<true/>
		<key>ImageMask</key>
		<true/>
		<key>ImageNoMargin</key>
		<false/>
		<key>SystemImageSymbolName</key>
		<string>cursorarrow</string>
		<key>Type</key>
		<string>Image</string>
	</dict>
	<key>IconMaskPushLeft</key>
	<dict>
		<key>HideFromEditorList</key>
		<true/>
		<key>ImageMask</key>
		<true/>
		<key>ImageNoMargin</key>
		<false/>
		<key>SystemImageSymbolName</key>
		<string>arrowtriangle.left.fill</string>
		<key>Type</key>
		<string>Image</string>
	</dict>
	<key>IconMaskPushRight</key>
	<dict>
		<key>HideFromEditorList</key>
		<true/>
		<key>ImageMask</key>
		<true/>
		<key>ImageNoMargin</key>
		<false/>
		<key>SystemImageSymbolName</key>
		<string>arrowtriangle.right.fill</string>
		<key>Type</key>
		<string>Image</string>
	</dict>
	<key>IconMaskRewind</key>
	<dict>
		<key>HideFromEditorList</key>
		<true/>
		<key>ImageMask</key>
		<true/>
		<key>ImageNoMargin</key>
		<false/>
		<key>SystemImageSymbolName</key>
		<string>backward</string>
		<key>Type</key>
		<string>Image</string>
	</dict>
	<key>IconMaskRewindFill</key>
	<dict>
		<key>HideFromEditorList</key>
		<true/>
		<key>ImageMask</key>
		<true/>
		<key>ImageNoMargin</key>
		<false/>
		<key>SystemImageSymbolName</key>
		<string>backward.fill</string>
		<key>Type</key>
		<string>Image</string>
	</dict>
	<key>IconMaskRight</key>
	<dict>
		<key>HideFromEditorList</key>
		<true/>
		<key>ImageMask</key>
		<true/>
		<key>ImageNoMargin</key>
		<false/>
		<key>SystemImageSymbolName</key>
		<string>square.grid.3x3.middleright.fill</string>
		<key>Type</key>
		<string>Image</string>
	</dict>
	<key>IconMaskRightClick</key>
	<dict>
		<key>HideFromEditorList</key>
		<true/>
		<key>ImageMask</key>
		<true/>
		<key>ImageNoMargin</key>
		<false/>
		<key>SystemImageSymbolName</key>
		<string>contextualmenu.and.cursorarrow</string>
		<key>Type</key>
		<string>Image</string>
	</dict>
	<key>IconMaskScrollDown</key>
	<dict>
		<key>HideFromEditorList</key>
		<true/>
		<key>ImageMask</key>
		<true/>
		<key>ImageNoMargin</key>
		<false/>
		<key>SystemImageSymbolName</key>
		<string>arrowtriangle.down.fill</string>
		<key>Type</key>
		<string>Image</string>
	</dict>
	<key>IconMaskScrollUp</key>
	<dict>
		<key>HideFromEditorList</key>
		<true/>
		<key>ImageMask</key>
		<true/>
		<key>ImageNoMargin</key>
		<false/>
		<key>SystemImageSymbolName</key>
		<string>arrowtriangle.up.fill</string>
		<key>Type</key>
		<string>Image</string>
	</dict>
	<key>IconMaskShowActionMenu1</key>
	<dict>
		<key>HideFromEditorList</key>
		<true/>
		<key>ImageMask</key>
		<true/>
		<key>ImageNoMargin</key>
		<false/>
		<key>SystemImageSymbolName</key>
		<string>ellipsis.circle.fill</string>
		<key>Type</key>
		<string>Image</string>
	</dict>
	<key>IconMaskSmallResize</key>
	<dict>
		<key>HideFromEditorList</key>
		<true/>
		<key>ImageMask</key>
		<true/>
		<key>ImageNoMargin</key>
		<false/>
		<key>SystemImageSymbolName</key>
		<string>arrow.down.right.and.arrow.up.left</string>
		<key>Type</key>
		<string>Image</string>
	</dict>
	<key>IconMaskSystemControl</key>
	<dict>
		<key>HideFromEditorList</key>
		<true/>
		<key>ImageMask</key>
		<true/>
		<key>ImageNoMargin</key>
		<false/>
		<key>SystemImageSymbolName</key>
		<string>display</string>
		<key>Type</key>
		<string>Image</string>
	</dict>
	<key>IconMaskTopCenter</key>
	<dict>
		<key>HideFromEditorList</key>
		<true/>
		<key>ImageMask</key>
		<true/>
		<key>ImageNoMargin</key>
		<false/>
		<key>SystemImageSymbolName</key>
		<string>square.grid.3x3.topmiddle.fill</string>
		<key>Type</key>
		<string>Image</string>
	</dict>
	<key>IconMaskTopLeft</key>
	<dict>
		<key>HideFromEditorList</key>
		<true/>
		<key>ImageMask</key>
		<true/>
		<key>ImageNoMargin</key>
		<false/>
		<key>SystemImageSymbolName</key>
		<string>square.grid.3x3.topleft.fill</string>
		<key>Type</key>
		<string>Image</string>
	</dict>
	<key>IconMaskTopRight</key>
	<dict>
		<key>HideFromEditorList</key>
		<true/>
		<key>ImageMask</key>
		<true/>
		<key>ImageNoMargin</key>
		<false/>
		<key>SystemImageSymbolName</key>
		<string>square.grid.3x3.topright.fill</string>
		<key>Type</key>
		<string>Image</string>
	</dict>
	<key>IconMaskVolumeDown</key>
	<dict>
		<key>HideFromEditorList</key>
		<true/>
		<key>ImageMask</key>
		<true/>
		<key>ImageNoMargin</key>
		<false/>
		<key>SystemImageSymbolName</key>
		<string>speaker.wave.1</string>
		<key>Type</key>
		<string>Image</string>
	</dict>
	<key>IconMaskVolumeDownFill</key>
	<dict>
		<key>HideFromEditorList</key>
		<true/>
		<key>ImageMask</key>
		<true/>
		<key>ImageNoMargin</key>
		<false/>
		<key>SystemImageSymbolName</key>
		<string>speaker.wave.1.fill</string>
		<key>Type</key>
		<string>Image</string>
	</dict>
	<key>IconMaskVolumeMute</key>
	<dict>
		<key>HideFromEditorList</key>
		<true/>
		<key>ImageMask</key>
		<true/>
		<key>ImageNoMargin</key>
		<false/>
		<key>SystemImageSymbolName</key>
		<string>speaker.slash</string>
		<key>Type</key>
		<string>Image</string>
	</dict>
	<key>IconMaskVolumeMuteFill</key>
	<dict>
		<key>HideFromEditorList</key>
		<true/>
		<key>ImageMask</key>
		<true/>
		<key>ImageNoMargin</key>
		<false/>
		<key>SystemImageSymbolName</key>
		<string>speaker.slash.fill</string>
		<key>Type</key>
		<string>Image</string>
	</dict>
	<key>IconMaskVolumeUp</key>
	<dict>
		<key>HideFromEditorList</key>
		<true/>
		<key>ImageMask</key>
		<true/>
		<key>ImageNoMargin</key>
		<false/>
		<key>SystemImageSymbolName</key>
		<string>speaker.wave.3</string>
		<key>Type</key>
		<string>Image</string>
	</dict>
	<key>IconMaskVolumeUpFill</key>
	<dict>
		<key>HideFromEditorList</key>
		<true/>
		<key>ImageMask</key>
		<true/>
		<key>ImageNoMargin</key>
		<false/>
		<key>SystemImageSymbolName</key>
		<string>speaker.wave.3.fill</string>
		<key>Type</key>
		<string>Image</string>
	</dict>
	<key>LeftClick</key>
	<dict>
		<key>HideFromEditorList</key>
		<true/>
		<key>ImageMask</key>
		<true/>
		<key>ImageNoMargin</key>
		<false/>
		<key>SystemImageSymbolName</key>
		<string>cursorarrow.click</string>
		<key>Type</key>
		<string>Image</string>
	</dict>
	<key>OptionsMenu</key>
	<dict>
		<key>HideFromEditorList</key>
		<true/>
		<key>ImageMask</key>
		<true/>
		<key>ImageNoMargin</key>
		<false/>
		<key>SystemImageSymbolName</key>
		<string>circles.hexagonpath.fill</string>
		<key>Type</key>
		<string>Image</string>
	</dict>
	<key>RightClick</key>
	<dict>
		<key>HideFromEditorList</key>
		<true/>
		<key>ImageMask</key>
		<true/>
		<key>ImageNoMargin</key>
		<false/>
		<key>SystemImageSymbolName</key>
		<string>contextualmenu.and.cursorarrow</string>
		<key>Type</key>
		<string>Image</string>
	</dict>
	<key>ScrollMenu</key>
	<dict>
		<key>HideFromEditorList</key>
		<true/>
		<key>ImageMask</key>
		<true/>
		<key>ImageNoMargin</key>
		<false/>
		<key>SystemImageSymbolName</key>
		<string>arrow.up.and.down.and.arrow.left.and.right</string>
		<key>Type</key>
		<string>Image</string>
	</dict>
</dict>
</plist>
