<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>20A241128</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>PreferencePanesSupport</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.frameworks.preferencepanessupport</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>FMWK</string>
	<key>CFBundleShortVersionString</key>
	<string>13.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>13.0</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>13E6049a</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>12.3</string>
	<key>DTSDKBuild</key>
	<string>21E216a</string>
	<key>DTSDKName</key>
	<string>macosx12.3.internal</string>
	<key>DTXcode</key>
	<string>1330</string>
	<key>DTXcodeBuild</key>
	<string>13E6049a</string>
	<key>LSMinimumSystemVersion</key>
	<string>12.3</string>
	<key>NSExtensionSDK</key>
	<dict>
		<key>com.apple.preference.appleid.details</key>
		<dict>
			<key>NSExtension</key>
			<dict>
				<key>NSExtensionAttributes</key>
				<dict>
					<key>NSExtensionPointName</key>
					<string>com.apple.preference.appleid.details</string>
					<key>NSExtensionPointVersion</key>
					<string>1.0</string>
				</dict>
				<key>NSExtensionContextClass</key>
				<string>PPSpecifierExtensionContext</string>
				<key>NSExtensionContextHostClass</key>
				<string>PPSpecifierHostExtensionContext</string>
				<key>NSExtensionHostEntitlement</key>
				<string>com.apple.developer.extension-host.systemprefsapp.appleid</string>
				<key>NSExtensionProtocol</key>
				<string>PPSpecifierExtension</string>
				<key>Subsystems</key>
				<array>
					<string>NSSharingService_Subsystem</string>
					<string>NSViewService_PKSubsystem</string>
				</array>
			</dict>
			<key>XPCService</key>
			<dict>
				<key>JoinExistingSession</key>
				<true/>
				<key>RunLoopType</key>
				<string>_NSApplicationMain</string>
				<key>ServiceType</key>
				<string>Application</string>
				<key>_AdditionalSubServices</key>
				<dict>
					<key>apple-extension-service</key>
					<true/>
					<key>viewbridge</key>
					<true/>
				</dict>
			</dict>
		</dict>
		<key>com.apple.preference.security.privacy</key>
		<dict>
			<key>NSExtension</key>
			<dict>
				<key>NSExtensionAttributes</key>
				<dict>
					<key>NSExtensionPointName</key>
					<string>com.apple.preference.security.privacy</string>
					<key>NSExtensionPointVersion</key>
					<string>1.0</string>
				</dict>
				<key>NSExtensionContextClass</key>
				<string>PPSecPrivacyExtensionContext</string>
				<key>NSExtensionContextHostClass</key>
				<string>PPSecPrivacyHostExtensionContext</string>
				<key>NSExtensionHostEntitlement</key>
				<string>com.apple.developer.extension-host.systemprefsapp.privacy</string>
				<key>NSExtensionProtocol</key>
				<string>PPSecPrivacyExtension</string>
				<key>Subsystems</key>
				<array>
					<string>NSSharingService_Subsystem</string>
					<string>NSViewService_PKSubsystem</string>
				</array>
			</dict>
			<key>XPCService</key>
			<dict>
				<key>JoinExistingSession</key>
				<true/>
				<key>RunLoopType</key>
				<string>_NSApplicationMain</string>
				<key>ServiceType</key>
				<string>Application</string>
				<key>_AdditionalSubServices</key>
				<dict>
					<key>apple-extension-service</key>
					<true/>
					<key>viewbridge</key>
					<true/>
				</dict>
			</dict>
		</dict>
		<key>com.apple.preference.sharing.service</key>
		<dict>
			<key>NSExtension</key>
			<dict>
				<key>NSExtensionAttributes</key>
				<dict>
					<key>NSExtensionPointName</key>
					<string>com.apple.preference.sharing.service</string>
					<key>NSExtensionPointVersion</key>
					<string>1.0</string>
				</dict>
				<key>NSExtensionContextClass</key>
				<string>PPSharingServiceExtensionContext</string>
				<key>NSExtensionContextHostClass</key>
				<string>PPSharingServiceHostExtensionContext</string>
				<key>NSExtensionHostEntitlement</key>
				<string>com.apple.developer.extension-host.systemprefsapp.sharing</string>
				<key>NSExtensionProtocol</key>
				<string>PPSecPrivacyExtension</string>
				<key>Subsystems</key>
				<array>
					<string>NSSharingService_Subsystem</string>
					<string>NSViewService_PKSubsystem</string>
				</array>
			</dict>
			<key>XPCService</key>
			<dict>
				<key>JoinExistingSession</key>
				<true/>
				<key>RunLoopType</key>
				<string>_NSApplicationMain</string>
				<key>ServiceType</key>
				<string>Application</string>
				<key>_AdditionalSubServices</key>
				<dict>
					<key>apple-extension-service</key>
					<true/>
					<key>viewbridge</key>
					<true/>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
