<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>maxAttachmentsPerNote</key>
	<integer>100</integer>
	<key>maxInlineAssetSizeBytes</key>
	<integer>102400</integer>
	<key>pollingIntervalSeconds</key>
	<integer>0</integer>
	<key>resultsLimitPerSyncOperation</key>
	<integer>50</integer>
	<key>throttlingPolicy</key>
	<array>
		<dict>
			<key>count</key>
			<integer>3</integer>
			<key>intervalSeconds</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>count</key>
			<integer>3</integer>
			<key>intervalSeconds</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>count</key>
			<integer>3</integer>
			<key>intervalSeconds</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>count</key>
			<integer>3</integer>
			<key>intervalSeconds</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>count</key>
			<integer>0</integer>
			<key>intervalSeconds</key>
			<integer>10</integer>
		</dict>
	</array>
	<key>throttlingPolicyResetIntervalSeconds</key>
	<string>60</string>
</dict>
</plist>
