<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>nora</key>
	<dict>
		<key>default</key>
		<true/>
		<key>name</key>
		<string>nora</string>
		<key>locale</key>
		<string>en-US</string>
		<key>gender</key>
		<string>female</string>
	</dict>
	<key>aaron</key>
	<dict>
		<key>default</key>
		<false/>
		<key>name</key>
		<string>aaron</string>
		<key>locale</key>
		<string>en-US</string>
		<key>gender</key>
		<string>male</string>
	</dict>
	<key>martha</key>
	<dict>
		<key>default</key>
		<true/>
		<key>name</key>
		<string>martha</string>
		<key>locale</key>
		<string>en-GB</string>
		<key>gender</key>
		<string>female</string>
	</dict>
	<key>arthur</key>
	<dict>
		<key>default</key>
		<false/>
		<key>name</key>
		<string>arthur</string>
		<key>locale</key>
		<string>en-GB</string>
		<key>gender</key>
		<string>male</string>
	</dict>
	<key>catherine</key>
	<dict>
		<key>default</key>
		<true/>
		<key>name</key>
		<string>catherine</string>
		<key>locale</key>
		<string>en-AU</string>
		<key>gender</key>
		<string>female</string>
	</dict>
	<key>gordon</key>
	<dict>
		<key>default</key>
		<false/>
		<key>name</key>
		<string>gordon</string>
		<key>locale</key>
		<string>en-AU</string>
		<key>gender</key>
		<string>male</string>
	</dict>
	<key>riya</key>
	<dict>
		<key>default</key>
		<true/>
		<key>name</key>
		<string>riya</string>
		<key>locale</key>
		<string>en-IN</string>
		<key>gender</key>
		<string>female</string>
	</dict>
	<key>akash</key>
	<dict>
		<key>default</key>
		<false/>
		<key>name</key>
		<string>akash</string>
		<key>locale</key>
		<string>en-IN</string>
		<key>gender</key>
		<string>male</string>
	</dict>
	<key>carmen</key>
	<dict>
		<key>default</key>
		<true/>
		<key>name</key>
		<string>carmen</string>
		<key>locale</key>
		<string>es-MX</string>
		<key>gender</key>
		<string>female</string>
	</dict>
	<key>angel</key>
	<dict>
		<key>default</key>
		<false/>
		<key>name</key>
		<string>angel</string>
		<key>locale</key>
		<string>es-MX</string>
		<key>gender</key>
		<string>male</string>
	</dict>
	<key>oren</key>
	<dict>
		<key>default</key>
		<true/>
		<key>name</key>
		<string>oren</string>
		<key>locale</key>
		<string>ja-JP</string>
		<key>gender</key>
		<string>female</string>
	</dict>
	<key>hattori</key>
	<dict>
		<key>default</key>
		<false/>
		<key>name</key>
		<string>hattori</string>
		<key>locale</key>
		<string>ja-JP</string>
		<key>gender</key>
		<string>male</string>
	</dict>
	<key>marie</key>
	<dict>
		<key>default</key>
		<true/>
		<key>name</key>
		<string>marie</string>
		<key>locale</key>
		<string>fr-FR</string>
		<key>gender</key>
		<string>female</string>
	</dict>
	<key>daniel</key>
	<dict>
		<key>default</key>
		<false/>
		<key>name</key>
		<string>daniel</string>
		<key>locale</key>
		<string>fr-FR</string>
		<key>gender</key>
		<string>male</string>
	</dict>
	<key>helena</key>
	<dict>
		<key>default</key>
		<true/>
		<key>name</key>
		<string>helena</string>
		<key>locale</key>
		<string>de-DE</string>
		<key>gender</key>
		<string>female</string>
	</dict>
	<key>martin</key>
	<dict>
		<key>default</key>
		<false/>
		<key>name</key>
		<string>martin</string>
		<key>locale</key>
		<string>de-DE</string>
		<key>gender</key>
		<string>male</string>
	</dict>
	<key>kayan</key>
	<dict>
		<key>default</key>
		<true/>
		<key>name</key>
		<string>kayan</string>
		<key>locale</key>
		<string>zh-HK</string>
		<key>gender</key>
		<string>female</string>
	</dict>
	<key>hoyin</key>
	<dict>
		<key>default</key>
		<false/>
		<key>name</key>
		<string>hoyin</string>
		<key>locale</key>
		<string>zh-HK</string>
		<key>gender</key>
		<string>male</string>
	</dict>
	<key>luisa</key>
	<dict>
		<key>default</key>
		<true/>
		<key>name</key>
		<string>luisa</string>
		<key>locale</key>
		<string>es-ES</string>
		<key>gender</key>
		<string>female</string>
	</dict>
	<key>vincent</key>
	<dict>
		<key>default</key>
		<false/>
		<key>name</key>
		<string>vincent</string>
		<key>locale</key>
		<string>es-ES</string>
		<key>gender</key>
		<string>male</string>
	</dict>
	<key>linfei</key>
	<dict>
		<key>default</key>
		<true/>
		<key>name</key>
		<string>linfei</string>
		<key>locale</key>
		<string>zh-CN</string>
		<key>gender</key>
		<string>female</string>
	</dict>
	<key>limu</key>
	<dict>
		<key>default</key>
		<false/>
		<key>name</key>
		<string>limu</string>
		<key>locale</key>
		<string>zh-CN</string>
		<key>gender</key>
		<string>male</string>
	</dict>
	<key>else</key>
	<dict>
		<key>default</key>
		<true/>
		<key>name</key>
		<string>else</string>
		<key>locale</key>
		<string>da-DK</string>
		<key>gender</key>
		<string>female</string>
	</dict>
	<key>jens</key>
	<dict>
		<key>default</key>
		<false/>
		<key>name</key>
		<string>jens</string>
		<key>locale</key>
		<string>da-DK</string>
		<key>gender</key>
		<string>male</string>
	</dict>
	<key>maeve</key>
	<dict>
		<key>default</key>
		<true/>
		<key>name</key>
		<string>maeve</string>
		<key>locale</key>
		<string>en-IE</string>
		<key>gender</key>
		<string>female</string>
	</dict>
	<key>aidan</key>
	<dict>
		<key>default</key>
		<false/>
		<key>name</key>
		<string>aidan</string>
		<key>locale</key>
		<string>en-IE</string>
		<key>gender</key>
		<string>male</string>
	</dict>
	<key>leona</key>
	<dict>
		<key>default</key>
		<true/>
		<key>name</key>
		<string>leona</string>
		<key>locale</key>
		<string>en-ZA</string>
		<key>gender</key>
		<string>female</string>
	</dict>
	<key>xander</key>
	<dict>
		<key>default</key>
		<false/>
		<key>name</key>
		<string>xander</string>
		<key>locale</key>
		<string>en-ZA</string>
		<key>gender</key>
		<string>male</string>
	</dict>
	<key>sophie</key>
	<dict>
		<key>default</key>
		<true/>
		<key>name</key>
		<string>sophie</string>
		<key>locale</key>
		<string>fr-CA</string>
		<key>gender</key>
		<string>female</string>
	</dict>
	<key>pierre</key>
	<dict>
		<key>default</key>
		<false/>
		<key>name</key>
		<string>pierre</string>
		<key>locale</key>
		<string>fr-CA</string>
		<key>gender</key>
		<string>male</string>
	</dict>
	<key>francesca</key>
	<dict>
		<key>default</key>
		<true/>
		<key>name</key>
		<string>francesca</string>
		<key>locale</key>
		<string>it-IT</string>
		<key>gender</key>
		<string>female</string>
	</dict>
	<key>paolo</key>
	<dict>
		<key>default</key>
		<false/>
		<key>name</key>
		<string>paolo</string>
		<key>locale</key>
		<string>it-IT</string>
		<key>gender</key>
		<string>male</string>
	</dict>
	<key>minji</key>
	<dict>
		<key>default</key>
		<true/>
		<key>name</key>
		<string>minji</string>
		<key>locale</key>
		<string>ko-KR</string>
		<key>gender</key>
		<string>female</string>
	</dict>
	<key>jinsoo</key>
	<dict>
		<key>default</key>
		<false/>
		<key>name</key>
		<string>jinsoo</string>
		<key>locale</key>
		<string>ko-KR</string>
		<key>gender</key>
		<string>male</string>
	</dict>
	<key>ingrid</key>
	<dict>
		<key>default</key>
		<true/>
		<key>name</key>
		<string>ingrid</string>
		<key>locale</key>
		<string>nb-NO</string>
		<key>gender</key>
		<string>female</string>
	</dict>
	<key>marius</key>
	<dict>
		<key>default</key>
		<false/>
		<key>name</key>
		<string>marius</string>
		<key>locale</key>
		<string>nb-NO</string>
		<key>gender</key>
		<string>male</string>
	</dict>
	<key>klaar</key>
	<dict>
		<key>default</key>
		<true/>
		<key>name</key>
		<string>klaar</string>
		<key>locale</key>
		<string>nl-NL</string>
		<key>gender</key>
		<string>female</string>
	</dict>
	<key>pieter</key>
	<dict>
		<key>default</key>
		<false/>
		<key>name</key>
		<string>pieter</string>
		<key>locale</key>
		<string>nl-NL</string>
		<key>gender</key>
		<string>male</string>
	</dict>
	<key>sandra</key>
	<dict>
		<key>default</key>
		<true/>
		<key>name</key>
		<string>sandra</string>
		<key>locale</key>
		<string>pt-BR</string>
		<key>gender</key>
		<string>female</string>
	</dict>
	<key>nando</key>
	<dict>
		<key>default</key>
		<false/>
		<key>name</key>
		<string>nando</string>
		<key>locale</key>
		<string>pt-BR</string>
		<key>gender</key>
		<string>male</string>
	</dict>
	<key>yelena</key>
	<dict>
		<key>default</key>
		<true/>
		<key>name</key>
		<string>yelena</string>
		<key>locale</key>
		<string>ru-RU</string>
		<key>gender</key>
		<string>female</string>
	</dict>
	<key>aleksei</key>
	<dict>
		<key>default</key>
		<false/>
		<key>name</key>
		<string>aleksei</string>
		<key>locale</key>
		<string>ru-RU</string>
		<key>gender</key>
		<string>male</string>
	</dict>
	<key>tilde</key>
	<dict>
		<key>default</key>
		<true/>
		<key>name</key>
		<string>tilde</string>
		<key>locale</key>
		<string>sv-SE</string>
		<key>gender</key>
		<string>female</string>
	</dict>
	<key>axel</key>
	<dict>
		<key>default</key>
		<false/>
		<key>name</key>
		<string>axel</string>
		<key>locale</key>
		<string>sv-SE</string>
		<key>gender</key>
		<string>male</string>
	</dict>
	<key>elif</key>
	<dict>
		<key>default</key>
		<true/>
		<key>name</key>
		<string>elif</string>
		<key>locale</key>
		<string>tr-TR</string>
		<key>gender</key>
		<string>female</string>
	</dict>
	<key>kaan</key>
	<dict>
		<key>default</key>
		<false/>
		<key>name</key>
		<string>kaan</string>
		<key>locale</key>
		<string>tr-TR</string>
		<key>gender</key>
		<string>male</string>
	</dict>
	<key>shufen</key>
	<dict>
		<key>default</key>
		<true/>
		<key>name</key>
		<string>shufen</string>
		<key>locale</key>
		<string>zh-TW</string>
		<key>gender</key>
		<string>female</string>
	</dict>
	<key>chenghan</key>
	<dict>
		<key>default</key>
		<false/>
		<key>name</key>
		<string>chenghan</string>
		<key>locale</key>
		<string>zh-TW</string>
		<key>gender</key>
		<string>male</string>
	</dict>
</dict>
</plist>
