<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>version</key>
	<integer>1</integer>
	<key>criteria</key>
	<array>
		<dict>
			<key>ROI</key>
			<dict>
				<key>positiveROIs</key>
				<array>
					<string>Beach</string>
				</array>
				<key>minimumNumberOfROIs</key>
				<integer>1</integer>
			</dict>
			<key>Scene</key>
			<dict>
				<key>positiveScenes</key>
				<array>
					<string>beach</string>
					<string>surfing</string>
					<string>surfboard</string>
					<string>mollusk</string>
					<string>shore</string>
					<string>sand</string>
					<string>skating</string>
					<string>lighthouse</string>
					<string>swimsuit</string>
					<string>chaise</string>
					<string>jetski</string>
					<string>windsurfing</string>
					<string>watersport</string>
					<string>barnacle</string>
					<string>sandcastle</string>
					<string>sunbathing</string>
				</array>
				<key>negativeScenes</key>
				<array>
					<string>snow</string>
					<string>blizzard</string>
					<string>snowball</string>
					<string>snowman</string>
					<string>snowmobile</string>
					<string>skiing</string>
					<string>winter_sport</string>
					<string>ski_boot</string>
					<string>snowshoe</string>
					<string>ski_equipment</string>
					<string>sledding</string>
					<string>snowboard</string>
					<string>snowboarding</string>
					<string>hiking</string>
					<string>canyon</string>
					<string>volcano</string>
					<string>cliff</string>
					<string>waterfall</string>
				</array>
				<key>minimumNumberOfPositiveScenes</key>
				<integer>1</integer>
				<key>minimumNumberOfNegativeScenes</key>
				<integer>1</integer>
				<key>minimumNumberOfAssetsWithPositiveScenes</key>
				<integer>2</integer>
				<key>minimumNumberOfAssetsWithNegativeScenes</key>
				<integer>4</integer>
			</dict>
			<key>Location</key>
			<dict>
				<key>excludeFrequentLocations</key>
				<true/>
			</dict>
			<key>Interestingness</key>
			<dict>
				<key>mustBeInteresting</key>
				<true/>
			</dict>
		</dict>
	</array>
</dict>
</plist>
