<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>version</key>
	<integer>1</integer>
	<key>criteria</key>
	<array>
		<dict>
			<key>People</key>
			<dict>
				<key>minimumNumberOfPeople</key>
				<integer>4</integer>
			</dict>
			<key>ROI</key>
			<dict>
				<key>positiveROIs</key>
				<array>
					<string>Beach</string>
				</array>
				<key>minimumNumberOfROIs</key>
				<integer>1</integer>
			</dict>
			<key>Scene</key>
			<dict>
				<key>positiveScenes</key>
				<array>
					<string>dancing</string>
					<string>speaker_music</string>
					<string>deejay</string>
					<string>cup</string>
					<string>beer</string>
					<string>cider</string>
					<string>nightclub</string>
					<string>bar</string>
					<string>tequila</string>
					<string>margarita</string>
					<string>martini</string>
					<string>white_wine</string>
					<string>red_wine</string>
					<string>wine_bottle</string>
					<string>sparkling_wine</string>
					<string>liquor</string>
					<string>cocktail</string>
					<string>wine</string>
				</array>
				<key>negativeScenes</key>
				<array>
					<string>Watersport</string>
					<string>Surfing</string>
					<string>Snow</string>
					<string>Blizzard</string>
					<string>Snowball</string>
					<string>Snowman</string>
					<string>Snowmobile</string>
					<string>Skiing</string>
					<string>Winter_Sport</string>
					<string>Ski_Boot</string>
					<string>Snowshoe</string>
					<string>Ski_Equipment</string>
					<string>Sledding</string>
					<string>Snowboard</string>
					<string>Snowboarding</string>
					<string>Hiking</string>
					<string>Canyon</string>
					<string>Volcano</string>
					<string>Cliff</string>
					<string>Waterfall</string>
				</array>
				<key>minimumNumberOfPositiveScenes</key>
				<integer>1</integer>
				<key>minimumNumberOfNegativeScenes</key>
				<integer>1</integer>
				<key>minimumNumberOfAssetsWithPositiveScenes</key>
				<integer>2</integer>
				<key>minimumNumberOfAssetsWithNegativeScenes</key>
				<integer>4</integer>
			</dict>
		</dict>
	</array>
</dict>
</plist>
