<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>version</key>
	<integer>1</integer>
	<key>criteria</key>
	<array>
		<dict>
			<key>POI</key>
			<dict>
				<key>negativePOIs</key>
				<array>
					<string>Shopping</string>
				</array>
			</dict>
			<key>Scene</key>
			<dict>
				<key>positiveScenes</key>
				<array>
					<string>graduation</string>
					<string>disco_ball</string>
					<string>ceremony</string>
					<string>wedding</string>
				</array>
				<key>minimumNumberOfPositiveScenes</key>
				<integer>1</integer>
				<key>minimumNumberOfAssetsWithPositiveScenes</key>
				<integer>10</integer>
			</dict>
			<key>People</key>
			<dict>
				<key>minimumNumberOfPeople</key>
				<integer>4</integer>
			</dict>
			<key>Duration</key>
			<dict>
				<key>includeRoutineVisitsInDuration</key>
				<true/>
				<key>minimumDuration</key>
				<integer>10800</integer>
			</dict>
			<key>Interestingness</key>
			<dict>
				<key>mustBeInteresting</key>
				<true/>
			</dict>
		</dict>
	</array>
</dict>
</plist>
