<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>version</key>
	<integer>1</integer>
	<key>criteria</key>
	<array>
		<dict>
			<key>POI</key>
			<dict>
				<key>positivePOIs</key>
				<array>
					<string>Nightlife</string>
					<string>Restaurant</string>
				</array>
				<key>minimumNumberOfPOIs</key>
				<integer>1</integer>
			</dict>
			<key>Scene</key>
			<dict>
				<key>positiveScenes</key>
				<array>
					<string>restaurant</string>
					<string>food</string>
				</array>
				<key>negativeScenes</key>
				<array>
					<string>aquarium</string>
					<string>underwater</string>
				</array>
				<key>minimumNumberOfPositiveScenes</key>
				<integer>1</integer>
				<key>minimumNumberOfNegativeScenes</key>
				<integer>1</integer>
				<key>minimumNumberOfAssetsWithPositiveScenes</key>
				<integer>2</integer>
				<key>accumulateAssetCountsWithPositiveScenes</key>
				<true/>
			</dict>
			<key>PartsOfDay</key>
			<dict>
				<key>positiveSignificantPartsOfDay</key>
				<array>
					<string>Evening</string>
					<string>Night</string>
				</array>
				<key>negativeSignificantPartsOfDay</key>
				<array>
					<string>Morning</string>
					<string>Noon</string>
				</array>
			</dict>
			<key>Duration</key>
			<dict>
				<key>includeRoutineVisitsInDuration</key>
				<true/>
				<key>minimumDuration</key>
				<real>2400</real>
			</dict>
		</dict>
		<dict>
			<key>POI</key>
			<dict>
				<key>positivePOIs</key>
				<array>
					<string>Nightlife</string>
					<string>Restaurant</string>
				</array>
				<key>minimumNumberOfPOIs</key>
				<integer>1</integer>
			</dict>
			<key>Scene</key>
			<dict>
				<key>positiveScenes</key>
				<array>
					<string>Restaurant</string>
					<string>Food</string>
				</array>
				<key>negativeScenes</key>
				<array>
					<string>Aquarium</string>
					<string>Underwater</string>
				</array>
				<key>minimumNumberOfPositiveScenes</key>
				<integer>1</integer>
				<key>minimumNumberOfNegativeScenes</key>
				<integer>1</integer>
				<key>minimumNumberOfAssetsWithPositiveScenes</key>
				<integer>7</integer>
				<key>accumulateAssetCountsWithPositiveScenes</key>
				<true/>
			</dict>
			<key>PartsOfDay</key>
			<dict>
				<key>positiveSignificantPartsOfDay</key>
				<array>
					<string>Evening</string>
					<string>Night</string>
				</array>
				<key>negativeSignificantPartsOfDay</key>
				<array>
					<string>Morning</string>
					<string>Noon</string>
				</array>
			</dict>
			<key>Duration</key>
			<dict>
				<key>includeRoutineVisitsInDuration</key>
				<true/>
				<key>minimumDuration</key>
				<integer>600</integer>
			</dict>
		</dict>
		<dict>
			<key>Scene</key>
			<dict>
				<key>positiveScenes</key>
				<array>
					<string>Restaurant</string>
					<string>Food</string>
					<string>Plate</string>
					<string>Chopsticks</string>
					<string>Drinking_Glass</string>
					<string>Mug</string>
					<string>Spoon</string>
					<string>Bowl</string>
					<string>Cup</string>
					<string>Cakestand</string>
					<string>Fork</string>
					<string>Wine</string>
					<string>Wine_Bottle</string>
					<string>Tableware</string>
				</array>
				<key>negativeScenes</key>
				<array>
					<string>Aquarium</string>
					<string>Underwater</string>
				</array>
				<key>minimumNumberOfPositiveScenes</key>
				<integer>2</integer>
				<key>minimumNumberOfNegativeScenes</key>
				<integer>1</integer>
				<key>minimumNumberOfAssetsWithPositiveScenes</key>
				<integer>7</integer>
				<key>accumulateAssetCountsWithPositiveScenes</key>
				<true/>
			</dict>
			<key>Location</key>
			<dict>
				<key>excludeHomeWorkLocations</key>
				<true/>
			</dict>
			<key>PartsOfDay</key>
			<dict>
				<key>positiveSignificantPartsOfDay</key>
				<array>
					<string>Evening</string>
					<string>Night</string>
				</array>
				<key>negativeSignificantPartsOfDay</key>
				<array>
					<string>Morning</string>
					<string>Noon</string>
				</array>
			</dict>
			<key>Interestingness</key>
			<dict>
				<key>mustBeInteresting</key>
				<true/>
			</dict>
			<key>Duration</key>
			<dict>
				<key>includeRoutineVisitsInDuration</key>
				<true/>
				<key>minimumDuration</key>
				<integer>1200</integer>
			</dict>
		</dict>
	</array>
</dict>
</plist>
