<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>version</key>
	<integer>1</integer>
	<key>criteria</key>
	<array>
		<dict>
			<key>PublicEvent</key>
			<dict>
				<key>publicEventCategory</key>
				<string>festivalsAndFairs</string>
			</dict>
		</dict>
		<dict>
			<key>Scene</key>
			<dict>
				<key>positiveScenes</key>
				<array>
					<string>concert</string>
					<string>singer</string>
					<string>deejay</string>
					<string>orchestra</string>
					<string>musical_instrument</string>
					<string>speakers_music</string>
					<string>microphone</string>
				</array>
				<key>minimumNumberOfPositiveScenes</key>
				<integer>1</integer>
				<key>minimumNumberOfAssetsWithPositiveScenes</key>
				<integer>10</integer>
			</dict>
			<key>Location</key>
			<dict>
				<key>excludeHomeWorkLocations</key>
				<true/>
			</dict>
			<key>Duration</key>
			<dict>
				<key>includeRoutineVisitsInDuration</key>
				<true/>
				<key>minimumDuration</key>
				<integer>57600</integer>
			</dict>
		</dict>
	</array>
</dict>
</plist>
