<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Camping</string>
	<string>CoffeeBreak</string>
	<string>CulturalEducation</string>
	<string>Fishing</string>
	<string>Hunting</string>
	<string>Nightclubing</string>
	<string>OutdoorMeal</string>
	<string>Playground</string>
	<string>Sailing</string>
	<string>Shopping</string>
	<string>Surfing</string>
	<string>WorkingOut</string>
	<string>BeachPartying</string>
	<string>BeachWalking</string>
	<string>PetWalking</string>
	<string>SunBathing</string>
	<string>ChildPlaytime</string>
	<string>Dating</string>
	<string>FoodWithChild</string>
	<string>Gaming</string>
	<string>Graduation</string>
	<string>HomeMeal</string>
	<string>HouseParty</string>
	<string>PlayingInstrument</string>
	<string>Reading</string>
	<string>SelfCaring</string>
	<string>WatchingTV</string>
	<string>Watersport</string>
	<string>Working</string>
	<string>WorkingFromHome</string>
</array>
</plist>
