<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>version</key>
	<integer>1</integer>
	<key>criteria</key>
	<array>
		<dict>
			<key>PublicEvent</key>
			<dict>
				<key>publicEventCategory</key>
				<string>artsAndMuseums</string>
			</dict>
		</dict>
		<dict>
			<key>POI</key>
			<dict>
				<key>positivePOIs</key>
				<array>
					<string>Museum</string>
					<string>Culture</string>
				</array>
				<key>minimumNumberOfPOIs</key>
				<integer>1</integer>
			</dict>
			<key>Scene</key>
			<dict>
				<key>positiveScenes</key>
				<array>
					<string>illustrations</string>
					<string>painting</string>
					<string>museum</string>
				</array>
				<key>negativeScenes</key>
				<array>
					<string>food</string>
				</array>
				<key>minimumNumberOfPositiveScenes</key>
				<integer>1</integer>
				<key>minimumNumberOfAssetsWithPositiveScenes</key>
				<integer>12</integer>
				<key>minimumNumberOfAssetsWithNegativeScenes</key>
				<integer>6</integer>
				<key>accumulateAssetCountsWithPositiveScenes</key>
				<true/>
			</dict>
			<key>PartsOfDay</key>
			<dict>
				<key>positiveSignificantPartsOfDay</key>
				<array>
					<string>Morning</string>
					<string>Noon</string>
					<string>Afternoon</string>
				</array>
			</dict>
			<key>Location</key>
			<dict>
				<key>excludeHomeWorkLocations</key>
				<true/>
			</dict>
			<key>Duration</key>
			<dict>
				<key>includeRoutineVisitsInDuration</key>
				<true/>
				<key>minimumDuration</key>
				<integer>3600</integer>
			</dict>
		</dict>
	</array>
</dict>
</plist>
