<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>version</key>
	<integer>1</integer>
	<key>criteria</key>
	<array>
		<dict>
			<key>PublicEvent</key>
			<dict>
				<key>publicEventCategory</key>
				<string>nightLife</string>
			</dict>
			<key>PartsOfDay</key>
			<dict>
				<key>positiveSignificantPartsOfDay</key>
				<array>
					<string>Night</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>POI</key>
			<dict>
				<key>positivePOIs</key>
				<array>
					<string>Nightlife</string>
					<string>Restaurant</string>
				</array>
				<key>minimumNumberOfPOIs</key>
				<integer>1</integer>
			</dict>
			<key>Scene</key>
			<dict>
				<key>positiveScenes</key>
				<array>
					<string>beer</string>
					<string>cider</string>
					<string>nightclub</string>
					<string>bar</string>
					<string>tequila</string>
					<string>margarita</string>
					<string>martini</string>
					<string>white_wine</string>
					<string>red_wine</string>
					<string>wine_bottle</string>
					<string>sparkling_wine</string>
					<string>liquor</string>
					<string>cocktail</string>
					<string>wine</string>
				</array>
				<key>minimumNumberOfPositiveScenes</key>
				<integer>1</integer>
				<key>minimumNumberOfAssetsWithPositiveScenes</key>
				<integer>2</integer>
			</dict>
			<key>Location</key>
			<dict>
				<key>excludeHomeWorkLocations</key>
				<true/>
			</dict>
			<key>PartsOfDay</key>
			<dict>
				<key>positiveSignificantPartsOfDay</key>
				<array>
					<string>Evening</string>
					<string>Night</string>
					<string>Morning</string>
				</array>
				<key>negativeSignificantPartsOfDay</key>
				<array>
					<string>Noon</string>
					<string>Afternoon</string>
				</array>
			</dict>
			<key>Duration</key>
			<dict>
				<key>includeRoutineVisitsInDuration</key>
				<true/>
				<key>minimumDuration</key>
				<integer>10800</integer>
			</dict>
			<key>Interestingness</key>
			<dict>
				<key>mustBeInteresting</key>
				<true/>
			</dict>
		</dict>
		<dict>
			<key>Scene</key>
			<dict>
				<key>positiveScenes</key>
				<array>
					<string>Beer</string>
					<string>Cider</string>
					<string>Nightclub</string>
					<string>Bar</string>
					<string>Tequila</string>
					<string>Margarita</string>
					<string>Martini</string>
					<string>White_Wine</string>
					<string>Red_Wine</string>
					<string>Wine_Bottle</string>
					<string>Sparkling_Wine</string>
					<string>Liquor</string>
					<string>Cocktail</string>
					<string>Wine</string>
				</array>
				<key>minimumNumberOfPositiveScenes</key>
				<integer>1</integer>
				<key>minimumNumberOfAssetsWithPositiveScenes</key>
				<integer>10</integer>
			</dict>
			<key>Location</key>
			<dict>
				<key>excludeHomeWorkLocations</key>
				<true/>
			</dict>
			<key>PartsOfDay</key>
			<dict>
				<key>positiveSignificantPartsOfDay</key>
				<array>
					<string>Evening</string>
					<string>Night</string>
					<string>Morning</string>
				</array>
				<key>negativeSignificantPartsOfDay</key>
				<array>
					<string>Noon</string>
					<string>Afternoon</string>
				</array>
			</dict>
			<key>Duration</key>
			<dict>
				<key>includeRoutineVisitsInDuration</key>
				<true/>
				<key>minimumDuration</key>
				<integer>10800</integer>
			</dict>
			<key>Interestingness</key>
			<dict>
				<key>mustBeInteresting</key>
				<true/>
			</dict>
		</dict>
		<dict>
			<key>POI</key>
			<dict>
				<key>positivePOIs</key>
				<array>
					<string>Nightlife</string>
					<string>Restaurant</string>
				</array>
				<key>minimumNumberOfPOIs</key>
				<integer>1</integer>
			</dict>
			<key>Scene</key>
			<dict>
				<key>positiveScenes</key>
				<array>
					<string>Beer</string>
					<string>Cider</string>
					<string>Nightclub</string>
					<string>Bar</string>
					<string>Tequila</string>
					<string>Margarita</string>
					<string>Martini</string>
					<string>White_Wine</string>
					<string>Red_Wine</string>
					<string>Wine_Bottle</string>
					<string>Sparkling_Wine</string>
					<string>Liquor</string>
					<string>Cocktail</string>
					<string>Wine</string>
				</array>
				<key>minimumNumberOfPositiveScenes</key>
				<integer>1</integer>
				<key>minimumNumberOfAssetsWithPositiveScenes</key>
				<integer>5</integer>
			</dict>
			<key>Location</key>
			<dict>
				<key>excludeHomeWorkLocations</key>
				<true/>
			</dict>
			<key>PartsOfDay</key>
			<dict>
				<key>positiveSignificantPartsOfDay</key>
				<array>
					<string>Evening</string>
					<string>Night</string>
					<string>Morning</string>
				</array>
				<key>negativeSignificantPartsOfDay</key>
				<array>
					<string>Noon</string>
					<string>Afternoon</string>
				</array>
			</dict>
			<key>Duration</key>
			<dict>
				<key>includeRoutineVisitsInDuration</key>
				<true/>
				<key>minimumDuration</key>
				<integer>1800</integer>
			</dict>
			<key>Interestingness</key>
			<dict>
				<key>mustBeInteresting</key>
				<true/>
			</dict>
		</dict>
	</array>
</dict>
</plist>
