<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>criteria</key>
	<array>
		<dict>
			<key>Action</key>
			<dict>
				<key>actionName</key>
				<string>playing_on_a_swing</string>
				<key>actionValue</key>
				<integer>18</integer>
				<key>confidenceF1</key>
				<real>0.495</real>
				<key>confidenceHighPrecisionThreshold</key>
				<real>0.55</real>
				<key>confidenceHighRecallThreshold</key>
				<real>0.42</real>
			</dict>
			<key>Scene</key>
			<dict>
				<key>positiveScenes</key>
				<array>
					<string>swing_playground</string>
				</array>
				<key>minimumNumberOfPositiveScenes</key>
				<integer>1</integer>
				<key>minimumNumberOfAssetsWithPositiveScenes</key>
				<integer>1</integer>
				<key>negativeScenes</key>
				<array>
					<string>carousel</string>
				</array>
				<key>minimumNumberOfNegativeScenes</key>
				<integer>1</integer>
				<key>minimumNumberOfAssetsWithNegativeScenes</key>
				<integer>1</integer>
			</dict>
			<key>People</key>
			<dict>
				<key>minimumNumberOfPeople</key>
				<integer>1</integer>
			</dict>
		</dict>
	</array>
	<key>version</key>
	<integer>1</integer>
</dict>
</plist>
