<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>PersonToys</string>
	<string>PersonBeachWater</string>
	<string>PersonPlayground</string>
	<string>PersonSoccer</string>
	<string>PersonMartialArts</string>
	<string>PersonActionSwimming</string>
	<string>PersonActionPlayingOnASwing</string>
	<string>PersonActionPlayingOnASlide</string>
	<string>PersonActionHugging</string>
	<string>PersonActionKissing</string>
</array>
</plist>
