<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>version</key>
	<integer>1</integer>
	<key>criteria</key>
	<array>
		<dict>
			<key>PublicEvent</key>
			<dict>
				<key>publicEventCategory</key>
				<string>sports</string>
			</dict>
		</dict>
		<dict>
			<key>POI</key>
			<dict>
				<key>positivePOIs</key>
				<array>
					<string>Entertainment</string>
					<string>Stadium</string>
					<string>Park</string>
				</array>
				<key>minimumNumberOfPOIs</key>
				<integer>1</integer>
				<key>maximumParkDiameter</key>
				<integer>4000</integer>
			</dict>
			<key>Scene</key>
			<dict>
				<key>positiveScenes</key>
				<array>
					<string>sumo</string>
					<string>badminton</string>
					<string>softball</string>
					<string>soccer</string>
					<string>cricket_sport</string>
					<string>rugby</string>
					<string>scoreboard</string>
					<string>tennis</string>
					<string>cheerleading</string>
					<string>polo</string>
					<string>hockey</string>
					<string>football</string>
					<string>grand_prix</string>
					<string>jockey_horse</string>
					<string>wrestling</string>
					<string>baseball</string>
					<string>motorsport</string>
					<string>basketball</string>
					<string>rink</string>
					<string>arena</string>
					<string>motocross</string>
					<string>stadium</string>
					<string>ballgames</string>
				</array>
				<key>negativeScenes</key>
				<array>
					<string>amusement_park</string>
					<string>graduation</string>
				</array>
				<key>minimumNumberOfPositiveScenes</key>
				<integer>1</integer>
			</dict>
			<key>People</key>
			<dict>
				<key>minimumNumberOfPeople</key>
				<integer>2</integer>
			</dict>
			<key>Location</key>
			<dict>
				<key>excludeHomeWorkLocations</key>
				<true/>
			</dict>
		</dict>
	</array>
</dict>
</plist>
