<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>version</key>
	<integer>1</integer>
	<key>criteria</key>
	<array>
		<dict>
			<key>Scene</key>
			<dict>
				<key>positiveScenes</key>
				<array>
					<string>wedding</string>
					<string>wedding_dress</string>
					<string>bride</string>
					<string>groom</string>
					<string>bridesmaid</string>
				</array>
				<key>minimumNumberOfPositiveScenes</key>
				<integer>2</integer>
				<key>minimumNumberOfAssetsWithPositiveScenes</key>
				<integer>5</integer>
			</dict>
			<key>PartsOfDay</key>
			<dict>
				<key>positivePartsOfDay</key>
				<array>
					<string>Noon</string>
					<string>Afternoon</string>
					<string>Evening</string>
				</array>
			</dict>
			<key>People</key>
			<dict>
				<key>minimumNumberOfPeople</key>
				<integer>10</integer>
			</dict>
			<key>Location</key>
			<dict>
				<key>excludeHomeWorkLocations</key>
				<true/>
			</dict>
			<key>Duration</key>
			<dict>
				<key>includeRoutineVisitsInDuration</key>
				<true/>
				<key>minimumDuration</key>
				<integer>12600</integer>
			</dict>
			<key>Interestingness</key>
			<dict>
				<key>mustBeInteresting</key>
				<true/>
			</dict>
		</dict>
		<dict>
			<key>POI</key>
			<dict>
				<key>negativePOIs</key>
				<array>
					<string>Shopping</string>
				</array>
			</dict>
			<key>Scene</key>
			<dict>
				<key>positiveScenes</key>
				<array>
					<string>wedding</string>
					<string>wedding_dress</string>
					<string>bride</string>
					<string>groom</string>
					<string>bridesmaid</string>
				</array>
				<key>minimumNumberOfPositiveScenes</key>
				<integer>1</integer>
				<key>minimumNumberOfAssetsWithPositiveScenes</key>
				<integer>18</integer>
			</dict>
			<key>PartsOfDay</key>
			<dict>
				<key>positivePartsOfDay</key>
				<array>
					<string>Noon</string>
					<string>Afternoon</string>
					<string>Evening</string>
				</array>
			</dict>
			<key>People</key>
			<dict>
				<key>minimumNumberOfPeople</key>
				<integer>30</integer>
			</dict>
			<key>Location</key>
			<dict>
				<key>excludeHomeWorkLocations</key>
				<true/>
			</dict>
			<key>Duration</key>
			<dict>
				<key>includeRoutineVisitsInDuration</key>
				<true/>
				<key>minimumDuration</key>
				<integer>3600</integer>
			</dict>
			<key>Interestingness</key>
			<dict>
				<key>mustBeInteresting</key>
				<true/>
			</dict>
		</dict>
	</array>
</dict>
</plist>
