<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>😁</key>
	<string>PositiveEmoji</string>
	<key>😀</key>
	<string>PositiveEmoji</string>
	<key>😃</key>
	<string>PositiveEmoji</string>
	<key>😄</key>
	<string>PositiveEmoji</string>
	<key>😆</key>
	<string>PositiveEmoji</string>
	<key>😅</key>
	<string>PositiveEmoji</string>
	<key>😂</key>
	<string>PositiveEmoji</string>
	<key>🤣</key>
	<string>PositiveEmoji</string>
	<key>🙂</key>
	<string>PositiveEmoji</string>
	<key>🙃</key>
	<string>PositiveEmoji</string>
	<key>😉</key>
	<string>PositiveEmoji</string>
	<key>😊</key>
	<string>PositiveEmoji</string>
	<key>😇</key>
	<string>PositiveEmoji</string>
	<key>😍</key>
	<string>PositiveEmoji</string>
	<key>🤩</key>
	<string>PositiveEmoji</string>
	<key>😘</key>
	<string>PositiveEmoji</string>
	<key>😗</key>
	<string>PositiveEmoji</string>
	<key>☺️</key>
	<string>PositiveEmoji</string>
	<key>😙</key>
	<string>PositiveEmoji</string>
	<key>😚</key>
	<string>PositiveEmoji</string>
	<key>😋</key>
	<string>PositiveEmoji</string>
	<key>😛</key>
	<string>PositiveEmoji</string>
	<key>😝</key>
	<string>PositiveEmoji</string>
	<key>😜</key>
	<string>PositiveEmoji</string>
	<key>🤪</key>
	<string>PositiveEmoji</string>
	<key>🤑</key>
	<string>PositiveEmoji</string>
	<key>🤗</key>
	<string>PositiveEmoji</string>
	<key>😌</key>
	<string>PositiveEmoji</string>
	<key>🤠</key>
	<string>PositiveEmoji</string>
	<key>🥳</key>
	<string>PositiveEmoji</string>
	<key>😎</key>
	<string>PositiveEmoji</string>
	<key>🤓</key>
	<string>PositiveEmoji</string>
	<key>😺</key>
	<string>PositiveEmoji</string>
	<key>😸</key>
	<string>PositiveEmoji</string>
	<key>😹</key>
	<string>PositiveEmoji</string>
	<key>😻</key>
	<string>PositiveEmoji</string>
	<key>❤️</key>
	<string>PositiveEmoji</string>
	<key>🧡</key>
	<string>PositiveEmoji</string>
	<key>💛</key>
	<string>PositiveEmoji</string>
	<key>💚</key>
	<string>PositiveEmoji</string>
	<key>💙</key>
	<string>PositiveEmoji</string>
	<key>💜</key>
	<string>PositiveEmoji</string>
	<key>❣️</key>
	<string>PositiveEmoji</string>
	<key>💕</key>
	<string>PositiveEmoji</string>
	<key>💞</key>
	<string>PositiveEmoji</string>
	<key>💓</key>
	<string>PositiveEmoji</string>
	<key>💗</key>
	<string>PositiveEmoji</string>
	<key>👍</key>
	<string>PositiveEmoji</string>
	<key>👍🏻</key>
	<string>PositiveEmoji</string>
	<key>👍🏼</key>
	<string>PositiveEmoji</string>
	<key>👍🏽</key>
	<string>PositiveEmoji</string>
	<key>👍🏾</key>
	<string>PositiveEmoji</string>
	<key>👍🏿</key>
	<string>PositiveEmoji</string>
	<key>👏</key>
	<string>PositiveEmoji</string>
	<key>👏🏻</key>
	<string>PositiveEmoji</string>
	<key>👏🏼</key>
	<string>PositiveEmoji</string>
	<key>👏🏽</key>
	<string>PositiveEmoji</string>
	<key>👏🏾</key>
	<string>PositiveEmoji</string>
	<key>👏🏿</key>
	<string>PositiveEmoji</string>
	<key>🙏</key>
	<string>PositiveEmoji</string>
	<key>🙏🏻</key>
	<string>PositiveEmoji</string>
	<key>🙏🏼</key>
	<string>PositiveEmoji</string>
	<key>🙏🏽</key>
	<string>PositiveEmoji</string>
	<key>🙏🏾</key>
	<string>PositiveEmoji</string>
	<key>🙏🏿</key>
	<string>PositiveEmoji</string>
	<key>👌</key>
	<string>PositiveEmoji</string>
	<key>👌🏻</key>
	<string>PositiveEmoji</string>
	<key>👌🏼</key>
	<string>PositiveEmoji</string>
	<key>👌🏽</key>
	<string>PositiveEmoji</string>
	<key>👌🏾</key>
	<string>PositiveEmoji</string>
	<key>👌🏿</key>
	<string>PositiveEmoji</string>
	<key>🎉</key>
	<string>PositiveEmoji</string>
	<key>🎊</key>
	<string>PositiveEmoji</string>
	<key>🎈</key>
	<string>PositiveEmoji</string>
	<key>🔥</key>
	<string>PositiveEmoji</string>
	<key>😩</key>
	<string>SadEmoji</string>
	<key>😟</key>
	<string>SadEmoji</string>
	<key>🙁</key>
	<string>SadEmoji</string>
	<key>☹️</key>
	<string>SadEmoji</string>
	<key>😢</key>
	<string>SadEmoji</string>
	<key>😭</key>
	<string>SadEmoji</string>
	<key>😿</key>
	<string>SadEmoji</string>
	<key>😔</key>
	<string>SadEmoji</string>
	<key>💔</key>
	<string>SadEmoji</string>
	<key>🖤</key>
	<string>SadEmoji</string>
	<key>😡</key>
	<string>AngerEmoji</string>
	<key>😤</key>
	<string>AngerEmoji</string>
	<key>😠</key>
	<string>AngerEmoji</string>
	<key>🤬</key>
	<string>AngerEmoji</string>
	<key>😣</key>
	<string>AngerEmoji</string>
	<key>😖</key>
	<string>AngerEmoji</string>
	<key>👿</key>
	<string>AngerEmoji</string>
	<key>😾</key>
	<string>AngerEmoji</string>
	<key>🤨</key>
	<string>AngerEmoji</string>
	<key>😒</key>
	<string>AngerEmoji</string>
	<key>🙄</key>
	<string>AngerEmoji</string>
	<key>😐</key>
	<string>AngerEmoji</string>
	<key>😑</key>
	<string>AngerEmoji</string>
	<key>💢</key>
	<string>AngerEmoji</string>
	<key>💥</key>
	<string>AngerEmoji</string>
	<key>👎</key>
	<string>AngerEmoji</string>
	<key>👎🏻</key>
	<string>AngerEmoji</string>
	<key>👎🏼</key>
	<string>AngerEmoji</string>
	<key>👎🏽</key>
	<string>AngerEmoji</string>
	<key>👎🏾</key>
	<string>AngerEmoji</string>
	<key>👎🏿</key>
	<string>AngerEmoji</string>
	<key>😬</key>
	<string>AnxietyEmoji</string>
	<key>😮</key>
	<string>AnxietyEmoji</string>
	<key>😲</key>
	<string>AnxietyEmoji</string>
	<key>😳</key>
	<string>AnxietyEmoji</string>
	<key>😨</key>
	<string>AnxietyEmoji</string>
	<key>😰</key>
	<string>AnxietyEmoji</string>
	<key>😓</key>
	<string>AnxietyEmoji</string>
	<key>🙀</key>
	<string>AnxietyEmoji</string>
	<key>😱</key>
	<string>AnxietyEmoji</string>
	<key>😴</key>
	<string>LowEnergyEmoji</string>
	<key>💤</key>
	<string>LowEnergyEmoji</string>
	<key>😪</key>
	<string>LowEnergyEmoji</string>
	<key>😵</key>
	<string>LowEnergyEmoji</string>
	<key>🥱</key>
	<string>LowEnergyEmoji</string>
	<key>😷</key>
	<string>FeelEmoji</string>
	<key>🤒</key>
	<string>FeelEmoji</string>
	<key>🤕</key>
	<string>FeelEmoji</string>
	<key>🤢</key>
	<string>FeelEmoji</string>
	<key>🤮</key>
	<string>FeelEmoji</string>
	<key>🤧</key>
	<string>FeelEmoji</string>
	<key>🥵</key>
	<string>FeelEmoji</string>
	<key>🥶</key>
	<string>FeelEmoji</string>
	<key>🥴</key>
	<string>FeelEmoji</string>
	<key>😕</key>
	<string>ConfusedEmoji</string>
	<key>🤔</key>
	<string>ConfusedEmoji</string>
	<key>🧐</key>
	<string>ConfusedEmoji</string>
</dict>
</plist>
