<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Keys</key>
	<array>
		<string>U</string>
		<string>H</string>
		<string>G</string>
		<string>M</string>
		<string>A</string>
		<string>R</string>
		<string>N</string>
		<string>C</string>
		<string>T</string>
		<string>D</string>
		<string>I</string>
		<string>O</string>
	</array>
	<key>Names</key>
	<array>
		<string>kb-candidate-group-facemark-recent</string>
		<string>(^_^)</string>
		<string>(^o^)/</string>
		<string>(^_^)v</string>
		<string>(ᵔᴥᵔ)</string>
		<string>(-_-)</string>
		<string>(O_o)</string>
		<string>(T_T)</string>
		<string>(._.)</string>
		<string>★彡</string>
		<string>(笑)</string>
		<string>:)</string>
	</array>
</dict>
</plist>
