<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeyboardNames</key>
	<dict>
		<key>2SetHangul</key>
		<dict>
			<key>MatchedModes</key>
			<array>
				<string>ko_KR</string>
			</array>
		</dict>
		<key>Arabic</key>
		<dict>
			<key>MatchedModes</key>
			<array>
				<string>ar</string>
				<string>ars</string>
			</array>
		</dict>
		<key>British</key>
		<dict>
			<key>MatchedModes</key>
			<array>
				<string>en_GB</string>
				<string>ga_IE</string>
			</array>
		</dict>
		<key>Bulgarian</key>
		<dict>
			<key>MatchedModes</key>
			<array>
				<string>bg_BG</string>
			</array>
			<key>SWLayoutsForHW</key>
			<dict>
				<key>bg_BG</key>
				<string>Bulgarian-Standard</string>
			</dict>
			<key>DefaultHWLayouts</key>
			<dict>
				<key>bg_BG</key>
				<string>Bulgarian</string>
			</dict>
			<key>HWLayoutsForSWVariants</key>
			<dict>
				<key>Bulgarian-Standard</key>
				<string>Bulgarian</string>
				<key>Bulgarian</key>
				<string>Bulgarian - Phonetic</string>
			</dict>
		</dict>
		<key>Canadian - CSA</key>
		<dict>
			<key>MatchedModes</key>
			<array>
				<string>fr_CA</string>
			</array>
		</dict>
		<key>Croatian</key>
		<dict>
			<key>MatchedModes</key>
			<array>
				<string>hr_HR</string>
				<string>sl_SI</string>
			</array>
		</dict>
		<key>Czech</key>
		<dict>
			<key>MatchedModes</key>
			<array>
				<string>cs_CZ</string>
			</array>
		</dict>
		<key>Danish</key>
		<dict>
			<key>MatchedModes</key>
			<array>
				<string>da_DK</string>
			</array>
		</dict>
		<key>Dutch</key>
		<dict>
			<key>MatchedModes</key>
			<array>
				<string>nl_NL</string>
			</array>
		</dict>
		<key>French</key>
		<dict>
			<key>MatchedModes</key>
			<array>
				<string>fr_FR</string>
				<string>fr_BE</string>
				<string>nl_BE</string>
			</array>
		</dict>
		<key>German</key>
		<dict>
			<key>MatchedModes</key>
			<array>
				<string>de_DE</string>
				<string>de_AT</string>
			</array>
		</dict>
		<key>Greek</key>
		<dict>
			<key>MatchedModes</key>
			<array>
				<string>el_GR</string>
			</array>
		</dict>
		<key>Hebrew</key>
		<dict>
			<key>MatchedModes</key>
			<array>
				<string>he_IL</string>
			</array>
		</dict>
		<key>Hungarian</key>
		<dict>
			<key>MatchedModes</key>
			<array>
				<string>hu_HU</string>
			</array>
		</dict>
		<key>Icelandic</key>
		<dict>
			<key>MatchedModes</key>
			<array>
				<string>is_IS</string>
			</array>
		</dict>
		<key>Italian - Pro</key>
		<dict>
			<key>MatchedModes</key>
			<array>
				<string>it_IT</string>
			</array>
		</dict>
		<key>Japanese Keyboard</key>
		<dict>
			<key>MatchedModes</key>
			<array>
				<string>ja_JP-Romaji</string>
				<string>en_JP</string>
				<string>ja_JP-Kana</string>
			</array>
		</dict>
		<key>Latin America</key>
		<dict>
			<key>MatchedModes</key>
			<array>
				<string>es_419</string>
				<string>es_MX</string>
			</array>
		</dict>
		<key>Norwegian</key>
		<dict>
			<key>MatchedModes</key>
			<array>
				<string>nb_NO</string>
				<string>nn</string>
			</array>
		</dict>
		<key>Portuguese</key>
		<dict>
			<key>MatchedModes</key>
			<array>
				<string>pt_PT</string>
			</array>
		</dict>
		<key>Romanian</key>
		<dict>
			<key>MatchedModes</key>
			<array>
				<string>ro_RO</string>
			</array>
		</dict>
		<key>Russian</key>
		<dict>
			<key>MatchedModes</key>
			<array>
				<string>ru_RU</string>
			</array>
		</dict>
		<key>Simplified Chinese Keyboard</key>
		<dict>
			<key>MatchedModes</key>
			<array>
				<string>zh_Hans-Pinyin</string>
				<string>yue_Hant-Cangjie</string>
				<string>yue_Hant-Sucheng</string>
				<string>yue_Hant-Wubihua</string>
				<string>zh_Hans-Shuangpin</string>
				<string>zh_Hans-Wubihua</string>
				<string>zh_Hant-Cangjie</string>
				<string>zh_Hant-Pinyin</string>
				<string>zh_Hant-Shuangpin</string>
				<string>zh_Hant-Sucheng</string>
				<string>zh_Hant-Wubihua</string>
			</array>
		</dict>
		<key>Slovak</key>
		<dict>
			<key>MatchedModes</key>
			<array>
				<string>sk_SK</string>
			</array>
		</dict>
		<key>Spanish - ISO</key>
		<dict>
			<key>MatchedModes</key>
			<array>
				<string>es_ES</string>
				<string>ca_ES</string>
				<string>es_MX</string>
				<string>es_419</string>
			</array>
		</dict>
		<key>Swedish - Pro</key>
		<dict>
			<key>MatchedModes</key>
			<array>
				<string>sv_SE</string>
				<string>et_EE</string>
				<string>fi_FI</string>
			</array>
		</dict>
		<key>Swiss Multilingual Keyboard</key>
		<dict>
			<key>MatchedModes</key>
			<array>
				<string>de_CH</string>
				<string>fr_CH</string>
			</array>
		</dict>
		<key>Thai</key>
		<dict>
			<key>MatchedModes</key>
			<array>
				<string>th_TH</string>
			</array>
		</dict>
		<key>Turkish</key>
		<dict>
			<key>MatchedModes</key>
			<array>
				<string>tr_TR</string>
			</array>
			<key>SWLayoutsForHW</key>
			<dict>
				<key>tr_TR</key>
				<string>Turkish-F</string>
			</dict>
			<key>DefaultHWLayouts</key>
			<dict>
				<key>tr_TR</key>
				<string>Turkish</string>
			</dict>
		</dict>
		<key>Turkish-QWERTY-PC</key>
		<dict>
			<key>MatchedModes</key>
			<array>
				<string>tr_TR</string>
			</array>
			<key>SWLayoutsForHW</key>
			<dict>
				<key>tr_TR</key>
				<string>Turkish-Q</string>
			</dict>
			<key>DefaultHWLayouts</key>
			<dict>
				<key>tr_TR</key>
				<string>Turkish-QWERTY-PC</string>
			</dict>
		</dict>
		<key>Turkish-Standard</key>
		<dict>
			<key>MatchedModes</key>
			<array>
				<string>tr_TR</string>
			</array>
			<key>SWLayoutsForHW</key>
			<dict>
				<key>tr_TR</key>
				<string>Turkish-F</string>
			</dict>
			<key>DefaultHWLayouts</key>
			<dict>
				<key>tr_TR</key>
				<string>Turkish-Standard</string>
			</dict>
		</dict>
		<key>Ukrainian</key>
		<dict>
			<key>MatchedModes</key>
			<array>
				<string>uk_UA</string>
			</array>
		</dict>
		<key>U.S.</key>
		<dict>
			<key>MatchedModes</key>
			<array>
				<string>en_US</string>
				<string>en_AU</string>
				<string>en_CA</string>
				<string>en_JP</string>
				<string>en_IN</string>
				<string>en_SG</string>
				<string>es_419</string>
				<string>hi_Latn</string>
				<string>id_ID</string>
				<string>ja_JP-Kana</string>
				<string>ja_JP-Romaji</string>
				<string>ms_MY</string>
				<string>pl_PL</string>
				<string>pt_BR</string>
				<string>vi_VN-Telex</string>
				<string>vi_VN-VIQR</string>
				<string>vi_VN-VNI</string>
				<string>yue_Hant-Cangjie</string>
				<string>yue_Hant-Sucheng</string>
				<string>yue_Hant-Wubihua</string>
				<string>zh_Hans-Pinyin</string>
				<string>zh_Hans-Shuangpin</string>
				<string>zh_Hans-Wubihua</string>
				<string>zh_Hant-Cangjie</string>
				<string>zh_Hant-Pinyin</string>
				<string>zh_Hant-Shuangpin</string>
				<string>zh_Hant-Sucheng</string>
				<string>zh_Hant-Wubihua</string>
				<string>zh_Hant-Zhuyin</string>
			</array>
		</dict>
		<key>US</key>
		<dict>
			<key>MatchedModes</key>
			<array>
				<string>en_US</string>
				<string>en_AU</string>
				<string>en_CA</string>
				<string>en_JP</string>
				<string>en_IN</string>
				<string>en_SG</string>
				<string>es_419</string>
				<string>hi_Latn</string>
				<string>id_ID</string>
				<string>ja_JP-Kana</string>
				<string>ja_JP-Romaji</string>
				<string>ms_MY</string>
				<string>pl_PL</string>
				<string>pt_BR</string>
				<string>vi_VN-Telex</string>
				<string>vi_VN-VIQR</string>
				<string>vi_VN-VNI</string>
				<string>yue_Hant-Cangjie</string>
				<string>yue_Hant-Sucheng</string>
				<string>yue_Hant-Wubihua</string>
				<string>zh_Hans-Pinyin</string>
				<string>zh_Hans-Shuangpin</string>
				<string>zh_Hans-Wubihua</string>
				<string>zh_Hant-Cangjie</string>
				<string>zh_Hant-Pinyin</string>
				<string>zh_Hant-Shuangpin</string>
				<string>zh_Hant-Sucheng</string>
				<string>zh_Hant-Wubihua</string>
				<string>zh_Hant-Zhuyin</string>
			</array>
		</dict>
		<key>US International Keyboard</key>
		<dict>
			<key>MatchedModes</key>
			<array>
				<string>en_US</string>
				<string>en_GB</string>
				<string>pl_PL</string>
			</array>
		</dict>
		<key>Zhuyin Bopomofo</key>
		<dict>
			<key>MatchedModes</key>
			<array>
				<string>zh_Hant-Zhuyin</string>
				<string>zh_TW</string>
			</array>
		</dict>
	</dict>
	<key>USBCountryCodeMap</key>
	<dict>
		<key>1</key>
		<string>Arabic</string>
		<key>2</key>
		<string>French</string>
		<key>4</key>
		<string>Canadian - CSA</string>
		<key>5</key>
		<string>Czech</string>
		<key>6</key>
		<string>Danish</string>
		<key>7</key>
		<string>Swedish - Pro</string>
		<key>8</key>
		<string>French</string>
		<key>9</key>
		<string>German</string>
		<key>10</key>
		<string>Greek</string>
		<key>11</key>
		<string>Hebrew</string>
		<key>12</key>
		<string>Hungarian</string>
		<key>13</key>
		<string>US International Keyboard</string>
		<key>14</key>
		<string>Italian - Pro</string>
		<key>15</key>
		<string>Japanese Keyboard</string>
		<key>16</key>
		<string>2SetHangul</string>
		<key>18</key>
		<string>Dutch</string>
		<key>19</key>
		<string>Norwegian</string>
		<key>21</key>
		<string>US International Keyboard</string>
		<key>22</key>
		<string>Portuguese</string>
		<key>23</key>
		<string>Russian</string>
		<key>24</key>
		<string>Slovak</string>
		<key>25</key>
		<string>Spanish - ISO</string>
		<key>26</key>
		<string>Swedish - Pro</string>
		<key>27</key>
		<string>Swiss Multilingual Keyboard</string>
		<key>28</key>
		<string>Swiss Multilingual Keyboard</string>
		<key>30</key>
		<string>Zhuyin Bopomofo</string>
		<key>31</key>
		<string>Turkish-QWERTY-PC</string>
		<key>32</key>
		<string>British</string>
		<key>33</key>
		<string>U.S.</string>
		<key>34</key>
		<string>Croatian</string>
		<key>35</key>
		<string>Turkish-Standard</string>
		<key>247</key>
		<string>Latin America</string>
		<key>248</key>
		<string>Icelandic</string>
		<key>250</key>
		<string>Thai</string>
		<key>252</key>
		<string>Romanian</string>
		<key>253</key>
		<string>Bulgarian</string>
		<key>254</key>
		<string>Simplified Chinese Keyboard</string>
	</dict>
</dict>
</plist>
