<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "https://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Roman-Accent-!</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>¡ !</string>
		<key>Strings</key>
		<string>¡ !</string>
	</dict>
	<key>Roman-Accent-"</key>
	<dict>
		<key>Direction</key>
		<string>strictly-left</string>
		<key>Keycaps</key>
		<string>” “ „ » « "</string>
		<key>Strings</key>
		<string>” “ „ » « "</string>
	</dict>
	<key>Roman-Accent-%</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>‰ %</string>
		<key>Strings</key>
		<string>‰ %</string>
	</dict>
	<key>Roman-Accent-&amp;</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>§ &amp;</string>
		<key>Strings</key>
		<string>§ &amp;</string>
	</dict>
	<key>Roman-Accent-'</key>
	<dict>
		<key>Direction</key>
		<string>left</string>
		<key>Keycaps</key>
		<string>’ ‘ ` '</string>
		<key>Strings</key>
		<string>’ ‘ ` '</string>
	</dict>
	<key>Roman-Accent-,!</key>
	<dict>
		<key>Direction</key>
		<string>left</string>
		<key>Keycaps</key>
		<string>' ¡</string>
		<key>Strings</key>
		<string>' ¡</string>
	</dict>
	<key>Roman-Accent--</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>– — • -</string>
		<key>Strings</key>
		<string>– — • -</string>
	</dict>
	<key>Roman-Accent-.</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>… .</string>
		<key>Strings</key>
		<string>… .</string>
	</dict>
	<key>Roman-Accent-.?</key>
	<dict>
		<key>Direction</key>
		<string>left</string>
		<key>Keycaps</key>
		<string>" … ¿</string>
		<key>Strings</key>
		<string>" … ¿</string>
	</dict>
	<key>Roman-Accent-0</key>
	<dict>
		<key>Direction</key>
		<string>left</string>
		<key>Keycaps</key>
		<string>° 0</string>
		<key>Strings</key>
		<string>° 0</string>
	</dict>
	<key>Roman-Accent-?</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>¿ ?</string>
		<key>Strings</key>
		<string>¿ ?</string>
	</dict>
	<key>Roman-Accent-«</key>
	<dict>
		<key>Direction</key>
		<string>left</string>
		<key>Keycaps</key>
		<string>" “ „ ' «</string>
		<key>Strings</key>
		<string>" “ „ ' «</string>
	</dict>
	<key>Roman-Accent-»</key>
	<dict>
		<key>Direction</key>
		<string>left</string>
		<key>Keycaps</key>
		<string>" ” ' »</string>
		<key>Strings</key>
		<string>" ” ' »</string>
	</dict>
	<key>Roman-Accent-/</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>\ /</string>
		<key>Strings</key>
		<string>\ /</string>
	</dict>
	<key>Roman-Accent-1!</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>!</string>
		<key>Strings</key>
		<string>!</string>
	</dict>
	<key>Roman-Accent-2@</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>@</string>
		<key>Strings</key>
		<string>@</string>
	</dict>
	<key>Roman-Accent-3#</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>#</string>
		<key>Strings</key>
		<string>#</string>
	</dict>
	<key>Roman-Accent-4$</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>$</string>
		<key>Strings</key>
		<string>$</string>
	</dict>
	<key>Roman-Accent-5%</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>%</string>
		<key>Strings</key>
		<string>%</string>
	</dict>
	<key>Roman-Accent-6^</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>^</string>
		<key>Strings</key>
		<string>^</string>
	</dict>
	<key>Roman-Accent-7&amp;</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>&amp;</string>
		<key>Strings</key>
		<string>&amp;</string>
	</dict>
	<key>Roman-Accent-8*</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>*</string>
		<key>Strings</key>
		<string>*</string>
	</dict>
	<key>Roman-Accent-9(</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>(</string>
		<key>Strings</key>
		<string>(</string>
	</dict>
	<key>Roman-Accent-0)</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>)</string>
		<key>Strings</key>
		<string>)</string>
	</dict>
	<key>Roman-Accent--_</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>_</string>
		<key>Strings</key>
		<string>_</string>
	</dict>
	<key>Roman-Accent-=+</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>+</string>
		<key>Strings</key>
		<string>+</string>
	</dict>
	<key>Roman-Accent-[{</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>{</string>
		<key>Strings</key>
		<string>{</string>
	</dict>
	<key>Roman-Accent-]}</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>}</string>
		<key>Strings</key>
		<string>}</string>
	</dict>
	<key>Roman-Accent-\|</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>|</string>
		<key>Strings</key>
		<string>|</string>
	</dict>
	<key>Roman-Accent-;:</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>:</string>
		<key>Strings</key>
		<string>:</string>
	</dict>
	<key>Roman-Accent-&apos;&quot;</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>&quot;</string>
		<key>Strings</key>
		<string>&quot;</string>
	</dict>
	<key>Roman-Accent-,&lt;</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>&lt;</string>
		<key>Strings</key>
		<string>&lt;</string>
	</dict>
	<key>Roman-Accent-.&gt;</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>&gt;</string>
		<key>Strings</key>
		<string>&gt;</string>
	</dict>
	<key>Roman-Accent-/?</key>
	<dict>
		<key>Direction</key>
		<string>right</string>
		<key>Keycaps</key>
		<string>?</string>
		<key>Strings</key>
		<string>?</string>
	</dict>
    <key>Roman-Accent-=</key>
    <dict>
        <key>Direction</key>
        <string>strictly-left</string>
        <key>Keycaps</key>
        <string>= ≠ ≈</string>
        <key>Strings</key>
        <string>= ≠ ≈</string>
    </dict>
	<key>UI-abc</key>
	<string>abc</string>
	<key>UI-ABC</key>
	<string>ABC</string>
	<key>UI-AlternateTagSymbol</key>
	<string>#</string>
	<key>UI-Buy</key>
	<string>buy</string>
	<key>UI-Cancel</key>
	<string>cancel</string>
	<key>UI-Clear</key>
	<string>clear</string>
	<key>UI-Confirm</key>
	<string>confirm</string>
	<key>UI-Currency-$</key>
	<dict>
		<key>Direction</key>
		<string>left</string>
		<key>Keycaps</key>
		<string>$ € £ ¥ ₩ ₽</string>
		<key>Strings</key>
		<string>$ € £ ¥ ₩ ₽</string>
	</dict>
	<key>UI-Currency-₹</key>
	<dict>
		<key>Direction</key>
		<string>left</string>
		<key>Keycaps</key>
		<string>₹ $ € £ ¥ ₩ ₽</string>
		<key>Strings</key>
		<string>₹ $ € £ ¥ ₩ ₽</string>
	</dict>
	<key>UI-Currency-£</key>
	<dict>
		<key>Direction</key>
		<string>left</string>
		<key>Keycaps</key>
		<string>£ € $ ¥ ₩ ₽</string>
		<key>Strings</key>
		<string>£ € $ ¥ ₩ ₽</string>
	</dict>
	<key>UI-Currency-¥</key>
	<dict>
		<key>Direction</key>
		<string>left</string>
		<key>Keycaps</key>
		<string>¥ $ € £ ₩ ₽ ￥ ＄</string>
		<key>Strings</key>
		<string>¥ $ € £ ₩ ₽ ￥ ＄</string>
	</dict>
	<key>UI-Currency-฿</key>
	<dict>
		<key>Direction</key>
		<string>left</string>
		<key>Keycaps</key>
		<string>฿ $ € £ ¥ ₽</string>
		<key>Strings</key>
		<string>฿ $ € £ ¥ ₽</string>
	</dict>
	<key>UI-Currency-₱</key>
	<dict>
		<key>Direction</key>
		<string>left</string>
		<key>Keycaps</key>
		<string>₱ $ € £ ¥ ₽</string>
		<key>Strings</key>
		<string>₱ $ € £ ¥ ₽</string>
	</dict>
	<key>UI-Currency-₩</key>
	<dict>
		<key>Direction</key>
		<string>left</string>
		<key>Keycaps</key>
		<string>₩ $ € ¥ £ ₽</string>
		<key>Strings</key>
		<string>₩ $ € ¥ £ ₽</string>
	</dict>
	<key>UI-Currency-€</key>
	<dict>
		<key>Direction</key>
		<string>left</string>
		<key>Keycaps</key>
		<string>€ $ £ ¥ ₩ ₽</string>
		<key>Strings</key>
		<string>€ $ £ ¥ ₩ ₽</string>
	</dict>
	<key>UI-Currency-₽</key>
	<dict>
		<key>Direction</key>
		<string>left</string>
		<key>Keycaps</key>
		<string>₽ $ € £ ¥ ₩</string>
		<key>Strings</key>
		<string>₽ $ € £ ¥ ₩</string>
	</dict>
	<key>UI-Currency-＄</key>
	<dict>
		<key>Direction</key>
		<string>left</string>
		<key>Keycaps</key>
		<string>＄ € £ ¥ ₩ ₽</string>
		<key>Strings</key>
		<string>＄ € £ ¥ ₩ ₽</string>
	</dict>
	<key>UI-Currency-kr</key>
	<dict>
		<key>Direction</key>
		<string>left</string>
		<key>Keycaps</key>
		<string>kr € $ £ ¥ ₩ ₽</string>
		<key>Strings</key>
		<string>kr € $ £ ¥ ₩ ₽</string>
	</dict>
	<key>UI-DefaultLocaleNumericID</key>
	<string>latn</string>
	<key>UI-Delete</key>
	<string>delete</string>
	<key>UI-Shift</key>
	<string>shift</string>
	<key>UI-Tab</key>
	<string>tab</string>
	<key>UI-Caps-Lock</key>
	<string>caps lock</string>
	<key>UI-Done</key>
	<string>done</string>
	<key>UI-EmergencyCall</key>
	<string>Emergency Call</string>
	<key>UI-Go</key>
	<string>go</string>
	<key>UI-Join</key>
	<string>join</string>
	<key>UI-Next</key>
	<string>next</string>
	<key>UI-Select-First-Candidate</key>
	<string>next</string>
	<key>UI-Select-Next-Candidate</key>
	<string>next</string>
	<key>UI-Select-Previous-Candidate</key>
	<string>previous</string>
	<key>UI-NextPage</key>
	<string>next page</string>
	<key>UI-Numbers</key>
	<string>123</string>
	<key>UI-NumbersSymbols</key>
	<string>.?123</string>
	<key>UI-PrimaryTagSymbol</key>
	<string>@</string>
	<key>UI-Recents</key>
	<string>Recent</string>
	<key>UI-Redo</key>
	<string>redo</string>
	<key>UI-Return</key>
	<string>return</string>
	<key>UI-Route</key>
	<string>route</string>
	<key>UI-Search</key>
	<string>search</string>
	<key>UI-Send</key>
	<string>send</string>
	<key>UI-Space</key>
	<string>space</string>
	<key>UI-TopLevelDomain</key>
	<dict>
		<key>Direction</key>
		<string>left</string>
		<key>Keycaps</key>
		<string>.com .org .edu .net</string>
		<key>Strings</key>
		<string>.com .org .edu .net</string>
	</dict>
	<key>UI-Undo</key>
	<string>undo</string>
	<key>UI-Cut</key>
	<string>cut</string>
	<key>UI-Copy</key>
	<string>copy</string>
	<key>UI-Paste</key>
	<string>paste</string>
</dict>
</plist>
