<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constants&apos;</key>
	<string>absolutistWord</string>
	<key>def</key>
	<string>absolutistWord</string>
	<key>fulls&apos;</key>
	<string>absolutistWord</string>
	<key>definitely</key>
	<string>absolutistWord</string>
	<key>must&apos;s</key>
	<string>absolutistWord</string>
	<key>wholes</key>
	<string>absolutistWord</string>
	<key>completer</key>
	<string>absolutistWord</string>
	<key>fuller</key>
	<string>absolutistWord</string>
	<key>all</key>
	<string>absolutistWord</string>
	<key>entire&apos;s</key>
	<string>absolutistWord</string>
	<key>nuthin&apos;</key>
	<string>absolutistWord</string>
	<key>entire</key>
	<string>absolutistWord</string>
	<key>nuthin</key>
	<string>absolutistWord</string>
	<key>never</key>
	<string>absolutistWord</string>
	<key>completed</key>
	<string>absolutistWord</string>
	<key>full</key>
	<string>absolutistWord</string>
	<key>ne&apos;er</key>
	<string>absolutistWord</string>
	<key>entires&apos;</key>
	<string>absolutistWord</string>
	<key>all&apos;s</key>
	<string>absolutistWord</string>
	<key>completely</key>
	<string>absolutistWord</string>
	<key>nothings</key>
	<string>absolutistWord</string>
	<key>fulled</key>
	<string>absolutistWord</string>
	<key>nothings&apos;</key>
	<string>absolutistWord</string>
	<key>complete</key>
	<string>absolutistWord</string>
	<key>completes</key>
	<string>absolutistWord</string>
	<key>nothing</key>
	<string>absolutistWord</string>
	<key>alls&apos;</key>
	<string>absolutistWord</string>
	<key>ever</key>
	<string>absolutistWord</string>
	<key>whole</key>
	<string>absolutistWord</string>
	<key>constantly</key>
	<string>absolutistWord</string>
	<key>fullest</key>
	<string>absolutistWord</string>
	<key>constant&apos;s</key>
	<string>absolutistWord</string>
	<key>completest</key>
	<string>absolutistWord</string>
	<key>wholes&apos;</key>
	<string>absolutistWord</string>
	<key>whole&apos;s</key>
	<string>absolutistWord</string>
	<key>absol.</key>
	<string>absolutistWord</string>
	<key>everyone&apos;s</key>
	<string>absolutistWord</string>
	<key>absolutely</key>
	<string>absolutistWord</string>
	<key>always</key>
	<string>absolutistWord</string>
	<key>full&apos;s</key>
	<string>absolutistWord</string>
	<key>completing</key>
	<string>absolutistWord</string>
	<key>constants</key>
	<string>absolutistWord</string>
	<key>musts&apos;</key>
	<string>absolutistWord</string>
	<key>fulling</key>
	<string>absolutistWord</string>
	<key>everyone</key>
	<string>absolutistWord</string>
	<key>must</key>
	<string>absolutistWord</string>
	<key>nothin&apos;</key>
	<string>absolutistWord</string>
	<key>entires</key>
	<string>absolutistWord</string>
	<key>everything&apos;s</key>
	<string>absolutistWord</string>
	<key>musts</key>
	<string>absolutistWord</string>
	<key>everything</key>
	<string>absolutistWord</string>
	<key>nothin</key>
	<string>absolutistWord</string>
	<key>constant</key>
	<string>absolutistWord</string>
	<key>nothing&apos;s</key>
	<string>absolutistWord</string>
	<key>alls</key>
	<string>absolutistWord</string>
	<key>fulls</key>
	<string>absolutistWord</string>
	<key>totally</key>
	<string>absolutistWord</string>
	<key>grief</key>
	<string>downWord</string>
	<key>tear</key>
	<string>downWord</string>
	<key>breaking</key>
	<string>downWord</string>
	<key>empties&apos;</key>
	<string>downWord</string>
	<key>desolation&apos;s</key>
	<string>downWord</string>
	<key>alone</key>
	<string>downWord</string>
	<key>heartache</key>
	<string>downWord</string>
	<key>hollow</key>
	<string>downWord</string>
	<key>unhappy</key>
	<string>downWord</string>
	<key>depressions&apos;</key>
	<string>downWord</string>
	<key>sorriest</key>
	<string>downWord</string>
	<key>helpless</key>
	<string>downWord</string>
	<key>friendless</key>
	<string>downWord</string>
	<key>solitudes</key>
	<string>downWord</string>
	<key>empties</key>
	<string>downWord</string>
	<key>shy&apos;s</key>
	<string>downWord</string>
	<key>shies</key>
	<string>downWord</string>
	<key>isolate&apos;s</key>
	<string>downWord</string>
	<key>desolations&apos;</key>
	<string>downWord</string>
	<key>emptying</key>
	<string>downWord</string>
	<key>cries</key>
	<string>downWord</string>
	<key>desolation</key>
	<string>downWord</string>
	<key>losses&apos;</key>
	<string>downWord</string>
	<key>missed</key>
	<string>downWord</string>
	<key>alienations&apos;</key>
	<string>downWord</string>
	<key>torn</key>
	<string>downWord</string>
	<key>secludes</key>
	<string>downWord</string>
	<key>nobody&apos;s</key>
	<string>downWord</string>
	<key>hollowest</key>
	<string>downWord</string>
	<key>cries&apos;</key>
	<string>downWord</string>
	<key>hollowing</key>
	<string>downWord</string>
	<key>solitary</key>
	<string>downWord</string>
	<key>disconnects&apos;</key>
	<string>downWord</string>
	<key>disconnect</key>
	<string>downWord</string>
	<key>tears</key>
	<string>downWord</string>
	<key>lose</key>
	<string>downWord</string>
	<key>heartache&apos;s</key>
	<string>downWord</string>
	<key>losses</key>
	<string>downWord</string>
	<key>solitudes&apos;</key>
	<string>downWord</string>
	<key>unhappier</key>
	<string>downWord</string>
	<key>sad</key>
	<string>downWord</string>
	<key>alienation</key>
	<string>downWord</string>
	<key>solitude&apos;s</key>
	<string>downWord</string>
	<key>saddest</key>
	<string>downWord</string>
	<key>depression</key>
	<string>downWord</string>
	<key>lonelier</key>
	<string>downWord</string>
	<key>lonelinesses</key>
	<string>downWord</string>
	<key>depression&apos;s</key>
	<string>downWord</string>
	<key>unhappiest</key>
	<string>downWord</string>
	<key>loneliness&apos;s</key>
	<string>downWord</string>
	<key>lost</key>
	<string>downWord</string>
	<key>heartaches&apos;</key>
	<string>downWord</string>
	<key>hollows&apos;</key>
	<string>downWord</string>
	<key>loss</key>
	<string>downWord</string>
	<key>miserable</key>
	<string>downWord</string>
	<key>crying</key>
	<string>downWord</string>
	<key>shy</key>
	<string>downWord</string>
	<key>rejecting</key>
	<string>downWord</string>
	<key>isolating</key>
	<string>downWord</string>
	<key>broken</key>
	<string>downWord</string>
	<key>seclude</key>
	<string>downWord</string>
	<key>griefs&apos;</key>
	<string>downWord</string>
	<key>disconnecting</key>
	<string>downWord</string>
	<key>darkness</key>
	<string>downWord</string>
	<key>griefs</key>
	<string>downWord</string>
	<key>sadder</key>
	<string>downWord</string>
	<key>lonesome</key>
	<string>downWord</string>
	<key>secluded</key>
	<string>downWord</string>
	<key>hollow&apos;s</key>
	<string>downWord</string>
	<key>depressed</key>
	<string>downWord</string>
	<key>devastating</key>
	<string>downWord</string>
	<key>loneliness</key>
	<string>downWord</string>
	<key>grief&apos;s</key>
	<string>downWord</string>
	<key>darkness&apos;s</key>
	<string>downWord</string>
	<key>missing</key>
	<string>downWord</string>
	<key>darknesses</key>
	<string>downWord</string>
	<key>shies&apos;</key>
	<string>downWord</string>
	<key>shying</key>
	<string>downWord</string>
	<key>break&apos;s</key>
	<string>downWord</string>
	<key>nobodies&apos;</key>
	<string>downWord</string>
	<key>depressions</key>
	<string>downWord</string>
	<key>isolated</key>
	<string>downWord</string>
	<key>solitude</key>
	<string>downWord</string>
	<key>secluding</key>
	<string>downWord</string>
	<key>hollowed</key>
	<string>downWord</string>
	<key>disconnected</key>
	<string>downWord</string>
	<key>nobodies</key>
	<string>downWord</string>
	<key>rejects</key>
	<string>downWord</string>
	<key>desolations</key>
	<string>downWord</string>
	<key>misses</key>
	<string>downWord</string>
	<key>nobody</key>
	<string>downWord</string>
	<key>alienation&apos;s</key>
	<string>downWord</string>
	<key>withdrawn</key>
	<string>downWord</string>
	<key>reject</key>
	<string>downWord</string>
	<key>empty</key>
	<string>downWord</string>
	<key>unwanted</key>
	<string>downWord</string>
	<key>miss&apos;s</key>
	<string>downWord</string>
	<key>lonely</key>
	<string>downWord</string>
	<key>disconnects</key>
	<string>downWord</string>
	<key>hollower</key>
	<string>downWord</string>
	<key>loses</key>
	<string>downWord</string>
	<key>emptier</key>
	<string>downWord</string>
	<key>shyest</key>
	<string>downWord</string>
	<key>rejected</key>
	<string>downWord</string>
	<key>darknesses&apos;</key>
	<string>downWord</string>
	<key>solitaries&apos;</key>
	<string>downWord</string>
	<key>tore</key>
	<string>downWord</string>
	<key>miss</key>
	<string>downWord</string>
	<key>solitary&apos;s</key>
	<string>downWord</string>
	<key>devastate</key>
	<string>downWord</string>
	<key>emptiest</key>
	<string>downWord</string>
	<key>isolates</key>
	<string>downWord</string>
	<key>shyer</key>
	<string>downWord</string>
	<key>tear&apos;s</key>
	<string>downWord</string>
	<key>tearing</key>
	<string>downWord</string>
	<key>reject&apos;s</key>
	<string>downWord</string>
	<key>breaks&apos;</key>
	<string>downWord</string>
	<key>solitaries</key>
	<string>downWord</string>
	<key>devastates</key>
	<string>downWord</string>
	<key>alienations</key>
	<string>downWord</string>
	<key>isolate</key>
	<string>downWord</string>
	<key>worthless</key>
	<string>downWord</string>
	<key>disconnect&apos;s</key>
	<string>downWord</string>
	<key>broke</key>
	<string>downWord</string>
	<key>empty&apos;s</key>
	<string>downWord</string>
	<key>misses&apos;</key>
	<string>downWord</string>
	<key>sorrier</key>
	<string>downWord</string>
	<key>rejects&apos;</key>
	<string>downWord</string>
	<key>losing</key>
	<string>downWord</string>
	<key>breaks</key>
	<string>downWord</string>
	<key>hollows</key>
	<string>downWord</string>
	<key>heartaches</key>
	<string>downWord</string>
	<key>isolates&apos;</key>
	<string>downWord</string>
	<key>loneliest</key>
	<string>downWord</string>
	<key>devastated</key>
	<string>downWord</string>
	<key>break</key>
	<string>downWord</string>
	<key>emptied</key>
	<string>downWord</string>
	<key>hopeless</key>
	<string>downWord</string>
	<key>sorry</key>
	<string>downWord</string>
	<key>cry</key>
	<string>downWord</string>
	<key>disappointed</key>
	<string>downWord</string>
	<key>cry&apos;s</key>
	<string>downWord</string>
	<key>loss&apos;s</key>
	<string>downWord</string>
	<key>cried</key>
	<string>downWord</string>
	<key>shied</key>
	<string>downWord</string>
	<key>tears&apos;</key>
	<string>downWord</string>
	<key>lonelinesses&apos;</key>
	<string>downWord</string>
	<key>end</key>
	<string>deathWord</string>
	<key>deceased</key>
	<string>deathWord</string>
	<key>obliterations&apos;</key>
	<string>deathWord</string>
	<key>burying</key>
	<string>deathWord</string>
	<key>graving</key>
	<string>deathWord</string>
	<key>bereavements&apos;</key>
	<string>deathWord</string>
	<key>death</key>
	<string>deathWord</string>
	<key>drowned</key>
	<string>deathWord</string>
	<key>exterminates</key>
	<string>deathWord</string>
	<key>buries</key>
	<string>deathWord</string>
	<key>coffins&apos;</key>
	<string>deathWord</string>
	<key>ruin&apos;s</key>
	<string>deathWord</string>
	<key>necroses</key>
	<string>deathWord</string>
	<key>graved</key>
	<string>deathWord</string>
	<key>bury</key>
	<string>deathWord</string>
	<key>downfalls&apos;</key>
	<string>deathWord</string>
	<key>drowning</key>
	<string>deathWord</string>
	<key>ruined</key>
	<string>deathWord</string>
	<key>casualty&apos;s</key>
	<string>deathWord</string>
	<key>annihilation&apos;s</key>
	<string>deathWord</string>
	<key>mortalities</key>
	<string>deathWord</string>
	<key>necrosis</key>
	<string>deathWord</string>
	<key>downfalls</key>
	<string>deathWord</string>
	<key>mortalities&apos;</key>
	<string>deathWord</string>
	<key>buried</key>
	<string>deathWord</string>
	<key>mortality&apos;s</key>
	<string>deathWord</string>
	<key>annihilation</key>
	<string>deathWord</string>
	<key>oblivions</key>
	<string>deathWord</string>
	<key>obliterates</key>
	<string>deathWord</string>
	<key>terminations&apos;</key>
	<string>deathWord</string>
	<key>ends</key>
	<string>deathWord</string>
	<key>tombs</key>
	<string>deathWord</string>
	<key>destructions</key>
	<string>deathWord</string>
	<key>eradications&apos;</key>
	<string>deathWord</string>
	<key>drowning&apos;s</key>
	<string>deathWord</string>
	<key>downfall&apos;s</key>
	<string>deathWord</string>
	<key>casualties&apos;</key>
	<string>deathWord</string>
	<key>die</key>
	<string>deathWord</string>
	<key>dead</key>
	<string>deathWord</string>
	<key>graven</key>
	<string>deathWord</string>
	<key>euthanasias&apos;</key>
	<string>deathWord</string>
	<key>oblivion</key>
	<string>deathWord</string>
	<key>kills&apos;</key>
	<string>deathWord</string>
	<key>coffin&apos;s</key>
	<string>deathWord</string>
	<key>death&apos;s</key>
	<string>deathWord</string>
	<key>dying</key>
	<string>deathWord</string>
	<key>eradication&apos;s</key>
	<string>deathWord</string>
	<key>oblivions&apos;</key>
	<string>deathWord</string>
	<key>euthanasia</key>
	<string>deathWord</string>
	<key>destruction&apos;s</key>
	<string>deathWord</string>
	<key>exterminated</key>
	<string>deathWord</string>
	<key>deaths</key>
	<string>deathWord</string>
	<key>drown</key>
	<string>deathWord</string>
	<key>coffin</key>
	<string>deathWord</string>
	<key>expired</key>
	<string>deathWord</string>
	<key>coffined</key>
	<string>deathWord</string>
	<key>ruinations&apos;</key>
	<string>deathWord</string>
	<key>killed</key>
	<string>deathWord</string>
	<key>decease&apos;s</key>
	<string>deathWord</string>
	<key>bereavement</key>
	<string>deathWord</string>
	<key>kills</key>
	<string>deathWord</string>
	<key>destructions&apos;</key>
	<string>deathWord</string>
	<key>expires</key>
	<string>deathWord</string>
	<key>expiring</key>
	<string>deathWord</string>
	<key>ruins&apos;</key>
	<string>deathWord</string>
	<key>tomb&apos;s</key>
	<string>deathWord</string>
	<key>necrosis&apos;s</key>
	<string>deathWord</string>
	<key>tombs&apos;</key>
	<string>deathWord</string>
	<key>ruination</key>
	<string>deathWord</string>
	<key>demises</key>
	<string>deathWord</string>
	<key>deceasing</key>
	<string>deathWord</string>
	<key>graves</key>
	<string>deathWord</string>
	<key>drownings&apos;</key>
	<string>deathWord</string>
	<key>graver</key>
	<string>deathWord</string>
	<key>graves&apos;</key>
	<string>deathWord</string>
	<key>dies</key>
	<string>deathWord</string>
	<key>end&apos;s</key>
	<string>deathWord</string>
	<key>ending&apos;s</key>
	<string>deathWord</string>
	<key>obliterated</key>
	<string>deathWord</string>
	<key>kill&apos;s</key>
	<string>deathWord</string>
	<key>dies&apos;</key>
	<string>deathWord</string>
	<key>fatal</key>
	<string>deathWord</string>
	<key>mortality</key>
	<string>deathWord</string>
	<key>obliterating</key>
	<string>deathWord</string>
	<key>kill</key>
	<string>deathWord</string>
	<key>eradication</key>
	<string>deathWord</string>
	<key>exterminate</key>
	<string>deathWord</string>
	<key>obliterate</key>
	<string>deathWord</string>
	<key>deceases&apos;</key>
	<string>deathWord</string>
	<key>destruction</key>
	<string>deathWord</string>
	<key>dead&apos;s</key>
	<string>deathWord</string>
	<key>ended</key>
	<string>deathWord</string>
	<key>deaths&apos;</key>
	<string>deathWord</string>
	<key>termination&apos;s</key>
	<string>deathWord</string>
	<key>endings&apos;</key>
	<string>deathWord</string>
	<key>gravest</key>
	<string>deathWord</string>
	<key>ruin</key>
	<string>deathWord</string>
	<key>demised</key>
	<string>deathWord</string>
	<key>killing</key>
	<string>deathWord</string>
	<key>tomb</key>
	<string>deathWord</string>
	<key>ruination&apos;s</key>
	<string>deathWord</string>
	<key>died</key>
	<string>deathWord</string>
	<key>terminations</key>
	<string>deathWord</string>
	<key>termination</key>
	<string>deathWord</string>
	<key>deadest</key>
	<string>deathWord</string>
	<key>drowns</key>
	<string>deathWord</string>
	<key>expire</key>
	<string>deathWord</string>
	<key>endings</key>
	<string>deathWord</string>
	<key>casualty</key>
	<string>deathWord</string>
	<key>annihilations</key>
	<string>deathWord</string>
	<key>obliteration&apos;s</key>
	<string>deathWord</string>
	<key>eradications</key>
	<string>deathWord</string>
	<key>grave</key>
	<string>deathWord</string>
	<key>obliterations</key>
	<string>deathWord</string>
	<key>deader</key>
	<string>deathWord</string>
	<key>demise&apos;s</key>
	<string>deathWord</string>
	<key>necroses&apos;</key>
	<string>deathWord</string>
	<key>ruinations</key>
	<string>deathWord</string>
	<key>d.</key>
	<string>deathWord</string>
	<key>bereavement&apos;s</key>
	<string>deathWord</string>
	<key>euthanasia&apos;s</key>
	<string>deathWord</string>
	<key>ruining</key>
	<string>deathWord</string>
	<key>exterminating</key>
	<string>deathWord</string>
	<key>coffining</key>
	<string>deathWord</string>
	<key>obliteration</key>
	<string>deathWord</string>
	<key>drownings</key>
	<string>deathWord</string>
	<key>euthanasias</key>
	<string>deathWord</string>
	<key>ends&apos;</key>
	<string>deathWord</string>
	<key>demises&apos;</key>
	<string>deathWord</string>
	<key>deceases</key>
	<string>deathWord</string>
	<key>dice</key>
	<string>deathWord</string>
	<key>grave&apos;s</key>
	<string>deathWord</string>
	<key>coffins</key>
	<string>deathWord</string>
	<key>ending</key>
	<string>deathWord</string>
	<key>casualties</key>
	<string>deathWord</string>
	<key>downfall</key>
	<string>deathWord</string>
	<key>annihilations&apos;</key>
	<string>deathWord</string>
	<key>bereavements</key>
	<string>deathWord</string>
	<key>dice&apos;s</key>
	<string>deathWord</string>
	<key>demising</key>
	<string>deathWord</string>
	<key>demise</key>
	<string>deathWord</string>
	<key>ruins</key>
	<string>deathWord</string>
	<key>decease</key>
	<string>deathWord</string>
	<key>oblivion&apos;s</key>
	<string>deathWord</string>
	<key>die&apos;s</key>
	<string>deathWord</string>
	<key>worry&apos;s</key>
	<string>anxietyWord</string>
	<key>stress&apos;s</key>
	<string>anxietyWord</string>
	<key>stressing</key>
	<string>anxietyWord</string>
	<key>panics&apos;</key>
	<string>anxietyWord</string>
	<key>tense</key>
	<string>anxietyWord</string>
	<key>tense&apos;s</key>
	<string>anxietyWord</string>
	<key>scares&apos;</key>
	<string>anxietyWord</string>
	<key>fear&apos;s</key>
	<string>anxietyWord</string>
	<key>anxiety&apos;s</key>
	<string>anxietyWord</string>
	<key>terrify</key>
	<string>anxietyWord</string>
	<key>overwhelming</key>
	<string>anxietyWord</string>
	<key>situations&apos;</key>
	<string>anxietyWord</string>
	<key>fear</key>
	<string>anxietyWord</string>
	<key>stresses</key>
	<string>anxietyWord</string>
	<key>overwhelm</key>
	<string>anxietyWord</string>
	<key>worry</key>
	<string>anxietyWord</string>
	<key>anxieties</key>
	<string>anxietyWord</string>
	<key>upsets</key>
	<string>angerWord</string>
	<key>upsetting</key>
	<string>angerWord</string>
	<key>panicked</key>
	<string>anxietyWord</string>
	<key>panics</key>
	<string>anxietyWord</string>
	<key>scare</key>
	<string>anxietyWord</string>
	<key>upsets&apos;</key>
	<string>angerWord</string>
	<key>anxiety</key>
	<string>anxietyWord</string>
	<key>tensed</key>
	<string>anxietyWord</string>
	<key>situation</key>
	<string>anxietyWord</string>
	<key>panic&apos;s</key>
	<string>anxietyWord</string>
	<key>worries&apos;</key>
	<string>anxietyWord</string>
	<key>stresses&apos;</key>
	<string>anxietyWord</string>
	<key>tensest</key>
	<string>anxietyWord</string>
	<key>fears</key>
	<string>anxietyWord</string>
	<key>panic</key>
	<string>anxietyWord</string>
	<key>awkward</key>
	<string>anxietyWord</string>
	<key>stressful</key>
	<string>anxietyWord</string>
	<key>scare&apos;s</key>
	<string>anxietyWord</string>
	<key>panicking</key>
	<string>anxietyWord</string>
	<key>terrifies</key>
	<string>anxietyWord</string>
	<key>upset&apos;s</key>
	<string>angerWord</string>
	<key>tenses</key>
	<string>anxietyWord</string>
	<key>feared</key>
	<string>anxietyWord</string>
	<key>worrying</key>
	<string>anxietyWord</string>
	<key>stressed</key>
	<string>anxietyWord</string>
	<key>situation&apos;s</key>
	<string>anxietyWord</string>
	<key>worries</key>
	<string>anxietyWord</string>
	<key>fearing</key>
	<string>anxietyWord</string>
	<key>nervous</key>
	<string>anxietyWord</string>
	<key>situations</key>
	<string>anxietyWord</string>
	<key>anxious</key>
	<string>anxietyWord</string>
	<key>overwhelms</key>
	<string>anxietyWord</string>
	<key>terrifying</key>
	<string>anxietyWord</string>
	<key>anxieties&apos;</key>
	<string>anxietyWord</string>
	<key>afraid</key>
	<string>anxietyWord</string>
	<key>fears&apos;</key>
	<string>anxietyWord</string>
	<key>overwhelmed</key>
	<string>anxietyWord</string>
	<key>tenser</key>
	<string>anxietyWord</string>
	<key>tensing</key>
	<string>anxietyWord</string>
	<key>scares</key>
	<string>anxietyWord</string>
	<key>scaring</key>
	<string>anxietyWord</string>
	<key>uncomfortable</key>
	<string>anxietyWord</string>
	<key>tenses&apos;</key>
	<string>anxietyWord</string>
	<key>upset</key>
	<string>angerWord</string>
	<key>stress</key>
	<string>anxietyWord</string>
	<key>scared</key>
	<string>anxietyWord</string>
	<key>worried</key>
	<string>anxietyWord</string>
	<key>terrified</key>
	<string>anxietyWord</string>
	<key>bloodies</key>
	<string>angerWord</string>
	<key>bullshitting</key>
	<string>angerWord</string>
	<key>shitty</key>
	<string>angerWord</string>
	<key>bother</key>
	<string>angerWord</string>
	<key>ruder</key>
	<string>angerWord</string>
	<key>conflicted</key>
	<string>angerWord</string>
	<key>shittiest</key>
	<string>angerWord</string>
	<key>shat</key>
	<string>angerWord</string>
	<key>battles</key>
	<string>angerWord</string>
	<key>strife&apos;s</key>
	<string>angerWord</string>
	<key>strifes&apos;</key>
	<string>angerWord</string>
	<key>fight</key>
	<string>angerWord</string>
	<key>bitchez</key>
	<string>angerWord</string>
	<key>bothered</key>
	<string>angerWord</string>
	<key>idiot</key>
	<string>angerWord</string>
	<key>bitters&apos;</key>
	<string>angerWord</string>
	<key>enemies</key>
	<string>angerWord</string>
	<key>bloodier</key>
	<string>angerWord</string>
	<key>bitter&apos;s</key>
	<string>angerWord</string>
	<key>wtf</key>
	<string>angerWord</string>
	<key>shit</key>
	<string>angerWord</string>
	<key>grumpier</key>
	<string>angerWord</string>
	<key>battle</key>
	<string>angerWord</string>
	<key>frustrates</key>
	<string>angerWord</string>
	<key>shitted</key>
	<string>angerWord</string>
	<key>fight&apos;s</key>
	<string>angerWord</string>
	<key>shittier</key>
	<string>angerWord</string>
	<key>irritating</key>
	<string>angerWord</string>
	<key>hates</key>
	<string>angerWord</string>
	<key>conflicts&apos;</key>
	<string>angerWord</string>
	<key>warring</key>
	<string>angerWord</string>
	<key>bother&apos;s</key>
	<string>angerWord</string>
	<key>bitters</key>
	<string>angerWord</string>
	<key>frustrating</key>
	<string>angerWord</string>
	<key>grumpy</key>
	<string>angerWord</string>
	<key>conflicting</key>
	<string>angerWord</string>
	<key>wars&apos;</key>
	<string>angerWord</string>
	<key>bullshit</key>
	<string>angerWord</string>
	<key>shit&apos;s</key>
	<string>angerWord</string>
	<key>terriblest</key>
	<string>angerWord</string>
	<key>bothers</key>
	<string>angerWord</string>
	<key>conflict</key>
	<string>angerWord</string>
	<key>bitchez&apos;</key>
	<string>angerWord</string>
	<key>biatch</key>
	<string>angerWord</string>
	<key>warred</key>
	<string>angerWord</string>
	<key>screamed</key>
	<string>angerWord</string>
	<key>bitched</key>
	<string>angerWord</string>
	<key>annoying</key>
	<string>angerWord</string>
	<key>rudest</key>
	<string>angerWord</string>
	<key>war</key>
	<string>angerWord</string>
	<key>pissing</key>
	<string>angerWord</string>
	<key>battled</key>
	<string>angerWord</string>
	<key>bitch</key>
	<string>angerWord</string>
	<key>ignorants&apos;</key>
	<string>angerWord</string>
	<key>bullshit&apos;s</key>
	<string>angerWord</string>
	<key>idiot&apos;s</key>
	<string>angerWord</string>
	<key>hate&apos;s</key>
	<string>angerWord</string>
	<key>strifes</key>
	<string>angerWord</string>
	<key>hating</key>
	<string>angerWord</string>
	<key>screams&apos;</key>
	<string>angerWord</string>
	<key>fucking</key>
	<string>angerWord</string>
	<key>idiots</key>
	<string>angerWord</string>
	<key>bloodiest</key>
	<string>angerWord</string>
	<key>strife</key>
	<string>angerWord</string>
	<key>frustrate</key>
	<string>angerWord</string>
	<key>scream&apos;s</key>
	<string>angerWord</string>
	<key>bitching</key>
	<string>angerWord</string>
	<key>bothers&apos;</key>
	<string>angerWord</string>
	<key>ignorant</key>
	<string>angerWord</string>
	<key>fights</key>
	<string>angerWord</string>
	<key>fucked</key>
	<string>angerWord</string>
	<key>annoyed</key>
	<string>angerWord</string>
	<key>annoy</key>
	<string>angerWord</string>
	<key>grumpiest</key>
	<string>angerWord</string>
	<key>battle&apos;s</key>
	<string>angerWord</string>
	<key>fuck</key>
	<string>angerWord</string>
	<key>enemy</key>
	<string>angerWord</string>
	<key>irritates</key>
	<string>angerWord</string>
	<key>fucks&apos;</key>
	<string>angerWord</string>
	<key>shitting</key>
	<string>angerWord</string>
	<key>cranky</key>
	<string>angerWord</string>
	<key>rude</key>
	<string>angerWord</string>
	<key>war&apos;s</key>
	<string>angerWord</string>
	<key>screams</key>
	<string>angerWord</string>
	<key>bloodying</key>
	<string>angerWord</string>
	<key>idiots&apos;</key>
	<string>angerWord</string>
	<key>bitches</key>
	<string>angerWord</string>
	<key>crankier</key>
	<string>angerWord</string>
	<key>fucks</key>
	<string>angerWord</string>
	<key>WTF</key>
	<string>angerWord</string>
	<key>piss&apos;s</key>
	<string>angerWord</string>
	<key>bitterest</key>
	<string>angerWord</string>
	<key>enemy&apos;s</key>
	<string>angerWord</string>
	<key>fuck&apos;s</key>
	<string>angerWord</string>
	<key>hates&apos;</key>
	<string>angerWord</string>
	<key>frustrated</key>
	<string>angerWord</string>
	<key>ignorant&apos;s</key>
	<string>angerWord</string>
	<key>biotch&apos;s</key>
	<string>angerWord</string>
	<key>bitterer</key>
	<string>angerWord</string>
	<key>piss</key>
	<string>angerWord</string>
	<key>irritate</key>
	<string>angerWord</string>
	<key>bullshitted</key>
	<string>angerWord</string>
	<key>wars</key>
	<string>angerWord</string>
	<key>hate</key>
	<string>angerWord</string>
	<key>conflicts</key>
	<string>angerWord</string>
	<key>biatches&apos;</key>
	<string>angerWord</string>
	<key>hated</key>
	<string>angerWord</string>
	<key>bitter</key>
	<string>angerWord</string>
	<key>shits</key>
	<string>angerWord</string>
	<key>bullshits&apos;</key>
	<string>angerWord</string>
	<key>bitch&apos;s</key>
	<string>angerWord</string>
	<key>screaming</key>
	<string>angerWord</string>
	<key>fought</key>
	<string>angerWord</string>
	<key>enemies&apos;</key>
	<string>angerWord</string>
	<key>battling</key>
	<string>angerWord</string>
	<key>dammit</key>
	<string>angerWord</string>
	<key>irritated</key>
	<string>angerWord</string>
	<key>bothering</key>
	<string>angerWord</string>
	<key>conflict&apos;s</key>
	<string>angerWord</string>
	<key>bitches&apos;</key>
	<string>angerWord</string>
	<key>annoys</key>
	<string>angerWord</string>
	<key>ignorants</key>
	<string>angerWord</string>
	<key>shits&apos;</key>
	<string>angerWord</string>
	<key>biotches</key>
	<string>angerWord</string>
	<key>battles&apos;</key>
	<string>angerWord</string>
	<key>pissed</key>
	<string>angerWord</string>
	<key>biatch&apos;s</key>
	<string>angerWord</string>
	<key>fighting</key>
	<string>angerWord</string>
	<key>scream</key>
	<string>angerWord</string>
	<key>biotches&apos;</key>
	<string>angerWord</string>
	<key>biotch</key>
	<string>angerWord</string>
	<key>crankiest</key>
	<string>angerWord</string>
	<key>bloody</key>
	<string>angerWord</string>
	<key>fights&apos;</key>
	<string>angerWord</string>
	<key>terrible</key>
	<string>angerWord</string>
	<key>bullshits</key>
	<string>angerWord</string>
	<key>bloodied</key>
	<string>angerWord</string>
	<key>pisses</key>
	<string>angerWord</string>
	<key>fuckin&apos;</key>
	<string>angerWord</string>
	<key>biatches</key>
	<string>angerWord</string>
	<key>zombie&apos;s</key>
	<string>healthFeelingWord</string>
	<key>feelings&apos;</key>
	<string>healthFeelingWord</string>
	<key>tire</key>
	<string>healthFeelingWord</string>
	<key>touch</key>
	<string>healthFeelingWord</string>
	<key>doctors&apos;</key>
	<string>healthFeelingWord</string>
	<key>flu&apos;s</key>
	<string>healthFeelingWord</string>
	<key>tires</key>
	<string>healthFeelingWord</string>
	<key>suffers</key>
	<string>healthFeelingWord</string>
	<key>headaches&apos;</key>
	<string>healthFeelingWord</string>
	<key>flus&apos;</key>
	<string>healthFeelingWord</string>
	<key>suffered</key>
	<string>healthFeelingWord</string>
	<key>doctored</key>
	<string>healthFeelingWord</string>
	<key>feels</key>
	<string>healthFeelingWord</string>
	<key>clinics</key>
	<string>healthFeelingWord</string>
	<key>lives&apos;</key>
	<string>healthFeelingWord</string>
	<key>pains&apos;</key>
	<string>healthFeelingWord</string>
	<key>aching</key>
	<string>healthFeelingWord</string>
	<key>badder</key>
	<string>healthFeelingWord</string>
	<key>dr</key>
	<string>healthFeelingWord</string>
	<key>tires&apos;</key>
	<string>healthFeelingWord</string>
	<key>zombies&apos;</key>
	<string>healthFeelingWord</string>
	<key>flu</key>
	<string>healthFeelingWord</string>
	<key>zombie</key>
	<string>healthFeelingWord</string>
	<key>moods</key>
	<string>healthFeelingWord</string>
	<key>sick</key>
	<string>healthFeelingWord</string>
	<key>touch&apos;s</key>
	<string>healthFeelingWord</string>
	<key>hurting</key>
	<string>healthFeelingWord</string>
	<key>feeling</key>
	<string>healthFeelingWord</string>
	<key>mood</key>
	<string>healthFeelingWord</string>
	<key>touched</key>
	<string>healthFeelingWord</string>
	<key>tired</key>
	<string>healthFeelingWord</string>
	<key>baddest</key>
	<string>healthFeelingWord</string>
	<key>head</key>
	<string>healthFeelingWord</string>
	<key>felts&apos;</key>
	<string>healthFeelingWord</string>
	<key>lives</key>
	<string>healthFeelingWord</string>
	<key>aches</key>
	<string>healthFeelingWord</string>
	<key>headache&apos;s</key>
	<string>healthFeelingWord</string>
	<key>felted</key>
	<string>healthFeelingWord</string>
	<key>mood&apos;s</key>
	<string>healthFeelingWord</string>
	<key>heads</key>
	<string>healthFeelingWord</string>
	<key>suffer</key>
	<string>healthFeelingWord</string>
	<key>feel&apos;s</key>
	<string>healthFeelingWord</string>
	<key>hurt</key>
	<string>healthFeelingWord</string>
	<key>sickness</key>
	<string>healthFeelingWord</string>
	<key>pill</key>
	<string>healthFeelingWord</string>
	<key>pilling</key>
	<string>healthFeelingWord</string>
	<key>touching</key>
	<string>healthFeelingWord</string>
	<key>sleepier</key>
	<string>healthFeelingWord</string>
	<key>pain</key>
	<string>healthFeelingWord</string>
	<key>doctoring</key>
	<string>healthFeelingWord</string>
	<key>sicker</key>
	<string>healthFeelingWord</string>
	<key>heading</key>
	<string>healthFeelingWord</string>
	<key>ache</key>
	<string>healthFeelingWord</string>
	<key>touches</key>
	<string>healthFeelingWord</string>
	<key>worst</key>
	<string>healthFeelingWord</string>
	<key>felting</key>
	<string>healthFeelingWord</string>
	<key>suffering</key>
	<string>healthFeelingWord</string>
	<key>pains</key>
	<string>healthFeelingWord</string>
	<key>clinics&apos;</key>
	<string>healthFeelingWord</string>
	<key>bad</key>
	<string>healthFeelingWord</string>
	<key>clinic</key>
	<string>healthFeelingWord</string>
	<key>hurt&apos;s</key>
	<string>healthFeelingWord</string>
	<key>doctor</key>
	<string>healthFeelingWord</string>
	<key>life</key>
	<string>healthFeelingWord</string>
	<key>flus</key>
	<string>healthFeelingWord</string>
	<key>heads&apos;</key>
	<string>healthFeelingWord</string>
	<key>felts</key>
	<string>healthFeelingWord</string>
	<key>felt&apos;s</key>
	<string>healthFeelingWord</string>
	<key>sicknesses</key>
	<string>healthFeelingWord</string>
	<key>head&apos;s</key>
	<string>healthFeelingWord</string>
	<key>sleepy</key>
	<string>healthFeelingWord</string>
	<key>life&apos;s</key>
	<string>healthFeelingWord</string>
	<key>drs</key>
	<string>healthFeelingWord</string>
	<key>hurts&apos;</key>
	<string>healthFeelingWord</string>
	<key>feelings</key>
	<string>healthFeelingWord</string>
	<key>feel</key>
	<string>healthFeelingWord</string>
	<key>headache</key>
	<string>healthFeelingWord</string>
	<key>doctor&apos;s</key>
	<string>healthFeelingWord</string>
	<key>pilled</key>
	<string>healthFeelingWord</string>
	<key>headaches</key>
	<string>healthFeelingWord</string>
	<key>pills&apos;</key>
	<string>healthFeelingWord</string>
	<key>pills</key>
	<string>healthFeelingWord</string>
	<key>tiring</key>
	<string>healthFeelingWord</string>
	<key>worse</key>
	<string>healthFeelingWord</string>
	<key>sick&apos;s</key>
	<string>healthFeelingWord</string>
	<key>felt</key>
	<string>healthFeelingWord</string>
	<key>ached</key>
	<string>healthFeelingWord</string>
	<key>paining</key>
	<string>healthFeelingWord</string>
	<key>sickness&apos;s</key>
	<string>healthFeelingWord</string>
	<key>sickest</key>
	<string>healthFeelingWord</string>
	<key>moods&apos;</key>
	<string>healthFeelingWord</string>
	<key>aches&apos;</key>
	<string>healthFeelingWord</string>
	<key>hurts</key>
	<string>healthFeelingWord</string>
	<key>ache&apos;s</key>
	<string>healthFeelingWord</string>
	<key>headed</key>
	<string>healthFeelingWord</string>
	<key>tire&apos;s</key>
	<string>healthFeelingWord</string>
	<key>feeling&apos;s</key>
	<string>healthFeelingWord</string>
	<key>sleepiest</key>
	<string>healthFeelingWord</string>
	<key>zombies</key>
	<string>healthFeelingWord</string>
	<key>exhausted</key>
	<string>healthFeelingWord</string>
	<key>clinic&apos;s</key>
	<string>healthFeelingWord</string>
	<key>feels&apos;</key>
	<string>healthFeelingWord</string>
	<key>sicknesses&apos;</key>
	<string>healthFeelingWord</string>
	<key>pill&apos;s</key>
	<string>healthFeelingWord</string>
	<key>pain&apos;s</key>
	<string>healthFeelingWord</string>
	<key>touches&apos;</key>
	<string>healthFeelingWord</string>
	<key>doctors</key>
	<string>healthFeelingWord</string>
	<key>pained</key>
	<string>healthFeelingWord</string>
	<key>good</key>
	<string>positiveWord</string>
	<key>great</key>
	<string>positiveWord</string>
	<key>fantastic</key>
	<string>positiveWord</string>
	<key>awesome</key>
	<string>positiveWord</string>
	<key>happy</key>
	<string>positiveWord</string>
	<key>looking forward</key>
	<string>positiveWord</string>
	<key>can’t wait</key>
	<string>positiveWord</string>
	<key>fun</key>
	<string>positiveWord</string>
	<key>blast</key>
	<string>positiveWord</string>
	<key>went well</key>
	<string>positiveWord</string>
	<key>pretty well</key>
	<string>positiveWord</string>
	<key>romantic</key>
	<string>positiveWord</string>
	<key>calm</key>
	<string>positiveWord</string>
	<key>relaxed</key>
	<string>positiveWord</string>
	<key>really well</key>
	<string>positiveWord</string>
	<key>energized</key>
	<string>positiveWord</string>
	<key>exciting</key>
	<string>positiveWord</string>
	<key>lol</key>
	<string>positiveWord</string>
	<key>Haha</key>
	<string>positiveWord</string>
	<key>joy</key>
	<string>positiveWord</string>
	<key>friend</key>
	<string>positiveWord</string>
	<key>friends</key>
	<string>positiveWord</string>
	<key>thrilled</key>
	<string>positiveWord</string>
	<key>cozy</key>
	<string>positiveWord</string>
	<key>be happy</key>
	<string>positiveWord</string>
	<key>happiness</key>
	<string>positiveWord</string>
	<key>happier</key>
	<string>positiveWord</string>
</dict>
</plist>
