<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <string>art</string>
        <string>document</string>
        <string>office_supplies</string>
        <string>appliance</string>
        <string>dial</string>
        <string>mower</string>
        <string>wind_turbine</string>
        <string>wheel</string>
        <string>abacus</string>
        <string>circuit_board</string>
        <string>joystick</string>
        <string>container</string>
        <string>tool</string>
        <string>office_supplies</string>
        <string>utensil</string>
        <string>media</string>
        <string>money</string>
        <string>medicine</string>
        <string>safety_vest</string>
        <string>consumer_electronics</string>
        <string>housewares</string>
        <string>lifesaver</string>
        <string>cord</string>
        <string>chart</string>
        <string>footwear</string>
        <string>light</string>
        <string>decoration</string>
        <string>music</string>
        <string>furniture</string>
        <string>vegetable</string>
        <string>nut</string>
        <string>seasonings</string>
        <string>grain</string>
        <string>meat</string>
        <string>seed</string>
        <string>fruit</string>
        <string>adult</string>
        <string>apartment</string>
        <string>arch</string>
        <string>balcony</string>
        <string>banner</string>
        <string>bathroom</string>
        <string>bathroom_faucet</string>
        <string>bathroom_room</string>
        <string>bedroom</string>
        <string>body_part</string>
        <string>body_part_other</string>
        <string>brick</string>
        <string>bridge</string>
        <string>building</string>
        <string>chalkboard</string>
        <string>condiment</string>
        <string>conveyance</string>
        <string>child</string>
        <string>curtain</string>
        <string>daytime</string>
        <string>decorative_plant</string>
        <string>door</string>
        <string>domicile</string>
        <string>elder</string>
        <string>fence</string>
        <string>interior_room</string>
        <string>land</string>
        <string>liquid</string>
        <string>material</string>
        <string>path</string>
        <string>people</string>
        <string>pillar</string>
        <string>plant</string>
        <string>portal</string>
        <string>poster</string>
        <string>raw_glass</string>
        <string>raw_metal</string>
        <string>religion</string>
        <string>road_other</string>
        <string>shrub</string>
        <string>sidewalk</string>
        <string>sign</string>
        <string>stairs</string>
        <string>structure</string>
        <string>teen</string>
        <string>textile</string>
        <string>walkway</string>
        <string>window</string>
        <string>wood_natural</string>
        <string>wood_processed</string>
        <string>equipment</string>
        <string>vehicle</string>
        <string>machine</string>
        <string>clothing</string>
        <string>logo</string>
        <string>optical_equipment</string>
        <string>jeans</string>
        <string>jacket</string>
        <string>hoodie</string>
        <string>headgear</string>
        <string>calendar</string>
        <string>checkbook</string>
        <string>coupon</string>
        <string>gift_card</string>
        <string>magazine</string>
        <string>receipt</string>
        <string>sticky_note</string>
        <string>office_supplies</string>
        <string>printed_page</string>
        <string>whiteboard</string>
        <string>wine_bottle</string>
        <string>envelope</string>
        <string>handwriting</string>
        <string>map</string>
        <string>screenshot</string>
        <string>illustrations</string>
        <string>chart</string>
        <string>credit_card</string>
        <string>document</string>
        <string>flipchart</string>
        <string>medicine</string>
        <string>carton</string>
        <string>passport</string>
        <string>newspaper</string>
        <string>ticket</string>
    </array>
</plist>

