<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AUS Central Standard Time</key>
	<string>Australia/Darwin</string>
	<key>AUS Eastern Standard Time</key>
	<string>Australia/Sydney</string>
	<key>Afghanistan Standard Time</key>
	<string>Asia/Kabul</string>
	<key>Alaskan Standard Time</key>
	<string>America/Anchorage</string>
	<key>Arab Standard Time</key>
	<string>Asia/Riyadh</string>
	<key>Arabian Standard Time</key>
	<string>Asia/Dubai</string>
	<key>Arabic Standard Time</key>
	<string>Asia/Baghdad</string>
	<key>Argentina Standard Time</key>
	<string>America/Buenos_Aires</string>
	<key>Armenian Standard Time</key>
	<string>Asia/Yerevan</string>
	<key>Atlantic Standard Time</key>
	<string>Canada/Atlantic</string>
	<key>Azerbaijan Standard Time</key>
	<string>Asia/Baku</string>
	<key>Azores Standard Time</key>
	<string>Atlantic/Azores</string>
	<key>Canada Central Standard Time</key>
	<string>Canada/Saskatchewan</string>
	<key>Cape Verde Standard Time</key>
	<string>Atlantic/Cape_Verde</string>
	<key>Caucasus Standard Time</key>
	<string>Asia/Tbilisi</string>
	<key>Cen. Australia Standard Time</key>
	<string>Australia/Adelaide</string>
	<key>Central America Standard Time</key>
	<string>America/Guatemala</string>
	<key>Central Asia Standard Time</key>
	<string>Asia/Dhaka</string>
	<key>Central Brazilian Standard Time</key>
	<string>America/Manaus</string>
	<key>Central Europe Standard Time</key>
	<string>Europe/Budapest</string>
	<key>Central European Standard Time</key>
	<string>Europe/Warsaw</string>
	<key>Central Pacific Standard Time</key>
	<string>Asia/Magadan</string>
	<key>Central Standard Time</key>
	<string>US/Central</string>
	<key>Central Standard Time (Mexico)</key>
	<string>America/Mexico_City</string>
	<key>China Standard Time</key>
	<string>Asia/Shanghai</string>
	<key>Dateline Standard Time</key>
	<string>Etc/GMT+12</string>
	<key>E. Africa Standard Time</key>
	<string>Africa/Nairobi</string>
	<key>E. Australia Standard Time</key>
	<string>Australia/Brisbane</string>
	<key>E. Europe Standard Time</key>
	<string>Europe/Minsk</string>
	<key>E. South America Standard Time</key>
	<string>Brazil/East</string>
	<key>Eastern Standard Time</key>
	<string>US/Eastern</string>
	<key>Egypt Standard Time</key>
	<string>Africa/Cairo</string>
	<key>Ekaterinburg Standard Time</key>
	<string>Asia/Yekaterinburg</string>
	<key>FLE Standard Time</key>
	<string>Europe/Kiev</string>
	<key>Fiji Standard Time</key>
	<string>Pacific/Fiji</string>
	<key>GMT Standard Time</key>
	<string>Europe/London</string>
	<key>GTB Standard Time</key>
	<string>Europe/Istanbul</string>
	<key>Georgian Standard Time</key>
	<string>Etc/GMT-3</string>
	<key>Greenland Standard Time</key>
	<string>America/Godthab</string>
	<key>Greenwich Standard Time</key>
	<string>Africa/Casablanca</string>
	<key>Hawaiian Standard Time</key>
	<string>Pacific/Honolulu</string>
	<key>India Standard Time</key>
	<string>Asia/Calcutta</string>
	<key>Iran Standard Time</key>
	<string>Asia/Tehran</string>
	<key>Israel Standard Time</key>
	<string>Asia/Jerusalem</string>
	<key>Jordan Standard Time</key>
	<string>Asia/Amman</string>
	<key>Korea Standard Time</key>
	<string>Asia/Seoul</string>
	<key>Mid-Atlantic Standard Time</key>
	<string>Atlantic/South_Georgia</string>
	<key>Middle East Standard Time</key>
	<string>Asia/Beirut</string>
	<key>Montevideo Standard Time</key>
	<string>America/Montevideo</string>
	<key>Mountain Standard Time</key>
	<string>US/Mountain</string>
	<key>Mountain Standard Time (Mexico)</key>
	<string>America/Chihuahua</string>
	<key>Myanmar Standard Time</key>
	<string>Asia/Rangoon</string>
	<key>N. Central Asia Standard Time</key>
	<string>Asia/Novosibirsk</string>
	<key>Namibia Standard Time</key>
	<string>Africa/Windhoek</string>
	<key>Nepal Standard Time</key>
	<string>Asia/Kathmandu</string>
	<key>New Zealand Standard Time</key>
	<string>Pacific/Auckland</string>
	<key>Newfoundland Standard Time</key>
	<string>Canada/Newfoundland</string>
	<key>North Asia East Standard Time</key>
	<string>Asia/Irkutsk</string>
	<key>North Asia Standard Time</key>
	<string>Asia/Krasnoyarsk</string>
	<key>Pacific SA Standard Time</key>
	<string>America/Santiago</string>
	<key>Pacific Standard Time</key>
	<string>US/Pacific</string>
	<key>Pacific Standard Time (Mexico)</key>
	<string>America/Tijuana</string>
	<key>Romance Standard Time</key>
	<string>Europe/Paris</string>
	<key>Russian Standard Time</key>
	<string>Europe/Moscow</string>
	<key>SA Eastern Standard Time</key>
	<string>America/Buenos_Aires</string>
	<key>SA Pacific Standard Time</key>
	<string>America/Bogota</string>
	<key>SA Western Standard Time</key>
	<string>America/La_Paz</string>
	<key>SE Asia Standard Time</key>
	<string>Asia/Bangkok</string>
	<key>Samoa Standard Time</key>
	<string>Pacific/Apia</string>
	<key>Singapore Standard Time</key>
	<string>Asia/Singapore</string>
	<key>South Africa Standard Time</key>
	<string>Africa/Johannesburg</string>
	<key>Sri Lanka Standard Time</key>
	<string>Asia/Colombo</string>
	<key>Taipei Standard Time</key>
	<string>Asia/Taipei</string>
	<key>Tasmania Standard Time</key>
	<string>Australia/Hobart</string>
	<key>Tokyo Standard Time</key>
	<string>Asia/Tokyo</string>
	<key>Tonga Standard Time</key>
	<string>Pacific/Tongatapu</string>
	<key>US Eastern Standard Time</key>
	<string>Etc/GMT+5</string>
	<key>US Mountain Standard Time</key>
	<string>America/Phoenix</string>
	<key>Venezuela Standard Time</key>
	<string>America/Caracas</string>
	<key>Vladivostok Standard Time</key>
	<string>Asia/Vladivostok</string>
	<key>W. Australia Standard Time</key>
	<string>Australia/Perth</string>
	<key>W. Central Africa Standard Time</key>
	<string>Africa/Lagos</string>
	<key>W. Europe Standard Time</key>
	<string>Europe/Berlin</string>
	<key>West Asia Standard Time</key>
	<string>Asia/Karachi</string>
	<key>West Pacific Standard Time</key>
	<string>Pacific/Guam</string>
	<key>Yakutsk Standard Time</key>
	<string>Asia/Yakutsk</string>
	<key>(GMT-07:00) Chihuahua, La Paz, Mazatlan</key>
	<string>America/Chihuahua</string>
	<key>(GMT-06:00) Guadalajara, Mexico City, Monterrey</key>
	<string>America/Mexico_City</string>
	<key>(GMT+02:00) Beirut</key>
	<string>Asia/Beirut</string>
	<key>(GMT+02:00) Cairo</key>
	<string>Africa/Cairo</string>
	<key>(GMT+02:00) Jerusalem</key>
	<string>Asia/Jerusalem</string>
</dict>
</plist>
