<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Alaska</key>
	<string>America/Anchorage</string>
	<key>Hawaii</key>
	<string>Pacific/Honolulu</string>
	<key>Pacific Time (US &amp; Canada)\; Tijuana</key>
	<string>US/Pacific</string>
	<key>Arizona</key>
	<string>America/Phoenix</string>
	<key>Mountain Time (US &amp; Canada)</key>
	<string>US/Mountain</string>
	<key>Central Time (US &amp; Canada)</key>
	<string>US/Central</string>
	<key>Eastern Time (US &amp; Canada)</key>
	<string>US/Eastern</string>
	<key>Casablanca\, Monrovia</key>
	<string>Africa/Casablanca</string>
	<key>Azores</key>
	<string>Atlantic/Azores</string>
	<key>West Central Africa</key>
	<string>Africa/Kinshasa</string>
	<key>Greenwich Mean Time : Dublin\, Edinburgh\, Lisbon\, London</key>
	<string>Europe/London</string>
	<key>Amsterdam, Berlin\, Bern\, Rome\, Stockholm\, Vienna</key>
	<string>Europe/Berlin</string>
	<key>Belgrade\, Bratislava\, Budapest\, Ljubljana\, Prague</key>
	<string>Europe/Budapest</string>
	<key>Brussels\, Copenhagen\, Madrid\, Paris</key>
	<string>Europe/Paris</string>
	<key>Sarajevo\, Skopje\, Warsaw\, Zagreb</key>
	<string>Europe/Warsaw</string>
	<key>Harare\, Pretoria</key>
	<string>Africa/Harare</string>
	<key>Jerusalem</key>
	<string>Asia/Jerusalem</string>
	<key>Helsinki\, Kyiv\, Riga\, Sofia\, Tallinn\, Vilnius</key>
	<string>Europe/Helsinki</string>
	<key>Bucharest</key>
	<string>Europe/Bucharest</string>
	<key>Cairo</key>
	<string>Africa/Cairo</string>
	<key>Athens\, Istanbul\, Minsk</key>
	<string>Europe/Athens</string>
	<key>Kuwait\, Riyadh</key>
	<string>Asia/Riyadh</string>
	<key>Nairobi</key>
	<string>Africa/Nairobi</string>
	<key>Baghdad</key>
	<string>Asia/Baghdad</string>
	<key>Moscow\, St. Petersburg\, Volgograd</key>
	<string>Europe/Moscow</string>
	<key>Abu Dhabi\, Muscat</key>
	<string>Asia/Muscat</string>
	<key>Kabul</key>
	<string>Asia/Kabul</string>
	<key>Baku\, Tbilisi\, Yerevan</key>
	<string>Asia/Baku</string>
	<key>Islamabad\, Karachi\, Tashkent</key>
	<string>Asia/Karachi</string>
	<key>Chennai\, Kolkata\, Mumbai\, New Delhi</key>
	<string>Asia/Calcutta</string>
	<key>Kathmandu</key>
	<string>Asia/Katmandu</string>
	<key>Ekaterinburg</key>
	<string>Asia/Yekaterinburg</string>
	<key>Astana\, Dhaka</key>
	<string>Asia/Dhaka</string>
	<key>Sri Jayawardenepura</key>
	<string>Asia/Colombo</string>
	<key>Rangoon</key>
	<string>Asia/Rangoon</string>
	<key>Almaty\, Novosibirsk</key>
	<string>Asia/Almaty</string>
	<key>Bangkok\, Hanoi\, Jakarta</key>
	<string>Asia/Jakarta</string>
	<key>Krasnoyarsk</key>
	<string>Asia/Krasnoyarsk</string>
	<key>Perth</key>
	<string>Australia/Perth</string>
	<key>Taipei</key>
	<string>Asia/Taipei</string>
	<key>Beijing\, Chongqing\, Hong Kong\, Urumqi</key>
	<string>Asia/Hong_Kong</string>
	<key>Kuala Lumpur\, Singapore</key>
	<string>Asia/Singapore</string>
	<key>Irkutsk\, Ulaan Bataar</key>
	<string>Asia/Irkutsk</string>
	<key>Osaka\, Sapporo\, Tokyo</key>
	<string>Asia/Tokyo</string>
	<key>Seoul</key>
	<string>Asia/Seoul</string>
	<key>Darwin</key>
	<string>Australia/Darwin</string>
	<key>Yakutsk</key>
	<string>Asia/Yakutsk</string>
	<key>Brisbane</key>
	<string>Australia/Brisbane</string>
	<key>Guam\, Port Moresby</key>
	<string>Pacific/Guam</string>
	<key>Adelaide</key>
	<string>Australia/Adelaide</string>
	<key>Hobart</key>
	<string>Australia/Hobart</string>
	<key>Vladivostok</key>
	<string>Asia/Vladivostok</string>
	<key>Canberra, Melbourne, Sydney</key>
	<string>Australia/Sydney</string>
	<key>Magadan\, Solomon Is.\, New Caledonia</key>
	<string>Pacific/Guadalcanal</string>
	<key>Fiji\, Kamchatka\, Marshall Is.</key>
	<string>Pacific/Fiji</string>
	<key>Auckland\, Wellington</key>
	<string>Pacific/Auckland</string>
	<key>Nuku&apos;alofa</key>
	<string>Pacific/Tongatapu</string>
	<key>Cape Verde Is.</key>
	<string>Atlantic/Cape_Verde</string>
	<key>Mid-Atlantic</key>
	<string>Atlantic/South_Georgia</string>
	<key>Brasilia</key>
	<string>America/Sao_Paulo</string>
	<key>Greenland</key>
	<string>America/Godthab</string>
	<key>Newfoundland</key>
	<string>Canada/Newfoundland</string>
	<key>Atlantic Time (Canada)</key>
	<string>Canada/Atlantic</string>
	<key>Buenos Aires\, Georgetown</key>
	<string>America/Buenos_Aires</string>
	<key>Santiago</key>
	<string>America/Santiago</string>
	<key>Caracas\, La Paz</key>
	<string>America/Caracas</string>
	<key>Bogota\, Lima\, Quito</key>
	<string>America/Bogota</string>
	<key>Mexico City</key>
	<string>America/Mexico_City</string>
	<key>Indiana (East)</key>
	<string>America/Indianapolis</string>
	<key>Central America</key>
	<string>America/Costa_Rica</string>
	<key>Saskatchewan</key>
	<string>Canada/Saskatchewan</string>
	<key>Midway Island\, Samoa</key>
	<string>Pacific/Midway</string>
	<key>International Date Line West (Eniwetok, Kwajalein)</key>
	<string>Pacific/Kwajalein</string>
</dict>
</plist>
