<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.apple.sntpd</string>
	<key>Program</key>
	<string>/usr/sbin/sntpd</string>
	<key>ProcessType</key>
	<string>Interactive</string>
	<key>Disabled</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
	<key>RunAtLoad</key>
	<true/>
	<key>UserName</key>
	<string>_sntpd</string>
	<key>GroupName</key>
	<string>_sntpd</string>
	<key>WorkingDirectory</key>
	<string>/var/sntpd/</string>
</dict>
</plist>
