<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserName</key>
	<string>_cmiodalassistants</string>
	<key>GroupName</key>
	<string>_cmiodalassistants</string>
	<key>POSIXSpawnType</key>
	<string>Interactive</string>
	<key>MachServices</key>
	<dict>
		<key>com.apple.cmio.uvcassistantextension</key>
		<true/>
	</dict>
	<key>ProgramArguments</key>
	<array>
		<string>/System/Library/Frameworks/CoreMediaIO.framework/Versions/A/Resources/UVCAssistant.systemextension/Contents/MacOS/UVCAssistant</string>
	</array>
	<key>LaunchEvents</key>
	<dict>
		<key>com.apple.cmio.registerassistantservice.system-extensions.matching</key>
		<dict>
			<key>com.apple.cmio.uvcassistantextension</key>
			<dict>
				<key>CMIOExtensionBundleIdentifier</key>
				<string>com.apple.cmio.uvcassistantextension</string>
			</dict>
		</dict>
	</dict>
	<key>EnablePressuredExit</key>
	<true/>
	<key>Label</key>
	<string>com.apple.cmio.uvcassistantextension</string>
</dict>
</plist>
