<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MachServices</key>
	<dict>
		<key>com.apple.backupd-helper.status</key>
		<dict>
			<key>HideUntilCheckIn</key>
			<true/>
		</dict>
		<key>com.apple.TMCacheDelete</key>
		<true/>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.apple.backup.launcher</string>
	<key>Label</key>
	<string>com.apple.backupd-helper</string>
	<key>Disabled</key>
	<false/>
	<key>ProgramArguments</key>
	<array>
		<string>/System/Library/CoreServices/backupd.bundle/Contents/Resources/backupd-helper</string>
		<string>-launchd</string>
	</array>
	<key>LaunchEvents</key>
	<dict>
		<key>com.apple.diskarbitration</key>
		<dict>
			<key>com.apple.diskarbitration.DiskDisappeared</key>
			<dict>
				<key>DiskDisappeared</key>
				<true/>
			</dict>
			<key>com.apple.diskarbitration.DiskVolumePathChanged</key>
			<dict>
				<key>DiskVolumePathChanged</key>
				<true/>
			</dict>
		</dict>
		<key>com.apple.notifyd.matching</key>
		<dict>
			<key>com.apple.mobile.keybagd.lock_status</key>
			<dict>
				<key>Notification</key>
				<string>com.apple.mobile.keybagd.lock_status</string>
			</dict>
			<key>com.apple.powermanagement.systempowerstate</key>
			<dict>
				<key>Notification</key>
				<string>com.apple.powermanagement.systempowerstate</string>
			</dict>
			<key>com.apple.system.powersources.source</key>
			<dict>
				<key>Notification</key>
				<string>com.apple.system.powersources.source</string>
			</dict>
		</dict>
		<key>com.apple.xpc.activity</key>
		<dict>
			<key>com.apple.backupd-auto.dryspell</key>
			<dict>
				<key>Interval</key>
				<real>86400</real>
				<key>Delay</key>
				<integer>86400</integer>
				<key>Repeating</key>
				<true/>
				<key>AllowBattery</key>
				<true/>
				<key>PowerNap</key>
				<false/>
				<key>Priority</key>
				<string>Utility</string>
			</dict>
			<key>com.apple.backupd-auto.dryspell.test</key>
			<dict>
				<key>Interval</key>
				<integer>9223372036854775807</integer>
				<key>Delay</key>
				<integer>9223372036854775807</integer>
				<key>GracePeriod</key>
				<integer>0</integer>
				<key>Repeating</key>
				<true/>
				<key>AllowBattery</key>
				<true/>
				<key>PowerNap</key>
				<false/>
				<key>Priority</key>
				<string>Utility</string>
			</dict>
			<key>com.apple.backupd-auto</key>
			<dict>
				<key>Interval</key>
				<integer>3600</integer>
				<key>Delay</key>
				<integer>3600</integer>
				<key>GracePeriod</key>
				<integer>1800</integer>
				<key>Repeating</key>
				<true/>
				<key>AllowBattery</key>
				<true/>
				<key>PowerNap</key>
				<true/>
				<key>Priority</key>
				<string>Utility</string>
			</dict>
		</dict>
	</dict>
	<key>EnableTransactions</key>
	<true/>
	<key>POSIXSpawnType</key>
	<string>Background</string>
	<key>EnablePressuredExit</key>
	<true/>
	<key>StartOnMount</key>
	<false/>
</dict>
</plist>
