<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.apple.corekdld</string>
	<key>Program</key>
	<string>/System/Library/PrivateFrameworks/CoreKDL.framework/Support/corekdld</string>
	<key>ProcessType</key>
	<string>Adaptive</string>
	<key>EnablePressuredExit</key>
	<true/>
	<key>EnableTransactions</key>
	<true/>
	<key>LaunchEvents</key>
	<dict>
        <key>com.apple.remoteservicediscovery.events</key>
        <dict>
            <key>com.apple.corekdld.bridge</key>
            <dict>
                <key>DeviceType</key>
                <string>bridge</string>
                <key>AvailableService</key>
                <string>com.apple.CoreKDL.remoteXPC</string>
            </dict>
        </dict>
        <key>com.apple.iokit.matching</key>
        <dict>
            <key>com.apple.corekdld.driver</key>
            <dict>
                <key>IOProviderClass</key>
                <string>CoreKDLDriver</string>
                <key>IOPropertyExistsMatch</key>
                <string>KDLUpdateRequest</string>
                <key>IOMatchAll</key>
                <true/>
                <key>IOMatchLaunchStream</key>
                <true/>
            </dict>
        </dict>
        <key>com.apple.notifyd.matching</key>
		<dict>
			<key>com.apple.MobileAsset.KextDenyList.ma.new-asset-installed</key>
			<dict>
				<key>Notification</key>
				<string>com.apple.MobileAsset.KextDenyList.ma.new-asset-installed</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
