<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ProcessType</key>
	<string>Adaptive</string>
	<key>Label</key>
	<string>com.apple.timezoneupdates.tzd</string>
	<key>Program</key>
	<string>/usr/libexec/tzd</string>
	<key>KeepAlive</key>
	<dict>
		<key>PathState</key>
		<dict>
			<key>/var/db/timezone/TZVersionDiffRecord</key>
			<true/>
		</dict>
	</dict>
	<key>LaunchEvents</key>
	<dict>
		<key>com.apple.xpc.activity</key>
		<dict>
			<key>com.apple.timezoneupdates.stale-data-cleanup</key>
			<dict>
				<key>Priority</key>
				<string>Maintenance</string>
				<key>Repeating</key>
				<true/>
				<key>AllowBattery</key>
				<false/>
				<key>Interval</key>
				<integer>1209600</integer>
				<key>GracePeriod</key>
				<integer>604800</integer>
				<key>RequireNetworkConnectivity</key>
				<false/>
				<key>PowerNap</key>
				<true/>
				<key>ExpectedDuration</key>
				<integer>30</integer>
			</dict>
			<key>com.apple.timezoneupdates.local-asset-check</key>
			<dict>
				<key>Priority</key>
				<string>Maintenance</string>
				<key>Repeating</key>
				<true/>
				<key>AllowBattery</key>
				<true/>
				<key>Interval</key>
				<integer>86400</integer>
				<key>GracePeriod</key>
				<integer>43200</integer>
				<key>RequireNetworkConnectivity</key>
				<true/>
				<key>PowerNap</key>
				<true/>
				<key>ExpectedDuration</key>
				<integer>60</integer>
			</dict>
		</dict>
		<key>com.apple.notifyd.matching</key>
		<dict>
			<key>com.apple.MobileAsset.TimeZoneUpdate.ma.new-asset-installed</key>
			<dict>
				<key>Notification</key>
				<string>com.apple.MobileAsset.TimeZoneUpdate.ma.new-asset-installed</string>
			</dict>
			<key>com.apple.MobileAsset.TimeZoneUpdate.ma.cached-metadata-updated</key>
			<dict>
				<key>Notification</key>
				<string>com.apple.MobileAsset.TimeZoneUpdate.ma.cached-metadata-updated</string>
			</dict>
			<key>com.apple.timezonesync.idslaunchnotification</key>
			<dict>
				<key>Notification</key>
				<string>com.apple.timezonesync.idslaunchnotification</string>
			</dict>
		</dict>
	</dict>
	<key>MachServices</key>
	<dict>
		<key>com.apple.timezoneupdates.tzd.server</key>
		<true/>
		<key>com.apple.private.alloy.timezonesync-idswake</key>
		<true/>
	</dict>
	<key>EnablePressuredExit</key>
	<true/>
	<key>EnableTransactions</key>
	<true/>
</dict>
</plist>
