<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnablePressuredExit</key>
	<true/>
	<key>EnableTransactions</key>
	<true/>
	<key>Label</key>
	<string>com.apple.dt.fetchsymbolsd</string>
	<key>POSIXSpawnType</key>
	<string>Adaptive</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/libexec/dtfetchsymbolsd</string>
	</array>
	<key>RemoteServices</key>
	<dict>
		<key>com.apple.dt.remoteFetchSymbols</key>
		<dict>
			<key>RequireEntitlement</key>
			<string>com.apple.private.dt.remoteFetchSymbols.client</string>
			<key>ServiceProperties</key>
			<dict>
				<key>Features</key>
				<array>
					<string>com.apple.dt.remoteFetchSymbols.dyldSharedCacheFiles</string>
				</array>
				<key>ServiceVersion</key>
				<integer>1</integer>
				<key>UsesRemoteXPC</key>
				<true/>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
