<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnablePressuredExit</key>
	<true/>
	<key>EnableTransactions</key>
	<true/>
	<key>EnvironmentVariables</key>
	<dict>
		<key>__CFPREFERENCES_AVOID_DAEMON</key>
		<string>1</string>
		<key>__CF_USER_TEXT_ENCODING</key>
		<string>0x0:0:0</string>
	</dict>
	<key>Label</key>
	<string>com.apple.logd_helper</string>
	<key>MachServices</key>
	<dict>
		<key>com.apple.logd_helper</key>
		<true/>
	</dict>
	<key>POSIXSpawnType</key>
	<string>Interactive</string>
	<key>Program</key>
	<string>/usr/libexec/logd_helper</string>
</dict>
</plist>
