<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.apple.tracd</string>
	<key>Program</key>
	<string>/usr/libexec/tracd</string>
	<key>ProcessType</key>
	<string>Interactive</string>
	<key>MachServices</key>
	<dict>
		<key>com.apple.TrustedAccessory.XPC</key>
		<true/>
	</dict>
	<key>LaunchEvents</key>
	<dict>
		<key>com.apple.iokit.matching</key>
		<dict>
			<key>IOHIDInterface - Bluetooth</key>
			<dict>
				<key>IOProviderClass</key>
				<string>IOHIDInterface</string>
				<key>DeviceUsagePairs</key>
				<array>
					<dict>
						<key>DeviceUsage</key>
						<integer>75</integer>
						<key>DeviceUsagePage</key>
						<integer>65280</integer>
					</dict>
				</array>
				<key>ProductIDArray</key>
				<array>
					<integer>666</integer>
					<integer>671</integer>
				</array>
				<key>VendorID</key>
				<integer>76</integer>
				<key>IOMatchLaunchStream</key>
				<true/>
			</dict>
			<key>IOHIDInterface - USB</key>
			<dict>
				<key>IOProviderClass</key>
				<string>IOHIDInterface</string>
				<key>DeviceUsagePairs</key>
				<array>
					<dict>
						<key>DeviceUsage</key>
						<integer>75</integer>
						<key>DeviceUsagePage</key>
						<integer>65280</integer>
					</dict>
				</array>
				<key>ProductIDArray</key>
				<array>
					<integer>666</integer>
					<integer>671</integer>
				</array>
				<key>VendorID</key>
				<integer>1452</integer>
				<key>IOMatchLaunchStream</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>EnablePressuredExit</key>
	<true/>
	<key>EnableTransactions</key>
	<true/>
	<key>KeepAlive</key>
	<dict>
		<key>Crashed</key>
		<true/>
	</dict>
</dict>
</plist>
