<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnablePressuredExit</key>
	<true/>
	<key>EnableTransactions</key>
	<true/>
	<key>Label</key>
	<string>com.apple.dt.remotepairingdeviced</string>
	<key>LaunchEvents</key>
	<dict>
		<key>com.apple.notifyd.matching</key>
		<dict>
			<key>com.apple.mobile.keybagd.first_unlock</key>
			<dict>
				<key>Notification</key>
				<string>com.apple.mobile.keybagd.first_unlock</string>
			</dict>
		</dict>
		<key>com.apple.xpc.activity</key>
		<dict>
			<key>com.apple.dt.remotepairing.rollexpiredpairings</key>
			<dict>
				<key>Interval</key>
				<integer>86400</integer>
				<key>Priority</key>
				<string>Maintainence</string>
				<key>Repeating</key>
				<true/>
			</dict>
			<key>com.apple.dt.remotepairing.updatebonjour</key>
			<dict>
				<key>Interval</key>
				<integer>3600</integer>
				<key>Priority</key>
				<string>Utility</string>
				<key>Repeating</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>MachServices</key>
	<dict>
		<key>com.apple.remotepairingdevice.listener</key>
		<true/>
		<key>com.apple.remotepairingdevice.pairingmanagement</key>
		<true/>
	</dict>
	<key>ProcessType</key>
	<string>Interactive</string>
	<key>Program</key>
	<string>/usr/libexec/remotepairingdeviced</string>
	<key>RemoteServices</key>
	<dict>
		<key>com.apple.internal.devicecompute.CoreDeviceProxy</key>
		<dict>
			<key>RequireEntitlement</key>
			<string>AppleInternal</string>
			<key>ServiceProperties</key>
			<dict>
				<key>ServiceVersion</key>
				<integer>1</integer>
				<key>UsesRemoteXPC</key>
				<false/>
			</dict>
		</dict>
		<key>com.apple.internal.dt.coredevice.untrusted.tunnelservice</key>
		<dict>
			<key>ExposedToUntrustedDevices</key>
			<true/>
			<key>RequireEntitlement</key>
			<string>com.apple.dt.coredevice.tunnelservice.client</string>
			<key>ServiceProperties</key>
			<dict>
				<key>ServiceVersion</key>
				<integer>2</integer>
				<key>UsesRemoteXPC</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>Sockets</key>
	<dict>
		<key>TCPControlChannelSocket</key>
		<dict>
			<key>SockFamily</key>
			<string>IPv4v6</string>
			<key>SockProtocol</key>
			<string>TCP</string>
			<key>SockServiceName</key>
			<string>0</string>
		</dict>
	</dict>
	<key>_PanicOnCrash</key>
	<dict>
		<key>AutomationOnly</key>
		<true/>
		<key>PanicOnConsecutiveCrash</key>
		<true/>
	</dict>
</dict>
</plist>
