<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>comparisonWidth</key>
	<real>164</real>
	<key>properties</key>
	<array>
		<dict>
			<key>comparisons</key>
			<array>
				<dict>
					<key>comparison</key>
					<integer>8</integer>
					<key>entry</key>
					<string>text</string>
					<key>name</key>
					<string>SGCONTAINS</string>
					<key>type</key>
					<string>text</string>
				</dict>
				<dict>
					<key>comparison</key>
					<integer>13</integer>
					<key>entry</key>
					<string>text</string>
					<key>name</key>
					<string>SGNOTCONTAINS</string>
					<key>type</key>
					<string>text</string>
				</dict>
				<dict>
					<key>comparison</key>
					<integer>19</integer>
					<key>entry</key>
					<string>withinInterval</string>
					<key>name</key>
					<string>ABSG_NOT_CHANGED_IN</string>
					<key>type</key>
					<string>text</string>
				</dict>
				<dict>
					<key>comparison</key>
					<integer>17</integer>
					<key>entry</key>
					<string>withinInterval</string>
					<key>name</key>
					<string>ABSG_CHANGED_IN</string>
					<key>type</key>
					<string>text</string>
				</dict>
				<dict>
					<key>comparison</key>
					<integer>5</integer>
					<key>entry</key>
					<string>absdate</string>
					<key>name</key>
					<string>ABSG_UPDATED_AFTER</string>
					<key>type</key>
					<string>date</string>
				</dict>
				<dict>
					<key>comparison</key>
					<integer>25</integer>
					<key>entry</key>
					<string>groupPopup</string>
					<key>name</key>
					<string>SGMEMBEROF</string>
					<key>type</key>
					<string>menu</string>
				</dict>
				<dict>
					<key>comparison</key>
					<integer>26</integer>
					<key>entry</key>
					<string>groupPopup</string>
					<key>name</key>
					<string>SGNOTMEMBEROF</string>
					<key>type</key>
					<string>menu</string>
				</dict>
			</array>
			<key>compositeProperty</key>
			<true/>
			<key>name</key>
			<string>SG_CARD_PROPERTY</string>
			<key>order</key>
			<array>
				<string>property</string>
				<string>comparison</string>
				<string>entry</string>
			</array>
			<key>property</key>
			<string>SG_CARD_PROPERTY</string>
		</dict>
		<dict>
			<key>comparisons</key>
			<array>
				<dict>
					<key>comparison</key>
					<integer>8</integer>
					<key>entry</key>
					<string>text</string>
					<key>name</key>
					<string>SGCONTAINS</string>
					<key>type</key>
					<string>text</string>
				</dict>
				<dict>
					<key>comparison</key>
					<integer>13</integer>
					<key>entry</key>
					<string>text</string>
					<key>name</key>
					<string>SGNOTCONTAINS</string>
					<key>type</key>
					<string>text</string>
				</dict>
				<dict>
					<key>comparison</key>
					<integer>6</integer>
					<key>entry</key>
					<string>text</string>
					<key>name</key>
					<string>SGEQUALS</string>
					<key>order</key>
					<array>
						<string>property</string>
						<string>comparison</string>
						<string>entry</string>
					</array>
					<key>type</key>
					<string>text</string>
				</dict>
				<dict>
					<key>comparison</key>
					<integer>14</integer>
					<key>entry</key>
					<string>text</string>
					<key>name</key>
					<string>SGNOTEQUALS</string>
					<key>order</key>
					<array>
						<string>property</string>
						<string>comparison</string>
						<string>entry</string>
					</array>
					<key>type</key>
					<string>text</string>
				</dict>
				<dict>
					<key>comparison</key>
					<integer>1</integer>
					<key>entry</key>
					<string>none</string>
					<key>name</key>
					<string>SG_IS_SET</string>
					<key>type</key>
					<string>text</string>
				</dict>
				<dict>
					<key>comparison</key>
					<integer>0</integer>
					<key>entry</key>
					<string>none</string>
					<key>name</key>
					<string>SG_IS_NOT_SET</string>
					<key>type</key>
					<string>text</string>
				</dict>
			</array>
			<key>compositeProperty</key>
			<true/>
			<key>name</key>
			<string>SG_NAME_PROPERTY</string>
			<key>order</key>
			<array>
				<string>property</string>
				<string>comparison</string>
				<string>entry</string>
			</array>
			<key>property</key>
			<string>SG_NAME_PROPERTY</string>
		</dict>
		<dict>
			<key>comparisons</key>
			<array>
				<dict>
					<key>comparison</key>
					<integer>8</integer>
					<key>entry</key>
					<string>text</string>
					<key>name</key>
					<string>SGCONTAINS</string>
					<key>type</key>
					<string>text</string>
				</dict>
				<dict>
					<key>comparison</key>
					<integer>13</integer>
					<key>entry</key>
					<string>text</string>
					<key>name</key>
					<string>SGNOTCONTAINS</string>
					<key>type</key>
					<string>text</string>
				</dict>
				<dict>
					<key>comparison</key>
					<integer>6</integer>
					<key>entry</key>
					<string>text</string>
					<key>name</key>
					<string>SGEQUALS</string>
					<key>order</key>
					<array>
						<string>property</string>
						<string>comparison</string>
						<string>entry</string>
					</array>
					<key>type</key>
					<string>text</string>
				</dict>
				<dict>
					<key>comparison</key>
					<integer>14</integer>
					<key>entry</key>
					<string>text</string>
					<key>name</key>
					<string>SGNOTEQUALS</string>
					<key>order</key>
					<array>
						<string>property</string>
						<string>comparison</string>
						<string>entry</string>
					</array>
					<key>type</key>
					<string>text</string>
				</dict>
				<dict>
					<key>comparison</key>
					<integer>1</integer>
					<key>entry</key>
					<string>none</string>
					<key>name</key>
					<string>SG_IS_SET</string>
					<key>type</key>
					<string>text</string>
				</dict>
				<dict>
					<key>comparison</key>
					<integer>0</integer>
					<key>entry</key>
					<string>none</string>
					<key>name</key>
					<string>SG_IS_NOT_SET</string>
					<key>type</key>
					<string>text</string>
				</dict>
			</array>
			<key>name</key>
			<string>SGORGANIZATION</string>
			<key>order</key>
			<array>
				<string>property</string>
				<string>comparison</string>
				<string>entry</string>
			</array>
			<key>property</key>
			<string>Organization</string>
		</dict>
		<dict>
			<key>comparisons</key>
			<array>
				<dict>
					<key>comparison</key>
					<integer>8</integer>
					<key>entry</key>
					<string>text</string>
					<key>name</key>
					<string>SGCONTAINS</string>
					<key>type</key>
					<string>text</string>
				</dict>
				<dict>
					<key>comparison</key>
					<integer>13</integer>
					<key>entry</key>
					<string>text</string>
					<key>name</key>
					<string>SGNOTCONTAINS</string>
					<key>type</key>
					<string>text</string>
				</dict>
				<dict>
					<key>comparison</key>
					<integer>6</integer>
					<key>entry</key>
					<string>text</string>
					<key>name</key>
					<string>SGEQUALS</string>
					<key>order</key>
					<array>
						<string>property</string>
						<string>comparison</string>
						<string>entry</string>
					</array>
					<key>type</key>
					<string>text</string>
				</dict>
				<dict>
					<key>comparison</key>
					<integer>14</integer>
					<key>entry</key>
					<string>text</string>
					<key>name</key>
					<string>SGNOTEQUALS</string>
					<key>order</key>
					<array>
						<string>property</string>
						<string>comparison</string>
						<string>entry</string>
					</array>
					<key>type</key>
					<string>text</string>
				</dict>
				<dict>
					<key>comparison</key>
					<integer>1</integer>
					<key>entry</key>
					<string>none</string>
					<key>name</key>
					<string>SG_IS_SET</string>
					<key>type</key>
					<string>text</string>
				</dict>
				<dict>
					<key>comparison</key>
					<integer>0</integer>
					<key>entry</key>
					<string>none</string>
					<key>name</key>
					<string>SG_IS_NOT_SET</string>
					<key>type</key>
					<string>text</string>
				</dict>
			</array>
			<key>name</key>
			<string>SGDEPARTMENT</string>
			<key>order</key>
			<array>
				<string>property</string>
				<string>comparison</string>
				<string>entry</string>
			</array>
			<key>property</key>
			<string>ABDepartment</string>
		</dict>
		<dict>
			<key>comparisons</key>
			<array>
				<dict>
					<key>comparison</key>
					<integer>8</integer>
					<key>entry</key>
					<string>text</string>
					<key>name</key>
					<string>SGCONTAINS</string>
					<key>type</key>
					<string>text</string>
				</dict>
				<dict>
					<key>comparison</key>
					<integer>13</integer>
					<key>entry</key>
					<string>text</string>
					<key>name</key>
					<string>SGNOTCONTAINS</string>
					<key>type</key>
					<string>text</string>
				</dict>
				<dict>
					<key>comparison</key>
					<integer>6</integer>
					<key>entry</key>
					<string>text</string>
					<key>name</key>
					<string>SGEQUALS</string>
					<key>type</key>
					<string>text</string>
				</dict>
				<dict>
					<key>comparison</key>
					<integer>14</integer>
					<key>entry</key>
					<string>text</string>
					<key>name</key>
					<string>SGNOTEQUALS</string>
					<key>type</key>
					<string>text</string>
				</dict>
				<dict>
					<key>comparison</key>
					<integer>10</integer>
					<key>entry</key>
					<string>text</string>
					<key>name</key>
					<string>SGPREFIX</string>
					<key>type</key>
					<string>text</string>
				</dict>
				<dict>
					<key>comparison</key>
					<integer>16</integer>
					<key>entry</key>
					<string>text</string>
					<key>name</key>
					<string>SGSUFFIX</string>
					<key>type</key>
					<string>text</string>
				</dict>
				<dict>
					<key>comparison</key>
					<integer>1</integer>
					<key>entry</key>
					<string>none</string>
					<key>name</key>
					<string>SG_IS_SET</string>
					<key>type</key>
					<string>text</string>
				</dict>
				<dict>
					<key>comparison</key>
					<integer>0</integer>
					<key>entry</key>
					<string>none</string>
					<key>name</key>
					<string>SG_IS_NOT_SET</string>
					<key>type</key>
					<string>text</string>
				</dict>
			</array>
			<key>name</key>
			<string>SGPHONE</string>
			<key>order</key>
			<array>
				<string>property</string>
				<string>comparison</string>
				<string>entry</string>
			</array>
			<key>property</key>
			<string>Phone</string>
		</dict>
		<dict>
			<key>comparisons</key>
			<array>
				<dict>
					<key>comparison</key>
					<integer>8</integer>
					<key>entry</key>
					<string>text</string>
					<key>name</key>
					<string>SGCONTAINS</string>
					<key>type</key>
					<string>text</string>
				</dict>
				<dict>
					<key>comparison</key>
					<integer>13</integer>
					<key>entry</key>
					<string>text</string>
					<key>name</key>
					<string>SGNOTCONTAINS</string>
					<key>type</key>
					<string>text</string>
				</dict>
				<dict>
					<key>comparison</key>
					<integer>6</integer>
					<key>entry</key>
					<string>text</string>
					<key>name</key>
					<string>SGEQUALS</string>
					<key>type</key>
					<string>text</string>
				</dict>
				<dict>
					<key>comparison</key>
					<integer>14</integer>
					<key>entry</key>
					<string>text</string>
					<key>name</key>
					<string>SGNOTEQUALS</string>
					<key>type</key>
					<string>text</string>
				</dict>
				<dict>
					<key>comparison</key>
					<integer>10</integer>
					<key>entry</key>
					<string>text</string>
					<key>name</key>
					<string>SGPREFIX</string>
					<key>type</key>
					<string>text</string>
				</dict>
				<dict>
					<key>comparison</key>
					<integer>16</integer>
					<key>entry</key>
					<string>text</string>
					<key>name</key>
					<string>SGSUFFIX</string>
					<key>type</key>
					<string>text</string>
				</dict>
				<dict>
					<key>comparison</key>
					<integer>1</integer>
					<key>entry</key>
					<string>none</string>
					<key>name</key>
					<string>SG_IS_SET</string>
					<key>type</key>
					<string>text</string>
				</dict>
				<dict>
					<key>comparison</key>
					<integer>0</integer>
					<key>entry</key>
					<string>none</string>
					<key>name</key>
					<string>SG_IS_NOT_SET</string>
					<key>type</key>
					<string>text</string>
				</dict>
			</array>
			<key>name</key>
			<string>SGEMAIL</string>
			<key>order</key>
			<array>
				<string>property</string>
				<string>comparison</string>
				<string>entry</string>
			</array>
			<key>property</key>
			<string>Email</string>
		</dict>
		<dict>
			<key>comparisons</key>
			<array>
				<dict>
					<key>comparison</key>
					<integer>8</integer>
					<key>entry</key>
					<string>text</string>
					<key>name</key>
					<string>SGCONTAINS</string>
					<key>type</key>
					<string>text</string>
				</dict>
				<dict>
					<key>comparison</key>
					<integer>13</integer>
					<key>entry</key>
					<string>text</string>
					<key>name</key>
					<string>SGNOTCONTAINS</string>
					<key>type</key>
					<string>text</string>
				</dict>
				<dict>
					<key>comparison</key>
					<integer>6</integer>
					<key>entry</key>
					<string>text</string>
					<key>name</key>
					<string>SGEQUALS</string>
					<key>type</key>
					<string>text</string>
				</dict>
				<dict>
					<key>comparison</key>
					<integer>14</integer>
					<key>entry</key>
					<string>text</string>
					<key>name</key>
					<string>SGNOTEQUALS</string>
					<key>type</key>
					<string>text</string>
				</dict>
				<dict>
					<key>comparison</key>
					<integer>10</integer>
					<key>entry</key>
					<string>text</string>
					<key>name</key>
					<string>SGPREFIX</string>
					<key>type</key>
					<string>text</string>
				</dict>
				<dict>
					<key>comparison</key>
					<integer>16</integer>
					<key>entry</key>
					<string>text</string>
					<key>name</key>
					<string>SGSUFFIX</string>
					<key>type</key>
					<string>text</string>
				</dict>
				<dict>
					<key>comparison</key>
					<integer>1</integer>
					<key>entry</key>
					<string>none</string>
					<key>name</key>
					<string>SG_IS_SET</string>
					<key>type</key>
					<string>text</string>
				</dict>
				<dict>
					<key>comparison</key>
					<integer>0</integer>
					<key>entry</key>
					<string>none</string>
					<key>name</key>
					<string>SG_IS_NOT_SET</string>
					<key>type</key>
					<string>text</string>
				</dict>
			</array>
			<key>name</key>
			<string>SGURL</string>
			<key>order</key>
			<array>
				<string>property</string>
				<string>comparison</string>
				<string>entry</string>
			</array>
			<key>property</key>
			<string>URLs</string>
		</dict>
		<dict>
			<key>comparisons</key>
			<array>
				<dict>
					<key>comparison</key>
					<integer>8</integer>
					<key>entry</key>
					<string>text</string>
					<key>name</key>
					<string>SGCONTAINS</string>
					<key>type</key>
					<string>text</string>
				</dict>
				<dict>
					<key>comparison</key>
					<integer>13</integer>
					<key>entry</key>
					<string>text</string>
					<key>name</key>
					<string>SGNOTCONTAINS</string>
					<key>type</key>
					<string>text</string>
				</dict>
				<dict>
					<key>comparison</key>
					<integer>6</integer>
					<key>entry</key>
					<string>text</string>
					<key>name</key>
					<string>SGEQUALS</string>
					<key>type</key>
					<string>text</string>
				</dict>
				<dict>
					<key>comparison</key>
					<integer>14</integer>
					<key>entry</key>
					<string>text</string>
					<key>name</key>
					<string>SGNOTEQUALS</string>
					<key>type</key>
					<string>text</string>
				</dict>
				<dict>
					<key>comparison</key>
					<integer>10</integer>
					<key>entry</key>
					<string>text</string>
					<key>name</key>
					<string>SGPREFIX</string>
					<key>type</key>
					<string>text</string>
				</dict>
				<dict>
					<key>comparison</key>
					<integer>16</integer>
					<key>entry</key>
					<string>text</string>
					<key>name</key>
					<string>SGSUFFIX</string>
					<key>type</key>
					<string>text</string>
				</dict>
				<dict>
					<key>comparison</key>
					<integer>1</integer>
					<key>entry</key>
					<string>none</string>
					<key>name</key>
					<string>SG_IS_SET</string>
					<key>type</key>
					<string>text</string>
				</dict>
				<dict>
					<key>comparison</key>
					<integer>0</integer>
					<key>entry</key>
					<string>none</string>
					<key>name</key>
					<string>SG_IS_NOT_SET</string>
					<key>type</key>
					<string>text</string>
				</dict>
			</array>
			<key>compositeProperty</key>
			<true/>
			<key>name</key>
			<string>SG_IM_PROPERTY</string>
			<key>order</key>
			<array>
				<string>property</string>
				<string>comparison</string>
				<string>entry</string>
			</array>
			<key>property</key>
			<string>SG_IM_PROPERTY</string>
		</dict>
		<dict>
			<key>comparisons</key>
			<array>
				<dict>
					<key>comparison</key>
					<integer>22</integer>
					<key>entry</key>
					<string>withinInterval</string>
					<key>name</key>
					<string>SG_IS_IN_THE_NEXT</string>
					<key>type</key>
					<string>text</string>
					<key>yearless</key>
					<true/>
				</dict>
				<dict>
					<key>comparison</key>
					<integer>18</integer>
					<key>entry</key>
					<string>withinInterval</string>
					<key>name</key>
					<string>SG_IS_WITHIN</string>
					<key>type</key>
					<string>text</string>
					<key>yearless</key>
					<true/>
				</dict>
				<dict>
					<key>comparison</key>
					<integer>20</integer>
					<key>entry</key>
					<string>withinInterval</string>
					<key>name</key>
					<string>SG_IS_NOT_WITHIN</string>
					<key>type</key>
					<string>text</string>
					<key>yearless</key>
					<true/>
				</dict>
				<dict>
					<key>comparison</key>
					<integer>1</integer>
					<key>entry</key>
					<string>none</string>
					<key>name</key>
					<string>SG_IS_SET</string>
					<key>type</key>
					<string>text</string>
				</dict>
				<dict>
					<key>comparison</key>
					<integer>0</integer>
					<key>entry</key>
					<string>none</string>
					<key>name</key>
					<string>SG_IS_NOT_SET</string>
					<key>type</key>
					<string>text</string>
				</dict>
			</array>
			<key>name</key>
			<string>SGBIRTHDAY</string>
			<key>order</key>
			<array>
				<string>property</string>
				<string>comparison</string>
				<string>entry</string>
			</array>
			<key>property</key>
			<string>Birthday</string>
		</dict>
		<dict>
			<key>comparisons</key>
			<array>
				<dict>
					<key>comparison</key>
					<integer>22</integer>
					<key>entry</key>
					<string>withinInterval</string>
					<key>name</key>
					<string>SG_IS_IN_THE_NEXT</string>
					<key>type</key>
					<string>text</string>
					<key>yearless</key>
					<true/>
				</dict>
				<dict>
					<key>comparison</key>
					<integer>18</integer>
					<key>entry</key>
					<string>withinInterval</string>
					<key>name</key>
					<string>SG_IS_WITHIN</string>
					<key>type</key>
					<string>text</string>
					<key>yearless</key>
					<true/>
				</dict>
				<dict>
					<key>comparison</key>
					<integer>20</integer>
					<key>entry</key>
					<string>withinInterval</string>
					<key>name</key>
					<string>SG_IS_NOT_WITHIN</string>
					<key>type</key>
					<string>text</string>
					<key>yearless</key>
					<true/>
				</dict>
				<dict>
					<key>comparison</key>
					<integer>1</integer>
					<key>entry</key>
					<string>none</string>
					<key>name</key>
					<string>SG_IS_SET</string>
					<key>type</key>
					<string>text</string>
				</dict>
				<dict>
					<key>comparison</key>
					<integer>0</integer>
					<key>entry</key>
					<string>none</string>
					<key>name</key>
					<string>SG_IS_NOT_SET</string>
					<key>type</key>
					<string>text</string>
				</dict>
			</array>
			<key>compositeProperty</key>
			<true/>
			<key>name</key>
			<string>SG_ANNIVERSARY_PROPERTY</string>
			<key>order</key>
			<array>
				<string>property</string>
				<string>comparison</string>
				<string>entry</string>
			</array>
			<key>property</key>
			<string>SG_ANNIVERSARY_PROPERTY</string>
		</dict>
		<dict>
			<key>comparisons</key>
			<array>
				<dict>
					<key>comparison</key>
					<integer>22</integer>
					<key>entry</key>
					<string>withinInterval</string>
					<key>name</key>
					<string>SG_IS_IN_THE_NEXT</string>
					<key>type</key>
					<string>text</string>
				</dict>
				<dict>
					<key>comparison</key>
					<integer>18</integer>
					<key>entry</key>
					<string>withinInterval</string>
					<key>name</key>
					<string>SG_IS_WITHIN</string>
					<key>type</key>
					<string>text</string>
				</dict>
				<dict>
					<key>comparison</key>
					<integer>20</integer>
					<key>entry</key>
					<string>withinInterval</string>
					<key>name</key>
					<string>SG_IS_NOT_WITHIN</string>
					<key>type</key>
					<string>text</string>
				</dict>
				<dict>
					<key>comparison</key>
					<integer>1</integer>
					<key>entry</key>
					<string>none</string>
					<key>name</key>
					<string>SG_IS_SET</string>
					<key>type</key>
					<string>text</string>
				</dict>
				<dict>
					<key>comparison</key>
					<integer>0</integer>
					<key>entry</key>
					<string>none</string>
					<key>name</key>
					<string>SG_IS_NOT_SET</string>
					<key>type</key>
					<string>text</string>
				</dict>
			</array>
			<key>name</key>
			<string>SGDATE</string>
			<key>order</key>
			<array>
				<string>property</string>
				<string>comparison</string>
				<string>entry</string>
			</array>
			<key>property</key>
			<string>ABDate</string>
		</dict>
		<dict>
			<key>comparisons</key>
			<array>
				<dict>
					<key>comparison</key>
					<integer>8</integer>
					<key>entry</key>
					<string>text</string>
					<key>name</key>
					<string>SGCONTAINS</string>
					<key>type</key>
					<string>text</string>
				</dict>
				<dict>
					<key>comparison</key>
					<integer>13</integer>
					<key>entry</key>
					<string>text</string>
					<key>name</key>
					<string>SGNOTCONTAINS</string>
					<key>type</key>
					<string>text</string>
				</dict>
				<dict>
					<key>comparison</key>
					<integer>1</integer>
					<key>entry</key>
					<string>none</string>
					<key>name</key>
					<string>SG_IS_SET</string>
					<key>type</key>
					<string>text</string>
				</dict>
				<dict>
					<key>comparison</key>
					<integer>0</integer>
					<key>entry</key>
					<string>none</string>
					<key>name</key>
					<string>SG_IS_NOT_SET</string>
					<key>type</key>
					<string>text</string>
				</dict>
			</array>
			<key>compositeProperty</key>
			<true/>
			<key>name</key>
			<string>SG_ADDRESS_PROPERTY</string>
			<key>order</key>
			<array>
				<string>property</string>
				<string>comparison</string>
				<string>entry</string>
			</array>
			<key>property</key>
			<string>SG_ADDRESS_PROPERTY</string>
		</dict>
		<dict>
			<key>comparisons</key>
			<array>
				<dict>
					<key>comparison</key>
					<integer>8</integer>
					<key>entry</key>
					<string>text</string>
					<key>name</key>
					<string>SGCONTAINS</string>
					<key>type</key>
					<string>text</string>
				</dict>
				<dict>
					<key>comparison</key>
					<integer>13</integer>
					<key>entry</key>
					<string>text</string>
					<key>name</key>
					<string>SGNOTCONTAINS</string>
					<key>type</key>
					<string>text</string>
				</dict>
				<dict>
					<key>comparison</key>
					<integer>6</integer>
					<key>entry</key>
					<string>text</string>
					<key>name</key>
					<string>SGEQUALS</string>
					<key>type</key>
					<string>text</string>
				</dict>
				<dict>
					<key>comparison</key>
					<integer>14</integer>
					<key>entry</key>
					<string>text</string>
					<key>name</key>
					<string>SGNOTEQUALS</string>
					<key>type</key>
					<string>text</string>
				</dict>
				<dict>
					<key>comparison</key>
					<integer>1</integer>
					<key>entry</key>
					<string>none</string>
					<key>name</key>
					<string>SG_IS_SET</string>
					<key>type</key>
					<string>text</string>
				</dict>
				<dict>
					<key>comparison</key>
					<integer>0</integer>
					<key>entry</key>
					<string>none</string>
					<key>name</key>
					<string>SG_IS_NOT_SET</string>
					<key>type</key>
					<string>text</string>
				</dict>
			</array>
			<key>compositeProperty</key>
			<true/>
			<key>name</key>
			<string>SG_CITY_PROPERTY</string>
			<key>order</key>
			<array>
				<string>property</string>
				<string>comparison</string>
				<string>entry</string>
			</array>
			<key>property</key>
			<string>SG_CITY_PROPERTY</string>
		</dict>
		<dict>
			<key>comparisons</key>
			<array>
				<dict>
					<key>comparison</key>
					<integer>8</integer>
					<key>entry</key>
					<string>text</string>
					<key>name</key>
					<string>SGCONTAINS</string>
					<key>type</key>
					<string>text</string>
				</dict>
				<dict>
					<key>comparison</key>
					<integer>13</integer>
					<key>entry</key>
					<string>text</string>
					<key>name</key>
					<string>SGNOTCONTAINS</string>
					<key>type</key>
					<string>text</string>
				</dict>
				<dict>
					<key>comparison</key>
					<integer>6</integer>
					<key>entry</key>
					<string>text</string>
					<key>name</key>
					<string>SGEQUALS</string>
					<key>type</key>
					<string>text</string>
				</dict>
				<dict>
					<key>comparison</key>
					<integer>14</integer>
					<key>entry</key>
					<string>text</string>
					<key>name</key>
					<string>SGNOTEQUALS</string>
					<key>type</key>
					<string>text</string>
				</dict>
				<dict>
					<key>comparison</key>
					<integer>1</integer>
					<key>entry</key>
					<string>none</string>
					<key>name</key>
					<string>SG_IS_SET</string>
					<key>type</key>
					<string>text</string>
				</dict>
				<dict>
					<key>comparison</key>
					<integer>0</integer>
					<key>entry</key>
					<string>none</string>
					<key>name</key>
					<string>SG_IS_NOT_SET</string>
					<key>type</key>
					<string>text</string>
				</dict>
			</array>
			<key>compositeProperty</key>
			<true/>
			<key>name</key>
			<string>SG_STATE_PROPERTY</string>
			<key>order</key>
			<array>
				<string>property</string>
				<string>comparison</string>
				<string>entry</string>
			</array>
			<key>property</key>
			<string>SG_STATE_PROPERTY</string>
		</dict>
		<dict>
			<key>comparisons</key>
			<array>
				<dict>
					<key>comparison</key>
					<integer>8</integer>
					<key>entry</key>
					<string>text</string>
					<key>name</key>
					<string>SGCONTAINS</string>
					<key>type</key>
					<string>text</string>
				</dict>
				<dict>
					<key>comparison</key>
					<integer>13</integer>
					<key>entry</key>
					<string>text</string>
					<key>name</key>
					<string>SGNOTCONTAINS</string>
					<key>type</key>
					<string>text</string>
				</dict>
				<dict>
					<key>comparison</key>
					<integer>6</integer>
					<key>entry</key>
					<string>text</string>
					<key>name</key>
					<string>SGEQUALS</string>
					<key>type</key>
					<string>text</string>
				</dict>
				<dict>
					<key>comparison</key>
					<integer>14</integer>
					<key>entry</key>
					<string>text</string>
					<key>name</key>
					<string>SGNOTEQUALS</string>
					<key>type</key>
					<string>text</string>
				</dict>
				<dict>
					<key>comparison</key>
					<integer>1</integer>
					<key>entry</key>
					<string>none</string>
					<key>name</key>
					<string>SG_IS_SET</string>
					<key>type</key>
					<string>text</string>
				</dict>
				<dict>
					<key>comparison</key>
					<integer>0</integer>
					<key>entry</key>
					<string>none</string>
					<key>name</key>
					<string>SG_IS_NOT_SET</string>
					<key>type</key>
					<string>text</string>
				</dict>
			</array>
			<key>name</key>
			<string>SGNOTE</string>
			<key>order</key>
			<array>
				<string>property</string>
				<string>comparison</string>
				<string>entry</string>
			</array>
			<key>property</key>
			<string>Note</string>
		</dict>
		<dict>
			<key>comparisons</key>
			<array>
				<dict>
					<key>comparison</key>
					<integer>8</integer>
					<key>entry</key>
					<string>text</string>
					<key>name</key>
					<string>SGCONTAINS</string>
					<key>type</key>
					<string>text</string>
				</dict>
				<dict>
					<key>comparison</key>
					<integer>13</integer>
					<key>entry</key>
					<string>text</string>
					<key>name</key>
					<string>SGNOTCONTAINS</string>
					<key>type</key>
					<string>text</string>
				</dict>
				<dict>
					<key>comparison</key>
					<integer>6</integer>
					<key>entry</key>
					<string>text</string>
					<key>name</key>
					<string>SGEQUALS</string>
					<key>type</key>
					<string>text</string>
				</dict>
				<dict>
					<key>comparison</key>
					<integer>14</integer>
					<key>entry</key>
					<string>text</string>
					<key>name</key>
					<string>SGNOTEQUALS</string>
					<key>type</key>
					<string>text</string>
				</dict>
				<dict>
					<key>comparison</key>
					<integer>1</integer>
					<key>entry</key>
					<string>none</string>
					<key>name</key>
					<string>SG_IS_SET</string>
					<key>type</key>
					<string>text</string>
				</dict>
				<dict>
					<key>comparison</key>
					<integer>0</integer>
					<key>entry</key>
					<string>none</string>
					<key>name</key>
					<string>SG_IS_NOT_SET</string>
					<key>type</key>
					<string>text</string>
				</dict>
			</array>
			<key>inOther</key>
			<true/>
			<key>name</key>
			<string>SGFIRST</string>
			<key>order</key>
			<array>
				<string>property</string>
				<string>comparison</string>
				<string>entry</string>
			</array>
			<key>property</key>
			<string>First</string>
		</dict>
		<dict>
			<key>comparisons</key>
			<array>
				<dict>
					<key>comparison</key>
					<integer>8</integer>
					<key>entry</key>
					<string>text</string>
					<key>name</key>
					<string>SGCONTAINS</string>
					<key>type</key>
					<string>text</string>
				</dict>
				<dict>
					<key>comparison</key>
					<integer>13</integer>
					<key>entry</key>
					<string>text</string>
					<key>name</key>
					<string>SGNOTCONTAINS</string>
					<key>type</key>
					<string>text</string>
				</dict>
				<dict>
					<key>comparison</key>
					<integer>6</integer>
					<key>entry</key>
					<string>text</string>
					<key>name</key>
					<string>SGEQUALS</string>
					<key>type</key>
					<string>text</string>
				</dict>
				<dict>
					<key>comparison</key>
					<integer>14</integer>
					<key>entry</key>
					<string>text</string>
					<key>name</key>
					<string>SGNOTEQUALS</string>
					<key>type</key>
					<string>text</string>
				</dict>
				<dict>
					<key>comparison</key>
					<integer>1</integer>
					<key>entry</key>
					<string>none</string>
					<key>name</key>
					<string>SG_IS_SET</string>
					<key>type</key>
					<string>text</string>
				</dict>
				<dict>
					<key>comparison</key>
					<integer>0</integer>
					<key>entry</key>
					<string>none</string>
					<key>name</key>
					<string>SG_IS_NOT_SET</string>
					<key>type</key>
					<string>text</string>
				</dict>
			</array>
			<key>inOther</key>
			<true/>
			<key>name</key>
			<string>SGLAST</string>
			<key>order</key>
			<array>
				<string>property</string>
				<string>comparison</string>
				<string>entry</string>
			</array>
			<key>property</key>
			<string>Last</string>
		</dict>
		<dict>
			<key>comparisons</key>
			<array>
				<dict>
					<key>comparison</key>
					<integer>8</integer>
					<key>entry</key>
					<string>text</string>
					<key>name</key>
					<string>SGCONTAINS</string>
					<key>type</key>
					<string>text</string>
				</dict>
				<dict>
					<key>comparison</key>
					<integer>13</integer>
					<key>entry</key>
					<string>text</string>
					<key>name</key>
					<string>SGNOTCONTAINS</string>
					<key>type</key>
					<string>text</string>
				</dict>
				<dict>
					<key>comparison</key>
					<integer>6</integer>
					<key>entry</key>
					<string>text</string>
					<key>name</key>
					<string>SGEQUALS</string>
					<key>type</key>
					<string>text</string>
				</dict>
				<dict>
					<key>comparison</key>
					<integer>14</integer>
					<key>entry</key>
					<string>text</string>
					<key>name</key>
					<string>SGNOTEQUALS</string>
					<key>type</key>
					<string>text</string>
				</dict>
				<dict>
					<key>comparison</key>
					<integer>1</integer>
					<key>entry</key>
					<string>none</string>
					<key>name</key>
					<string>SG_IS_SET</string>
					<key>type</key>
					<string>text</string>
				</dict>
				<dict>
					<key>comparison</key>
					<integer>0</integer>
					<key>entry</key>
					<string>none</string>
					<key>name</key>
					<string>SG_IS_NOT_SET</string>
					<key>type</key>
					<string>text</string>
				</dict>
			</array>
			<key>inOther</key>
			<true/>
			<key>name</key>
			<string>SGMIDDLE</string>
			<key>order</key>
			<array>
				<string>property</string>
				<string>comparison</string>
				<string>entry</string>
			</array>
			<key>property</key>
			<string>Middle</string>
		</dict>
		<dict>
			<key>comparisons</key>
			<array>
				<dict>
					<key>comparison</key>
					<integer>8</integer>
					<key>entry</key>
					<string>text</string>
					<key>name</key>
					<string>SGCONTAINS</string>
					<key>type</key>
					<string>text</string>
				</dict>
				<dict>
					<key>comparison</key>
					<integer>13</integer>
					<key>entry</key>
					<string>text</string>
					<key>name</key>
					<string>SGNOTCONTAINS</string>
					<key>type</key>
					<string>text</string>
				</dict>
				<dict>
					<key>comparison</key>
					<integer>6</integer>
					<key>entry</key>
					<string>text</string>
					<key>name</key>
					<string>SGEQUALS</string>
					<key>type</key>
					<string>text</string>
				</dict>
				<dict>
					<key>comparison</key>
					<integer>14</integer>
					<key>entry</key>
					<string>text</string>
					<key>name</key>
					<string>SGNOTEQUALS</string>
					<key>type</key>
					<string>text</string>
				</dict>
				<dict>
					<key>comparison</key>
					<integer>1</integer>
					<key>entry</key>
					<string>none</string>
					<key>name</key>
					<string>SG_IS_SET</string>
					<key>type</key>
					<string>text</string>
				</dict>
				<dict>
					<key>comparison</key>
					<integer>0</integer>
					<key>entry</key>
					<string>none</string>
					<key>name</key>
					<string>SG_IS_NOT_SET</string>
					<key>type</key>
					<string>text</string>
				</dict>
			</array>
			<key>compositeProperty</key>
			<true/>
			<key>inOther</key>
			<true/>
			<key>name</key>
			<string>SG_ZIP_PROPERTY</string>
			<key>order</key>
			<array>
				<string>property</string>
				<string>comparison</string>
				<string>entry</string>
			</array>
			<key>property</key>
			<string>SG_ZIP_PROPERTY</string>
		</dict>
	</array>
	<key>propertyWidth</key>
	<real>120</real>
</dict>
</plist>
