<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.apple.InstallerDiagnostics.installerdiagwatcher</string>
	<key>ProcessType</key>
	<string>Adaptive</string>
	<key>EnablePressuredExit</key>
	<false/>
	<key>EnableTransactions</key>
	<true/>
	<key>LaunchOnlyOnce</key>
	<true/>
	<key>LaunchEvents</key>
	<dict>
		<key>com.apple.notifyd.matching</key>
		<dict>
			<key>ReportFactoryInstall</key>
			<dict>
				<key>Notification</key>
				<string>com.apple.InstallerDiagnostics.ReportFactoryInstall</string>
			</dict>
		</dict>
		<key>com.apple.iokit.matching</key>
		<dict>
			<key>com.apple.InstallerDiagnostics.installerdiagwatcher.nvram-match</key>
			<dict>
				<key>IOMatchLaunchStream</key>
				<true/>
				<key>IOPropertyExistsMatch</key>
				<array>
					<string>IDInstallerDataV2</string>
				</array>
				<key>IOProviderClass</key>
				<string>AppleEFINVRAM</string>
			</dict>
		</dict>
	</dict>
	<key>ProgramArguments</key>
	<array>
		<string>/System/Library/PrivateFrameworks/InstallerDiagnostics.framework/Versions/A/Resources/installerdiagwatcher</string>
	</array>
</dict>
</plist>
