<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnablePressuredExit</key>
	<false/>
	<key>EnableTransactions</key>
	<false/>
	<key>Label</key>
	<string>com.apple.iomfb_bics_daemon</string>
	<key>ProcessType</key>
	<string>Background</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/libexec/IOMFB_bics_daemon</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>LaunchEvents</key>
	<dict>
		<key>com.apple.xpc.activity</key>
		<dict>
			<key>com.apple.iomfb_bics_daemon</key>
			<dict>
				<key>Priority</key>
				<string>Utility</string>
				<key>GracePeriod</key>
				<integer>43200</integer>
				<key>RequireScreenSleep</key>
				<false/>
				<key>AllowBattery</key>
				<false/>
				<key>Repeating</key>
				<true/>
				<key>Interval</key>
				<integer>172800</integer>
				<key>DASData</key>
				<dict>
					<key>BypassBatteryAging</key>
					<true/>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>ExitTimeOut</key>
	<integer>15</integer>
	<key>_LimitLoadToDeviceTree-iphoneos</key>
	<array>
		<string>hilo</string>
		<string>twodbl</string>
	</array>
</dict>
</plist>
