<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnablePressuredExit</key>
	<true/>
	<key>Label</key>
	<string>com.apple.siriinferenced</string>
	<key>LaunchEvents</key>
	<dict>
		<key>com.apple.biome.compute.publisher</key>
		<dict>
			<key>com.apple.siriinferenced.aggregatedevents.NowPlaying</key>
			<dict>
				<key>identifier</key>
				<string>com.apple.siriinferenced</string>
				<key>graph</key>
				<dict>
					<key>version</key>
					<integer>1</integer>
					<key>name</key>
					<string>streamPublisher</string>
					<key>streamIdentifier</key>
					<string>NowPlaying</string>
					<key>streamType</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>com.apple.siriinferenced.NowPlaying</key>
			<dict>
				<key>identifier</key>
				<string>com.apple.siriinferenced</string>
				<key>graph</key>
				<dict>
					<key>version</key>
					<integer>1</integer>
					<key>name</key>
					<string>streamPublisher</string>
					<key>streamIdentifier</key>
					<string>NowPlaying</string>
					<key>streamType</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>com.apple.siriinferenced.SiriUI</key>
			<dict>
				<key>identifier</key>
				<string>com.apple.siriinferenced</string>
				<key>graph</key>
				<dict>
					<key>version</key>
					<integer>1</integer>
					<key>name</key>
					<string>streamPublisher</string>
					<key>streamIdentifier</key>
					<string>SiriUI</string>
					<key>streamType</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>com.apple.siriinferenced.AppIntent</key>
			<dict>
				<key>identifier</key>
				<string>com.apple.siriinferenced</string>
				<key>graph</key>
				<dict>
					<key>version</key>
					<integer>1</integer>
					<key>name</key>
					<string>streamPublisher</string>
					<key>streamIdentifier</key>
					<string>AppIntent</string>
					<key>streamType</key>
					<integer>1</integer>
				</dict>
			</dict>
		</dict>
		<key>com.apple.notifyd.matching</key>
		<dict>
			<key>kAFPreferencesDidChangeDarwinNotification</key>
			<dict>
				<key>Notification</key>
				<string>kAFPreferencesDidChangeDarwinNotification</string>
			</dict>
		</dict>
		<key>com.apple.xpc.activity</key>
		<dict>
			<key>com.apple.siri.inference.DailySignalRefresh</key>
			<dict>
				<key>Repeating</key>
				<true/>
				<key>Priority</key>
				<string>Utility</string>
				<key>Delay</key>
				<integer>86400</integer>
				<key>GracePeriod</key>
				<integer>3600</integer>
			</dict>
			<key>com.apple.siri.inference.HourlySignalRefresh</key>
			<dict>
				<key>Repeating</key>
				<true/>
				<key>Priority</key>
				<string>Utility</string>
				<key>Delay</key>
				<integer>3600</integer>
				<key>GracePeriod</key>
				<integer>300</integer>
			</dict>
			<key>com.apple.siri.inference.FirstBoot</key>
			<dict>
				<key>Repeating</key>
				<false/>
				<key>Priority</key>
				<string>Utility</string>
				<key>Delay</key>
				<integer>0</integer>
				<key>GracePeriod</key>
				<integer>120</integer>
			</dict>
		</dict>
	</dict>
	<key>MachServices</key>
	<dict>
		<key>com.apple.siriinferenced</key>
		<true/>
		<key>com.apple.siriinferenced.remembers</key>
		<true/>
		<key>com.apple.siriinferenced.signals</key>
		<true/>
	</dict>
	<key>ProcessType</key>
	<string>Adaptive</string>
	<key>Program</key>
	<string>/System/Library/PrivateFrameworks/SiriInference.framework/Support/siriinferenced</string>
</dict>
</plist>
