<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserName</key>
	<string>_appstore</string>
	<key>GroupName</key>
	<string>_appstore</string>
	<key>Label</key>
	<string>com.apple.appstored</string>
	<key>Program</key>
	<string>/System/Library/PrivateFrameworks/AppStoreDaemon.framework/Support/appstored</string>
	<key>MachServices</key>
	<dict>
		<key>com.apple.appstored.xpc</key>
		<true/>
	</dict>
	<key>EnableTransactions</key>
	<true/>
	<key>EnablePressuredExit</key>
	<true/>
	<key>ProcessType</key>
	<string>Adaptive</string>
	<key>RunAtLoad</key>
	<false/>
</dict>
</plist>
