<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnablePressuredExit</key>
	<true/>
	<key>Label</key>
	<string>com.apple.DumpPanic.Accessory</string>
	<key>MachServices</key>
	<dict>
		<key>com.apple.DumpPanic.Accessory.PanicReceived</key>
		<true/>
	</dict>
	<key>ProcessType</key>
	<string>Interactive</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/libexec/DumpPanic</string>
		<string>-a</string>
	</array>
</dict>
</plist>
