<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnablePressuredExit</key>
	<true/>
	<key>Label</key>
	<string>com.apple.tailspind</string>
	<key>LaunchEvents</key>
	<dict>
		<key>com.apple.notifyd.matching</key>
		<dict>
			<key>com.apple.tailspin.profile_changed</key>
			<dict>
				<key>Notification</key>
				<string>com.apple.ManagedConfiguration.profileListChanged</string>
			</dict>
			<key>com.apple.tailspin.tasking_changed</key>
			<dict>
				<key>Notification</key>
				<string>com.apple.da.tasking_changed</string>
			</dict>
		</dict>
	</dict>
	<key>MachServices</key>
	<dict>
		<key>com.apple.tailspind</key>
		<true/>
		<key>com.apple.tailspind.ktrace_background</key>
		<dict>
			<key>HostSpecialPort</key>
			<integer>13</integer>
		</dict>
	</dict>
	<key>ProcessType</key>
	<string>Adaptive</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/libexec/tailspind</string>
	</array>
</dict>
</plist>
