<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RunAtLoad</key>
	<false/>
	<key>GroupName</key>
	<string>_fpsd</string>
	<key>UserName</key>
	<string>_fpsd</string>
	<key>Label</key>
	<string>com.apple.lskdd</string>
	<key>MachServices</key>
	<dict>
		<key>com.apple.lskdd</key>
		<true/>
	</dict>
	<key>Program</key>
	<string>/System/Library/PrivateFrameworks/CoreLSKD.framework/Versions/A/lskdd</string>
	<key>EnablePressuredExit</key>
	<true/>
	<key>EnableTransactions</key>
	<true/>
	<key>POSIXSpawnType</key>
	<string>Adaptive</string>
	<key>LaunchEvents</key>
	<dict>
		<key>com.apple.xpc.activity</key>
		<dict>
			<key>com.apple.lskdd</key>
			<dict>
				<key>Interval</key>
				<integer>86400</integer>
				<key>Repeating</key>
				<true/>
				<key>Priority</key>
				<string>Utility</string>
			</dict>
		</dict>
		<key>com.apple.notifyd.matching</key>
		<dict>
			<key>com.apple.MobileAsset.KextDenyList.ma.new-asset-installed</key>
			<dict>
				<key>Notification</key>
				<string>com.apple.MobileAsset.KextDenyList.ma.new-asset-installed</string>
			</dict>
			<key>com.apple.MobileAsset.KextDenyList.ma.cached-metadata-updated</key>
			<dict>
				<key>Notification</key>
				<string>com.apple.MobileAsset.KextDenyList.ma.cached-metadata-updated</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
