<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnableTransactions</key>
	<true/>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PRODUCT_INFO_FILTER_DISABLE</key>
		<string></string>
	</dict>
	<key>HardResourceLimits</key>
	<dict>
		<key>NumberOfFiles</key>
		<integer>2048</integer>
	</dict>
	<key>KeepAlive</key>
	<true/>
	<key>Label</key>
	<string>com.apple.remoted</string>
	<key>MachServices</key>
	<dict>
		<key>com.apple.remoted</key>
		<true/>
		<key>com.apple.remoted.control</key>
		<true/>
		<key>com.apple.remoted.coredevice</key>
		<true/>
		<key>com.apple.remoted.watchdog</key>
		<true/>
	</dict>
	<key>ProcessType</key>
	<string>Interactive</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/libexec/remoted</string>
	</array>
	<key>PublishesEvents</key>
	<dict>
		<key>com.apple.remoted.service</key>
		<dict>
			<key>DomainInternal</key>
			<true/>
		</dict>
		<key>com.apple.remoteservicediscovery.events</key>
		<true/>
	</dict>
	<key>SoftResourceLimits</key>
	<dict>
		<key>NumberOfFiles</key>
		<integer>2048</integer>
	</dict>
</dict>
</plist>
