<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allowDuplicates</key>
	<false/>
	<key>duration</key>
	<integer>0</integer>
	<key>enhanceBleBroadcastKey</key>
	<false/>
	<key>onlyScreenOn</key>
	<false/>
	<key>showPowerAlertKey</key>
	<false/>
	<key>unit</key>
	<integer>0</integer>
</dict>
</plist>
