<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Airplane</key>
	<dict>
		<key>featureLabel</key>
		<string>Airplane</string>
		<key>validTrendTypes</key>
		<array>
			<string>Generic</string>
		</array>
		<key>negativeScenes</key>
		<array>
			<string>drone_machine</string>
		</array>
		<key>positiveScenes</key>
		<array>
			<string>airplane</string>
		</array>
		<key>secondaryPositiveScenes</key>
		<array/>
		<key>positiveDominantScenes</key>
		<array>
			<string>aircraft</string>
		</array>
		<key>positiveSemDevScenes</key>
		<array/>
	</dict>
	<key>Bird</key>
	<dict>
		<key>featureLabel</key>
		<string>Bird</string>
		<key>validTrendTypes</key>
		<array>
			<string>Generic</string>
			<string>Location</string>
		</array>
		<key>negativeScenes</key>
		<array>
			<string>squirrel</string>
			<string>people</string>
			<string>baby</string>
			<string>mammal</string>
		</array>
		<key>positiveScenes</key>
		<array/>
		<key>secondaryPositiveScenes</key>
		<array/>
		<key>positiveDominantScenes</key>
		<array>
			<string>bird</string>
		</array>
		<key>positiveSemDevScenes</key>
		<array/>
	</dict>
	<key>Cityscape</key>
	<dict>
		<key>featureLabel</key>
		<string>Cityscape</string>
		<key>validTrendTypes</key>
		<array>
			<string>Person</string>
			<string>Location</string>
		</array>
		<key>negativeScenes</key>
		<array>
			<string>lighthouse</string>
			<string>sailboat</string>
			<string>silo</string>
		</array>
		<key>positiveScenes</key>
		<array>
			<string>cityscape</string>
			<string>skyscraper</string>
		</array>
		<key>secondaryPositiveScenes</key>
		<array/>
		<key>positiveDominantScenes</key>
		<array/>
		<key>positiveSemDevScenes</key>
		<array>
			<string>LandscapeCityscape</string>
		</array>
	</dict>
	<key>Coffee</key>
	<dict>
		<key>featureLabel</key>
		<string>Coffee</string>
		<key>validTrendTypes</key>
		<array>
			<string>Generic</string>
		</array>
		<key>negativeScenes</key>
		<array/>
		<key>positiveScenes</key>
		<array>
			<string>coffee</string>
		</array>
		<key>positiveDominantScenes</key>
		<array/>
		<key>positiveSemDevScenes</key>
		<array>
			<string>FoodDrink</string>
		</array>
	</dict>
	<key>Flower</key>
	<dict>
		<key>featureLabel</key>
		<string>Flower</string>
		<key>validTrendTypes</key>
		<array>
			<string>Generic</string>
			<string>Location</string>
		</array>
		<key>negativeScenes</key>
		<array/>
		<key>positiveScenes</key>
		<array/>
		<key>secondaryPositiveScenes</key>
		<array/>
		<key>positiveDominantScenes</key>
		<array>
			<string>flower</string>
		</array>
		<key>positiveSemDevScenes</key>
		<array/>
	</dict>
	<key>Forest</key>
	<dict>
		<key>featureLabel</key>
		<string>Forest</string>
		<key>validTrendTypes</key>
		<array>
			<string>Generic</string>
			<string>Person</string>
			<string>Location</string>
		</array>
		<key>negativeScenes</key>
		<array>
			<string>cityscape</string>
			<string>skyscraper</string>
			<string>street</string>
		</array>
		<key>positiveScenes</key>
		<array>
			<string>forest</string>
		</array>
		<key>secondaryPositiveScenes</key>
		<array/>
		<key>positiveDominantScenes</key>
		<array/>
		<key>positiveSemDevScenes</key>
		<array/>
	</dict>
	<key>Rainbow</key>
	<dict>
		<key>featureLabel</key>
		<string>Rainbow</string>
		<key>validTrendTypes</key>
		<array>
			<string>Generic</string>
		</array>
		<key>negativeScenes</key>
		<array/>
		<key>positiveScenes</key>
		<array>
			<string>rainbow</string>
		</array>
		<key>secondaryPositiveScenes</key>
		<array>
			<string>sky</string>
		</array>
		<key>positiveDominantScenes</key>
		<array/>
		<key>positiveSemDevScenes</key>
		<array/>
	</dict>
	<key>Skateboarding</key>
	<dict>
		<key>featureLabel</key>
		<string>Skateboarding</string>
		<key>validTrendTypes</key>
		<array>
			<string>Generic</string>
			<string>Location</string>
		</array>
		<key>negativeScenes</key>
		<array>
			<string>surfing</string>
			<string>surfboard</string>
			<string>snowboard</string>
			<string>snowboarding</string>
			<string>rollerskating</string>
		</array>
		<key>positiveScenes</key>
		<array>
			<string>skateboarding</string>
		</array>
		<key>secondaryPositiveScenes</key>
		<array/>
		<key>positiveDominantScenes</key>
		<array/>
		<key>positiveSemDevScenes</key>
		<array/>
	</dict>
	<key>SunriseSunset</key>
	<dict>
		<key>featureLabel</key>
		<string>SunriseSunset</string>
		<key>validTrendTypes</key>
		<array>
			<string>Generic</string>
			<string>Person</string>
			<string>Location</string>
		</array>
		<key>negativeScenes</key>
		<array/>
		<key>positiveScenes</key>
		<array>
			<string>sunset_sunrise</string>
		</array>
		<key>secondaryPositiveScenes</key>
		<array/>
		<key>positiveDominantScenes</key>
		<array/>
		<key>positiveSemDevScenes</key>
		<array/>
	</dict>
	<key>Surfing</key>
	<dict>
		<key>featureLabel</key>
		<string>Surfing</string>
		<key>validTrendTypes</key>
		<array>
			<string>Generic</string>
			<string>Person</string>
			<string>Location</string>
		</array>
		<key>negativeScenes</key>
		<array>
			<string>jetski</string>
		</array>
		<key>positiveScenes</key>
		<array>
			<string>surfing</string>
		</array>
		<key>secondaryPositiveScenes</key>
		<array>
			<string>beach</string>
			<string>ocean</string>
			<string>lake</string>
			<string>sand</string>
			<string>shore</string>
		</array>
		<key>positiveDominantScenes</key>
		<array/>
		<key>positiveSemDevScenes</key>
		<array/>
	</dict>
	<key>Waterfall</key>
	<dict>
		<key>featureLabel</key>
		<string>Waterfall</string>
		<key>validTrendTypes</key>
		<array>
			<string>Generic</string>
			<string>Person</string>
			<string>Location</string>
		</array>
		<key>negativeScenes</key>
		<array/>
		<key>positiveScenes</key>
		<array>
			<string>waterfall</string>
		</array>
		<key>secondaryPositiveScenes</key>
		<array/>
		<key>positiveDominantScenes</key>
		<array/>
		<key>positiveSemDevScenes</key>
		<array/>
	</dict>
	<key>Snow</key>
	<dict>
		<key>featureLabel</key>
		<string>Snow</string>
		<key>validTrendTypes</key>
		<array>
			<string>Generic</string>
			<string>Person</string>
			<string>Location</string>
		</array>
		<key>negativeScenes</key>
		<array>
			<string>skiing</string>
			<string>snowboarding</string>
			<string>snowmobile</string>
			<string>ski_equipment</string>
			<string>snowboard</string>
			<string>chairlift</string>
		</array>
		<key>positiveScenes</key>
		<array>
			<string>iceberg</string>
			<string>snow</string>
			<string>sledding</string>
		</array>
		<key>secondaryPositiveScenes</key>
		<array/>
		<key>positiveDominantScenes</key>
		<array/>
		<key>positiveSemDevScenes</key>
		<array/>
	</dict>
</dict>
</plist>
