<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>20A241128</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AppleSpell</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.AppleSpell</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AppleSpell</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.4</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>552.1</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>13E6049a</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>12.3</string>
	<key>DTSDKBuild</key>
	<string>21E216a</string>
	<key>DTSDKName</key>
	<string>macosx12.3.internal</string>
	<key>DTXcode</key>
	<string>1330</string>
	<key>DTXcodeBuild</key>
	<string>13E6049a</string>
	<key>LSBackgroundOnly</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>12.3</string>
	<key>NSPrincipalClass</key>
	<string>AppleSpell</string>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSExecutable</key>
			<string>AppleSpell</string>
			<key>NSLanguages</key>
			<array>
				<string>ar</string>
				<string>ars</string>
				<string>cs</string>
				<string>da</string>
				<string>de</string>
				<string>el</string>
				<string>en</string>
				<string>en_AU</string>
				<string>en_CA</string>
				<string>en_GB</string>
				<string>en_IN</string>
				<string>en_JP</string>
				<string>en_SG</string>
				<string>es</string>
				<string>fi</string>
				<string>fr</string>
				<string>ga</string>
				<string>hi</string>
				<string>hu</string>
				<string>it</string>
				<string>ko</string>
				<string>nb</string>
				<string>nl</string>
				<string>nn</string>
				<string>pa</string>
				<string>pl</string>
				<string>pt_BR</string>
				<string>pt_PT</string>
				<string>ro</string>
				<string>ru</string>
				<string>sv</string>
				<string>te</string>
				<string>tr</string>
				<string>vi</string>
				<string>Multilingual</string>
			</array>
			<key>NSPortName</key>
			<string>AppleSpell</string>
			<key>NSSpellChecker</key>
			<string>Apple</string>
		</dict>
	</array>
</dict>
</plist>
