<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildAliasOf</key>
	<string>RecapFramework</string>
	<key>BuildVersion</key>
	<string>73</string>
	<key>CFBundleShortVersionString</key>
	<string>33.18</string>
	<key>ProjectName</key>
	<string>RecapFramework_Public</string>
	<key>SourceVersion</key>
	<string>33018000000000</string>
</dict>
</plist>
