<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLASSIFICATION_PARAMETERS</key>
	<dict>
		<key>MAX_PROMPT_LENGTH</key>
		<dict>
			<key>en</key>
			<integer>280</integer>
			<key>es</key>
			<integer>280</integer>
		</dict>
		<key>MAX_REPLY_LENGTH</key>
		<dict>
			<key>en</key>
			<integer>25</integer>
			<key>es</key>
			<integer>32</integer>
		</dict>
		<key>MAX_PROMPT_WINDOW_SECONDS</key>
		<real>60</real>
		<key>PROMPT_JOINING_STRING</key>
		<string> </string>
		<key>NEGATIVE_SAMPLING_RATE</key>
		<real>1</real>
		<key>POSITIVE_SAMPLING_RATE</key>
		<integer>1</integer>
		<key>DYNAMIC_LABEL_SAMPLING_RATE</key>
		<real>1</real>
	</dict>
	<key>CLASSIFICATION_MODEL_HYPERPARAMETERS</key>
	<dict>
		<key>en</key>
		<dict>
			<key>FEATURES_MODEL_ID</key>
			<string>QuickResponsesClassification</string>
			<key>FEATURES_VERSION</key>
			<string>0.6</string>
			<key>VECTOR_LENGTH</key>
			<integer>8000</integer>
			<key>CHARACTER_N_GRAM_MINIMUM_N</key>
			<integer>3</integer>
			<key>CHARACTER_N_GRAM_RANGE_N_LENGTH</key>
			<integer>4</integer>
			<key>TOKEN_N_GRAM_MINIMUM_N</key>
			<integer>1</integer>
			<key>TOKEN_N_GRAM_RANGE_N_LENGTH</key>
			<integer>2</integer>
		</dict>
		<key>es</key>
		<dict>
			<key>FEATURES_MODEL_ID</key>
			<string>QuickResponsesClassification</string>
			<key>FEATURES_VERSION</key>
			<string>0.5</string>
			<key>VECTOR_LENGTH</key>
			<integer>4000</integer>
			<key>CHARACTER_N_GRAM_MINIMUM_N</key>
			<integer>3</integer>
			<key>CHARACTER_N_GRAM_RANGE_N_LENGTH</key>
			<integer>3</integer>
			<key>TOKEN_N_GRAM_MINIMUM_N</key>
			<integer>1</integer>
			<key>TOKEN_N_GRAM_RANGE_N_LENGTH</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>CLASSIFICATION_PREPROCESSING_METHODS</key>
	<dict>
		<key>en</key>
		<array>
			<string>removeNonBasicMultilingualPlane</string>
			<string></string>
			<string>lowerCase</string>
			<string></string>
			<string>stripNonBaseCharacters</string>
			<string></string>
			<string>replaceAllWhitespaceWithSpaces</string>
			<string></string>
			<string>transformFullwidthToHalfwidthASCII</string>
			<string></string>
			<string>removePunctuationWithExceptions</string>
			<string>?</string>
			<string>removeSymbols</string>
			<string></string>
			<string>mergeNumbersSeparatedByASCIISpace</string>
			<string></string>
			<string>replaceNumbersWithString</string>
			<string>#</string>
			<string>replaceLinksWithString</string>
			<string>~</string>
			<string>separateCharacter</string>
			<string>?</string>
			<string>mergeAnyConsecutiveCharacters</string>
			<string></string>
			<string>trimWhitespace</string>
			<string></string>
		</array>
		<key>es</key>
		<array>
			<string>removeNonBasicMultilingualPlane</string>
			<string></string>
			<string>lowerCase</string>
			<string></string>
			<string>stripNonBaseCharacters</string>
			<string></string>
			<string>replaceAllWhitespaceWithSpaces</string>
			<string></string>
			<string>transformFullwidthToHalfwidthASCII</string>
			<string></string>
			<string>removePunctuationWithExceptions</string>
			<string>?</string>
			<string>removeSymbols</string>
			<string></string>
			<string>mergeNumbersSeparatedByASCIISpace</string>
			<string></string>
			<string>replaceNumbersWithString</string>
			<string>#</string>
			<string>replaceLinksWithString</string>
			<string>~</string>
			<string>separateCharacter</string>
			<string>?</string>
			<string>mergeAnyConsecutiveCharacters</string>
			<string></string>
			<string>trimWhitespace</string>
			<string></string>
		</array>
	</dict>
	<key>CLASSIFICATION_LABELS</key>
	<dict>
		<key>en</key>
		<array>
			<array>
				<string>thank you!</string>
				<string>thanks</string>
				<string>thank you</string>
				<string>thanks!</string>
				<string>thank youu</string>
				<string>thanks you</string>
				<string>thank yoou</string>
				<string>thaank you</string>
				<string>thank youx</string>
				<string>thankyou</string>
				<string>tank you</string>
				<string>thank yu</string>
			</array>
			<array>
				<string>yeah</string>
				<string>yeahh</string>
				<string>yeaah</string>
				<string>yeeah</string>
				<string>yeah ?</string>
				<string>yeaahh</string>
				<string>yeah d</string>
				<string>yeeaah</string>
				<string>yeah x</string>
				<string>yeah g</string>
			</array>
			<array>
				<string>same</string>
				<string>same here</string>
				<string>same!</string>
				<string>me too</string>
				<string>me too!</string>
				<string>same heree</string>
				<string>mee too</string>
				<string>me to</string>
				<string>samee</string>
				<string>saame</string>
				<string>samme</string>
			</array>
			<array>
				<string>okay</string>
				<string>ok</string>
				<string>okayy</string>
				<string>okaay</string>
				<string>ookay</string>
				<string>okay ?</string>
				<string>okaayy</string>
				<string>okay o</string>
				<string>okay d</string>
				<string>i okay</string>
				<string>okay a</string>
				<string>kk</string>
				<string>okk</string>
			</array>
			<array>
				<string>what</string>
				<string>what?</string>
				<string>what ?</string>
				<string>what??</string>
				<string>whaat ?</string>
				<string>whatt ?</string>
				<string>wwhat ?</string>
				<string>whatt</string>
				<string>whaat</string>
				<string>wwhat</string>
			</array>
			<array>
				<string>nope</string>
				<string>nope.</string>
				<string>nopee</string>
				<string>noope</string>
				<string>nopes</string>
			</array>
			<array>
				<string>TRUE</string>
				<string>very true</string>
				<string>true true</string>
				<string>truth</string>
				<string>true!</string>
				<string>so true</string>
				<string>this is true</string>
				<string>soo true</string>
				<string>so truee</string>
				<string>truee</string>
			</array>
			<array>
				<string>i know</string>
				<string>i know!</string>
				<string>i know right</string>
				<string>i know rightt</string>
				<string>i knoww</string>
				<string>i know right ?</string>
				<string>i knoow</string>
				<string>i kno</string>
				<string>iknow</string>
				<string>i knooww</string>
			</array>
			<array>
				<string>good</string>
				<string>good!</string>
				<string>goodd</string>
				<string>good x</string>
				<string>good d</string>
			</array>
			<array>
				<string>sure</string>
				<string>of course</string>
				<string>sure!</string>
				<string>for sure</string>
				<string>of coursee</string>
				<string>ofcourse</string>
				<string>for suree</string>
				<string>forsure</string>
				<string>of course x</string>
				<string>of course d</string>
				<string>suree</string>
			</array>
			<array>
				<string>i love you</string>
				<string>love you</string>
				<string>i love you so much</string>
				<string>i love youu</string>
				<string>love youu</string>
				<string>i love u so much</string>
				<string>love you so much</string>
				<string>loveyou</string>
				<string>i lovee youu</string>
				<string>i love you x</string>
			</array>
			<array>
				<string>text me</string>
				<string>call me</string>
				<string>dm me</string>
				<string>text mee</string>
				<string>txt me</string>
				<string>dm mee</string>
				<string>dm me ?</string>
				<string>dm me x</string>
			</array>
			<array>
				<string>nice</string>
				<string>nice!</string>
				<string>nicee</string>
				<string>noice</string>
				<string>niice</string>
				<string>noicee</string>
				<string>nice d</string>
			</array>
			<array>
				<string>you&apos;re welcome</string>
				<string>you&apos;re welcome 😊</string>
				<string>welcome!</string>
				<string>my pleasure</string>
				<string>youre welcome</string>
				<string>welcome</string>
				<string>your welcome</string>
				<string>youre welcomee</string>
				<string>you are welcome</string>
				<string>welcomee</string>
				<string>youre welcome x</string>
				<string>youre welcome d</string>
				<string>wellcome</string>
			</array>
			<array>
				<string>cool</string>
				<string>cooll</string>
			</array>
			<array>
				<string>no problem</string>
				<string>no problem!</string>
				<string>no prob</string>
				<string>no problemm</string>
				<string>no probs</string>
				<string>no problem x</string>
				<string>no problemlt</string>
				<string>no problem lt</string>
				<string>not a problem</string>
				<string>no problem xx</string>
				<string>no problem lol</string>
			</array>
			<array>
				<string>maybe</string>
				<string>maybee</string>
				<string>may be</string>
				<string>maaybe</string>
				<string>maybe ?</string>
			</array>
			<array>
				<string>yes</string>
				<string>no</string>
				<string>yess</string>
				<string>yesh</string>
				<string>yees</string>
				<string>yeas</string>
				<string>yyes</string>
			</array>
			<array>
				<string>sorry</string>
				<string>i&apos;m sorry</string>
				<string>my bad</string>
				<string>im sorry</string>
				<string>im sorryy</string>
				<string>sorryy</string>
				<string>i am sorry</string>
				<string>srry</string>
				<string>sory</string>
			</array>
			<array>
				<string>never</string>
				<string>neverr</string>
			</array>
			<array>
				<string>exactly</string>
				<string>right</string>
				<string>basically</string>
				<string>correct</string>
				<string>right!</string>
				<string>pretty much</string>
				<string>u right</string>
				<string>exactlyy</string>
				<string>ur right</string>
				<string>exaactly</string>
				<string>rightt</string>
			</array>
			<array>
				<string>alright</string>
				<string>alrighty</string>
				<string>alrightt</string>
				<string>all right</string>
				<string>alrightyy</string>
				<string>aight</string>
				<string>oh alright</string>
				<string>im alright</string>
				<string>ah alright</string>
			</array>
			<array>
				<string>hello</string>
				<string>hi</string>
				<string>hey</string>
				<string>how&apos;s it going?</string>
				<string>what&apos;s up?</string>
				<string>whats up ?</string>
				<string>hows it going ?</string>
				<string>hows it going</string>
				<string>helloo</string>
				<string>hellow</string>
				<string>whats up</string>
				<string>heyy</string>
			</array>
			<array>
				<string>do it</string>
				<string>do itt</string>
				<string>doo it</string>
				<string>do iit</string>
				<string>doo itt</string>
				<string>d o i t</string>
			</array>
			<array>
				<string>i will</string>
				<string>i will!</string>
				<string>will do</string>
				<string>will doo</string>
				<string>it will</string>
				<string>will do x</string>
				<string>i will do</string>
				<string>ok will do</string>
			</array>
			<array>
				<string>i did</string>
				<string>i didd</string>
				<string>i didnt</string>
				<string>i did ?</string>
				<string>u did</string>
			</array>
			<array>
				<string>oh ok</string>
				<string>oh okay</string>
				<string>ohh okay</string>
				<string>oh okayy</string>
				<string>ooh okay</string>
				<string>ohh ok</string>
				<string>oh oki</string>
				<string>oh oke</string>
				<string>ooh ok</string>
				<string>oh okk</string>
				<string>ahh okay</string>
			</array>
			<array>
				<string>i love you too</string>
				<string>love you too</string>
				<string>i love you more</string>
				<string>i love you moree</string>
				<string>i love u more</string>
				<string>love you more</string>
				<string>i love u too</string>
				<string>love you too x</string>
				<string>love u too</string>
			</array>
			<array>
				<string>always</string>
				<string>alwayss</string>
				<string>always x</string>
				<string>always lt</string>
			</array>
			<array>
				<string>agreed</string>
				<string>i agree</string>
				<string>agreed!</string>
				<string>agreedd</string>
				<string>agree</string>
				<string>big agree</string>
			</array>
			<array>
				<string>really?</string>
				<string>really ?</string>
				<string>really</string>
				<string>real ?</string>
				<string>oh really ?</string>
				<string>omg really ?</string>
				<string>lol really ?</string>
				<string>reallyy</string>
			</array>
			<array>
				<string>nothing</string>
				<string>not much</string>
				<string>nothing at all</string>
				<string>nothingg</string>
				<string>nothin</string>
				<string>nothing o</string>
				<string>oh nothing</string>
				<string>anything</string>
				<string>so much</string>
				<string>nothing lol</string>
			</array>
			<array>
				<string>sometimes</string>
			</array>
			<array>
				<string>i am</string>
				<string>yes i am</string>
				<string>i&apos;m not</string>
				<string>no i&apos;m not</string>
				<string>am not</string>
				<string>im not</string>
				<string>no im not</string>
				<string>im nott</string>
				<string>no i am not</string>
				<string>yea i am</string>
				<string>i am not</string>
			</array>
			<array>
				<string>thank you so much!</string>
				<string>thank you so much</string>
				<string>thank you so much!!</string>
				<string>thanks so much!</string>
				<string>thanks so much</string>
				<string>thank you so muchh</string>
				<string>thank you soo much</string>
				<string>thankyou so much</string>
				<string>thank u so much</string>
				<string>thank you so much x</string>
				<string>thank you so much d</string>
				<string>thanks so much x</string>
				<string>thanku so much</string>
			</array>
			<array>
				<string>anytime</string>
				<string>anytime!</string>
				<string>any time</string>
				<string>anytimee</string>
				<string>anytime x</string>
			</array>
			<array>
				<string>it is</string>
				<string>it iss</string>
				<string>it is ?</string>
				<string>it isnt</string>
			</array>
			<array>
				<string>i wish</string>
				<string>i wishh</string>
				<string>u wish</string>
				<string>wish</string>
			</array>
			<array>
				<string>no worries</string>
				<string>no worries x</string>
				<string>no worries lt</string>
				<string>no worries bro</string>
				<string>no worries mate</string>
			</array>
			<array>
				<string>yes lol</string>
				<string>yeah lol</string>
				<string>no lol</string>
				<string>lol no</string>
				<string>lol yeah</string>
				<string>lol yes</string>
				<string>yea lol</string>
				<string>yess lol</string>
				<string>lol yea</string>
				<string>lol yess</string>
			</array>
			<array>
				<string>yes please</string>
				<string>yes please!</string>
				<string>please</string>
				<string>yes pleasee</string>
				<string>yess please</string>
				<string>pleasee</string>
				<string>pleease</string>
				<string>pleaase</string>
				<string>yess pleasee</string>
				<string>yes please do</string>
				<string>oh yes please</string>
			</array>
			<array>
				<string>rude</string>
				<string>ouch</string>
				<string>ouch!</string>
				<string>ouchh</string>
				<string>rudee</string>
			</array>
			<array>
				<string>uh-huh</string>
				<string>uh huh</string>
				<string>uh uh</string>
				<string>uhuh</string>
				<string>okok</string>
				<string>ok ok</string>
				<string>ok awesome</string>
				<string>okay wonderful</string>
				<string>okay okay</string>
			</array>
			<array>
				<string>both</string>
				<string>both!</string>
				<string>neither</string>
				<string>both?</string>
				<string>both ?</string>
				<string>either</string>
				<string>bothh</string>
			</array>
			<array>
				<string>absolutely</string>
				<string>definitely</string>
				<string>absolutelyy</string>
				<string>absolutely x</string>
				<string>oh absolutely</string>
				<string>oh definitely</string>
				<string>definitely is</string>
				<string>absolutely not</string>
				<string>definitely not</string>
				<string>yes absolutely</string>
			</array>
			<array>
				<string>why not</string>
				<string>why not?</string>
				<string>why not ?</string>
				<string>why nott</string>
				<string>y not</string>
				<string>why not lol</string>
			</array>
			<array>
				<string>probably</string>
				<string>probably not</string>
				<string>probably lol</string>
				<string>lol probably</string>
				<string>probably yes</string>
				<string>probably lmao</string>
				<string>yea probably</string>
			</array>
			<array>
				<string>deal</string>
			</array>
			<array>
				<string>ok thanks</string>
				<string>okay thanks</string>
				<string>okay thankss</string>
				<string>oke thanks</string>
				<string>ok thankss</string>
				<string>k thanks</string>
				<string>oh thanks</string>
				<string>oo thanks</string>
				<string>oh okay thanks</string>
				<string>okay thank u</string>
			</array>
			<array>
				<string>i do</string>
				<string>yes i do</string>
				<string>i don’t</string>
				<string>no I don’t</string>
				<string>i do not</string>
				<string>i dont</string>
				<string>no i dont</string>
				<string>no i do not</string>
				<string>no u dont</string>
				<string>yes u do</string>
				<string>no dont</string>
				<string>no i do</string>
			</array>
			<array>
				<string>where?</string>
				<string>where at?</string>
				<string>where</string>
				<string>where ?</string>
				<string>where at ?</string>
				<string>wheree</string>
			</array>
			<array>
				<string>how much</string>
				<string>how much?</string>
				<string>how much ?</string>
				<string>for how much ?</string>
			</array>
			<array>
				<string>very</string>
				<string>veryy</string>
			</array>
			<array>
				<string>not really</string>
				<string>no really</string>
				<string>not rlly</string>
				<string>no not really</string>
				<string>not really no</string>
				<string>oh really</string>
				<string>not really lol</string>
				<string>nah not really</string>
			</array>
			<array>
				<string>chill</string>
				<string>relax</string>
				<string>relaxx</string>
			</array>
			<array>
				<string>fair enough</string>
				<string>ok fair enough</string>
				<string>ah fair enough</string>
				<string>oh fair enough</string>
				<string>fair enough lol</string>
				<string>lol fair enough</string>
				<string>haha fair enough</string>
				<string>lmao fair enough</string>
				<string>fair enough lmao</string>
				<string>yeah fair enough</string>
			</array>
			<array>
				<string>cute</string>
				<string>cutee</string>
				<string>cutie</string>
				<string>cuute</string>
				<string>cutiee</string>
				<string>cutest</string>
				<string>cuties</string>
				<string>u cute</string>
				<string>cuutee</string>
				<string>cuttee</string>
			</array>
			<array>
				<string>when</string>
				<string>what time?</string>
				<string>when?</string>
				<string>when ?</string>
				<string>what time ?</string>
				<string>what time</string>
				<string>whenn</string>
			</array>
			<array>
				<string>yes it is</string>
				<string>yess it is</string>
				<string>yes it iss</string>
				<string>yea it is</string>
				<string>yep it is</string>
				<string>yeah it is</string>
				<string>yes it was</string>
				<string>yes yes it is</string>
			</array>
			<array>
				<string>good point</string>
				<string>that&apos;s a good point</string>
				<string>thats a good one</string>
				<string>good point lol</string>
				<string>very good point</string>
			</array>
			<array>
				<string>oh no</string>
				<string>oh noo</string>
				<string>ohno</string>
				<string>ohh noo</string>
				<string>o h n o</string>
			</array>
			<array>
				<string>i see</string>
				<string>oh I see</string>
				<string>oh i see</string>
				<string>ohh i see</string>
				<string>ooh i see</string>
				<string>ah i see</string>
				<string>oo i see</string>
				<string>i see u</string>
				<string>ill see</string>
				<string>ahh i see</string>
			</array>
			<array>
				<string>awesome!</string>
				<string>awesome</string>
				<string>awsome</string>
			</array>
			<array>
				<string>not at all</string>
				<string>no not at all</string>
				<string>none at all</string>
				<string>not at all lol</string>
				<string>lol not at all</string>
				<string>nope not at all</string>
			</array>
			<array>
				<string>i guess</string>
				<string>i guess so</string>
				<string>guess so</string>
				<string>i guess ?</string>
				<string>i guess lol</string>
				<string>i guess not</string>
				<string>guess</string>
				<string>i guess so lol</string>
				<string>yeah i guess so</string>
			</array>
			<array>
				<string>what do you mean?</string>
				<string>what do you mean ?</string>
				<string>what do you mean</string>
				<string>what do u mean ?</string>
				<string>what you mean ?</string>
				<string>what do you want ?</string>
				<string>what do u mean</string>
				<string>how do you mean ?</string>
			</array>
			<array>
				<string>amazing</string>
				<string>amazing!</string>
				<string>amazingg</string>
			</array>
			<array>
				<string>yikes</string>
				<string>yikes!</string>
				<string>yikess</string>
				<string>yiikes</string>
				<string>yike</string>
			</array>
			<array>
				<string>i love it</string>
				<string>love it</string>
				<string>i love itt</string>
				<string>i loved it</string>
				<string>love itt</string>
				<string>loved it</string>
				<string>i love it sm</string>
				<string>no i love it</string>
				<string>we love it</string>
			</array>
			<array>
				<string>enjoy!</string>
				<string>enjoy</string>
				<string>have fun</string>
				<string>have fun!</string>
				<string>have a nice time</string>
				<string>have a good time</string>
				<string>have funn</string>
				<string>enjoyy</string>
				<string>have a good one</string>
				<string>anjoy</string>
			</array>
			<array>
				<string>i hope so</string>
				<string>hopefully</string>
				<string>i hope soo</string>
				<string>hope so</string>
				<string>i hope not</string>
				<string>i hope too</string>
				<string>i hope so too</string>
				<string>god i hope so</string>
				<string>hopefully not</string>
				<string>i hope so lol</string>
			</array>
			<array>
				<string>you too</string>
				<string>you too!</string>
				<string>youu too</string>
				<string>you to</string>
				<string>you too x</string>
				<string>you toolt</string>
				<string>you too ?</string>
				<string>you too d</string>
				<string>u too</string>
				<string>you too lt</string>
				<string>you too xx</string>
			</array>
			<array>
				<string>not yet</string>
				<string>not yet!</string>
				<string>no not yet</string>
				<string>nope not yet</string>
				<string>nah not yet</string>
			</array>
			<array>
				<string>what happened?</string>
				<string>what happened ?</string>
				<string>what happend ?</string>
				<string>what happen ?</string>
				<string>what happen</string>
				<string>what happened now</string>
				<string>what happened now ?</string>
				<string>what happened omg</string>
				<string>what happened lol</string>
			</array>
			<array>
				<string>good luck</string>
				<string>good luck!</string>
				<string>best of luck!</string>
				<string>best of luck</string>
				<string>good luckk</string>
				<string>goodluck</string>
				<string>good luck x</string>
				<string>goodluckk</string>
				<string>good luck lt</string>
				<string>good luck bro</string>
				<string>omg good luck</string>
				<string>good luck lol</string>
			</array>
			<array>
				<string>oh lol</string>
				<string>ohh lol</string>
				<string>oh lool</string>
				<string>oh ok lol</string>
			</array>
			<array>
				<string>no way</string>
				<string>no way!</string>
				<string>no wayy</string>
				<string>noo way</string>
				<string>no why</string>
			</array>
			<array>
				<string>beautiful</string>
				<string>beautifull</string>
				<string>beautiful x</string>
				<string>so beautiful</string>
				<string>its beautiful</string>
				<string>soo beautiful</string>
			</array>
			<array>
				<string>obviously</string>
				<string>obviously not</string>
				<string>yes obviously</string>
			</array>
			<array>
				<string>too late</string>
				<string>to late</string>
				<string>its too late</string>
			</array>
			<array>
				<string>i think so</string>
				<string>i think soo</string>
				<string>i think so ?</string>
				<string>ion think so</string>
				<string>think so</string>
				<string>i think yes</string>
				<string>i think not</string>
				<string>i think so too</string>
				<string>yes i think so</string>
				<string>i think so lol</string>
			</array>
			<array>
				<string>i know lol</string>
				<string>oh i know lol</string>
				<string>i know lmao</string>
				<string>i know lt</string>
				<string>i know so</string>
				<string>i know lmaoo</string>
				<string>i know omg</string>
				<string>i know bro</string>
			</array>
			<array>
				<string>perfect</string>
				<string>perfection</string>
				<string>ur perfect</string>
				<string>so perfect</string>
			</array>
			<array>
				<string>no thanks</string>
				<string>no thank you</string>
				<string>no thank u</string>
			</array>
			<array>
				<string>tomorrow</string>
				<string>soon</string>
				<string>today</string>
				<string>right now</string>
				<string>next week</string>
				<string>right now ?</string>
				<string>tomorrow ?</string>
			</array>
			<array>
				<string>i believe in you</string>
				<string>i believe in you!</string>
				<string>i believe in u</string>
			</array>
			<array>
				<string>right?</string>
				<string>right?!</string>
				<string>right ?</string>
				<string>rightt ?</string>
				<string>right ? ?</string>
			</array>
			<array>
				<string>sounds good</string>
				<string>sounds good!</string>
				<string>sounds like a plan</string>
				<string>sounds good to me</string>
				<string>sounds like a plan!</string>
				<string>sounds great</string>
				<string>sounds cool</string>
				<string>that sounds good</string>
			</array>
			<array>
				<string>me neither</string>
				<string>me either!</string>
				<string>me neither!</string>
				<string>me either</string>
				<string>me neither lol</string>
				<string>me neither tbh</string>
				<string>me either lol</string>
				<string>yeah me neither</string>
			</array>
			<array>
				<string>great</string>
				<string>great!</string>
				<string>greatt</string>
			</array>
			<array>
				<string>oh yeah</string>
				<string>oh yeahh</string>
				<string>ohh yeah</string>
				<string>ooh yeah</string>
				<string>oh yea</string>
				<string>oh yeah ?</string>
				<string>ohh yeahh</string>
				<string>oh yeaa</string>
				<string>uh yeah</string>
				<string>oh yh</string>
			</array>
			<array>
				<string>makes sense</string>
				<string>that makes sense</string>
				<string>it all makes sense now</string>
				<string>makes sense!</string>
				<string>make sense</string>
				<string>oh that makes sense</string>
				<string>that makes no sense</string>
				<string>ah that makes sense</string>
				<string>ohh that makes sense</string>
				<string>ahh that makes sense</string>
				<string>ah makes sense</string>
			</array>
			<array>
				<string>interesting</string>
				<string>interestingg</string>
				<string>oo interesting</string>
				<string>oh interesting</string>
				<string>hmm interesting</string>
				<string>ooh interesting</string>
				<string>interesting lol</string>
				<string>very interesting</string>
			</array>
			<array>
				<string>lucky</string>
				<string>luckyy</string>
				<string>lucky u</string>
			</array>
			<array>
				<string>yup!</string>
				<string>yupp</string>
				<string>yups</string>
				<string>yhup</string>
				<string>yurp</string>
			</array>
			<array>
				<string>lol thanks</string>
				<string>lmao thanks</string>
				<string>cool thanks</string>
				<string>lol thank u</string>
				<string>lmaoo thanks</string>
			</array>
			<array>
				<string>excuse me</string>
				<string>excuse me ?</string>
			</array>
			<array>
				<string>i miss you too</string>
				<string>miss you more!</string>
				<string>miss you more</string>
				<string>i miss you more</string>
				<string>i missed you too</string>
				<string>miss you too</string>
				<string>i miss u too</string>
				<string>miss u more</string>
				<string>i missed u too</string>
				<string>i miss u more</string>
				<string>miss u too</string>
			</array>
			<array>
				<string>i don&apos;t know</string>
				<string>i have no idea</string>
				<string>no idea</string>
				<string>not sure</string>
				<string>i don&apos;t know yet</string>
				<string>i dont know</string>
				<string>i dont knoww</string>
				<string>i do not know</string>
				<string>i dont know ?</string>
				<string>dont know</string>
				<string>i had no idea</string>
				<string>i have no idea lol</string>
				<string>i have no idea tbh</string>
			</array>
			<array>
				<string>what lol</string>
				<string>lol what</string>
				<string>lol what ?</string>
				<string>what ? lol</string>
				<string>lmao what</string>
				<string>what lmao</string>
				<string>why lol</string>
				<string>lol why</string>
				<string>what no</string>
			</array>
			<array>
				<string>congrats</string>
				<string>congrats!</string>
				<string>congratulations</string>
				<string>congratulations!</string>
				<string>well done!</string>
				<string>well done</string>
				<string>congratulation</string>
				<string>congratss</string>
				<string>congraats</string>
				<string>congrats g</string>
				<string>congratulations bro</string>
				<string>congrats lt</string>
				<string>congrats bb</string>
			</array>
			<array>
				<string>that too</string>
				<string>yes that too</string>
				<string>that too lol</string>
			</array>
			<array>
				<string>which one</string>
				<string>which one?</string>
				<string>which one ?</string>
				<string>which ones ?</string>
				<string>which ones</string>
				<string>which song ?</string>
				<string>which song</string>
				<string>which one lol</string>
			</array>
			<array>
				<string>i don&apos;t think so</string>
				<string>i dont think so</string>
				<string>dont think so</string>
				<string>no i dont think so</string>
			</array>
			<array>
				<string>ok lol</string>
				<string>k lol</string>
				<string>okay lol</string>
				<string>ok lmfao</string>
			</array>
			<array>
				<string>for what?</string>
				<string>why</string>
				<string>why?</string>
				<string>for what ?</string>
				<string>for what</string>
				<string>whay</string>
			</array>
			<array>
				<string>on my way</string>
				<string>on my way!</string>
				<string>coming</string>
				<string>be there soon</string>
				<string>on my wayy</string>
				<string>im on my way</string>
				<string>im coming</string>
			</array>
			<array>
				<string>please do</string>
				<string>please dont</string>
				<string>please no</string>
				<string>please do it</string>
				<string>please omg</string>
				<string>pls do</string>
			</array>
			<array>
				<string>tell me about it</string>
			</array>
			<array>
				<string>all good</string>
				<string>it’s all good</string>
				<string>no stress</string>
				<string>it&apos;s ok</string>
				<string>it&apos;s fine</string>
				<string>it&apos;s cool</string>
				<string>its ok</string>
				<string>its fine</string>
				<string>its all good</string>
				<string>its cool</string>
				<string>its oki</string>
				<string>it ok</string>
			</array>
			<array>
				<string>what is it</string>
				<string>what is it?</string>
				<string>what is it ?</string>
			</array>
			<array>
				<string>woah</string>
				<string>oh wow</string>
				<string>oh woww</string>
				<string>ohh wow</string>
				<string>o wow</string>
				<string>woahh</string>
				<string>woaah</string>
			</array>
			<array>
				<string>down</string>
				<string>i&apos;m down</string>
				<string>im down</string>
				<string>downn</string>
				<string>im so down</string>
			</array>
			<array>
				<string>i miss you!</string>
				<string>miss you, i&apos;ll call tonight</string>
				<string>miss you</string>
				<string>i miss you</string>
				<string>i miss youu</string>
				<string>miss youu</string>
				<string>i missed you</string>
				<string>i miss u</string>
				<string>miss u</string>
			</array>
			<array>
				<string>i know the feeling</string>
				<string>i know that feeling</string>
				<string>i know how you feel</string>
				<string>i understand how you feel</string>
			</array>
			<array>
				<string>how so?</string>
				<string>how so ?</string>
				<string>how so</string>
			</array>
			<array>
				<string>neat!</string>
				<string>neato!</string>
				<string>neat</string>
				<string>heck ya</string>
				<string>coolio</string>
				<string>sweet</string>
			</array>
			<array>
				<string>i can&apos;t</string>
				<string>next time</string>
				<string>maybe next time</string>
				<string>maybe later</string>
				<string>i cant</string>
				<string>i cantt</string>
				<string>i cannot</string>
			</array>
			<array>
				<string>i understand what you mean</string>
				<string>you know what i mean</string>
				<string>i know what you mean</string>
				<string>you know what i meant</string>
			</array>
			<array>
				<string>yeah i know</string>
				<string>yea i know</string>
				<string>yes i know</string>
			</array>
			<array>
				<string>glad you like it!</string>
				<string>glad you enjoyed it!</string>
				<string>glad you liked it!</string>
				<string>glad you like it</string>
				<string>glad you liked it</string>
				<string>i&apos;m glad you like it!</string>
				<string>glad you like it 😊</string>
				<string>glad you liked it 😊</string>
				<string>glad you enjoyed it</string>
				<string>glad you liked it x</string>
			</array>
			<array>
				<string>can&apos;t wait!</string>
				<string>looking forward to it!</string>
				<string>i&apos;m looking forward to it</string>
				<string>cant wait</string>
				<string>i look forward to it</string>
				<string>i cant wait</string>
				<string>i cannot wait</string>
			</array>
			<array>
				<string>what&apos;s wrong</string>
				<string>what&apos;s wrong?</string>
				<string>are you okay</string>
				<string>are you okay?</string>
				<string>are you ok</string>
				<string>are you ok?</string>
				<string>can i help?</string>
				<string>how can i help</string>
				<string>are you okay ?</string>
				<string>are you ok ?</string>
				<string>whats wrong</string>
				<string>whats wrong ?</string>
				<string>how can i help ?</string>
				<string>are u okay ?</string>
				<string>are u okay</string>
				<string>are u ok ?</string>
			</array>
			<array>
				<string>thats what i thought</string>
				<string>thats what i was thinking</string>
				<string>exactly what i thought</string>
				<string>my thoughts exactly</string>
				<string>my thoughts exactly!</string>
			</array>
			<array>
				<string>ok cool</string>
				<string>ok great</string>
				<string>okay cool</string>
				<string>looks great</string>
				<string>oh cool</string>
				<string>oh ok cool</string>
			</array>
			<array>
				<string>good you?</string>
				<string>good you</string>
				<string>i&apos;m good you</string>
				<string>i&apos;m good you?</string>
				<string>i&apos;m good how are you</string>
				<string>i&apos;m good how are you?</string>
				<string>good and you</string>
				<string>good and you?</string>
				<string>i&apos;m good and you</string>
				<string>i&apos;m good and you?</string>
				<string>not too bad</string>
				<string>pretty good you?</string>
				<string>good and you ?</string>
				<string>good you ?</string>
				<string>im good and you ?</string>
				<string>good u ?</string>
				<string>pretty good hbu ?</string>
				<string>good u</string>
				<string>im good hbu ?</string>
				<string>im good hbu</string>
				<string>im good hbu ?</string>
				<string>im good hbu</string>
			</array>
			<array>
				<string>hold on a sec</string>
				<string>call you later</string>
				<string>can&apos;t talk right now</string>
				<string>i&apos;ll call soon</string>
				<string>i&apos;ll text soon</string>
				<string>ill text you</string>
			</array>
			<array>
				<string>i really appreciate it</string>
				<string>appreciate it</string>
				<string>appreciate it!</string>
				<string>i appreciate it</string>
				<string>appreciate it g</string>
				<string>preciate it</string>
				<string>i appreciate u</string>
				<string>i appreciate</string>
				<string>i appreciate that</string>
				<string>appreciate u</string>
				<string>appreciate it bro</string>
				<string>appreciate it man</string>
			</array>
			<array>
				<string>firstPartyPhoneUEhPTkUuMXAK</string>
			</array>
			<array>
				<string>firstPartyEmailRU1BSUwuMXAK</string>
			</array>
			<array>
				<string>firstPartyPostalUE9TVEFMLjFwCg</string>
			</array>
			<array>
				<string>firstPartyLocTE9DLjFwCg</string>
			</array>
			<array>
				<string>photoSharingUEhPVE8K</string>
			</array>
			<array>
				<string>thirdPartyPhoneUEhPTkUuM3AK</string>
			</array>
			<array>
				<string>thirdPartyEmailRU1BSUwuMXAK</string>
			</array>
			<array>
				<string>thirdPartyPostalUE9TVEFMLjFwCg</string>
			</array>
		</array>
		<key>es</key>
		<array>
			<array>
				<string>gracias</string>
				<string>muchas gracias</string>
			</array>
			<array>
				<string>de nada</string>
			</array>
			<array>
				<string>no pasa nada</string>
				<string>no hay problema</string>
			</array>
			<array>
				<string>todavia no</string>
				<string>aún no</string>
			</array>
			<array>
				<string>suena bien</string>
				<string>me parece bien</string>
				<string>por mi está bien</string>
			</array>
			<array>
				<string>no puedo</string>
				<string>lo siento no puedo</string>
			</array>
			<array>
				<string>te quiero también</string>
				<string>te amo también</string>
				<string>yo también te amo</string>
				<string>yo también te quiero</string>
			</array>
			<array>
				<string>yo también te extraño</string>
				<string>yo también te echo de menos</string>
				<string>tú también me haces falta</string>
			</array>
			<array>
				<string>marvilloso</string>
				<string>estupendo</string>
				<string>extraordinario</string>
				<string>perfecto</string>
				<string>excelente</string>
			</array>
			<array>
				<string>lo siento</string>
			</array>
			<array>
				<string>no</string>
			</array>
			<array>
				<string>quizas</string>
				<string>tal vez</string>
				<string>probablamente</string>
			</array>
			<array>
				<string>si</string>
				<string>claro</string>
			</array>
			<array>
				<string>lo haré</string>
				<string>si, lo haré</string>
			</array>
			<array>
				<string>que pasa</string>
				<string>que pasa?</string>
				<string>que tal</string>
				<string>que tal?</string>
			</array>
			<array>
				<string>hasta pronto</string>
				<string>te veo pronto</string>
				<string>te veo</string>
			</array>
			<array>
				<string>bien, y tú?</string>
				<string>todo bien, y tú?</string>
			</array>
			<array>
				<string>también</string>
				<string>yo también</string>
				<string>igual yo</string>
			</array>
			<array>
				<string>ok</string>
				<string>vale</string>
				<string>órale</string>
			</array>
			<array>
				<string>esta bien</string>
			</array>
			<array>
				<string>pronto</string>
				<string>hoy</string>
				<string>mañana</string>
			</array>
			<array>
				<string>estoy en camino</string>
				<string>estoy de camino</string>
			</array>
			<array>
				<string>lol</string>
				<string>rofl</string>
				<string>jaja</string>
				<string>jajaja</string>
				<string>ajaja</string>
			</array>
			<array>
				<string>anda</string>
				<string>guau</string>
				<string>vaya</string>
				<string>hala</string>
			</array>
			<array>
				<string>lo siento, no puedo hablar ahora</string>
				<string>perdón, no puedo hablar ahora</string>
				<string>hablamos más tarde</string>
				<string>hablamos luego</string>
			</array>
			<array>
				<string>hola</string>
			</array>
			<array>
				<string>por supuesto</string>
			</array>
		</array>
	</dict>
</dict>
</plist>
