<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.Bookmarks</key>
	<string>com.apple.Safari</string>
	<key>com.apple.Contacts</key>
	<string>com.apple.AddressBook</string>
	<key>com.apple.Calendars</key>
	<string>com.apple.iCal</string>
	<key>com.apple.MailAccounts</key>
	<string>com.apple.Mail</string>
	<key>com.apple.MailConfiguration</key>
	<string>com.apple.Mail</string>
</dict>
</plist>
