<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AssetThresholdInBytes</key>
	<integer>20480</integer>
	<key>FirstSyncPeriodInDays</key>
	<integer>7</integer>
	<key>MinSyncsPerDay</key>
	<integer>1</integer>
	<key>MaxSyncsPerDay</key>
	<integer>30</integer>
	<key>NumChangesTriggeringSync</key>
	<integer>100</integer>
	<key>SingleDeviceSyncIntervalInDays</key>
	<integer>7</integer>
	<key>StreamNamesWithAdditionsTriggeringSync</key>
	<array/>
	<key>StreamNamesWithDeletionsTriggeringSync</key>
	<array>
		<string>/portrait/entity</string>
		<string>/portrait/topic</string>
	</array>
	<key>SyncTimeoutInSeconds</key>
	<integer>30</integer>
</dict>
</plist>
