<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>national forest</key>
	<string></string>
	<key>state forest</key>
	<string></string>
	<key>reserved forest</key>
	<string></string>
	<key>national park</key>
	<string></string>
	<key>state park</key>
	<string></string>
	<key>county park</key>
	<string></string>
	<key>conservation reserve</key>
	<string></string>
	<key>nature reserve</key>
	<string></string>
	<key>national recreation area</key>
	<string></string>
	<key>recreation area</key>
	<string></string>
	<key>state wildlife area</key>
	<string></string>
	<key>wildlife area</key>
	<string></string>
	<key>natural area</key>
	<string></string>
	<key>wildlife refuge</key>
	<string></string>
	<key>national wildlife refuge</key>
	<string></string>
	<key>reservoir dam</key>
	<string>Reservoir</string>
	<key>lake dam</key>
	<string>Lake</string>
	<key>high school</key>
	<string>High</string>
	<key>junior high school</key>
	<string>Jr. High</string>
	<key>senior high school</key>
	<string>Sr. High</string>
	<key>elementary school</key>
	<string>Elementary</string>
	<key>middle school</key>
	<string>Middle</string>
</dict>
</plist>
