<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>OpenSourceProject</key>
		<string>APTimeZones</string>
		<key>OpenSourceVersion</key>
		<string>1.1</string>
		<key>OpenSourceURL</key>
		<string>https://github.com/Alterplay/APTimeZones</string>
		<key>OpenSourceSHA1</key>
		<string>b09c0819b923c47d04e1f4dc3f9dce2a974bfe96</string>
		<key>OpenSourceImportDate</key>
		<string>2015-05-01</string>
		<key>OpenSourceLicense</key>
		<string>MIT</string>
		<key>OpenSourceLicenseFile</key>
		<string>APTimeZones.txt</string>
	</dict>
</array>
</plist>
