<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "https://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DEFAULT-OPTIONS</key>
	<dict>
		<key>Level</key>
		<dict>
			<key>Enable</key>
			<string>Info</string>
			<key>Persist</key>
			<string>Info</string>
		</dict>
	</dict>
	<key>core</key>
	<dict>
		<key>Signpost-Persisted</key>
		<true/>
		<key>Level</key>
		<dict>
			<key>Enable</key>
			<string>Info</string>
			<key>Persist</key>
			<string>Info</string>
		</dict>
		<key>TTL</key>
		<dict>
			<key>Default</key>
			<integer>4</integer>
			<key>Info</key>
			<integer>2</integer>
			<key>Debug</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>graph</key>
	<dict>
		<key>Signpost-Persisted</key>
		<true/>
		<key>Level</key>
		<dict>
			<key>Enable</key>
			<string>Info</string>
			<key>Persist</key>
			<string>Info</string>
		</dict>
		<key>TTL</key>
		<dict>
			<key>Default</key>
			<integer>4</integer>
			<key>Info</key>
			<integer>2</integer>
			<key>Debug</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>ingest</key>
	<dict>
		<key>Signpost-Persisted</key>
		<true/>
		<key>Level</key>
		<dict>
			<key>Enable</key>
			<string>Info</string>
			<key>Persist</key>
			<string>Info</string>
		</dict>
		<key>TTL</key>
		<dict>
			<key>Default</key>
			<integer>4</integer>
			<key>Info</key>
			<integer>2</integer>
			<key>Debug</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>enrichment</key>
	<dict>
		<key>Signpost-Persisted</key>
		<true/>
		<key>Level</key>
		<dict>
			<key>Enable</key>
			<string>Info</string>
			<key>Persist</key>
			<string>Info</string>
		</dict>
		<key>TTL</key>
		<dict>
			<key>Default</key>
			<integer>4</integer>
			<key>Info</key>
			<integer>2</integer>
			<key>Debug</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>memory</key>
	<dict>
		<key>Signpost-Persisted</key>
		<true/>
		<key>Level</key>
		<dict>
			<key>Enable</key>
			<string>Info</string>
			<key>Persist</key>
			<string>Info</string>
		</dict>
		<key>TTL</key>
		<dict>
			<key>Default</key>
			<integer>4</integer>
			<key>Info</key>
			<integer>2</integer>
			<key>Debug</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>suggestions</key>
	<dict>
		<key>Signpost-Persisted</key>
		<true/>
		<key>Level</key>
		<dict>
			<key>Enable</key>
			<string>Info</string>
			<key>Persist</key>
			<string>Info</string>
		</dict>
		<key>TTL</key>
		<dict>
			<key>Default</key>
			<integer>4</integer>
			<key>Info</key>
			<integer>2</integer>
			<key>Debug</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>musicCurator</key>
	<dict>
		<key>Signpost-Persisted</key>
		<true/>
		<key>Level</key>
		<dict>
			<key>Enable</key>
			<string>Info</string>
			<key>Persist</key>
			<string>Info</string>
		</dict>
		<key>TTL</key>
		<dict>
			<key>Default</key>
			<integer>4</integer>
			<key>Info</key>
			<integer>2</integer>
			<key>Debug</key>
			<integer>0</integer>
		</dict>
	</dict>
</dict>
</plist>
