<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BestOfPast.None</key>
	<array>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
	</array>
	<key>CelebratedHolidayInHistory.None</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>CelebrationOverTime.None</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>Contextual.None</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>DayInHistory.None</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>EarlyMomentsWithPeople.None</key>
	<array>
		<integer>1</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>-1</integer>
		<integer>-1</integer>
	</array>
	<key>Featured.FeaturedBaby</key>
	<array>
		<integer>-1</integer>
		<integer>1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>0</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
	</array>
	<key>Featured.FeaturedBirthday</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
	</array>
	<key>Featured.FeaturedMeaningfulEvent</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>Featured.FeaturedMeaningfulEventAggregate</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>Featured.FeaturedNeighbor</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>Featured.FeaturedPastSuperset</key>
	<array>
		<integer>0</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>-1</integer>
		<integer>-1</integer>
	</array>
	<key>Featured.FeaturedPeople</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>Featured.FeaturedPeopleVisiting</key>
	<array>
		<integer>-1</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>-1</integer>
	</array>
	<key>Featured.FeaturedPerson</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
	</array>
	<key>Featured.FeaturedPet</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>-1</integer>
		<integer>0</integer>
	</array>
	<key>Featured.FeaturedRecurrentTrip</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>Featured.FeaturedSocialGroup</key>
	<array>
		<integer>0</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>Featured.FeaturedSomeTime</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>Featured.FeaturedTrip</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>Featured.FeaturedWeekend</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>Featured.FeaturedFoodie</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>-1</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
	</array>
	<key>HolidayInHistory.None</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>HomeAggregation.None</key>
	<array>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>0</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>-1</integer>
	</array>
	<key>KeyPeopleForUpcomingHolidayEvent.FeaturedPerson</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>KeyPeopleForUpcomingHolidayEvent.FeaturedSocialGroup</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>LastWeek.None</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>LastWeekend.None</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>NearbyToday</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>PeopleOverTime.FeaturedPerson</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
	</array>
	<key>PeopleOverTime.FeaturedSocialGroup</key>
	<array>
		<integer>0</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>Place.PlaceArea</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>Place.PlaceBusiness</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>Place.PlaceLocation</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>Place.PlaceRegion</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>PointOfInterest</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>RecentPastEvent.EventCalendar</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>RecentPastEvent.EventHoliday</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>RecentPastEvent.EventPeople</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>RecentPastEvent.FeaturedNeighbor</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>RecentPastEvent.FeaturedPerson</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>RecentPastEvent.FeaturedSocialGroup</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>RecentPastEvent.FeaturedTrip</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>RecentPastEvent.FeaturedWeekend</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>RecentSpecialEvent</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>SameDay</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>SameWeekend</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>Scene</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>SeasonInHistory.None</key>
	<array>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>-1</integer>
		<integer>-1</integer>
	</array>
	<key>Special</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>ThisSeason.None</key>
	<array>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>-1</integer>
		<integer>-1</integer>
	</array>
	<key>ThisWeek</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>ThrowbackThursday.None</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>UpcomingRelatedEvent.EventCalendar</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>UpcomingRelatedEvent.EventHoliday</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>UpcomingRelatedEvent.EventPeople</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>WeekInHistory.None</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>YearSummary.None</key>
	<array>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
	</array>
	<key>PHMemoryCategorySingleMoment</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
    <key>PHMemoryCategoryPersonOverTime</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
	</array>
    <key>PHMemoryCategoryPerson</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
	</array>
    <key>PHMemoryCategoryEarlyMomentsWithPerson</key>
	<array>
		<integer>1</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>-1</integer>
		<integer>-1</integer>
	</array>
    <key>PHMemoryCategorySocialGroupOverTime</key>
	<array>
		<integer>0</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
    <key>PHMemoryCategorySocialGroup</key>
	<array>
		<integer>0</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
    <key>PHMemoryCategoryLastMonthAtHome</key>
	<array>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>0</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>-1</integer>
	</array>
    <key>PHMemoryCategoryYearInReview</key>
	<array>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
	</array>
    <key>PHMemoryCategoryFoodie</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>-1</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
	</array>
    <key>PHMemoryCategoryPet</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>-1</integer>
		<integer>0</integer>
	</array>
    <key>PHMemoryCategoryBaby</key>
	<array>
		<integer>-1</integer>
		<integer>1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>0</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
	</array>
    <key>PHMemoryCategoryCityLocation</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
    <key>PHMemoryCategoryRegionLocation</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
    <key>PHMemoryCategoryAreaLocation</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
    <key>PHMemoryCategoryBusinessLocation</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
    <key>PHMemoryCategoryMeaningfulEvent</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
    <key>PHMemoryCategoryMeaningfulEventAggregation</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
    <key>PHMemoryCategoryRecurrentTrip</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
    <key>PHMemoryCategoryTrip</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
    <key>PHMemoryCategoryPastSuperset</key>
	<array>
		<integer>0</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>-1</integer>
		<integer>-1</integer>
	</array>
    <key>PHMemoryCategorySeason</key>
	<array>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>-1</integer>
		<integer>-1</integer>
	</array>
    <key>PHMemoryCategoryDayInHistoryAggregation</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
    <key>PHMemoryCategoryRecentHighlights</key>
	<array>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
	</array>
    <key>PHMemoryCategoryChildActivity</key>
	<array>
		<integer>-1</integer>
		<integer>1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>0</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
	</array>
    <key>PHMemoryCategoryChildActivityFirsts</key>
	<array>
		<integer>-1</integer>
		<integer>1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>0</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
	</array>
    <key>PHMemoryCategoryTrends</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>-1</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>-1</integer>
		<integer>-1</integer>
		<integer>-1</integer>
	</array>
    <key>PHMemoryCategoryPetOutdoor</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>0</integer>
		<integer>-1</integer>
		<integer>0</integer>
	</array>
</dict>
</plist>
