<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Airplane</string>
	<string>Airshow</string>
	<string>Aquarium</string>
	<string>Archery</string>
	<string>Athletics</string>
	<string>Atv</string>
	<string>Auditorium</string>
	<string>Aurora</string>
	<string>Badminton</string>
	<string>Ballet</string>
	<string>Balloon_hotair</string>
	<string>Baseball</string>
	<string>Basketball</string>
	<string>Beach</string>
	<string>Bicycle</string>
	<string>Billiards</string>
	<string>Blackjack</string>
	<string>Board_game</string>
	<string>Bonsai</string>
	<string>Bowling</string>
	<string>Boxing</string>
	<string>Camping</string>
	<string>Canoe</string>
	<string>Canyon</string>
	<string>Car</string>
	<string>Carnival</string>
	<string>Carousel</string>
	<string>Casino</string>
	<string>Castle</string>
	<string>Cheerleading</string>
	<string>Cheese</string>
	<string>Circus</string>
	<string>Cliff</string>
	<string>Concert</string>
	<string>Cricket_sport</string>
	<string>Cycling</string>
	<string>Dam</string>
	<string>Dartboard</string>
	<string>Desert</string>
	<string>Dinosaur</string>
	<string>Diving</string>
	<string>Dragon_parade</string>
	<string>Dressage</string>
	<string>Easter_egg</string>
	<string>Equestrian</string>
	<string>Fencing_sport</string>
	<string>Fireplace</string>
	<string>Fireworks</string>
	<string>Fishing</string>
	<string>Foosball</string>
	<string>Football</string>
	<string>Forest</string>
	<string>Formula_one_car</string>
	<string>Geyser</string>
	<string>Glacier</string>
	<string>Go_kart</string>
	<string>Gymnastics</string>
	<string>Hangglider</string>
	<string>Helicopter</string>
	<string>Hockey</string>
	<string>Ice_skating</string>
	<string>Jetski</string>
	<string>Jockey_horse</string>
	<string>Jungle</string>
	<string>Karaoke</string>
	<string>Kayak</string>
	<string>Kickboxing</string>
	<string>Kite</string>
	<string>Kiteboarding</string>
	<string>Lake</string>
	<string>Lighthouse</string>
	<string>Lightning</string>
	<string>Magic</string>
	<string>Martial_arts</string>
	<string>Motocross</string>
	<string>Motorcycle</string>
	<string>Mountain</string>
	<string>Museum</string>
	<string>Nascar</string>
	<string>Nightclub</string>
	<string>Oktoberfest</string>
	<string>Orchestra</string>
	<string>Paintball</string>
	<string>Parade</string>
	<string>Parasailing</string>
	<string>Pier</string>
	<string>Pinata</string>
	<string>Ping_pong</string>
	<string>Poker</string>
	<string>Pyramid</string>
	<string>Rafting</string>
	<string>Rock_climbing</string>
	<string>Rocket</string>
	<string>Rodeo</string>
	<string>Rollerskating</string>
	<string>Rowboat</string>
	<string>Rugby</string>
	<string>Sailboat</string>
	<string>Sandcastle</string>
	<string>Santa_claus</string>
	<string>Scuba</string>
	<string>Skateboarding</string>
	<string>Skatepark</string>
	<string>Skiing</string>
	<string>Skydiving</string>
	<string>Skysurfing</string>
	<string>Sledding</string>
	<string>Snorkeling</string>
	<string>Snowboarding</string>
	<string>Snowmobile</string>
	<string>Soccer</string>
	<string>Softball</string>
	<string>Squash_sport</string>
	<string>Stadium</string>
	<string>Sumo</string>
	<string>Sunbathing</string>
	<string>Surfing</string>
	<string>Swimming</string>
	<string>Tennis</string>
	<string>Thanksgiving</string>
	<string>Theater</string>
	<string>Tornado</string>
	<string>Underwater</string>
	<string>Volcano</string>
	<string>Volleyball</string>
	<string>Wakeboarding</string>
	<string>Waterfall</string>
	<string>Waterpolo</string>
	<string>Windsurfing</string>
	<string>Wrestling</string>
	<string>Yoga</string>
	<string>Zoo</string>
	<string>Baby</string>
	<string>Amusement_park</string>
	<string>Animal</string>
	<string>Art</string>
	<string>Bird</string>
	<string>Cat</string>
	<string>Dancing</string>
	<string>Dog</string>
	<string>Flower</string>
	<string>Food</string>
	<string>Games</string>
	<string>Golf</string>
	<string>Motorsport</string>
	<string>Music</string>
	<string>Performance</string>
	<string>Playground</string>
	<string>Railroad</string>
	<string>Reptile</string>
	<string>Skating</string>
	<string>Sport</string>
	<string>Train</string>
	<string>Watersport</string>
	<string>Winter_sport</string>
	<string>Cake</string>
	<string>Tattoo</string>
	<string>Sportscar</string>
	<string>Snow</string>
	<string>Cetacean</string>
	<string>Feline</string>
	<string>Sunset_sunrise</string>
	<string>Night_sky</string>
	<string>Hiking</string>
	<string>Graduation</string>
	<string>Food</string>
	<string>Fish</string>
	<string>Vehicle</string>
	<string>Boat</string>
	<string>String_instrument</string>
	<string>Monument</string>
	<string>Musical_instrument</string>
	<string>Jewelry</string>
	<string>Beach</string>
	<string>Surfing</string>
	<string>Shore</string>
	<string>Submarine_water</string>
	<string>Coral_reef</string>
</array>
</plist>
