<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>20A241128</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>SpeechRecognitionCore</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.SpeechRecognitionCore</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>SpeechRecognitionCore</string>
	<key>CFBundlePackageType</key>
	<string>FMWK</string>
	<key>CFBundleShortVersionString</key>
	<string>6.2.26.9</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>6.2.26.9</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>13E6049a</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>12.3</string>
	<key>DTSDKBuild</key>
	<string>21E216a</string>
	<key>DTSDKName</key>
	<string>macosx12.3.internal</string>
	<key>DTXcode</key>
	<string>1330</string>
	<key>DTXcodeBuild</key>
	<string>13E6049a</string>
	<key>LSMinimumSystemVersion</key>
	<string>12.3</string>
	<key>LocaleProperties</key>
	<dict>
		<key>en_CA</key>
		<dict>
			<key>AssetFallbackLocaleIdentifier</key>
			<string>en_US</string>
		</dict>
		<key>es_MX</key>
		<dict>
			<key>AssetFallbackLocaleIdentifier</key>
			<string>es_US</string>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2011-2013 Apple Computer. All rights reserved.</string>
	<key>SupportedNashvilleLocaleIdentifiers</key>
	<array>
		<string>ar</string>
		<string>ca_ES</string>
		<string>cs_CZ</string>
		<string>da_DK</string>
		<string>de_CH</string>
		<string>el_GR</string>
		<string>fi_FI</string>
		<string>fr_CA</string>
		<string>fr_CH</string>
		<string>he_IL</string>
		<string>hr_HR</string>
		<string>hu_HU</string>
		<string>id_ID</string>
		<string>it_CH</string>
		<string>it_IT</string>
		<string>ko_KR</string>
		<string>ms_MY</string>
		<string>nb_NO</string>
		<string>nl_NL</string>
		<string>pl_PL</string>
		<string>pt_BR</string>
		<string>pt_PT</string>
		<string>ro_RO</string>
		<string>ru_RU</string>
		<string>sk_SK</string>
		<string>sv_SE</string>
		<string>th_TH</string>
		<string>tr_TR</string>
		<string>uk_UA</string>
		<string>vi_VN</string>
		<string>zh_TW</string>
	</array>
	<key>SupportedQuasarLocaleIdentifiers</key>
	<array>
		<string>de_DE</string>
		<string>en_US</string>
		<string>en_GB</string>
		<string>en_IN</string>
		<string>en_AU</string>
		<string>en_CA</string>
		<string>es_US</string>
		<string>es_MX</string>
		<string>es_ES</string>
		<string>fr_FR</string>
		<string>ja_JP</string>
		<string>zh_CN</string>
		<string>zh_HK</string>
	</array>
</dict>
</plist>
