<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>us</key>
	<dict>
		<key>Daylight Saving Time Begins</key>
		<integer>8</integer>
		<key>Daylight Saving Time Ends</key>
		<integer>8</integer>
		<key>Martin Luther King, Jr. Day</key>
		<integer>1</integer>
		<key>Groundhog Day</key>
		<integer>8</integer>
		<key>Earth Day</key>
		<integer>8</integer>
		<key>Columbus Day</key>
		<integer>1</integer>
		<key>Thanksgiving</key>
		<integer>1</integer>
		<key>Memorial Day</key>
		<integer>1</integer>
		<key>New Year&apos;s Day</key>
		<integer>1</integer>
		<key>New Year&apos;s Day (observed)</key>
		<integer>8</integer>
		<key>Father&apos;s Day</key>
		<integer>4</integer>
		<key>Veterans Day</key>
		<integer>1</integer>
		<key>Veterans Day (observed)</key>
		<integer>8</integer>
		<key>Mother&apos;s Day</key>
		<integer>4</integer>
		<key>Independence Day</key>
		<integer>1</integer>
		<key>Independence Day (observed)</key>
		<integer>8</integer>
		<key>Christmas Day</key>
		<integer>2</integer>
		<key>Flag Day</key>
		<integer>8</integer>
		<key>Tax Day</key>
		<integer>8</integer>
		<key>Valentine&apos;s Day</key>
		<integer>4</integer>
		<key>Easter</key>
		<integer>2</integer>
		<key>Inauguration Day</key>
		<integer>8</integer>
		<key>Election Day</key>
		<integer>8</integer>
		<key>Presidents&apos; Day</key>
		<integer>1</integer>
		<key>Labor Day</key>
		<integer>1</integer>
		<key>St Patrick&apos;s Day</key>
		<integer>4</integer>
		<key>Halloween</key>
		<integer>4</integer>
		<key>April Fools Day</key>
		<integer>8</integer>
		<key>Washington&apos;s Birthday</key>
		<integer>8</integer>
		<key>Lincoln&apos;s Birthday</key>
		<integer>8</integer>
		<key>John F. Kennedy&apos;s Birthday</key>
		<integer>8</integer>
	</dict>
</dict>
</plist>
