<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>us</key>
	<string>http://files.apple.com/calendars/US32Holidays.ics</string>
	<key>au</key>
	<string>http://files.apple.com/calendars/Australian32Holidays.ics</string>
	<key>at</key>
	<string>http://files.apple.com/calendars/Austrian32Holidays.ics</string>
	<key>br</key>
	<string>http://files.apple.com/calendars/Brazil32Holidays.ics</string>
	<key>ca</key>
	<string>http://files.apple.com/calendars/Canadian32Holidays.ics</string>
	<key>cn</key>
	<string>http://files.apple.com/calendars/China32Holidays.ics</string>
	<key>dk</key>
	<string>http://files.apple.com/calendars/Danish32Holidays.ics</string>
	<key>nl</key>
	<string>http://files.apple.com/calendars/Dutch32Holidays.ics</string>
	<key>fi</key>
	<string>http://files.apple.com/calendars/Finnish32Holidays.ics</string>
	<key>fr</key>
	<string>http://files.apple.com/calendars/French32Holidays.ics</string>
	<key>de</key>
	<string>http://files.apple.com/calendars/German32Holidays.ics</string>
	<key>hk</key>
	<string>http://files.apple.com/calendars/Hong32Kong32Holidays.ics</string>
	<key>id</key>
	<string>http://files.apple.com/calendars/Indonesian32Holidays.ics</string>
	<key>ie</key>
	<string>http://files.apple.com/calendars/Irish32Holidays.ics</string>
	<key>it</key>
	<string>http://files.apple.com/calendars/Italian32Holidays.ics</string>
	<key>jp</key>
	<string>http://files.apple.com/calendars/Japanese32Holidays.ics</string>
	<key>my</key>
	<string>http://files.apple.com/calendars/Malaysia32Holidays.ics</string>
	<key>mx</key>
	<string>http://files.apple.com/calendars/Mexican32Holidays.ics</string>
	<key>nz</key>
	<string>http://files.apple.com/calendars/New32Zealand32Holidays.ics</string>
	<key>no</key>
	<string>http://files.apple.com/calendars/Norwegian32Holidays.ics</string>
	<key>pt</key>
	<string>http://files.apple.com/calendars/Portuguese32Holidays.ics</string>
	<key>sg</key>
	<string>http://files.apple.com/calendars/Singapore32Holidays.ics</string>
	<key>kp</key>
	<string>http://files.apple.com/calendars/South32Korean32Holidays.ics</string>
	<key>es</key>
	<string>http://files.apple.com/calendars/Spain32Holidays.ics</string>
	<key>se</key>
	<string>http://files.apple.com/calendars/Swedish32Holidays.ics</string>
	<key>tw</key>
	<string>http://files.apple.com/calendars/Taiwan32Holidays.ics</string>
	<key>th</key>
	<string>http://files.apple.com/calendars/Thai32Holidays.ics</string>
	<key>gb</key>
	<string>http://files.apple.com/calendars/UK32Holidays.ics</string>
	<key>vn</key>
	<string>http://files.apple.com/calendars/Vietnamese32Holidays.ics</string>
	<key>ch</key>
	<string>http://files.apple.com/calendars/Swiss32Holidays.ics</string>
	<key>ru</key>
	<string>http://files.apple.com/calendars/Russia32Holidays.ics</string>
	<key>pl</key>
	<string>http://files.apple.com/calendars/Poland32Holidays.ics</string>
	<key>be</key>
	<string>http://files.apple.com/calendars/Belgium32Holidays.ics</string>
	<key>lt</key>
	<string>http://files.apple.com/calendars/Lithuania32Holidays.ics</string>
	<key>lu</key>
	<string>http://files.apple.com/calendars/Luxembourg32Holidays.ics</string>
	<key>bg</key>
	<string>http://files.apple.com/calendars/Bulgaria32Holidays.ics</string>
	<key>by</key>
	<string>http://files.apple.com/calendars/Belarus32Holidays.ics</string>
	<key>cz</key>
	<string>http://files.apple.com/calendars/Czech32Republic32Holidays.ics</string>
	<key>ee</key>
	<string>http://files.apple.com/calendars/Estonia32Holidays.ics</string>
	<key>gr</key>
	<string>http://files.apple.com/calendars/Greece32Holidays.ics</string>
	<key>hr</key>
	<string>http://files.apple.com/calendars/Croatia32Holidays.ics</string>
	<key>hu</key>
	<string>http://files.apple.com/calendars/Hungary32Holidays.ics</string>
	<key>il</key>
	<string>http://files.apple.com/calendars/Israel32Holidays.ics</string>
	<key>lv</key>
	<string>http://files.apple.com/calendars/Latvia32Holidays.ics</string>
	<key>me</key>
	<string>http://files.apple.com/calendars/Montenegro32Holidays.ics</string>
	<key>mk</key>
	<string>http://files.apple.com/calendars/Macedonia32Holidays.ics</string>
	<key>ro</key>
	<string>http://files.apple.com/calendars/Romania32Holidays.ics</string>
	<key>sk</key>
	<string>http://files.apple.com/calendars/Slovakia32Holidays.ics</string>
	<key>tr</key>
	<string>http://files.apple.com/calendars/Turkey32Holidays.ics</string>
	<key>ua</key>
	<string>http://files.apple.com/calendars/Ukraine32Holidays.ics</string>
</dict>
</plist>
