<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AT</key>
	<dict>
		<key>default</key>
		<string>https://www.apple.com/at/osx/print-products</string>
	</dict>
	
	<key>AU</key>
	<dict>
		<key>default</key>
		<string>https://www.apple.com/au/osx/print-products</string>
	</dict>
	
	<key>BE</key>
	<dict>
		<key>default</key>
		<string>https://www.apple.com/befr/osx/print-products</string>
		<key>fr</key>
		<string>https://www.apple.com/befr/osx/print-products</string>
		<key>fl</key>
		<string>https://www.apple.com/benl/osx/print-products</string>
	</dict>
	
	<key>CA</key>
	<dict>
		<key>default</key>
		<string>https://www.apple.com/ca/osx/print-products</string>
		<key>en</key>
		<string>https://www.apple.com/ca/osx/print-products</string>
		<key>fr</key>
		<string>https://www.apple.com/ca/fr/osx/print-products</string>
	</dict>
	
	<key>CH</key>
	<dict>
		<key>default</key>
		<string>https://www.apple.com/chde/osx/print-products</string>
		<key>de</key>
		<string>https://www.apple.com/chde/osx/print-products</string>
		<key>fr</key>
		<string>https://www.apple.com/chfr/osx/print-products</string>
	</dict>
	
	<key>DE</key>
	<dict>
		<key>default</key>
		<string>https://www.apple.com/de/osx/print-products</string>
	</dict>
	
	<key>DK</key>
	<dict>
		<key>default</key>
		<string>https://www.apple.com/dk/osx/print-products</string>
	</dict>
	
	<key>ES</key>
	<dict>
		<key>default</key>
		<string>https://www.apple.com/es/osx/print-products</string>
	</dict>
	
	<key>FI</key>
	<dict>
		<key>default</key>
		<string>https://www.apple.com/fi/osx/print-products</string>
	</dict>
	
	<key>FR</key>
	<dict>
		<key>default</key>
		<string>https://www.apple.com/fr/osx/print-products</string>
	</dict>
	
	<key>GB</key>
	<dict>
		<key>default</key>
		<string>https://www.apple.com/uk/osx/print-products</string>
	</dict>
	
	<key>HK</key>
	<dict>
		<key>default</key>
		<string>https://www.apple.com/hk/osx/print-products</string>
		<key>en</key>
		<string>https://www.apple.com/hk/en/osx/print-products</string>
	</dict>
	
	<key>IE</key>
	<dict>
		<key>default</key>
		<string>https://www.apple.com/ie/osx/print-products</string>
	</dict>
	
	<key>IT</key>
	<dict>
		<key>default</key>
		<string>https://www.apple.com/it/osx/print-products</string>
	</dict>
	
	<key>JP</key>
	<dict>
		<key>default</key>
		<string>https://www.apple.com/jp/osx/print-products</string>
	</dict>
	
	<key>NL</key>
	<dict>
		<key>default</key>
		<string>https://www.apple.com/nl/osx/print-products</string>
	</dict>
	
	<key>NO</key>
	<dict>
		<key>default</key>
		<string>https://www.apple.com/no/osx/print-products</string>
	</dict>
	
	<key>NZ</key>
	<dict>
		<key>default</key>
		<string>https://www.apple.com/nz/osx/print-products</string>
	</dict>
	
	<key>SE</key>
	<dict>
		<key>default</key>
		<string>https://www.apple.com/se/osx/print-products</string>
	</dict>
	
	<key>SG</key>
	<dict>
		<key>default</key>
		<string>https://www.apple.com/sg/osx/print-products</string>
	</dict>
	
	<key>US</key>
	<dict>
		<key>default</key>
		<string>https://www.apple.com/osx/print-products</string>
	</dict>
	
</dict>
</plist>

