<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Georgia-Italic</string>
	<string>Papyrus</string>
	<string>HelveticaNeue-Light</string>
	<string>Helvetica-Oblique</string>
	<string>HelveticaNeue</string>
	<string>Copperplate</string>
	<string>HoeflerText-Regular</string>
	<string>Helvetica-Bold</string>
	<string>Marion-Bold</string>
	<string>Times-Roman</string>
	<string>AmericanTypewriter</string>
	<string>Zapfino</string>
	<string>Didot-Bold</string>
	<string>Baskerville-Italic</string>
	<string>HopperScript-Regular</string>
	<string>Cochin-Bold</string>
	<string>HelveticaNeue-Italic</string>
	<string>GillSans-Light</string>
	<string>Times-Bold</string>
	<string>Cochin-Italic</string>
	<string>Futura-Medium</string>
	<string>Baskerville</string>
	<string>Times-Italic</string>
	<string>GillSans</string>
	<string>Herculanum</string>
	<string>Georgia</string>
	<string>BraganzaITCTT</string>
	<string>Optima-Regular</string>
	<string>BradleyHandITCTT-Bold</string>
	<string>Cochin</string>
	<string>Didot</string>
	<string>MarkerFelt-Thin</string>
	<string>Superclarendon-Bold</string>
	<string>HoeflerText-Italic</string>
	<string>Superclarendon-Regular</string>
	<string>HelveticaNeue-CondensedBold</string>
	<string>Helvetica</string>
	<string>Baskerville-SemiBold</string>
	<string>HelveticaNeue-CondensedBlack</string>
	<string>Marion-Italic</string>
	<string>Didot-Italic</string>
	<string>HelveticaNeue-Bold</string>
	<string>Superclarendon-Italic</string>
	<string>GillSans-Italic</string>
	<string>TimesNewRomanPSMT</string>
	<string>Optima</string>
	<string>Superclarendon-Light</string>
	<string>HelveticaNeue-LightItalic</string>
	<string>Marion-Regular</string>
	<string>GillSans-Bold</string>
	<string>Cochin Bold Italic</string>
	<string>Futura-MediumItalic</string>
	<string>Cochin Bold</string>
	<string>Marker Felt Thin</string>
	<string>Copperplate-Bold</string>
	<string>GillSans-LightItalic</string>
	<string>Cochin Italic</string>
	<string>Palatino-Roman</string>
	<string>Chalkboard</string>
	<string>Palatino-Italic</string>
	<string>HoeflerText-BlackItalic</string>
	<string>Apple-Chancery</string>
	<string>Palatino-Bold</string>
	<string>HoeflerText-Black</string>
	<string>Noteworthy-Bold</string>
	<string>Noteworthy-Light</string>
	<string>HelveticaNeue-UltraLight</string>
</array>
</plist>
