<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>events</key>
	<array>
		<dict>
			<key>dateRules</key>
			<array>
				<dict>
					<key>day</key>
					<integer>21</integer>
					<key>month</key>
					<integer>7</integer>
				</dict>
			</array>
			<key>name</key>
			<string>National Day</string>
			<key>traits</key>
			<dict>
				<key>categories</key>
				<array>
					<string>park</string>
					<string>fireworks</string>
					<string>food</string>
					<string>celebration</string>
				</array>
				<key>eventType</key>
				<integer>1</integer>
				<key>locationTrait</key>
				<integer>7</integer>
				<key>mustContainMe</key>
				<false/>
				<key>peopleCountRange</key>
				<string>{1, 10}</string>
				<key>peopleTrait</key>
				<integer>7</integer>
			</dict>
			<key>uuid</key>
			<string>6CBBE04E-7ED6-4B75-A119-83364ED58DA3</string>
		</dict>
		<dict>
			<key>dateRules</key>
			<array>
				<dict>
					<key>day</key>
					<integer>21</integer>
					<key>month</key>
					<integer>6</integer>
				</dict>
			</array>
			<key>name</key>
			<string>Music Day</string>
			<key>traits</key>
			<dict>
				<key>categories</key>
				<array>
					<string>bar</string>
					<string>nightclub</string>
					<string>concert</string>
				</array>
				<key>eventType</key>
				<integer>1</integer>
				<key>locationTrait</key>
				<integer>1</integer>
				<key>mustContainMe</key>
				<false/>
				<key>peopleCountRange</key>
				<string>{1, 4}</string>
				<key>peopleTrait</key>
				<integer>7</integer>
			</dict>
			<key>uuid</key>
			<string>D2056403-1FD8-46B2-89B8-C4EDCD60C78A</string>
		</dict>
		<dict>
			<key>dateRules</key>
			<array>
				<dict>
					<key>day</key>
					<integer>11</integer>
					<key>month</key>
					<integer>7</integer>
				</dict>
			</array>
			<key>name</key>
			<string>Flemish Community Day</string>
			<key>traits</key>
			<dict>
				<key>categories</key>
				<array/>
				<key>eventType</key>
				<integer>1</integer>
				<key>locationTrait</key>
				<integer>3</integer>
				<key>mustContainMe</key>
				<false/>
				<key>peopleCountRange</key>
				<string>{1, 10}</string>
				<key>peopleTrait</key>
				<integer>7</integer>
			</dict>
			<key>uuid</key>
			<string>2668361D-90D1-4312-B91B-F77C9E57E74F</string>
		</dict>
		<dict>
			<key>dateRules</key>
			<array>
				<dict>
					<key>day</key>
					<integer>27</integer>
					<key>month</key>
					<integer>9</integer>
				</dict>
			</array>
			<key>name</key>
			<string>French Community Day</string>
			<key>traits</key>
			<dict>
				<key>categories</key>
				<array/>
				<key>eventType</key>
				<integer>1</integer>
				<key>locationTrait</key>
				<integer>0</integer>
				<key>mustContainMe</key>
				<false/>
				<key>peopleCountRange</key>
				<string>{1, 10}</string>
				<key>peopleTrait</key>
				<integer>7</integer>
			</dict>
			<key>uuid</key>
			<string>7463261E-63F5-4281-AA4F-0896EC34B434</string>
		</dict>
		<dict>
			<key>dateRules</key>
			<array>
				<dict>
					<key>day</key>
					<integer>23</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2000</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>15</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2001</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>31</integer>
					<key>month</key>
					<integer>3</integer>
					<key>year</key>
					<integer>2002</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>20</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2003</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>11</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2004</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>27</integer>
					<key>month</key>
					<integer>3</integer>
					<key>year</key>
					<integer>2005</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>16</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2006</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>8</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2007</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>23</integer>
					<key>month</key>
					<integer>3</integer>
					<key>year</key>
					<integer>2008</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>12</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2009</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>4</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2010</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>24</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2011</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>8</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2012</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>31</integer>
					<key>month</key>
					<integer>3</integer>
					<key>year</key>
					<integer>2013</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>20</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2014</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>5</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2015</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>27</integer>
					<key>month</key>
					<integer>3</integer>
					<key>year</key>
					<integer>2016</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>16</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2017</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>1</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2018</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>21</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2019</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>12</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2020</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>4</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2021</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>17</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2022</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>9</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2023</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>31</integer>
					<key>month</key>
					<integer>3</integer>
					<key>year</key>
					<integer>2024</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>20</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2025</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>5</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2026</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>28</integer>
					<key>month</key>
					<integer>3</integer>
					<key>year</key>
					<integer>2027</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>16</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2028</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>1</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2029</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>21</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2030</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>13</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2031</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>28</integer>
					<key>month</key>
					<integer>3</integer>
					<key>year</key>
					<integer>2032</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>17</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2033</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>9</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2034</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>25</integer>
					<key>month</key>
					<integer>3</integer>
					<key>year</key>
					<integer>2035</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>13</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2036</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>5</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2037</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>25</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2038</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>10</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2039</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>1</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2040</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>21</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2041</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>6</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2042</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>29</integer>
					<key>month</key>
					<integer>3</integer>
					<key>year</key>
					<integer>2043</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>17</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2044</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>9</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2045</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>25</integer>
					<key>month</key>
					<integer>3</integer>
					<key>year</key>
					<integer>2046</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>14</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2047</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>5</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2048</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>18</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2049</integer>
				</dict>
			</array>
			<key>name</key>
			<string>Easter</string>
			<key>traits</key>
			<dict>
				<key>categories</key>
				<array>
					<string>rabbit</string>
					<string>food</string>
					<string>cake_regular</string>
					<string>easter_egg</string>
					<string>gift</string>
				</array>
				<key>eventType</key>
				<integer>1</integer>
				<key>locationTrait</key>
				<integer>3</integer>
				<key>mustContainMe</key>
				<false/>
				<key>peopleCountRange</key>
				<string>{0, 5}</string>
				<key>peopleTrait</key>
				<integer>3</integer>
			</dict>
			<key>uuid</key>
			<string>1AF3A4E3-5E2B-4A35-B621-BD171648AEE2</string>
		</dict>
		<dict>
			<key>dateRules</key>
			<array>
				<dict>
					<key>offsetDays</key>
					<integer>1</integer>
					<key>relativeToRule</key>
					<string>1AF3A4E3-5E2B-4A35-B621-BD171648AEE2</string>
				</dict>
			</array>
			<key>name</key>
			<string>Easter Monday</string>
			<key>traits</key>
			<dict>
				<key>categories</key>
				<array>
					<string>rabbit</string>
					<string>food</string>
					<string>cake_regular</string>
					<string>easter_egg</string>
					<string>gift</string>
				</array>
				<key>eventType</key>
				<integer>1</integer>
				<key>locationTrait</key>
				<integer>7</integer>
				<key>mustContainMe</key>
				<false/>
				<key>peopleCountRange</key>
				<string>{0, 5}</string>
				<key>peopleTrait</key>
				<integer>3</integer>
			</dict>
			<key>uuid</key>
			<string>0D26A82F-BAAD-4CDA-A8A2-6C23D51F41CD</string>
		</dict>
		<dict>
			<key>dateRules</key>
			<array>
				<dict>
					<key>month</key>
					<integer>5</integer>
					<key>weekday</key>
					<integer>1</integer>
					<key>weekdayOrdinal</key>
					<integer>2</integer>
				</dict>
			</array>
			<key>name</key>
			<string>Mother’s Day</string>
			<key>traits</key>
			<dict>
				<key>categories</key>
				<array>
					<string>restaurant</string>
					<string>flower_arrangement</string>
				</array>
				<key>eventType</key>
				<integer>1</integer>
				<key>locationTrait</key>
				<integer>7</integer>
				<key>mustContainMe</key>
				<false/>
				<key>peopleCountRange</key>
				<string>{1, 4}</string>
				<key>peopleTrait</key>
				<integer>32</integer>
			</dict>
			<key>uuid</key>
			<string>7325CA15-4270-4256-B609-DA6C095B3F8A</string>
		</dict>
		<dict>
			<key>dateRules</key>
			<array>
				<dict>
					<key>month</key>
					<integer>6</integer>
					<key>weekday</key>
					<integer>1</integer>
					<key>weekdayOrdinal</key>
					<integer>2</integer>
				</dict>
			</array>
			<key>name</key>
			<string>Father’s Day</string>
			<key>traits</key>
			<dict>
				<key>categories</key>
				<array>
					<string>restaurant</string>
				</array>
				<key>eventType</key>
				<integer>1</integer>
				<key>locationTrait</key>
				<integer>7</integer>
				<key>mustContainMe</key>
				<false/>
				<key>peopleCountRange</key>
				<string>{1, 4}</string>
				<key>peopleTrait</key>
				<integer>64</integer>
			</dict>
			<key>uuid</key>
			<string>FC7FAFC7-3A81-428B-B29A-5941F3454DD6</string>
		</dict>
		<dict>
			<key>dateRules</key>
			<array>
				<dict>
					<key>day</key>
					<integer>14</integer>
					<key>month</key>
					<integer>2</integer>
				</dict>
			</array>
			<key>name</key>
			<string>Valentine’s Day</string>
			<key>traits</key>
			<dict>
				<key>categories</key>
				<array>
					<string>restaurant</string>
					<string>wine</string>
					<string>sparkling_wine</string>
					<string>balloon</string>
					<string>jewelry</string>
					<string>vase</string>
					<string>food</string>
					<string>flower_arrangement</string>
				</array>
				<key>eventType</key>
				<integer>1</integer>
				<key>locationTrait</key>
				<integer>7</integer>
				<key>mustContainMe</key>
				<false/>
				<key>peopleCountRange</key>
				<string>{1, 3}</string>
				<key>peopleTrait</key>
				<integer>1</integer>
			</dict>
			<key>uuid</key>
			<string>1AEEA2FA-15A5-4732-B654-3EEFC3607B82</string>
		</dict>
		<dict>
			<key>dateRules</key>
			<array>
				<dict>
					<key>day</key>
					<integer>6</integer>
					<key>month</key>
					<integer>12</integer>
				</dict>
			</array>
			<key>name</key>
			<string>Saint Nicholas</string>
			<key>traits</key>
			<dict>
				<key>categories</key>
				<array>
					<string>santa_claus</string>
					<string>gift</string>
				</array>
				<key>eventType</key>
				<integer>1</integer>
				<key>locationTrait</key>
				<integer>1</integer>
				<key>mustContainMe</key>
				<false/>
				<key>peopleCountRange</key>
				<string>{1, 4}</string>
				<key>peopleTrait</key>
				<integer>7</integer>
			</dict>
			<key>uuid</key>
			<string>F918E52A-20B8-4BED-9F74-DF745997488B</string>
		</dict>
		<dict>
			<key>dateRules</key>
			<array>
				<dict>
					<key>day</key>
					<integer>25</integer>
					<key>month</key>
					<integer>12</integer>
				</dict>
			</array>
			<key>name</key>
			<string>Christmas Day</string>
			<key>traits</key>
			<dict>
				<key>allowClassificationEvalOnly</key>
				<true/>
				<key>categories</key>
				<array>
					<string>christmas_tree</string>
					<string>santa_claus</string>
					<string>christmas_decoration</string>
					<string>gift</string>
				</array>
				<key>eventType</key>
				<integer>1</integer>
				<key>locationTrait</key>
				<integer>7</integer>
				<key>mustContainMe</key>
				<false/>
				<key>peopleCountRange</key>
				<string>{0, 10}</string>
				<key>peopleTrait</key>
				<integer>7</integer>
			</dict>
			<key>uuid</key>
			<string>0DF12300-8A09-4F8E-A579-3E551D883FB5</string>
		</dict>
		<dict>
			<key>dateRules</key>
			<array>
				<dict>
					<key>day</key>
					<integer>24</integer>
					<key>month</key>
					<integer>12</integer>
				</dict>
			</array>
			<key>name</key>
			<string>Christmas Eve</string>
			<key>traits</key>
			<dict>
				<key>allowClassificationEvalOnly</key>
				<true/>
				<key>categories</key>
				<array>
					<string>christmas_tree</string>
					<string>santa_claus</string>
					<string>christmas_decoration</string>
					<string>gift</string>
				</array>
				<key>eventType</key>
				<integer>1</integer>
				<key>locationTrait</key>
				<integer>7</integer>
				<key>mustContainMe</key>
				<false/>
				<key>peopleCountRange</key>
				<string>{0, 6}</string>
				<key>peopleTrait</key>
				<integer>7</integer>
			</dict>
			<key>uuid</key>
			<string>59B0D073-7962-45BF-B84D-D1B67ED2D6A6</string>
		</dict>
		<dict>
			<key>dateRules</key>
			<array>
				<dict>
					<key>day</key>
					<integer>1</integer>
					<key>month</key>
					<integer>1</integer>
				</dict>
			</array>
			<key>name</key>
			<string>New Year’s Day</string>
			<key>traits</key>
			<dict>
				<key>categories</key>
				<array>
					<string>restaurant</string>
					<string>nightclub</string>
					<string>bar</string>
					<string>celebration</string>
					<string>fireworks</string>
					<string>night_sky</string>
				</array>
				<key>eventType</key>
				<integer>1</integer>
				<key>locationTrait</key>
				<integer>0</integer>
				<key>mustContainMe</key>
				<false/>
				<key>peopleCountRange</key>
				<string>{2, 10}</string>
				<key>peopleTrait</key>
				<integer>0</integer>
			</dict>
			<key>uuid</key>
			<string>425CCD2B-C8C7-42C0-9A8C-BF3C43BDF2F0</string>
		</dict>
		<dict>
			<key>dateRules</key>
			<array>
				<dict>
					<key>day</key>
					<integer>15</integer>
					<key>month</key>
					<integer>11</integer>
				</dict>
			</array>
			<key>name</key>
			<string>Day of the German-speaking Community</string>
			<key>traits</key>
			<dict>
				<key>categories</key>
				<array/>
				<key>eventType</key>
				<integer>1</integer>
				<key>locationTrait</key>
				<integer>7</integer>
				<key>mustContainMe</key>
				<false/>
				<key>peopleCountRange</key>
				<string>{0, 10}</string>
				<key>peopleTrait</key>
				<integer>15</integer>
			</dict>
			<key>uuid</key>
			<string>375C4CC8-B4CB-4A84-AC4A-344B64E745C9</string>
		</dict>
		<dict>
			<key>dateRules</key>
			<array>
				<dict>
					<key>day</key>
					<integer>15</integer>
					<key>month</key>
					<integer>8</integer>
				</dict>
			</array>
			<key>name</key>
			<string>Assumption</string>
			<key>traits</key>
			<dict>
				<key>categories</key>
				<array/>
				<key>eventType</key>
				<integer>1</integer>
				<key>locationTrait</key>
				<integer>7</integer>
				<key>mustContainMe</key>
				<false/>
				<key>peopleCountRange</key>
				<string>{0, 10}</string>
				<key>peopleTrait</key>
				<integer>7</integer>
			</dict>
			<key>uuid</key>
			<string>28FADD4E-2489-43AA-AB54-65E3195D3551</string>
		</dict>
		<dict>
			<key>dateRules</key>
			<array>
				<dict>
					<key>day</key>
					<integer>31</integer>
					<key>month</key>
					<integer>12</integer>
				</dict>
			</array>
			<key>name</key>
			<string>New Year’s Eve</string>
			<key>traits</key>
			<dict>
				<key>categories</key>
				<array>
					<string>restaurant</string>
					<string>nightclub</string>
					<string>bar</string>
					<string>celebration</string>
					<string>fireworks</string>
					<string>night_sky</string>
				</array>
				<key>eventType</key>
				<integer>1</integer>
				<key>locationTrait</key>
				<integer>0</integer>
				<key>mustContainMe</key>
				<false/>
				<key>peopleCountRange</key>
				<string>{1, 9}</string>
				<key>peopleTrait</key>
				<integer>0</integer>
			</dict>
			<key>uuid</key>
			<string>29EF3BB9-998C-4DF6-A840-8E69969AED2C</string>
		</dict>
		<dict>
			<key>dateRules</key>
			<array>
				<dict>
					<key>day</key>
					<integer>31</integer>
					<key>month</key>
					<integer>10</integer>
				</dict>
			</array>
			<key>name</key>
			<string>Halloween</string>
			<key>traits</key>
			<dict>
				<key>allowClassificationEvalOnly</key>
				<true/>
				<key>categories</key>
				<array>
					<string>costume</string>
					<string>jack_o_lantern</string>
					<string>pumpkin</string>
				</array>
				<key>eventType</key>
				<integer>1</integer>
				<key>locationTrait</key>
				<integer>7</integer>
				<key>mustContainMe</key>
				<false/>
				<key>peopleCountRange</key>
				<string>{1, 10}</string>
				<key>peopleTrait</key>
				<integer>0</integer>
			</dict>
			<key>uuid</key>
			<string>75F05B4A-AB4B-49AC-AEB3-C78E6D29007F</string>
		</dict>
	</array>
	<key>info</key>
	<dict>
		<key>countryCode</key>
		<string>be</string>
		<key>countryName</key>
		<string>Belgium</string>
		<key>version</key>
		<integer>2</integer>
	</dict>
</dict>
</plist>
