<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>events</key>
	<array>
		<dict>
			<key>dateRules</key>
			<array>
				<dict>
					<key>day</key>
					<integer>14</integer>
					<key>month</key>
					<integer>2</integer>
				</dict>
			</array>
			<key>name</key>
			<string>Valentine’s Day</string>
			<key>traits</key>
			<dict>
				<key>categories</key>
				<array>
					<string>restaurant</string>
					<string>wine</string>
					<string>sparkling_wine</string>
					<string>balloon</string>
					<string>jewelry</string>
					<string>vase</string>
					<string>food</string>
					<string>flower_arrangement</string>
				</array>
				<key>eventCategory</key>
				<integer>4</integer>
				<key>eventType</key>
				<integer>1</integer>
				<key>locationTrait</key>
				<integer>7</integer>
				<key>mustContainMe</key>
				<false/>
				<key>peopleCountRange</key>
				<string>{1, 2}</string>
				<key>peopleTrait</key>
				<integer>7</integer>
			</dict>
			<key>uuid</key>
			<string>445EC4CF-D28F-4155-B7F6-FBF37C38163F</string>
		</dict>
		<dict>
			<key>dateRules</key>
			<array>
				<dict>
					<key>day</key>
					<integer>1</integer>
					<key>month</key>
					<integer>5</integer>
				</dict>
			</array>
			<key>name</key>
			<string>Labour Day</string>
			<key>traits</key>
			<dict>
				<key>categories</key>
				<array>
					<string>beach</string>
					<string>mountain</string>
					<string>park</string>
				</array>
				<key>eventCategory</key>
				<integer>3</integer>
				<key>eventType</key>
				<integer>1</integer>
				<key>locationTrait</key>
				<integer>7</integer>
				<key>mustContainMe</key>
				<false/>
				<key>peopleCountRange</key>
				<string>{1, 10}</string>
				<key>peopleTrait</key>
				<integer>1</integer>
			</dict>
			<key>uuid</key>
			<string>40ED1020-20D6-4600-AE8D-D3493AE57096</string>
		</dict>
		<dict>
			<key>dateRules</key>
			<array>
				<dict>
					<key>month</key>
					<integer>5</integer>
					<key>weekday</key>
					<integer>1</integer>
					<key>weekdayOrdinal</key>
					<integer>2</integer>
				</dict>
			</array>
			<key>name</key>
			<string>Mother’s Day</string>
			<key>traits</key>
			<dict>
				<key>categories</key>
				<array>
					<string>restaurant</string>
					<string>flower_arrangement</string>
				</array>
				<key>eventCategory</key>
				<integer>2</integer>
				<key>eventType</key>
				<integer>1</integer>
				<key>locationTrait</key>
				<integer>3</integer>
				<key>mustContainMe</key>
				<false/>
				<key>peopleCountRange</key>
				<string>{1, 2}</string>
				<key>peopleTrait</key>
				<integer>32</integer>
			</dict>
			<key>uuid</key>
			<string>E05C7B01-4BB7-42C3-B850-3451930F9DF4</string>
		</dict>
		<dict>
			<key>dateRules</key>
			<array>
				<dict>
					<key>day</key>
					<integer>3</integer>
					<key>month</key>
					<integer>10</integer>
				</dict>
			</array>
			<key>name</key>
			<string>German Unity Day</string>
			<key>traits</key>
			<dict>
				<key>categories</key>
				<array/>
				<key>eventCategory</key>
				<integer>3</integer>
				<key>eventType</key>
				<integer>1</integer>
				<key>locationTrait</key>
				<integer>7</integer>
				<key>mustContainMe</key>
				<false/>
				<key>peopleCountRange</key>
				<string>{1, 10}</string>
				<key>peopleTrait</key>
				<integer>31</integer>
			</dict>
			<key>uuid</key>
			<string>62063D43-1CF0-4B5B-89EB-F9F0811A9DE8</string>
		</dict>
		<dict>
			<key>dateRules</key>
			<array>
				<dict>
					<key>day</key>
					<integer>6</integer>
					<key>month</key>
					<integer>12</integer>
				</dict>
			</array>
			<key>name</key>
			<string>Saint Nicholas</string>
			<key>traits</key>
			<dict>
				<key>categories</key>
				<array>
					<string>santa_claus</string>
					<string>gift</string>
				</array>
				<key>eventCategory</key>
				<integer>2</integer>
				<key>eventType</key>
				<integer>1</integer>
				<key>locationTrait</key>
				<integer>7</integer>
				<key>mustContainMe</key>
				<false/>
				<key>peopleCountRange</key>
				<string>{0, 10}</string>
				<key>peopleTrait</key>
				<integer>7</integer>
			</dict>
			<key>uuid</key>
			<string>5A8F29B2-A472-4DCE-AB31-995595E4966E</string>
		</dict>
		<dict>
			<key>dateRules</key>
			<array>
				<dict>
					<key>day</key>
					<integer>24</integer>
					<key>month</key>
					<integer>12</integer>
				</dict>
			</array>
			<key>name</key>
			<string>Christmas Eve</string>
			<key>traits</key>
			<dict>
				<key>allowClassificationEvalOnly</key>
				<true/>
				<key>categories</key>
				<array>
					<string>christmas_tree</string>
					<string>santa_claus</string>
					<string>christmas_decoration</string>
					<string>gift</string>
				</array>
				<key>eventCategory</key>
				<integer>2</integer>
				<key>eventType</key>
				<integer>1</integer>
				<key>locationTrait</key>
				<integer>7</integer>
				<key>mustContainMe</key>
				<false/>
				<key>peopleCountRange</key>
				<string>{0, 6}</string>
				<key>peopleTrait</key>
				<integer>7</integer>
			</dict>
			<key>uuid</key>
			<string>F9FBCED4-A176-49EF-9403-44FBB6A41D20</string>
		</dict>
		<dict>
			<key>dateRules</key>
			<array>
				<dict>
					<key>day</key>
					<integer>25</integer>
					<key>month</key>
					<integer>12</integer>
				</dict>
			</array>
			<key>name</key>
			<string>Christmas Day</string>
			<key>traits</key>
			<dict>
				<key>allowClassificationEvalOnly</key>
				<true/>
				<key>categories</key>
				<array>
					<string>christmas_tree</string>
					<string>santa_claus</string>
					<string>christmas_decoration</string>
					<string>gift</string>
				</array>
				<key>eventCategory</key>
				<integer>2</integer>
				<key>eventType</key>
				<integer>1</integer>
				<key>locationTrait</key>
				<integer>7</integer>
				<key>mustContainMe</key>
				<false/>
				<key>peopleCountRange</key>
				<string>{0, 10}</string>
				<key>peopleTrait</key>
				<integer>7</integer>
			</dict>
			<key>uuid</key>
			<string>0DF12300-8A09-4F8E-A579-3E551D883FB5</string>
		</dict>
		<dict>
			<key>dateRules</key>
			<array>
				<dict>
					<key>day</key>
					<integer>31</integer>
					<key>month</key>
					<integer>10</integer>
				</dict>
			</array>
			<key>name</key>
			<string>Halloween</string>
			<key>traits</key>
			<dict>
				<key>allowClassificationEvalOnly</key>
				<true/>
				<key>categories</key>
				<array>
					<string>costume</string>
					<string>jack_o_lantern</string>
					<string>pumpkin</string>
				</array>
				<key>eventCategory</key>
				<integer>1</integer>
				<key>eventType</key>
				<integer>1</integer>
				<key>locationTrait</key>
				<integer>7</integer>
				<key>mustContainMe</key>
				<false/>
				<key>peopleCountRange</key>
				<string>{1, 10}</string>
				<key>peopleTrait</key>
				<integer>0</integer>
			</dict>
			<key>uuid</key>
			<string>F9C645DC-54D9-4C36-9FD4-B03BA0648C62</string>
		</dict>
		<dict>
			<key>dateRules</key>
			<array>
				<dict>
					<key>day</key>
					<integer>31</integer>
					<key>month</key>
					<integer>12</integer>
				</dict>
			</array>
			<key>name</key>
			<string>New Year’s Eve</string>
			<key>traits</key>
			<dict>
				<key>categories</key>
				<array>
					<string>restaurant</string>
					<string>nightclub</string>
					<string>bar</string>
					<string>celebration</string>
					<string>fireworks</string>
					<string>night_sky</string>
				</array>
				<key>eventCategory</key>
				<integer>1</integer>
				<key>eventType</key>
				<integer>1</integer>
				<key>locationTrait</key>
				<integer>0</integer>
				<key>mustContainMe</key>
				<false/>
				<key>peopleCountRange</key>
				<string>{0, 10}</string>
				<key>peopleTrait</key>
				<integer>0</integer>
			</dict>
			<key>uuid</key>
			<string>BDD38A86-3810-4C51-A41C-0759F656B37E</string>
		</dict>
		<dict>
			<key>dateRules</key>
			<array>
				<dict>
					<key>day</key>
					<integer>1</integer>
					<key>month</key>
					<integer>1</integer>
				</dict>
			</array>
			<key>name</key>
			<string>New Year’s Day</string>
			<key>traits</key>
			<dict>
				<key>categories</key>
				<array>
					<string>restaurant</string>
					<string>nightclub</string>
					<string>bar</string>
					<string>celebration</string>
					<string>fireworks</string>
					<string>night_sky</string>
				</array>
				<key>eventCategory</key>
				<integer>0</integer>
				<key>eventType</key>
				<integer>1</integer>
				<key>locationTrait</key>
				<integer>0</integer>
				<key>mustContainMe</key>
				<false/>
				<key>peopleCountRange</key>
				<string>{1, 4}</string>
				<key>peopleTrait</key>
				<integer>0</integer>
			</dict>
			<key>uuid</key>
			<string>98CCCF8D-4465-42B6-A9F0-CA3FC831BC23</string>
		</dict>
		<dict>
			<key>dateRules</key>
			<array>
				<dict>
					<key>day</key>
					<integer>4</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2010</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>24</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2011</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>8</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2012</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>31</integer>
					<key>month</key>
					<integer>3</integer>
					<key>year</key>
					<integer>2013</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>20</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2014</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>5</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2015</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>27</integer>
					<key>month</key>
					<integer>3</integer>
					<key>year</key>
					<integer>2016</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>16</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2017</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>1</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2018</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>21</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2019</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>12</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2020</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>4</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2021</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>17</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2022</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>9</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2023</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>31</integer>
					<key>month</key>
					<integer>3</integer>
					<key>year</key>
					<integer>2024</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>20</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2025</integer>
				</dict>
			</array>
			<key>name</key>
			<string>Easter</string>
			<key>traits</key>
			<dict>
				<key>categories</key>
				<array>
					<string>rabbit</string>
					<string>food</string>
					<string>cake_regular</string>
					<string>easter_egg</string>
					<string>gift</string>
				</array>
				<key>eventCategory</key>
				<integer>2</integer>
				<key>eventType</key>
				<integer>1</integer>
				<key>locationTrait</key>
				<integer>7</integer>
				<key>mustContainMe</key>
				<false/>
				<key>peopleCountRange</key>
				<string>{0, 5}</string>
				<key>peopleTrait</key>
				<integer>3</integer>
			</dict>
			<key>uuid</key>
			<string>86BCCA9A-2F67-430F-A515-76E15769B7BA</string>
		</dict>
		<dict>
			<key>dateRules</key>
			<array>
				<dict>
					<key>offsetDays</key>
					<integer>1</integer>
					<key>relativeToRule</key>
					<string>86BCCA9A-2F67-430F-A515-76E15769B7BA</string>
				</dict>
			</array>
			<key>name</key>
			<string>Easter Monday</string>
			<key>traits</key>
			<dict>
				<key>categories</key>
				<array>
					<string>rabbit</string>
					<string>food</string>
					<string>cake_regular</string>
					<string>easter_egg</string>
					<string>gift</string>
				</array>
				<key>eventCategory</key>
				<integer>2</integer>
				<key>eventType</key>
				<integer>1</integer>
				<key>locationTrait</key>
				<integer>7</integer>
				<key>mustContainMe</key>
				<false/>
				<key>peopleCountRange</key>
				<string>{0, 5}</string>
				<key>peopleTrait</key>
				<integer>3</integer>
			</dict>
			<key>uuid</key>
			<string>47831FF4-C069-44D0-97EB-E6B1CC90A002</string>
		</dict>
	</array>
	<key>info</key>
	<dict>
		<key>countryCode</key>
		<string>de</string>
		<key>countryName</key>
		<string>Germany</string>
		<key>version</key>
		<integer>2</integer>
	</dict>
</dict>
</plist>
