<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>events</key>
	<array>
		<dict>
			<key>dateRules</key>
			<array>
				<dict>
					<key>day</key>
					<integer>24</integer>
					<key>month</key>
					<integer>2</integer>
				</dict>
			</array>
			<key>name</key>
			<string>Independence Day</string>
			<key>traits</key>
			<dict>
				<key>categories</key>
				<array/>
				<key>eventType</key>
				<integer>1</integer>
				<key>locationTrait</key>
				<integer>7</integer>
				<key>mustContainMe</key>
				<false/>
				<key>peopleCountRange</key>
				<string>{0, 10}</string>
				<key>peopleTrait</key>
				<integer>15</integer>
			</dict>
			<key>uuid</key>
			<string>2DFF5493-AFDD-4114-82DF-0F647D8C72D6</string>
		</dict>
		<dict>
			<key>dateRules</key>
			<array>
				<dict>
					<key>day</key>
					<integer>1</integer>
					<key>month</key>
					<integer>5</integer>
				</dict>
			</array>
			<key>name</key>
			<string>Spring Day</string>
			<key>traits</key>
			<dict>
				<key>categories</key>
				<array/>
				<key>eventType</key>
				<integer>1</integer>
				<key>locationTrait</key>
				<integer>0</integer>
				<key>mustContainMe</key>
				<false/>
				<key>peopleCountRange</key>
				<string>{0, 10}</string>
				<key>peopleTrait</key>
				<integer>1</integer>
			</dict>
			<key>uuid</key>
			<string>22E4686C-2013-4E4F-9E7D-E66398D03C22</string>
		</dict>
		<dict>
			<key>dateRules</key>
			<array>
				<dict>
					<key>month</key>
					<integer>11</integer>
					<key>weekday</key>
					<integer>1</integer>
					<key>weekdayOrdinal</key>
					<integer>2</integer>
				</dict>
			</array>
			<key>name</key>
			<string>Father’s Day</string>
			<key>traits</key>
			<dict>
				<key>categories</key>
				<array>
					<string>restaurant</string>
				</array>
				<key>eventType</key>
				<integer>1</integer>
				<key>locationTrait</key>
				<integer>0</integer>
				<key>mustContainMe</key>
				<false/>
				<key>peopleCountRange</key>
				<string>{0, 10}</string>
				<key>peopleTrait</key>
				<integer>64</integer>
			</dict>
			<key>uuid</key>
			<string>5BAED131-EE1B-404B-84C4-2CCF2DB2DC99</string>
		</dict>
		<dict>
			<key>dateRules</key>
			<array>
				<dict>
					<key>day</key>
					<integer>23</integer>
					<key>month</key>
					<integer>6</integer>
				</dict>
			</array>
			<key>name</key>
			<string>Victory Day</string>
			<key>traits</key>
			<dict>
				<key>categories</key>
				<array/>
				<key>eventType</key>
				<integer>1</integer>
				<key>locationTrait</key>
				<integer>0</integer>
				<key>mustContainMe</key>
				<false/>
				<key>peopleCountRange</key>
				<string>{0, 10}</string>
				<key>peopleTrait</key>
				<integer>7</integer>
			</dict>
			<key>uuid</key>
			<string>CBE348E1-6313-4077-B016-FB23A1F8BD00</string>
		</dict>
		<dict>
			<key>dateRules</key>
			<array>
				<dict>
					<key>day</key>
					<integer>24</integer>
					<key>month</key>
					<integer>6</integer>
				</dict>
			</array>
			<key>name</key>
			<string>Midsummer Day</string>
			<key>traits</key>
			<dict>
				<key>categories</key>
				<array>
					<string>flame</string>
					<string>wood_natural</string>
				</array>
				<key>eventType</key>
				<integer>1</integer>
				<key>locationTrait</key>
				<integer>7</integer>
				<key>mustContainMe</key>
				<false/>
				<key>peopleCountRange</key>
				<string>{0, 10}</string>
				<key>peopleTrait</key>
				<integer>1</integer>
			</dict>
			<key>uuid</key>
			<string>CCE9DC69-57BE-4FEE-8BF3-36E21D6C62BA</string>
		</dict>
		<dict>
			<key>dateRules</key>
			<array>
				<dict>
					<key>day</key>
					<integer>20</integer>
					<key>month</key>
					<integer>8</integer>
				</dict>
			</array>
			<key>name</key>
			<string>Restoration of Independence</string>
			<key>traits</key>
			<dict>
				<key>categories</key>
				<array/>
				<key>eventType</key>
				<integer>1</integer>
				<key>locationTrait</key>
				<integer>7</integer>
				<key>mustContainMe</key>
				<false/>
				<key>peopleCountRange</key>
				<string>{0, 10}</string>
				<key>peopleTrait</key>
				<integer>15</integer>
			</dict>
			<key>uuid</key>
			<string>62841451-0812-4D8D-BC30-8027DF53D3D1</string>
		</dict>
		<dict>
			<key>dateRules</key>
			<array>
				<dict>
					<key>month</key>
					<integer>9</integer>
					<key>weekday</key>
					<integer>1</integer>
					<key>weekdayOrdinal</key>
					<integer>2</integer>
				</dict>
			</array>
			<key>name</key>
			<string>Grandparent’s Day </string>
			<key>traits</key>
			<dict>
				<key>categories</key>
				<array/>
				<key>eventType</key>
				<integer>1</integer>
				<key>locationTrait</key>
				<integer>0</integer>
				<key>mustContainMe</key>
				<false/>
				<key>peopleCountRange</key>
				<string>{0, 10}</string>
				<key>peopleTrait</key>
				<integer>7</integer>
			</dict>
			<key>uuid</key>
			<string>4477957C-D2AF-4E31-883D-F8F357D17F60</string>
		</dict>
		<dict>
			<key>dateRules</key>
			<array>
				<dict>
					<key>day</key>
					<integer>4</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2010</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>24</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2011</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>8</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2012</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>31</integer>
					<key>month</key>
					<integer>3</integer>
					<key>year</key>
					<integer>2013</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>20</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2014</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>5</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2015</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>27</integer>
					<key>month</key>
					<integer>3</integer>
					<key>year</key>
					<integer>2016</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>16</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2017</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>1</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2018</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>21</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2019</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>12</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2020</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>4</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2021</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>17</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2022</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>9</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2023</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>31</integer>
					<key>month</key>
					<integer>3</integer>
					<key>year</key>
					<integer>2024</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>20</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2025</integer>
				</dict>
			</array>
			<key>name</key>
			<string>Easter</string>
			<key>traits</key>
			<dict>
				<key>categories</key>
				<array>
					<string>rabbit</string>
					<string>food</string>
					<string>cake_regular</string>
					<string>easter_egg</string>
					<string>gift</string>
				</array>
				<key>eventType</key>
				<integer>1</integer>
				<key>locationTrait</key>
				<integer>3</integer>
				<key>mustContainMe</key>
				<false/>
				<key>peopleCountRange</key>
				<string>{0, 5}</string>
				<key>peopleTrait</key>
				<integer>3</integer>
			</dict>
			<key>uuid</key>
			<string>B02EDC44-2459-46D2-9BB6-FEE78F12E215</string>
		</dict>
		<dict>
			<key>dateRules</key>
			<array>
				<dict>
					<key>month</key>
					<integer>5</integer>
					<key>weekday</key>
					<integer>1</integer>
					<key>weekdayOrdinal</key>
					<integer>2</integer>
				</dict>
			</array>
			<key>name</key>
			<string>Mother’s Day</string>
			<key>traits</key>
			<dict>
				<key>categories</key>
				<array>
					<string>restaurant</string>
					<string>flower_arrangement</string>
				</array>
				<key>eventType</key>
				<integer>1</integer>
				<key>locationTrait</key>
				<integer>0</integer>
				<key>mustContainMe</key>
				<false/>
				<key>peopleCountRange</key>
				<string>{0, 10}</string>
				<key>peopleTrait</key>
				<integer>32</integer>
			</dict>
			<key>uuid</key>
			<string>294328E9-4055-4D96-B614-9529A0EEBBA8</string>
		</dict>
		<dict>
			<key>dateRules</key>
			<array>
				<dict>
					<key>day</key>
					<integer>14</integer>
					<key>month</key>
					<integer>2</integer>
				</dict>
			</array>
			<key>name</key>
			<string>Valentine’s Day</string>
			<key>traits</key>
			<dict>
				<key>categories</key>
				<array>
					<string>restaurant</string>
					<string>wine</string>
					<string>sparkling_wine</string>
					<string>balloon</string>
					<string>jewelry</string>
					<string>vase</string>
					<string>food</string>
					<string>flower_arrangement</string>
				</array>
				<key>eventType</key>
				<integer>1</integer>
				<key>locationTrait</key>
				<integer>0</integer>
				<key>mustContainMe</key>
				<false/>
				<key>peopleCountRange</key>
				<string>{1, 2}</string>
				<key>peopleTrait</key>
				<integer>1</integer>
			</dict>
			<key>uuid</key>
			<string>1F3B65C3-C056-4E9C-A287-587123E67855</string>
		</dict>
		<dict>
			<key>dateRules</key>
			<array>
				<dict>
					<key>day</key>
					<integer>1</integer>
					<key>month</key>
					<integer>1</integer>
				</dict>
			</array>
			<key>name</key>
			<string>New Year’s Day</string>
			<key>traits</key>
			<dict>
				<key>categories</key>
				<array>
					<string>restaurant</string>
					<string>nightclub</string>
					<string>bar</string>
					<string>celebration</string>
					<string>fireworks</string>
					<string>night_sky</string>
				</array>
				<key>eventType</key>
				<integer>1</integer>
				<key>locationTrait</key>
				<integer>0</integer>
				<key>mustContainMe</key>
				<false/>
				<key>peopleCountRange</key>
				<string>{2, 10}</string>
				<key>peopleTrait</key>
				<integer>0</integer>
			</dict>
			<key>uuid</key>
			<string>425CCD2B-C8C7-42C0-9A8C-BF3C43BDF2F0</string>
		</dict>
		<dict>
			<key>dateRules</key>
			<array>
				<dict>
					<key>day</key>
					<integer>24</integer>
					<key>month</key>
					<integer>12</integer>
				</dict>
			</array>
			<key>name</key>
			<string>Christmas Eve</string>
			<key>traits</key>
			<dict>
				<key>allowClassificationEvalOnly</key>
				<true/>
				<key>categories</key>
				<array>
					<string>christmas_tree</string>
					<string>santa_claus</string>
					<string>christmas_decoration</string>
					<string>gift</string>
				</array>
				<key>eventType</key>
				<integer>1</integer>
				<key>locationTrait</key>
				<integer>7</integer>
				<key>mustContainMe</key>
				<false/>
				<key>peopleCountRange</key>
				<string>{0, 6}</string>
				<key>peopleTrait</key>
				<integer>7</integer>
			</dict>
			<key>uuid</key>
			<string>59B0D073-7962-45BF-B84D-D1B67ED2D6A6</string>
		</dict>
		<dict>
			<key>dateRules</key>
			<array>
				<dict>
					<key>day</key>
					<integer>1</integer>
					<key>month</key>
					<integer>4</integer>
				</dict>
			</array>
			<key>name</key>
			<string>April Fool’s Day</string>
			<key>traits</key>
			<dict>
				<key>categories</key>
				<array/>
				<key>eventType</key>
				<integer>1</integer>
				<key>locationTrait</key>
				<integer>0</integer>
				<key>mustContainMe</key>
				<false/>
				<key>peopleCountRange</key>
				<string>{0, 10}</string>
				<key>peopleTrait</key>
				<integer>15</integer>
			</dict>
			<key>uuid</key>
			<string>13DF502A-5664-4175-B1E5-047BBB33ECFA</string>
		</dict>
		<dict>
			<key>dateRules</key>
			<array>
				<dict>
					<key>day</key>
					<integer>31</integer>
					<key>month</key>
					<integer>12</integer>
				</dict>
			</array>
			<key>name</key>
			<string>New Year’s Eve</string>
			<key>traits</key>
			<dict>
				<key>categories</key>
				<array>
					<string>restaurant</string>
					<string>nightclub</string>
					<string>bar</string>
					<string>celebration</string>
					<string>fireworks</string>
					<string>night_sky</string>
				</array>
				<key>eventType</key>
				<integer>1</integer>
				<key>locationTrait</key>
				<integer>0</integer>
				<key>mustContainMe</key>
				<false/>
				<key>peopleCountRange</key>
				<string>{1, 10}</string>
				<key>peopleTrait</key>
				<integer>0</integer>
			</dict>
			<key>uuid</key>
			<string>AA0068EF-D57C-4113-B4C8-9C1F6FE13950</string>
		</dict>
		<dict>
			<key>dateRules</key>
			<array>
				<dict>
					<key>day</key>
					<integer>25</integer>
					<key>month</key>
					<integer>12</integer>
				</dict>
			</array>
			<key>name</key>
			<string>Christmas Day</string>
			<key>traits</key>
			<dict>
				<key>allowClassificationEvalOnly</key>
				<true/>
				<key>categories</key>
				<array>
					<string>christmas_tree</string>
					<string>santa_claus</string>
					<string>christmas_decoration</string>
					<string>gift</string>
				</array>
				<key>eventType</key>
				<integer>1</integer>
				<key>locationTrait</key>
				<integer>0</integer>
				<key>mustContainMe</key>
				<false/>
				<key>peopleCountRange</key>
				<string>{0, 10}</string>
				<key>peopleTrait</key>
				<integer>7</integer>
			</dict>
			<key>uuid</key>
			<string>0DF12300-8A09-4F8E-A579-3E551D883FB5</string>
		</dict>
		<dict>
			<key>dateRules</key>
			<array>
				<dict>
					<key>day</key>
					<integer>30</integer>
					<key>month</key>
					<integer>4</integer>
				</dict>
			</array>
			<key>name</key>
			<string>The Walpurgis Night</string>
			<key>traits</key>
			<dict>
				<key>categories</key>
				<array>
					<string>flame</string>
					<string>wood_natural</string>
				</array>
				<key>eventType</key>
				<integer>1</integer>
				<key>locationTrait</key>
				<integer>0</integer>
				<key>mustContainMe</key>
				<false/>
				<key>peopleCountRange</key>
				<string>{0, 10}</string>
				<key>peopleTrait</key>
				<integer>7</integer>
			</dict>
			<key>uuid</key>
			<string>9F9CD1CA-EA4A-477F-9E51-A509017AF7BF</string>
		</dict>
		<dict>
			<key>dateRules</key>
			<array>
				<dict>
					<key>day</key>
					<integer>5</integer>
					<key>month</key>
					<integer>10</integer>
				</dict>
			</array>
			<key>name</key>
			<string>Teacher’s Day</string>
			<key>traits</key>
			<dict>
				<key>categories</key>
				<array/>
				<key>eventType</key>
				<integer>1</integer>
				<key>locationTrait</key>
				<integer>0</integer>
				<key>mustContainMe</key>
				<false/>
				<key>peopleCountRange</key>
				<string>{0, 10}</string>
				<key>peopleTrait</key>
				<integer>1</integer>
			</dict>
			<key>uuid</key>
			<string>A5F7DCB2-BABB-44B8-96F5-6D4E525CD25A</string>
		</dict>
	</array>
	<key>info</key>
	<dict>
		<key>countryCode</key>
		<string>ee</string>
		<key>countryName</key>
		<string>Estonia</string>
		<key>version</key>
		<integer>2</integer>
	</dict>
</dict>
</plist>
