<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>events</key>
	<array>
		<dict>
			<key>dateRules</key>
			<array>
				<dict>
					<key>day</key>
					<integer>1</integer>
					<key>month</key>
					<integer>1</integer>
				</dict>
			</array>
			<key>name</key>
			<string>New Year’s Day</string>
			<key>traits</key>
			<dict>
				<key>categories</key>
				<array>
					<string>restaurant</string>
					<string>nightclub</string>
					<string>bar</string>
					<string>celebration</string>
					<string>fireworks</string>
					<string>night_sky</string>
				</array>
				<key>eventCategory</key>
				<integer>2</integer>
				<key>eventType</key>
				<integer>1</integer>
				<key>locationTrait</key>
				<integer>0</integer>
				<key>mustContainMe</key>
				<false/>
				<key>peopleCountRange</key>
				<string>{0, 5}</string>
				<key>peopleTrait</key>
				<integer>0</integer>
			</dict>
			<key>uuid</key>
			<string>00C2C555-B62D-40E0-9F59-734161314C20</string>
		</dict>
		<dict>
			<key>dateRules</key>
			<array>
				<dict>
					<key>day</key>
					<integer>14</integer>
					<key>month</key>
					<integer>2</integer>
				</dict>
			</array>
			<key>name</key>
			<string>Valentine’s Day</string>
			<key>traits</key>
			<dict>
				<key>categories</key>
				<array>
					<string>restaurant</string>
					<string>wine</string>
					<string>sparkling_wine</string>
					<string>balloon</string>
					<string>jewelry</string>
					<string>vase</string>
					<string>food</string>
					<string>flower_arrangement</string>
				</array>
				<key>eventCategory</key>
				<integer>4</integer>
				<key>eventType</key>
				<integer>1</integer>
				<key>locationTrait</key>
				<integer>0</integer>
				<key>mustContainMe</key>
				<false/>
				<key>peopleCountRange</key>
				<string>{1, 2}</string>
				<key>peopleTrait</key>
				<integer>1</integer>
			</dict>
			<key>uuid</key>
			<string>90830D69-2ED0-461B-8663-962666BAA058</string>
		</dict>
		<dict>
			<key>dateRules</key>
			<array>
				<dict>
					<key>month</key>
					<integer>3</integer>
					<key>weekday</key>
					<integer>1</integer>
					<key>weekdayOrdinal</key>
					<integer>1</integer>
				</dict>
			</array>
			<key>name</key>
			<string>Day of Grandmothers</string>
			<key>traits</key>
			<dict>
				<key>categories</key>
				<array>
					<string>restaurant</string>
					<string>flower_arrangement</string>
				</array>
				<key>eventCategory</key>
				<integer>2</integer>
				<key>eventType</key>
				<integer>2</integer>
				<key>locationTrait</key>
				<integer>0</integer>
				<key>mustContainMe</key>
				<false/>
				<key>peopleCountRange</key>
				<string>{0, 10}</string>
				<key>peopleTrait</key>
				<integer>3</integer>
			</dict>
			<key>uuid</key>
			<string>2A162A27-4F01-4A90-8C58-1075EF9D06A5</string>
		</dict>
		<dict>
			<key>dateRules</key>
			<array>
				<dict>
					<key>month</key>
					<integer>5</integer>
					<key>weekday</key>
					<integer>1</integer>
					<key>weekdayOrdinal</key>
					<integer>-1</integer>
				</dict>
			</array>
			<key>name</key>
			<string>Mother’s Day</string>
			<key>traits</key>
			<dict>
				<key>categories</key>
				<array>
					<string>restaurant</string>
					<string>flower_arrangement</string>
				</array>
				<key>eventCategory</key>
				<integer>2</integer>
				<key>eventType</key>
				<integer>1</integer>
				<key>locationTrait</key>
				<integer>0</integer>
				<key>mustContainMe</key>
				<false/>
				<key>peopleCountRange</key>
				<string>{1, 4}</string>
				<key>peopleTrait</key>
				<integer>32</integer>
			</dict>
			<key>uuid</key>
			<string>1B98B834-8B10-4723-9050-7673AD27C8A2</string>
		</dict>
		<dict>
			<key>dateRules</key>
			<array>
				<dict>
					<key>day</key>
					<integer>21</integer>
					<key>month</key>
					<integer>6</integer>
				</dict>
			</array>
			<key>name</key>
			<string>Music Day</string>
			<key>traits</key>
			<dict>
				<key>categories</key>
				<array>
					<string>bar</string>
					<string>nightclub</string>
					<string>concert</string>
				</array>
				<key>eventCategory</key>
				<integer>1</integer>
				<key>eventType</key>
				<integer>1</integer>
				<key>locationTrait</key>
				<integer>7</integer>
				<key>mustContainMe</key>
				<false/>
				<key>peopleCountRange</key>
				<string>{0, 10}</string>
				<key>peopleTrait</key>
				<integer>7</integer>
			</dict>
			<key>uuid</key>
			<string>F4DF07E4-CB48-4531-8387-D48CF87ADC67</string>
		</dict>
		<dict>
			<key>dateRules</key>
			<array>
				<dict>
					<key>day</key>
					<integer>14</integer>
					<key>month</key>
					<integer>7</integer>
				</dict>
			</array>
			<key>name</key>
			<string>Bastille Day</string>
			<key>traits</key>
			<dict>
				<key>categories</key>
				<array>
					<string>park</string>
					<string>fireworks</string>
					<string>food</string>
					<string>celebration</string>
				</array>
				<key>eventCategory</key>
				<integer>1</integer>
				<key>eventType</key>
				<integer>1</integer>
				<key>locationTrait</key>
				<integer>7</integer>
				<key>mustContainMe</key>
				<false/>
				<key>peopleCountRange</key>
				<string>{1, 10}</string>
				<key>peopleTrait</key>
				<integer>7</integer>
			</dict>
			<key>uuid</key>
			<string>F4DF07E4-CB48-4531-8387-D48CF87ADC68</string>
		</dict>
		<dict>
			<key>dateRules</key>
			<array>
				<dict>
					<key>day</key>
					<integer>31</integer>
					<key>month</key>
					<integer>10</integer>
				</dict>
			</array>
			<key>name</key>
			<string>Halloween</string>
			<key>traits</key>
			<dict>
				<key>allowClassificationEvalOnly</key>
				<true/>
				<key>categories</key>
				<array>
					<string>costume</string>
					<string>jack_o_lantern</string>
					<string>pumpkin</string>
				</array>
				<key>eventCategory</key>
				<integer>1</integer>
				<key>eventType</key>
				<integer>1</integer>
				<key>locationTrait</key>
				<integer>7</integer>
				<key>mustContainMe</key>
				<false/>
				<key>peopleCountRange</key>
				<string>{0, 10}</string>
				<key>peopleTrait</key>
				<integer>0</integer>
			</dict>
			<key>uuid</key>
			<string>9A564E75-AC6B-4EF4-BEE7-6DF1609A8CDD</string>
		</dict>
		<dict>
			<key>dateRules</key>
			<array>
				<dict>
					<key>day</key>
					<integer>25</integer>
					<key>month</key>
					<integer>12</integer>
				</dict>
			</array>
			<key>name</key>
			<string>Christmas Day</string>
			<key>traits</key>
			<dict>
				<key>allowClassificationEvalOnly</key>
				<true/>
				<key>categories</key>
				<array>
					<string>christmas_tree</string>
					<string>santa_claus</string>
					<string>christmas_decoration</string>
					<string>gift</string>
					<string>candy_cane</string>
					<string>celebration</string>
				</array>
				<key>eventCategory</key>
				<integer>2</integer>
				<key>eventType</key>
				<integer>1</integer>
				<key>locationTrait</key>
				<integer>3</integer>
				<key>mustContainMe</key>
				<false/>
				<key>peopleCountRange</key>
				<string>{0, 10}</string>
				<key>peopleTrait</key>
				<integer>3</integer>
			</dict>
			<key>uuid</key>
			<string>BF09534F-F1DA-4AFC-8E7F-4DB05B49E62C</string>
		</dict>
		<dict>
			<key>dateRules</key>
			<array>
				<dict>
					<key>day</key>
					<integer>24</integer>
					<key>month</key>
					<integer>12</integer>
				</dict>
			</array>
			<key>name</key>
			<string>Christmas Eve</string>
			<key>traits</key>
			<dict>
				<key>allowClassificationEvalOnly</key>
				<true/>
				<key>categories</key>
				<array>
					<string>christmas_tree</string>
					<string>santa_claus</string>
					<string>christmas_decoration</string>
					<string>gift</string>
					<string>candy_cane</string>
					<string>celebration</string>
				</array>
				<key>eventCategory</key>
				<integer>2</integer>
				<key>eventType</key>
				<integer>1</integer>
				<key>locationTrait</key>
				<integer>0</integer>
				<key>mustContainMe</key>
				<false/>
				<key>peopleCountRange</key>
				<string>{0, 10}</string>
				<key>peopleTrait</key>
				<integer>3</integer>
			</dict>
			<key>uuid</key>
			<string>208A9048-5B2E-4F21-A3DF-7A53A90EEC39</string>
		</dict>
		<dict>
			<key>dateRules</key>
			<array>
				<dict>
					<key>day</key>
					<integer>12</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2020</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>21</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2019</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>1</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2018</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>16</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2017</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>27</integer>
					<key>month</key>
					<integer>3</integer>
					<key>year</key>
					<integer>2016</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>5</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2015</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>20</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2014</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>31</integer>
					<key>month</key>
					<integer>3</integer>
					<key>year</key>
					<integer>2013</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>8</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2012</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>24</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2011</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>4</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2010</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>12</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2009</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>23</integer>
					<key>month</key>
					<integer>3</integer>
					<key>year</key>
					<integer>2008</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>8</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2007</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>16</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2006</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>27</integer>
					<key>month</key>
					<integer>3</integer>
					<key>year</key>
					<integer>2005</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>4</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2021</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>17</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2022</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>9</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2023</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>31</integer>
					<key>month</key>
					<integer>3</integer>
					<key>year</key>
					<integer>2024</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>20</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2025</integer>
				</dict>
			</array>
			<key>name</key>
			<string>Easter</string>
			<key>traits</key>
			<dict>
				<key>categories</key>
				<array>
					<string>rabbit</string>
					<string>food</string>
					<string>cake_regular</string>
					<string>easter_egg</string>
					<string>gift</string>
					<string>chocolate</string>
				</array>
				<key>eventCategory</key>
				<integer>2</integer>
				<key>eventType</key>
				<integer>1</integer>
				<key>locationTrait</key>
				<integer>7</integer>
				<key>mustContainMe</key>
				<false/>
				<key>peopleCountRange</key>
				<string>{1, 5}</string>
				<key>peopleTrait</key>
				<integer>3</integer>
			</dict>
			<key>uuid</key>
			<string>F9704ACD-73F5-4FD2-AEB1-6968EFE77941</string>
		</dict>
		<dict>
			<key>dateRules</key>
			<array>
				<dict>
					<key>offsetDays</key>
					<integer>1</integer>
					<key>relativeToRule</key>
					<string>F9704ACD-73F5-4FD2-AEB1-6968EFE77941</string>
				</dict>
			</array>
			<key>name</key>
			<string>Easter Monday</string>
			<key>traits</key>
			<dict>
				<key>categories</key>
				<array>
					<string>rabbit</string>
					<string>food</string>
					<string>cake_regular</string>
					<string>easter_egg</string>
					<string>gift</string>
					<string>chocolate</string>
				</array>
				<key>eventCategory</key>
				<integer>2</integer>
				<key>eventType</key>
				<integer>1</integer>
				<key>locationTrait</key>
				<integer>7</integer>
				<key>mustContainMe</key>
				<false/>
				<key>peopleCountRange</key>
				<string>{0, 10}</string>
				<key>peopleTrait</key>
				<integer>3</integer>
			</dict>
			<key>uuid</key>
			<string>6E10E16A-77A4-4E91-A9C1-DB40D1449B7F</string>
		</dict>
		<dict>
			<key>dateRules</key>
			<array>
				<dict>
					<key>day</key>
					<integer>31</integer>
					<key>month</key>
					<integer>12</integer>
				</dict>
			</array>
			<key>name</key>
			<string>New Year’s Eve</string>
			<key>traits</key>
			<dict>
				<key>categories</key>
				<array>
					<string>restaurant</string>
					<string>nightclub</string>
					<string>bar</string>
					<string>celebration</string>
					<string>fireworks</string>
					<string>night_sky</string>
				</array>
				<key>eventCategory</key>
				<integer>1</integer>
				<key>eventType</key>
				<integer>1</integer>
				<key>locationTrait</key>
				<integer>0</integer>
				<key>mustContainMe</key>
				<false/>
				<key>peopleCountRange</key>
				<string>{0, 5}</string>
				<key>peopleTrait</key>
				<integer>0</integer>
			</dict>
			<key>uuid</key>
			<string>C0DECAA8-70DB-4390-AD91-6EEEBA311070</string>
		</dict>
	</array>
	<key>info</key>
	<dict>
		<key>countryCode</key>
		<string>fr</string>
		<key>countryName</key>
		<string>France</string>
		<key>version</key>
		<integer>2</integer>
	</dict>
</dict>
</plist>
