<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>events</key>
	<array>
		<dict>
			<key>dateRules</key>
			<array>
				<dict>
					<key>day</key>
					<integer>5</integer>
					<key>month</key>
					<integer>2</integer>
					<key>year</key>
					<integer>2000</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>24</integer>
					<key>month</key>
					<integer>1</integer>
					<key>year</key>
					<integer>2001</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>12</integer>
					<key>month</key>
					<integer>2</integer>
					<key>year</key>
					<integer>2002</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>1</integer>
					<key>month</key>
					<integer>2</integer>
					<key>year</key>
					<integer>2003</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>22</integer>
					<key>month</key>
					<integer>1</integer>
					<key>year</key>
					<integer>2004</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>9</integer>
					<key>month</key>
					<integer>2</integer>
					<key>year</key>
					<integer>2005</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>30</integer>
					<key>month</key>
					<integer>1</integer>
					<key>year</key>
					<integer>2006</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>19</integer>
					<key>month</key>
					<integer>2</integer>
					<key>year</key>
					<integer>2007</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>7</integer>
					<key>month</key>
					<integer>2</integer>
					<key>year</key>
					<integer>2008</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>26</integer>
					<key>month</key>
					<integer>1</integer>
					<key>year</key>
					<integer>2009</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>14</integer>
					<key>month</key>
					<integer>2</integer>
					<key>year</key>
					<integer>2010</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>3</integer>
					<key>month</key>
					<integer>2</integer>
					<key>year</key>
					<integer>2011</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>23</integer>
					<key>month</key>
					<integer>1</integer>
					<key>year</key>
					<integer>2012</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>10</integer>
					<key>month</key>
					<integer>2</integer>
					<key>year</key>
					<integer>2013</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>31</integer>
					<key>month</key>
					<integer>1</integer>
					<key>year</key>
					<integer>2014</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>19</integer>
					<key>month</key>
					<integer>2</integer>
					<key>year</key>
					<integer>2015</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>8</integer>
					<key>month</key>
					<integer>2</integer>
					<key>year</key>
					<integer>2016</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>28</integer>
					<key>month</key>
					<integer>2</integer>
					<key>year</key>
					<integer>2017</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>16</integer>
					<key>month</key>
					<integer>2</integer>
					<key>year</key>
					<integer>2018</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>5</integer>
					<key>month</key>
					<integer>2</integer>
					<key>year</key>
					<integer>2019</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>25</integer>
					<key>month</key>
					<integer>1</integer>
					<key>year</key>
					<integer>2020</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>12</integer>
					<key>month</key>
					<integer>2</integer>
					<key>year</key>
					<integer>2021</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>1</integer>
					<key>month</key>
					<integer>2</integer>
					<key>year</key>
					<integer>2022</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>21</integer>
					<key>month</key>
					<integer>1</integer>
					<key>year</key>
					<integer>2023</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>10</integer>
					<key>month</key>
					<integer>2</integer>
					<key>year</key>
					<integer>2024</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>29</integer>
					<key>month</key>
					<integer>1</integer>
					<key>year</key>
					<integer>2025</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>17</integer>
					<key>month</key>
					<integer>2</integer>
					<key>year</key>
					<integer>2026</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>6</integer>
					<key>month</key>
					<integer>2</integer>
					<key>year</key>
					<integer>2027</integer>
				</dict>
			</array>
			<key>name</key>
			<string>Chinese New Year</string>
			<key>traits</key>
			<dict>
				<key>categories</key>
				<array>
					<string>restaurant</string>
					<string>nightclub</string>
					<string>bar</string>
					<string>celebration</string>
					<string>fireworks</string>
					<string>night_sky</string>
					<string>dragon_parade</string>
					<string>sparkler</string>
					<string>chinese_wedding</string>
					<string>lantern</string>
					<string>red_envelope</string>
					<string>dumpling</string>
				</array>
				<key>eventType</key>
				<integer>1</integer>
				<key>locationTrait</key>
				<integer>7</integer>
				<key>mustContainMe</key>
				<false/>
				<key>peopleCountRange</key>
				<string>{0, 10}</string>
				<key>peopleTrait</key>
				<integer>7</integer>
			</dict>
			<key>uuid</key>
			<string>A5B2D247-CEB8-4122-9A91-302CB8391179</string>
		</dict>
		<dict>
			<key>dateRules</key>
			<array>
				<dict>
					<key>day</key>
					<integer>24</integer>
					<key>month</key>
					<integer>12</integer>
				</dict>
			</array>
			<key>name</key>
			<string>Christmas Eve</string>
			<key>traits</key>
			<dict>
				<key>allowClassificationEvalOnly</key>
				<true/>
				<key>categories</key>
				<array>
					<string>christmas_tree</string>
					<string>santa_claus</string>
					<string>christmas_decoration</string>
					<string>gift</string>
				</array>
				<key>eventType</key>
				<integer>1</integer>
				<key>locationTrait</key>
				<integer>7</integer>
				<key>mustContainMe</key>
				<false/>
				<key>peopleCountRange</key>
				<string>{0, 6}</string>
				<key>peopleTrait</key>
				<integer>7</integer>
			</dict>
			<key>uuid</key>
			<string>59B0D073-7962-45BF-B84D-D1B67ED2D6A6</string>
		</dict>
		<dict>
			<key>dateRules</key>
			<array>
				<dict>
					<key>day</key>
					<integer>25</integer>
					<key>month</key>
					<integer>12</integer>
				</dict>
			</array>
			<key>name</key>
			<string>Christmas Day</string>
			<key>traits</key>
			<dict>
				<key>allowClassificationEvalOnly</key>
				<true/>
				<key>categories</key>
				<array>
					<string>christmas_tree</string>
					<string>santa_claus</string>
					<string>christmas_decoration</string>
					<string>gift</string>
				</array>
				<key>eventType</key>
				<integer>1</integer>
				<key>locationTrait</key>
				<integer>0</integer>
				<key>mustContainMe</key>
				<false/>
				<key>peopleCountRange</key>
				<string>{0, 10}</string>
				<key>peopleTrait</key>
				<integer>7</integer>
			</dict>
			<key>uuid</key>
			<string>0DF12300-8A09-4F8E-A579-3E551D883FB5</string>
		</dict>
		<dict>
			<key>dateRules</key>
			<array>
				<dict>
					<key>day</key>
					<integer>31</integer>
					<key>month</key>
					<integer>12</integer>
				</dict>
			</array>
			<key>name</key>
			<string>New Year’s Eve</string>
			<key>traits</key>
			<dict>
				<key>categories</key>
				<array>
					<string>restaurant</string>
					<string>nightclub</string>
					<string>bar</string>
					<string>celebration</string>
					<string>fireworks</string>
					<string>night_sky</string>
				</array>
				<key>eventType</key>
				<integer>1</integer>
				<key>locationTrait</key>
				<integer>0</integer>
				<key>mustContainMe</key>
				<false/>
				<key>peopleCountRange</key>
				<string>{1, 10}</string>
				<key>peopleTrait</key>
				<integer>0</integer>
			</dict>
			<key>uuid</key>
			<string>AA0068EF-D57C-4113-B4C8-9C1F6FE13950</string>
		</dict>
		<dict>
			<key>dateRules</key>
			<array>
				<dict>
					<key>day</key>
					<integer>1</integer>
					<key>month</key>
					<integer>1</integer>
				</dict>
			</array>
			<key>name</key>
			<string>New Year’s Day</string>
			<key>traits</key>
			<dict>
				<key>categories</key>
				<array>
					<string>restaurant</string>
					<string>nightclub</string>
					<string>bar</string>
					<string>celebration</string>
					<string>fireworks</string>
					<string>night_sky</string>
				</array>
				<key>eventType</key>
				<integer>1</integer>
				<key>locationTrait</key>
				<integer>0</integer>
				<key>mustContainMe</key>
				<false/>
				<key>peopleCountRange</key>
				<string>{1, 10}</string>
				<key>peopleTrait</key>
				<integer>0</integer>
			</dict>
			<key>uuid</key>
			<string>0B3F6AF2-6CF5-430A-89F1-E4B51B3F5869</string>
		</dict>
		<dict>
			<key>dateRules</key>
			<array>
				<dict>
					<key>day</key>
					<integer>26</integer>
					<key>month</key>
					<integer>8</integer>
				</dict>
			</array>
			<key>name</key>
			<string>National Dog Day</string>
			<key>traits</key>
			<dict>
				<key>categories</key>
				<array>
					<string>dog</string>
				</array>
				<key>eventType</key>
				<integer>2</integer>
				<key>locationTrait</key>
				<integer>0</integer>
				<key>mustContainMe</key>
				<false/>
				<key>peopleCountRange</key>
				<string>{0, 2}</string>
				<key>peopleTrait</key>
				<integer>1</integer>
			</dict>
			<key>uuid</key>
			<string>5A063EEA-2E20-4428-80B2-68BFA01C13E8</string>
		</dict>
		<dict>
			<key>dateRules</key>
			<array>
				<dict>
					<key>day</key>
					<integer>29</integer>
					<key>month</key>
					<integer>10</integer>
				</dict>
			</array>
			<key>name</key>
			<string>National Cat Day</string>
			<key>traits</key>
			<dict>
				<key>categories</key>
				<array>
					<string>cat</string>
					<string>kitten</string>
				</array>
				<key>eventType</key>
				<integer>2</integer>
				<key>locationTrait</key>
				<integer>0</integer>
				<key>mustContainMe</key>
				<false/>
				<key>peopleCountRange</key>
				<string>{0, 2}</string>
				<key>peopleTrait</key>
				<integer>1</integer>
			</dict>
			<key>uuid</key>
			<string>D824868B-F0FA-4247-A476-1B5D0B150586</string>
		</dict>
		<dict>
			<key>dateRules</key>
			<array>
				<dict>
					<key>day</key>
					<integer>1</integer>
					<key>month</key>
					<integer>5</integer>
				</dict>
			</array>
			<key>name</key>
			<string>Labour Day</string>
			<key>traits</key>
			<dict>
				<key>categories</key>
				<array>
					<string>beach</string>
					<string>mountain</string>
					<string>park</string>
				</array>
				<key>eventType</key>
				<integer>1</integer>
				<key>locationTrait</key>
				<integer>0</integer>
				<key>mustContainMe</key>
				<false/>
				<key>peopleCountRange</key>
				<string>{0, 10}</string>
				<key>peopleTrait</key>
				<integer>7</integer>
			</dict>
			<key>uuid</key>
			<string>CF954D8C-3D85-47AB-9A8C-619F471EDF54</string>
		</dict>
		<dict>
			<key>dateRules</key>
			<array>
				<dict>
					<key>day</key>
					<integer>21</integer>
					<key>month</key>
					<integer>5</integer>
					<key>year</key>
					<integer>2010</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>10</integer>
					<key>month</key>
					<integer>5</integer>
					<key>year</key>
					<integer>2011</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>28</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2012</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>17</integer>
					<key>month</key>
					<integer>5</integer>
					<key>year</key>
					<integer>2013</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>6</integer>
					<key>month</key>
					<integer>5</integer>
					<key>year</key>
					<integer>2014</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>25</integer>
					<key>month</key>
					<integer>5</integer>
					<key>year</key>
					<integer>2015</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>14</integer>
					<key>month</key>
					<integer>5</integer>
					<key>year</key>
					<integer>2016</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>3</integer>
					<key>month</key>
					<integer>5</integer>
					<key>year</key>
					<integer>2017</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>22</integer>
					<key>month</key>
					<integer>5</integer>
					<key>year</key>
					<integer>2018</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>12</integer>
					<key>month</key>
					<integer>5</integer>
					<key>year</key>
					<integer>2019</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>30</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2020</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>19</integer>
					<key>month</key>
					<integer>5</integer>
					<key>year</key>
					<integer>2021</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>8</integer>
					<key>month</key>
					<integer>5</integer>
					<key>year</key>
					<integer>2022</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>26</integer>
					<key>month</key>
					<integer>5</integer>
					<key>year</key>
					<integer>2023</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>15</integer>
					<key>month</key>
					<integer>5</integer>
					<key>year</key>
					<integer>2024</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>5</integer>
					<key>month</key>
					<integer>5</integer>
					<key>year</key>
					<integer>2025</integer>
				</dict>
			</array>
			<key>name</key>
			<string>Buddha’s Birthday</string>
			<key>traits</key>
			<dict>
				<key>categories</key>
				<array/>
				<key>eventType</key>
				<integer>1</integer>
				<key>locationTrait</key>
				<integer>0</integer>
				<key>mustContainMe</key>
				<false/>
				<key>peopleCountRange</key>
				<string>{0, 10}</string>
				<key>peopleTrait</key>
				<integer>1</integer>
			</dict>
			<key>uuid</key>
			<string>6DBDA187-71C3-458D-9C07-BC6FED11921D</string>
		</dict>
	</array>
	<key>info</key>
	<dict>
		<key>countryCode</key>
		<string>hk</string>
		<key>countryName</key>
		<string>Hong Kong</string>
		<key>version</key>
		<integer>2</integer>
	</dict>
</dict>
</plist>
