<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>events</key>
	<array>
		<dict>
			<key>dateRules</key>
			<array>
				<dict>
					<key>day</key>
					<integer>1</integer>
					<key>month</key>
					<integer>1</integer>
				</dict>
			</array>
			<key>name</key>
			<string>New Year’s Day</string>
			<key>traits</key>
			<dict>
				<key>categories</key>
				<array>
					<string>restaurant</string>
					<string>nightclub</string>
					<string>bar</string>
					<string>celebration</string>
					<string>fireworks</string>
					<string>night_sky</string>
				</array>
				<key>eventType</key>
				<integer>1</integer>
				<key>locationTrait</key>
				<integer>0</integer>
				<key>mustContainMe</key>
				<false/>
				<key>peopleCountRange</key>
				<string>{0, 10}</string>
				<key>peopleTrait</key>
				<integer>0</integer>
			</dict>
			<key>uuid</key>
			<string>425CCD2B-C8C7-42C0-9A8C-BF3C43BDF2F0</string>
		</dict>
		<dict>
			<key>dateRules</key>
			<array>
				<dict>
					<key>day</key>
					<integer>14</integer>
					<key>month</key>
					<integer>3</integer>
					<key>year</key>
					<integer>2010</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>3</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2011</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>18</integer>
					<key>month</key>
					<integer>3</integer>
					<key>year</key>
					<integer>2012</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>10</integer>
					<key>month</key>
					<integer>3</integer>
					<key>year</key>
					<integer>2013</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>30</integer>
					<key>month</key>
					<integer>3</integer>
					<key>year</key>
					<integer>2014</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>15</integer>
					<key>month</key>
					<integer>3</integer>
					<key>year</key>
					<integer>2015</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>6</integer>
					<key>month</key>
					<integer>3</integer>
					<key>year</key>
					<integer>2016</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>26</integer>
					<key>month</key>
					<integer>3</integer>
					<key>year</key>
					<integer>2017</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>11</integer>
					<key>month</key>
					<integer>3</integer>
					<key>year</key>
					<integer>2018</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>31</integer>
					<key>month</key>
					<integer>3</integer>
					<key>year</key>
					<integer>2019</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>22</integer>
					<key>month</key>
					<integer>3</integer>
					<key>year</key>
					<integer>2020</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>14</integer>
					<key>month</key>
					<integer>3</integer>
					<key>year</key>
					<integer>2021</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>27</integer>
					<key>month</key>
					<integer>3</integer>
					<key>year</key>
					<integer>2022</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>19</integer>
					<key>month</key>
					<integer>3</integer>
					<key>year</key>
					<integer>2023</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>10</integer>
					<key>month</key>
					<integer>3</integer>
					<key>year</key>
					<integer>2024</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>30</integer>
					<key>month</key>
					<integer>3</integer>
					<key>year</key>
					<integer>2025</integer>
				</dict>
			</array>
			<key>name</key>
			<string>Mother’s Day</string>
			<key>traits</key>
			<dict>
				<key>categories</key>
				<array>
					<string>restaurant</string>
					<string>flower_arrangement</string>
				</array>
				<key>eventType</key>
				<integer>1</integer>
				<key>locationTrait</key>
				<integer>0</integer>
				<key>mustContainMe</key>
				<false/>
				<key>peopleCountRange</key>
				<string>{1, 5}</string>
				<key>peopleTrait</key>
				<integer>32</integer>
			</dict>
			<key>uuid</key>
			<string>02CF3F75-1552-4A68-A6CA-9B04A40FA994</string>
		</dict>
		<dict>
			<key>dateRules</key>
			<array>
				<dict>
					<key>day</key>
					<integer>17</integer>
					<key>month</key>
					<integer>3</integer>
				</dict>
			</array>
			<key>name</key>
			<string>St. Patrick’s Day</string>
			<key>traits</key>
			<dict>
				<key>categories</key>
				<array>
					<string>beer</string>
					<string>bar</string>
					<string>nightclub</string>
				</array>
				<key>eventType</key>
				<integer>1</integer>
				<key>locationTrait</key>
				<integer>3</integer>
				<key>mustContainMe</key>
				<false/>
				<key>peopleCountRange</key>
				<string>{1, 5}</string>
				<key>peopleTrait</key>
				<integer>7</integer>
			</dict>
			<key>uuid</key>
			<string>7ABBC796-D61A-49E8-B70A-15F1536F5659</string>
		</dict>
		<dict>
			<key>dateRules</key>
			<array>
				<dict>
					<key>month</key>
					<integer>6</integer>
					<key>weekday</key>
					<integer>1</integer>
					<key>weekdayOrdinal</key>
					<integer>3</integer>
				</dict>
			</array>
			<key>name</key>
			<string>Father’s Day</string>
			<key>traits</key>
			<dict>
				<key>categories</key>
				<array>
					<string>restaurant</string>
				</array>
				<key>eventType</key>
				<integer>1</integer>
				<key>locationTrait</key>
				<integer>0</integer>
				<key>mustContainMe</key>
				<false/>
				<key>peopleCountRange</key>
				<string>{0, 2}</string>
				<key>peopleTrait</key>
				<integer>64</integer>
			</dict>
			<key>uuid</key>
			<string>1C132E5C-D04F-43DA-9699-45687584C7A4</string>
		</dict>
		<dict>
			<key>dateRules</key>
			<array>
				<dict>
					<key>day</key>
					<integer>14</integer>
					<key>month</key>
					<integer>2</integer>
				</dict>
			</array>
			<key>name</key>
			<string>Valentine’s Day</string>
			<key>traits</key>
			<dict>
				<key>categories</key>
				<array>
					<string>restaurant</string>
					<string>wine</string>
					<string>sparkling_wine</string>
					<string>balloon</string>
					<string>jewelry</string>
					<string>vase</string>
					<string>food</string>
					<string>flower_arrangement</string>
				</array>
				<key>eventType</key>
				<integer>1</integer>
				<key>locationTrait</key>
				<integer>7</integer>
				<key>mustContainMe</key>
				<false/>
				<key>peopleCountRange</key>
				<string>{1, 2}</string>
				<key>peopleTrait</key>
				<integer>1</integer>
			</dict>
			<key>uuid</key>
			<string>86C32980-F75C-4013-A9A4-171D700821C3</string>
		</dict>
		<dict>
			<key>dateRules</key>
			<array>
				<dict>
					<key>day</key>
					<integer>23</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2000</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>15</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2001</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>31</integer>
					<key>month</key>
					<integer>3</integer>
					<key>year</key>
					<integer>2002</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>20</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2003</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>11</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2004</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>27</integer>
					<key>month</key>
					<integer>3</integer>
					<key>year</key>
					<integer>2005</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>16</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2006</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>8</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2007</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>23</integer>
					<key>month</key>
					<integer>3</integer>
					<key>year</key>
					<integer>2008</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>12</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2009</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>4</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2010</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>24</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2011</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>8</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2012</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>31</integer>
					<key>month</key>
					<integer>3</integer>
					<key>year</key>
					<integer>2013</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>20</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2014</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>5</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2015</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>27</integer>
					<key>month</key>
					<integer>3</integer>
					<key>year</key>
					<integer>2016</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>16</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2017</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>1</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2018</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>21</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2019</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>12</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2020</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>4</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2021</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>17</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2022</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>9</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2023</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>31</integer>
					<key>month</key>
					<integer>3</integer>
					<key>year</key>
					<integer>2024</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>20</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2025</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>5</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2026</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>28</integer>
					<key>month</key>
					<integer>3</integer>
					<key>year</key>
					<integer>2027</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>16</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2028</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>1</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2029</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>21</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2030</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>13</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2031</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>28</integer>
					<key>month</key>
					<integer>3</integer>
					<key>year</key>
					<integer>2032</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>17</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2033</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>9</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2034</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>25</integer>
					<key>month</key>
					<integer>3</integer>
					<key>year</key>
					<integer>2035</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>13</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2036</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>5</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2037</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>25</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2038</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>10</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2039</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>1</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2040</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>21</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2041</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>6</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2042</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>29</integer>
					<key>month</key>
					<integer>3</integer>
					<key>year</key>
					<integer>2043</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>17</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2044</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>9</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2045</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>25</integer>
					<key>month</key>
					<integer>3</integer>
					<key>year</key>
					<integer>2046</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>14</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2047</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>5</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2048</integer>
				</dict>
				<dict>
					<key>day</key>
					<integer>18</integer>
					<key>month</key>
					<integer>4</integer>
					<key>year</key>
					<integer>2049</integer>
				</dict>
			</array>
			<key>name</key>
			<string>Easter</string>
			<key>traits</key>
			<dict>
				<key>categories</key>
				<array>
					<string>rabbit</string>
					<string>food</string>
					<string>cake_regular</string>
					<string>easter_egg</string>
					<string>gift</string>
				</array>
				<key>eventType</key>
				<integer>1</integer>
				<key>locationTrait</key>
				<integer>0</integer>
				<key>mustContainMe</key>
				<false/>
				<key>peopleCountRange</key>
				<string>{0, 5}</string>
				<key>peopleTrait</key>
				<integer>3</integer>
			</dict>
			<key>uuid</key>
			<string>976942A5-0D15-4BEE-9FE1-D046B668E479</string>
		</dict>
		<dict>
			<key>dateRules</key>
			<array>
				<dict>
					<key>day</key>
					<integer>24</integer>
					<key>month</key>
					<integer>12</integer>
				</dict>
			</array>
			<key>name</key>
			<string>Christmas Eve</string>
			<key>traits</key>
			<dict>
				<key>allowClassificationEvalOnly</key>
				<true/>
				<key>categories</key>
				<array>
					<string>christmas_tree</string>
					<string>santa_claus</string>
					<string>christmas_decoration</string>
					<string>gift</string>
				</array>
				<key>eventType</key>
				<integer>1</integer>
				<key>locationTrait</key>
				<integer>7</integer>
				<key>mustContainMe</key>
				<false/>
				<key>peopleCountRange</key>
				<string>{0, 6}</string>
				<key>peopleTrait</key>
				<integer>7</integer>
			</dict>
			<key>uuid</key>
			<string>59B0D073-7962-45BF-B84D-D1B67ED2D6A6</string>
		</dict>
		<dict>
			<key>dateRules</key>
			<array>
				<dict>
					<key>day</key>
					<integer>31</integer>
					<key>month</key>
					<integer>12</integer>
				</dict>
			</array>
			<key>name</key>
			<string>New Year’s Eve</string>
			<key>traits</key>
			<dict>
				<key>categories</key>
				<array>
					<string>restaurant</string>
					<string>nightclub</string>
					<string>bar</string>
					<string>celebration</string>
					<string>fireworks</string>
					<string>night_sky</string>
				</array>
				<key>eventType</key>
				<integer>1</integer>
				<key>locationTrait</key>
				<integer>0</integer>
				<key>mustContainMe</key>
				<false/>
				<key>peopleCountRange</key>
				<string>{0, 10}</string>
				<key>peopleTrait</key>
				<integer>0</integer>
			</dict>
			<key>uuid</key>
			<string>AA0068EF-D57C-4113-B4C8-9C1F6FE13950</string>
		</dict>
		<dict>
			<key>dateRules</key>
			<array>
				<dict>
					<key>day</key>
					<integer>31</integer>
					<key>month</key>
					<integer>10</integer>
				</dict>
			</array>
			<key>name</key>
			<string>Halloween</string>
			<key>traits</key>
			<dict>
				<key>allowClassificationEvalOnly</key>
				<true/>
				<key>categories</key>
				<array>
					<string>costume</string>
					<string>jack_o_lantern</string>
					<string>pumpkin</string>
				</array>
				<key>eventType</key>
				<integer>1</integer>
				<key>locationTrait</key>
				<integer>7</integer>
				<key>mustContainMe</key>
				<false/>
				<key>peopleCountRange</key>
				<string>{1, 10}</string>
				<key>peopleTrait</key>
				<integer>0</integer>
			</dict>
			<key>uuid</key>
			<string>01B2DBE1-BF3C-4B52-A490-EB85E4EC897B</string>
		</dict>
		<dict>
			<key>dateRules</key>
			<array>
				<dict>
					<key>day</key>
					<integer>25</integer>
					<key>month</key>
					<integer>12</integer>
				</dict>
			</array>
			<key>name</key>
			<string>Christmas Day</string>
			<key>traits</key>
			<dict>
				<key>allowClassificationEvalOnly</key>
				<true/>
				<key>categories</key>
				<array>
					<string>christmas_tree</string>
					<string>santa_claus</string>
					<string>christmas_decoration</string>
					<string>gift</string>
				</array>
				<key>eventType</key>
				<integer>1</integer>
				<key>locationTrait</key>
				<integer>0</integer>
				<key>mustContainMe</key>
				<false/>
				<key>peopleCountRange</key>
				<string>{0, 10}</string>
				<key>peopleTrait</key>
				<integer>7</integer>
			</dict>
			<key>uuid</key>
			<string>0DF12300-8A09-4F8E-A579-3E551D883FB5</string>
		</dict>
		<dict>
			<key>dateRules</key>
			<array>
				<dict>
					<key>day</key>
					<integer>26</integer>
					<key>month</key>
					<integer>12</integer>
				</dict>
			</array>
			<key>name</key>
			<string>St. Stephen’s Day</string>
			<key>traits</key>
			<dict>
				<key>categories</key>
				<array>
					<string>christmas_tree</string>
					<string>santa_claus</string>
					<string>christmas_decoration</string>
					<string>gift</string>
				</array>
				<key>eventType</key>
				<integer>1</integer>
				<key>locationTrait</key>
				<integer>7</integer>
				<key>mustContainMe</key>
				<false/>
				<key>peopleCountRange</key>
				<string>{0, 10}</string>
				<key>peopleTrait</key>
				<integer>7</integer>
			</dict>
			<key>uuid</key>
			<string>5D75F2BD-4CA6-48D8-B7D8-8601F0EE24CA</string>
		</dict>
	</array>
	<key>info</key>
	<dict>
		<key>countryCode</key>
		<string>ie</string>
		<key>countryName</key>
		<string>Ireland</string>
		<key>version</key>
		<integer>2</integer>
	</dict>
</dict>
</plist>
