<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>at</key>
	<dict>
		<key>filename</key>
		<string>at</string>
		<key>version</key>
		<integer>2</integer>
	</dict>
	<key>au</key>
	<dict>
		<key>filename</key>
		<string>au</string>
		<key>version</key>
		<integer>2</integer>
	</dict>
	<key>be</key>
	<dict>
		<key>filename</key>
		<string>be</string>
		<key>version</key>
		<integer>2</integer>
	</dict>
	<key>bg</key>
	<dict>
		<key>filename</key>
		<string>bg</string>
		<key>version</key>
		<integer>2</integer>
	</dict>
	<key>br</key>
	<dict>
		<key>filename</key>
		<string>br</string>
		<key>version</key>
		<integer>2</integer>
	</dict>
	<key>ca</key>
	<dict>
		<key>filename</key>
		<string>ca</string>
		<key>version</key>
		<integer>2</integer>
	</dict>
	<key>ch</key>
	<dict>
		<key>filename</key>
		<string>ch</string>
		<key>version</key>
		<integer>2</integer>
	</dict>
	<key>cn</key>
	<dict>
		<key>filename</key>
		<string>cn</string>
		<key>version</key>
		<integer>2</integer>
	</dict>
	<key>cz</key>
	<dict>
		<key>filename</key>
		<string>cz</string>
		<key>version</key>
		<integer>2</integer>
	</dict>
	<key>de</key>
	<dict>
		<key>filename</key>
		<string>de</string>
		<key>version</key>
		<integer>2</integer>
	</dict>
	<key>dk</key>
	<dict>
		<key>filename</key>
		<string>dk</string>
		<key>version</key>
		<integer>2</integer>
	</dict>
	<key>ee</key>
	<dict>
		<key>filename</key>
		<string>ee</string>
		<key>version</key>
		<integer>2</integer>
	</dict>
	<key>es</key>
	<dict>
		<key>filename</key>
		<string>es</string>
		<key>version</key>
		<integer>2</integer>
	</dict>
	<key>fi</key>
	<dict>
		<key>filename</key>
		<string>fi</string>
		<key>version</key>
		<integer>2</integer>
	</dict>
	<key>fr</key>
	<dict>
		<key>filename</key>
		<string>fr</string>
		<key>version</key>
		<integer>2</integer>
	</dict>
	<key>gb</key>
	<dict>
		<key>filename</key>
		<string>gb</string>
		<key>version</key>
		<integer>2</integer>
	</dict>
	<key>gr</key>
	<dict>
		<key>filename</key>
		<string>gr</string>
		<key>version</key>
		<integer>2</integer>
	</dict>
	<key>hk</key>
	<dict>
		<key>filename</key>
		<string>hk</string>
		<key>version</key>
		<integer>2</integer>
	</dict>
	<key>hr</key>
	<dict>
		<key>filename</key>
		<string>hr</string>
		<key>version</key>
		<integer>2</integer>
	</dict>
	<key>hu</key>
	<dict>
		<key>filename</key>
		<string>hu</string>
		<key>version</key>
		<integer>2</integer>
	</dict>
	<key>ie</key>
	<dict>
		<key>filename</key>
		<string>ie</string>
		<key>version</key>
		<integer>2</integer>
	</dict>
	<key>it</key>
	<dict>
		<key>filename</key>
		<string>it</string>
		<key>version</key>
		<integer>2</integer>
	</dict>
	<key>jp</key>
	<dict>
		<key>filename</key>
		<string>jp</string>
		<key>version</key>
		<integer>2</integer>
	</dict>
	<key>kr</key>
	<dict>
		<key>filename</key>
		<string>kr</string>
		<key>version</key>
		<integer>2</integer>
	</dict>
	<key>lt</key>
	<dict>
		<key>filename</key>
		<string>lt</string>
		<key>version</key>
		<integer>2</integer>
	</dict>
	<key>lu</key>
	<dict>
		<key>filename</key>
		<string>lu</string>
		<key>version</key>
		<integer>2</integer>
	</dict>
	<key>nl</key>
	<dict>
		<key>filename</key>
		<string>nl</string>
		<key>version</key>
		<integer>2</integer>
	</dict>
	<key>no</key>
	<dict>
		<key>filename</key>
		<string>no</string>
		<key>version</key>
		<integer>2</integer>
	</dict>
	<key>nz</key>
	<dict>
		<key>filename</key>
		<string>nz</string>
		<key>version</key>
		<integer>2</integer>
	</dict>
	<key>pl</key>
	<dict>
		<key>filename</key>
		<string>pl</string>
		<key>version</key>
		<integer>2</integer>
	</dict>
	<key>pt</key>
	<dict>
		<key>filename</key>
		<string>pt</string>
		<key>version</key>
		<integer>2</integer>
	</dict>
	<key>ro</key>
	<dict>
		<key>filename</key>
		<string>ro</string>
		<key>version</key>
		<integer>2</integer>
	</dict>
	<key>ru</key>
	<dict>
		<key>filename</key>
		<string>ru</string>
		<key>version</key>
		<integer>2</integer>
	</dict>
	<key>se</key>
	<dict>
		<key>filename</key>
		<string>se</string>
		<key>version</key>
		<integer>2</integer>
	</dict>
	<key>sg</key>
	<dict>
		<key>filename</key>
		<string>sg</string>
		<key>version</key>
		<integer>2</integer>
	</dict>
	<key>sk</key>
	<dict>
		<key>filename</key>
		<string>sk</string>
		<key>version</key>
		<integer>2</integer>
	</dict>
	<key>tw</key>
	<dict>
		<key>filename</key>
		<string>tw</string>
		<key>version</key>
		<integer>2</integer>
	</dict>
	<key>us</key>
	<dict>
		<key>filename</key>
		<string>us</string>
		<key>version</key>
		<integer>2</integer>
	</dict>
</dict>
</plist>
