<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ENTERTAINMENT::CULTURE::FESTIVAL</key>
	<array>
		<string>七夕</string>
		<string>下元節</string>
		<string>世界愛滋病日</string>
		<string>中元節</string>
		<string>中樞春祭</string>
		<string>中秋節</string>
		<string>中秋節翌日</string>
		<string>中華文化復興節</string>
		<string>中華民國國慶日</string>
		<string>中華民國華僑節</string>
		<string>中華民國開國紀念日</string>
		<string>佛陀誕辰紀念日</string>
		<string>佛誕</string>
		<string>香港特別行政區成立紀念日</string>
		<string>香港重光紀念日</string>
		<string>元宵節</string>
		<string>兒童節</string>
		<string>冬至</string>
		<string>勞動節</string>
		<string>原住民族歲時祭儀</string>
		<string>反侵略日</string>
		<string>台灣光復節</string>
		<string>和平紀念日</string>
		<string>國慶日</string>
		<string>國父誕辰紀念日</string>
		<string>國父逝世紀念日</string>
		<string>天公生</string>
		<string>天穿日</string>
		<string>太祖夜祭</string>
		<string>婦女節</string>
		<string>媽祖生</string>
		<string>媽祖聖誕</string>
		<string>孔子誕辰紀念日</string>
		<string>小米祭</string>
		<string>年祭</string>
		<string>復活節</string>
		<string>感恩祭</string>
		<string>感恩節</string>
		<string>憲兵節</string>
		<string>戰祭</string>
		<string>打耳祭</string>
		<string>收穫祭</string>
		<string>收穫節祭</string>
		<string>新正</string>
		<string>春節</string>
		<string>母親節</string>
		<string>民族掃墓節</string>
		<string>海軍節</string>
		<string>清明節</string>
		<string>火神祭</string>
		<string>父親節</string>
		<string>猴祭</string>
		<string>盂蘭盆節</string>
		<string>矮靈祭</string>
		<string>祈天祭</string>
		<string>祖父母節</string>
		<string>祖靈祭</string>
		<string>空軍節</string>
		<string>童軍節</string>
		<string>端午節</string>
		<string>米貢祭</string>
		<string>美術節</string>
		<string>耶穌受難節</string>
		<string>聖誕節</string>
		<string>聯勤節</string>
		<string>聯合國日</string>
		<string>英女皇壽辰</string>
		<string>行憲紀念日</string>
		<string>解嚴紀念日</string>
		<string>言論自由日</string>
		<string>豐年祭</string>
		<string>貝神祭</string>
		<string>軍人節</string>
		<string>農曆新年</string>
		<string>農曆除夕</string>
		<string>重陽節</string>
		<string>陸軍節</string>
		<string>青年節</string>
		<string>革命先烈紀念日</string>
		<string>飛魚祭</string>
	</array>
	<key>ENTERTAINMENT::CULTURE::OPERA</key>
	<array>
		<string>(粵|粤)劇</string>
		<string>京劇</string>
		<string>音樂劇</string>
	</array>
	<key>ENTERTAINMENT::FAIR</key>
	<array>
		<string>中華民國國際版畫及素描雙年展</string>
		<string>台灣國際電玩展</string>
		<string>台灣省全省美術展覽會</string>
		<string>國立故宮博物院海外展覽列表</string>
		<string>桃園國際動漫大展</string>
		<string>臺灣總督府美術展覽會</string>
		<string>臺灣美術展覽會</string>
		<string>農博公園</string>
		<string>工展會</string>
		<string>(台北|台中|高雄)國際新車展</string>
		<string>香港動漫電玩節</string>
		<string>香港電腦通訊節</string>
		<string>香港書展</string>
		<string>香港國際美酒展</string>
	</array>
	<key>ENTERTAINMENT::PARK::AMUSEMENT</key>
	<array>
		<string>八仙海岸</string>
		<string>六福村主題遊樂園</string>
		<string>劍湖山世界</string>
		<string>史諾比開心世界</string>
		<string>小人國主題樂園</string>
		<string>澳門漁人碼頭</string>
		<string>白河台灣電影文化城</string>
		<string>義大(遊樂)?世界</string>
		<string>西湖渡假村</string>
		<string>遠雄海洋公園</string>
		<string>(香港)?海洋公園</string>
		<string>(香港)?迪士尼樂園</string>
		<string>馬灣公園</string>
	</array>
	<key>ENTERTAINMENT::PARK::WATERPARK</key>
	<array>
		<string>八仙海岸</string>
		<string>六福村主題遊樂園</string>
		<string>六福水樂園</string>
		<string>劍湖山世界</string>
		<string>大同水上樂園</string>
		<string>布魯樂谷</string>
		<string>悟智樂園</string>
		<string>東山樂園</string>
		<string>臺北水道水源地</string>
		<string>馬拉灣</string>
		<string>麗寶樂園</string>
		<string>月眉育樂世界</string>
	</array>
	<key>ENTERTAINMENT::SPORT</key>
	<array>
		<string>(夏季|冬季)奧運會</string>
		<string>五輪</string>
		<string>殘奧會</string>
		<string>(水上健身|水中有氧運動)</string>
		<string>卡丁車</string>
	</array>
	<key>ENTERTAINMENT::SPORT::AMERICAN_FOOTBALL</key>
	<array>
		<string>超級碗</string>
		<string>超級杯</string>
	</array>
	<key>ENTERTAINMENT::SPORT::BASEBALL</key>
	<array>
		<string>世界少棒大賽</string>
		<string>少年棒球聯盟世界大賽</string>
	</array>
	<key>ENTERTAINMENT::SPORT::BASKETBALL</key>
	<array>
		<string>\bnba總決賽</string>
		<string>\bnba季後賽</string>
		<string>\bnba全明星</string>
		<string>總冠軍賽</string>
	</array>
	<key>ENTERTAINMENT::SPORT::BIKE</key>
	<array>
		<string>世界自由車場地錦標賽</string>
		<string>世界單車場地錦標賽</string>
		<string>環法自由車賽</string>
		<string>環法單車賽</string>
	</array>
	<key>ENTERTAINMENT::SPORT::CRICKET</key>
	<array>
		<string>世界t20賽制板球大賽</string>
	</array>
	<key>ENTERTAINMENT::SPORT::GOLF</key>
	<array>
		<string>亞洲巡迴賽</string>
		<string>\bpga巡迴賽</string>
	</array>
	<key>ENTERTAINMENT::SPORT::HOCKEY</key>
	<array>
		<string>史丹尼盃</string>
		<string>世界冰球錦標賽</string>
	</array>
	<key>ENTERTAINMENT::SPORT::RUGBY</key>
	<array>
		<string>香港國際七人欖球賽</string>
	</array>
	<key>ENTERTAINMENT::SPORT::RUNNING::MARATHON</key>
	<array>
		<string>台北國際馬拉松比賽</string>
		<string>台北國際國道馬拉松比賽</string>
		<string>ing台北國際馬拉松比賽</string>
		<string>富邦台北馬拉松比賽</string>
		<string>臺北渣打公益馬拉松</string>
		<string>萬金石馬拉松</string>
		<string>高雄國際馬拉松</string>
		<string>高雄國際暨區運馬拉松比賽</string>
		<string>中華汽車國際馬拉松比賽</string>
		<string>台灣國際馬拉松比賽</string>
		<string>渣打馬拉松</string>
		<string>香港超級馬拉松</string>
		<string>渣打香港馬拉松</string>
		<string>香港馬拉松</string>
		<string>香港國際馬拉松</string>
		<string>渣馬</string>
	</array>
	<key>ENTERTAINMENT::SPORT::SOCCER</key>
	<array>
		<string>世界(杯|盃)</string>
		<string>(英國|蘇格蘭)超級足球聯賽</string>
		<string>(西班牙|義大利|意大利|德國|法國)甲組足球聯賽</string>
		<string>亞洲盃</string>
		<string>(歐洲聯賽冠軍盃|歐冠盃|歐霸盃|歐洲超級盃|歐洲國家盃)</string>
		<string>英超</string>
		<string>(香港)足總盃</string>
		<string>\beuro 20[0-9][0-9]\b</string>
	</array>
	<key>ENTERTAINMENT::SPORT::TENNIS</key>
	<array>
		<string>(美國|澳洲|澳大利亞|法國)網球公開賽</string>
		<string>(溫|温)布頓(網球(錦標賽)?)?</string>
		<string>大滿貫</string>
	</array>
</dict>
</plist>
