<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ALL</key>
	<dict>
		<key>ARRANGEMENT::PICKUP</key>
		<integer>1</integer>
	</dict>
	<key>APPOINTMENT::EDUCATION::CONFERENCE</key>
	<dict>
		<key>APPOINTMENT::EDUCATION::KEYNOTE</key>
		<integer>1</integer>
		<key>APPOINTMENT::EDUCATION::TRAINING</key>
		<integer>1</integer>
		<key>GATHERING::DRINKS</key>
		<integer>1</integer>
		<key>GATHERING::DRINKS::HAPPY_HOUR</key>
		<integer>1</integer>
	</dict>
	<key>APPOINTMENT::EDUCATION::CONGRESS</key>
	<dict>
		<key>APPOINTMENT::EDUCATION::TRAINING</key>
		<integer>1</integer>
		<key>GATHERING::DRINKS</key>
		<integer>1</integer>
		<key>GATHERING::DRINKS::HAPPY_HOUR</key>
		<integer>1</integer>
	</dict>
	<key>APPOINTMENT::EDUCATION::SEMINAR</key>
	<dict>
		<key>APPOINTMENT::EDUCATION::KEYNOTE</key>
		<integer>1</integer>
		<key>APPOINTMENT::EDUCATION::TRAINING</key>
		<integer>1</integer>
		<key>GATHERING::DRINKS</key>
		<integer>1</integer>
		<key>GATHERING::DRINKS::HAPPY_HOUR</key>
		<integer>1</integer>
	</dict>
	<key>APPOINTMENT::EDUCATION::TALK</key>
	<dict>
		<key>APPOINTMENT::EDUCATION::MEETUP</key>
		<integer>1</integer>
		<key>GATHERING::DRINKS</key>
		<integer>1</integer>
		<key>GATHERING::DRINKS::HAPPY_HOUR</key>
		<integer>1</integer>
		<key>GATHERING::MEAL</key>
		<integer>1</integer>
		<key>GATHERING::MEAL::DINNER</key>
		<integer>1</integer>
		<key>GATHERING::MEAL::LUNCH</key>
		<integer>1</integer>
	</dict>
	<key>APPOINTMENT::EDUCATION::WORKSHOP</key>
	<dict>
		<key>APPOINTMENT::EDUCATION::KEYNOTE</key>
		<integer>1</integer>
		<key>GATHERING::DRINKS</key>
		<integer>1</integer>
		<key>GATHERING::DRINKS::HAPPY_HOUR</key>
		<integer>1</integer>
	</dict>
	<key>APPOINTMENT::WELLNESS::MASSAGE</key>
	<dict>
		<key>APPOINTMENT::WELLNESS::SPA</key>
		<integer>1</integer>
	</dict>
	<key>APPOINTMENT::WELLNESS::REFLEXOLOGY</key>
	<dict>
		<key>APPOINTMENT::WELLNESS::MASSAGE</key>
		<integer>1</integer>
	</dict>
	<key>ARRANGEMENT::PICKUP</key>
	<dict>
		<key>ARRANGEMENT::TRAVEL</key>
		<integer>1</integer>
	</dict>
	<key>ARRANGEMENT::TRAVEL::FIELDTRIP</key>
	<dict>
		<key>GATHERING::MEAL</key>
		<integer>1</integer>
		<key>GATHERING::MEAL::DINNER</key>
		<integer>1</integer>
		<key>GATHERING::MEAL::LUNCH</key>
		<integer>1</integer>
		<key>GATHERING::MEAL::SNACK</key>
		<integer>1</integer>
	</dict>
	<key>ENTERTAINMENT::CULTURE::BALLET</key>
	<dict>
		<key>ENTERTAINMENT::CULTURE::SHOW</key>
		<integer>1</integer>
		<key>ENTERTAINMENT::CULTURE::THEATER</key>
		<integer>1</integer>
		<key>ENTERTAINMENT::CULTURE::VISITE</key>
		<integer>1</integer>
	</dict>
	<key>ENTERTAINMENT::CULTURE::CIRCUS</key>
	<dict>
		<key>ENTERTAINMENT::CULTURE::SHOW</key>
		<integer>1</integer>
	</dict>
	<key>ENTERTAINMENT::CULTURE::CONCERT</key>
	<dict>
		<key>ENTERTAINMENT::CULTURE::SHOW</key>
		<integer>1</integer>
	</dict>
	<key>ENTERTAINMENT::CULTURE::MUSEUM</key>
	<dict>
		<key>ENTERTAINMENT::CULTURE::EXHIBITION</key>
		<integer>1</integer>
	</dict>
	<key>ENTERTAINMENT::CULTURE::OPERA</key>
	<dict>
		<key>ENTERTAINMENT::CULTURE::SHOW</key>
		<integer>1</integer>
		<key>ENTERTAINMENT::CULTURE::THEATER</key>
		<integer>1</integer>
		<key>ENTERTAINMENT::CULTURE::VISITE</key>
		<integer>1</integer>
	</dict>
	<key>ENTERTAINMENT::CULTURE::THEATER</key>
	<dict>
		<key>ENTERTAINMENT::CULTURE::SHOW</key>
		<integer>1</integer>
	</dict>
	<key>ENTERTAINMENT::HIKE</key>
	<dict>
		<key>APPOINTMENT::GENERICMEETING</key>
		<integer>1</integer>
	</dict>
	<key>ENTERTAINMENT::SPORT::AMERICAN_FOOTBALL</key>
	<dict>
		<key>ENTERTAINMENT::GAME</key>
		<integer>2</integer>
		<key>ENTERTAINMENT::SPORT::MATCH</key>
		<integer>2</integer>
	</dict>
	<key>ENTERTAINMENT::SPORT::BASEBALL</key>
	<dict>
		<key>ENTERTAINMENT::GAME</key>
		<integer>2</integer>
		<key>ENTERTAINMENT::SPORT::MATCH</key>
		<integer>2</integer>
	</dict>
	<key>ENTERTAINMENT::SPORT::BASKETBALL</key>
	<dict>
		<key>ENTERTAINMENT::GAME</key>
		<integer>2</integer>
		<key>ENTERTAINMENT::SPORT::MATCH</key>
		<integer>2</integer>
	</dict>
	<key>ENTERTAINMENT::SPORT::GOLF</key>
	<dict>
		<key>ENTERTAINMENT::GAME</key>
		<integer>2</integer>
		<key>ENTERTAINMENT::SPORT::MATCH</key>
		<integer>2</integer>
	</dict>
	<key>ENTERTAINMENT::SPORT::HOCKEY</key>
	<dict>
		<key>ENTERTAINMENT::GAME</key>
		<integer>2</integer>
		<key>ENTERTAINMENT::SPORT::MATCH</key>
		<integer>2</integer>
	</dict>
	<key>ENTERTAINMENT::SPORT::MATCH</key>
	<dict>
		<key>ENTERTAINMENT::GAME</key>
		<integer>2</integer>
	</dict>
	<key>ENTERTAINMENT::SPORT::RUGBY</key>
	<dict>
		<key>ENTERTAINMENT::GAME</key>
		<integer>2</integer>
		<key>ENTERTAINMENT::SPORT::MATCH</key>
		<integer>2</integer>
	</dict>
	<key>ENTERTAINMENT::SPORT::SKATEBOARDING</key>
	<dict>
		<key>ENTERTAINMENT::PARK</key>
		<integer>1</integer>
	</dict>
	<key>ENTERTAINMENT::SPORT::SOCCER</key>
	<dict>
		<key>ENTERTAINMENT::GAME</key>
		<integer>2</integer>
		<key>ENTERTAINMENT::SPORT::MATCH</key>
		<integer>2</integer>
	</dict>
	<key>ENTERTAINMENT::SPORT::VOLLEYBALL</key>
	<dict>
		<key>ENTERTAINMENT::GAME</key>
		<integer>2</integer>
		<key>ENTERTAINMENT::SPORT::MATCH</key>
		<integer>2</integer>
	</dict>
	<key>GATHERING::ANNIVERSARY</key>
	<dict>
		<key>GATHERING::MEAL</key>
		<real>1.5</real>
		<key>GATHERING::MEAL::BRUNCH</key>
		<real>1.5</real>
		<key>GATHERING::MEAL::DINNER</key>
		<real>1.5</real>
		<key>GATHERING::MEAL::LUNCH</key>
		<real>1.5</real>
		<key>GATHERING::PARTY</key>
		<real>1.5</real>
	</dict>
	<key>GATHERING::ANNIVERSARY::BIRTHDAY</key>
	<dict>
		<key>GATHERING::MEAL</key>
		<real>1.5</real>
		<key>GATHERING::MEAL::BRUNCH</key>
		<real>1.5</real>
		<key>GATHERING::MEAL::DINNER</key>
		<real>1.5</real>
		<key>GATHERING::MEAL::LUNCH</key>
		<real>1.5</real>
		<key>GATHERING::PARTY</key>
		<real>1.5</real>
	</dict>
	<key>GATHERING::APERITIF</key>
	<dict>
		<key>GATHERING::DRINKS</key>
		<integer>1</integer>
	</dict>
	<key>GATHERING::BBQ</key>
	<dict>
		<key>GATHERING::MEAL</key>
		<integer>1</integer>
		<key>GATHERING::MEAL::DINNER</key>
		<integer>1</integer>
		<key>GATHERING::MEAL::LUNCH</key>
		<integer>1</integer>
		<key>GATHERING::PARTY</key>
		<integer>1</integer>
		<key>GATHERING::PARTY::SOIREE</key>
		<integer>1</integer>
	</dict>
	<key>GATHERING::CEREMONY</key>
	<dict>
		<key>GATHERING::MEAL</key>
		<integer>1</integer>
		<key>GATHERING::MEAL::DINNER</key>
		<integer>1</integer>
		<key>GATHERING::MEAL::LUNCH</key>
		<integer>1</integer>
		<key>GATHERING::PARTY</key>
		<integer>1</integer>
	</dict>
	<key>GATHERING::CEREMONY::WEDDING</key>
	<dict>
		<key>GATHERING::PARTY</key>
		<real>0.5</real>
	</dict>
	<key>GATHERING::MEAL</key>
	<dict>
		<key>GATHERING::DRINKS</key>
		<integer>1</integer>
	</dict>
	<key>GATHERING::MEAL::BREAKFAST</key>
	<dict>
		<key>GATHERING::MEAL::SNACK</key>
		<integer>1</integer>
	</dict>
	<key>GATHERING::MEAL::BRUNCH</key>
	<dict>
		<key>GATHERING::MEAL::SNACK</key>
		<integer>1</integer>
	</dict>
	<key>GATHERING::MEAL::DINNER</key>
	<dict>
		<key>GATHERING::MEAL::ICECREAM</key>
		<integer>1</integer>
		<key>GATHERING::MEAL::SNACK</key>
		<integer>1</integer>
	</dict>
	<key>GATHERING::MEAL::LUNCH</key>
	<dict>
		<key>GATHERING::MEAL::ICECREAM</key>
		<integer>1</integer>
		<key>GATHERING::MEAL::SNACK</key>
		<integer>1</integer>
	</dict>
	<key>GATHERING::PARTY</key>
	<dict>
		<key>GATHERING::DRINKS</key>
		<integer>1</integer>
		<key>GATHERING::MEAL</key>
		<integer>1</integer>
		<key>GATHERING::MEAL::DINNER</key>
		<integer>1</integer>
		<key>GATHERING::MEAL::LUNCH</key>
		<integer>1</integer>
	</dict>
	<key>GATHERING::PICNIC</key>
	<dict>
		<key>ENTERTAINMENT::PARK</key>
		<integer>1</integer>
		<key>GATHERING::MEAL</key>
		<integer>1</integer>
		<key>GATHERING::MEAL::DINNER</key>
		<integer>1</integer>
		<key>GATHERING::MEAL::LUNCH</key>
		<integer>1</integer>
		<key>GATHERING::PARTY</key>
		<integer>1</integer>
	</dict>
	<key>GATHERING::REUNION</key>
	<dict>
		<key>GATHERING::PARTY</key>
		<integer>1</integer>
	</dict>
	<key>GATHERING::REUNION::ALUMNI</key>
	<dict>
		<key>APPOINTMENT::GENERICMEETING</key>
		<integer>1</integer>
	</dict>
</dict>
</plist>
