<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ENTERTAINMENT::CULTURE</key>
	<array>
		<string>パレード</string>
	</array>
	<key>ENTERTAINMENT::CULTURE::FESTIVAL</key>
	<array>
		<string>祇園(祭(り)?|まつり)</string>
		<string>神田(祭(り)?|まつり)</string>
		<string>天神(祭(り)?|まつり)</string>
		<string>ね(ぶ|ぷ)た((祭(り)?|まつり))?</string>
		<string>七夕(祭(り)?|まつり)</string>
		<string>竿灯(祭(り)?|まつり)</string>
		<string>三社(祭(り)?|まつり)</string>
		<string>花笠(祭(り)?|まつり)</string>
		<string>よさこい(祭(り)?|まつり)</string>
		<string>阿波踊り</string>
		<string>エイサー(祭(り)?|まつり)</string>
		<string>郡上踊り</string>
		<string>さんさ踊り</string>
		<string>だんじり(祭(り)?|まつり)</string>
		<string>雪(祭(り)?|まつり)</string>
		<string>博多どんたく</string>
		<string>博多祇園山笠</string>
		<string>御柱祭</string>
		<string>おわら風の盆</string>
		<string>精霊流し</string>
		<string>なまはげ(柴灯|せど)(祭(り)?|まつり)</string>
		<string>高山(祭(り)?|まつり)</string>
		<string>時代(祭(り)?|まつり)</string>
		<string>長崎くんち</string>
		<string>お水取り</string>
		<string>浅草サンバカーニバル</string>
		<string>(大文字|京都五山)送り火</string>
		<string>那智の火(祭(り)?|まつり)</string>
		<string>ソーラン(祭(り)?|まつり)</string>
		<string>フジロック</string>
		<string>サマーソニック</string>
		<string>ライジングサンフェス</string>
		<string>ロックインジャパン</string>
		<string>木曽音楽祭</string>
		<string>パシフィックミュージックフェス(ティバル)?</string>
		<string>オペラの森</string>
		<string>松本フェスティバル</string>
		<string>ラフォルジュルネ(オジャポン)?</string>
		<string>アルゲリッチ音楽祭</string>
		<string>霧島国際音楽祭</string>
		<string>宮崎国際音楽祭</string>
		<string>北九州国際音楽祭</string>
		<string>日本ど(真|ま)ん(中|なか)(祭(り)?|まつり)</string>
		<string>わっしょい百万夏(祭(り)?|まつり)</string>
		<string>(ひろしま|広島)フラワーフェスティバル</string>
		<string>浜松(祭(り)?|まつり)</string>
		<string>八戸三社大祭</string>
		<string>(五所川原)?立佞武多</string>
		<string>東京ゲームショウ</string>
		<string>(コミックマーケット|コミケ)</string>
		<string>花火大会</string>
		<string>(グルメ|フード|肉)フェス(ティバル)?</string>
		<string>アースデイ東京</string>
		<string>ニコニコ超会議</string>
		<string>(アニメロサマーライブ|アニサマ)</string>
		<string>(学園|文化)祭</string>
		<string>梅(祭(り)?|まつり)</string>
	</array>
	<key>ENTERTAINMENT::PARK::AMUSEMENT</key>
	<array>
		<string>富士急ハイランド</string>
		<string>ハウステンボス</string>
		<string>(東京)?ディズニー(リゾート|ランド|シー)</string>
		<string>(ユニバーサルスタジオ(ジャパン)?|usj)</string>
		<string>としまえん</string>
		<string>よみうりランド</string>
		<string>東京ドームシティ</string>
		<string>梅田ジョイポリス</string>
		<string>淡路ワールドパーク</string>
		<string>ラグーナテンボス</string>
		<string>初島アイランドリゾート</string>
		<string>南知多グリーンバレイ</string>
		<string>ナガシマスパーランド</string>
		<string>三日月村</string>
		<string>サントピアワールド</string>
		<string>東京ドイツ村</string>
		<string>(浅草)?花やしき</string>
		<string>東武ワールドスク(ウェ|エ)ア</string>
		<string>(さがみ|相模)湖リゾート</string>
		<string>軽井沢おもちゃ王国</string>
		<string>白樺リゾートファミリーランド</string>
		<string>ヤマハリゾートつま恋</string>
		<string>(ふなばし|船橋)アンデルセン公園</string>
		<string>(あらかわ|荒川)遊園</string>
		<string>阿蘇ファームランド</string>
		<string>キッザニア</string>
		<string>スペースワールド</string>
		<string>キロロリゾート</string>
		<string>ルスツリゾート</string>
		<string>(よこはま|横浜)コスモワールド</string>
		<string>(志摩)?スペイン村</string>
		<string>(ひたち|日立)海浜公園</string>
	</array>
	<key>ENTERTAINMENT::PARK::WATERPARK</key>
	<array>
		<string>(スパリゾート)?ハワイアンズ</string>
		<string>(東京)?サマーランド</string>
		<string>大礒ロングビーチ</string>
		<string>フォレスタヒルズウォーターパーク</string>
		<string>つま恋ウォーターパーク</string>
		<string>アクアパラダイスパティオ</string>
		<string>グリーンランドウォーターパーク</string>
		<string>マーメイドパレス</string>
		<string>水の王国ラグーン</string>
		<string>(海の中道)?サンシャインプール</string>
	</array>
	<key>ENTERTAINMENT::SPORT</key>
	<array>
		<string>スーパーフォーミュラ(選手権)?</string>
		<string>日本ダービー</string>
		<string>(夏|冬)(季|の)?オリンピック</string>
		<string>全日本ラリー選手権</string>
		<string>パラリンピック</string>
		<string>スーパーgt選手権</string>
		<string>大相撲初場所春場所</string>
		<string>ハンドボール</string>
		<string>バドミントン</string>
		<string>スカッシュ</string>
		<string>水中エアロビクス</string>
		<string>ゴーカートレース</string>
		<string>ワールドカップ</string>
	</array>
	<key>ENTERTAINMENT::SPORT::AMERICAN_FOOTBALL</key>
	<array>
		<string>ローズボウル</string>
		<string>スーパーボウル</string>
	</array>
	<key>ENTERTAINMENT::SPORT::BASEBALL</key>
	<array>
		<string>日本シリーズ</string>
		<string>(甲子園大会|センバツ)</string>
		<string>プロ野球オールスター</string>
		<string>ワールドシリーズ</string>
	</array>
	<key>ENTERTAINMENT::SPORT::BASKETBALL</key>
	<array>
		<string>nbaファイナル</string>
		<string>ファイナルフォー</string>
		<string>(nba)?オールスター(ゲーム)?</string>
	</array>
	<key>ENTERTAINMENT::SPORT::BIKE</key>
	<array>
		<string>トラックサイクリング世界選手権</string>
		<string>ツール・ド・フランス</string>
		<string>全日本自転車競技選手権</string>
		<string>ジャパンカップサイクルロードレース</string>
	</array>
	<key>ENTERTAINMENT::SPORT::GOLF</key>
	<array>
		<string>マスターズ(トーナメント)?</string>
		<string>(全米|us)オープン(ゴルフ)?</string>
		<string>(全英|ブリティッシュ)オープン(ゴルフ)?</string>
		<string>フジサンケイクラシック</string>
		<string>ダンロップフェニックス</string>
		<string>日本(女子)?プロゴルフ選手権</string>
		<string>(日本ゴルフツアー選手権|森ビルカップ)</string>
		<string>日本(女子)?オープンゴルフ選手権</string>
		<string>ゴルフ日本シリーズ</string>
		<string>ワールドレディスチャンピオンシップ</string>
		<string>lpgaツアーチャンピオンシップ</string>
	</array>
	<key>ENTERTAINMENT::SPORT::GYMWORKOUT</key>
	<array>
		<string>ピラティス</string>
		<string>ボディパンプ</string>
		<string>ズンバ</string>
	</array>
	<key>ENTERTAINMENT::SPORT::RUNNING</key>
	<array>
		<string>箱根駅伝</string>
	</array>
	<key>ENTERTAINMENT::SPORT::RUNNING::MARATHON</key>
	<array>
		<string>(boston|new[- ]?york) marathon(東京|大阪|(naha|那覇)|(かすみがうら|霞ヶ浦)|湘南国際|横浜|勝田全国|神戸|奈良|名古屋ウィメンズ|(いぶすき|指宿)菜の花|サンスポ千葉|(そうじゃ|総社)吉備路|(ちば|千葉)アクアライン|(おきなわ|沖縄)|京都|アクトス6時間リレー|北海道|青梅|淀川市民|板橋(city|シティ)|名古屋シティ|(つくば|筑波)|仙台国際ハーフ|熊本城|(さいたま|埼玉)シティ|札幌|富士山|佐倉朝日健康|焼津(みなと|港)|淀川寛平|新潟シティ|(果樹王国)?ひがしねさくらんぼ|千歳ｊａｌ国際|豊田|和歌浦ベイ|タートル|(中日三重)?お伊勢さん(健康)?|(ぐんま|群馬)県民|(ぎふ|岐阜)清流|鹿沼さつき|北九州|福知山|(香川)?丸亀ハーフ|三浦国際市民|新宿シティハーフ|下関海響)マラソン</string>
		<string>(日立さくら|山中湖富里(スイカ|すいか))ロードレース</string>
	</array>
	<key>ENTERTAINMENT::SPORT::SOCCER</key>
	<array>
		<string>(fifa|サッカー)ワールドカップ</string>
		<string>jリーグチャンピオンシップ</string>
		<string>euro 20[0-9][0-9]</string>
	</array>
	<key>ENTERTAINMENT::SPORT::SUMO</key>
	<array>
		<string>(大相撲)?((1|3|5|7|9|11|一|三|五|七|九|十一)月|初|春|大阪|夏|名古屋|秋|九州)場所</string>
	</array>
	<key>ENTERTAINMENT::SPORT::TENNIS</key>
	<array>
		<string>(全米|us)オープン(テニス)?</string>
		<string>(全仏|フレンチ)オープン(テニス)?</string>
		<string>ウィンブルドン</string>
	</array>
</dict>
</plist>
