<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APPOINTMENT</key>
	<array>
		<string>車検</string>
		<string>車のメンテナンス</string>
		<string>車の修理</string>
	</array>
</dict>
</plist>
