<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ENTERTAINMENT::CULTURE::FESTIVAL</key>
	<array>
		<string>七七抗战纪念日</string>
		<string>中国人民抗日战争胜利纪念日</string>
		<string>中国人民解放军建军纪念日</string>
		<string>中秋节</string>
		<string>九一八纪念日</string>
		<string>五卅纪念日</string>
		<string>儿童节</string>
		<string>元旦</string>
		<string>劳动节</string>
		<string>古尔邦节</string>
		<string>国庆节</string>
		<string>妇女节</string>
		<string>开斋节</string>
		<string>护士节</string>
		<string>教师节</string>
		<string>春节</string>
		<string>植树节</string>
		<string>清明节</string>
		<string>烈士纪念日</string>
		<string>端午节</string>
		<string>肉孜节</string>
		<string>藏历新年</string>
		<string>西藏百万农奴解放纪念日</string>
		<string>记者节</string>
		<string>雪顿节</string>
		<string>青年节</string>
		<string>元宵节</string>
		<string>重阳节</string>
		<string>中国共产党诞生纪念日</string>
	</array>
	<key>ENTERTAINMENT::FAIR</key>
	<array>
		<string>北京国际汽车展览会</string>
		<string>亚洲风能大会</string>
		<string>北京国际设计周</string>
		<string>北京地坛书市</string>
		<string>上海书展</string>
		<string>上海双年展</string>
		<string>上海国际成人用品展</string>
		<string>武汉设计双年展</string>
		<string>上海国际汽车工业博览会</string>
		<string>上海旅游节</string>
		<string>工展会</string>
	</array>
	<key>ENTERTAINMENT::PARK::AMUSEMENT</key>
	<array>
		<string>上海欢乐谷</string>
		<string>上海海昌极地海洋公园</string>
		<string>上海迪士尼乐园</string>
		<string>上海迪士尼度假区</string>
		<string>世界之窗</string>
		<string>东部华侨城</string>
		<string>中华恐龙园</string>
		<string>中华恐龙园</string>
		<string>中国科学院华南植物园</string>
		<string>凯蒂猫家园</string>
		<string>北京乐高乐园</string>
		<string>北京欢乐谷</string>
		<string>北京环球影城</string>
		<string>史诺比开心世界</string>
		<string>圆明新园</string>
		<string>大唐芙蓉园</string>
		<string>天津滨海新区航母旅游区</string>
		<string>小矮人帝国</string>
		<string>广州兰圃</string>
		<string>广州长隆旅游度假区</string>
		<string>无锡影视基地</string>
		<string>明斯克航母世界</string>
		<string>杭州东方文化园</string>
		<string>杭州乐园</string>
		<string>杭州动物园</string>
		<string>杭州宋城</string>
		<string>杭州极地海洋公园</string>
		<string>杭州海底世界</string>
		<string>杭州野生动物世界</string>
		<string>横店影视城</string>
		<string>武汉欢乐谷</string>
		<string>流溪河国家森林公园</string>
		<string>深圳世界之窗</string>
		<string>深圳欢乐谷</string>
		<string>清明上河园</string>
		<string>漓江民俗风情园</string>
		<string>澳门渔人码头</string>
		<string>珍珠乐园</string>
		<string>珠海长隆国际海洋度假区</string>
		<string>石景山游乐园</string>
		<string>苏州乐园</string>
		<string>西峡恐龙遗址园</string>
		<string>西峡恐龙遗址园</string>
		<string>郑州世纪欢乐园</string>
		<string>锦江乐园</string>
		<string>锦绣中华民俗村</string>
		<string>长隆夜间动物世界</string>
		<string>长隆欢乐世界</string>
		<string>长隆海洋王国</string>
		<string>长隆野生动物世界</string>
		<string>香港海洋公园</string>
		<string>香港迪士尼乐园</string>
		<string>马湾公园</string>
	</array>
	<key>ENTERTAINMENT::PARK::WATERPARK</key>
	<array>
		<string>上海玛雅海滩水上公园</string>
		<string>国家游泳中心</string>
		<string>梦幻水城</string>
		<string>水立方</string>
	</array>
	<key>ENTERTAINMENT::SPORT</key>
	<array>
		<string>(夏季|冬季)奥运会</string>
		<string>五轮</string>
		<string>残奥会</string>
		<string>(水上健身|水中有氧运动)</string>
		<string>卡丁车</string>
	</array>
	<key>ENTERTAINMENT::SPORT::AMERICAN_FOOTBALL</key>
	<array>
		<string>超级碗</string>
	</array>
	<key>ENTERTAINMENT::SPORT::BADMINTON</key>
	<array>
		<string>中国羽毛球超级联赛</string>
		<string>世界羽毛球锦标赛</string>
		<string>羽毛球世锦赛</string>
		<string>世界杯羽毛球赛</string>
		<string>苏迪曼杯(世界羽毛球混合团体)锦标赛</string>
		<string>汤姆斯杯(世界男子团体)羽毛球锦标赛</string>
		<string>尤伯杯(世界女子团体)羽毛球锦标赛</string>
	</array>
	<key>ENTERTAINMENT::SPORT::BASEBALL</key>
	<array>
		<string>世界少棒大赛</string>
		<string>少年棒球联盟世界大赛</string>
	</array>
	<key>ENTERTAINMENT::SPORT::BASKETBALL</key>
	<array>
		<string>\bnba总决赛</string>
		<string>\bnba季后赛</string>
		<string>\bnba全明星</string>
		<string>\bnba\b</string>
	</array>
	<key>ENTERTAINMENT::SPORT::BIKE</key>
	<array>
		<string>世界自行车场地锦标赛</string>
		<string>环法自行车赛</string>
	</array>
	<key>ENTERTAINMENT::SPORT::CRICKET</key>
	<array>
		<string>世界t20赛制板球大赛</string>
	</array>
	<key>ENTERTAINMENT::SPORT::GOLF</key>
	<array>
		<string>亚洲巡回赛</string>
		<string>\bpga巡回赛</string>
	</array>
	<key>ENTERTAINMENT::SPORT::HOCKEY</key>
	<array>
		<string>史丹尼杯</string>
		<string>世界冰球锦标赛</string>
	</array>
	<key>ENTERTAINMENT::SPORT::RUNNING::MARATHON</key>
	<array>
		<string>上海马拉松</string>
		<string>中国郑开国际马拉松赛</string>
		<string>丽水半程马拉松</string>
		<string>北京马拉松</string>
		<string>南京国际马拉松</string>
		<string>厦门国际马拉松</string>
		<string>大连国际马拉松</string>
		<string>宁波国际马拉松</string>
		<string>扬州鉴真国际半程马拉松赛</string>
		<string>杭州马拉松</string>
		<string>珠海半程马拉松</string>
		<string>渣打马拉松</string>
		<string>香港超级马拉松</string>
	</array>
	<key>ENTERTAINMENT::SPORT::SOCCER</key>
	<array>
		<string>世界(杯|杯)</string>
		<string>(英国|苏格兰)超级足球联赛</string>
		<string>(西班牙|义大利|意大利|德国|法国)甲组足球联赛</string>
		<string>亚洲杯</string>
		<string>(欧洲联赛冠军杯|欧冠杯|欧霸杯|欧洲超级杯|欧洲国家杯)</string>
		<string>\beuro 20[0-9][0-9]\b</string>
	</array>
	<key>ENTERTAINMENT::SPORT::TABLE_TENNIS</key>
	<array>
		<string>中国乒乓球超级联赛</string>
		<string>中国乒乓球俱乐部超级联赛</string>
		<string>世界乒乓球锦标赛（世乒赛）</string>
	</array>
	<key>ENTERTAINMENT::SPORT::TENNIS</key>
	<array>
		<string>(美国|澳洲|澳大利亚|法国)网球公开赛</string>
		<string>温布顿(网球(锦标赛)?)?</string>
		<string>中国网球公开赛</string>
	</array>
</dict>
</plist>
