<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APPOINTMENT::WELLNESS::HEALTH</key>
	<array>
		<string>(checkup|controllo)( medico| ospedaliero)?( settimanale| mensile| annuale| di routine)? (dal (medico|dottore)|in (ospedale|clinica))</string>
		<string>(checkup|controllo)( medico| ospedaliero)? (settimanale|mensile|annuale|di routine)</string>
		<string>(esame|consulto) medico (settimanale|mensile|annuale)</string>
		<string>(esame|visita) medica (settimanale|mensile|annuale)</string>
	</array>
</dict>
</plist>
