<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ENTERTAINMENT</key>
	<dict>
		<key>DURATION</key>
		<integer>60</integer>
		<key>FAIRLY_GENERIC</key>
		<true/>
		<key>KEYWORDS</key>
		<array>
			<string>コンテスト</string>
			<string>グランプリ</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string></string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ENTERTAINMENT::CULTURE</key>
	<dict>
		<key>CULTURE_RELATED</key>
		<true/>
		<key>DURATION</key>
		<integer>120</integer>
		<key>FAIRLY_GENERIC</key>
		<true/>
		<key>KEYWORDS</key>
		<array>
			<string>コーラス</string>
			<string>フェア</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string></string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ENTERTAINMENT::CULTURE::ASTRONOMICAL_OBSERVATION</key>
	<dict>
		<key>CULTURE_RELATED</key>
		<true/>
		<key>DURATION</key>
		<integer>180</integer>
		<key>KEYWORDS</key>
		<array>
			<string>天体観測</string>
			<string>プラネタリウム</string>
			<string>(皆既|金環|部分)?日食(観(測|察))?</string>
			<string>(皆既|部分)?月食(観(測|察))?</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>天体観測</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ENTERTAINMENT::CULTURE::BALLET</key>
	<dict>
		<key>CULTURE_RELATED</key>
		<true/>
		<key>DURATION</key>
		<integer>120</integer>
		<key>KEYWORDS</key>
		<array>
			<string>バレエ</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>バレエ</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ENTERTAINMENT::CULTURE::CIRCUS</key>
	<dict>
		<key>CULTURE_RELATED</key>
		<true/>
		<key>DURATION</key>
		<integer>120</integer>
		<key>KEYWORDS</key>
		<array>
			<string>サーカス</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>サーカス</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ENTERTAINMENT::CULTURE::COMEDY</key>
	<dict>
		<key>CULTURE_RELATED</key>
		<true/>
		<key>DURATION</key>
		<integer>120</integer>
		<key>KEYWORDS</key>
		<array>
			<string>落語</string>
			<string>漫才</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>お笑い</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ENTERTAINMENT::CULTURE::CONCERT</key>
	<dict>
		<key>CULTURE_RELATED</key>
		<true/>
		<key>DURATION</key>
		<integer>120</integer>
		<key>KEYWORDS</key>
		<array>
			<string>(コンサート|音楽会|演奏会|(?&lt;!ド)ライブ|ステージ)</string>
			<string>(リサイタル|発表会)</string>
			<string>音楽フェス</string>
			<string>ロックフェスティバル</string>
		</array>
		<key>START_TIME</key>
		<string>08:00 PM</string>
		<key>TITLE</key>
		<string>コンサート</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ENTERTAINMENT::CULTURE::CONCERT::DJSET</key>
	<dict>
		<key>CULTURE_RELATED</key>
		<true/>
		<key>DURATION</key>
		<integer>120</integer>
		<key>KEYWORDS</key>
		<array>
			<string>djミックス</string>
		</array>
		<key>START_TIME</key>
		<string>10:00 PM</string>
		<key>TITLE</key>
		<string>DJミックス</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ENTERTAINMENT::CULTURE::EXHIBITION</key>
	<dict>
		<key>CULTURE_RELATED</key>
		<true/>
		<key>DURATION</key>
		<integer>120</integer>
		<key>KEYWORDS</key>
		<array>
			<string>展覧会</string>
			<string>展示会</string>
			<string>画廊</string>
			<string>陶芸展</string>
			<string>書道展</string>
			<string>写真展</string>
			<string>博覧会</string>
			<string>エキシビジョン</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>SUBJECT_KEYWORDS</key>
		<string>(展覧会|展示会)</string>
		<key>TITLE</key>
		<string>エキシビジョン</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ENTERTAINMENT::CULTURE::FESTIVAL</key>
	<dict>
		<key>ALLDAY_ALLOWED</key>
		<string>YES</string>
		<key>CULTURE_RELATED</key>
		<true/>
		<key>DURATION</key>
		<integer>180</integer>
		<key>KEYWORDS</key>
		<array>
			<string>(フェス(ティバル)?|フィエスタ)</string>
			<string>(お)?祭り</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>フェスティバル</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ENTERTAINMENT::CULTURE::MUSEUM</key>
	<dict>
		<key>CULTURE_RELATED</key>
		<true/>
		<key>DURATION</key>
		<integer>120</integer>
		<key>KEYWORDS</key>
		<array>
			<string>博物館</string>
			<string>ミュージアム</string>
			<string>美術館</string>
			<string>記念館</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>博物館</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ENTERTAINMENT::CULTURE::OPERA</key>
	<dict>
		<key>CULTURE_RELATED</key>
		<true/>
		<key>DURATION</key>
		<integer>120</integer>
		<key>KEYWORDS</key>
		<array>
			<string>オペラ</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>オペラ</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ENTERTAINMENT::CULTURE::SHOW</key>
	<dict>
		<key>CULTURE_RELATED</key>
		<true/>
		<key>DURATION</key>
		<integer>120</integer>
		<key>FAIRLY_GENERIC</key>
		<true/>
		<key>KEYWORDS</key>
		<array>
			<string>ショー(?!ト)</string>
			<string>公演</string>
			<string>アイスショ(ー|ウ)</string>
		</array>
		<key>MOVIE_RELATED</key>
		<true/>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>ショー</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ENTERTAINMENT::CULTURE::THEATER</key>
	<dict>
		<key>CULTURE_RELATED</key>
		<true/>
		<key>DURATION</key>
		<integer>120</integer>
		<key>KEYWORDS</key>
		<array>
			<string>(劇場|シアター)</string>
			<string>(劇場|(お)?)芝居.{0,25}リハ(ーサル)?</string>
			<string>(お)?芝居</string>
			<string>舞台</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>劇場</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ENTERTAINMENT::FRUITPICKING</key>
	<dict>
		<key>DURATION</key>
		<integer>60</integer>
		<key>KEYWORDS</key>
		<array>
			<string>(イチゴ|イチジク|カキ|柿|キウイ|サクランボ|スモモ|(西洋)?ナシ|梨|ビワ|枇杷|ブドウ|ブルーベリー|メロン|モモ|桃|リンゴ|わらび|ワラビ|潮干)狩り</string>
			<string>(クリ|栗)拾い</string>
			<string>((サツマ)?イモ|(薩摩)?芋)掘り</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>果物狩り</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ENTERTAINMENT::GAME</key>
	<dict>
		<key>DURATION</key>
		<integer>120</integer>
		<key>KEYWORDS</key>
		<array>
			<string>(ゲーム|トランプ|ポーカー|花札)</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>ゲーム</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ENTERTAINMENT::GAME::BOARDGAME</key>
	<dict>
		<key>DURATION</key>
		<integer>120</integer>
		<key>KEYWORDS</key>
		<array>
			<string>ボードゲーム</string>
			<string>(チェス|モノポリー|人生ゲーム|オセロ|将棋|囲碁|(すごろく|双六)|(カルタ|かるた)|百人一首)</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>ボードゲーム</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ENTERTAINMENT::GAME::BOWLING</key>
	<dict>
		<key>DURATION</key>
		<integer>120</integer>
		<key>KEYWORDS</key>
		<array>
			<string>ボ(ウ|ー)リング</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>ボウリング</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ENTERTAINMENT::GAME::POKER</key>
	<dict>
		<key>DURATION</key>
		<integer>120</integer>
		<key>KEYWORDS</key>
		<array>
			<string>ポーカー</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>ポーカー</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ENTERTAINMENT::GAME::VIDEOGAMES</key>
	<dict>
		<key>DURATION</key>
		<integer>120</integer>
		<key>KEYWORDS</key>
		<array>
			<string>(ビデオ|テレビ)ゲーム</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>テレビゲーム</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ENTERTAINMENT::HIKE</key>
	<dict>
		<key>DURATION</key>
		<integer>180</integer>
		<key>KEYWORDS</key>
		<array>
			<string>ハイキング</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>ハイキング</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ENTERTAINMENT::KABUKI</key>
	<dict>
		<key>DURATION</key>
		<integer>270</integer>
		<key>KEYWORDS</key>
		<array>
			<string>歌舞伎(座)?</string>
			<string>顔見世</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>歌舞伎</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ENTERTAINMENT::KARAOKE</key>
	<dict>
		<key>DURATION</key>
		<integer>120</integer>
		<key>KEYWORDS</key>
		<array>
			<string>カラオケ</string>
		</array>
		<key>START_TIME</key>
		<string>09:00 PM</string>
		<key>TITLE</key>
		<string>カラオケ</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ENTERTAINMENT::KARAOKE::KARAOKENIGHT</key>
	<dict>
		<key>DURATION</key>
		<integer>120</integer>
		<key>KEYWORDS</key>
		<array>
			<string>カラオケナイト</string>
		</array>
		<key>START_TIME</key>
		<string>09:00 PM</string>
		<key>TITLE</key>
		<string>カラオケナイト</string>
		<key>USE_DEFAULT_TIME</key>
		<true/>
	</dict>
	<key>ENTERTAINMENT::MOVIES</key>
	<dict>
		<key>DURATION</key>
		<integer>120</integer>
		<key>KEYWORDS</key>
		<array>
			<string>(映画|dvd)</string>
			<string>(ムービー|シネマ)</string>
			<string>映画館</string>
			<string>(imax|アイマックス)</string>
			<string>映画上映</string>
			<string>実写版</string>
			<string>試写会</string>
		</array>
		<key>MOVIE_RELATED</key>
		<true/>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>映画</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ENTERTAINMENT::MUSICAL</key>
	<dict>
		<key>DURATION</key>
		<integer>240</integer>
		<key>KEYWORDS</key>
		<array>
			<string>ミュージカル</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>ミュージカル</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ENTERTAINMENT::PARK</key>
	<dict>
		<key>DURATION</key>
		<integer>180</integer>
		<key>KEYWORDS</key>
		<array>
			<string>公園.{0,20}(く|きます|こう|きましょう|かない|きませんか|ぶらぶら)</string>
			<string>動物(公)?園</string>
		</array>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ENTERTAINMENT::PARK::AMUSEMENT</key>
	<dict>
		<key>ALLDAY_ALLOWED</key>
		<true/>
		<key>DURATION</key>
		<integer>180</integer>
		<key>KEYWORDS</key>
		<array>
			<string>(遊園地|テーマパーク|ジェットコースター)</string>
		</array>
		<key>TITLE</key>
		<string>遊園地</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ENTERTAINMENT::PARK::WATERPARK</key>
	<dict>
		<key>DURATION</key>
		<integer>180</integer>
		<key>KEYWORDS</key>
		<array>
			<string>ウォーターパーク</string>
		</array>
		<key>TITLE</key>
		<string>ウォーターパーク</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ENTERTAINMENT::SPORT</key>
	<dict>
		<key>DURATION</key>
		<integer>120</integer>
		<key>KEYWORDS</key>
		<array>
			<string>スポーツ?</string>
			<string>フィットネス</string>
			<string>ジム</string>
			<string>スケート</string>
			<string>アスレチック</string>
			<string>(スイミング|水泳)</string>
			<string>(ボクシング|柔道|空手|合気道|相撲|すもう)</string>
			<string>乗馬</string>
			<string>フェンシング</string>
			<string>ボート漕ぎ</string>
			<string>(アーチェリー|弓道)</string>
			<string>(カヌー|カヤック)</string>
			<string>(運動会|体育(祭|大会))</string>
			<string>(スケート場|スケートリンク)</string>
			<string>サーフィン</string>
			<string>プールに行こう</string>
			<string>アイススケート</string>
			<string>フィギュアスケート</string>
		</array>
		<key>SPORT_RELATED</key>
		<true/>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string></string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ENTERTAINMENT::SPORT::AMERICAN_FOOTBALL</key>
	<dict>
		<key>DURATION</key>
		<integer>210</integer>
		<key>KEYWORDS</key>
		<array>
			<string>アメリカンフットボール</string>
			<string>アメフト</string>
			<string>フットボール</string>
		</array>
		<key>SPORT_RELATED</key>
		<true/>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>フットボール</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ENTERTAINMENT::SPORT::BASEBALL</key>
	<dict>
		<key>DURATION</key>
		<integer>210</integer>
		<key>KEYWORDS</key>
		<array>
			<string>野球</string>
			<string>ベースボール</string>
		</array>
		<key>SPORT_RELATED</key>
		<true/>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>野球</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ENTERTAINMENT::SPORT::BASKETBALL</key>
	<dict>
		<key>DURATION</key>
		<integer>180</integer>
		<key>KEYWORDS</key>
		<array>
			<string>(バスケ(ットボール)?|nba)</string>
		</array>
		<key>SPORT_RELATED</key>
		<true/>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>バスケットボール</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ENTERTAINMENT::SPORT::BIKE</key>
	<dict>
		<key>DURATION</key>
		<integer>180</integer>
		<key>KEYWORDS</key>
		<array>
			<string>(サイクリング|自転車)(ツアー|旅行)</string>
			<string>サイクリング</string>
			<string>ツーリング</string>
		</array>
		<key>SPORT_RELATED</key>
		<true/>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>サイクリング</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ENTERTAINMENT::SPORT::FUTSAL</key>
	<dict>
		<key>DURATION</key>
		<integer>120</integer>
		<key>KEYWORDS</key>
		<array>
			<string>フットサル</string>
		</array>
		<key>SPORT_RELATED</key>
		<true/>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>フットサル</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ENTERTAINMENT::SPORT::GOLF</key>
	<dict>
		<key>DURATION</key>
		<integer>180</integer>
		<key>KEYWORDS</key>
		<array>
			<string>ゴルフ</string>
		</array>
		<key>SPORT_RELATED</key>
		<true/>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>ゴルフ</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ENTERTAINMENT::SPORT::GYMWORKOUT</key>
	<dict>
		<key>DURATION</key>
		<integer>90</integer>
		<key>KEYWORDS</key>
		<array>
			<string>ジム(に行く|に行き)</string>
			<string>ワークアウト</string>
			<string>フィットネス(?!モデル)</string>
			<string>ウェイトトレーニング</string>
			<string>ボディスカルピング</string>
			<string>(ボクササイズ|キックボクシング)</string>
			<string>ランニングマシーン</string>
		</array>
		<key>SPORT_RELATED</key>
		<true/>
		<key>START_TIME</key>
		<string></string>
		<key>SUBJECT_KEYWORDS</key>
		<string>(ジム|ワークアウト|ピラティス|ボディーポンプ|ズンバ|キックボクシング|フィットネス)</string>
		<key>TITLE</key>
		<string>フィットネス</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ENTERTAINMENT::SPORT::MATCH</key>
	<dict>
		<key>DURATION</key>
		<integer>120</integer>
		<key>KEYWORDS</key>
		<array>
			<string>試合を(見る|見ます|見ない|見ませんか|見に行く|見に行きます|見に行こう|見に行きましょう)|(観戦.{0,25}(する|しますか|しよう|しましょう|しない|しませんか))</string>
		</array>
		<key>SPORT_RELATED</key>
		<true/>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>試合観戦</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ENTERTAINMENT::SPORT::MEDITATION</key>
	<dict>
		<key>DURATION</key>
		<integer>120</integer>
		<key>KEYWORDS</key>
		<array>
			<string>瞑想</string>
		</array>
		<key>SPORT_RELATED</key>
		<true/>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>瞑想</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ENTERTAINMENT::SPORT::RUGBY</key>
	<dict>
		<key>DURATION</key>
		<integer>120</integer>
		<key>KEYWORDS</key>
		<array>
			<string>ラグビー</string>
		</array>
		<key>SPORT_RELATED</key>
		<true/>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>ラグビー</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ENTERTAINMENT::SPORT::RUNNING</key>
	<dict>
		<key>DURATION</key>
		<integer>90</integer>
		<key>KEYWORDS</key>
		<array>
			<string>ランニング(に行(く|きます|こう|きましょう|かない|きませんか))?</string>
			<string>ジョギング</string>
		</array>
		<key>SPORT_RELATED</key>
		<true/>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>ランニング</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ENTERTAINMENT::SPORT::RUNNING::HALFMARATHON</key>
	<dict>
		<key>ALLDAY_ALLOWED</key>
		<true/>
		<key>DURATION</key>
		<integer>180</integer>
		<key>KEYWORDS</key>
		<array>
			<string>ハーフマラソン</string>
		</array>
		<key>SPORT_RELATED</key>
		<true/>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>ハーフマラソン</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ENTERTAINMENT::SPORT::RUNNING::MARATHON</key>
	<dict>
		<key>ALLDAY_ALLOWED</key>
		<true/>
		<key>DURATION</key>
		<integer>300</integer>
		<key>KEYWORDS</key>
		<array>
			<string>(?&lt;!ハーフ)マラソン</string>
		</array>
		<key>SPORT_RELATED</key>
		<true/>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>マラソン</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ENTERTAINMENT::SPORT::SKATEBOARDING</key>
	<dict>
		<key>DURATION</key>
		<integer>120</integer>
		<key>KEYWORDS</key>
		<array>
			<string>(スケートボード|スケボー)</string>
		</array>
		<key>SPORT_RELATED</key>
		<true/>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>スケートボード</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ENTERTAINMENT::SPORT::SKIING</key>
	<dict>
		<key>ALLDAY_ALLOWED</key>
		<true/>
		<key>ALLDAY_ALLOWED - 2</key>
		<true/>
		<key>DURATION</key>
		<integer>180</integer>
		<key>KEYWORDS</key>
		<array>
			<string>スキー</string>
		</array>
		<key>SPORT_RELATED</key>
		<true/>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>スキー</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ENTERTAINMENT::SPORT::SNOWBOARDING</key>
	<dict>
		<key>ALLDAY_ALLOWED</key>
		<true/>
		<key>DURATION</key>
		<integer>180</integer>
		<key>KEYWORDS</key>
		<array>
			<string>(スノーボード|スノボ)</string>
		</array>
		<key>SPORT_RELATED</key>
		<true/>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>スノーボード</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ENTERTAINMENT::SPORT::SOCCER</key>
	<dict>
		<key>DURATION</key>
		<integer>120</integer>
		<key>KEYWORDS</key>
		<array>
			<string>サッカー</string>
		</array>
		<key>SPORT_RELATED</key>
		<true/>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>サッカー</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ENTERTAINMENT::SPORT::SOFTBALL</key>
	<dict>
		<key>DURATION</key>
		<integer>180</integer>
		<key>KEYWORDS</key>
		<array>
			<string>ソフトボール</string>
		</array>
		<key>SPORT_RELATED</key>
		<true/>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>ソフトボール</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ENTERTAINMENT::SPORT::SUMO</key>
	<dict>
		<key>DURATION</key>
		<integer>540</integer>
		<key>KEYWORDS</key>
		<array>
			<string>(相撲|大相撲)</string>
			<string>両国国技館</string>
		</array>
		<key>SPORT_RELATED</key>
		<true/>
		<key>START_TIME</key>
		<string>09:00 AM</string>
		<key>TITLE</key>
		<string>相撲</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ENTERTAINMENT::SPORT::TABLE_TENNIS</key>
	<dict>
		<key>DURATION</key>
		<integer>60</integer>
		<key>KEYWORDS</key>
		<array>
			<string>卓球</string>
			<string>ピンポン</string>
		</array>
		<key>SPORT_RELATED</key>
		<true/>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>卓球</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ENTERTAINMENT::SPORT::TENNIS</key>
	<dict>
		<key>DURATION</key>
		<integer>120</integer>
		<key>KEYWORDS</key>
		<array>
			<string>テニス</string>
			<string>ミックスダブルス</string>
		</array>
		<key>SPORT_RELATED</key>
		<true/>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>テニス</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ENTERTAINMENT::SPORT::VOLLEYBALL</key>
	<dict>
		<key>DURATION</key>
		<integer>120</integer>
		<key>KEYWORDS</key>
		<array>
			<string>バレー(ボール)?</string>
		</array>
		<key>SPORT_RELATED</key>
		<true/>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>バレーボール</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ENTERTAINMENT::SPORT::YOGA</key>
	<dict>
		<key>DURATION</key>
		<integer>60</integer>
		<key>KEYWORDS</key>
		<array>
			<string>(ホット)?ヨガ</string>
			<string>ピラティス</string>
			<string>ヨガクラス</string>
		</array>
		<key>SPORT_RELATED</key>
		<true/>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>ヨガ</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
</dict>
</plist>
