<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>會議記錄</string>
	<string>新聞</string>
	<string>發報</string>
	<string>雜誌</string>
	<string>電子報</string>
	<string>晚些回復</string>
	<string>每個星期(一|二|三|四|五|六|日|末)</string>
	<string>(我們|那(就|麼)?)?(下)?(週|星期|禮拜)(一|二|三|四|五|六|日|末)見</string>
	<string>真不確定</string>
	<string>轉錄</string>
	<string>最後期限</string>
	<string>政府</string>
	<string>會議紀錄</string>
	<string>報導</string>
	<string>時報</string>
	<string>快訊</string>
	<string>引用</string>
	<string>編譯</string>
	<string>訂閱</string>
	<string>去(了|過)</string>
	<string>摘錄</string>
	<string>還(要|得)?和(.{0,25})確定</string>
	<string>會議紀要</string>
	<string>上週</string>
	<string>裝船</string>
	<string>交貨</string>
	<string>運輸</string>
	<string>報名期限</string>
	<string>截止報名</string>
	<string>報名截止</string>
	<string>截止</string>
	<string>或(以|之)前</string>
	<string>前(回覆|回答|回應|賜覆)</string>
	<string>前(訂購|下訂單|訂閱)</string>
	<string>前(遞交|繳交|寄回|處理)</string>
	<string>前(告訴|通知|聯絡|聯繫|聯系|連絡|連繫|打電話|致電)</string>
	<string>前(報名|註冊|注冊|截止)</string>
	<string>前(回來|回到|回家)</string>
	<string>已(經)?(寄到|寄給|傳送|轉送|郵寄|寄送)</string>
	<string>請(在|於).{5,10}(回覆|回答|回應|賜覆)</string>
	<string>(傳送|郵寄|寄送|郵遞|派遞|派送|寄件|派件)(日期|時間)</string>
	<string>(報名|截止)(日期|時間)</string>
	<string>(開放|營業|營運)(時間|日期)</string>
	<string>(關門|關店)</string>
	<string>(星期|週)(一|二|三|四|五|六|日|末)(快樂|愉快)</string>
	<string>(哪|那)(一)?個(星期|週)(一|二|三|四|五|六|日|末)</string>
	<string>(任|任何)一個(星期|週)(一|二|三|四|五|六|日|末)</string>
	<string>(星期|週)(一|二|三|四|五|六|日|末)(～|至|到)(星期|週)(一|二|三|四|五|六|日|末)</string>
	<string>(現在|今日|今天)起(至|到)</string>
	<string>(去|上)年</string>
	<string>(上|每)(個月|週|星期)</string>
	<string>(每日|每天)</string>
	<string>(期限|限期)</string>
	<string>(菜單|菜譜)</string>
	<string>(eta|預計時間)</string>
	<string>除了</string>
	<string>忙碌</string>
	<string>rsvp</string>
	<string>截至</string>
	<string>新聞稿</string>
	<string>外出了</string>
	<string>無法</string>
	<string>的郵件</string>
	<string>留言訊息</string>
</array>
</plist>
