<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GATHERING</key>
	<dict>
		<key>DURATION</key>
		<integer>60</integer>
		<key>FAIRLY_GENERIC</key>
		<true/>
		<key>KEYWORDS</key>
		<array>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string></string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>GATHERING::ANNIVERSARY</key>
	<dict>
		<key>ALLDAY_ALLOWED</key>
		<false/>
		<key>ALLOW_GENERIC_PATTERNS_KEYWORDS</key>
		<string>NO</string>
		<key>DURATION</key>
		<string>180</string>
		<key>HIGH_PRIORITY</key>
		<true/>
		<key>KEYWORDS</key>
		<array>
			<string>(纪念日|周年纪念)</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>SUBJECT_KEYWORDS</key>
		<string>(派对|party)</string>
		<key>TITLE</key>
		<string>纪念日</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>GATHERING::ANNIVERSARY::BIRTHDAY</key>
	<dict>
		<key>ALLDAY_ALLOWED</key>
		<true/>
		<key>ALLOW_GENERIC_PATTERNS_KEYWORDS</key>
		<string>NO</string>
		<key>DURATION</key>
		<string>180</string>
		<key>HIGH_PRIORITY</key>
		<true/>
		<key>KEYWORDS</key>
		<array>
			<string>(庆祝)?生日(?!快乐|高兴)</string>
			<string>(做|贺|摆大)寿</string>
			<string>牛一</string>
			<string>庆生</string>
			<string>寿宴</string>
			<string>办(个)?生日趴</string>
			<string>(birthday|bday)(?!(gifts?|presents?))</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>SUBJECT_KEYWORDS</key>
		<string>(\d\d?弗|派对|party)</string>
		<key>TITLE</key>
		<string>生日</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>GATHERING::BBQ</key>
	<dict>
		<key>DURATION</key>
		<string>240</string>
		<key>KEYWORDS</key>
		<array>
			<string>烧烤</string>
			<string>烤肉</string>
			<string>烧嘢食</string>
			<string>\bbbq\b</string>
			<string>barbecue</string>
		</array>
		<key>START_TIME</key>
		<string>11:00 AM</string>
		<key>TITLE</key>
		<string>烧烤</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>GATHERING::CEREMONY</key>
	<dict>
		<key>DURATION</key>
		<integer>180</integer>
		<key>KEYWORDS</key>
		<array>
			<string>庆典</string>
			<string>仪式</string>
			<string>典礼</string>
			<string>开业庆典</string>
			<string>洗礼</string>
		</array>
		<key>START_TIME</key>
		<string>08:00 PM</string>
		<key>TITLE</key>
		<string>典礼</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>GATHERING::CEREMONY::MORNING</key>
	<dict>
		<key>DURATION</key>
		<integer>120</integer>
		<key>KEYWORDS</key>
		<array>
		</array>
		<key>START_TIME</key>
		<string>10:00 AM</string>
		<key>TITLE</key>
		<string>仪式</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>GATHERING::CEREMONY::WEDDING</key>
	<dict>
		<key>ALLDAY_ALLOWED</key>
		<true/>
		<key>DURATION</key>
		<integer>180</integer>
		<key>KEYWORDS</key>
		<array>
			<string>喜酒</string>
			<string>婚礼</string>
			<string>结婚</string>
			<string>喜宴</string>
			<string>婚宴</string>
			<string>摆酒</string>
			<string>请饮</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>SUBJECT_KEYWORDS</key>
		<string>婚礼</string>
		<key>TITLE</key>
		<string></string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>GATHERING::DRINKS</key>
	<dict>
		<key>DURATION</key>
		<string>60</string>
		<key>KEYWORDS</key>
		<array>
			<string>(喝|饮)酒</string>
			<string>饮料</string>
			<string>(去|到)(.{0,25})畅饮</string>
			<string>喝一杯</string>
			<string>喝两杯</string>
			<string>啤酒</string>
			<string>酒吧</string>
			<string>豪饮</string>
			<string>喝东西</string>
			<string>饮嘢</string>
			<string>果汁</string>
			<string>\bbar\b</string>
			<string>\bpub\b</string>
			<string>(🍻|🍷|🍹|🍾)</string>
		</array>
		<key>START_TIME</key>
		<string>09:00 PM</string>
		<key>TITLE</key>
		<string>酒会</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>GATHERING::DRINKS::COFFEE</key>
	<dict>
		<key>DURATION</key>
		<string>30</string>
		<key>KEYWORDS</key>
		<array>
			<string>(一起|去).{0,10}喝((一)?杯)?咖啡</string>
			<string>(咖啡店|咖啡厅|咖啡馆|星巴克).{0,15}(喝|见|坐|聊)</string>
		</array>
		<key>TITLE</key>
		<string>喝咖啡</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>GATHERING::DRINKS::HAPPY_HOUR</key>
	<dict>
		<key>DURATION</key>
		<string>60</string>
		<key>KEYWORDS</key>
		<array>
			<string>欢乐时光</string>
			<string>happy[- ]?hour</string>
		</array>
		<key>START_TIME</key>
		<string>05:00 PM</string>
		<key>TITLE</key>
		<string>欢乐时光</string>
		<key>USE_DEFAULT_TIME</key>
		<true/>
	</dict>
	<key>GATHERING::DRINKS::HOTCHOCOLATE</key>
	<dict>
		<key>DURATION</key>
		<string>30</string>
		<key>KEYWORDS</key>
		<array>
			<string>(热|暖|温|溫)(巧克力|朱古力)</string>
		</array>
		<key>START_TIME</key>
		<string>3:00 PM</string>
		<key>TITLE</key>
		<string>热巧克力</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>GATHERING::DRINKS::TEA</key>
	<dict>
		<key>DURATION</key>
		<string>60</string>
		<key>KEYWORDS</key>
		<array>
			<string>(喝|吃)(个|杯)?茶</string>
			<string>饮茶</string>
			<string>茶(店|室|厅|馆)</string>
			<string>喝英国茶</string>
			<string>🍵</string>
			<string>bubble[- ]tea</string>
			<string>pearl (milk )?tea</string>
			<string>珍珠奶茶</string>
			<string>波霸奶茶</string>
			<string>日出茶太</string>
			<string>chatime</string>
			<string>珍奶</string>
			<string>珍珠奶绿</string>
		</array>
		<key>START_TIME</key>
		<string>3:00 PM</string>
		<key>TITLE</key>
		<string>喝茶</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>GATHERING::MEAL</key>
	<dict>
		<key>DURATION</key>
		<integer>60</integer>
		<key>KEYWORDS</key>
		<array>
			<string>(就|聚|用)餐</string>
			<string>吃海鲜</string>
			<string>预定一桌</string>
			<string>汉堡(包)?</string>
			<string>将要预定一桌</string>
			<string>比萨</string>
			<string>拉面</string>
			<string>(食|吃)?火锅</string>
			<string>(餐|饭)厅</string>
			<string>披萨</string>
			<string>(吃|食)饭</string>
			<string>寿司</string>
			<string>(吃|食)东西</string>
			<string>聚餐</string>
			<string>饭局</string>
			<string>订位</string>
			<string>自助餐</string>
			<string>(吃|食)(牛排|牛扒)</string>
			<string>锯扒</string>
			<string>打边炉</string>
			<string>订枱</string>
			<string>订((一)?张)?枱</string>
			<string>请客</string>
			<string>(🍣|🍕|🍔|🍟|🍴|🍲|🍝|🍳|🍜|🌯|🌮|🍛|🍱)</string>
			<string>麻辣香锅</string>
			<string>吃饺子</string>
			<string>吃日本菜</string>
			<string>吃螃蟹</string>
			<string>湖南菜</string>
			<string>面馆</string>
			<string>餐馆</string>
			<string>火锅</string>
			<string>吃个?饭</string>
		</array>
		<key>MEAL_RELATED</key>
		<true/>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string></string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>GATHERING::MEAL::BREAKFAST</key>
	<dict>
		<key>DURATION</key>
		<integer>60</integer>
		<key>KEYWORDS</key>
		<array>
			<string>早(餐|饭)(?!前|后|时|的时候)</string>
			<string>(喝|吃)早茶(?!前|后|时|的时候)</string>
			<string>吃早点(?!前|后|时|的时候)</string>
		</array>
		<key>MEAL_RELATED</key>
		<true/>
		<key>START_TIME</key>
		<string>08:00 AM</string>
		<key>START_TIME_MAX</key>
		<string>10:30 AM</string>
		<key>START_TIME_MIN</key>
		<string>06:00 AM</string>
		<key>TITLE</key>
		<string>早餐</string>
		<key>USE_DEFAULT_TIME</key>
		<true/>
		<key>USE_FOR_TIME_ADJUSTMENT</key>
		<true/>
	</dict>
	<key>GATHERING::MEAL::BRUNCH</key>
	<dict>
		<key>DURATION</key>
		<integer>120</integer>
		<key>KEYWORDS</key>
		<array>
			<string>早午(餐|饭)</string>
			<string>brunch</string>
		</array>
		<key>MEAL_RELATED</key>
		<true/>
		<key>START_TIME</key>
		<string>11:00 AM</string>
		<key>START_TIME_MAX</key>
		<string>2:00 PM</string>
		<key>START_TIME_MIN</key>
		<string>10:00 AM</string>
		<key>TITLE</key>
		<string>早午餐</string>
		<key>USE_DEFAULT_TIME</key>
		<true/>
		<key>USE_FOR_TIME_ADJUSTMENT</key>
		<false/>
	</dict>
	<key>GATHERING::MEAL::DINNER</key>
	<dict>
		<key>DURATION</key>
		<string>120</string>
		<key>KEYWORDS</key>
		<array>
			<string>吃晚(餐|饭)</string>
			<string>(约|聚).{0,10}晚(餐|饭)</string>
			<string>吃年夜饭</string>
			<string>团年饭</string>
		</array>
		<key>MEAL_RELATED</key>
		<true/>
		<key>START_TIME</key>
		<string>07:00 PM</string>
		<key>START_TIME_MAX</key>
		<string>10:00 PM</string>
		<key>START_TIME_MIN</key>
		<string>05:00 PM</string>
		<key>TITLE</key>
		<string>晚餐</string>
		<key>USE_DEFAULT_TIME</key>
		<true/>
		<key>USE_FOR_TIME_ADJUSTMENT</key>
		<true/>
	</dict>
	<key>GATHERING::MEAL::DINNER::MOVIES</key>
	<dict>
		<key>DURATION</key>
		<string>180</string>
		<key>KEYWORDS</key>
		<array>
			<string>(电影|\bdvd\b).{0,25}晚(餐|饭)</string>
			<string>晚(餐|饭).{0,25}(电影|\bdvd\b)</string>
		</array>
		<key>MEAL_RELATED</key>
		<true/>
		<key>MOVIE_RELATED</key>
		<true/>
		<key>START_TIME</key>
		<string>7:00 PM</string>
		<key>TITLE</key>
		<string>电影与晚餐</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>GATHERING::MEAL::ICECREAM</key>
	<dict>
		<key>DURATION</key>
		<string>60</string>
		<key>KEYWORDS</key>
		<array>
			<string>吃(意式)?冰淇(凌|淋)</string>
			<string>食(意式)?雪糕</string>
			<string>ice[- ]cream</string>
			<string>gelato</string>
		</array>
		<key>MEAL_RELATED</key>
		<true/>
		<key>START_TIME</key>
		<string>3:00 PM</string>
		<key>TITLE</key>
		<string>冰淇淋</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>GATHERING::MEAL::LUNCH</key>
	<dict>
		<key>DURATION</key>
		<integer>60</integer>
		<key>KEYWORDS</key>
		<array>
			<string>一起吃午(餐|饭)</string>
			<string>一起吃中饭</string>
			<string>(约|聚).{0,10}吃?午饭</string>
			<string>午餐会</string>
			<string>中午.{0,15}(聚一下|吃个饭)</string>
			<string>一起吃个饭</string>
			<string>中午.{0,15}订位子了</string>
		</array>
		<key>MEAL_RELATED</key>
		<true/>
		<key>START_TIME</key>
		<string>12:00 PM</string>
		<key>START_TIME_MAX</key>
		<string>02:00 PM</string>
		<key>START_TIME_MIN</key>
		<string>11:00 AM</string>
		<key>TITLE</key>
		<string>午餐</string>
		<key>USE_DEFAULT_TIME</key>
		<true/>
		<key>USE_FOR_TIME_ADJUSTMENT</key>
		<true/>
	</dict>
	<key>GATHERING::MEAL::SNACK</key>
	<dict>
		<key>DURATION</key>
		<string>30</string>
		<key>KEYWORDS</key>
		<array>
			<string>(吃|食)?(点心|茶点|小食)</string>
			<string>下午茶</string>
			<string>hi(gh)? tea</string>
			<string>生煎包</string>
			<string>小笼包</string>
			<string>早茶</string>
		</array>
		<key>MEAL_RELATED</key>
		<true/>
		<key>START_TIME</key>
		<string>4:30 PM</string>
		<key>TITLE</key>
		<string>下午茶</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>GATHERING::MEAL::SNACK::NIGHT</key>
	<dict>
		<key>DURATION</key>
		<string>60</string>
		<key>KEYWORDS</key>
		<array>
			<string>宵夜</string>
			<string>夜宵</string>
			<string>消夜</string>
		</array>
		<key>MEAL_RELATED</key>
		<true/>
		<key>START_TIME</key>
		<string>9:00 PM</string>
		<key>TITLE</key>
		<string>宵夜</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>GATHERING::PARTY</key>
	<dict>
		<key>DURATION</key>
		<string>180</string>
		<key>KEYWORDS</key>
		<array>
			<string>夜总会</string>
			<string>酒席</string>
			<string>办酒</string>
			<string>夜店</string>
			<string>宴会</string>
			<string>宴客</string>
			<string>满月</string>
			<string>做节</string>
			<string>派对</string>
			<string>開(p|趴)</string>
			<string>参加.{0,5}晚会</string>
			<string>年会</string>
		</array>
		<key>START_TIME</key>
		<string>08:00 PM</string>
		<key>SUBJECT_KEYWORDS</key>
		<string>party</string>
		<key>TITLE</key>
		<string>派对</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>GATHERING::PARTY::CLUBBING</key>
	<dict>
		<key>DURATION</key>
		<string>180</string>
		<key>KEYWORDS</key>
		<array>
			<string>夜店</string>
		</array>
		<key>START_TIME</key>
		<string>09:00 PM</string>
		<key>SUBJECT_KEYWORDS</key>
		<string>(party|派对)</string>
		<key>TITLE</key>
		<string>夜店</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>GATHERING::PARTY::COCKTAIL</key>
	<dict>
		<key>DURATION</key>
		<string>120</string>
		<key>KEYWORDS</key>
		<array>
			<string>鸡尾酒(派对|会)</string>
		</array>
		<key>START_TIME</key>
		<string>08:00 PM</string>
		<key>SUBJECT_KEYWORDS</key>
		<string>(party|派对)</string>
		<key>TITLE</key>
		<string>鸡尾酒派对</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>GATHERING::PARTY::GRADUATION</key>
	<dict>
		<key>DURATION</key>
		<integer>180</integer>
		<key>KEYWORDS</key>
		<array>
			<string>(毕业|结业)(派对)</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>SUBJECT_KEYWORDS</key>
		<string>(party|派对)</string>
		<key>TITLE</key>
		<string>毕业派对</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>GATHERING::PARTY::HOUSEWARMING</key>
	<dict>
		<key>DURATION</key>
		<integer>180</integer>
		<key>KEYWORDS</key>
		<array>
			<string>(乔迁|迁居)(聚会|派对)</string>
			<string>暖房</string>
		</array>
		<key>START_TIME</key>
		<string>08:00 PM</string>
		<key>SUBJECT_KEYWORDS</key>
		<string>(party|派对)</string>
		<key>TITLE</key>
		<string>乔迁聚会</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>GATHERING::PARTY::RETIREMENT</key>
	<dict>
		<key>DURATION</key>
		<integer>180</integer>
		<key>KEYWORDS</key>
		<array>
			<string>退休派对</string>
		</array>
		<key>SUBJECT_KEYWORDS</key>
		<string>(party|派对)</string>
		<key>TITLE</key>
		<string>退休派对</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>GATHERING::PICNIC</key>
	<dict>
		<key>DURATION</key>
		<string>180</string>
		<key>KEYWORDS</key>
		<array>
			<string>野餐</string>
			<string>\bpicnic\b</string>
		</array>
		<key>START_TIME</key>
		<string>12:00 PM</string>
		<key>TITLE</key>
		<string>野餐</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>GATHERING::POTLUCK</key>
	<dict>
		<key>DURATION</key>
		<string>120</string>
		<key>KEYWORDS</key>
		<array>
			<string>家常便饭</string>
			<string>聚餐派对</string>
		</array>
		<key>START_TIME</key>
		<string>12:00 PM</string>
		<key>TITLE</key>
		<string>聚餐</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>GATHERING::REUNION</key>
	<dict>
		<key>DURATION</key>
		<integer>120</integer>
		<key>KEYWORDS</key>
		<array>
			<string>重聚</string>
			<string>聚旧</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>重聚</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>GATHERING::REUNION::ALUMNI</key>
	<dict>
		<key>DURATION</key>
		<integer>120</integer>
		<key>KEYWORDS</key>
		<array>
			<string>(同学|毕业生)(聚旧|重聚)</string>
			<string>校友会</string>
		</array>
		<key>START_TIME</key>
		<string>07:00 PM</string>
		<key>TITLE</key>
		<string>同学重聚</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>GATHERING::REUNION::FAMILY</key>
	<dict>
		<key>DURATION</key>
		<integer>120</integer>
		<key>KEYWORDS</key>
		<array>
			<string>(家庭|家人)(聚旧|重聚)</string>
		</array>
		<key>START_TIME</key>
		<string>12:00 PM</string>
		<key>TITLE</key>
		<string>家庭聚会</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
</dict>
</plist>
