<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>真的不巧</string>
	<string>太不巧了</string>
	<string>不可用</string>
	<string>开个会</string>
	<string>抱歉</string>
	<string>有(点)?(别|另外|其他)(的)?事(情)?</string>
	<string>暂停</string>
	<string>不巧</string>
	<string>有其他事情</string>
	<string>不好意思</string>
	<string>已经(.{0,50})约(.{0,50})了</string>
	<string>做不到</string>
	<string>有其他的事情</string>
	<string>你们(去吧|玩(的|得)?开心)</string>
	<string>今天开会</string>
	<string>有别的事情</string>
	<string>航空管制</string>
	<string>约了其他人</string>
	<string>但(.{0,50})要(去|到)(.{0,50})</string>
	<string>过期</string>
	<string>去不了</string>
	<string>逾期</string>
	<string>真不凑巧</string>
	<string>下次吧</string>
	<string>(不能|无法)(.{0,50})聚会</string>
	<string>约了(其他|别人|人)</string>
	<string>恐怕不(行|能)</string>
	<string>不巧得很</string>
	<string>有其他事</string>
	<string>客户见面</string>
	<string>下次(.{0,50})再</string>
	<string>取消</string>
	<string>(无|没有|无法|不能)聚会</string>
	<string>不去</string>
	<string>有其他的事</string>
	<string>(去|来)不了</string>
	<string>无法参加</string>
	<string>不(能)?(回家)?参加</string>
	<string>有约(要(.{0,50}))?了</string>
	<string>没空</string>
	<string>约了别人</string>
	<string>不(能)?去</string>
	<string>公司开会</string>
	<string>有事</string>
	<string>座谈会议</string>
	<string>中止</string>
	<string>不能去</string>
	<string>有别的事</string>
	<string>可惜</string>
	<string>开会讨论</string>
	<string>(已|已经)(.?)取消</string>
	<string>没有空</string>
	<string>没(有)?空</string>
	<string>改天再约</string>
	<string>售罄</string>
	<string>(公司)?开(个)?会</string>
	<string>(很|非常)遗憾</string>
        <string>生病|感冒|不舒服</string>
        <string>下线</string>
        <string>在家(工作|上班)</string>
        <string>自动回复</string>
        <string>账户概要</string>
        <string>优惠券|省钱</string>
</array>
</plist>
