<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>出荷予定</string>
	<string>(日時|日付):</string>
	<string>(まで|迄)に(お)?返事(を)?(ください|下さい|いただける|いただけます|たまわり|賜り|賜わり)</string>
	<string>(応募|登録|申込(み)?)?締切(日)?</string>
	<string>自動送信(メール)?</string>
	<string>(返信|応募|登録|記入|提出)期限</string>
	<string>結果</string>
	<string>(編集|変更|更新|入力)するには</string>
	<string>出欠確認</string>
	<string>注文確認</string>
	<string>会報</string>
	<string>(まで|迄)に(ご)?返信(を)?(ください|下さい|いただける|いただけます|たまわり|賜り|賜わり)</string>
	<string>デッドライン</string>
	<string>(編集|変更|更新|入力)(を)?お願い(いた)?します</string>
	<string>ミーティングノート</string>
	<string>ニュースレター</string>
	<string>抄録</string>
	<string>覚書</string>
	<string>確認メール</string>
	<string>送信日時</string>
	<string>会議録</string>
	<string>(ミーティング)?議事録</string>
	<string>摘要</string>
	<string>ダイジェスト</string>
	<string>営業時間</string>
	<string>(営業|例会)?報告(します|させていただきます)?</string>
	<string>(応募|登録)?締め切り</string>
	<string>自動配信(メール)?</string>
	<string>去年</string>
	<string>先週</string>
	<string>先月</string>
	<string>(この前の|この間の|こないだの|先日の)</string>
	<string>配信</string>
	<string>運送</string>
	<string>出荷</string>
	<string>利用できない</string>
	<string>(月|火|水|木|金|土|日)曜(日)?(から|まで)</string>
	<string>オンラインで利用できるようになります</string>
	<string>(を除く|以外の)(日)?</string>
	<string>祝日</string>
	<string>(土日|(今)?週末)</string>
	<string>までに(この)?メールに返信</string>
	<string>までに(私に)?メール(して|送信)?</string>
	<string>までに(予約|注文)</string>
	<string>(毎日|いつでも)</string>
	<string>((それでは)?また)?(月|火|水|木|金|土|日)曜(日)?((に)?(お)?会いましょう)</string>
	<string>送信(し|され)ました</string>
	<string>私(の|にとって)最後(の)?</string>
	<string>(外出中|出かけています|席を外しています)</string>
	<string>まで.{0,10}を回す</string>
	<!--string>(でき(ない|ません)|(し|やり)ません|無理)</string-->
	<string>遅く(て|と)も.{0,25}(まで)?には</string>
	<string>(変更|修正|編集)する</string>
	<string>休みを取(る|ります)</string>
	<!--string>((よろしく)?(お願い)(します)?|(有難う|ありがとう)(ございます)?|感謝((し|してい)ます)?)</string-->
	<string>((有難う|ありがとう)(ございます)?|感謝((し|してい)ます)?)(全て)?記入して.{0,25}(まで|前)(に)?返信(してください)?(よろしく)?(お願い)(します)?</string>
	<!--string>(まで|前)(に)?</string-->
	<string>(出荷|輸送|発送|配達)((しま)?した|され(まし)?た)?</string>
	<string>(は別として|を除いて|の他に|はさておき)</string>
	<string>(午前|午後|朝|(お)?昼|夕方|深夜)(あた|辺)り</string>
	<string>24時間(営業(中)?)?</string>
	<string>年中無休</string>
	<string>(忙しい|立て込んで(います)?|手が(塞|ふさ)がって(います)?)</string>
	<string>((月|火|水|木|金|土|日)曜(日)?|(今)?週末|土日).{0,25}することになってい(る|た)</string>
	<string>お返事お願いします</string>
	<string>(現時点|付)で</string>
	<string>今(日)?から((月|火|水|木|金|土|日)曜(日)?|(今)?週末|土日)まで</string>
	<string>(月|火|水|木|金|土|日)曜(日)?から(月|火|水|木|金|土|日)曜(日)?まで</string>
	<string>(配信|配達|出荷|郵送|修理|取り扱い)される</string>
	<string>までに(事務所|会社|オフィス)に(到着|着く)</string>
	<string>休館(日)?</string>
	<string>(閉鎖|準備)(中)?</string>
	<string>(((出来|でき)るだけ)?早く|早急に|(大)?至急)?(私に)?(知らせて|教えて)(ください)?</string>
	<string>までに(応募|登録)(して(下|くだ)さい)?</string>
	<string>休(む|みます)</string>
	<string>(だめ|ダメ|駄目|中止)</string>
	<string>((月|火|水|木|金|土|日)曜(日)?|(今)?週末|土日).{0,25}ある</string>
	<string>((入金|請求|実(行|施)|編集|送信|転送)した|会った|急(が|か)(し|せ)た|早める|捗らせた)</string>
	<string>までに(戻|帰)(ります|る)</string>
	<string>毎日</string>
	<string>までに(私(達)に)?(知らせて|教えて)(ください)?</string>
	<string>(有効|賞味|消費)期限</string>
	<string>(申し訳ありません|ごめんなさい).{0,25}((用事|予定|先約)があります|都合が悪いです)</string>
	<string>((ありがたい|有り難い)です|感謝し(てい)?ます)</string>
	<string>(お知らせ|通知)</string>
	<string>支払(期)?日</string>
	<string>到着(予定)?時(刻|間)</string>
	<string>(に一泊する|で一(晩|夜を)過ごす)</string>
	<string>(前|まで)に(事務所|会社|オフィス)で</string>
	<string>(おはよう(ございます)?|こんにちは|こんばんは|おやすみ(なさい)?)</string>
	<string>土曜日の夜のライブ</string>
	<string>[0-9][0-9]?月[0-9][0-9]?日((月|火|水|木|金|土|日)曜(日)?|(お)?昼|(当|翌)日)?(の)?(午(前|後))[0-9][0-9]?(に)?(運転して)?(行き|来)ます</string>
	<string>(事務所|会社|オフィス)に到着</string>
	<string>毎週</string>
	<string>(に|で)閉まります</string>
	<!--string>[0-9]{1,2}時間</string-->
	<string>(次の)?([0-9][0-9]?月)?([0-9][0-9]?日)?(月|火|水|木|金|土|日)曜(日)?.{0,25}できません。</string>
	<string>((お)?電話|(ご)?連絡)(くだ|下)さい</string>
	<string>サインオフ</string>
	<string>終了日</string>
	<string>((昼|夕)食)(前|後)</string>
</array>
</plist>
