<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>imposible</string>
	<string>(va a ser que no|me rajo|nos rajamos)</string>
	<string>cancelar</string>
	<string>cancel(o|as?|amos|áis|an)</string>
	<string>cancelar(é|ás?|emos|éis|án)</string>
	<string>no estar(é|ás?) disponible</string>
	<string>estar(é|ás?) ocupado</string>
	<string>no (llego|llegar(é|ás?|emos|éis|án))</string>
	<string>no asistir(é|ás?|emos|éis|án)</string>
	<string>no (puede|puedo|podré|podemos|podrémos) (ir|llegar|asistir|ser)</string>
	<string>no estar(emos|éis|án) disponibles</string>
	<string>cancelad(o|a)s?</string>
	<string>estar(emos|éis|án) ocupados</string>
	<string>caduca</string>
	<string>no disponible</string>
	<string>ni de coña</string>
	<string>otra vez sera</string>
	<string>(lo siento|me sabe mal|disculpas?|discúlpame) pero</string>
	<string>(desafortunadamente|por desgracia|desgraciadamente|muy a mi pesar)</string>
	<string>gracias por (invitar(me|nos)|la invitación) pero</string>
	<string>ofertas (exclusivas?|especial(es)?)
</string>
	<string>comprar? ahora</string>
	<string>respuesta automática</string>
	<string>estoy (enfermo|de baja)</string>
	<string>(ooo|fuera de la oficina)</string>
	<string>día libre</string>
	<string>(estaré ausente|me ausentaré|estaremos ausentes|nos ausentaremos)</string>
	<string>(wfh|trabaj(o|aré) desde casa)</string>
	<string>(aplazado|pospuesto|atrasado|retrasado)</string>
	<string>(siento|sentimos) (deciros|comunicaros)</string>
</array>
</plist>
