<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APPOINTMENT</key>
	<dict>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<integer>60</integer>
		<key>FAIRLY_GENERIC</key>
		<true/>
		<key>KEYWORDS</key>
		<array>
			<string>(?&lt;!我有)预约</string>
			<string>相亲</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>SUBJECT_KEYWORDS</key>
		<string>预约</string>
		<key>TITLE</key>
		<string></string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::BEAUTY</key>
	<dict>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<integer>60</integer>
		<key>KEYWORDS</key>
		<array>
			<string>(美容|美容院|美容室)</string>
			<string>做 ?facial\b</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>美容</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::BEAUTY::MANICURE</key>
	<dict>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<integer>60</integer>
		<key>KEYWORDS</key>
		<array>
			<string>(修甲|美甲|手部护理|指甲护理)</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>美甲</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::BEAUTY::PEDICURE</key>
	<dict>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<integer>60</integer>
		<key>KEYWORDS</key>
		<array>
			<string>(修脚|足部护理|修脚师|足疗)</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>足部护理</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::EDUCATION</key>
	<dict>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<string>120</string>
		<key>KEYWORDS</key>
		<array>
			<string>(温|溫|k)书</string>
			<string>返学</string>
			<string>(温|溫)习</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string></string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::EDUCATION::CONFERENCE</key>
	<dict>
		<key>ALLDAY_ALLOWED</key>
		<true/>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<string>120</string>
		<key>KEYWORDS</key>
		<array>
			<string>(会议|大会)</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>会议</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::EDUCATION::HACKATHON</key>
	<dict>
		<key>ALLDAY_ALLOWED</key>
		<string>YES</string>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<string>300</string>
		<key>KEYWORDS</key>
		<array>
			<string>黑客松</string>
			<string>黑客马拉松</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>黑客马拉松</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::EDUCATION::KEYNOTE</key>
	<dict>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<string>120</string>
		<key>KEYWORDS</key>
		<array>
			<string>发布会</string>
			<string>(听)?演讲</string>
			<string>\bkeynote\b</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>发布会</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::EDUCATION::MEETUP</key>
	<dict>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<integer>120</integer>
		<key>HIGH_PRIORITY</key>
		<true/>
		<key>KEYWORDS</key>
		<array>
			<string>(安排|去|出席|参加|参与).{0,25}(会面|见面会)</string>
			<string>(参加|一起去)(歌友会|歌迷会)</string>
			<string>包含.{0,25}讲座</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>见面会</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::EDUCATION::SEMINAR</key>
	<dict>
		<key>ALLDAY_ALLOWED</key>
		<true/>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<string>300</string>
		<key>KEYWORDS</key>
		<array>
			<string>(研讨班|讲习会|研讨小组|研讨会)</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>研讨会</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::EDUCATION::TALK</key>
	<dict>
		<key>ALLDAY_ALLOWED</key>
		<true/>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<string>120</string>
		<key>KEYWORDS</key>
		<array>
			<string>(演讲|讲座|演说|授课|技术盛宴|技术大会)</string>
			<string>lecture</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>讲座</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::EDUCATION::TRAINING</key>
	<dict>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<string>120</string>
		<key>KEYWORDS</key>
		<array>
			<string>(训练|培训)</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>培训</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::EDUCATION::WORKSHOP</key>
	<dict>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<string>120</string>
		<key>KEYWORDS</key>
		<array>
			<string>(车间|专题讨论会|研究会|创作室|实习班|实验班|研习班)</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>研讨会</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::GENERICMEETING</key>
	<dict>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<integer>60</integer>
		<key>KEYWORDS</key>
		<array>
			<string>会议</string>
			<string>会面</string>
			<string>见面会</string>
			<string>面谈会</string>
			<string>参观</string>
			<string>会议室</string>
			<string>家长会</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>SUBJECT_KEYWORDS</key>
		<string>会议</string>
		<key>TITLE</key>
		<string></string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::GENERICMEETING::BUSINESSMEETING</key>
	<dict>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<integer>60</integer>
		<key>KEYWORDS</key>
		<array>
			<string>(商业|工作)(会议|会面)</string>
			<string>(讨论|谈论)工作</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>SUBJECT_KEYWORDS</key>
		<string>会议</string>
		<key>TITLE</key>
		<string></string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::GENERICMEETING::COMMUNICATIONMEETING</key>
	<dict>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<integer>60</integer>
		<key>KEYWORDS</key>
		<array>
			<string>沟通会议</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>沟通会</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::GENERICMEETING::ONE_ON_ONE</key>
	<dict>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<integer>60</integer>
		<key>KEYWORDS</key>
		<array>
			<string>(单独|一对一|单对单|私密)(会议|会面|会谈)</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>一对一</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::HAIRDRESSER</key>
	<dict>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<integer>60</integer>
		<key>KEYWORDS</key>
		<array>
			<string>剪头发</string>
			<string>(发型|理发)(师|屋|店)</string>
			<string>(发型|理发).{0,25}(预约|预订)</string>
			<string>(预约|预订).{0,25}(发型|理发)</string>
			<string>头发护理</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>理发</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::WELLNESS</key>
	<dict>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<integer>60</integer>
		<key>KEYWORDS</key>
		<array>
			<string>(健康|身心健康|保健).{0,25}(预约|见面)</string>
			<string>(预约|预订).{0,25}(健康|身心健康|保健)</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>健康预约</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::WELLNESS::ACUPUNCTURE</key>
	<dict>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<integer>60</integer>
		<key>KEYWORDS</key>
		<array>
			<string>(针刺|针灸)(疗法|治疗)?</string>
			<string>中医</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>针灸</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::WELLNESS::HEALTH</key>
	<dict>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<integer>60</integer>
		<key>KEYWORDS</key>
		<array>
			<string>(看|睇)医生</string>
			<string>医生预约</string>
			<string>医疗预约</string>
			<string>身体检查</string>
			<string>做手术</string>
			<string>看(的)?医生</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>看医生</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::WELLNESS::HEALTH::CHIROPRACTIC</key>
	<dict>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<integer>60</integer>
		<key>KEYWORDS</key>
		<array>
			<string>(脊⻣指压|脊椎指压治疗|脊⻣医师|脊椎|⻣医)</string>
			<string>(睇跌打|睇铁打)</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>脊⻣指压</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::WELLNESS::HEALTH::DENTIST</key>
	<dict>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<integer>60</integer>
		<key>KEYWORDS</key>
		<array>
			<string>(牙科医生|牙医)</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>牙医</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::WELLNESS::HEALTH::DERMATOLOGIST</key>
	<dict>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<integer>60</integer>
		<key>KEYWORDS</key>
		<array>
			<string>(皮肤病学家|皮肤科医生|皮肤医生)</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>皮肤科医生</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::WELLNESS::HEALTH::OPTOMETRY</key>
	<dict>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<integer>60</integer>
		<key>KEYWORDS</key>
		<array>
			<string>(验光|视力测定|测定视力)</string>
			<string>(眼镜公司|验眼|配镜师|配眼镜)</string>
			<string>眼科医生</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>眼科医生</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::WELLNESS::MASSAGE</key>
	<dict>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<integer>60</integer>
		<key>KEYWORDS</key>
		<array>
			<string>(按摩|推拿|灵气|塑身|纤体)(疗法|治疗)?</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>按摩</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::WELLNESS::NUTRITIONIST</key>
	<dict>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<integer>60</integer>
		<key>KEYWORDS</key>
		<array>
			<string>(营养学家|饮食学家|营养师)</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>营养师</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::WELLNESS::REFLEXOLOGY</key>
	<dict>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<integer>60</integer>
		<key>KEYWORDS</key>
		<array>
			<string>反射治疗</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>反射治疗</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::WELLNESS::SPA</key>
	<dict>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<integer>60</integer>
		<key>KEYWORDS</key>
		<array>
			<string>(温泉|矿泉)疗养(院|中心|地)?</string>
			<string>spa</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>温泉疗养</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
</dict>
</plist>
