<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APPOINTMENT</key>
	<dict>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<integer>60</integer>
		<key>FAIRLY_GENERIC</key>
		<true/>
		<key>KEYWORDS</key>
		<array>
			<string>(?&lt;!ho( preso)? un) appuntamento</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>SUBJECT_KEYWORDS</key>
		<string>appuntamento</string>
		<key>TITLE</key>
		<string></string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::BEAUTY</key>
	<dict>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<integer>60</integer>
		<key>KEYWORDS</key>
		<array>
			<string>(salone|centro) di bellezza</string>
			<string>(salone|centro) di estetica</string>
			<string>dall['’]estetista</string>
			<string>centro estetico</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Centro estetico</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::BEAUTY::MANICURE</key>
	<dict>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<integer>60</integer>
		<key>KEYWORDS</key>
		<array>
			<string>(manicura|manicura e pedicura)</string>
			<string>fa(re|rmi|rsi|ccio)( fare|curare)? le unghia (?&lt;!dei piedi)</string>
			<string>manicure</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Manicure</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::BEAUTY::PEDICURE</key>
	<dict>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<integer>60</integer>
		<key>KEYWORDS</key>
		<array>
			<string>pedicur(a|e)</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Pedicure</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::EDUCATION</key>
	<dict>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<string>120</string>
		<key>KEYWORDS</key>
		<array>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string></string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::EDUCATION::CONFERENCE</key>
	<dict>
		<key>ALLDAY_ALLOWED</key>
		<true/>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<string>120</string>
		<key>KEYWORDS</key>
		<array>
			<string>conferenza</string>
			<string>video( )?conferenza</string>
			<string>audio( )?conferenza</string>
			<string>convegno</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Conferenza</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::EDUCATION::CONGRESS</key>
	<dict>
		<key>ALLDAY_ALLOWED</key>
		<true/>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<string>300</string>
		<key>KEYWORDS</key>
		<array>
			<string>congresso</string>
			<string>convegno</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Congresso</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::EDUCATION::HACKATHON</key>
	<dict>
		<key>ALLDAY_ALLOWED</key>
		<true/>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<string>300</string>
		<key>KEYWORDS</key>
		<array>
			<string>hackathon</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Hackathon</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::EDUCATION::KEYNOTE</key>
	<dict>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<string>120</string>
		<key>KEYWORDS</key>
		<array>
			<string>(guardare|vedere|assistere a|partecipare a) una presentazione</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Presentazione</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::EDUCATION::SEMINAR</key>
	<dict>
		<key>ALLDAY_ALLOWED</key>
		<true/>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<string>300</string>
		<key>KEYWORDS</key>
		<array>
			<string>seminario</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Seminario</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::EDUCATION::TALK</key>
	<dict>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<integer>120</integer>
		<key>HIGH_PRIORITY</key>
		<true/>
		<key>KEYWORDS</key>
		<array>
			<string>(sent(o|ire|iamo)|ascolt(o|are|iamo)|c['’][eèé]) ((un|il) discorso|(una|la) presentazione|(una|la)lezione|(un|il) saggio|(una|la)conversazione)</string>
			<string>(ho|abbiamo|(devo|dobbiamo) (fare|tenere)|faccio|tengo|facciamo|teniamo) ((un|il) discorso|(una|la) presentazione|(una|la)lezione|(un|il) saggio|(una|la)conversazione)</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>SUBJECT_KEYWORDS</key>
		<string>(discorso|presentazione|lezione|saggio|conversazione)</string>
		<key>TITLE</key>
		<string>Presentazione</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::EDUCATION::TRAINING</key>
	<dict>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<string>120</string>
		<key>KEYWORDS</key>
		<array>
			<string>formazione (sicurezza|rischi sul lavoro|incendio|(sul|sui|per i(l)?) terremot(o|i))</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Training</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::EDUCATION::WORKSHOP</key>
	<dict>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<string>120</string>
		<key>KEYWORDS</key>
		<array>
			<string>workshop</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Workshop</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::GENERICMEETING</key>
	<dict>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<integer>60</integer>
		<key>KEYWORDS</key>
		<array>
			<string>riunione</string>
			<string>meeting</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>SUBJECT_KEYWORDS</key>
		<string>(riunione|meeting)</string>
		<key>TITLE</key>
		<string></string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::GENERICMEETING::BOOKCLUB</key>
	<dict>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<integer>120</integer>
		<key>KEYWORDS</key>
		<array>
			<string>club letterario</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Club letterario</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::GENERICMEETING::BUSINESSMEETING</key>
	<dict>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<integer>60</integer>
		<key>KEYWORDS</key>
		<array>
			<string>(riunione|meeting) (d['’]affari| di lavoro)</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>SUBJECT_KEYWORDS</key>
		<string>(riunione|meeting)</string>
		<key>TITLE</key>
		<string></string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::GENERICMEETING::COMMUNICATIONMEETING</key>
	<dict>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<integer>60</integer>
		<key>KEYWORDS</key>
		<array>
			<string>meeting informativo</string>
			<string>riunione informativa</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Riunione informativa</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::GENERICMEETING::ONE_ON_ONE</key>
	<dict>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<integer>60</integer>
		<key>KEYWORDS</key>
		<array>
			<string>meeting privato</string>
			<string>riunione privata</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Riunione privata</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::HAIRDRESSER</key>
	<dict>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<integer>60</integer>
		<key>KEYWORDS</key>
		<array>
			<string>parrucchiere</string>
			<string>parruccheria</string>
			<string>parrucchiera</string>
			<string>barbiere</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Parrucchiere</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::INTERVIEW</key>
	<dict>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<integer>60</integer>
		<key>KEYWORDS</key>
		<array>
			<string>colloqui(o)?</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Colloquio</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::WELLNESS</key>
	<dict>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<integer>60</integer>
		<key>KEYWORDS</key>
		<array>
			<string>appuntamento al centro benessere</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Appuntamento al centro benessere</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::WELLNESS::ACUPUNCTURE</key>
	<dict>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<integer>60</integer>
		<key>KEYWORDS</key>
		<array>
			<string>acupuntura</string>
			<string>agopuntura</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Agopuntura</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::WELLNESS::HEALTH</key>
	<dict>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<integer>60</integer>
		<key>KEYWORDS</key>
		<array>
			<string>appuntamento (dal|con il) (dott(.?|ore)|medico|ginecologo|pediatra|fisioterapista)</string>
			<string>appuntamento (dall['’]|con l['’])otorino</string>
			<string>(esame|visita) medica</string>
			<string>(esame|consulto) medico</string>
			<string>(checkup|controllo) di routine</string>
			<string>esplorazione medica</string>
			<string>appuntamento con la dott.sa?</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Visita medica</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::WELLNESS::HEALTH::CHIROPRACTIC</key>
	<dict>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<integer>60</integer>
		<key>KEYWORDS</key>
		<array>
			<string>chiropratico</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Chiropratico</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::WELLNESS::HEALTH::DENTIST</key>
	<dict>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<integer>60</integer>
		<key>KEYWORDS</key>
		<array>
			<string>dentista</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Dentista</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::WELLNESS::HEALTH::DERMATOLOGIST</key>
	<dict>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<integer>60</integer>
		<key>KEYWORDS</key>
		<array>
			<string>dermatolog(ico|ia|o|a)</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Dermatologo</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::WELLNESS::HEALTH::OPTOMETRY</key>
	<dict>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<integer>60</integer>
		<key>KEYWORDS</key>
		<array>
			<string>optometr(ico|ia|ista)</string>
			<string>esame (della vista|degli occhi)</string>
			<string>visita agli occhi</string>
			<string>oculista</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Oculista</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::WELLNESS::MASSAGE</key>
	<dict>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<integer>60</integer>
		<key>KEYWORDS</key>
		<array>
			<string>massaggio</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Massaggio</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::WELLNESS::NUTRITIONIST</key>
	<dict>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<integer>60</integer>
		<key>KEYWORDS</key>
		<array>
			<string>dietista</string>
			<string>nutrizionista</string>
			<string>dietologo</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Nutrizionista</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::WELLNESS::REFLEXOLOGY</key>
	<dict>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<integer>60</integer>
		<key>KEYWORDS</key>
		<array>
			<string>riflessologia</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Riflessologia</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::WELLNESS::SPA</key>
	<dict>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<integer>60</integer>
		<key>KEYWORDS</key>
		<array>
			<string>term(e|ale)</string>
			<string>appuntamento al centro benessere</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Centro benessere</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
</dict>
</plist>
