<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ARRANGEMENT</key>
	<dict>
		<key>DURATION</key>
		<integer>60</integer>
		<key>FAIRLY_GENERIC</key>
		<true/>
		<key>KEYWORDS</key>
		<array>
			<string>安排.{0,15}见面</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string></string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ARRANGEMENT::PICKUP</key>
	<dict>
		<key>DURATION</key>
		<integer>60</integer>
		<key>KEYWORDS</key>
		<array>
			<string>迎接</string>
			<string>接送</string>
			<string>(接|送)(你|我|他|她)</string>
		</array>
		<key>LOW_PRIORITY</key>
		<true/>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>接送</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ARRANGEMENT::PICKUP::AIRPORT</key>
	<dict>
		<key>DURATION</key>
		<integer>60</integer>
		<key>KEYWORDS</key>
		<array>
			<string>机场(.{0,25})接送</string>
			<string>接送(.{0,25})机场</string>
			<string>接机</string>
			<string>送机</string>
			<string>上机</string>
			<string>落机</string>
			<string>起飞</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>机场接送</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ARRANGEMENT::SHOPPING</key>
	<dict>
		<key>DURATION</key>
		<integer>120</integer>
		<key>KEYWORDS</key>
		<array>
			<string>购物</string>
			<string>去(商场|百货公司|超市|超级市场|超商)</string>
			<string>买(些)?(东西|材料)</string>
			<string>去(沃尔玛|好又多|家乐福|大润发|华联超市|联华超市|中百仓储|丹尼斯大卖场|北京华联|乐购|新玛特|易初莲花|卜蜂莲花|人人乐|丽日|华润万家|万佳|家世界|信和连锁|天虹商场|新大新|新一佳|米利海辰|吉麦隆|永辉超市)</string>
			<string>去(先施|永安百貨)</string>
			<string>逛街</string>
			<string>工展</string>
			<string>血拼</string>
			<string>想去?买</string>
			<string>一起逛</string>
			<string>买礼物</string>
			<string>陪我去买个</string>
			<string>在.{0,15}店买的</string>
			<string>买.{0,5}礼物</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>购物</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ARRANGEMENT::SHOPPING::SALES</key>
	<dict>
		<key>DURATION</key>
		<integer>120</integer>
		<key>KEYWORDS</key>
		<array>
			<string>(大)?减价</string>
			<string>劲减</string>
			<string>特价</string>
			<string>扫货</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>促销</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ARRANGEMENT::TRAVEL</key>
	<dict>
		<key>DURATION</key>
		<integer>60</integer>
		<key>KEYWORDS</key>
		<array>
			<string>(去|到)(.{0,25})(旅游|旅行)</string>
			<string>学校旅行</string>
			<string>公路旅行</string>
			<string>(公交|地铁|火车|车)站</string>
			<string>(搭|坐)(乘)?(.{0,25})(公交|地铁|火车)</string>
			<string>(预约|预订)(.{0,25})(酒店|饭店|宾馆|旅馆|大饭店)</string>
			<string>(和谐号|高铁)(站台|候车室|候车大厅)</string>
			<string>我的火车</string>
			<string>自由行</string>
			<string>出发</string>
			<string>航班</string>
			<string>班机</string>
			<string>落船</string>
			<string>买了.{0,15}机票</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string></string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ARRANGEMENT::TRAVEL::FIELDTRIP</key>
	<dict>
		<key>ALLDAY_ALLOWED</key>
		<true/>
		<key>DURATION</key>
		<integer>180</integer>
		<key>KEYWORDS</key>
		<array>
			<string>实地考察</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>实地考察</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
</dict>
</plist>
