<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>已經有節目</string>
	<string>約咗人</string>
	<string>(沒|冇|無)時間</string>
	<string>最後期限</string>
	<string>報名期限</string>
	<string>截止報名</string>
	<string>報名截止</string>
	<string>截止</string>
</array>
</plist>
