<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ARRANGEMENT</key>
	<dict>
		<key>DURATION</key>
		<integer>60</integer>
		<key>FAIRLY_GENERIC</key>
		<true/>
		<key>KEYWORDS</key>
		<array>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string></string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ARRANGEMENT::PICKUP</key>
	<dict>
		<key>DURATION</key>
		<integer>60</integer>
		<key>KEYWORDS</key>
		<array>
			<string>迎接</string>
			<string>接送</string>
			<string>(接|送|載)(你|我|他|她)</string>
		</array>
		<key>LOW_PRIORITY</key>
		<true/>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>接送</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ARRANGEMENT::PICKUP::AIRPORT</key>
	<dict>
		<key>DURATION</key>
		<integer>60</integer>
		<key>KEYWORDS</key>
		<array>
			<string>機場(.{0,20})接送</string>
			<string>接送(.{0,20})機場</string>
			<string>開車去機場</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>機場接送</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ARRANGEMENT::SHOPPING</key>
	<dict>
		<key>DURATION</key>
		<integer>120</integer>
		<key>KEYWORDS</key>
		<array>
			<string>購物</string>
			<string>去(商場|百貨公司|超市|超級市場|超商)</string>
			<string>(?&lt;!我去)買(些)?(東西|材料)</string>
			<string>去(台灣楓康|愛國|喜美|頂好|惠陽|松青|熊威|全聯福利中心|阿信屋|先施|city[ -]?super|market[ -]?place|惠康|百佳|華潤|佳寶|大昌|馬莎|吉之島|崇光|永旺|\baeon\b|一田|\buny\b)</string>
			<string>去(先施|永安百貨)</string>
			<string>逛街</string>
			<string>工展</string>
			<string>血拼</string>
			<string>购物</string>
			<string>我想買</string>
			<string>去.{0,10}地下街</string>
			<string>新光三越</string>
			<string>(想要?|要)去?買一些</string>
			<string>陪我去(挑|買)</string>
			<string>飾品店</string>
			<string>買禮物</string>
			<string>買衣服</string>
			<string>好市多</string>
			<string>年貨市場</string>
			<string>(ｓｏｇｏ|\bsogo\b)</string>
			<string>一起逛</string>
			<string>逛.{0,4}花市</string>
			<string>跳蚤市場</string>
			<string>也想買</string>
			<string>百貨(公司)?</string>
			<string>去逛逛</string>
			<string>逛.{1,4}店</string>
			<string>\boutlet\b</string>
			<string>去.{1,4}店看看</string>
			<string>買.{0,4}禮物</string>
			<string>買食材</string>
			<string>拍賣</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>購物</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ARRANGEMENT::SHOPPING::SALES</key>
	<dict>
		<key>DURATION</key>
		<integer>120</integer>
		<key>KEYWORDS</key>
		<array>
			<string>(大)?減價</string>
			<string>勁減</string>
			<string>特價</string>
			<string>掃貨</string>
			<string>出清</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>減價</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ARRANGEMENT::TRAVEL</key>
	<dict>
		<key>DURATION</key>
		<integer>60</integer>
		<key>KEYWORDS</key>
		<array>
			<string>(去|到)(.{0,10})(旅遊|旅行)</string>
			<string>公路旅行</string>
			<string>(公交|地鐵|火車|車)站</string>
			<string>(坐|搭|搭乘|乘搭)(.{0,10})(火車|飛機|捷運|機鐵|機場快綫|山頂纜車|纜車|飛翔船|飛航船|水翼船|噴射船|噴射飛航|金光飛航|遊輪|遊艇)</string>
			<string>(預約|預訂)(.{0,10})(酒店|飯店|賓館|旅館|大飯店)</string>
			<string>(和諧號|高鐵)(站台|候車室|候車大廳)</string>
			<string>我的火車</string>
			<string>自由行</string>
			<string>出發</string>
			<string>航班</string>
			<string>班機</string>
			<string>落船</string>
			<string>上船</string>
			<string>(落船|下船)</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string></string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ARRANGEMENT::TRAVEL::FIELDTRIP</key>
	<dict>
		<key>ALLDAY_ALLOWED</key>
		<true/>
		<key>DURATION</key>
		<integer>180</integer>
		<key>KEYWORDS</key>
		<array>
			<string>遠足</string>
			<string>學校(大)?旅行</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>遠足</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
</dict>
</plist>
