<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>fahrenheit 9/11</string>
	<string>deadline</string>
	<string>newsletter</string>
	<string>best before</string>
	<string>\d\d:\d\d:\d\d</string>
	<string>2\d\d\d-\d\d-\d\dt\d\d:\d\d:\d\d(-\d\d:\d\d)?</string>
</array>
</plist>
