<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>很遺憾</string>
	<string>已經(.{0,50})約(.{0,50})了</string>
	<string>約了(其他|別人|人)</string>
	<string>不(克|可)前往</string>
	<string>改期</string>
	<string>有(點)?(別|另外|其他)(的)?事(情)?</string>
	<string>有事</string>
	<string>你們(去吧|玩(的|得)?開心)</string>
	<string>(已|已經)?取消</string>
	<string>(去|來)不了</string>
	<string>可惜</string>
	<string>有約(要(.{0,50}))?了</string>
	<string>但(.{0,50})要(去|到)(.{0,50})</string>
	<string>下次吧</string>
	<string>無法參加</string>
	<string>不(能)?(回家)?參加</string>
	<string>下次(.{0,50})再</string>
	<string>不(能)?去</string>
	<string>恐怕不(行|能)</string>
	<string>不好意思</string>
	<string>延期</string>
	<string>不巧</string>
	<string>沒(有)?空</string>
	<string>抱歉</string>
	<string>改天</string>
	<string>撞期</string>
	<string>(多|謝)謝(邀請|邀約)(,｜，|\.|。|!|！)?(不過|但)</string>
	<string>(要|去|要去|預約了)((看)?醫生|(看)?牙醫|覆診|(做)?身體檢查)</string>
	<string>當值</string>
	<string>(要|要去)(上班|上學)</string>
	<string>請忽略</string>
	<string>邀請.{0,10}(修改|編輯|更改)</string>
	<string>我會遲(點|一點)?到</string>
	<string>去了(旅行|外地|外國|出國)</string>
	<string>在家工作</string>
	<string>我不會(去|參加)</string>
	<string>我(會|要)缺席</string>
	<string>(想|要|想要)請假</string>
	<string>生病了</string>
	<string>請病假</string>
	<string>(現在|立即|請即)(購買|訂購|訂閱|就買)</string>
	<string>訂單(號碼|編號|確認)</string>
</array>
</plist>
