<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ENTERTAINMENT</key>
	<dict>
		<key>DURATION</key>
		<integer>60</integer>
		<key>FAIRLY_GENERIC</key>
		<true/>
		<key>KEYWORDS</key>
		<array>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string></string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ENTERTAINMENT::CULTURE</key>
	<dict>
		<key>CULTURE_RELATED</key>
		<true/>
		<key>DURATION</key>
		<integer>120</integer>
		<key>FAIRLY_GENERIC</key>
		<true/>
		<key>KEYWORDS</key>
		<array>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string></string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ENTERTAINMENT::CULTURE::BALLET</key>
	<dict>
		<key>CULTURE_RELATED</key>
		<true/>
		<key>DURATION</key>
		<integer>120</integer>
		<key>KEYWORDS</key>
		<array>
			<string>ballet</string>
			<string>balletto</string>
			<string>danza classica</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Balletto</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ENTERTAINMENT::CULTURE::CIRCUS</key>
	<dict>
		<key>CULTURE_RELATED</key>
		<true/>
		<key>DURATION</key>
		<integer>120</integer>
		<key>KEYWORDS</key>
		<array>
			<string>circo</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Circo</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ENTERTAINMENT::CULTURE::CONCERT</key>
	<dict>
		<key>CULTURE_RELATED</key>
		<true/>
		<key>DURATION</key>
		<integer>120</integer>
		<key>KEYWORDS</key>
		<array>
			<string>concert(o|i)</string>
			<string>festival (della musica|musicale)</string>
			<string>musical</string>
			<string>recital</string>
			<string>esibizione solistica</string>
		</array>
		<key>START_TIME</key>
		<string>09:00 PM</string>
		<key>TITLE</key>
		<string>Concerto</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ENTERTAINMENT::CULTURE::CONCERT::DJSET</key>
	<dict>
		<key>CULTURE_RELATED</key>
		<true/>
		<key>DURATION</key>
		<integer>120</integer>
		<key>KEYWORDS</key>
		<array>
			<string>dj (sets?|mix)</string>
		</array>
		<key>START_TIME</key>
		<string>10:00 PM</string>
		<key>TITLE</key>
		<string>DJ Set</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ENTERTAINMENT::CULTURE::EXHIBITION</key>
	<dict>
		<key>CULTURE_RELATED</key>
		<true/>
		<key>DURATION</key>
		<integer>120</integer>
		<key>KEYWORDS</key>
		<array>
			<string>mostra</string>
			<string>esposizione</string>
			<string>galleria d['’]arte</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>SUBJECT_KEYWORDS</key>
		<string>(mostra|esposizione)</string>
		<key>TITLE</key>
		<string>Mostra</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ENTERTAINMENT::CULTURE::FESTIVAL</key>
	<dict>
		<key>ALLDAY_ALLOWED</key>
		<string>YES</string>
		<key>CULTURE_RELATED</key>
		<true/>
		<key>DURATION</key>
		<integer>180</integer>
		<key>KEYWORDS</key>
		<array>
			<string>festival</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Festival</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ENTERTAINMENT::CULTURE::MUSEUM</key>
	<dict>
		<key>CULTURE_RELATED</key>
		<true/>
		<key>DURATION</key>
		<integer>120</integer>
		<key>KEYWORDS</key>
		<array>
			<string>muse(o|i)</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Museo</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ENTERTAINMENT::CULTURE::OPERA</key>
	<dict>
		<key>CULTURE_RELATED</key>
		<true/>
		<key>DURATION</key>
		<integer>120</integer>
		<key>KEYWORDS</key>
		<array>
			<string>opera</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Opera</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ENTERTAINMENT::CULTURE::SHOW</key>
	<dict>
		<key>CULTURE_RELATED</key>
		<true/>
		<key>DURATION</key>
		<integer>120</integer>
		<key>FAIRLY_GENERIC</key>
		<true/>
		<key>KEYWORDS</key>
		<array>
			<string>spettacol(o|i)</string>
			<string>show</string>
		</array>
		<key>MOVIE_RELATED</key>
		<true/>
		<key>START_TIME</key>
		<string></string>
		<key>SUBJECT_KEYWORDS</key>
		<string>(spettacolo|show)</string>
		<key>TITLE</key>
		<string>Spettacolo</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ENTERTAINMENT::CULTURE::THEATER</key>
	<dict>
		<key>CULTURE_RELATED</key>
		<true/>
		<key>DURATION</key>
		<integer>120</integer>
		<key>KEYWORDS</key>
		<array>
			<string>teatro</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Teatro</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ENTERTAINMENT::FAIR</key>
	<dict>
		<key>ALLDAY_ALLOWED</key>
		<true/>
		<key>DURATION</key>
		<integer>120</integer>
		<key>KEYWORDS</key>
		<array>
			<string>fiera</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>SUBJECT_KEYWORDS</key>
		<string>fiera (dell(a|o|e)|degli|dei)</string>
		<key>TITLE</key>
		<string>Fiera</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ENTERTAINMENT::FAIR::OPENHOUSE</key>
	<dict>
		<key>ALLDAY_ALLOWED</key>
		<true/>
		<key>DURATION</key>
		<integer>120</integer>
		<key>KEYWORDS</key>
		<array>
			<string>giornata orientamento</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Giornata di orientamento</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ENTERTAINMENT::GAME</key>
	<dict>
		<key>DURATION</key>
		<integer>120</integer>
		<key>KEYWORDS</key>
		<array>
			<string>giocare a (carte|poker|scopa|briscola|ramino|tressette|bridge|canasta)</string>
			<string>fare un gioco</string>
			<string>giocare</string>
			<string>partita</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Partita</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ENTERTAINMENT::GAME::BOARDGAME</key>
	<dict>
		<key>DURATION</key>
		<integer>120</integer>
		<key>KEYWORDS</key>
		<array>
			<string>gioc(hi|o) di societ[aàá]</string>
			<string>giocare a (scacchi|dama|trivia|trivial pursuit|clue|monopoli|scrabble|battaglia navale|domino|pictionary|scarabeo|risiko|taboo)</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Gioco di società</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ENTERTAINMENT::GAME::BOWLING</key>
	<dict>
		<key>DURATION</key>
		<integer>120</integer>
		<key>KEYWORDS</key>
		<array>
			<string>bowling</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Bowling</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ENTERTAINMENT::GAME::GAMENIGHT</key>
	<dict>
		<key>DURATION</key>
		<integer>180</integer>
		<key>KEYWORDS</key>
		<array>
			<string>serata( (da|di))? gioc(o|hi)</string>
		</array>
		<key>START_TIME</key>
		<string>9:30 PM</string>
		<key>TITLE</key>
		<string>Serata giochi</string>
		<key>USE_DEFAULT_TIME</key>
		<true/>
	</dict>
	<key>ENTERTAINMENT::GAME::GAMENIGHT::CASINO</key>
	<dict>
		<key>DURATION</key>
		<integer>180</integer>
		<key>KEYWORDS</key>
		<array>
			<string>serata al casin[oòó]</string>
		</array>
		<key>START_TIME</key>
		<string>9:30 PM</string>
		<key>TITLE</key>
		<string>Serata al casinò</string>
		<key>USE_DEFAULT_TIME</key>
		<true/>
	</dict>
	<key>ENTERTAINMENT::GAME::GAMENIGHT::POKER</key>
	<dict>
		<key>DURATION</key>
		<integer>180</integer>
		<key>KEYWORDS</key>
		<array>
			<string>serata( da| di)? poker</string>
		</array>
		<key>START_TIME</key>
		<string>9:30 PM</string>
		<key>TITLE</key>
		<string>Serata poker</string>
		<key>USE_DEFAULT_TIME</key>
		<true/>
	</dict>
	<key>ENTERTAINMENT::GAME::GAMENIGHT::ROLEPLAYING</key>
	<dict>
		<key>DURATION</key>
		<integer>180</integer>
		<key>KEYWORDS</key>
		<array>
			<string>gioc(o|hi) di ruolo</string>
		</array>
		<key>START_TIME</key>
		<string>09:00 PM</string>
		<key>TITLE</key>
		<string>Gioco di ruolo</string>
		<key>USE_DEFAULT_TIME</key>
		<true/>
	</dict>
	<key>ENTERTAINMENT::GAME::GAMENIGHT::TRIVIA</key>
	<dict>
		<key>DURATION</key>
		<integer>180</integer>
		<key>KEYWORDS</key>
		<array>
			<string>serata (trivial( pursuit)?|quiz)</string>
		</array>
		<key>START_TIME</key>
		<string>9:30 PM</string>
		<key>TITLE</key>
		<string>Serata quiz</string>
		<key>USE_DEFAULT_TIME</key>
		<true/>
	</dict>
	<key>ENTERTAINMENT::GAME::POKER</key>
	<dict>
		<key>DURATION</key>
		<integer>120</integer>
		<key>KEYWORDS</key>
		<array>
			<string>poker</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Poker</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ENTERTAINMENT::GAME::VIDEOGAMES</key>
	<dict>
		<key>DURATION</key>
		<integer>120</integer>
		<key>KEYWORDS</key>
		<array>
			<string>videogioc(o|hi)</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Videogiochi</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ENTERTAINMENT::HIKE</key>
	<dict>
		<key>DURATION</key>
		<integer>180</integer>
		<key>KEYWORDS</key>
		<array>
			<string>escursione</string>
			<string>trekking</string>
			<string>escursionismo</string>
			<string>passeggiata</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Trekking</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ENTERTAINMENT::KARAOKE</key>
	<dict>
		<key>DURATION</key>
		<integer>120</integer>
		<key>KEYWORDS</key>
		<array>
			<string>karaoke</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Karaoke</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ENTERTAINMENT::KARAOKE::KARAOKENIGHT</key>
	<dict>
		<key>DURATION</key>
		<integer>120</integer>
		<key>KEYWORDS</key>
		<array>
			<string>serata (d[ai] )?karaoke</string>
		</array>
		<key>START_TIME</key>
		<string>9:30 PM</string>
		<key>TITLE</key>
		<string>Serata karaoke</string>
		<key>USE_DEFAULT_TIME</key>
		<true/>
	</dict>
	<key>ENTERTAINMENT::MOVIES</key>
	<dict>
		<key>DURATION</key>
		<integer>120</integer>
		<key>KEYWORDS</key>
		<array>
			<string>(guard(are|iamo)|ved(ere|iamo)) ((un )?(film|dvd|sceneggiato)|(una )?serie)</string>
			<string>film</string>
		</array>
		<key>MOVIE_RELATED</key>
		<true/>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Film</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ENTERTAINMENT::MOVIES::CINEMA</key>
	<dict>
		<key>DURATION</key>
		<integer>120</integer>
		<key>KEYWORDS</key>
		<array>
			<string>cinema</string>
			<string>imax</string>
			<string>amc</string>
		</array>
		<key>MOVIE_RELATED</key>
		<true/>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Cinema</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ENTERTAINMENT::PARK</key>
	<dict>
		<key>DURATION</key>
		<integer>180</integer>
		<key>KEYWORDS</key>
		<array>
			<string>((passare il|passiamo il|passiamo un (po['’]|p[oòó]|po) di) tempo al|(andare|andiamo|vado) al|(fare|facciamo) un giro al).{0,25} parco</string>
		</array>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ENTERTAINMENT::PARK::AMUSEMENT</key>
	<dict>
		<key>ALLDAY_ALLOWED</key>
		<true/>
		<key>DURATION</key>
		<integer>180</integer>
		<key>KEYWORDS</key>
		<array>
			<string>(parco di divertimento|parco tematico|montagne russe)</string>
		</array>
		<key>TITLE</key>
		<string>Parco di divertimento</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ENTERTAINMENT::PARK::WATERPARK</key>
	<dict>
		<key>DURATION</key>
		<integer>180</integer>
		<key>KEYWORDS</key>
		<array>
			<string>parco acquatico</string>
			<string>acquapark</string>
		</array>
		<key>TITLE</key>
		<string>Parco acquatico</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ENTERTAINMENT::SPORT</key>
	<dict>
		<key>DURATION</key>
		<integer>120</integer>
		<key>KEYWORDS</key>
		<array>
			<string>sport</string>
			<string>(guardare|vedere) (una|la) partita</string>
			<string>fitness</string>
			<string>palestra</string>
			<string>pallamano</string>
			<string>pattinaggio su ghiaccio</string>
			<string>atletica</string>
			<string>nuoto</string>
			<string>(corse di cavalli)</string>
			<string>scherma</string>
			<string>canottaggio</string>
			<string>tiro a segno</string>
			<string>(canoa|kayak)</string>
			<string>piscina</string>
			<string>pallacanestro</string>
			<string>pallavolo</string>
		</array>
		<key>SPORT_RELATED</key>
		<true/>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string></string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ENTERTAINMENT::SPORT::AMERICAN_FOOTBALL</key>
	<dict>
		<key>DURATION</key>
		<integer>210</integer>
		<key>KEYWORDS</key>
		<array>
			<string>((partita|finale) (di|del)|incontro di|campionato di|giocare a|giochiamo|guardiamo (il)?|guardare (il)?|vedere (il)?|vediamo (il)?) (football( americano)?|super ?bowl)</string>
			<string>super bowl</string>
		</array>
		<key>SPORT_RELATED</key>
		<true/>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Football americano</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ENTERTAINMENT::SPORT::BASEBALL</key>
	<dict>
		<key>DURATION</key>
		<integer>210</integer>
		<key>KEYWORDS</key>
		<array>
			<string>(partita di|incontro di|campionato di|giocare a|giochiamo|guardiamo (il)?|guardare (il)?|vedere (il)?|vediamo (il)?) baseball</string>
		</array>
		<key>SPORT_RELATED</key>
		<true/>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Baseball</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ENTERTAINMENT::SPORT::BASKETBALL</key>
	<dict>
		<key>DURATION</key>
		<integer>180</integer>
		<key>KEYWORDS</key>
		<array>
			<string>(partita di|incontro di|campionato di|giocare a|giochiamo|guardiamo (il)?|guardare (il)?|vedere (il)?|vediamo (il)?) (basket(ball)?|nba)</string>
			<string>(partita di|incontro di|campionato di|giocare a|giochiamo|guardiamo (il)?|guardare (il)?|vedere (il)?|vediamo (il)?) pallacanestro</string>
		</array>
		<key>SPORT_RELATED</key>
		<true/>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Pallacanestro</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ENTERTAINMENT::SPORT::BIKE</key>
	<dict>
		<key>DURATION</key>
		<integer>180</integer>
		<key>KEYWORDS</key>
		<array>
			<string>ciclismo</string>
			<string>(un giro|uscita|usciamo) in (bicicletta|bici)</string>
		</array>
		<key>SPORT_RELATED</key>
		<true/>
		<key>START_TIME</key>
		<string></string>
		<key>SUBJECT_KEYWORDS</key>
		<string>bicicletta</string>
		<key>TITLE</key>
		<string>Ciclismo</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ENTERTAINMENT::SPORT::CRICKET</key>
	<dict>
		<key>DURATION</key>
		<integer>360</integer>
		<key>KEYWORDS</key>
		<array>
			<string>(partita di|incontro di|campionato di|giocare a|giochiamo|guardiamo (il)?|guardare (il)?|vedere (il)?|vediamo (il)?) cricket</string>
		</array>
		<key>SPORT_RELATED</key>
		<true/>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Cricket</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ENTERTAINMENT::SPORT::GOLF</key>
	<dict>
		<key>DURATION</key>
		<integer>180</integer>
		<key>KEYWORDS</key>
		<array>
			<string>(partita di|incontro di|campionato di|giocare a|giochiamo|guardiamo (il)?|guardare (il)?|vedere (il)?|vediamo (il)?) golf</string>
		</array>
		<key>SPORT_RELATED</key>
		<true/>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Golf</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ENTERTAINMENT::SPORT::GYMWORKOUT</key>
	<dict>
		<key>DURATION</key>
		<integer>90</integer>
		<key>KEYWORDS</key>
		<array>
			<string>(allenament(o|i)|allenar(mi|ci|e))</string>
			<string>(palestra|pilates|step|zumba|kickboxing|judo|karate|taekwondo|box|pugilato|fitness|cardio|cyclette)</string>
			<string>(mettere massa|scolpire( i)? muscoli)</string>
		</array>
		<key>SPORT_RELATED</key>
		<true/>
		<key>START_TIME</key>
		<string></string>
		<key>SUBJECT_KEYWORDS</key>
		<string>(palestra|pilates|step|zumba|kickboxing|judo|karate|taekwondo|box|pugilato|fitness|cardio|cyclette)</string>
		<key>TITLE</key>
		<string>Palestra</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ENTERTAINMENT::SPORT::HOCKEY</key>
	<dict>
		<key>DURATION</key>
		<integer>150</integer>
		<key>KEYWORDS</key>
		<array>
			<string>(partita di|incontro di|campionato di|giocare a|giochiamo|guardiamo (il)?|guardare (il)?|vedere (il)?|vediamo (il)?) hockey</string>
		</array>
		<key>SPORT_RELATED</key>
		<true/>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Hockey</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ENTERTAINMENT::SPORT::MATCH</key>
	<dict>
		<key>DURATION</key>
		<integer>120</integer>
		<key>KEYWORDS</key>
		<array>
			<string>(guard(o|are|iamo)|ved(o|ere|iamo)) (la partita|il derby|la finale (di champions|dei mondiali|degli europei))</string>
		</array>
		<key>SPORT_RELATED</key>
		<true/>
		<key>START_TIME</key>
		<string></string>
		<key>SUBJECT_KEYWORDS</key>
		<string>(partita|derby|finale (di champions|dei mondiali|degli europei))</string>
		<key>TITLE</key>
		<string>Partita</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ENTERTAINMENT::SPORT::MEDITATION</key>
	<dict>
		<key>DURATION</key>
		<integer>120</integer>
		<key>KEYWORDS</key>
		<array>
			<string>fare( un po( di)?)? meditazione</string>
			<string>meditare</string>
		</array>
		<key>SPORT_RELATED</key>
		<true/>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Meditazione</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ENTERTAINMENT::SPORT::PILATES</key>
	<dict>
		<key>DURATION</key>
		<integer>60</integer>
		<key>KEYWORDS</key>
		<array>
			<string>(fare|andare a|ho( lezione di)?|di) pilates</string>
		</array>
		<key>SPORT_RELATED</key>
		<true/>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Pilates</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ENTERTAINMENT::SPORT::RUGBY</key>
	<dict>
		<key>DURATION</key>
		<integer>120</integer>
		<key>KEYWORDS</key>
		<array>
			<string>(partita di|incontro di|campionato di|giocare a|giochiamo|guardiamo (il)?|guardare (il)?|vedere (il)?|vediamo (il)?) rugby</string>
		</array>
		<key>SPORT_RELATED</key>
		<true/>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Rugby</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ENTERTAINMENT::SPORT::RUNNING</key>
	<dict>
		<key>DURATION</key>
		<integer>90</integer>
		<key>KEYWORDS</key>
		<array>
			<string>andare a correre</string>
			<string>una cors(a|etta)</string>
			<string>(partita di|incontro di|campionato di|giocare a|giochiamo|guardiamo (il)?|guardare (il)?|vedere (il)?|vediamo (il)?|fare|faccio|facciamo) jogging</string>
		</array>
		<key>SPORT_RELATED</key>
		<true/>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Corsa</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ENTERTAINMENT::SPORT::RUNNING::HALFMARATHON</key>
	<dict>
		<key>ALLDAY_ALLOWED</key>
		<true/>
		<key>DURATION</key>
		<integer>180</integer>
		<key>KEYWORDS</key>
		<array>
			<string>mezza maratona</string>
		</array>
		<key>SPORT_RELATED</key>
		<true/>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Mezza maratona</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ENTERTAINMENT::SPORT::RUNNING::MARATHON</key>
	<dict>
		<key>ALLDAY_ALLOWED</key>
		<true/>
		<key>DURATION</key>
		<integer>300</integer>
		<key>KEYWORDS</key>
		<array>
			<string>(?&lt;!mezza )maratona</string>
		</array>
		<key>SPORT_RELATED</key>
		<true/>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Maratona</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ENTERTAINMENT::SPORT::SKATEBOARDING</key>
	<dict>
		<key>DURATION</key>
		<integer>120</integer>
		<key>KEYWORDS</key>
		<array>
			<string>(partita di|incontro di|campionato di|giocare con (lo|gli)|giochiamo su(llo|gli)|guardiamo (lo|gli)?|guardare (lo|gli)?|vedere (lo|gli)?|vediamo (lo|gli)?) skate(board)?</string>
		</array>
		<key>SPORT_RELATED</key>
		<true/>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Skateboard</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ENTERTAINMENT::SPORT::SKIING</key>
	<dict>
		<key>ALLDAY_ALLOWED</key>
		<true/>
		<key>DURATION</key>
		<integer>180</integer>
		<key>KEYWORDS</key>
		<array>
			<string>(voglio|vogliamo|a|di) sciare</string>
			<string>sci(o|i|amo)</string>
		</array>
		<key>SPORT_RELATED</key>
		<true/>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Sci</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ENTERTAINMENT::SPORT::SNOWBOARDING</key>
	<dict>
		<key>ALLDAY_ALLOWED</key>
		<true/>
		<key>DURATION</key>
		<integer>180</integer>
		<key>KEYWORDS</key>
		<array>
			<string>snowboard</string>
		</array>
		<key>SPORT_RELATED</key>
		<true/>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Snowboard</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ENTERTAINMENT::SPORT::SOCCER</key>
	<dict>
		<key>DURATION</key>
		<integer>120</integer>
		<key>KEYWORDS</key>
		<array>
			<string>(partita di|incontro di|campionato di|giocare a|giochiamo|guardiamo (il)?|guardare (il)?|vedere (il)?|vediamo (il)?) calcio</string>
			<string>partita di pallone</string>
		</array>
		<key>SPORT_RELATED</key>
		<true/>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Calcio</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ENTERTAINMENT::SPORT::SOFTBALL</key>
	<dict>
		<key>DURATION</key>
		<integer>180</integer>
		<key>KEYWORDS</key>
		<array>
			<string>(partita di|incontro di|campionato di|giocare a|giochiamo|guardiamo (il)?|guardare (il)?|vedere (il)?|vediamo (il)?) softball</string>
		</array>
		<key>SPORT_RELATED</key>
		<true/>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Softball</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ENTERTAINMENT::SPORT::TABLE_TENNIS</key>
	<dict>
		<key>DURATION</key>
		<integer>60</integer>
		<key>KEYWORDS</key>
		<array>
			<string>tennistavolo</string>
			<string>tennis (da )?tavolo</string>
			<string>ping pong</string>
		</array>
		<key>SPORT_RELATED</key>
		<true/>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Tennistavolo</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ENTERTAINMENT::SPORT::TENNIS</key>
	<dict>
		<key>DURATION</key>
		<integer>120</integer>
		<key>KEYWORDS</key>
		<array>
			<string>tennis</string>
		</array>
		<key>SPORT_RELATED</key>
		<true/>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Tennis</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ENTERTAINMENT::SPORT::VOLLEYBALL</key>
	<dict>
		<key>DURATION</key>
		<integer>120</integer>
		<key>KEYWORDS</key>
		<array>
			<string>(partita di|incontro di|campionato di|giocare a|giochiamo|guardiamo (la)?|guardare (la)?|vedere (la)?|vediamo (la)?) pallavolo</string>
		</array>
		<key>SPORT_RELATED</key>
		<true/>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Pallavolo</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ENTERTAINMENT::SPORT::YOGA</key>
	<dict>
		<key>DURATION</key>
		<integer>60</integer>
		<key>KEYWORDS</key>
		<array>
			<string>(faccio|facciamo|fare|a|di) (yoga|ashtanga|hatha)</string>
		</array>
		<key>SPORT_RELATED</key>
		<true/>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Yoga</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
</dict>
</plist>
