<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EVENT</key>
	<dict>
		<key>DURATION</key>
		<integer>120</integer>
		<key>FAIRLY_GENERIC</key>
		<true/>
		<key>KEYWORDS</key>
		<array>
			<string>(du|sie) (hast|haben) (dich|sich) für (.{0,50}) (eingetragen|eingeschrieben|registriert|angemeldet)</string>
			<string>vorbei ?kommen</string>
			<string>(zu(m|r)?|bist) (.{0,50})ein(ge)?laden</string>
			<string>lass uns (treffen|etwas (zusammen )?(unternehmen|machen))</string>
			<string>zu(m|r)? (.{0,50})ein(ge)?laden</string>
			<string>lade(n)? (dich|euch|sie) (.{0,50})ein</string>
			<string>karten für</string>
			<string>treffen( wir) uns</string>
			<string>wenn (du|ihr) mitmachen würd(est|et)</string>
			<string>vor.{0,20}treffen</string>
			<string>mich einladen</string>
		</array>
		<key>LOW_PRIORITY</key>
		<string>YES</string>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string></string>
		<key>TITLE_SENDER_TEMPLATE</key>
		<string>%1$@ mit %2$@</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
</dict>
</plist>
