<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>不参加</string>
	<string>(い)?や(だ|です)</string>
	<string>(伺|うかが)うことが(でき|出来)(ない|ません)</string>
	<string>(イ)?ヤ(ダ|デス)</string>
	<string>後日(改|あらた)めて</string>
	<string>落選(です|でした|しました)</string>
	<string>遠慮(する|させて|します|して)</string>
	<string>外出中</string>
	<string>取消済み</string>
	<string>事情が(あって|ある|あり|入って)</string>
	<string>先約が(あって|ある|あり|入って)</string>
	<string>出席(しません|しない)</string>
	<string>調子が悪(い|くて)</string>
	<string>また(誘|さそ)って</string>
	<string>約束が(あって|ある|あり|入って)</string>
	<string>間に合(わない|いません)</string>
	<string>キャンセル済</string>
	<string>延期</string>
	<string>キャンセル済み</string>
	<string>ごめん(なさい|ね)?</string>
	<string>利用不可能</string>
	<string>次の機会に</string>
	<string>キャンセル</string>
	<string>休暇を(いただいて|とって)</string>
	<string>やめと(く|きます)</string>
	<string>(伺|うかが)え(ない|ません)</string>
	<string>また今度</string>
	<string>おりません</string>
	<string>用事が(あって|ある|あり|入って)</string>
	<string>取消済</string>
	<string>残念</string>
	<string>申し訳(ない|ありません)</string>
	<string>留守(です|にしています|にしてます|にします)?</string>
	<string>不可</string>
	<string>(行|い)け(ません|ない)</string>
	<string>ご注文内容</string>
	<string>休暇中</string>
	<string>無理</string>
	<string>具合が悪(い|くて)</string>
	<string>ご注文番号</string>
	<string>ドタキャン</string>
	<string>NG</string>
	<string>予定が(あって|ある|あり|入って)</string>
	<string>(出|で)(ら)?れ(ません|ない)</string>
	<string>中止</string>
	<string>いない(ため|予定|ので)?</string>
	<string>都合が(あって|悪い|つきません|つかない)</string>
	<string>いません</string>
	<string>ハズレ(です|でした|ました)</string>
	<string>参加(しません|しない)</string>
	<string>外れ(です|でした|ました)</string>
	<string>取り消し</string>
	<string>(出席|参加)?(でき|出来)(ない|ません)</string>
	<string>やめてお(く|きます)</string>
	<string>す(み|い)ません</string>
	<string>欠席</string>
	<string>悪いけど</string>
	<string>満席</string>
	<string>ＮＧ</string>
	<string>キャンセル</string>
	<string>(ご)?注文確認</string>
	<string>(有効|賞味|消費)期限が切れます</string>
	<string>が利用できません</string>
	<string>(家|自宅)(から|で)仕事</string>
	<string>当直</string>
	<string>(売り切れ|完売)</string>
	<string>(無視して|気にしないで)(くだ|下)さい</string>
	<string>在宅勤務</string>
	<string>残念ながら</string>
	<string>期限切れ</string>
	<string>(私は)?(遅れます|オフラインです)</string>
	<string>(休(暇|み)|(休|祝)日)で外出</string>
	<string>昼食のため外出</string>
	<string>(病欠|病気のため欠勤)</string>
	<string>立ち入り禁止</string>
	<string>オフライン</string>
	<string>後は(事務所|会社|オフィス)(にいます|です)</string>
	<string>報告する</string>
	<string>救(済|助)のため</string>
	<string>自動返信</string>
	<string>出荷</string>
	<string>発送</string>
	<string>独占販売</string>
	<string>((特別|スペシャル)オファー|特価)</string>
	<string>(買い物|ショッピング)中</string>
</array>
</plist>
