<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>唔得閒</string>
	<string>已取消</string>
	<string>延期</string>
	<string>病咗</string>
	<string>(泥|黎|嚟)唔到</string>
	<string>取消</string>
	<string>改期</string>
	<string>唔(好|洗)(搵|揾|預|煩)我</string>
</array>
</plist>
