<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APPOINTMENT</key>
	<dict>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<integer>60</integer>
		<key>FAIRLY_GENERIC</key>
		<true/>
		<key>KEYWORDS</key>
		<array>
			<string>(?&lt;!tengo( una)? )(?&lt;!han dado )(?&lt;!(€|euros?|$|d[oó]lar(es)?|pesos?)( la)? )(cita|hora)</string>
			<string>revisi[oó]n anual</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>SUBJECT_KEYWORDS</key>
		<string>cita</string>
		<key>TITLE</key>
		<string></string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::BEAUTY</key>
	<dict>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<integer>60</integer>
		<key>KEYWORDS</key>
		<array>
			<string>(sal[oó]n|instituto|centro) de belleza</string>
			<string>con la (esteticista|estetici[eé]n|esteticista)</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Salón de belleza</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::BEAUTY::MANICURE</key>
	<dict>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<integer>60</integer>
		<key>KEYWORDS</key>
		<array>
			<string>manicura</string>
			<string>hacer(te|se|me) las (uñas|manos)</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Manicura</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::BEAUTY::PEDICURE</key>
	<dict>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<integer>60</integer>
		<key>KEYWORDS</key>
		<array>
			<string>pedicura</string>
			<string>hacer(te|se|me)( las uñas de)? los pies</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Pedicura</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::EDUCATION</key>
	<dict>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<string>120</string>
		<key>KEYWORDS</key>
		<array>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string></string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::EDUCATION::CONFERENCE</key>
	<dict>
		<key>ALLDAY_ALLOWED</key>
		<true/>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<string>120</string>
		<key>KEYWORDS</key>
		<array>
			<string>conferencia</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Conferencia</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::EDUCATION::CONGRESS</key>
	<dict>
		<key>ALLDAY_ALLOWED</key>
		<true/>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<string>300</string>
		<key>KEYWORDS</key>
		<array>
			<string>congreso</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Congreso</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::EDUCATION::HACKATHON</key>
	<dict>
		<key>ALLDAY_ALLOWED</key>
		<true/>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<string>300</string>
		<key>KEYWORDS</key>
		<array>
			<string>hackat(hon|[oó]n)</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Hackathon</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::EDUCATION::KEYNOTE</key>
	<dict>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<string>120</string>
		<key>KEYWORDS</key>
		<array>
			<string>(ver|asistir a).{0,25} presentaci[oó]n</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Presentación</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::EDUCATION::MEETUP</key>
	<dict>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<integer>120</integer>
		<key>HIGH_PRIORITY</key>
		<true/>
		<key>KEYWORDS</key>
		<array>
			<string>meetup</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Meetup</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::EDUCATION::SEMINAR</key>
	<dict>
		<key>ALLDAY_ALLOWED</key>
		<true/>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<string>300</string>
		<key>KEYWORDS</key>
		<array>
			<string>seminario</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Seminario</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::EDUCATION::TALK</key>
	<dict>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<integer>120</integer>
		<key>HIGH_PRIORITY</key>
		<true/>
		<key>KEYWORDS</key>
		<array>
			<string>(presenta(r|ndo)?|participa(r|ndo)|asisti(r|endo)) .{0,10} (charla|lectura|coloquio|debate|simposio|discurso)s?</string>
			<string>(da(r|ndo)|celebra(r|ndo)) .{0,10} (charla|lectura|coloquio|debate|simposio|discurso)s? ((acerca )?de|sobre)</string>
			<string>(?&lt;!(hubo|hab[ií]a|tuve|(fui|asist[ií]) a)( una?)? )(charla|lectura|coloquio|debate|simposio|discurso)s?.{0,20} ((a cargo )?de|sobre)</string>
			<string>presenta.{0,10} investigaci[oó]n</string>
			<string>(contando con|con la participaci[oó]n)? .{0,20} (profesor|doctor) como ponente</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>SUBJECT_KEYWORDS</key>
		<string>(charla|lectura|coloquio|debate|simposio|discurso)</string>
		<key>TITLE</key>
		<string>Charla</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::EDUCATION::TRAINING</key>
	<dict>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<string>120</string>
		<key>KEYWORDS</key>
		<array>
			<string>curso de formaci[oó]n</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Formación</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::EDUCATION::WORKSHOP</key>
	<dict>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<string>120</string>
		<key>KEYWORDS</key>
		<array>
			<string>taller</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Taller</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::GENERICMEETING</key>
	<dict>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<integer>60</integer>
		<key>KEYWORDS</key>
		<array>
			<string>(?&lt;!(despu[eé]s|antes) de la )(?&lt;!qu[eé] tal la )(?&lt;!hay( (la|una))? )(?&lt;!(tengo|tienes?)( (la|una|ninguna))? )reuni[oó]n</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>SUBJECT_KEYWORDS</key>
		<string>reuni[oó]n</string>
		<key>TITLE</key>
		<string></string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::GENERICMEETING::BOOKCLUB</key>
	<dict>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<integer>120</integer>
		<key>KEYWORDS</key>
		<array>
			<string>club de lectura</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Club de lectura</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::GENERICMEETING::BUSINESSMEETING</key>
	<dict>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<integer>60</integer>
		<key>KEYWORDS</key>
		<array>
			<string>reuni[oó]n (de trabajo|laboral)</string>
			<string>reuni[oó]n de negocios</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>SUBJECT_KEYWORDS</key>
		<string>(meeting|reuni[oó]n)</string>
		<key>TITLE</key>
		<string></string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::HAIRDRESSER</key>
	<dict>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<integer>60</integer>
		<key>KEYWORDS</key>
		<array>
			<string>peluquer[ií]a</string>
			<string>peluquero</string>
			<string>barber(o|[ií]a)</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Peluquería</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::INTERVIEW</key>
	<dict>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<integer>60</integer>
		<key>KEYWORDS</key>
		<array>
			<string>entrevista(s)? (de trabajo|laboral)</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Entrevista</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::WELLNESS</key>
	<dict>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<integer>60</integer>
		<key>KEYWORDS</key>
		<array>
			<string>(cita|hora) en el centro de (salud y bienestar|salud|bienestar)</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Centro de salud</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::WELLNESS::ACUPUNCTURE</key>
	<dict>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<integer>60</integer>
		<key>KEYWORDS</key>
		<array>
			<string>acupuntura</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Acupuntura</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::WELLNESS::HEALTH</key>
	<dict>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<integer>60</integer>
		<key>KEYWORDS</key>
		<array>
			<string>(visita|cita) con (el|la) (doctor(a)?|m[eé]dic[oa])</string>
			<string>cita con (el dr\.|la dra\.)</string>
			<string>revisi[oó]n m[eé]dica rutinaria</string>
			<string>exploraci[oó]n f[ií]sica</string>
			<string>recordatorio de cita</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Médico</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::WELLNESS::HEALTH::CHIROPRACTIC</key>
	<dict>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<integer>60</integer>
		<key>KEYWORDS</key>
		<array>
			<string>quiropr[aá]ctico</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Quiropráctico</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::WELLNESS::HEALTH::DENTIST</key>
	<dict>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<integer>60</integer>
		<key>KEYWORDS</key>
		<array>
			<string>dentista</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Dentista</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::WELLNESS::HEALTH::DERMATOLOGIST</key>
	<dict>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<integer>60</integer>
		<key>KEYWORDS</key>
		<array>
			<string>dermat([oó]log[oa]|g[ií]a)</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Dermatólogo</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::WELLNESS::HEALTH::OPTOMETRY</key>
	<dict>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<integer>60</integer>
		<key>KEYWORDS</key>
		<array>
			<string>(optometr([ií]a|ista)|oculista)</string>
			<string>revisi[oó]n (oftalmol[oó]gica|de la vista|optom[eé]trica|con el oculista)</string>
			<string>oftalm([oó]log[oa]|olog[ií]a)</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Oftalmólogo</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::WELLNESS::MASSAGE</key>
	<dict>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<integer>60</integer>
		<key>KEYWORDS</key>
		<array>
			<string>masaje</string>
			<string>reiki</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Masaje</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::WELLNESS::NUTRITIONIST</key>
	<dict>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<integer>60</integer>
		<key>KEYWORDS</key>
		<array>
			<string>nutricionista</string>
			<string>dietista</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Nutricionista</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::WELLNESS::REFLEXOLOGY</key>
	<dict>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<integer>60</integer>
		<key>KEYWORDS</key>
		<array>
			<string>reflexolog[ií]a</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Reflexología</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::WELLNESS::SPA</key>
	<dict>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<integer>60</integer>
		<key>KEYWORDS</key>
		<array>
			<string>spa</string>
			<string>balneario</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Spa</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
</dict>
</plist>
