<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APPOINTMENT</key>
	<dict>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<integer>60</integer>
		<key>FAIRLY_GENERIC</key>
		<true/>
		<key>KEYWORDS</key>
		<array>
			<string>(?&lt;!(ich habe|wir haben)(schon)? einen )termin</string>
			<string>vorladung</string>
			<string>verabredung</string>
			<string>einberufung</string>
			<string>([a-zäöüß]*)termin</string>
			<string>danach dann zu mir</string>
			<string>ein date</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>SUBJECT_KEYWORDS</key>
		<string>(termin|([a-zäöüß]*)termin)</string>
		<key>TITLE</key>
		<string></string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::BEAUTY</key>
	<dict>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<integer>60</integer>
		<key>KEYWORDS</key>
		<array>
			<string>(beauty|schönheits)[- ]?salon</string>
			<string>stylist(in)?</string>
			<string>kosmetikstudio</string>
			<string>kosmetiker(in)?</string>
			<string>(eine|zur) (schönheits|körperpflege)pflege</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Schönheitssalon</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::BEAUTY::MANICURE</key>
	<dict>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<integer>60</integer>
		<key>KEYWORDS</key>
		<array>
			<string>(maniküre|mani-pedi)</string>
			<string>(finger)?n(ä|ae)gel (machen|lakieren) lassen</string>
			<string>maniküretermin</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Maniküre</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::BEAUTY::PEDICURE</key>
	<dict>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<integer>60</integer>
		<key>KEYWORDS</key>
		<array>
			<string>pediküre(termin)?</string>
			<string>fu(ß|ss)pflege(termin)?</string>
			<string>fu(ß|ss)n(ä|ae)gel (machen|lakieren) lassen</string>
			<string>fü(ß|ss)e pflegen lassen</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Pediküre</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::EDUCATION</key>
	<dict>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<string>120</string>
		<key>KEYWORDS</key>
		<array>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string></string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::EDUCATION::CONFERENCE</key>
	<dict>
		<key>ALLDAY_ALLOWED</key>
		<true/>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<string>120</string>
		<key>KEYWORDS</key>
		<array>
			<string>([a-zäöüß]{0,30})(?&lt;!(telefon))(conference|konferenz|tagung)</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Konferenz</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::EDUCATION::CONGRESS</key>
	<dict>
		<key>ALLDAY_ALLOWED</key>
		<true/>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<string>300</string>
		<key>KEYWORDS</key>
		<array>
			<string>([a-zäöüß]*)(kongress|congress)</string>
			<string>symposium</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>SUBJECT_KEYWORDS</key>
		<string>([a-zäöüß]*)(kongress|congress)</string>
		<key>TITLE</key>
		<string>Kongress</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::EDUCATION::HACKATHON</key>
	<dict>
		<key>ALLDAY_ALLOWED</key>
		<true/>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<string>300</string>
		<key>KEYWORDS</key>
		<array>
			<string>hackathon</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Hackathon</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::EDUCATION::KEYNOTE</key>
	<dict>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<string>120</string>
		<key>KEYWORDS</key>
		<array>
			<string>(keynote|(grundsatz|eröffnungs)rede) (ansehen|schauen|[gk]ucken|vortragen|halten)</string>
			<string>(keynote speaker|hauptredner|festredner|grundsatzreferent)(in)?</string>
			<string>(sehe|schaue|[gk]ucke|trage|halte)n?.{0,20} (keynote|(grundsatz|eröffnungs)rede)</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Keynote</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::EDUCATION::SEMINAR</key>
	<dict>
		<key>ALLDAY_ALLOWED</key>
		<true/>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<string>300</string>
		<key>KEYWORDS</key>
		<array>
			<string>([a-zäöüß]*)seminar</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Seminar</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::EDUCATION::TALK</key>
	<dict>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<string>120</string>
		<key>HIGH_PRIORITY</key>
		<string>YES</string>
		<key>KEYWORDS</key>
		<array>
			<string>(unserer|der) gesprächsrunde.{0,30} (teilnehmen|zuhören|mitreden)</string>
			<string>(vortrag|vorlesung).{0,50} halten</string>
			<string>(vortrag|vorlesung).{0,50} (ge)?halten</string>
			<string>(seine|ihre|meine|unsere) (forschungs)?ergebnisse (vorstellen|vortragen)</string>
			<string>(sein|ihr|mein|unser) (forschungs)?ergebnis (vorstellen|vortragen)</string>
			<string>(vortrag|vorlesung|unterhaltung|unterredung).{0,50} (beiwohnen|verfolgen)</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>SUBJECT_KEYWORDS</key>
		<string>(gespräch|talk|vortrag|vorlesung|kolloquium|konversation|unterhaltung|unterredung)</string>
		<key>TITLE</key>
		<string>Vortrag</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::EDUCATION::TRAINING</key>
	<dict>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<string>120</string>
		<key>KEYWORDS</key>
		<array>
			<string>([a-zäöüß]{0,30})training</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Training</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::EDUCATION::WEBCAST</key>
	<dict>
		<key>ALLDAY_ALLOWED</key>
		<false/>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<string>60</string>
		<key>KEYWORDS</key>
		<array>
			<string>web-?cast</string>
			<string>webinar</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Webcast</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::EDUCATION::WORKSHOP</key>
	<dict>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<string>120</string>
		<key>KEYWORDS</key>
		<array>
			<string>([a-zäöüß]{0,30})workshop</string>
			<string>team[- ]?building[- ]?ma(ß|ss)nahme</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Workshop</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::GENERICMEETING</key>
	<dict>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<integer>60</integer>
		<key>KEYWORDS</key>
		<array>
			<string>([a-zäöüß]*)meeting</string>
			<string>versammlung</string>
			<string>([a-zäöüß]*)sitzung</string>
			<string>besprechung</string>
			<string>meet(-)?up</string>
			<string>elternabend</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>SUBJECT_KEYWORDS</key>
		<string>(meeting|treffen)</string>
		<key>TITLE</key>
		<string></string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::GENERICMEETING::BOOKCLUB</key>
	<dict>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<integer>120</integer>
		<key>KEYWORDS</key>
		<array>
			<string>buch[- ]?club</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Buchclub</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::GENERICMEETING::BUSINESSMEETING</key>
	<dict>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<integer>60</integer>
		<key>KEYWORDS</key>
		<array>
			<string>business[- ]?meeting</string>
			<string>geschäftliches (treffen|meeting)</string>
			<string>geschäfts(treffen|meeting)</string>
			<string>work[- ]?meeting</string>
			<string>sync[- ]?up</string>
			<string>geschäftssitzung</string>
			<string>arbeits-?(treffen|meeting)</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>SUBJECT_KEYWORDS</key>
		<string>(meeting|treffen)</string>
		<key>TITLE</key>
		<string></string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::GENERICMEETING::ONE_ON_ONE</key>
	<dict>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<integer>60</integer>
		<key>KEYWORDS</key>
		<array>
			<string>(one to one|one-to-one|1-1|one on one|one-on-one)</string>
			<string>1:1[- ]?meeting</string>
			<string>einzelgespräch</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>1:1-Meeting</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::HAIRDRESSER</key>
	<dict>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<integer>60</integer>
		<key>KEYWORDS</key>
		<array>
			<string>(friseu(r|rin|se)|frisör(in)?|haarschneider|coiffeur)(salon|laden|studio)?</string>
			<string>friseurtermin</string>
			<string>hair[- ]?stylist</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Friseurtermin</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::INTERVIEW</key>
	<dict>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<integer>60</integer>
		<key>KEYWORDS</key>
		<array>
			<string>(vorstellungs|bewerbungs|einstellungs)gespräch</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Vorstellungsgespräch</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::WELLNESS</key>
	<dict>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<integer>60</integer>
		<key>KEYWORDS</key>
		<array>
			<string>wellness[- ]?termin</string>
			<string>wellnessbehandlung</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Wellness</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::WELLNESS::ACUPUNCTURE</key>
	<dict>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<integer>60</integer>
		<key>KEYWORDS</key>
		<array>
			<string>(acupuncture|akupunktur)(termin)?</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Akupunktur</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::WELLNESS::HEALTH</key>
	<dict>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<integer>60</integer>
		<key>KEYWORDS</key>
		<array>
			<string>arzt-?termin</string>
			<string>termin (bei|mit)( (herrn|frau))? (doktor|dr)</string>
			<string>(ärztliche|medizinische) untersuchung</string>
			<string>amts-?arzt</string>
			<string>medizinischer eingriff</string>
			<string>arzt</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Arzttermin</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::WELLNESS::HEALTH::CHIROPRACTIC</key>
	<dict>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<integer>60</integer>
		<key>KEYWORDS</key>
		<array>
			<string>chiropraktiker(in)?</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Chiropraktiker</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::WELLNESS::HEALTH::DENTIST</key>
	<dict>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<integer>60</integer>
		<key>KEYWORDS</key>
		<array>
			<string>zahn[- ]?(arzt|ärztin)</string>
			<string>zahnarzttermin</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Zahnarzt</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::WELLNESS::HEALTH::DERMATOLOGIST</key>
	<dict>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<integer>60</integer>
		<key>KEYWORDS</key>
		<array>
			<string>(dermatologe(n)?|haut[- ]?(arzt|ärztin))</string>
			<string>hautarzttermin</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Dermatologe</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::WELLNESS::HEALTH::OPTOMETRY</key>
	<dict>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<integer>60</integer>
		<key>KEYWORDS</key>
		<array>
			<string>augen[- ]?(arzt|ärztin)</string>
			<string>ophthalmologe(n)?</string>
			<string>augenarzttermin</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Augenarzt</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::WELLNESS::MASSAGE</key>
	<dict>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<integer>60</integer>
		<key>KEYWORDS</key>
		<array>
			<string>([a-zäöüß]*)(massage|reiki|bodywork)(termin)?</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Massage</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::WELLNESS::NUTRITIONIST</key>
	<dict>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<integer>60</integer>
		<key>KEYWORDS</key>
		<array>
			<string>(ernährungs|diät)(wissenschaft(l)?er|expert|berater|spezialist)(e|en|in(nen)?)?</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Ernährungsberater</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::WELLNESS::REFLEXOLOGY</key>
	<dict>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<integer>60</integer>
		<key>KEYWORDS</key>
		<array>
			<string>reflexologie(termin)?</string>
			<string>reflexzonenmassage</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Reflexologie</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>APPOINTMENT::WELLNESS::SPA</key>
	<dict>
		<key>APPOINTMENT_RELATED</key>
		<true/>
		<key>DURATION</key>
		<integer>60</integer>
		<key>KEYWORDS</key>
		<array>
			<string>spa</string>
			<string>sauna(besuch)?</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>Spa</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
</dict>
</plist>
