<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GATHERING</key>
	<dict>
		<key>DURATION</key>
		<integer>60</integer>
		<key>FAIRLY_GENERIC</key>
		<true/>
		<key>KEYWORDS</key>
		<array>
			<string>慶祝</string>
			<string>聚一聚</string>
			<string>聚一下</string>
			<string>聚會</string>
			<string>打麻將</string>
			<string>聚聚</string>
			<string>小聚</string>
			<string>度假村</string>
			<string>營隊</string>
			<string>遊船河</string>
			<string>開房</string>
			<string>去hea</string>
			<string>遊車河</string>
			<string>露營</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string></string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>GATHERING::ANNIVERSARY</key>
	<dict>
		<key>ALLDAY_ALLOWED</key>
		<false/>
		<key>ALLOW_GENERIC_PATTERNS_KEYWORDS</key>
		<string>NO</string>
		<key>DURATION</key>
		<string>180</string>
		<key>HIGH_PRIORITY</key>
		<true/>
		<key>KEYWORDS</key>
		<array>
			<string>(紀念日|週年紀念)</string>
			<string>(記念日|週年記念)</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>SUBJECT_KEYWORDS</key>
		<string>(party|派對)</string>
		<key>TITLE</key>
		<string>紀念日</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>GATHERING::ANNIVERSARY::BIRTHDAY</key>
	<dict>
		<key>ALLDAY_ALLOWED</key>
		<true/>
		<key>ALLOW_GENERIC_PATTERNS_KEYWORDS</key>
		<string>NO</string>
		<key>DURATION</key>
		<string>180</string>
		<key>HIGH_PRIORITY</key>
		<true/>
		<key>KEYWORDS</key>
		<array>
			<string>(?&lt;!祝你|祝您)(慶祝)?生日(?!快樂|高興|幸福)</string>
			<string>(做|賀|擺大)壽</string>
			<string>牛一</string>
			<string>慶生</string>
			<string>\b(?&lt;!happy )b(irth)?day\b</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>SUBJECT_KEYWORDS</key>
		<string>(\d\d?年|party|派對)</string>
		<key>TITLE</key>
		<string>生日</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>GATHERING::BBQ</key>
	<dict>
		<key>DURATION</key>
		<string>240</string>
		<key>KEYWORDS</key>
		<array>
			<string>燒烤</string>
			<string>烤肉</string>
			<string>燒(嘢|野)食</string>
			<string>\bbbq\b</string>
			<string>barbecue</string>
		</array>
		<key>START_TIME</key>
		<string>11:00 AM</string>
		<key>TITLE</key>
		<string>BBQ</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>GATHERING::CEREMONY</key>
	<dict>
		<key>DURATION</key>
		<integer>180</integer>
		<key>KEYWORDS</key>
		<array>
			<string>慶典</string>
			<string>儀式</string>
			<string>典禮</string>
			<string>開業慶典</string>
			<string>洗禮</string>
		</array>
		<key>START_TIME</key>
		<string>08:00 PM</string>
		<key>TITLE</key>
		<string>儀式</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>GATHERING::CEREMONY::MORNING</key>
	<dict>
		<key>DURATION</key>
		<integer>120</integer>
		<key>KEYWORDS</key>
		<array>
		</array>
		<key>START_TIME</key>
		<string>10:00 AM</string>
		<key>TITLE</key>
		<string>儀式</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>GATHERING::CEREMONY::WEDDING</key>
	<dict>
		<key>ALLDAY_ALLOWED</key>
		<true/>
		<key>DURATION</key>
		<integer>180</integer>
		<key>KEYWORDS</key>
		<array>
			<string>喜酒</string>
			<string>婚禮</string>
			<string>結婚(?!紀念日|週年紀念|記念日|週年記念|展)</string>
			<string>喜宴</string>
			<string>婚宴</string>
			<string>擺酒</string>
			<string>請飲(?!茶|咖啡|啤酒|紅酒|可樂|果汁|嘢|野|東西)</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>SUBJECT_KEYWORDS</key>
		<string>婚禮</string>
		<key>TITLE</key>
		<string></string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>GATHERING::DRINKS</key>
	<dict>
		<key>DURATION</key>
		<string>60</string>
		<key>KEYWORDS</key>
		<array>
			<string>(喝|飲)酒</string>
			<string>飲料</string>
			<string>(去|到)(.{0,10})暢飲</string>
			<string>喝一杯</string>
			<string>喝兩杯</string>
			<string>(?&lt;!炸雞)啤酒(?!炸雞)</string>
			<string>酒吧</string>
			<string>豪飲</string>
			<string>喝東西</string>
			<string>飲(野|嘢)</string>
			<string>果汁</string>
			<string>\bbar\b</string>
			<string>\bpub\b</string>
			<string>(🍻|🍷|🍹|🍾)</string>
			<string>(葡|蒲)萄酒</string>
		</array>
		<key>START_TIME</key>
		<string>09:00 PM</string>
		<key>TITLE</key>
		<string>飲品</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>GATHERING::DRINKS::COFFEE</key>
	<dict>
		<key>DURATION</key>
		<string>30</string>
		<key>KEYWORDS</key>
		<array>
			<string>(一起|去).{1,10}(喝|飲)((一)?杯)?咖啡</string>
			<string>(去|喝|飲)((一)?杯)?(星巴克|☕|☕️|starbucks?|mccafe)</string>
			<string>(喝|飲)((一)?杯)?(咖啡|拿鐵|摩卡|卡布奇諾|星冰樂|馬奇朵|瑪琪雅朵|(fra|ca)ppuccino|latte|mocha)</string>
			<string>一邊喝(著|着)?咖啡</string>
			<string>品味咖啡</string>
		</array>
		<key>TITLE</key>
		<string>咖啡</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>GATHERING::DRINKS::HAPPY_HOUR</key>
	<dict>
		<key>DURATION</key>
		<string>60</string>
		<key>KEYWORDS</key>
		<array>
			<string>歡樂時光</string>
			<string>happy[ -]hour</string>
		</array>
		<key>START_TIME</key>
		<string>05:00 PM</string>
		<key>TITLE</key>
		<string>Happy Hour</string>
		<key>USE_DEFAULT_TIME</key>
		<true/>
	</dict>
	<key>GATHERING::DRINKS::HOTCHOCOLATE</key>
	<dict>
		<key>DURATION</key>
		<string>30</string>
		<key>KEYWORDS</key>
		<array>
			<string>(熱|暖|温|溫)(巧克力|朱古力)</string>
		</array>
		<key>START_TIME</key>
		<string>3:00 PM</string>
		<key>TITLE</key>
		<string>熱巧克力</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>GATHERING::DRINKS::TEA</key>
	<dict>
		<key>DURATION</key>
		<string>60</string>
		<key>KEYWORDS</key>
		<array>
			<string>喝茶</string>
			<string>茶(店|室|廳|館)</string>
			<string>🍵</string>
			<string>(bubble|buba|bubba)[- ]tea</string>
			<string>pearl (milk )?tea</string>
			<string>boba tea</string>
			<string>珍珠奶茶</string>
			<string>波霸奶茶</string>
			<string>日出茶太</string>
			<string>chatime</string>
			<string>珍奶</string>
			<string>珍珠奶綠</string>
			<string>(天仁茗茶|五十嵐|50嵐|歇腳亭|快可立|茶湯會|comebuy)</string>
			<string>(普洱|香片|龍井|鐵觀音|花茶)</string>
		</array>
		<key>START_TIME</key>
		<string>3:00 PM</string>
		<key>TITLE</key>
		<string>品茶</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>GATHERING::MEAL</key>
	<dict>
		<key>DURATION</key>
		<integer>60</integer>
		<key>KEYWORDS</key>
		<array>
			<string>(就|聚|用)餐</string>
			<string>預定一桌</string>
			<string>漢堡(包)?</string>
			<string>將要預定一桌</string>
			<string>比薩</string>
			<string>拉麵</string>
			<string>(食|吃)?火鍋</string>
			<string>(餐|飯)廳</string>
			<string>披薩</string>
			<string>(吃|食)飯</string>
			<string>壽司</string>
			<string>(吃|食)東西</string>
			<string>聚餐</string>
			<string>飯局</string>
			<string>訂位</string>
			<string>自助餐</string>
			<string>(吃|食)(牛排|牛扒)</string>
			<string>鋸扒</string>
			<string>打邊爐</string>
			<string>訂枱</string>
			<string>訂((一)?張)?枱</string>
			<string>請客</string>
			<string>一起吃(餐|飯)</string>
			<string>(🍣|🍕|🍔|🍟|🍴|🍲|🍝|🍳|🍜|🌯|🌮|🍛|🍱)</string>
			<string>燒肉</string>
			<string>餐(馆|館)</string>
			<string>吃好吃的</string>
			<string>吃.{0,4}大餐</string>
			<string>請(妳|你|我)去?吃</string>
			<string>大吃特吃</string>
			<string>吃.{0,4}料理</string>
			<string>美食廣場</string>
			<string>我想吃</string>
			<string>多吃幾碗</string>
			<string>酒館</string>
			<string>炸雞</string>
			<string>臭臭鍋</string>
			<string>部隊鍋</string>
			<string>吃吧</string>
			<string>試吃會</string>
		</array>
		<key>MEAL_RELATED</key>
		<true/>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>吃飯</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>GATHERING::MEAL::BREAKFAST</key>
	<dict>
		<key>ALLOW_GENERIC_PATTERNS_KEYWORDS</key>
		<string>NO</string>
		<key>DURATION</key>
		<integer>60</integer>
		<key>KEYWORDS</key>
		<array>
			<string>早(餐|飯|頓)(?!後|時間|的時候)</string>
		</array>
		<key>MEAL_RELATED</key>
		<true/>
		<key>START_TIME</key>
		<string>08:00 AM</string>
		<key>START_TIME_MAX</key>
		<string>10:30 AM</string>
		<key>START_TIME_MIN</key>
		<string>06:00 AM</string>
		<key>TITLE</key>
		<string>早餐</string>
		<key>USE_DEFAULT_TIME</key>
		<true/>
		<key>USE_FOR_TIME_ADJUSTMENT</key>
		<true/>
	</dict>
	<key>GATHERING::MEAL::BRUNCH</key>
	<dict>
		<key>DURATION</key>
		<integer>120</integer>
		<key>KEYWORDS</key>
		<array>
			<string>早午(餐|飯)</string>
			<string>\bbrunch\b</string>
		</array>
		<key>MEAL_RELATED</key>
		<true/>
		<key>START_TIME</key>
		<string>11:00 AM</string>
		<key>START_TIME_MAX</key>
		<string>2:00 PM</string>
		<key>START_TIME_MIN</key>
		<string>10:00 AM</string>
		<key>TITLE</key>
		<string>早午餐</string>
		<key>USE_DEFAULT_TIME</key>
		<true/>
		<key>USE_FOR_TIME_ADJUSTMENT</key>
		<false/>
	</dict>
	<key>GATHERING::MEAL::DINNER</key>
	<dict>
		<key>ALLOW_GENERIC_PATTERNS_KEYWORDS</key>
		<string>NO</string>
		<key>DURATION</key>
		<string>120</string>
		<key>KEYWORDS</key>
		<array>
			<string>(一起|一齊|一同|什麼時候|甚麼時候|幾時|幾點|幾多點|去|來).{0,10}(晚餐|晚飯|晚宴|春酒|夜市)(?!時間|時段|休息)</string>
			<string>(約|跟|和|同)(你|我|他|她|佢).{0,10}(晚餐|晚飯|晚宴|春酒|夜市)(?!時間|時段|休息)</string>
			<string>(吃|食)(個)?(晚餐|晚飯|晚宴|春酒|夜市)</string>
			<string>(晚餐|晚飯|晚宴|夜市|晚上|夜晚)(我們|我哋|我地)?(要)?(一起|一齊|一同|什麼時候|甚麼時候|幾時|幾點|幾多點)?(去)?(吃|食)</string>
			<string>(晚餐|晚飯|晚宴|夜市|晚上|夜晚)(我|我們|我哋|我地)?(要)?約你(去)?(吃|食)</string>
			<string>聯歡(晚餐|晚飯|晚宴)</string>
			<string>(晚餐|晚飯|晚宴)(聚會|聯歡)</string>
			<string>(一起|一齊|一同|幾時|幾點|幾多點|約你|約我|約佢|去|嚟).{0,10}食(個)?夜晚</string>
			<string>(預約|預訂|訂枱|訂位).{0,20}(晚市|晚餐)</string>
			<string>(晚市|晚餐).{0,20}(預約|預訂|訂枱|訂位)</string>
		</array>
		<key>MEAL_RELATED</key>
		<true/>
		<key>START_TIME</key>
		<string>07:00 PM</string>
		<key>START_TIME_MAX</key>
		<string>10:00 PM</string>
		<key>START_TIME_MIN</key>
		<string>05:00 PM</string>
		<key>TITLE</key>
		<string>晚餐</string>
		<key>USE_DEFAULT_TIME</key>
		<true/>
		<key>USE_FOR_TIME_ADJUSTMENT</key>
		<true/>
	</dict>
	<key>GATHERING::MEAL::DINNER::MOVIES</key>
	<dict>
		<key>DURATION</key>
		<string>180</string>
		<key>KEYWORDS</key>
		<array>
			<string>(電影|dvd).{0,25}晚(餐|飯)</string>
			<string>晚(餐|飯).{0,25}(電影|dvd)</string>
			<string>開飯.{0,20}看電影</string>
			<string>吃完飯.{0,10}看電影</string>
		</array>
		<key>MEAL_RELATED</key>
		<true/>
		<key>MOVIE_RELATED</key>
		<true/>
		<key>START_TIME</key>
		<string>7:00 PM</string>
		<key>TITLE</key>
		<string>電影與晚餐</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>GATHERING::MEAL::ICECREAM</key>
	<dict>
		<key>DURATION</key>
		<string>60</string>
		<key>KEYWORDS</key>
		<array>
			<string>吃(意式)?冰淇(凌|淋)</string>
			<string>食(意式)?雪糕</string>
			<string>ice[ -]?cream</string>
			<string>\bgelato\b</string>
		</array>
		<key>MEAL_RELATED</key>
		<true/>
		<key>START_TIME</key>
		<string>3:00 PM</string>
		<key>TITLE</key>
		<string>冰淇淋</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>GATHERING::MEAL::LUNCH</key>
	<dict>
		<key>ALLOW_GENERIC_PATTERNS_KEYWORDS</key>
		<string>NO</string>
		<key>DURATION</key>
		<integer>60</integer>
		<key>KEYWORDS</key>
		<array>
			<string>(一起|一齊|一同|什麼時候|甚麼時候|幾時|幾點|幾多點|去|來).{0,10}(午餐|中餐|午飯|中飯|午宴)(?!時間|時段|休息)</string>
			<string>(約|跟|和|同)(你|我|他|她|佢).{0,10}(午餐|中餐|午飯|中飯|午宴)(?!時間|時段|休息)</string>
			<string>(吃|食)(個)?(午餐|中餐|午飯|中飯|午宴)</string>
			<string>(午餐|中餐|午飯|中飯|午宴|中午|下午|下晝)(我們|我哋|我地)?(要)?(一起|一齊|一同|什麼時候|甚麼時候|幾時|幾點|幾多點)?(去)?(吃|食)</string>
			<string>(午餐|中餐|午飯|中飯|午宴|中午|下午|下晝)(我|我們|我哋|我地)?(要)?約你(去)?(吃|食)</string>
			<string>聯歡(午餐|中餐|午飯|中飯|午宴)</string>
			<string>(午餐|中餐|午飯|中飯|午宴)(聚會|聯歡)</string>
			<string>(一起|一齊|一同|幾時|幾點|幾多點|約你|約我|約佢|去|嚟).{0,10}(吃|食)(個)?(晏(晝飯?)?|下晝飯)</string>
			<string>(預約|預訂|訂枱|訂位).{0,20}(午市|午餐)</string>
			<string>(午市|午餐).{0,20}(預約|預訂|訂枱|訂位)</string>
		</array>
		<key>MEAL_RELATED</key>
		<true/>
		<key>START_TIME</key>
		<string>12:00 PM</string>
		<key>START_TIME_MAX</key>
		<string>02:00 PM</string>
		<key>START_TIME_MIN</key>
		<string>11:00 AM</string>
		<key>TITLE</key>
		<string>午餐</string>
		<key>USE_DEFAULT_TIME</key>
		<true/>
		<key>USE_FOR_TIME_ADJUSTMENT</key>
		<true/>
	</dict>
	<key>GATHERING::MEAL::SNACK</key>
	<dict>
		<key>DURATION</key>
		<string>30</string>
		<key>KEYWORDS</key>
		<array>
			<string>(?&lt;!用)(吃|食)?(點心|茶點|小食)</string>
			<string>下午茶</string>
			<string>hi(gh)?[ -]?tea</string>
		</array>
		<key>MEAL_RELATED</key>
		<true/>
		<key>START_TIME</key>
		<string>4:30 PM</string>
		<key>TITLE</key>
		<string>下午茶</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>GATHERING::MEAL::SNACK::NIGHT</key>
	<dict>
		<key>DURATION</key>
		<string>60</string>
		<key>KEYWORDS</key>
		<array>
			<string>宵夜</string>
			<string>夜宵</string>
			<string>消夜</string>
		</array>
		<key>MEAL_RELATED</key>
		<true/>
		<key>START_TIME</key>
		<string>9:00 PM</string>
		<key>TITLE</key>
		<string>宵夜</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>GATHERING::PARTY</key>
	<dict>
		<key>DURATION</key>
		<string>180</string>
		<key>KEYWORDS</key>
		<array>
			<string>夜總會</string>
			<string>酒席</string>
			<string>辦酒</string>
			<string>夜店</string>
			<string>宴會(?!廳)</string>
			<string>宴客</string>
			<string>滿月</string>
			<string>做節</string>
			<string>派對</string>
			<string>開(p|趴)</string>
			<string>\bparty\b</string>
			<string>狂歡</string>
			<string>轟趴</string>
			<string>舞會</string>
			<string>出去玩一晚</string>
		</array>
		<key>START_TIME</key>
		<string>08:00 PM</string>
		<key>SUBJECT_KEYWORDS</key>
		<string>party</string>
		<key>TITLE</key>
		<string>派對</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>GATHERING::PARTY::COCKTAIL</key>
	<dict>
		<key>DURATION</key>
		<string>120</string>
		<key>KEYWORDS</key>
		<array>
			<string>雞尾酒(派對|會)</string>
		</array>
		<key>START_TIME</key>
		<string>08:00 PM</string>
		<key>SUBJECT_KEYWORDS</key>
		<string>(party|派對)</string>
		<key>TITLE</key>
		<string>雞尾酒派對</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>GATHERING::PARTY::GRADUATION</key>
	<dict>
		<key>DURATION</key>
		<integer>180</integer>
		<key>KEYWORDS</key>
		<array>
			<string>(畢業|結業)(派對)</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>SUBJECT_KEYWORDS</key>
		<string>(party|派對)</string>
		<key>TITLE</key>
		<string>畢業派對</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>GATHERING::PARTY::HOUSEWARMING</key>
	<dict>
		<key>DURATION</key>
		<integer>180</integer>
		<key>KEYWORDS</key>
		<array>
			<string>(喬遷|遷居|新居)(聚會|派對|party)</string>
			<string>(新屋|新居)?入伙(聚會|派對|party)</string>
		</array>
		<key>START_TIME</key>
		<string>08:00 PM</string>
		<key>SUBJECT_KEYWORDS</key>
		<string>(party|派對)</string>
		<key>TITLE</key>
		<string>新居派對</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>GATHERING::PARTY::RETIREMENT</key>
	<dict>
		<key>DURATION</key>
		<integer>180</integer>
		<key>KEYWORDS</key>
		<array>
			<string>退休派對</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>SUBJECT_KEYWORDS</key>
		<string>(party|派對)</string>
		<key>TITLE</key>
		<string>退休派對</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>GATHERING::PICNIC</key>
	<dict>
		<key>DURATION</key>
		<string>180</string>
		<key>KEYWORDS</key>
		<array>
			<string>野餐</string>
			<string>\bpicnic\b</string>
		</array>
		<key>START_TIME</key>
		<string>12:00 PM</string>
		<key>TITLE</key>
		<string>野餐</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>GATHERING::POTLUCK</key>
	<dict>
		<key>DURATION</key>
		<string>120</string>
		<key>KEYWORDS</key>
		<array>
			<string>家常便飯</string>
			<string>聚餐派對</string>
		</array>
		<key>START_TIME</key>
		<string>12:00 PM</string>
		<key>TITLE</key>
		<string>聚餐派對</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>GATHERING::REUNION</key>
	<dict>
		<key>DURATION</key>
		<integer>120</integer>
		<key>KEYWORDS</key>
		<array>
			<string>重聚</string>
			<string>聚舊</string>
			<string>接風</string>
			<string>團聚</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>團聚</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>GATHERING::REUNION::ALUMNI</key>
	<dict>
		<key>DURATION</key>
		<integer>120</integer>
		<key>KEYWORDS</key>
		<array>
			<string>(同學|畢業生)(會|聚舊|重聚)</string>
		</array>
		<key>START_TIME</key>
		<string>07:00 PM</string>
		<key>TITLE</key>
		<string>同學會</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>GATHERING::REUNION::FAMILY</key>
	<dict>
		<key>DURATION</key>
		<integer>120</integer>
		<key>KEYWORDS</key>
		<array>
			<string>(家庭|家人|家族)(聚舊|重聚|聚會)</string>
		</array>
		<key>START_TIME</key>
		<string>12:00 PM</string>
		<key>TITLE</key>
		<string>家族聚會</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
</dict>
</plist>
