<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>third[- ]party</string>
	<string>regret to inform you</string>
	<string>radar(s)?</string>
	<string>be wat</string>
	<string>your order confirmation</string>
	<string>conference code</string>
	<string>(?&lt;!you can )cancel</string>
	<string>expire</string>
	<string>(?&lt;!if you are )not available</string>
	<string>working (from|at) home</string>
	<string>postponed</string>
	<string>food log</string>
	<string>ooo</string>
	<string>party leaders</string>
	<string>on duty</string>
	<string>(have(?! held)|will|i&apos;ll|my) (.{0,50})(doctor|therapy|therapist|dentist|medical|appointment|check-up|checkup)([&apos;’])?</string>
	<string>(i am|i&apos;m&apos;|i will be|i&apos;ll be|we&apos;re|we are|we will be|we&apos;ll be) off</string>
	<string>labor party</string>
	<string>sold( |-)out</string>
	<string>please disregard</string>
	<string>wfh</string>
	<string>unfortunately</string>
	<string>canceled</string>
	<string>expiration</string>
	<string>invited (.{0,50}) (to edit|to modify|to change) (.{0,50}) document</string>
	<string>moderator</string>
	<string>out of (the )?office</string>
	<string>cancelled</string>
	<string>thanks for (.{0,50} )(invite|invitation|asking) but</string>
	<string>(i&apos;ll|will) be (.{0,50} )?(late|offline)</string>
	<string>out on (vacation(s)?|holiday(s)?)</string>
	<string>out for lunch</string>
	<string>sick day</string>
	<string>no-go</string>
	<string>(i&apos;ll|will) be a no show</string>
	<string>(i&apos;ll|will) be (absent|off|offline)</string>
	<string>(i&apos;ll|will) be in the office after</string>
	<string>report</string>
	<string>a no show</string>
	<string>sorry for bailing out</string>
	<string>automatic reply</string>
	<string>shipped</string>
	<string>shipment</string>
	<string>exclusive sale(s)?</string>
	<string>special offer(s)?</string>
	<string>shop now</string>
	<string>apologies for</string>
	<string>(i&apos;m|i am) sick</string>
	<string>(I|we) can&apos;t make it</string>
	<string>(i|we) have other plans</string>
	<string>(i|we) are going out of town</string>
	<string>(i|we) might not be able to come</string>
	<string>(i|we) would love to go but</string>
	<string>something came up and</string>
	<string>sounds like fun but</string>
	<string>we’re live now</string>
	<string>don&apos;t think (i|we) can make it</string>
	<string>press release</string>
	<string>funeral</string>
</array>
</plist>
