<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GATHERING</key>
	<dict>
		<key>DURATION</key>
		<integer>60</integer>
		<key>FAIRLY_GENERIC</key>
		<true/>
		<key>KEYWORDS</key>
		<array>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string></string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>GATHERING::ANNIVERSARY</key>
	<dict>
		<key>ALLDAY_ALLOWED</key>
		<false/>
		<key>ALLOW_GENERIC_PATTERNS_KEYWORDS</key>
		<string>NO</string>
		<key>DURATION</key>
		<string>180</string>
		<key>HIGH_PRIORITY</key>
		<true/>
		<key>KEYWORDS</key>
		<array>
			<string>記念パーティ(ー)?</string>
			<string>記念日</string>
			<string>周年</string>
			<string>(還暦|古希|(喜|傘|米|卒|白|紀|百)寿)のお祝い</string>
			<string>誕生日(.{0,25}パーティー|会)</string>
			<string>バースデーパーティー</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>SUBJECT_KEYWORDS</key>
		<string>(パーティー|party)</string>
		<key>TITLE</key>
		<string>記念日</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>GATHERING::ANNIVERSARY::BIRTHDAY</key>
	<dict>
		<key>ALLDAY_ALLOWED</key>
		<true/>
		<key>ALLOW_GENERIC_PATTERNS_KEYWORDS</key>
		<string>NO</string>
		<key>DURATION</key>
		<string>180</string>
		<key>HIGH_PRIORITY</key>
		<true/>
		<key>KEYWORDS</key>
		<array>
			<string>(お|御)?(誕生(日)?|バースデー)(会|パーティ(ー)?)?(?!(おめでとうございます|日おめでとうございます))</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>SUBJECT_KEYWORDS</key>
		<string>(\d\d?年|パーティー|party)</string>
		<key>TITLE</key>
		<string>誕生日</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>GATHERING::BBQ</key>
	<dict>
		<key>DURATION</key>
		<string>240</string>
		<key>KEYWORDS</key>
		<array>
			<string>bbq</string>
			<string>バーベキュー</string>
		</array>
		<key>START_TIME</key>
		<string>11:00 AM</string>
		<key>TITLE</key>
		<string>バーベキュー</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>GATHERING::CEREMONY</key>
	<dict>
		<key>DURATION</key>
		<integer>180</integer>
		<key>KEYWORDS</key>
		<array>
			<string>セレモニー</string>
		</array>
		<key>START_TIME</key>
		<string>08:00 PM</string>
		<key>TITLE</key>
		<string>セレモニー</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>GATHERING::CEREMONY::MORNING</key>
	<dict>
		<key>DURATION</key>
		<integer>120</integer>
		<key>KEYWORDS</key>
		<array>
		</array>
		<key>START_TIME</key>
		<string>10:00 AM</string>
		<key>TITLE</key>
		<string>セレモニー</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>GATHERING::CEREMONY::WEDDING</key>
	<dict>
		<key>ALLDAY_ALLOWED</key>
		<true/>
		<key>DURATION</key>
		<integer>180</integer>
		<key>KEYWORDS</key>
		<array>
			<string>ウェディング</string>
			<string>(結婚式|挙式)</string>
			<string>披露宴</string>
			<string>挙式</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>SUBJECT_KEYWORDS</key>
		<string>(結婚式|挙式)</string>
		<key>TITLE</key>
		<string>結婚式</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>GATHERING::DRINKS</key>
	<dict>
		<key>DURATION</key>
		<string>60</string>
		<key>KEYWORDS</key>
		<array>
			<string>(飲み物|ビール|マティーニ)は(どう|いかが(ですか)?)?</string>
			<string>(飲|の)みに行(く|きます|こう|きましょう|かない|きませんか)</string>
			<string>(飲|の)(もう|みましょう|まない|みませんか)</string>
			<string>(ワイン|シャルドネ|ピノグリージョ|ソービニョンブラン|リースリング|カベルネソーヴィニョン|ピノノワール|メルロー)</string>
			<string>(焼酎|日本酒)</string>
			<string>レモネード</string>
			<string>スムージー</string>
			<string>(🍻|🍷|🍹|🍾)</string>
			<string>(パブ|バー|居酒屋|飲み屋)で</string>
			<string>(新しい)(パブ|バー|居酒屋|飲み屋)</string>
			<string>(お酒|アルコール)</string>
			<string>飲み会</string>
			<string>試飲会</string>
			<string>ビアガーデン</string>
			<string>ワインテースティング</string>
		</array>
		<key>START_TIME</key>
		<string>06:00 PM</string>
		<key>TITLE</key>
		<string>飲み会</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>GATHERING::DRINKS::COCKTAIL</key>
	<dict>
		<key>DURATION</key>
		<string>60</string>
		<key>KEYWORDS</key>
		<array>
			<string>カクテル飲も?</string>
		</array>
		<key>START_TIME</key>
		<string>06:00 PM</string>
		<key>TITLE</key>
		<string>カクテル</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>GATHERING::DRINKS::COFFEE</key>
	<dict>
		<key>DURATION</key>
		<string>30</string>
		<key>KEYWORDS</key>
		<array>
			<string>コーヒー</string>
			<string>カフェ</string>
			<string>☕️</string>
			<string>カフェ(?!マック)</string>
			<string>(フラペ|カプ)チーノ</string>
			<string>(ラ(ッ)?テ|カフェオーレ)</string>
			<string>マ(キア|ッキャ)ート</string>
			<string>モカ</string>
			<string>エスプレッソ</string>
			<string>ミルクコーヒ</string>
			<string>(淹|い)れたてコーヒー</string>
			<string>(コーヒー|カフェ|☕️|カフェ(?!マック)|(フラペ|カプ)チーノ|(ラ(ッ)?テ|カフェオーレ)|マ(キア|ッキャ)ート|モカ|エスプレッソ|ミルクコーヒー|(淹|い)れたてコーヒー).{0,10}(飲んで|飲みに|飲みたい|飲み|買いたい|買いに|買って|買うん|買った|好き)</string>
			<string>(コーヒー|カフェ|☕️|カフェ(?!マック)|(フラペ|カプ)チーノ|(ラ(ッ)?テ|カフェオーレ)|マ(キア|ッキャ)ート|モカ|エスプレッソ|ミルクコーヒー|(淹|い)れたてコーヒー)(ラウンジ|ハウス|ルーム|サロン|タイム|ブレ(イ|ー)ク)</string>
			<string>(スターバックス|ミスタードーナツ|(mccafe|マックカフェ)|ドトール|タリーズ(コーヒー)?|サンマルクカフェ|カフェ・ド・クリエ|ルノアール|コメダ珈琲|シャノアール|スタバ|コーヒーショップ).{0,25}(行(く|きたい|きませんか|った|きたい|ってみます)|(を)?する|付き合(う|って))</string>
		</array>
		<key>TITLE</key>
		<string>コーヒー</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>GATHERING::DRINKS::HAPPY_HOUR</key>
	<dict>
		<key>DURATION</key>
		<string>60</string>
		<key>KEYWORDS</key>
		<array>
			<string>ハッピーアワー</string>
		</array>
		<key>START_TIME</key>
		<string>05:00 PM</string>
		<key>TITLE</key>
		<string>飲み会</string>
		<key>USE_DEFAULT_TIME</key>
		<true/>
	</dict>
	<key>GATHERING::DRINKS::HOTCHOCOLATE</key>
	<dict>
		<key>DURATION</key>
		<string>30</string>
		<key>KEYWORDS</key>
		<array>
			<string>(ホットチョコレート|ココア)</string>
		</array>
		<key>START_TIME</key>
		<string>3:00 PM</string>
		<key>TITLE</key>
		<string>ココア</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>GATHERING::DRINKS::TEA</key>
	<dict>
		<key>DURATION</key>
		<string>30</string>
		<key>KEYWORDS</key>
		<array>
			<string>(紅茶|お茶|お茶会)</string>
			<string>(ティー)(ラウンジ|ハウス|ルーム|サロン|タイム|ブレ(イ|ー)ク)</string>
			<string>(喫)?茶店|茶室|(お|御)?茶屋</string>
			<string>お茶しましょう</string>
			<string>🍵</string>
			<string>ハーブティー</string>
			<string>アフタヌーンティー</string>
		</array>
		<key>START_TIME</key>
		<string>3:00 PM</string>
		<key>TITLE</key>
		<string>ティータイム</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>GATHERING::MEAL</key>
	<dict>
		<key>DURATION</key>
		<integer>60</integer>
		<key>KEYWORDS</key>
		<array>
			<string>((お|御)食事(会)?|(ご|御)(はん|飯)|メシ|めし|会食)</string>
			<string>レストラン</string>
			<string>飲食店</string>
			<string>(夕飯|夕めし|食べ物|ラーメン|パスタ|麺|(お)?寿司|ピザ|(ハン|チーズ)?バーガー|ブリトー|サラダ|点心)</string>
			<string>(お)?すし</string>
			<string>(牛丼|とんかつ|お好み焼き|ステーキ)</string>
			<string>(軽食|軽(い|く)食事)</string>
			<string>(レストラン|お店).{0,25}予約(済(み)?)?</string>
			<string>(🍕|🍔|🍟|🍴|🍣|🍲|🍝|🍳|🍜|🌯|🌮|🍛|🍱)</string>
			<string>スープカフェ</string>
			<string>外食しよー</string>
			<string>食べに行(きたい|こう)</string>
			<string>一緒に.{0,25}食べない</string>
			<string>食べよう</string>
			<string>食べてみたいな</string>
			<string>食べ(放題)?に行きませんか</string>
			<string>たべにいきましょう</string>
			<string>料理の店に行こうよ</string>
			<string>料理を食べたい</string>
			<string>食べに来ない</string>
			<string>ごはんどう</string>
			<string>食べに行</string>
			<string>試食会</string>
			<string>食べたくな(い|りました)</string>
			<string>試食しに来(て|ない)</string>
			<string>料理屋に行かない</string>
			<string>食いたい</string>
		</array>
		<key>MEAL_RELATED</key>
		<true/>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string></string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>GATHERING::MEAL::BREAKFAST</key>
	<dict>
		<key>DURATION</key>
		<integer>60</integer>
		<key>KEYWORDS</key>
		<array>
			<string>(朝食|朝(ご|御)(はん|飯)|メシ|めし)</string>
		</array>
		<key>MEAL_RELATED</key>
		<true/>
		<key>START_TIME</key>
		<string>07:00 AM</string>
		<key>START_TIME_MAX</key>
		<string>10:30 AM</string>
		<key>START_TIME_MIN</key>
		<string>06:00 AM</string>
		<key>TITLE</key>
		<string>朝食</string>
		<key>USE_DEFAULT_TIME</key>
		<true/>
		<key>USE_FOR_TIME_ADJUSTMENT</key>
		<true/>
	</dict>
	<key>GATHERING::MEAL::BRUNCH</key>
	<dict>
		<key>DURATION</key>
		<integer>120</integer>
		<key>KEYWORDS</key>
		<array>
			<string>ブランチ</string>
		</array>
		<key>MEAL_RELATED</key>
		<true/>
		<key>START_TIME</key>
		<string>11:00 AM</string>
		<key>START_TIME_MAX</key>
		<string>2:00 PM</string>
		<key>START_TIME_MIN</key>
		<string>10:00 AM</string>
		<key>TITLE</key>
		<string>ブランチ</string>
		<key>USE_DEFAULT_TIME</key>
		<true/>
		<key>USE_FOR_TIME_ADJUSTMENT</key>
		<false/>
	</dict>
	<key>GATHERING::MEAL::DINNER</key>
	<dict>
		<key>DURATION</key>
		<string>120</string>
		<key>KEYWORDS</key>
		<array>
			<string>(夕食|夕飯|夕(ご|御)(はん|飯)|夕めし|晩(ご|御)(はん|飯)|晩飯|晩めし|晩メシ|夜ご飯).{0,10}(?!食べてから)</string>
			<string>(夕食|夕飯|夕(ご|御)(はん|飯)|夕めし|晩(ご|御)(はん|飯)|晩飯|晩めし|晩メシ|夜ご飯)(?!も兼ねて)</string>
			<string>夜.{0,25}食べる</string>
		</array>
		<key>MEAL_RELATED</key>
		<true/>
		<key>START_TIME</key>
		<string>07:00 PM</string>
		<key>START_TIME_MAX</key>
		<string>10:00 PM</string>
		<key>START_TIME_MIN</key>
		<string>05:00 PM</string>
		<key>TITLE</key>
		<string>ディナー</string>
		<key>USE_DEFAULT_TIME</key>
		<true/>
		<key>USE_FOR_TIME_ADJUSTMENT</key>
		<true/>
	</dict>
	<key>GATHERING::MEAL::ICECREAM</key>
	<dict>
		<key>DURATION</key>
		<string>60</string>
		<key>KEYWORDS</key>
		<array>
			<string>アイス(クリーム)?</string>
			<string>ジェラート</string>
		</array>
		<key>MEAL_RELATED</key>
		<true/>
		<key>START_TIME</key>
		<string>3:00 PM</string>
		<key>TITLE</key>
		<string>アイスクリーム</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>GATHERING::MEAL::LUNCH</key>
	<dict>
		<key>DURATION</key>
		<integer>60</integer>
		<key>KEYWORDS</key>
		<array>
			<string>(?&lt;!ブ)ランチ(?!ボックス|メニュー)</string>
			<string>お昼にどうですか</string>
			<string>((?&lt;!ブ)ランチ(?!ボックス|メニュー)|昼食|(お)?昼(ご|御)(はん|飯)).{0,10}(?!(食べてから|終わったら))</string>
			<string>((?&lt;!ブ)ランチ(?!ボックス|メニュー)|昼食|(お)?昼(ご|御)(はん|飯))(?!(も兼ねて|の約束があったんだ))</string>
			<string>((?&lt;!ブ)ランチ(?!ボックス|メニュー)|昼食|(お)?昼(ご|御)(はん|飯)|(お)?弁当(?!箱))(?!持って)</string>
		</array>
		<key>MEAL_RELATED</key>
		<true/>
		<key>START_TIME</key>
		<string>12:00 PM</string>
		<key>START_TIME_MAX</key>
		<string>02:00 PM</string>
		<key>START_TIME_MIN</key>
		<string>11:00 AM</string>
		<key>TITLE</key>
		<string>ランチ</string>
		<key>USE_DEFAULT_TIME</key>
		<true/>
		<key>USE_FOR_TIME_ADJUSTMENT</key>
		<true/>
	</dict>
	<key>GATHERING::MEAL::SNACK</key>
	<dict>
		<key>DURATION</key>
		<string>30</string>
		<key>KEYWORDS</key>
		<array>
			<string>おやつ</string>
			<string>スナック</string>
			<string>軽食は</string>
			<string>(スイーツ|ケーキ)</string>
			<string>お饅頭</string>
			<string>お餅</string>
			<string>団子</string>
			<string>ドーナツ</string>
			<string>パフェ</string>
			<string>クレープ</string>
		</array>
		<key>MEAL_RELATED</key>
		<true/>
		<key>START_TIME</key>
		<string>4:30 PM</string>
		<key>TITLE</key>
		<string>おやつ</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>GATHERING::PARTY</key>
	<dict>
		<key>DURATION</key>
		<string>180</string>
		<key>KEYWORDS</key>
		<array>
			<string>(お祝い|祝賀会)</string>
			<string>宴会</string>
			<string>(酒宴|飲み会)</string>
			<string>祭典</string>
			<string>祝宴</string>
			<string>レセプション</string>
			<string>(懇親会|懇談会|交流会)</string>
			<string>((祭(り)?|まつり)|イベント)</string>
			<string>夜遊び</string>
			<string>女子会</string>
			<string>(合コン|(新歓)?コンパ)</string>
			<string>街コン</string>
			<string>(新|忘)年会</string>
			<string>(送別|歓迎)会</string>
			<string>(恋|婚)活パーティ(ー)?</string>
			<string>(お)?花見</string>
			<string>二次会</string>
			<string>打ち上げ</string>
			<string>パーティー?</string>
		</array>
		<key>START_TIME</key>
		<string>08:00 PM</string>
		<key>SUBJECT_KEYWORDS</key>
		<string>party</string>
		<key>TITLE</key>
		<string>パーティー</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>GATHERING::PARTY::CLUBBING</key>
	<dict>
		<key>DURATION</key>
		<string>180</string>
		<key>KEYWORDS</key>
		<array>
			<string>ナイトクラブ</string>
		</array>
		<key>START_TIME</key>
		<string>09:00 PM</string>
		<key>SUBJECT_KEYWORDS</key>
		<string>(party|パーティー)</string>
		<key>TITLE</key>
		<string>ナイトクラブ</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>GATHERING::PARTY::COCKTAIL</key>
	<dict>
		<key>DURATION</key>
		<string>120</string>
		<key>KEYWORDS</key>
		<array>
			<string>カクテルパーティ(ー)?</string>
		</array>
		<key>START_TIME</key>
		<string>06:00 PM</string>
		<key>SUBJECT_KEYWORDS</key>
		<string>(party|パーティー)</string>
		<key>TITLE</key>
		<string>カクテルパーティー</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>GATHERING::PARTY::GRADUATION</key>
	<dict>
		<key>DURATION</key>
		<integer>180</integer>
		<key>KEYWORDS</key>
		<array>
			<string>(卒業パーティ(ー)?|謝恩会)</string>
		</array>
		<key>START_TIME</key>
		<string>06:00 PM</string>
		<key>SUBJECT_KEYWORDS</key>
		<string>(party|パーティー)</string>
		<key>TITLE</key>
		<string>卒業パーティー</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>GATHERING::PARTY::HOUSEWARMING</key>
	<dict>
		<key>DURATION</key>
		<integer>180</integer>
		<key>KEYWORDS</key>
		<array>
			<string>(新築|引っ越し|引越)祝い(パーティ(ー)?)?</string>
		</array>
		<key>START_TIME</key>
		<string>06:00 PM</string>
		<key>SUBJECT_KEYWORDS</key>
		<string>(party|パーティー)</string>
		<key>TITLE</key>
		<string>引っ越し祝いパーティー</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>GATHERING::PARTY::RETIREMENT</key>
	<dict>
		<key>DURATION</key>
		<integer>180</integer>
		<key>KEYWORDS</key>
		<array>
			<string>退職(記念パーティ(ー)?|祝賀会|記念パーティー)</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>SUBJECT_KEYWORDS</key>
		<string>(party|パーティー)</string>
		<key>TITLE</key>
		<string>退職記念パーティー</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>GATHERING::PICNIC</key>
	<dict>
		<key>DURATION</key>
		<string>180</string>
		<key>KEYWORDS</key>
		<array>
			<string>ピクニック</string>
		</array>
		<key>START_TIME</key>
		<string>12:00 PM</string>
		<key>TITLE</key>
		<string>ピクニック</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>GATHERING::POTLUCK</key>
	<dict>
		<key>DURATION</key>
		<string>120</string>
		<key>KEYWORDS</key>
		<array>
			<string>持ち寄りパーティ(ー)?</string>
			<string>ポットラック(パーティ(ー)?)?</string>
		</array>
		<key>START_TIME</key>
		<string>12:00 PM</string>
		<key>TITLE</key>
		<string>持ち寄りパーティー</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>GATHERING::REUNION</key>
	<dict>
		<key>DURATION</key>
		<integer>120</integer>
		<key>KEYWORDS</key>
		<array>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string></string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>GATHERING::REUNION::ALUMNI</key>
	<dict>
		<key>DURATION</key>
		<integer>120</integer>
		<key>KEYWORDS</key>
		<array>
			<string>(同窓|クラス|同期)会</string>
		</array>
		<key>START_TIME</key>
		<string>06:00 PM</string>
		<key>TITLE</key>
		<string>同窓会</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>GATHERING::REUNION::FAMILY</key>
	<dict>
		<key>DURATION</key>
		<integer>120</integer>
		<key>KEYWORDS</key>
		<array>
			<string>ファミリーパーティー</string>
			<string>親族(会|の集まり)</string>
		</array>
		<key>START_TIME</key>
		<string>12:00 PM</string>
		<key>TITLE</key>
		<string>親族会</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
</dict>
</plist>
