<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>sono in viaggio</string>
	<string>(annullare|annulliamo)</string>
	<string>scadenza</string>
	<string>annullato</string>
	<string>scadere</string>
	<string>scaduto</string>
	<string>purtroppo</string>
	<string>cancellazione</string>
	<string>posticipare|posticipiamo</string>
	<string>non saro(&apos;)? in ufficio</string>
	<string>in congedo</string>
	<string>sono in (mutua|malattia|via|malato)</string>
	<string>sono fuori ufficio</string>
	<string>sono in (aspettativa|missione|permesso)</string>
	<string>rimandare|rimandiamo</string>
	<string>annullare</string>
	<string>rinviare|rinviamo</string>
	<string>(sono in )?(ferie|vacanza)</string>
	<string>annullamento</string>
	<string>cancellare</string>
	<string>cancellato</string>
	<string>rinviato</string>
	<string>rimandato</string>
</array>
</plist>
