<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ARRANGEMENT</key>
	<dict>
		<key>DURATION</key>
		<integer>60</integer>
		<key>FAIRLY_GENERIC</key>
		<true/>
		<key>KEYWORDS</key>
		<array>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string></string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ARRANGEMENT::PICKUP</key>
	<dict>
		<key>DURATION</key>
		<integer>60</integer>
		<key>KEYWORDS</key>
		<array>
			<string>ピックアップ(します|に行きます|してください|してくれませんか)</string>
			<string>(お)?(出)?迎え</string>
		</array>
		<key>LOW_PRIORITY</key>
		<true/>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>送迎</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ARRANGEMENT::PICKUP::AIRPORT</key>
	<dict>
		<key>DURATION</key>
		<integer>60</integer>
		<key>KEYWORDS</key>
		<array>
			<string>空港.{0,25}ピックアップ</string>
			<string>空港.{0,25}(お)?(出)?迎え</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>空港への送迎</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ARRANGEMENT::SHOPPING</key>
	<dict>
		<key>DURATION</key>
		<integer>120</integer>
		<key>KEYWORDS</key>
		<array>
			<string>((ショッピング)?モール|デパート|スーパー|アウトレット).{0,25}行(く|きます|きませんか|きたい|ってみます)</string>
			<string>(買い物|ショッピング).{0,25}(行(く|きたい|きませんか|った|きたい|ってみます)|(を)?する|付き合(う|って))</string>
			<string>オンラインショッピング.{0,25}(し(たい|ます|ませんか|ましょう)|(を)?する)</string>
			<string>買い物ツアー</string>
			<string>(伊勢丹|三越|高島屋|東急百貨店|丸井|マルイ|西武百貨店|東武百貨店|そごう|小田急百貨店|京王百貨店|近鉄百貨店|大丸|阪急).{0,25}行(く|きます|きたい|ってみます)</string>
			<string>(イオン|マックスバリュ|イトーヨーカドー|ヨークマート|ヨークベニマル|ダイエー|西友|長崎屋|成城石井|ライフ).{0,25}行(く|きます|きたい|ってみます|ってみます)</string>
			<string>(農産物)?直売所</string>
			<string>(車の|カー)ディーラー.{0,25}(行(く|きたい|きませんか|った|きたい|ってみます)|(を)?する|付き合(う|って))</string>
			<string>市場.{0,25}(行(く|きたい|きませんか|った|きたい|ってみます)|(を)?する|付き合(う|って))</string>
			<string>ディーラーに行きたい</string>
			<string>アウトレット</string>
			<string>買い物.{0,25}に行きたいの</string>
			<string>物産展</string>
			<string>買い物に行かない</string>
			<string>店に行ってみよう</string>
			<string>デパート</string>
			<string>お買い物</string>
			<string>買い物いく</string>
			<string>買い物に出よう</string>
			<string>買いに行こ(う|ー)</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>ショッピング</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ARRANGEMENT::SHOPPING::SALES</key>
	<dict>
		<key>DURATION</key>
		<integer>120</integer>
		<key>KEYWORDS</key>
		<array>
			<string>(セール|バーゲン|特売)</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>ショッピング</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ARRANGEMENT::TRAVEL</key>
	<dict>
		<key>DURATION</key>
		<integer>60</integer>
		<key>KEYWORDS</key>
		<array>
			<string>(旅行|ツアー|観光)</string>
			<string>(ホテル|旅館|民宿|ペンション).{0,25}予約(済(み)?)?</string>
			<string>旅</string>
			<string>ドライブ(旅行)?</string>
			<string>(バス|電車|鉄道|飛行機|航空便)で出発</string>
			<string>クルーズ.{0,25}行きませんか</string>
			<string>(ホテル|宿泊).{0,25}予約</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string></string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ARRANGEMENT::TRAVEL::FIELDTRIP</key>
	<dict>
		<key>ALLDAY_ALLOWED</key>
		<true/>
		<key>DURATION</key>
		<integer>180</integer>
		<key>KEYWORDS</key>
		<array>
			<string>研修旅行</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>研修旅行</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
	<key>ARRANGEMENT::TRAVEL::FIELDTRIP::STUDENTS</key>
	<dict>
		<key>ALLDAY_ALLOWED</key>
		<true/>
		<key>DURATION</key>
		<integer>180</integer>
		<key>KEYWORDS</key>
		<array>
			<string>(修学旅行|校外学習|社会(科)?見学)</string>
			<string>遠足</string>
		</array>
		<key>START_TIME</key>
		<string></string>
		<key>TITLE</key>
		<string>修学旅行</string>
		<key>USE_DEFAULT_TIME</key>
		<false/>
	</dict>
</dict>
</plist>
