<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frohe ostern</key>
	<array>
		<string>🐰</string>
		<string>🐇</string>
		<string>🐣</string>
	</array>
	<key>fröhliche ostern</key>
	<array>
		<string>🐰</string>
		<string>🐇</string>
		<string>🐣</string>
	</array>
	<key>alles gute zum vatertag</key>
	<array>
		<string>👨</string>
		<string>💝</string>
	</array>
	<key>alles liebe zum vatertag</key>
	<array>
		<string>👨</string>
		<string>💝</string>
	</array>
	<key>alles gute zum muttertag</key>
	<array>
		<string>👩</string>
		<string>💝</string>
		<string>💐</string>
	</array>
	<key>alles liebe zum muttertag</key>
	<array>
		<string>👩</string>
		<string>💝</string>
		<string>💐</string>
	</array>
	<key>frohe weihnachten</key>
	<array>
		<string>🎄</string>
		<string>🎁</string>
	</array>
	<key>frohes fest</key>
	<array>
		<string>🎄</string>
		<string>🎁</string>
	</array>
	<key>fröhliche weihnachten</key>
	<array>
		<string>🎄</string>
		<string>🎁</string>
	</array>
	<key>frohes weihnachtsfest</key>
	<array>
		<string>🎄</string>
		<string>🎁</string>
	</array>
	<key>frohe weihnacht</key>
	<array>
		<string>🎄</string>
		<string>🎁</string>
	</array>
	<key>friedenszeichen</key>
	<array>
		<string>✌️</string>
	</array>
	<key>victory-zeichen</key>
	<array>
		<string>✌️</string>
	</array>
	<key>peace</key>
	<array>
		<string>✌️</string>
	</array>
	<key>daumen runter</key>
	<array>
		<string>👎</string>
	</array>
	<key>abgelehnt</key>
	<array>
		<string>👎</string>
	</array>
	<key>nein</key>
	<array>
		<string>👎</string>
	</array>
	<key>bin dagegen</key>
	<array>
		<string>👎</string>
	</array>
	<key>daumen hoch</key>
	<array>
		<string>👍</string>
	</array>
	<key>bravo</key>
	<array>
		<string>👍</string>
	</array>
	<key>ja</key>
	<array>
		<string>👍</string>
	</array>
	<key>bin dafür</key>
	<array>
		<string>👍</string>
	</array>
	<key>super</key>
	<array>
		<string>👍</string>
	</array>
	<key>ich liebe dich</key>
	<array>
		<string>❤️</string>
		<string>💕</string>
		<string>😘</string>
	</array>
	<key>ich hab dich lieb</key>
	<array>
		<string>❤️</string>
		<string>💕</string>
		<string>😘</string>
	</array>
	<key>ich habe dich lieb</key>
	<array>
		<string>❤️</string>
		<string>💕</string>
		<string>😘</string>
	</array>
	<key>viel glück</key>
	<array>
		<string>🍀</string>
		<string>👍</string>
	</array>
	<key>viel erfolg</key>
	<array>
		<string>🍀</string>
		<string>👍</string>
	</array>
	<key>alles gute</key>
	<array>
		<string>🍀</string>
		<string>👍</string>
	</array>
	<key>ich drück dir die daumen</key>
	<array>
		<string>🍀</string>
		<string>👍</string>
	</array>
	<key>herrlicher strandtag</key>
	<array>
		<string>🏖</string>
		<string>👙</string>
		<string>⛱</string>
		<string>🌊</string>
		<string>😎</string>
	</array>
	<key>toller strandtag</key>
	<array>
		<string>🏖</string>
		<string>👙</string>
		<string>⛱</string>
		<string>🌊</string>
		<string>😎</string>
	</array>
	<key>super strandtag</key>
	<array>
		<string>🏖</string>
		<string>👙</string>
		<string>⛱</string>
		<string>🌊</string>
		<string>😎</string>
	</array>
	<key>schöner strandtag</key>
	<array>
		<string>🏖</string>
		<string>👙</string>
		<string>⛱</string>
		<string>🌊</string>
		<string>😎</string>
	</array>
	<key>ein herrlicher tag am strand</key>
	<array>
		<string>🏖</string>
		<string>👙</string>
		<string>⛱</string>
		<string>🌊</string>
		<string>😎</string>
	</array>
	<key>ein toller tag am strand</key>
	<array>
		<string>🏖</string>
		<string>👙</string>
		<string>⛱</string>
		<string>🌊</string>
		<string>😎</string>
	</array>
	<key>ein super tag am strand</key>
	<array>
		<string>🏖</string>
		<string>👙</string>
		<string>⛱</string>
		<string>🌊</string>
		<string>😎</string>
	</array>
	<key>ein schöner tag am strand</key>
	<array>
		<string>🏖</string>
		<string>👙</string>
		<string>⛱</string>
		<string>🌊</string>
		<string>😎</string>
	</array>
	<key>ein schöner tag für den strand</key>
	<array>
		<string>🏖</string>
		<string>👙</string>
		<string>⛱</string>
		<string>🌊</string>
		<string>😎</string>
	</array>
	<key>ich denk an dich</key>
	<array>
		<string>💭</string>
		<string>🙂</string>
	</array>
	<key>ich denke an dich</key>
	<array>
		<string>💭</string>
		<string>🙂</string>
	</array>
	<key>du fehlst mir</key>
	<array>
		<string>😞</string>
		<string>😔</string>
	</array>
	<key>ich vermiss dich</key>
	<array>
		<string>😞</string>
		<string>😔</string>
	</array>
	<key>ich vermisse dich</key>
	<array>
		<string>😞</string>
		<string>😔</string>
	</array>
	<key>Ich freu mich dich zu sehen</key>
	<array>
		<string>😍</string>
		<string>💕</string>
		<string>💋</string>
		<string>💙</string>
	</array>
	<key>ich freu mich auf dich</key>
	<array>
		<string>😍</string>
		<string>💕</string>
		<string>💋</string>
		<string>💙</string>
	</array>
	<key>ich freue mich auf dich</key>
	<array>
		<string>😍</string>
		<string>💕</string>
		<string>💋</string>
		<string>💙</string>
	</array>
	<key>ich freu mich aufs wiedersehen</key>
	<array>
		<string>😍</string>
		<string>💕</string>
		<string>💋</string>
		<string>💙</string>
	</array>
	<key>alles klar</key>
	<array>
		<string>👌</string>
	</array>
	<key>klingt gut</key>
	<array>
		<string>👌</string>
	</array>
	<key>ok</key>
	<array>
		<string>👌</string>
	</array>
	<key>passt so</key>
	<array>
		<string>👌</string>
	</array>
	<key>glückwunsch</key>
	<array>
		<string>🎊</string>
		<string>🎉</string>
		<string>🎈</string>
		<string>🍾</string>
	</array>
	<key>glückwünsche</key>
	<array>
		<string>🎊</string>
		<string>🎉</string>
		<string>🎈</string>
		<string>🍾</string>
	</array>
	<key>ich gratuliere</key>
	<array>
		<string>🎊</string>
		<string>🎉</string>
		<string>🎈</string>
		<string>🍾</string>
	</array>
	<key>gratuliere</key>
	<array>
		<string>🎊</string>
		<string>🎉</string>
		<string>🎈</string>
		<string>🍾</string>
	</array>
	<key>gratulation</key>
	<array>
		<string>🎊</string>
		<string>🎉</string>
		<string>🎈</string>
		<string>🍾</string>
	</array>
	<key>guten abend</key>
	<array>
		<string>🌇</string>
		<string>🌆</string>
	</array>
	<key>schönen abend</key>
	<array>
		<string>🌇</string>
		<string>🌆</string>
	</array>
	<key>n&apos;abend</key>
	<array>
		<string>🌇</string>
		<string>🌆</string>
	</array>
	<key>guten tag</key>
	<array>
		<string>🌞</string>
		<string>😃</string>
	</array>
	<key>schönen nachmittag</key>
	<array>
		<string>🌞</string>
		<string>😃</string>
	</array>
	<key>guten morgen</key>
	<array>
		<string>🌞</string>
		<string>☀️</string>
		<string>😃</string>
	</array>
	<key>gute nacht</key>
	<array>
		<string>😴</string>
		<string>😘</string>
		<string>💤</string>
		<string>🌙</string>
	</array>
	<key>schlaf gut</key>
	<array>
		<string>😴</string>
		<string>😘</string>
		<string>💤</string>
		<string>🌙</string>
	</array>
	<key>gute nacht und träum was schönes</key>
	<array>
		<string>😴</string>
		<string>😘</string>
		<string>💤</string>
		<string>🌙</string>
	</array>
	<key>gute nacht und schöne träume</key>
	<array>
		<string>😴</string>
		<string>😘</string>
		<string>💤</string>
		<string>🌙</string>
	</array>
	<key>gute nacht und süße träume</key>
	<array>
		<string>😴</string>
		<string>😘</string>
		<string>💤</string>
		<string>🌙</string>
	</array>
	<key>gute nacht und schlaf gut</key>
	<array>
		<string>😴</string>
		<string>😘</string>
		<string>💤</string>
		<string>🌙</string>
	</array>
	<key>gute nacht und schlaf schnell ein</key>
	<array>
		<string>😴</string>
		<string>😘</string>
		<string>💤</string>
		<string>🌙</string>
	</array>
	<key>herzlichen glückwunsch zum geburtstag</key>
	<array>
		<string>🎂</string>
		<string>🎁</string>
		<string>🎊</string>
		<string>🎈</string>
		<string>🎉</string>
	</array>
	<key>herzliche glückwünsche zum geburtstag</key>
	<array>
		<string>🎂</string>
		<string>🎈</string>
		<string>🎁</string>
		<string>🎊</string>
		<string>🎉</string>
	</array>
	<key>alles gute zum geburtstag</key>
	<array>
		<string>🎂</string>
		<string>🎈</string>
		<string>🎁</string>
		<string>🎊</string>
		<string>🎉</string>
	</array>
	<key>alles liebe zum geburtstag</key>
	<array>
		<string>🎂</string>
		<string>🎈</string>
		<string>🎁</string>
		<string>🎊</string>
		<string>🎉</string>
	</array>
	<key>frohes neues jahr</key>
	<array>
		<string>🎆</string>
		<string>🎈</string>
		<string>🎊</string>
	</array>
	<key>prost neujahr</key>
	<array>
		<string>🎆</string>
		<string>🎈</string>
		<string>🎊</string>
	</array>
	<key>prosit neujahr</key>
	<array>
		<string>🎆</string>
		<string>🎈</string>
		<string>🎊</string>
	</array>
	<key>guten rutsch</key>
	<array>
		<string>🎆</string>
		<string>🎈</string>
		<string>🎊</string>
	</array>
	<key>frohes neues</key>
	<array>
		<string>🎆</string>
		<string>🎈</string>
		<string>🎊</string>
	</array>
</dict>
</plist>
