<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>happy easter</key>
	<array>
		<string>🐰</string>
		<string>🐇</string>
		<string>🐣</string>
	</array>
	<key>happy fathers day</key>
	<array>
		<string>👨</string>
	</array>
	<key>happy father&apos;s day</key>
	<array>
		<string>👨</string>
	</array>
	<key>happy mothers day</key>
	<array>
		<string>👩</string>
	</array>
	<key>happy mother&apos;s day</key>
	<array>
		<string>👩</string>
	</array>
	<key>merry christmas</key>
	<array>
		<string>🎄</string>
		<string>🎁</string>
	</array>
	<key>happy thanksgiving</key>
	<array>
		<string>🦃</string>
		<string>🍽</string>
		<string>🍁</string>
	</array>
	<key>peace out</key>
	<array>
		<string>✌️</string>
	</array>
	<key>thumbs down</key>
	<array>
		<string>👎</string>
	</array>
	<key>thumbs up</key>
	<array>
		<string>👍</string>
	</array>
	<key>i love you</key>
	<array>
		<string>❤️</string>
		<string>💕</string>
		<string>😘</string>
	</array>
	<key>good luck</key>
	<array>
		<string>🍀</string>
		<string>👍</string>
	</array>
	<key>perfect beach day</key>
	<array>
		<string>🏖</string>
		<string>👙</string>
		<string>⛱</string>
		<string>🌊</string>
		<string>😎</string>
	</array>
	<key>lovely beach day</key>
	<array>
		<string>🏖</string>
		<string>👙</string>
		<string>⛱</string>
		<string>🌊</string>
		<string>😎</string>
	</array>
	<key>thinking of you</key>
	<array>
		<string>💭</string>
		<string>🙂</string>
	</array>
	<key>missing you</key>
	<array>
		<string>😞</string>
		<string>😔</string>
	</array>
	<key>can&apos;t wait to see you</key>
	<array>
		<string>😍</string>
		<string>💕</string>
		<string>💋</string>
		<string>💙</string>
	</array>
	<key>cannot wait to see you</key>
	<array>
		<string>😍</string>
		<string>💕</string>
		<string>💋</string>
		<string>💙</string>
	</array>
	<key>sounds good</key>
	<array>
		<string>👌</string>
	</array>
	<key>congratulations</key>
	<array>
		<string>🎊</string>
		<string>🎉</string>
		<string>🎈</string>
		<string>🍾</string>
	</array>
	<key>congrats</key>
	<array>
		<string>🎊</string>
		<string>🎉</string>
		<string>🎈</string>
		<string>🍾</string>
	</array>
	<key>good evening</key>
	<array>
		<string>🌇</string>
		<string>🌆</string>
	</array>
	<key>good afternoon</key>
	<array>
		<string>🌞</string>
		<string>😃</string>
	</array>
	<key>good morning</key>
	<array>
		<string>🌞</string>
		<string>☀️</string>
		<string>😃</string>
	</array>
	<key>good night</key>
	<array>
		<string>😴</string>
		<string>😘</string>
		<string>💤</string>
		<string>🌙</string>
	</array>
	<key>goodnight sweet dreams</key>
	<array>
		<string>😴</string>
		<string>😘</string>
		<string>💤</string>
		<string>🌙</string>
	</array>
	<key>good night sweet dreams</key>
	<array>
		<string>😴</string>
		<string>😘</string>
		<string>💤</string>
		<string>🌙</string>
	</array>
	<key>goodnight sleep tight</key>
	<array>
		<string>😴</string>
		<string>😘</string>
		<string>💤</string>
		<string>🌙</string>
	</array>
	<key>good night sleep tight</key>
	<array>
		<string>😴</string>
		<string>😘</string>
		<string>💤</string>
		<string>🌙</string>
	</array>
	<key>goodnight</key>
	<array>
		<string>😴</string>
		<string>😘</string>
		<string>💤</string>
		<string>🌙</string>
	</array>
	<key>happy birth day</key>
	<array>
		<string>🎂</string>
		<string>🎁</string>
		<string>🎊</string>
		<string>🎈</string>
		<string>🎉</string>
	</array>
	<key>happy birthday</key>
	<array>
		<string>🎂</string>
		<string>🎈</string>
		<string>🎁</string>
		<string>🎊</string>
		<string>🎉</string>
	</array>
	<key>happy new year</key>
	<array>
		<string>🎆</string>
		<string>🎈</string>
		<string>🎊</string>
	</array>
</dict>
</plist>
