<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>feliz día del padre</key>
	<array>
		<string>👨</string>
	</array>
	<key>feliz día de la madre</key>
	<array>
		<string>👩</string>
	</array>
	<key>feliz navidad</key>
	<array>
		<string>🎄</string>
		<string>🎁</string>
	</array>
	<key>felices fiestas</key>
	<array>
		<string>🎄</string>
		<string>🎁</string>
	</array>
	<key>navidad</key>
	<array>
		<string>🎄</string>
		<string>🎁</string>
	</array>
	<key>papá noel</key>
	<array>
		<string>🎄</string>
		<string>🎁</string>
	</array>
	<key>es navidad</key>
	<array>
		<string>🎄</string>
		<string>🎁</string>
	</array>
	<key>nos vemos</key>
	<array>
		<string>👋</string>
	</array>
	<key>hasta luego</key>
	<array>
		<string>👋</string>
	</array>
	<key>adiós</key>
	<array>
		<string>👋</string>
	</array>
	<key>chao</key>
	<array>
		<string>👋</string>
	</array>
	<key>hasta más ver</key>
	<array>
		<string>👋</string>
	</array>
	<key>no</key>
	<array>
		<string>👎</string>
	</array>
	<key>de acuerdo</key>
	<array>
		<string>👍</string>
	</array>
	<key>me parece bien</key>
	<array>
		<string>👌</string>
	</array>
	<key>sí</key>
	<array>
		<string>👍</string>
	</array>
	<key>vale</key>
	<array>
		<string>👍</string>
	</array>
	<key>va</key>
	<array>
		<string>👍</string>
	</array>
	<key>te quiero</key>
	<array>
		<string>❤️</string>
		<string>💕</string>
		<string>😘</string>
	</array>
	<key>te quiero mucho</key>
	<array>
		<string>❤️</string>
		<string>💕</string>
		<string>😘</string>
	</array>
	<key>buena suerte</key>
	<array>
		<string>🍀</string>
		<string>👍</string>
	</array>
	<key>mucha suerte</key>
	<array>
		<string>🍀</string>
		<string>👍</string>
	</array>
	<key>suerte</key>
	<array>
		<string>🍀</string>
		<string>👍</string>
	</array>
	<key>pensando en ti</key>
	<array>
		<string>💭</string>
		<string>🙂</string>
	</array>
	<key>acordándome de ti</key>
	<array>
		<string>💭</string>
		<string>🙂</string>
	</array>
	<key>me acuerdo de ti</key>
	<array>
		<string>💭</string>
		<string>🙂</string>
	</array>
	<key>te echo de menos</key>
	<array>
		<string>😞</string>
		<string>😔</string>
	</array>
	<key>te extraño</key>
	<array>
		<string>😞</string>
		<string>😔</string>
	</array>
	<key>qué ganas de verte</key>
	<array>
		<string>😍</string>
		<string>💕</string>
		<string>💋</string>
		<string>💙</string>
	</array>
	<key>tengo ganas de verte</key>
	<array>
		<string>😍</string>
		<string>💕</string>
		<string>💋</string>
		<string>💙</string>
	</array>
	<key>tengo muchas ganas de verte</key>
	<array>
		<string>😍</string>
		<string>💕</string>
		<string>💋</string>
		<string>💙</string>
	</array>
	<key>ok</key>
	<array>
		<string>👌</string>
	</array>
	<key>enhorabuena</key>
	<array>
		<string>🎊</string>
		<string>🎉</string>
		<string>🎈</string>
		<string>🍾</string>
	</array>
	<key>felicidades</key>
	<array>
		<string>🎊</string>
		<string>🎉</string>
		<string>🎈</string>
		<string>🍾</string>
	</array>
	<key>buenas tardes</key>
	<array>
		<string>🌞</string>
		<string>😃</string>
	</array>
	<key>buenos días</key>
	<array>
		<string>🌞</string>
		<string>☀️</string>
		<string>😃</string>
	</array>
	<key>buenas noches</key>
	<array>
		<string>😴</string>
		<string>😘</string>
		<string>💤</string>
		<string>🌙</string>
	</array>
	<key>buenas noches y dulces sueños</key>
	<array>
		<string>😴</string>
		<string>😘</string>
		<string>💤</string>
		<string>🌙</string>
	</array>
	<key>buenas noches que descanses</key>
	<array>
		<string>😴</string>
		<string>😘</string>
		<string>💤</string>
		<string>🌙</string>
	</array>
	<key>buenas noches que duermas bien</key>
	<array>
		<string>😴</string>
		<string>😘</string>
		<string>💤</string>
		<string>🌙</string>
	</array>
	<key>feliz cumpleaños</key>
	<array>
		<string>🎂</string>
		<string>🎁</string>
		<string>🎊</string>
		<string>🎈</string>
		<string>🎉</string>
	</array>
	<key>feliz cumple</key>
	<array>
		<string>🎂</string>
		<string>🎈</string>
		<string>🎁</string>
		<string>🎊</string>
		<string>🎉</string>
	</array>
	<key>feliz año nuevo</key>
	<array>
		<string>🎆</string>
		<string>🎈</string>
		<string>🎊</string>
	</array>
	<key>feliz año</key>
	<array>
		<string>🎆</string>
		<string>🎈</string>
		<string>🎊</string>
	</array>
	<key>feliz día de acción de gracias</key>
	<array>
		<string>🦃</string>
		<string>🍽</string>
		<string>🍁</string>
	</array>
</dict>
</plist>
