<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>feliz día del padre</key>
	<array>
		<string>👨</string>
	</array>
	<key>felicidades papá</key>
	<array>
		<string>👨</string>
	</array>
	<key>feliz día de las madres</key>
	<array>
		<string>👩</string>
	</array>
	<key>felicidades mamá</key>
	<array>
		<string>👩</string>
	</array>
	<key>feliz navidad</key>
	<array>
		<string>🎄</string>
		<string>🎁</string>
	</array>
	<key>amor y paz</key>
	<array>
		<string>✌️</string>
	</array>
	<key>paz</key>
	<array>
		<string>✌️</string>
	</array>
	<key>mal</key>
	<array>
		<string>👎</string>
	</array>
	<key>no</key>
	<array>
		<string>👎</string>
	</array>
	<key>bien</key>
	<array>
		<string>👍</string>
	</array>
	<key>sí</key>
	<array>
		<string>👍</string>
	</array>
	<key>ok</key>
	<array>
		<string>👍</string>
	</array>
	<key>te quiero</key>
	<array>
		<string>❤️</string>
		<string>💕</string>
		<string>😘</string>
	</array>
	<key>te amo</key>
	<array>
		<string>❤️</string>
		<string>💕</string>
		<string>😘</string>
	</array>
	<key>buena suerte</key>
	<array>
		<string>🍀</string>
		<string>👍</string>
	</array>
	<key>suerte</key>
	<array>
		<string>🍀</string>
		<string>👍</string>
	</array>
	<key>un día perfecto en la playa</key>
	<array>
		<string>🏖</string>
		<string>👙</string>
		<string>⛱</string>
		<string>🌊</string>
		<string>😎</string>
	</array>
	<key>disfrutando de la playa</key>
	<array>
		<string>🏖</string>
		<string>👙</string>
		<string>⛱</string>
		<string>🌊</string>
		<string>😎</string>
	</array>
	<key>disfrutando la playa</key>
	<array>
		<string>🏖</string>
		<string>👙</string>
		<string>⛱</string>
		<string>🌊</string>
		<string>😎</string>
	</array>
	<key>me encanta la playa</key>
	<array>
		<string>🏖</string>
		<string>👙</string>
		<string>⛱</string>
		<string>🌊</string>
		<string>😎</string>
	</array>
	<key>pensando en ti</key>
	<array>
		<string>💭</string>
		<string>🙂</string>
	</array>
	<key>me acordé de ti</key>
	<array>
		<string>💭</string>
		<string>🙂</string>
	</array>
	<key>estaba pensando en ti</key>
	<array>
		<string>💭</string>
		<string>🙂</string>
	</array>
	<key>te extraño</key>
	<array>
		<string>😞</string>
		<string>😔</string>
	</array>
	<key>me haces falta</key>
	<array>
		<string>😞</string>
		<string>😔</string>
	</array>
	<key>ya quiero verte</key>
	<array>
		<string>😍</string>
		<string>💕</string>
		<string>💋</string>
		<string>💙</string>
	</array>
	<key>me muero por verte</key>
	<array>
		<string>😍</string>
		<string>💕</string>
		<string>💋</string>
		<string>💙</string>
	</array>
	<key>qué ganas de verte</key>
	<array>
		<string>😍</string>
		<string>💕</string>
		<string>💋</string>
		<string>💙</string>
	</array>
	<key>ya no puedo esperar a verte</key>
	<array>
		<string>😍</string>
		<string>💕</string>
		<string>💋</string>
		<string>💙</string>
	</array>
	<key>no puedo esperar a verte</key>
	<array>
		<string>😍</string>
		<string>💕</string>
		<string>💋</string>
		<string>💙</string>
	</array>
	<key>qué bien</key>
	<array>
		<string>👌</string>
	</array>
	<key>suena bien</key>
	<array>
		<string>👌</string>
	</array>
	<key>felicidades</key>
	<array>
		<string>🎊</string>
		<string>🎉</string>
		<string>🎈</string>
		<string>🍾</string>
	</array>
	<key>felicitaciones</key>
	<array>
		<string>🎊</string>
		<string>🎉</string>
		<string>🎈</string>
		<string>🍾</string>
	</array>
	<key>buenas tardes</key>
	<array>
		<string>🌞</string>
		<string>😃</string>
	</array>
	<key>buena tarde</key>
	<array>
		<string>🌞</string>
		<string>😃</string>
	</array>
	<key>buenos días</key>
	<array>
		<string>🌞</string>
		<string>☀️</string>
		<string>😃</string>
	</array>
	<key>buen día</key>
	<array>
		<string>🌞</string>
		<string>☀️</string>
		<string>😃</string>
	</array>
	<key>buenas noches</key>
	<array>
		<string>😴</string>
		<string>😘</string>
		<string>💤</string>
		<string>🌙</string>
	</array>
	<key>hasta mañana</key>
	<array>
		<string>😴</string>
		<string>😘</string>
		<string>💤</string>
		<string>🌙</string>
	</array>
	<key>buena noche</key>
	<array>
		<string>😴</string>
		<string>😘</string>
		<string>💤</string>
		<string>🌙</string>
	</array>
	<key>buenas noches dulces sueños</key>
	<array>
		<string>😴</string>
		<string>😘</string>
		<string>💤</string>
		<string>🌙</string>
	</array>
	<key>hasta mañana dulces sueños</key>
	<array>
		<string>😴</string>
		<string>😘</string>
		<string>💤</string>
		<string>🌙</string>
	</array>
	<key>buena noche dulces sueños</key>
	<array>
		<string>😴</string>
		<string>😘</string>
		<string>💤</string>
		<string>🌙</string>
	</array>
	<key>buenas noches que tengas dulces sueños</key>
	<array>
		<string>😴</string>
		<string>😘</string>
		<string>💤</string>
		<string>🌙</string>
	</array>
	<key>hasta mañana que tengas dulces sueños</key>
	<array>
		<string>😴</string>
		<string>😘</string>
		<string>💤</string>
		<string>🌙</string>
	</array>
	<key>buenas noches que descanses</key>
	<array>
		<string>😴</string>
		<string>😘</string>
		<string>💤</string>
		<string>🌙</string>
	</array>
	<key>hasta mañana que descanses</key>
	<array>
		<string>😴</string>
		<string>😘</string>
		<string>💤</string>
		<string>🌙</string>
	</array>
	<key>buena noche que descanses</key>
	<array>
		<string>😴</string>
		<string>😘</string>
		<string>💤</string>
		<string>🌙</string>
	</array>
	<key>feliz cumpleaños</key>
	<array>
		<string>🎂</string>
		<string>🎁</string>
		<string>🎊</string>
		<string>🎈</string>
		<string>🎉</string>
	</array>
	<key>feliz cumple</key>
	<array>
		<string>🎂</string>
		<string>🎈</string>
		<string>🎁</string>
		<string>🎊</string>
		<string>🎉</string>
	</array>
	<key>feliz año nuevo</key>
	<array>
		<string>🎆</string>
		<string>🎈</string>
		<string>🎊</string>
	</array>
	<key>feliz año</key>
	<array>
		<string>🎆</string>
		<string>🎈</string>
		<string>🎊</string>
	</array>
	<key>feliz día de acción de gracias</key>
	<array>
		<string>🦃</string>
		<string>🍽</string>
		<string>🍁</string>
	</array>
</dict>
</plist>
