<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bonne fête des pères</key>
	<array>
		<string>👨</string>
	</array>
	<key>bonne fête papa</key>
	<array>
		<string>👨</string>
	</array>
	<key>bonne fête des mères</key>
	<array>
		<string>👩</string>
	</array>
	<key>bonne fête maman</key>
	<array>
		<string>👩</string>
	</array>
	<key>joyeux noël</key>
	<array>
		<string>🎄</string>
		<string>🎁</string>
	</array>
	<key>joyeuses pâques</key>
	<array>
		<string>🐣</string>
		<string>🐇</string>
		<string>🐓</string>
	</array>
	<key>victoire</key>
	<array>
		<string>✌️</string>
	</array>
	<key>la classe</key>
	<array>
		<string>✌️</string>
	</array>
	<key>trop fort</key>
	<array>
		<string>✌️</string>
	</array>
	<key>bien joué</key>
	<array>
		<string>✌️</string>
	</array>
	<key>tu as assuré</key>
	<array>
		<string>✌️</string>
	</array>
	<key>tu assures</key>
	<array>
		<string>✌️</string>
	</array>
	<key>nul</key>
	<array>
		<string>👎</string>
	</array>
	<key>c&apos;était nul</key>
	<array>
		<string>👎</string>
	</array>
	<key>c&apos;est nul</key>
	<array>
		<string>👎</string>
	</array>
	<key>c&apos;était vraiment nul</key>
	<array>
		<string>👎</string>
	</array>
	<key>c&apos;est vraiment nul</key>
	<array>
		<string>👎</string>
	</array>
	<key>trop nul</key>
	<array>
		<string>👎</string>
	</array>
	<key>c&apos;était zéro</key>
	<array>
		<string>👎</string>
	</array>
	<key>c&apos;est zéro</key>
	<array>
		<string>👎</string>
	</array>
	<key>ce n&apos;était pas bien</key>
	<array>
		<string>👎</string>
	</array>
	<key>c&apos;était mauvais</key>
	<array>
		<string>👎</string>
	</array>
	<key>c&apos;était très mauvais</key>
	<array>
		<string>👎</string>
	</array>
	<key>minable</key>
	<array>
		<string>👎</string>
	</array>
	<key>c&apos;était minable</key>
	<array>
		<string>👎</string>
	</array>
	<key>lamentable</key>
	<array>
		<string>👎</string>
	</array>
	<key>c&apos;est lamentable</key>
	<array>
		<string>👎</string>
	</array>
	<key>pourri</key>
	<array>
		<string>👎</string>
	</array>
	<key>c&apos;était pourri</key>
	<array>
		<string>👎</string>
	</array>
	<key>c&apos;est pourri</key>
	<array>
		<string>👎</string>
	</array>
	<key>je n&apos;aime pas</key>
	<array>
		<string>👎</string>
	</array>
	<key>je déteste</key>
	<array>
		<string>👎</string>
	</array>
	<key>je n&apos;ai pas aimé</key>
	<array>
		<string>👎</string>
	</array>
	<key>j&apos;ai détesté</key>
	<array>
		<string>👎</string>
	</array>
	<key>je n&apos;ai pas du tout aimé</key>
	<array>
		<string>👎</string>
	</array>
	<key>je n&apos;aime pas du tout</key>
	<array>
		<string>👎</string>
	</array>
	<key>super</key>
	<array>
		<string>👍</string>
	</array>
	<key>d&apos;accord</key>
	<array>
		<string>👍</string>
	</array>
	<key>parfait</key>
	<array>
		<string>👍</string>
	</array>
	<key>bonne idée</key>
	<array>
		<string>👍</string>
	</array>
	<key>génial</key>
	<array>
		<string>👍</string>
	</array>
	<key>c&apos;est bien</key>
	<array>
		<string>👍</string>
	</array>
	<key>cool</key>
	<array>
		<string>👍</string>
	</array>
	<key>trop bien</key>
	<array>
		<string>👍</string>
	</array>
	<key>trop cool</key>
	<array>
		<string>👍</string>
	</array>
	<key>j&apos;aime</key>
	<array>
		<string>👍</string>
	</array>
	<key>j&apos;aime bien</key>
	<array>
		<string>👍</string>
	</array>
	<key>j&apos;adore</key>
	<array>
		<string>👍</string>
	</array>
	<key>je t&apos;aime</key>
	<array>
		<string>❤️</string>
		<string>💕</string>
		<string>😘</string>
	</array>
	<key>bonne chance</key>
	<array>
		<string>🍀</string>
		<string>👍</string>
	</array>
	<key>un vrai temps de plage</key>
	<array>
		<string>🏖</string>
		<string>👙</string>
		<string>⛱</string>
		<string>🌊</string>
		<string>😎</string>
	</array>
	<key>je vais à la plage</key>
	<array>
		<string>🏖</string>
		<string>👙</string>
		<string>⛱</string>
		<string>🌊</string>
		<string>😎</string>
	</array>
	<key>je suis à la plage</key>
	<array>
		<string>🏖</string>
		<string>👙</string>
		<string>⛱</string>
		<string>🌊</string>
		<string>😎</string>
	</array>
	<key>je suis en train de bronzer</key>
	<array>
		<string>🏖</string>
		<string>👙</string>
		<string>⛱</string>
		<string>🌊</string>
		<string>😎</string>
	</array>
	<key>je vais aller bronzer</key>
	<array>
		<string>🏖</string>
		<string>👙</string>
		<string>⛱</string>
		<string>🌊</string>
		<string>😎</string>
	</array>
	<key>belle journée plage</key>
	<array>
		<string>🏖</string>
		<string>👙</string>
		<string>⛱</string>
		<string>🌊</string>
		<string>😎</string>
	</array>
	<key>belle journée à la plage</key>
	<array>
		<string>🏖</string>
		<string>👙</string>
		<string>⛱</string>
		<string>🌊</string>
		<string>😎</string>
	</array>
	<key>j&apos;irais bien à la plage</key>
	<array>
		<string>🏖</string>
		<string>👙</string>
		<string>⛱</string>
		<string>🌊</string>
		<string>😎</string>
	</array>
	<key>j&apos;ai envie d&apos;aller à la plage</key>
	<array>
		<string>🏖</string>
		<string>👙</string>
		<string>⛱</string>
		<string>🌊</string>
		<string>😎</string>
	</array>
	<key>allons à la plage</key>
	<array>
		<string>🏖</string>
		<string>👙</string>
		<string>⛱</string>
		<string>🌊</string>
		<string>😎</string>
	</array>
	<key>journée de plage magnifique</key>
	<array>
		<string>🏖</string>
		<string>👙</string>
		<string>⛱</string>
		<string>🌊</string>
		<string>😎</string>
	</array>
	<key>je pense à toi</key>
	<array>
		<string>💭</string>
		<string>🙂</string>
	</array>
	<key>je pense bien à toi</key>
	<array>
		<string>💭</string>
		<string>🙂</string>
	</array>
	<key>je pense à toi bien fort</key>
	<array>
		<string>💭</string>
		<string>🙂</string>
	</array>
	<key>je pense à toi très fort</key>
	<array>
		<string>💭</string>
		<string>🙂</string>
	</array>
	<key>tu me manques</key>
	<array>
		<string>😞</string>
		<string>😔</string>
	</array>
	<key>tu me manques beaucoup</key>
	<array>
		<string>😞</string>
		<string>😔</string>
	</array>
	<key>tu me manques trop</key>
	<array>
		<string>😞</string>
		<string>😔</string>
	</array>
	<key>j&apos;ai hâte de te voir</key>
	<array>
		<string>😍</string>
		<string>💕</string>
		<string>💋</string>
		<string>💙</string>
	</array>
	<key>j&apos;ai envie de te voir</key>
	<array>
		<string>😍</string>
		<string>💕</string>
		<string>💋</string>
		<string>💙</string>
	</array>
	<key>j&apos;ai trop hâte de te voir</key>
	<array>
		<string>😍</string>
		<string>💕</string>
		<string>💋</string>
		<string>💙</string>
	</array>
	<key>vivement qu&apos;on se voit</key>
	<array>
		<string>😍</string>
		<string>💕</string>
		<string>💋</string>
		<string>💙</string>
	</array>
	<key>excellent</key>
	<array>
		<string>👌</string>
	</array>
	<key>nickel</key>
	<array>
		<string>👌</string>
	</array>
	<key>ça marche</key>
	<array>
		<string>👌</string>
	</array>
	<key>félicitations</key>
	<array>
		<string>🎊</string>
		<string>🎉</string>
		<string>🎈</string>
		<string>🍾</string>
	</array>
	<key>bravo</key>
	<array>
		<string>🎊</string>
		<string>🎉</string>
		<string>🎈</string>
		<string>🍾</string>
	</array>
	<key>bonsoir</key>
	<array>
		<string>🌇</string>
		<string>🌆</string>
	</array>
	<key>bonne soirée</key>
	<array>
		<string>🌇</string>
		<string>🌆</string>
	</array>
	<key>bon après-midi</key>
	<array>
		<string>🌞</string>
		<string>😃</string>
	</array>
	<key>bonne matinée</key>
	<array>
		<string>🌞</string>
		<string>☀️</string>
		<string>😃</string>
	</array>
	<key>bonne nuit</key>
	<array>
		<string>😴</string>
		<string>😘</string>
		<string>💤</string>
		<string>🌙</string>
	</array>
	<key>fais de beaux rêves</key>
	<array>
		<string>😴</string>
		<string>😘</string>
		<string>💤</string>
		<string>🌙</string>
	</array>
	<key>douce nuit</key>
	<array>
		<string>😴</string>
		<string>😘</string>
		<string>💤</string>
		<string>🌙</string>
	</array>
	<key>dors bien</key>
	<array>
		<string>😴</string>
		<string>😘</string>
		<string>💤</string>
		<string>🌙</string>
	</array>
	<key>bon dodo</key>
	<array>
		<string>😴</string>
		<string>😘</string>
		<string>💤</string>
		<string>🌙</string>
	</array>
	<key>bon anniversaire</key>
	<array>
		<string>🎂</string>
		<string>🎁</string>
		<string>🎊</string>
		<string>🎈</string>
		<string>🎉</string>
	</array>
	<key>joyeux anniversaire</key>
	<array>
		<string>🎂</string>
		<string>🎈</string>
		<string>🎁</string>
		<string>🎊</string>
		<string>🎉</string>
	</array>
	<key>bonne année</key>
	<array>
		<string>🎆</string>
		<string>🎈</string>
		<string>🎊</string>
	</array>
</dict>
</plist>
