<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buon ferragosto</key>
	<array>
		<string>😎</string>
		<string>⛱</string>
	</array>
	<key>buone vacanze</key>
	<array>
		<string>😎</string>
		<string>🏖</string>
		<string>⛰</string>
	</array>
	<key>buona festa del papà</key>
	<array>
		<string>👨</string>
	</array>
	<key>buona festa della mamma</key>
	<array>
		<string>👩</string>
	</array>
	<key>buon natale</key>
	<array>
		<string>🎄</string>
		<string>🎁</string>
		<string>💫</string>
	</array>
	<key>buona festa del ringraziamento</key>
	<array>
		<string>🦃</string>
		<string>🍽</string>
		<string>🍁</string>
	</array>
	<key>vittoria</key>
	<array>
		<string>✌️</string>
	</array>
	<key>pace e amore</key>
	<array>
		<string>✌️</string>
	</array>
	<key>viva</key>
	<array>
		<string>✌️</string>
	</array>
	<key>non mi piace</key>
	<array>
		<string>👎</string>
	</array>
	<key>no</key>
	<array>
		<string>👎</string>
	</array>
	<key>ok</key>
	<array>
		<string>👍</string>
		<string>👌</string>
	</array>
	<key>mi piace</key>
	<array>
		<string>👍</string>
	</array>
	<key>ti amo</key>
	<array>
		<string>❤️</string>
		<string>💕</string>
		<string>😘</string>
	</array>
	<key>in bocca al lupo</key>
	<array>
		<string>🍀</string>
		<string>👍</string>
	</array>
	<key>buona fortuna</key>
	<array>
		<string>🍀</string>
		<string>👍</string>
	</array>
	<key>giornata perfetta per andare in spiaggia</key>
	<array>
		<string>🏖</string>
		<string>👙</string>
		<string>⛱</string>
		<string>🌊</string>
		<string>😎</string>
	</array>
	<key>giornata perfetta per andare al mare</key>
	<array>
		<string>🏖</string>
		<string>👙</string>
		<string>⛱</string>
		<string>🌊</string>
		<string>😎</string>
	</array>
	<key>giornata perfetta per la spiaggia</key>
	<array>
		<string>🏖</string>
		<string>👙</string>
		<string>⛱</string>
		<string>🌊</string>
		<string>😎</string>
	</array>
	<key>giornata perfetta per stare in spiaggia</key>
	<array>
		<string>🏖</string>
		<string>👙</string>
		<string>⛱</string>
		<string>🌊</string>
		<string>😎</string>
	</array>
	<key>giornata in spiaggia meravigliosa</key>
	<array>
		<string>🏖</string>
		<string>👙</string>
		<string>⛱</string>
		<string>🌊</string>
		<string>😎</string>
	</array>
	<key>ti penso</key>
	<array>
		<string>💭</string>
		<string>🙂</string>
	</array>
	<key>ti sto pensando</key>
	<array>
		<string>💭</string>
		<string>🙂</string>
	</array>
	<key>ti penso forte</key>
	<array>
		<string>💭</string>
		<string>🙂</string>
	</array>
	<key>ti penso tanto</key>
	<array>
		<string>💭</string>
		<string>🙂</string>
	</array>
	<key>mi manchi</key>
	<array>
		<string>😞</string>
		<string>😔</string>
	</array>
	<key>non vedo l&apos;ora di rivederti</key>
	<array>
		<string>😍</string>
		<string>💕</string>
		<string>💋</string>
		<string>💙</string>
	</array>
	<key>non vedo l&apos;ora di vederti</key>
	<array>
		<string>😍</string>
		<string>💕</string>
		<string>💋</string>
		<string>💙</string>
	</array>
	<key>non vedo l&apos;ora di essere insieme</key>
	<array>
		<string>😍</string>
		<string>💕</string>
		<string>💋</string>
		<string>💙</string>
	</array>
	<key>perfetto</key>
	<array>
		<string>👌</string>
	</array>
	<key>certo</key>
	<array>
		<string>👌</string>
	</array>
	<key>certamente</key>
	<array>
		<string>👌</string>
	</array>
	<key>sì</key>
	<array>
		<string>👌</string>
	</array>
	<key>congratulazioni</key>
	<array>
		<string>🎊</string>
		<string>🎉</string>
		<string>🎈</string>
		<string>🍾</string>
	</array>
	<key>complimenti</key>
	<array>
		<string>🎊</string>
		<string>🎉</string>
		<string>🎈</string>
		<string>🍾</string>
	</array>
	<key>buonasera</key>
	<array>
		<string>🌇</string>
		<string>🌆</string>
	</array>
	<key>buona serata</key>
	<array>
		<string>🌇</string>
		<string>🌆</string>
	</array>
	<key>buon pomeriggio</key>
	<array>
		<string>🌞</string>
		<string>😃</string>
	</array>
	<key>buongiorno</key>
	<array>
		<string>🌞</string>
		<string>☀️</string>
		<string>😃</string>
	</array>
	<key>buondì</key>
	<array>
		<string>🌞</string>
		<string>☀️</string>
		<string>😃</string>
	</array>
	<key>buonanotte </key>
	<array>
		<string>😴</string>
		<string>😘</string>
		<string>💤</string>
		<string>🌙</string>
	</array>
	<key>buonanotte e sogni d&apos;oro</key>
	<array>
		<string>😴</string>
		<string>😘</string>
		<string>💤</string>
		<string>🌙</string>
	</array>
	<key>dormi bene</key>
	<array>
		<string>😴</string>
		<string>😘</string>
		<string>💤</string>
		<string>🌙</string>
	</array>
	<key>notte</key>
	<array>
		<string>😴</string>
		<string>😘</string>
		<string>💤</string>
		<string>🌙</string>
	</array>
	<key>buon compleanno</key>
	<array>
		<string>🎂</string>
		<string>🎁</string>
		<string>🎊</string>
		<string>🎈</string>
		<string>🎉</string>
	</array>
	<key>tanti auguri di buon compleanno</key>
	<array>
		<string>🎂</string>
		<string>🎈</string>
		<string>🎁</string>
		<string>🎊</string>
		<string>🎉</string>
	</array>
	<key>buon anno</key>
	<array>
		<string>🎆</string>
		<string>🎈</string>
		<string>🎊</string>
	</array>
	<key>felice anno nuovo</key>
	<array>
		<string>🎆</string>
		<string>🎈</string>
		<string>🎊</string>
	</array>
</dict>
</plist>
