<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>en</key>
	<dict>
		<key>verbs</key>
		<array>
			<dict>
				<key>email</key>
				<string>send</string>
				<key>message</key>
				<string>send</string>
				<key>upload</key>
				<string>send</string>
			</dict>
		</array>
		<key>nouns</key>
		<array>
			<dict>
				<key>portrait</key>
				<string>photo</string>
				<key>portraits</key>
				<string>photos</string>
				<key>panorama</key>
				<string>photo</string>
				<key>panoramas</key>
				<string>photos</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
