<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>es</key>
	<dict>
		<key>nouns</key>
		<array>
			<string>foto</string>
			<string>fotos</string>
			<string>imagen</string>
			<string>imágenes</string>
			<string>pic</string>
			<string>pics</string>
		</array>
		<key>verbs</key>
		<array/>
	</dict>
	<key>en</key>
	<dict>
		<key>nouns</key>
		<array>
			<string>photo</string>
			<string>photos</string>
			<string>pic</string>
			<string>pics</string>
			<string>picture</string>
			<string>pictures</string>
			<string>memories</string>
			<string>moments</string>
			<string>video</string>
			<string>videos</string>
			<string>shot</string>
			<string>shots</string>
			<string>snap</string>
			<string>snaps</string>
			<string>pikkies</string>
			<string>portrait</string>
			<string>panorama</string>
		</array>
		<key>verbs</key>
		<array>
			<string>send</string>
			<string>share</string>
			<string>give</string>
			<string>have</string>
			<string>show</string>
			<string>get</string>
			<string>see</string>
			<string>email</string>
			<string>message</string>
			<string>upload</string>
		</array>
	</dict>
	<key>de</key>
	<dict>
		<key>nouns</key>
		<array>
			<string>foto</string>
			<string>fotos</string>
			<string>bild</string>
			<string>bilder</string>
		</array>
		<key>verbs</key>
		<array/>
	</dict>
	<key>it</key>
	<dict>
		<key>nouns</key>
		<array>
			<string>foto</string>
			<string>fotos</string>
		</array>
		<key>verbs</key>
		<array/>
	</dict>
	<key>fr</key>
	<dict>
		<key>nouns</key>
		<array>
			<string>photo</string>
			<string>photos</string>
			<string>tof</string>
			<string>tofs</string>
			<string>video</string>
			<string>videos</string>
			<string>vidéo</string>
			<string>vidéos</string>
			<string>image</string>
			<string>images</string>
			<string>photographier</string>
			<string>photographies</string>
			<string>photographie</string>
		</array>
		<key>verbs</key>
		<array>
			<string>envoyer</string>
			<string>avoir</string>
			<string>partager</string>
			<string>donner</string>
			<string>filer</string>
			<string>passer</string>
			<string>prendre</string>
			<string>transférer</string>
			<string>transferer</string>
			<string>enregistrer</string>
			<string>voir</string>
			<string>montrer</string>
			<string>obtenir</string>
			<string>balancer</string>
			<string>transmettre</string>
		</array>
	</dict>
	<key>pt</key>
	<dict>
		<key>nouns</key>
		<array>
			<string>foto</string>
			<string>fotos</string>
			<string>fotografia</string>
			<string>fotografias</string>
		</array>
		<key>verbs</key>
		<array/>
	</dict>
	<key>ja</key>
	<dict>
		<key>nouns</key>
		<array>
			<string>写真</string>
		</array>
		<key>verbs</key>
		<array/>
	</dict>
	<key>zh-Hans</key>
	<dict>
		<key>nouns</key>
		<array>
			<string>照片</string>
			<string>图片</string>
			<string>相片</string>
		</array>
		<key>verbs</key>
		<array>
			<string>发</string>
			<string>给</string>
			<string>看</string>
			<string>有</string>
		</array>
	</dict>
</dict>
</plist>
