<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>feliz dia dos pais</key>
	<array>
		<string>👨</string>
	</array>
	<key>feliz dia das mães</key>
	<array>
		<string>👩</string>
	</array>
	<key>feliz natal</key>
	<array>
		<string>🎄</string>
		<string>🎁</string>
	</array>
	<key>feliz dia de ação de graças</key>
	<array>
		<string>🦃</string>
		<string>🍽</string>
		<string>🍁</string>
	</array>
	<key>beleza</key>
	<array>
		<string>👍</string>
	</array>
	<key>falou</key>
	<array>
		<string>✌️</string>
	</array>
	<key>não gostei</key>
	<array>
		<string>👎</string>
	</array>
	<key>que ruim</key>
	<array>
		<string>👎</string>
	</array>
	<key>péssimo</key>
	<array>
		<string>👎</string>
	</array>
	<key>legal</key>
	<array>
		<string>👍</string>
	</array>
	<key>ótimo</key>
	<array>
		<string>👍</string>
	</array>
	<key>eu te amo</key>
	<array>
		<string>❤️</string>
		<string>💕</string>
		<string>😘</string>
	</array>
	<key>te amo</key>
	<array>
		<string>❤️</string>
		<string>💕</string>
		<string>😘</string>
	</array>
	<key>boa sorte</key>
	<array>
		<string>🍀</string>
		<string>👍</string>
	</array>
	<key>dia perfeito na praia</key>
	<array>
		<string>🏖</string>
		<string>👙</string>
		<string>⛱</string>
		<string>🌊</string>
		<string>😎</string>
	</array>
	<key>dia ótimo na praia</key>
	<array>
		<string>🏖</string>
		<string>👙</string>
		<string>⛱</string>
		<string>🌊</string>
		<string>😎</string>
	</array>
	<key>pensando em você</key>
	<array>
		<string>💭</string>
		<string>🙂</string>
	</array>
	<key>saudades de você</key>
	<array>
		<string>😞</string>
		<string>😔</string>
	</array>
	<key>tenho saudades</key>
	<array>
		<string>😞</string>
		<string>😔</string>
	</array>
	<key>quero te ver logo</key>
	<array>
		<string>😍</string>
		<string>💕</string>
		<string>💋</string>
		<string>💙</string>
	</array>
	<key>perfeito</key>
	<array>
		<string>👍</string>
	</array>
	<key>boa ideia</key>
	<array>
		<string>👍</string>
	</array>
	<key>parabéns</key>
	<array>
		<string>🎊</string>
		<string>🎉</string>
		<string>🎈</string>
		<string>🍾</string>
	</array>
	<key>boa tarde</key>
	<array>
		<string>🌞</string>
		<string>😃</string>
	</array>
	<key>bom dia</key>
	<array>
		<string>🌞</string>
		<string>☀️</string>
		<string>😃</string>
	</array>
	<key>boa noite</key>
	<array>
		<string>😴</string>
		<string>😘</string>
		<string>💤</string>
		<string>🌙</string>
	</array>
	<key>boa noite tenha bons sonhos</key>
	<array>
		<string>😴</string>
		<string>😘</string>
		<string>💤</string>
		<string>🌙</string>
	</array>
	<key>boa noite durma bem</key>
	<array>
		<string>😴</string>
		<string>😘</string>
		<string>💤</string>
		<string>🌙</string>
	</array>
	<key>feliz aniversário</key>
	<array>
		<string>🎂</string>
		<string>🎁</string>
		<string>🎊</string>
		<string>🎈</string>
		<string>🎉</string>
	</array>
	<key>feliz ano novo</key>
	<array>
		<string>🎆</string>
		<string>🎈</string>
		<string>🎊</string>
	</array>
</dict>
</plist>
