<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>с рождеством</key>
	<array>
		<string>🎄</string>
	</array>
	<key>с днем благодарения</key>
	<array>
		<string>🦃</string>
		<string>🍽</string>
		<string>🍁</string>
	</array>
	<key>знак победы</key>
	<array>
		<string>✌️</string>
	</array>
	<key>неодобрение</key>
	<array>
		<string>👎</string>
	</array>
	<key>всё в порядке</key>
	<array>
		<string>👍</string>
	</array>
	<key>отлично</key>
	<array>
		<string>👍</string>
	</array>
	<key>я тебя люблю</key>
	<array>
		<string>❤️</string>
		<string>💕</string>
		<string>😘</string>
	</array>
	<key>удачи</key>
	<array>
		<string>🍀</string>
		<string>👍</string>
	</array>
	<key>отлично отдыхаем на пляже</key>
	<array>
		<string>🏖</string>
		<string>👙</string>
		<string>⛱</string>
		<string>🌊</string>
		<string>😎</string>
	</array>
	<key>замечательный день на пляже</key>
	<array>
		<string>🏖</string>
		<string>👙</string>
		<string>⛱</string>
		<string>🌊</string>
		<string>😎</string>
	</array>
	<key>думаю о тебе</key>
	<array>
		<string>💭</string>
		<string>🙂</string>
	</array>
	<key>скучаю по тебе</key>
	<array>
		<string>😞</string>
		<string>😔</string>
	</array>
	<key>жду не дождусь встречи с тобой</key>
	<array>
		<string>😍</string>
		<string>💕</string>
		<string>💋</string>
		<string>💙</string>
	</array>
	<key>с нетерпением жду встречи</key>
	<array>
		<string>😍</string>
		<string>💕</string>
		<string>💋</string>
		<string>💙</string>
	</array>
	<key>хорошо</key>
	<array>
		<string>👌</string>
	</array>
	<key>поздравляем</key>
	<array>
		<string>🎊</string>
		<string>🎉</string>
		<string>🎈</string>
		<string>🍾</string>
	</array>
	<key>добрый вечер</key>
	<array>
		<string>🌇</string>
		<string>🌆</string>
	</array>
	<key>добрый день</key>
	<array>
		<string>🌞</string>
		<string>😃</string>
	</array>
	<key>доброе утро</key>
	<array>
		<string>🌞</string>
		<string>☀️</string>
		<string>😃</string>
	</array>
	<key>спокойной ночи</key>
	<array>
		<string>😴</string>
		<string>😘</string>
		<string>🌙</string>
	</array>
	<key>приятных сновидений</key>
	<array>
		<string>😴</string>
		<string>😘</string>
		<string>🌙</string>
	</array>
	<key>спокойной ночи приятного сна</key>
	<array>
		<string>😴</string>
		<string>😘</string>
		<string>🌙</string>
	</array>
	<key>с днем рождения</key>
	<array>
		<string>🎂</string>
		<string>🎁</string>
		<string>🎊</string>
		<string>🎈</string>
		<string>🎉</string>
		<string>🍾</string>
	</array>
	<key>с новым годом</key>
	<array>
		<string>🎆</string>
		<string>🎈</string>
		<string>🎊</string>
		<string>🎉</string>
		<string>🎁</string>
		<string>🎄</string>
		<string>🍾</string>
	</array>
</dict>
</plist>
