<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>babalar günün kutlu olsun</key>
	<array>
		<string>👨</string>
	</array>
	<key>babalar gününüz kutlu olsun</key>
	<array>
		<string>👨</string>
	</array>
	<key>anneler günün kutlu olsun</key>
	<array>
		<string>👩</string>
		<string>💐</string>
	</array>
	<key>anneler gününüz kutlu olsun</key>
	<array>
		<string>👩</string>
		<string>💐</string>
	</array>
	<key>mutlu noeller</key>
	<array>
		<string>🎄</string>
		<string>🎁</string>
	</array>
	<key>görüşürüz</key>
	<array>
		<string>✌️</string>
		<string>👋</string>
	</array>
	<key>çok kötü</key>
	<array>
		<string>👎</string>
	</array>
	<key>çok iyi</key>
	<array>
		<string>👍</string>
	</array>
	<key>güzel</key>
	<array>
		<string>👍</string>
	</array>
	<key>seni seviyorum</key>
	<array>
		<string>❤️</string>
		<string>💕</string>
		<string>😘</string>
	</array>
	<key>iyi şanslar</key>
	<array>
		<string>🍀</string>
		<string>👍</string>
	</array>
	<key>hava çok güzel</key>
	<array>
		<string>🏖</string>
		<string>⛱</string>
		<string>🌊</string>
		<string>😎</string>
	</array>
	<key>hava harika</key>
	<array>
		<string>🏖</string>
		<string>⛱</string>
		<string>🌊</string>
		<string>😎</string>
	</array>
	<key>seni düşünüyorum</key>
	<array>
		<string>💭</string>
		<string>🙂</string>
	</array>
	<key>çok özledim</key>
	<array>
		<string>😞</string>
		<string>😔</string>
	</array>
	<key>seni görmek için sabırsızlanıyorum</key>
	<array>
		<string>😍</string>
		<string>💕</string>
		<string>💋</string>
		<string>💙</string>
	</array>
	<key>tamamdır</key>
	<array>
		<string>👌</string>
		<string>👍</string>
	</array>
	<key>anlaştık</key>
	<array>
		<string>👌</string>
		<string>👍</string>
	</array>
	<key>tebrikler</key>
	<array>
		<string>🎊</string>
		<string>🎉</string>
		<string>🎈</string>
		<string>🍾</string>
	</array>
	<key>iyi akşamlar</key>
	<array>
		<string>🌇</string>
		<string>🌆</string>
	</array>
	<key>iyi günler</key>
	<array>
		<string>🌞</string>
		<string>😃</string>
	</array>
	<key>günaydın</key>
	<array>
		<string>🌞</string>
		<string>☀️</string>
		<string>😃</string>
	</array>
	<key>merhaba</key>
	<array>
		<string>🌞</string>
		<string>☀️</string>
		<string>😃</string>
	</array>
	<key>iyi geceler</key>
	<array>
		<string>😴</string>
		<string>😘</string>
		<string>💤</string>
		<string>🌙</string>
	</array>
	<key>iyi geceler tatlı rüyalar</key>
	<array>
		<string>😴</string>
		<string>😘</string>
		<string>💤</string>
		<string>🌙</string>
	</array>
	<key>iyi uykular</key>
	<array>
		<string>😴</string>
		<string>😘</string>
		<string>💤</string>
		<string>🌙</string>
	</array>
	<key>iyi ki doğdun</key>
	<array>
		<string>🎂</string>
		<string>🎁</string>
		<string>🎊</string>
		<string>🎈</string>
		<string>🎉</string>
	</array>
	<key>doğum günün kutlu olsun</key>
	<array>
		<string>🎂</string>
		<string>🎈</string>
		<string>🎁</string>
		<string>🎊</string>
		<string>🎉</string>
	</array>
	<key>nice yıllara</key>
	<array>
		<string>🎂</string>
		<string>🎈</string>
		<string>🎁</string>
		<string>🎊</string>
		<string>🎉</string>
	</array>
	<key>nice yaşlara</key>
	<array>
		<string>🎂</string>
		<string>🎈</string>
		<string>🎁</string>
		<string>🎊</string>
		<string>🎉</string>
	</array>
	<key>mutlu yıllar</key>
	<array>
		<string>🎂</string>
		<string>🎈</string>
		<string>🎁</string>
		<string>🎊</string>
		<string>🎉</string>
	</array>
	<key>yeni yılın kutlu olsun</key>
	<array>
		<string>🎆</string>
		<string>🎈</string>
		<string>🎊</string>
	</array>
</dict>
</plist>
