<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <dict>
            <key>name</key>
            <string>red</string>
            <key>tile</key>
            <array>
                <integer>185</integer>
                <integer>14</integer>
                <integer>40</integer>
            </array>
            <key>text</key>
            <array>
                <integer>136</integer>
                <integer>41</integer>
                <integer>61</integer>
            </array>
        </dict>
        <dict>
            <key>name</key>
            <string>orange</string>
            <key>tile</key>
            <array>
                <integer>246</integer>
                <integer>79</integer>
                <integer>0</integer>
            </array>
            <key>text</key>
            <array>
                <integer>198</integer>
                <integer>82</integer>
                <integer>20</integer>
            </array>
        </dict>
        <dict>
            <key>name</key>
            <string>yellow</string>
            <key>tile</key>
            <array>
                <integer>230</integer>
                <integer>200</integer>
                <integer>0</integer>
            </array>
            <key>text</key>
            <array>
                <integer>173</integer>
                <integer>121</integer>
                <integer>10</integer>
            </array>
        </dict>
        <dict>
            <key>name</key>
            <string>green</string>
            <key>tile</key>
            <array>
                <integer>68</integer>
                <integer>167</integer>
                <integer>3</integer>
            </array>
            <key>text</key>
            <array>
                <integer>15</integer>
                <integer>122</integer>
                <integer>15</integer>
            </array>
        </dict>
        <dict>
            <key>name</key>
            <string>blue</string>
            <key>tile</key>
            <array>
                <integer>14</integer>
                <integer>97</integer>
                <integer>185</integer>
            </array>
            <key>text</key>
            <array>
                <integer>31</integer>
                <integer>97</integer>
                <integer>159</integer>
            </array>
        </dict>
        <dict>
            <key>name</key>
            <string>purple</string>
            <key>tile</key>
            <array>
                <integer>113</integer>
                <integer>26</integer>
                <integer>118</integer>
            </array>
            <key>text</key>
            <array>
                <integer>108</integer>
                <integer>41</integer>
                <integer>113</integer>
            </array>
        </dict>
        <dict>
            <key>name</key>
            <string>brown</string>
            <key>tile</key>
            <array>
                <integer>136</integer>
                <integer>47</integer>
                <integer>0</integer>
            </array>
            <key>text</key>
            <array>
                <integer>134</integer>
                <integer>69</integer>
                <integer>33</integer>
            </array>
        </dict>
    </array>
</plist>
